.m_blogs_title {
    background: #5b76a1 url('/wp-content/themes/tol-parent/images/posts/common/m-pulse-bg-style-4.png') left center no-repeat;
    background-size: auto;
    color: #ffffff; /* Цвет текста */
    font-weight: bold; /* Bold */
    padding: 7px; /* Поля вокруг текста */
    padding-left: 35px;
    border-top-left-radius: 0; /* Левый верхний уголок */
    border-top-right-radius: 0; /* Правый верхний уголок */
}

.m_blogs_content {
    border: 1px solid #5b76a1; /* Параметры рамки */
    background: #ffffff; /* Цвет фона */
    padding: 7px; /* Поля вокруг текста */
    border-bottom-left-radius: 0; /* Левый нижний уголок */
    border-bottom-right-radius: 0; /* Правый нижний уголок */
}

.m_news_title {
    background: #5b76a1 url('/wp-content/themes/tol-parent/images/posts/common/m-news-bg-style-2.png') left center no-repeat;
    background-size: auto;
    color: #ffffff; /* Цвет текста */
    font-weight: bold; /* Bold */
    padding: 7px; /* Поля вокруг текста */
    padding-left: 35px;
    border-top-left-radius: 0; /* Левый верхний уголок */
    border-top-right-radius: 0; /* Правый верхний уголок */
}

.m_news_content {
    border: 1px solid #5b76a1; /* Параметры рамки */
    background: #ffffff; /* Цвет фона */
    padding: 7px; /* Поля вокруг текста */
    border-bottom-left-radius: 0; /* Левый нижний уголок */
    border-bottom-right-radius: 0; /* Правый нижний уголок */
}

.m_press_title {
    background: #5b76a1 url('/wp-content/themes/tol-parent/images/posts/common/m-press-bg-style-2.png') left center no-repeat;
    background-size: auto;
    color: #ffffff; /* Цвет текста */
    font-weight: bold; /* Bold */
    padding: 7px; /* Поля вокруг текста */
    padding-left: 35px;
    border-top-left-radius: 0; /* Левый верхний уголок */
    border-top-right-radius: 0; /* Правый верхний уголок */
}

.m_press_content {
    border: 1px solid #5b76a1; /* Параметры рамки */
    background: #ffffff; /* Цвет фона */
    padding: 7px; /* Поля вокруг текста */
    border-bottom-left-radius: 0; /* Левый нижний уголок */
    border-bottom-right-radius: 0; /* Правый нижний уголок */
}

.m_tplan_title {
    background: #5b76a1 url('/wp-content/themes/tol-parent/images/posts/common/m-tplan-bg-style-3.png') left center no-repeat;
    background-size: auto;
    color: #ffffff; /* Цвет текста */
    font-weight: bold; /* Bold */
    padding: 7px; /* Поля вокруг текста */
    padding-left: 35px;
    border-top-left-radius: 0; /* Левый верхний уголок */
    border-top-right-radius: 0; /* Правый верхний уголок */
}

.m_tplan_content {
    border: 1px solid #5b76a1; /* Параметры рамки */
    background: #ffffff; /* Цвет фона */
    padding: 7px; /* Поля вокруг текста */
    border-bottom-left-radius: 0; /* Левый нижний уголок */
    border-bottom-right-radius: 0; /* Правый нижний уголок */
}

.m_tplan_title_1 {
    background: #5b76a1 url('/wp-content/themes/tol-parent/images/posts/common/m-pulse-bg-style-6.png') left center no-repeat;
    background-size: auto;
    color: #ffffff; /* Цвет текста */
    font-weight: bold; /* Bold */
    padding: 7px; /* Поля вокруг текста */
    padding-left: 35px;
    border-top-left-radius: 0; /* Левый верхний уголок */
    border-top-right-radius: 0; /* Правый верхний уголок */
}

.m_tplan_content_1 {
    border: 1px solid #5b76a1; /* Параметры рамки */
    background: #ffffff; /* Цвет фона */
    padding: 7px; /* Поля вокруг текста */
    border-bottom-left-radius: 0; /* Левый нижний уголок */
    border-bottom-right-radius: 0; /* Правый нижний уголок */
}

.m_tplan_separator {
    background: url('/wp-content/themes/tol-parent/images/posts/common/m-tplan-bg-separator-2.png') left top repeat-x;
    height: 9px;
    width: 100%
    /*width: 690px;*/
}

.m_tplan_blank_separator {
    height: 18px;
    width: 100%;
}

.m_tplan_small_blank_separator {
    height: 6px;
    width: 100%;
}

.m_tplan_contour {
    /*box-shadow: 0 0 5px 0 #676767;*/
    border: 1px solid #5b76a1;
    padding: 7px;
    border-top-left-radius: 0; /* Левый верхний уголок */
    border-bottom-left-radius: 0; /* Левый нижний уголок */
    border-top-right-radius: 0; /* Правый верхний уголок */
    border-bottom-right-radius: 0; /* Правый нижний уголок */
}

.m_tplan_header_left {
    background: #e3e3e3; /* Цвет фона */
    color: #000000; /* Цвет текста */
    font: 18px Arial;
    font-weight: bold; /* Bold */
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: right;
    padding: 7px; /* Поля вокруг текста */
    /* height: 32px; /* Высота */
    border-top-left-radius: 5px; /* Левый верхний уголок */
    border-bottom-left-radius: 5px; /* Левый нижний уголок */
}

.m_tplan_header_right {
    background: #69b91a; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    font: 18px Arial;
    font-weight: bold; /* Bold */
    padding-top: 10%;
    padding-bottom: 10%;
    padding: 7px; /* Поля вокруг текста */
    /* height: 32px; /* Высота */
    border-top-right-radius: 5px; /* Правый верхний уголок */
    border-bottom-right-radius: 5px; /* Правый нижний уголок */
}

.m_tplan_footer_up {
    background: #e3e3e3; /* Цвет фона */
    color: #000000; /* Цвет текста */
    font: 16px Arial;
    font-weight: bold; /* Bold */
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    padding-left: 7px; /* Поля вокруг текста */
    padding-right: 7px; /* Поля вокруг текста */
    /* height: 32px; /* Высота */
    border-top-left-radius: 5px; /* Левый верхний уголок */
    border-bottom-left-radius: 5px; /* Левый нижний уголок */
    border-top-right-radius: 5px; /* Правый верхний уголок */
    border-bottom-right-radius: 5px; /* Правый нижний уголок */
}

.m_tplan_footer_up2 {
    background: #fff; /* Цвет фона */
    color: #000; /* Цвет текста */
    font: 16px Arial;
    font-weight: bold; /* Bold */
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    padding-left: 1px; /* Поля вокруг текста */
    padding-right: 1px; /* Поля вокруг текста */
    /* height: 32px; /* Высота */
}

.m_tplan_footer_down2 {
    background: #4b6e9b; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    font: 14px Arial;
    font-weight: bold; /* Bold */
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    padding-left: 5px; /* Поля вокруг текста */
    padding-right: 5px; /* Поля вокруг текста */
    /* height: 32px; /* Высота */
    border-top-left-radius: 0; /* Левый верхний уголок */
    border-bottom-left-radius: 0; /* Левый нижний уголок */
    border-top-right-radius: 0; /* Правый верхний уголок */
    border-bottom-right-radius: 0; /* Правый нижний уголок */
}

.m_tplan_footer_down {
    background: #69b91a; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    font: 16px Arial;
    font-weight: bold; /* Bold */
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    padding-left: 7px; /* Поля вокруг текста */
    padding-right: 7px; /* Поля вокруг текста */
    /* height: 32px; /* Высота */
    border-top-left-radius: 5px; /* Левый верхний уголок */
    border-bottom-left-radius: 5px; /* Левый нижний уголок */
    border-top-right-radius: 5px; /* Правый верхний уголок */
    border-bottom-right-radius: 5px; /* Правый нижний уголок */
}

.m_tplan_footer_up:hover {
    color: #898989;
    cursor: pointer;
}

.m_tplan_footer_down:hover {
    color: #336600;
    cursor: pointer;
}

.m_tplan_footer_down2:hover {
    background: #385374;
    cursor: pointer;
}

.m_nav_pan {
    background: #ffffff; /* Цвет фона */
    color: #4b6e9b; /* Цвет текста */
    font: 10px Arial;
    text-align: center;
    text-decoration: underline;
    padding: 7px; /* Поля вокруг текста */
}

.m_nav_pan:hover {
    cursor: pointer;
    color: #6594d1;
    box-shadow: 0 0 5px 0 #676767;
}

.m_nav_pan_crofr {
    background: #ffffff; /* Цвет фона */
    color: #5976a0; /* Цвет текста */
    font: 10px Arial;
    text-align: center;
    text-decoration: underline;
    /* padding: 7px; /* Поля вокруг текста */
}

.m_nav_pan_crofr:hover {
    cursor: pointer;
    color: #2ea6c8;
    box-shadow: 0 0 5px 0 #676767;
}

.m_dropdown_pan {
    background: #fff; /* Цвет фона */
    color: #000; /* Цвет текста */
    font: 12px Arial;
    text-align: justify;
    padding: 7px; /* Поля вокруг текста */
    box-shadow: 0 0 3px 0 #676767;
}

.m_tplan_header_left1 {
    background: #e3e3e3; /* Цвет фона */
    color: #000000; /* Цвет текста */
    font: 18px Arial;
    font-weight: bold; /* Bold */
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: right;
    padding-left: 7px; /* Поля вокруг текста */
    padding-right: 7px; /* Поля вокруг текста */
    /* height: 32px; /* Высота */
    border-top-left-radius: 5px; /* Левый верхний уголок */
    border-bottom-left-radius: 5px; /* Левый нижний уголок */
}

.m_tplan_header_right1 {
    /* background: #ff882b; /* оранжевый */
    /* background: #e9f4f4; /* бирюзовый */
    /* background: #89468f; /* сиреневый */
    /* background: #627485; /* темно-коричнево-зеленый*/
    background: #3d8a8e; /* морская волна */
    /* background: #2ea6c8; /* link */
    /* background: #fe9047; /* оранжевый 2*/
    /* background: #525252; /* темно-серый */
    /* background: #343f47; /* pantone */
    color: #ffffff; /* Цвет текста */
    font: 18px Arial;
    font-weight: bold; /* Bold */
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 7px; /* Поля вокруг текста */
    padding-right: 7px; /* Поля вокруг текста */
    /* height: 32px; /* Высота */
    border-top-right-radius: 5px; /* Правый верхний уголок */
    border-bottom-right-radius: 5px; /* Правый нижний уголок */
}

.m_tplan_footer_up1 {
    background: #e3e3e3; /* Цвет фона */
    color: #000000; /* Цвет текста */
    font: 16px Arial;
    font-weight: bold; /* Bold */
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    padding-left: 7px; /* Поля вокруг текста */
    padding-right: 7px; /* Поля вокруг текста */
    /* height: 32px; /* Высота */
    border-top-left-radius: 5px; /* Левый верхний уголок */
    border-bottom-left-radius: 5px; /* Левый нижний уголок */
    border-top-right-radius: 5px; /* Правый верхний уголок */
    border-bottom-right-radius: 5px; /* Правый нижний уголок */
}

.m_tplan_footer_down1 {
    background: #ff882b; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    font: 16px Arial;
    font-weight: bold; /* Bold */
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 7px; /* Поля вокруг текста */
    padding-right: 7px; /* Поля вокруг текста */
    text-align: center;
    /* height: 32px; /* Высота */
    border-top-left-radius: 5px; /* Левый верхний уголок */
    border-bottom-left-radius: 5px; /* Левый нижний уголок */
    border-top-right-radius: 5px; /* Правый верхний уголок */
    border-bottom-right-radius: 5px; /* Правый нижний уголок */
}

.m_tplan_footer_up1:hover {
    color: #898989;
    cursor: pointer;
}

.m_tplan_footer_down1:hover {
    color: #873b00;
    cursor: pointer;
}

.jp_content_params, .jp_content_params li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.jp_content_params li {
    background: url('/wp-content/themes/tol-parent/images/flags/jp.png') 16px 2px no-repeat;
    padding-left: 34px;
    display: block;
}

.ru_content_params, .ru_content_params li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ru_content_params li {
    background: url('/wp-content/themes/tol-parent/images/flags/ru.png') 16px 2px no-repeat;
    padding-left: 34px;
    display: block;
}

.us_content_params, .us_content_params li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.us_content_params li {
    background: url('/wp-content/themes/tol-parent/images/flags/us.png') 16px 2px no-repeat;
    padding-left: 34px;
    display: block;
}

.ca_content_params, .ca_content_params li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ca_content_params li {
    background: url('/wp-content/themes/tol-parent/images/flags/ca.png') 16px 2px no-repeat;
    padding-left: 34px;
    display: block;
}

.ch_content_params, .ch_content_params li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ch_content_params li {
    background: url('/wp-content/themes/tol-parent/images/flags/ch.png') 16px 2px no-repeat;
    padding-left: 34px;
    display: block;
}

.au_content_params, .au_content_params li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.au_content_params li {
    background: url('/wp-content/themes/tol-parent/images/flags/au.png') 16px 2px no-repeat;
    padding-left: 34px;
    display: block;
}

.uk_content_params, .uk_content_params li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.uk_content_params li {
    background: url('/wp-content/themes/tol-parent/images/flags/uk.png') 16px 2px no-repeat;
    padding-left: 34px;
    display: block;
}

.nz_content_params, .nz_content_params li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nz_content_params li {
    background: url('/wp-content/themes/tol-parent/images/flags/nz.png') 16px 2px no-repeat;
    padding-left: 34px;
    display: block;
}

.eu_content_params, .eu_content_params li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.eu_content_params li {
    background: url('/wp-content/themes/tol-parent/images/flags/eu.png') 16px 2px no-repeat;
    padding-left: 34px;
    display: block;
}

/* Market Pulse Style */
.m_navi_pan {
    background: #fff;
    font: bold 14px Tahoma;
    padding: 6px;
    display: inline-block;
    /* height: 146px; */
    text-align: center;
    color: #536e96;
    text-decoration: underline;
}

.m_navi_pan:hover {
    cursor: pointer;
    font: bold 14px Tahoma;
    box-shadow: 0 0 5px 0 #676767;
    color: #000;
    text-decoration: none;
}

.m_navi_pan_text {
    padding-left: 7px;
    padding-top: 16px;
    padding-right: 0;
    font-size: 14px;
}

.li_pt {
    padding-left: 20px;
    background: url('/wp-content/themes/tol-parent/images/posts/common/li.png') no-repeat;
    font: 13px Arial;
    color: black;
    margin-bottom: 10px;
}

.li_pt span {
    display: inline-block;
    margin-top: -2px;
}

.li_pt span a {
    color: #4b6e9b;
}

/* block 1 */
#m_tab_block1 > div, #m_tab_block1 > input {
    display: none;
}

#m_tab_block1 label {
    padding: 5px;
    padding-bottom: 6px;
    border: 1px solid #d6dcdf;
    cursor: pointer;
    position: relative;
    bottom: -3px;
    background: #F8F9FB;
    margin-right: -1px;
    padding-left: 32px;
    font: bold 14px/34px Tahoma;
    text-decoration: underline;
    color: #536e96;
}

#m_tab_block1 label#tab1_1 {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/t-a.png') left top no-repeat;
}

#m_tab_block1 label#tab1_2 {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/f-a.png') left top no-repeat;
}

#m_tab_block1 label#tab1_1:hover {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/t-a.png') left bottom no-repeat;
    color: #000;
    text-decoration: none;
}

#m_tab_block1 label#tab1_2:hover {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/f-a.png') left bottom no-repeat;
    color: #000;
    text-decoration: none;
}

#m_tab_block1 input[type="radio"]:checked + label#tab1_1 {
    background: #fff url('/wp-content/themes/tol-parent/images/posts/puls-rynka/t-a.png') left bottom no-repeat;
}

#m_tab_block1 input[type="radio"]:checked + label#tab1_2 {
    background: #fff url('/wp-content/themes/tol-parent/images/posts/puls-rynka/f-a.png') left bottom no-repeat;
}

#m_tab_block1 input[type="radio"]:checked + label {
    border-bottom: 1px solid #fff;
    font: bold 14px/34px Tahoma;
    text-decoration: none;
    color: #000;
}

#m_tab_block1 > input:nth-of-type(1):checked ~ div:nth-of-type(1), #m_tab_block1 > input:nth-of-type(2):checked ~ div:nth-of-type(2) {
    display: inline-block;
    padding: 5px;
    border: 1px solid #d6dcdf;
}

/* block 2 */
#m_tab_block2 > div, #m_tab_block2 > input {
    display: none;
}

#m_tab_block2 label {
    padding: 5px;
    padding-bottom: 6px;
    border: 1px solid #d6dcdf;
    cursor: pointer;
    position: relative;
    bottom: -3px;
    background: #F8F9FB;
    margin-right: -1px;
    padding-left: 32px;
    font: bold 14px/34px Tahoma;
    text-decoration: underline;
    color: #536e96;
}

#m_tab_block2 label#tab2_1 {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/t-a.png') left top no-repeat;
}

#m_tab_block2 label#tab2_2 {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/f-a.png') left top no-repeat;
}

#m_tab_block2 label#tab2_1:hover {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/t-a.png') left bottom no-repeat;
    color: #000;
    text-decoration: none;
}

#m_tab_block2 label#tab2_2:hover {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/f-a.png') left bottom no-repeat;
    color: #000;
    text-decoration: none;
}

#m_tab_block2 input[type="radio"]:checked + label#tab2_1 {
    background: #fff url('/wp-content/themes/tol-parent/images/posts/puls-rynka/t-a.png') left bottom no-repeat;
}

#m_tab_block2 input[type="radio"]:checked + label#tab2_2 {
    background: #fff url('/wp-content/themes/tol-parent/images/posts/puls-rynka/f-a.png') left bottom no-repeat;
}

#m_tab_block2 input[type="radio"]:checked + label {
    border-bottom: 1px solid #fff;
    font: bold 14px/34px Tahoma;
    text-decoration: none;
    color: #000;
}

#m_tab_block2 > input:nth-of-type(1):checked ~ div:nth-of-type(1), #m_tab_block2 > input:nth-of-type(2):checked ~ div:nth-of-type(2) {
    display: inline-block;
    padding: 5px;
    border: 1px solid #d6dcdf;
}

/* block 3 */
#m_tab_block3 > div, #m_tab_block3 > input {
    display: none;
}

#m_tab_block3 label {
    padding: 5px;
    padding-bottom: 6px;
    border: 1px solid #d6dcdf;
    cursor: pointer;
    position: relative;
    bottom: -3px;
    background: #F8F9FB;
    margin-right: -1px;
    padding-left: 32px;
    font: bold 14px/34px Tahoma;
    text-decoration: underline;
    color: #536e96;
}

#m_tab_block3 label#tab3_1 {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/t-a.png') left top no-repeat;
}

#m_tab_block3 label#tab3_2 {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/f-a.png') left top no-repeat;
}

#m_tab_block3 label#tab3_1:hover {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/t-a.png') left bottom no-repeat;
    color: #000;
    text-decoration: none;
}

#m_tab_block3 label#tab3_2:hover {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/f-a.png') left bottom no-repeat;
    color: #000;
    text-decoration: none;
}

#m_tab_block3 input[type="radio"]:checked + label#tab3_1 {
    background: #fff url('/wp-content/themes/tol-parent/images/posts/puls-rynka/t-a.png') left bottom no-repeat;
}

#m_tab_block3 input[type="radio"]:checked + label#tab3_2 {
    background: #fff url('/wp-content/themes/tol-parent/images/posts/puls-rynka/f-a.png') left bottom no-repeat;
}

#m_tab_block3 input[type="radio"]:checked + label {
    border-bottom: 1px solid #fff;
    font: bold 14px/34px Tahoma;
    text-decoration: none;
    color: #000;
}

#m_tab_block3 > input:nth-of-type(1):checked ~ div:nth-of-type(1), #m_tab_block3 > input:nth-of-type(2):checked ~ div:nth-of-type(2) {
    display: inline-block;
    padding: 5px;
    border: 1px solid #d6dcdf;
}

/* block 4 */
#m_tab_block4 > div, #m_tab_block4 > input {
    display: none;
}

#m_tab_block4 label {
    padding: 5px;
    padding-bottom: 6px;
    border: 1px solid #d6dcdf;
    cursor: pointer;
    position: relative;
    bottom: -3px;
    background: #F8F9FB;
    margin-right: -1px;
    padding-left: 32px;
    font: bold 14px/34px Tahoma;
    text-decoration: underline;
    color: #536e96;
}

#m_tab_block4 label#tab4_1 {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/t-a.png') left top no-repeat;
}

#m_tab_block4 label#tab4_2 {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/f-a.png') left top no-repeat;
}

#m_tab_block4 label#tab4_1:hover {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/t-a.png') left bottom no-repeat;
    color: #000;
    text-decoration: none;
}

#m_tab_block4 label#tab4_2:hover {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/f-a.png') left bottom no-repeat;
    color: #000;
    text-decoration: none;
}

#m_tab_block4 input[type="radio"]:checked + label#tab4_1 {
    background: #fff url('/wp-content/themes/tol-parent/images/posts/puls-rynka/t-a.png') left bottom no-repeat;
}

#m_tab_block4 input[type="radio"]:checked + label#tab4_2 {
    background: #fff url('/wp-content/themes/tol-parent/images/posts/puls-rynka/f-a.png') left bottom no-repeat;
}

#m_tab_block4 input[type="radio"]:checked + label {
    border-bottom: 1px solid #fff;
    font: bold 14px/34px Tahoma;
    text-decoration: none;
    color: #000;
}

#m_tab_block4 > input:nth-of-type(1):checked ~ div:nth-of-type(1), #m_tab_block4 > input:nth-of-type(2):checked ~ div:nth-of-type(2) {
    display: inline-block;
    padding: 5px;
    border: 1px solid #d6dcdf;
}

/* block 5 */
#m_tab_block5 > div, #m_tab_block5 > input {
    display: none;
}

#m_tab_block5 label {
    padding: 5px;
    padding-bottom: 6px;
    border: 1px solid #d6dcdf;
    cursor: pointer;
    position: relative;
    bottom: -3px;
    background: #F8F9FB;
    margin-right: -1px;
    padding-left: 32px;
    font: bold 14px/34px Tahoma;
    text-decoration: underline;
    color: #536e96;
}

#m_tab_block5 label#tab5_1 {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/t-a.png') left top no-repeat;
}

#m_tab_block5 label#tab5_2 {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/f-a.png') left top no-repeat;
}

#m_tab_block5 label#tab5_1:hover {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/t-a.png') left bottom no-repeat;
    color: #000;
    text-decoration: none;
}

#m_tab_block5 label#tab5_2:hover {
    background: #F8F9FB url('/wp-content/themes/tol-parent/images/posts/puls-rynka/f-a.png') left bottom no-repeat;
    color: #000;
    text-decoration: none;
}

#m_tab_block5 input[type="radio"]:checked + label#tab5_1 {
    background: #fff url('/wp-content/themes/tol-parent/images/posts/puls-rynka/t-a.png') left bottom no-repeat;
}

#m_tab_block5 input[type="radio"]:checked + label#tab5_2 {
    background: #fff url('/wp-content/themes/tol-parent/images/posts/puls-rynka/f-a.png') left bottom no-repeat;
}

#m_tab_block5 input[type="radio"]:checked + label {
    border-bottom: 1px solid #fff;
    font: bold 14px/34px Tahoma;
    text-decoration: none;
    color: #000;
}

#m_tab_block5 > input:nth-of-type(1):checked ~ div:nth-of-type(1), #m_tab_block5 > input:nth-of-type(2):checked ~ div:nth-of-type(2) {
    display: inline-block;
    padding: 5px;
    border: 1px solid #d6dcdf;
}

/* Market Pulse Style */
