/* Bold Condensed Italic */
@font-face {
    font-family: 'myriad_proBdCnIt';
    src: url('fonts/myriadpro-boldcondit-prior-webfont.eot');
    src: url('fonts/myriadpro-boldcondit-prior-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/myriadpro-boldcondit-prior-webfont.woff') format('woff'),
    url('fonts/myriadpro-boldcondit-prior-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Bold Condensed */
@font-face {
    font-family: 'myriad_probold_condensed';
    src: url('fonts/myriadpro-boldcond-prior-webfont.eot');
    src: url('fonts/myriadpro-boldcond-prior-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/myriadpro-boldcond-prior-webfont.woff') format('woff'),
    url('fonts/myriadpro-boldcond-prior-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'myriad_probold_italic';
    src: url('fonts/myriadpro-boldit-prior-webfont.eot');
    src: url('fonts/myriadpro-boldit-prior-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/myriadpro-boldit-prior-webfont.woff') format('woff'),
    url('fonts/myriadpro-boldit-prior-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'myriad_probold';
    src: url('fonts/myriadpro-bold-prior-webfont.eot');
    src: url('fonts/myriadpro-bold-prior-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/myriadpro-bold-prior-webfont.woff') format('woff'),
    url('fonts/myriadpro-bold-prior-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Condensed Italic */
@font-face {
    font-family: 'myriad_procondensed_italic';
    src: url('fonts/myriadpro-condit-prior-webfont.eot');
    src: url('fonts/myriadpro-condit-prior-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/myriadpro-condit-prior-webfont.woff') format('woff'),
    url('fonts/myriadpro-condit-prior-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Condensed */
@font-face {
    font-family: 'myriad_procondensed';
    src: url('fonts/myriadpro-cond-prior-webfont.eot');
    src: url('fonts/myriadpro-cond-prior-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/myriadpro-cond-prior-webfont.woff') format('woff'),
    url('fonts/myriadpro-cond-prior-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'myriad_proitalic';
    src: url('fonts/myriadpro-it-prior-webfont.eot');
    src: url('fonts/myriadpro-it-prior-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/myriadpro-it-prior-webfont.woff') format('woff'),
    url('fonts/myriadpro-it-prior-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: 'myriad_proregular';
    src: url('fonts/myriadpro-regular-prior-webfont.eot');
    src: url('fonts/myriadpro-regular-prior-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/myriadpro-regular-prior-webfont.woff') format('woff'),
    url('fonts/myriadpro-regular-prior-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Semibold Italic */
@font-face {
    font-family: 'myriad_prosemibold_italic';
    src: url('fonts/myriadpro-semiboldit-prior-webfont.eot');
    src: url('fonts/myriadpro-semiboldit-prior-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/myriadpro-semiboldit-prior-webfont.woff') format('woff'),
    url('fonts/myriadpro-semiboldit-prior-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Semibold */
@font-face {
    font-family: 'myriad_prosemibold';
    src: url('fonts/myriadpro-semibold-prior-webfont.eot');
    src: url('fonts/myriadpro-semibold-prior-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/myriadpro-semibold-prior-webfont.woff') format('woff'),
    url('fonts/myriadpro-semibold-prior-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Tahoma */
@font-face {
    font-family: 'Tahoma';
    src: local('Tahoma');
    src: url('fonts/tahoma.eot?') format('embedded-opentype'),
    url('fonts/tahoma.woff') format('woff'),
    url('fonts/tahoma.ttf') format('truetype'),
    url('fonts/tahoma.svg#TahomaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tahoma';
    src: local('Tahoma');
    src: url('fonts/tahomabd.eot?') format('embedded-opentype'),
    url('fonts/tahomabd.woff') format('woff'),
    url('fonts/tahomabd.ttf') format('truetype'),
    url('fonts/tahomabd.svg#TahomaBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
