.header_table {
    width: 100%;
}

.header_table > div {
    vertical-align: middle;
    font: 13px 'PT Sans';
    color: #000;
}

.header_table > div, .header_table .header_toplink {
    text-decoration: none;
    font: 15px 'PT Sans';
    color: #000;
}

.header_tooltip {
    display: inline-block;
    position: relative;

}

.header_icon_chat {
    background: url('./images/home/chat_icon.png') left center no-repeat;
    display: inline-block;
    padding-left: 26px;
    line-height: 20px;
    height: 20px;
}

.header_icon_phone {
    background: url('./images/home/phone_icon.png') left center no-repeat;
    padding-left: 20px;
}

.header_icon_info {
    background: url('./images/home/info_icon.png') left center no-repeat;
    padding-left: 20px;
}

.header_toplink.header_icon_phone {
    font-weight: bold;
}

/*.header_icon_chat:hover {
	background: url('./images/header/chat_green.png') left center no-repeat;
}
.header_icon_phone:hover {
	background: url('./images/header/phone_green.png') left center no-repeat;
}
.header_icon_info:hover {
	background: url('./images/header/info_green.png') left center no-repeat;
}*/
.header_tooltip_content {
    background: url('./images/header/tooltip.png') left top no-repeat;
    position: absolute;
    overflow: hidden;
    text-align: left;
    padding: 6px;
    display: none;
    width: 181px;
    height: 90px;
    left: 27px;
    top: 15px;
}

.header_tooltip_content, .header_tooltip_content div {
    font-family: 'PT Sans';
}

.header_tooltip_content2 {
    background: url('./images/header/tooltip2.png') left top no-repeat;
    width: 203px;
    height: 90px;
}

.header_tooltip:hover .header_tooltip_content {
    display: inline-block;
}

.header_tooltip_info, .header_tooltip_info li {
    list-style: none;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.header_tooltip_info {
    padding: 6px;
    padding-left: 15px;
    padding-top: 15px;
}

.header_tooltip_info li {
    background: url('./images/header/info_green.png') 1px 5px no-repeat;
    padding-left: 22px;
    font: 13px 'PT Sans';
    line-height: 22px;
    height: 22px;
}

.header_tooltip_info a {
    text-decoration: none;
    color: #000;
}

.header_tooltip_info a:hover {
    border-bottom: 1px solid #000;
}

.header_tooltip_phone {
    background: url('./images/header/phone_green.png') 0px center no-repeat;
    padding-left: 20px;
    font: 13px 'PT Sans';
    line-height: 20px;
    height: 20px;
}

.header_toplink {
    text-decoration: none;
    margin-left: 48px;
    cursor: pointer;
    color: #000;
}

.header_toplink:hover {
    color: #4B6E9B;
}

.header_date {
    font-size: 15px !important;
}

.header_time {
    font-size: 15px !important;
    font-weight: bold !important;
    color: #404040 !important;
}

.header_chat img {
    vertical-align: middle;
    padding-right: 6px;
}

.header_lang {
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    font: 14px 'PT Sans';
    line-height: 22px;
    padding-bottom: 5px;
    width: 110px;
}

.header_lang img {
    vertical-align: middle;
    padding-bottom: 3px;
}

.header_clock {
    display: inline-block;
    margin-left: 37px;
    font: 13px 'PT Sans';
    color: #333;
}

.header_clock img {
    vertical-align: middle;
    padding-right: 4px;
}

.header_time {
    font: 17px 'PT Sans';
    color: #999;
}

.header_personal {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    padding-top: 0;
    text-align: right;
    width: 290px;
    position: relative;
    top: -4px;
}

.header_personal img {
    padding: 0px 6px 0px 0px;
    margin-left: -3px;
    float: left;
}

.header_info {
    position: relative !important;
    display: inline-block;
    vertical-align: top;
    padding-left: 16px;
    font: 12px 'PT Sans';
    text-align: left;
    color: #999;
}

.header_info_value {
    color: #000;
}

.header_button {
    text-decoration: none !important;
    display: inline-block;
    vertical-align: top;
    padding: 0px 20px;
    font: 16px 'PT Sans';
    line-height: 34px;
    margin-left: 2px;
    height: 34px;
    color: #fff !important;
}

.header_button:hover {
    background: #458E00;
    color: #fff;
}

.header_cash {
    background: #69bb1b;
}

.header_logout {
    background: #4b6e9b;
}

.header_logout:hover {
    background: #385374;
}

#lang_sel {
    height: auto !important;
}

#lang_sel a {
    padding-left: 0px;
}

#lang_sel li {
    float: none !important;
    white-space: nowrap;
    position: relative;
    width: auto;
}

#lang_sel li li {
    width: 100% !important;
}

#lang_sel ul ul {
    width: auto !important;
    bottom: 0px !important;
    left: -11px !important;
    top: auto !important;
}

#lang_sel ul ul img {
    margin-right: 4px;
}

#lang_sel ul a {
    font: 15px 'PT Sans' !important;
}

#lang_sel img.iclflag {
    padding: 0px !important;
    border: 0;
    top: -1px !important;
}

.lang_sel_sel {
    border: 0px !important;
}

.login-popup-bg {
    position: fixed !important;
}

#lang_sel a.lang_sel_sel {
    background: #fff right no-repeat !important;
    color: #404040 !important;
}

/* Menu */
.header_menu {
    border-bottom: 0;
    background: #fff;
}

.header_menu_body {
    position: relative;
    margin: 0px auto;
    width: 980px;
    z-index: 998;
}

.header_menu_list, .header_menu_list li, .header_menu_list ul {
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul.header_menu_list {
    font-size: 0px;
    float: left;
}

ul.header_menu_list li {
    font: 13px 'PT Sans';
}

.header_menu_list {
    text-align: left;
    font: 13px 'PT Sans';
    /*width: 100%;*/
}

.header_menu_list > li > a {
    text-decoration: none;
    font: 17px 'PT Sans';
    line-height: 34px;
    padding: 0 14px;
    display: block;
    height: 40px;
    color: #406592;
}

.header_menu_list > li:hover > a {
    color: #fff;
    /*	text-decoration: underline;*/
    /*	background-color: rgba(75, 110, 155, 0.97); /* Кнопка Войти */
    /*	background-color: rgba(61, 91, 127, 0.96); /* Выше/Ниже */
    /*	background-color: rgba(0, 0, 0, 0.85); /* Черный */
    /*	background-color: rgba(79, 112, 145, 0.96); /* Как на правых блоках главной - 1 */
    /*	background-color: rgba(62, 88, 117, 0.96); /* Как на правых блоках главной - 2 */
    background-color: rgba(46, 67, 93, 0.96); /* Новый футер (блок копирайта) */
    /*	background-color: rgba(80, 114, 159, 0.96); /* Фон дизайнерского макета */
    /*	background-color: rgba(93, 126, 169, 0.96); /* Фон плашек Трейдерума */
    box-shadow: 0 0 5px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

.header_menu_list > li > a:hover {
    color: #fff;
    /*	text-decoration: underline;*/
}

.header_submenu_connector {
    /*	background: url('./images/header/menu_connector.png') center top;*/
    /*	background-color: rgba(75, 110, 155, 0.97); /* Кнопка Войти */
    /*	background-color: rgba(61, 91, 127, 0.96); /* Выше/Ниже */
    /*	background-color: rgba(0, 0, 0, 0.85); /* Черный */
    /*	background-color: rgba(79, 112, 145, 0.96); /* Как на правых блоках главной -1 */
    /*	background-color: rgba(62, 88, 117, 0.96); /* Как на правых блоках главной - 2 */
    background-color: rgba(46, 67, 93, 0.96); /* Новый футер (блок копирайта) */
    /*	background-color: rgba(80, 114, 159, 0.96); /* Фон дизайнерского макета */
    /*	background-color: rgba(93, 126, 169, 0.96); /* Фон плашек Трейдерума */
    position: relative;
    margin: -3px 0;
    display: none;
    height: 6px;
    z-index: 999;
}

.header_submenu {
    /*	background: url('./images/header/menu_bg.png');*/
    /*	background-color: rgba(75, 110, 155, 0.97); /* Кнопка Войти */
    /*	background-color: rgba(61, 91, 127, 0.96); /* Выше/Ниже */
    /*	background-color: rgba(0, 0, 0, 0.85); /* Черный */
    /*	background-color: rgba(79, 112, 145, 0.96); /* Как на правых блоках главной - 1 */
    /*	background-color: rgba(62, 88, 117, 0.96); /* Как на правых блоках главной - 2 */
    background-color: rgba(46, 67, 93, 0.96); /* Новый футер (блок копирайта) */
    /*	background-color: rgba(80, 114, 159, 0.96); /* Фон дизайнерского макета */
    /*	background-color: rgba(93, 126, 169, 0.96); /* Фон плашек Трейдерума */
    position: absolute;
    text-align: left;
    overflow: hidden;
    padding: 30px 0;
    display: none;
    width: 980px;
    z-index: 888;
    top: 40px;
    left: 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

.header_submenu a {
    text-decoration: none;
    color: #fff;
}

.header_submenu a:hover {
    /*	color: #4b6e9b;*/
    text-decoration: underline;
}

.header_menu_list li:hover .header_submenu_connector, .header_menu_list li:hover .header_submenu {
    /*	display: block;*/
}

.header_menu_table_ceil {
    display: inline-block;
    float: left;
}

.header_menu_table_ceil_content {
    display: inline-block;
    padding-left: 30px;
}

.header_submenu_title {
    font: 17px 'PT Sans';
}

.header_submenu_decimal {
    /*color: #fff;
    color: #d0e0f0;*/
    color: #c2c6cf;
    /*list-style-type: decimal;
    list-style-type: square;*/
    list-style-type: disc;
    margin-left: 20px;
    display: block;
}

.header_submenu_decimal li {
    /*list-style-type: decimal;
    list-style-type: square;*/
    list-style-type: disc;
    display: list-item;
    text-align: left;
}

.header_submenu_in_cash, .header_submenu_out_cash {
    background: url('./images/header/submenu_in_cash.png') 2px center no-repeat;
    display: inline-block;
    padding-left: 40px;
    line-height: 38px;
}

.header_submenu_out_cash {
    background: url('./images/header/submenu_out_cash.png') 2px center no-repeat;
}

.header_submenu_decimal a {
    display: inline-block;
    line-height: 18px;
}

.header_cols_list_separator {
    height: 1px;
    background: #5d7590;
    /*	background: #93aac9;*/
    display: block;
    width: 100%;
    margin: 3px 0;
}

.header_submenu_div, .header_submenu_div_child {
    width: auto;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.header_submenu_div {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 1px;
    padding-right: 1px;
}

/*.header_submenu_div:hover {
	background: #d0e0f0;
}*/
.header_submenu_div_child {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

/*.header_submenu_div_child:hover {
	background: #d0e0f0;
}*/
.header_submenu_div_child a {
    /*color: #d0e0f0;
    color: #dddddd;*/
    color: #c2c6cf;
    font: 15px 'PT Sans';
    text-decoration: none;
}

.header_submenu_div_child a:hover {
    /*color: #d0e0f0;
    color: #dddddd;*/
    color: #c2c6cf;
    text-decoration: underline;
}

.header_submenu_div_out_cash, .header_submenu_div_in_cash {
    background: url('./images/header/submenu_cashout.png') left center no-repeat;
    background-size: auto;
    padding: 1px;
    padding-left: 34px;
}

.header_submenu_div_in_cash {
    background: url('./images/header/submenu_cashin.png') left center no-repeat;
}

.header_submenu_div_out_cash:hover, .header_submenu_div_in_cash:hover {
    cursor: pointer;
}

.header_submenu_div_log, .header_submenu_div_reg {
    background: url('./images/header/submenu_log.png') left center no-repeat;
    background-size: auto;
    padding: 1px;
    padding-left: 60px;
}

.header_submenu_div_reg {
    background: url('./images/header/submenu_reg.png') left center no-repeat;
}

.header_submenu_div_log:hover, .header_submenu_div_reg:hover {
    cursor: pointer;
}

.header_submenu_div_separator {
    padding-top: 24px;
}

.header_submenu_div_small_separator {
    padding-top: 12px;
}

.header_submenu_button_bg {
    background: #4b6e9b;
}

.header_submenu_button_bg:hover {
    background: #385374;
    /*	background: #34537b;
        background: #244570;*/
}

.header_submenu_button_login_bg {
    background: #69bb1b;
}

.header_submenu_button_login_bg:hover {
    /*	background: #52a106;*/
    background: #458e00;
}

.header_submenu_button, .header_submenu_button_login {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 0px 20px;
    font: 16px 'PT Sans';
    line-height: 34px;
    margin-left: 2px;
    height: 34px;
    color: #fff;
}

.header_submenu_button:hover {
    /*	color: #446480;*/
}

.header_submenu_button_login:hover {
    /*	color: #d0e0f0;*/
}

.first-name, .currency-symbol, .balance-amount {
    font-size: 14px !important;
}

body {
    min-width: 1340px !important;
}

#auth_info {
    height: auto !important;
}

a.header_logout {
    background: none !important;
    color: #406692 !important;
    font: 17px/32px 'PT Sans' !important;
    border: 1px solid #406692 !important;
    border-radius: 4px !important;
    /*height:32px !important;*/
}

a.header_logout:hover {
    background: #406692 !important;
    color: white !important;
}

a.header_cash {
    border-radius: 4px !important;
    font: 17px/32px 'PT Sans' !important;
    margin-right: 10px !important;
}

.site-header {
    height: 111px !important;
    padding-top: 32px !important;
    position: fixed !important;
    background-color: white !important;
    min-width: 100% !important;
    top: 0 !important;
}

#page_header {
    background-color: white !important;
    min-width: 1340px !important;
}

#header {
    top: 176px;
    position: relative;
}

#main_content {
    margin-top: 176px;
}

#header {
    height: 530px !important;
}

#flag_img {
    z-index: 99;
    width: 338px;
    height: 564px;
    position: absolute;
    top: -35px;
    left: 330px;
    background: url('./images/home/flag.png') top left no-repeat;
}

#h_slogan {
    float: left;
    color: white;
}

#h_slogan .h_title {
    font: 59px/64px pf_din_text_comp_prothin;
    margin-top: 86px;
}

#h_slogan .h_strong {
    font: bold 17px 'PT Sans';
    margin-top: 50px;
}

#h_slogan .li_1 {
    font: 17px/17px 'PT Sans';
    background: url('./images/home/h_icon_1.png') left center no-repeat;
    padding-left: 34px;
    margin-top: 30px;
}

#h_slogan .li_2 {
    font: 17px 'PT Sans';
    background: url('./images/home/h_icon_2.png') left center no-repeat;
    padding-left: 34px;
    margin-top: 30px;
}

#h_slogan .li_3 {
    font: 17px 'PT Sans';
    background: url('./images/home/bitcoin-w.png') left center no-repeat;
    padding-left: 34px;
    margin-top: 30px;
}















