/*=====================Prior==============================*/
#main hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin: 20px 0;
    margin-bottom: 1.714285714rem;
}

.traderoom-settings a, p, span {
    font-size: 13px;
}

.entry-content .thblue {
    background: #5d728b !important;
    padding: 3px 10px;
    border-top: none;
    border-bottom: 2px solid #fff;
    font-size: 13px !important;
    line-height: 2.181818182;
    text-transform: uppercase;
}

.entry-content .thlblue {
    background: #73879f !important;
    padding: 3px 10px;
    border-top: none;
    border-bottom: 2px solid #fff;
    border-right: 1px solid #fff;
    font-weight: 500;
    text-transform: none;
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}

.entry-content .thgrey {
    color: #222;
    background: #f3f3f3 !important;
    padding: 0px 10px;
    border-bottom: 2px solid #fff;
    border-top: none;
}

.entry-content .thgreen {
    line-height: 15px;
    border-left: #eff8ee 1px solid;
    background: #f7fcf6 !important;
    padding: 12px 10px 5px;
    border-top: none;
    border-bottom: 2px solid #fff;
    font-size: 12px;
    color: #444;
    vertical-align: top;
}

.entry-content .thgreen ul {
    margin: 0;
}

.entry-content .thgreen li {
    margin-left: 20px;
    font-size: 11px;
    line-height: 14px;
}

.entry-content .thgreen strong {
    color: #000;
    font-weight: 500;
}

.entry-content .thwhite {
    line-height: 16px;
    background: #fff !important;
    padding: 10px 10px 15px;
    border-top: none;
    border-bottom: 1px solid #fff;
    vertical-align: top;
}

.entry-content .thbwhite {
    line-height: 16px;
    background: #fff !important;
    padding: 10px 10px 15px;
    border-top: none;
    border-bottom: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    vertical-align: top;
    font-size: 12px !important;
}

.entry-content .thbbwhite {
    line-height: 16px;
    background: #fff !important;
    padding: 10px 10px 15px;
    border-top: none;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    vertical-align: top;
    font-size: 12px !important;
    color: #444;
}

.entry-content .thbbwhite ul {
    margin: 8px 0 !important;
}

.entry-content .thbbwhite p {
    margin: 0px !important;
}

.entry-content .thbwhite ul {
    margin: 0px !important;
    list-style-type: none !important;
}

.entry-content .thbwhite li {
    margin-left: 0px;
    margin-bottom: 10px;
}

.entry-content, .entry-content p {
    /*width: 680px;*/
    line-height: 16px !important;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: #333 !important;
    margin: 10px 0px !important;
    font-size: 13px !important;
    display: block;
}

.entry-content ul {
    list-style-type: square;
    margin: 15px 0;
}

.entry-content ol {
    list-style-type: lower-alpha;
}

.entry-content .olnum {
    list-style-type: decimal;
}

.entry-content li {
    margin-left: 30px;
    margin-bottom: 5px;
    line-height: 15px;
    color: #444;
}

.entry-content li span {
    color: #444;
}

.entry-content p .entry-content span, .entry-content p span, table td p {
    color: #444;
    line-height: 15px;
}

.entry-content b, .entry-content strong {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: #222;
}

.op-content h1, #content article H1.entry-title, .site-content h1 {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    text-align: left;
    font-size: 1.9em;
    font-weight: bold;
    color: #222;
    width: 680px;
}

.op-content h2, .site-content h2 {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    text-align: left;
    font-size: 1.4em;
    font-weight: bold;
    color: #222;
}

.op-content a[href], .site-content a[href] {
    font-family: Arial;
    font-size: 1em;
    text-align: justify;
    font-weight: normal;
    text-decoration: underline;
    color: #5b7e9b;
}

.op-content a:hover, .site-content a:hover {
    color: #31A6C4;
}

.border_right {
    border-right: 1px solid #fff;
    padding: 5px 6px;
}

.border_right_grey {
    border-right: 1px solid #ddd;
    border-top: 1px solid #fff;
    background-color: #f3f3f3;
    padding: 5px 6px;
}

.border_right_white {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 5px 6px;
}

.no_border_right_white {
    border-top: 1px solid #ddd;
    padding: 5px 6px;
}

.border_left {
    border-left: 1px solid #fff;
    padding: 5px 6px;
}

/* #vip_table */

.entry-content {
    position: relative !important;
}

table#vip_table {
/ / background: #89eaf0;
    position: relative !important;
}

#vip_table thead td.level_td .level_link a:hover {
    -webkit-filter: brightness(115%);
    filter: brightness(115%);
}

#vip_table thead.fixed-head {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -225px;
    z-index: 999;
}

#vip_table thead td.level_td .level_link a {
    width: 100% !important;

}

#vip_table thead td.level_td:nth-child(2).fixed-menu {
    width: 136px !important;
}

#vip_table thead td.level_td:nth-child(3).fixed-menu {
    width: 136px !important;
}

#vip_table thead td.level_td:nth-child(4).fixed-menu {
    width: 144px !important;
}

#vip_table thead td.level_td:nth-child(5).fixed-menu {
    width: 145px !important;
}

#vip_table thead td.level_td:nth-child(6).fixed-menu {
    width: 144px !important;
}

#vip_table thead td.border-none {
    border-bottom: none;
}

#vip_table tr td:nth-child(4) {
    background-color: #fff;
}

#vip_table tr td {
    position: relative;
    -webkit-transition: ease-out .2s;
    -moz-transition: ease-out .2s;
    -ms-transition: ease-out .2s;
    -o-transition: ease-out .2s;
    transition: ease-out .2s;
}

#vip_table tr td.shadow-line {
/ / box-shadow: - 2 px 0 px 30 px 5 px rgba(0, 0, 0, .1);
    z-index: 9;
    -webkit-box-shadow: 1px 10px 20px 0px rgba(0, 0, 0, .2);
    -moz-box-shadow: 1px 10px 20px 0px rgba(0, 0, 0, .2);
    box-shadow: 1px 10px 20px 0px rgba(0, 0, 0, .2);
}

#vip_table #level1,
#vip_table #level2,
#vip_table #level3,
#vip_table #level4,
#vip_table #level5 {
    background-color: transparent;
}

#vip_table tbody td {
    padding-right: 32px !important;
}

#vip_table thead td.level_td .level_link a {
    background-repeat: repeat-x !important;
}

#level4 {
    background-repeat: repeat-x !important;
}
