/* Font PT Sans */
.op-content h1, #content article H1.entry-title, .site-content h1 {
    font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

.entry-content b, .entry-content strong {
    font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

.entry-content, .entry-content p, .entry-content span {
    font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

.op-content a[href], .site-content a[href] {
    font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

#mega_button a {
    font: bold 21px/51px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

/* Left Menu */
#left_menu .level1 a {
    font: 13px/29px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

#left_menu .level2 a {
    font: 12px/29px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

/* otvety-na-voprosy */
#box_link div a {
    font: 13px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

.q_box .q_title strong {
    font: bold 15px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

.q_box .q_content {
    font: 13px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

/* pressa-o-nas */
.company_text {
    font: italic 13px/17px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

/* nashi-statji */
.news_text {
    font: italic 13px/17px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

/* chto-takoe-binarnye-opciony */
.measy_notice_first {
    font: 13px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

.measy, .measy div {
    font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

.measy h2 {
    font: 20px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

.measy_step_title {
    font: 21px/37px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

.measy_step_value {
    font: 18px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

.measy_notice,
.measy_step_content,
.measy_little_content {
    font: 13px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

/* torgovlya-binarnymi-opcionami */
#ico_table2 .subtitle div {
    font: 18px/32px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

#ico_table .table_text {
    font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
    font-size: 13px !important;
}

#ico_table .table_title div {
    font: 18px/32px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

/* category/ezhednevnye-obzory */
.m_blogs_title {
    font-size: 14px !important;
}

.page_navistyle {
    font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
    font-size: 13px !important;
}

/* kalendar-otchetnosti-i-sobytia */
.about_content_params li {
    font: 13px/14px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

/* category/torgoviye-idei */
.m_navi_pan {
    font: bold 14px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

/* preimushestva */
.mbenefits_content_title {
    font: 24px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

.mbenefits_content_params li {
    font: 13px/13px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

/* regulirovanie */
#post-12898 .page_title {
    font: bold 19px/19px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

div.subli span {
    font: 13px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

/* sohrannost-klientskih-sredstv */
#post-25534 .page_title {
    font: bold 18px/19px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

/* nagrady */
#post-25531 .li_page {
    font: 13px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

/* category/press-relizy */
.m_press_title {
    font-size: 14px !important;
}

/* kak-zarabotat-na-etoy-nedele */
.m_nav_pan {
    font: 13px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

.m_tplan_title {
    font-size: 14px !important;
}

.m_tplan_footer_up2 {
    font: 16px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

/* svyazatsya-s-nami */
#contact_block .contact1 a {
    font: 20px/81px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

#contact_block .contact2 a {
    font: 18px/81px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

#contact_block .contact2 {
    margin-left: 117px;
}

#post-913 .page_title {
    font: bold 18px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

#post-913 .page_content {
    font: 13px/19px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

#contact_form input[type="button"] {
    font: 16px/38px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

#post-913 .subtitle {
    font: 16px/32px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

#post-913 .mini_phone {
    font: 16px/28px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

#post-913 .contact_text {
    font: 15px/19px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

#post-913 .tit {
    font: bold 13px/19px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

/* Traderoom MegaPodval */
.tradesNav div.TradesBtn {
    font: 13px/34px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

span[data-translate="news-wrap-title"] {
    font-size: 14px !important;
}

.m_tplan_title {
    font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

.op-content h2, .site-content h2 {
    font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

/* kniga */
#post-4144 .p_title {
    width: auto !important;
    color: black !important;
    text-align: left !important;
    padding: 0 !important;
    font: bold 16px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

#post-4144 .summary_text span {
    font: 13px/17px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

#post-4144 .feed_box .feed_text .author {
    font: bold 18px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

#post-4144 .feed_box .feed_text .prof {
    font: bold 14px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

#post-4144 .feed_box .feed_text .author_txt {
    font: italic 13px/17px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}

#post-4144 .t_title {
    font: bold 23px 'PT Sans', Arial, Verdana, Helvetica, sans-serif !important;
}








