/*/*
Theme Name: XPTheme
Description: A Tradologic Theme for V6 sites
Author: Tradologic
Author URI: www.tradologic.com
Version:        2.0.0

ATTENTION:	When developing for WLs, DO NOT CHANGE FILES IN THIS PARENT THEME.
			Make changes in the child theme instead.
*/

/*--------- RESET -----------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

td {
    font-size: 100%;
}

table[data-widget="myTradesTable"] td {
    font-size: medium;
    padding-top: 7px;
    padding-left: 5px
}

body {
    line-height: 1;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    background: #fff;
    height: 100%;
    margin: 0 auto;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

html {
    /*overflow-y: scroll;*/
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    color: #0077cc;
    /*	transition: color 0.3s;
        -moz-transition: color 0.3s;
        -webkit-transition: color 0.3s;
        -o-transition: color 0.3s;*/
}

a:hover {
    color: #446480;
}

a:active,
a:focus {
    outline: none;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
}

del {
    color: #333;
}

ins {
    background: #fff9c0;
    text-decoration: none;
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin: 24px;
    margin-bottom: 1.714285714rem;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

small {
    font-size: smaller;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clearboth {
    clear: both;
}

.clear:after,
.wrapper:after,
.format-status .entry-header:after {
    clear: both;
}

.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
    display: table;
    content: "";
}

@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto_medium/Roboto-Medium-webfont.eot');
    src: url('fonts/roboto_medium/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto_medium/Roboto-Medium-webfont.woff') format('woff'),
    url('fonts/roboto_medium/Roboto-Medium-webfont.ttf') format('truetype'),
    url('fonts/roboto_medium/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto_light/Roboto-Light-webfont.eot');
    src: url('fonts/roboto_light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto_light/Roboto-Light-webfont.woff') format('woff'),
    url('fonts/roboto_light/Roboto-Light-webfont.ttf') format('truetype'),
    url('fonts/roboto_light/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    src: url('fonts/roboto_regular/Roboto-Regular-webfont.eot');
    src: url('fonts/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
    url('fonts/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
    url('fonts/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dosis-semibold';
    src: url('fonts/dosis/Dosis-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MYRIADPROREGULAR.eot');
    src: local('Myriad Pro'), url('fonts/MYRIADPROREGULAR.woff') format('woff'), url('fonts/MYRIADPROREGULAR.ttf') format('truetype');
}

@font-face {
    font-family: "untitled-font-3";
    src: url("fonts/untitled-font-3.eot");
    src: url("fonts/untitled-font-3.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-3.ttf") format("truetype"),
    url("fonts/untitled-font-3.svg#untitled-font-3") format("svg"),
    url("fonts/untitled-font-3.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "untitled-font-3" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-3" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon01:before {
    content: "a";
}

.icon-icon02:before {
    content: "b";
}

.icon-icon03:before {
    content: "c";
}

.icon-icon04:before {
    content: "d";
}

.icon-icon05:before {
    content: "e";
}

.icon-icon06:before {
    content: "f";
}

.icon-icon07:before {
    content: "g";
}

.icon-icon08:before {
    content: "h";
}

.icon-icon09:before {
    content: "i";
}

.icon-icon10:before {
    content: "j";
}

.icon-icon11:before {
    content: "k";
}

.icon-icon12:before {
    content: "l";
}

.icon-icon13:before {
    content: "m";
}

.icon-icon14:before {
    content: "n";
}

.icon-icon15:before {
    content: "o";
}

.icon-icon16:before {
    content: "p";
}

.icon {
    font-size: 62px;
    color: #4fa9e0;
}

.site-content {
    width: 980px;
    margin: 0 auto;
}

.site-content.front-page {
    width: 100%;
    margin: auto;
}

/*---------END RESET -----------------*/

.cashier {
    width: 980px;
    margin: 0 auto;
}

.flexslider {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.flex-control-nav {
    bottom: 12px !important;
    z-index: 10;
}

.flex-control-paging li a.flex-active {
    width: 7px !important;
    height: 7px !important;
    border: 2px solid white !important;
    background: none !important;
}

.flex-control-paging li a {
    width: 7px !important;
    height: 7px !important;
    border: 2px solid white !important;
    background: #fff !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.flex-direction-nav a {
    height: 84px !important;
    background: none !important;
    margin: -20px 0 0 -28px !important;

}

.flex-direction-nav a.flex-prev {
    background: url('./images/leftarrow.png') no-repeat !important;
}

.flex-direction-nav a.flex-next {
    background: url('./images/rightarrow.png') no-repeat !important;
    margin-right: -36px !important;
}

/*--------------------------Repeatable patterns------------------------------ */

/* Small headers */
.archive-title,
.page-title,
.widget-title,
.entry-content th,
.comment-content th {
    font-size: 11px;
    font-size: 0.785714286rem;
    line-height: 2.181818182;
    font-weight: bold;
    text-transform: uppercase;
    color: #636363;
}

/* Form fields, general styles first */
button,
input,
textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: inherit;
    padding: 5px 6px;
}

button,
input {
    line-height: normal;
}

textarea {
    font-size: 100%;
    overflow: auto;
    vertical-align: top;
}

/* Reset non-text input types */
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="color"] {
    border: 0;
    border-radius: 0;
    padding: 0;
}

/* Buttons */
.menu-toggle,
input[type="submit"],
input[type="button"],
input[type="reset"],
article.post-password-required input[type=submit],
li.bypostauthor cite span {

}

.menu-toggle,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

.menu-toggle:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
article.post-password-required input[type=submit]:hover {

}

.menu-toggle:active,
.menu-toggle.toggled-on,
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {

}

/*--------------------------END Repeatable patterns------------------------------ */

/*-------------------------------- jquery-placeholder style---------------------- */
input.placeholder,
textarea.placeholder {
    color: #aaa;
}

.js-placeholder {
    border: 2px dashed grey;
    text-align: center;
    font-weight: bold;
    color: grey;
}

.borders {
    border: 1px dotted red;
}

.error-message {
    margin: 0px 20px;
    color: red;
    font-style: italic;
}

.success-message {
    margin: 0 20px;
    color: green;
    font-style: italic;
}

/*--------------------------------END jquery-placeholder style---------------------- */

/* layout */

.sidebar-homepage-1-widgets {
    background: #05152a;
    height: 380px;
}

.sidebar-homepage-1-widgets div:first-of-type, .main-banner-container {
    max-width: 980px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 10;
    margin-top: -42px;
    padding-top: 39.4px;
}

.sidebar-homepage-2-widgets {
    background: #f0f0f0;
    height: 196px;
}

.sidebar-homepage-2-contentWrap, .sidebar-homepage-3-contentWrap, .sidebar-homepage-4-contentWrap, .sidebar-homepage-5-contentWrap, .sidebar-homepage-6-contentWrap {
    width: 980px;
    margin: 0 auto;
}

.how-to-trade-title {
    text-align: center;
    padding: 30px 0 0 0;
}

.how-to-trade-title span {
    font-family: 'robotolight';
    font-size: 30px;
    color: #333
}

.how-to-trade-images {
    margin-top: 36px;
}

.how-to-trade-menu {
    width: 980px;
    height: 50px;
    display: block;
    border-radius: 3px;
    background-color: #f5f4f4;
    -webkit-box-shadow: inset 3px 3px 3px 0px rgba(196, 195, 195, 0.45);
    -moz-box-shadow: inset 3px 3px 3px 0px rgba(196, 195, 195, 0.45);
    box-shadow: inset 3px 3px 3px 0px rgba(196, 195, 195, 0.45);
    margin-top: 25px;
}

.how-to-trade-menu span {
    width: 239px;
    height: 30px;
    margin: 3px 0 0 3px;
    text-align: center;
    display: inline-block;
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 20px;
    padding: 12px 0 0 0;
    cursor: pointer;
    color: #7d7d7d;
}

.how-to-trade-menu span:hover, .how-to-trade-menu span.active {
    border-radius: 3px;
    border-bottom: 2px solid #297ab5;
    background: #54b0e3; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0YjBlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0Mjk3ZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #54b0e3 0%, #4297d7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54b0e3), color-stop(100%, #4297d7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #54b0e3 0%, #4297d7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #54b0e3 0%, #4297d7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #54b0e3 0%, #4297d7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #54b0e3 0%, #4297d7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54b0e3', endColorstr='#4297d7', GradientType=0); /* IE6-8 */
    color: #fff;
}

.sidebar-homepage-4-widgets {
    height: 334px;
}

.news-wrap, .trader-insight-wrap, .mobile-app-wrap {
    width: 316px;
    height: 284px;
    display: inline-block;
    float: left;
}

.news-wrap-title, .trader-insight-wrap-title, .mobile-app-wrap-title {
    text-align: center;
    font-family: 'robotolight';
    font-size: 30px;
    padding-top: 30px;
    color: #585858;
}

.news-content, .trader-insight-content, .mobile-app-content {
    display: block;
    width: 316px;
    height: 246px;
    background-color: #f0f0f0;
    margin-top: 14px;
}

.mobile-app-content {
    float: left;
}

.news-wrap, .trader-insight-wrap {
    margin-right: 12px;
}

.sidebar-homepage-5-widgets {
    height: 290px;
}

.trading-opportunities-title {
    text-align: center;
    font-family: 'robotolight';
    font-size: 30px;
    padding-top: 30px;
    color: #585858;
}

.trading-opportunitie-box-wrap {
    width: 233px;
    height: 208px;
    border-radius: 3px;
    background: #f8f8f9;
    display: inline-block;
    margin-right: 12px;
    margin-top: 16px;
    color: #585858;
}

.trading-opportunitie-box-wrap.last {
    margin-right: 0px;
}

.trading-opportunities-wrap a {
    text-decoration: none;
    color: #585858;
}

.trading-tools-boxes-wrapper {
    margin-top: 15px;
}

.trading-opportunitie-box-content-wrap {
    width: 225px;
    height: 200px;
    background: #fff;
    border: 1px solid #eceff2;
    margin: 3px 0 0 3px;
}

.trading-opportunitie-box-content-title {
    text-align: center;
    font-family: 'robotolight';
    font-size: 24px;
    color: #585858;
}

.trading-opportunitie-box-content-image .icon {
    font-size: 110px;
    color: #4fa9e0;
    margin: 28px 0 0 57px;
}

.sidebar-homepage-6-widgets {
    height: 190px;
}

.trading-tools-title {
    text-align: center;
    font-family: 'robotolight';
    font-size: 30px;
    padding-top: 30px;
    color: #585858;
}

.trading-tools-content-wrap {
    width: 316px;
    height: 118px;
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0); /* IE6-8 */
    border-bottom: 3px solid #bdbdbd;
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-radius: 3px;
    float: left;
    margin-right: 12px;
}

.trading-tools-content-wrap.last {
    margin-right: 0px;
}

.trading-tools-content-title {
    text-align: center;
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 24px;
    color: #585858;
    width: 120px;
    text-align: left;
    margin: 38px 0 0 30px;
    float: left;
}

.trading-tools-content-wrap .icon {
    font-size: 80px;
    margin: 20px 20px 0 0;
    float: right
}

.site {
    margin: 0px auto;
}

#primary {
    min-height: 350px;
}

/* header */

.hgroup-wrap {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.site-header .site-title {
    display: inline-block;
    float: left;
}

.site-header .site-title A {
    display: block;
    width: 270px;
    height: 70px;
    text-indent: -10000px;
    background: transparent url('./images/header-logo.png') left center no-repeat;
}

.site-header .site-description,
.site-header .menu-toggle,
.site-header .assistive-text {
    display: none;
}

.login-popup-bg {
    position: absolute;
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}

.login-wrap {
    width: 316px;
    height: 290px;
    background-color: #fff;
    position: absolute;
    z-index: 101;
    border-radius: 3px;
    margin: 100px 0 0 333px;
    border: 1px solid #e0e0e0;
}

.login-title {
    width: 272px;
    height: 16px;
    background-color: #f0f0f0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-family: 'Myriad Pro';
    font-size: 16px;
    padding: 12px 22px;
}

.login-close {
    display: block;
    width: 15px;
    height: 15px;
    float: right;
    text-align: center;
    color: #979797;
    font-size: 15px;
    cursor: pointer;
    margin-right: -10px;
}

input#username, input#password {
    width: 262px;
    height: 30px;
    border-top: 3px solid rgba(169, 169, 169, 0.45);
}

input#username {
    margin: 20px 0 0 20px;
}

input#password {
    margin: 12px 0 0 20px;
}

.login-submit {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 2px solid #297ab5;
    display: block;
    background: #54b0e3; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0YjBlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0Mjk3ZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #54b0e3 0%, #4297d7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54b0e3), color-stop(100%, #4297d7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #54b0e3 0%, #4297d7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #54b0e3 0%, #4297d7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #54b0e3 0%, #4297d7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #54b0e3 0%, #4297d7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54b0e3', endColorstr='#4297d7', GradientType=0); /* IE6-8 */
    cursor: pointer;
    padding: 7px 10px 7px 10px;
    color: #fff;
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    display: block;
    min-height: 14px;
    min-width: 276px;
    margin: 12px 0 0 20px;
}

.forgot-password {
    text-align: center;
    margin-top: 14px;
}

.forgot-password a {
    color: #4aa2dc;
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;

}

.logout {
    border-radius: 3px;
    border-bottom: 2px solid #297ab5;
    background: #54b0e3; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0YjBlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0Mjk3ZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #54b0e3 0%, #4297d7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54b0e3), color-stop(100%, #4297d7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #54b0e3 0%, #4297d7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #54b0e3 0%, #4297d7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #54b0e3 0%, #4297d7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #54b0e3 0%, #4297d7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54b0e3', endColorstr='#4297d7', GradientType=0); /* IE6-8 */
    color: #fff;
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    min-height: 34px !important;
    min-width: 62px !important;
    text-decoration: none;
    padding: 9px 10px 7px 10px;
    text-shadow: 0px 1px 2px rgba(7, 107, 179, 0.4);
    position: relative;
    top: 1px;
}

.userdata-wrapper {
    float: right;
    margin: 15px 0 0 0;
}

.greeting-wrapper, .balance-wrapper {
    display: inline-block;
    float: left;
    min-width: 144px;
}

.balance-wrapper {
    min-width: 120px !important;
}

.buttons-wrapper {
    position: relative;
    top: 10px;
}

.submitBtn {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin: 0 0 15px 0;
    width: 248px;
}

.userIcon {
    display: inline-block;
    width: 26px;
    height: 26px;
    text-align: center;
    border: 4px solid #e7e8ec;
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(204, 204, 204, 1), 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 1px 1px 0px 0px rgba(204, 204, 204, 1), 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 1px 1px 0px 0px rgba(204, 204, 204, 1), 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    float: left;
}

.userIcon .icon {
    color: #494a4a;
    font-size: 35px;
    position: relative;
    bottom: 3px;
    right: 5px;
}

.balance-wrapper .userIcon .icon {
    color: #494a4a;
    font-size: 32px;
    position: relative;
    bottom: 3px;
    right: 3px;
}

.user-data-welcome, .balance-label {
    font-size: 12px;
    font-family: "robotolight";
    color: #333;
    position: relative;
    top: 3px;
    left: 6px;
}

.first-name-wrap {
    display: inline-block;
    min-width: 110px;
}

/*------------------ slider widget quotes ticker ----------------- */
.slider-wrapper {
    overflow: hidden;
    padding: 9px 0;
    max-width: 980px !important;
    width: 100% !important;
    margin: 0 auto;
    position: relative;
    z-index: 11;
    /*background:#34568e;*/
    background: #F3F3F3;
    color: #98948F;
}

.slider-wrapper .slider {
    display: inline-block;
    height: 15px;
    margin: 0px 0px 0px 10px;
    vertical-align: middle;
    font-weight: bold;
    overflow: hidden;
    max-width: 655px;
    float: left;

}

.slider-wrapper .scroller {
    margin: 0;
    padding: 0;
    width: 50000px;
}

.slider-wrapper .scroller li {
    float: left;
    list-style: none;
    display: list-item;
    line-height: 15px;
}

.slider-wrapper .asset {
    float: left;
    display: inline-block;
    text-align: center;
    padding: 1px 10px 0px;
    border-left: solid 1px #859abb;
    border-right: solid 1px #93a5c3;
}

.slider-wrapper .assetName {
    padding-right: 5px;
    color: #fff;
}

.slider-wrapper .assetPrice.up {
    color: #33a764;
}

.slider-wrapper .assetPrice.down {
    color: #df4d4d;
}

/*--------------------- END slider widget quotes ticker ---------------------------------*/

/* ------------------------------- main navigation menu---------------------------------------*/

.main-navigation {
    clear: both;
    min-height: 27px;
    position: relative;
    background: #2a364a; /* old browsers */
    background: -moz-linear-gradient(top, #808ea4 0%, #000b1b 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #808ea4 0%, #000b1b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #808ea4 0%, #000b1b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #808ea4 0%, #192537000b1b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #808ea4 0%, #000b1b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#808ea4', endColorstr='#000b1b', GradientType=0); /* IE6-9 */
}

.main-navigation div:first-of-type {
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
}

ul.nav-menu,
div.nav-menu > ul {
    margin: 0;
    padding: 0 40px 0 0;
}

.nav-menu li {
    border-right: 1px solid #5B687D;
    display: inline-block;
    position: relative;
    float: left;
}

.nav-menu li a {
    color: #CBE7FF;
    display: block;
    font-size: 15px;
    line-height: 1;
    padding: 6px 10px;
    text-decoration: none;
    font-family: 'Myriad Pro';
}

.nav-menu li:hover > a,
.nav-menu li a:hover, .current-menu-item {
    background: rgba(10, 21, 40, 0.5);
    color: #CBE7FF;
}

.nav-menu .sub-menu,
.nav-menu .children {
    background: #051022;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    border-top: 0;
    display: none;
    padding: 0;
    position: absolute;
    z-index: 99999;
}

.nav-menu .sub-menu ul,
.nav-menu .children ul {
    border-left: 0;
    left: 100%;
    top: 0;
}

ul.nav-menu ul a,
.nav-menu ul ul a {
    color: #CBE7FF;
    margin: 0;
    width: 200px;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover {
    background-color: #2a374a;
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul {
    display: block;
}

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
    /*color: #fff;*/
    color: #CBE7FF;
}

.menu-toggle {
    display: none;
}

/* ------------------------------- END  main navigation menu---------------------------------------*/

/*---------------------- HEADER CLOCK --------------------------*/

header .header-clock-container {

    max-width: 305px;
    padding-right: 10px;
    width: 100%;
    /*color: #fff;*/
    color: #98948F;
    float: right;
    text-align: right;
    /*text-shadow: 0px 1px 1px #000;*/
    z-index: 11;
    line-height: 15px;
}

#header-clock-year {
    display: inline-block;
}

header #header-clock-date {
    display: inline-block;
    padding-left: 22px;
    background: url('./images/calendar.png');
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 13px;
}

header #header-clock {
    display: inline-block;
    margin: 0px 6px;
    padding-left: 21px;
    background: url('./images/clock.png');
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 13px;
}

header #header-GMTclock {
    display: inline-block;
    font-size: 11px;
}

/*---------------------- END HEADER CLOCK --------------------------*/

/*------------------------TRADE NOW --------------------------------*/

.trade-now-btn {
    background: rgba(10, 21, 40, 0.5);
}

.trade-now-btn:hover {
    color: #fff;
}

/*------------------------END TRADE NOW --------------------------------*/

/* footer */

#colophon {
    clear: both;
    background: #d4dee7; /* old browsers */
    background: -moz-linear-gradient(top, #d4dee7 0%, #fff 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #d4dee7 0%, #fff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d4dee7 0%, #fff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d4dee7 0%, #fff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d4dee7 0%, #fff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4dee7', endColorstr='#fff', GradientType=0); /* IE6-9 */
    width: 980px;
    margin: 0px auto;
}

#colophon .current-menu-item {
    background: none;
}

#colophon .footer-area-1 {
    text-align: center;
    /*background:#347194;*/
    min-height: 182px;
}

#colophon .footer-area-1 ASIDE {
    display: inline-block;
    margin: 10px 10px;
    text-align: left;
    vertical-align: top;
}

#colophon .footer-area-1 H3 {
    color: #000;
    text-transform: none;
    font-size: 13px;
    line-height: 27px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
}

#colophon .footer-area-1 A {
    color: #4C4F52;
    font-size: 11px;
    text-decoration: none;
    line-height: 16px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: normal;
}

#colophon .footer-area-1 A:hover {
    text-decoration: underline;
}

#colophon .hor-menu {
    margin: 22px 0px;
    text-align: center;

}

#colophon .hor-menu LI {
    display: inline-block;
    padding: 0px 6px 0px 4px;
    border-right: 1px solid #c6c6c6;
}

#colophon .hor-menu LI:last-child {
    border-right: 0px;
}

#colophon .hor-menu A {
    color: #aeaeae !important;
    font-size: 13px;
    text-decoration: none;
    line-height: 13px;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

#colophon .hor-menu A:hover {
    text-decoration: underline;
}

#colophon .footer-area-2 {
    margin: 15px 0px;
    text-align: center;
}

#colophon .footer-area-3 {
    font-size: 11px !important;
    padding-top: 30px;
    background: #637484;
    line-height: normal;
    color: #000;
}

.footer-area-3-Wrap {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
    height: 56px;
    border-top: 1px solid #aeaeae;
}

#colophon .footer-area-3 H3 {
    color: inherit;
    text-transform: none;
}

#colophon .footer-area-3 A {
    color: inherit;
}

#colophon .footer-area-3 .textwidget {
    padding: 15px 10px;
}

#footer-payment-logos {
    height: 31px;
    margin: 0px auto;
    background: url('images/footer-payment-logos.png') center top no-repeat;
}

.logos {
    background: #FFF;
    color: #AEAEAE;
    overflow: hidden;
    height: 40px;
    position: relative;
}

.logos .icon {
    font-size: 140px !important;
    margin-right: 10px;
    color: #AEAEAE;
    position: relative;
    top: -50px;
}

/* content page */

#content {
    margin-top: 5px;
}

#content article {

}

#content article H1.entry-title {
    font-family: 'robotolight';
    font-size: 34px;
    font-weight: normal;
    margin: 26px 0 22px 0 !important;
}

.entry-content p {
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 14px;
    margin: 10px 0 10px 0;
    font-weight: normal;

}

.entry-content h2 {
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: normal;
    margin-top: 22px;
}

.my-profile .entry-title, .past-expiries .entry-title, .change-password .entry-title {
    display: none;
}

.entry-header {
    min-height: 10px;
}

/*datagrid*/

.datagrid {
    width: 100%;
}

.datagrid thead th, .datagrid tbody tr td {
    padding: 0 20px 0 12px;
}

.browser-firefox .datagrid thead th, .datagrid tbody tr td {
    padding: 0 16px 0 12px;
}

.datagrid tbody tr td {
    padding-top: 7px;
    padding-bottom: 10px;
}

.datagrid thead th {
    background: #dfdfdf;
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    color: #273545;
    border-right: 1px solid #d5d5d5;
    padding-top: 3px;
    padding-bottom: 6px;
}

.datagrid thead th:last-of-type {
    border-right: none;
    width: 53px;
}

.browser-firefox .datagrid thead th:last-of-type {
    width: 68px;
}

.datagrid tbody tr td {
    font-family: 'OpenSans-Regular';
    font-size: 13px;
    color: #444444;
    border-bottom: 1px solid #dee2e3;
}

/* traderoom */

.traderoom-banner-container {
    float: left;
    position: relative;
    margin: 40px 0px 8px 0px;
}

.traderoom-banner-container a.button {
    position: absolute;
    top: 120px;
    left: 242px;
    display: block;
    width: 268px;
    height: 52px;
    text-indent: -10000px;
}

.traderoom-contact-wrapper {
    float: right;
    width: 444px;
    height: 177px;
    margin: 0px;
    border: 1px solid #B2B2B2;
    background: #CED6DB;
}

/*  password-meter  */
.passwordStrength {
    background: #cccccc;
    position: relative;
    width: 244px;
    height: 4px;
    margin: 10px 0;
    left: 153px;
}

.passwordStrength #passwordDescription {
    display: none;
}

.passwordStrength #passwordStrength {
    position: relative;
    height: 4px;
}

.changepassword-wrapper .passwordStrength #passwordStrength {
    /*top: -6px;*/
}

.changepassword-wrapper .passwordStrength #passwordDescription {
    display: none;
}

.passwordStrength .strength0 {
    width: 100%;
    background: #cccccc;
}

.passwordStrength .strength1 {
    width: 20%;
    background: #ff0000;
}

.passwordStrength .strength2 {
    width: 40%;
    background: #ff5f5f;
}

.passwordStrength .strength3 {
    width: 60%;
    background: #56e500;
}

.passwordStrength .strength4 {
    background: #4dcd00;
    width: 80%;
}

.passwordStrength .strength5 {
    background: #399800;
    width: 100%;
}

/*  reset password  */
.resetPassword {
    margin-top: 15px;
}

.resetPassword label {
    display: inline-block;
    width: 150px;
}

.resetPasswordButton {
    position: relative;
    top: 20px;
}

.resetPassword .validationError {
    display: inline-block;
    font-style: italic;
    color: red;
    margin-left: 10px;
}

.validationError {
    color: red;
    position: absolute;
    left: 500px;
    top: 7px;
}

/*  registration  */
.registration-page {
    position: relative;
}

.registration-page .lp-wrapper {
    position: absolute;
    top: 0;
    right: 160px;
}

.registration .currencyCode-container .label {
    position: relative;
    top: -8px;
}

/**/
.traderoom-page .entry-title {
    text-indent: 11111111px;
    height: 0;
    overflow: hidden;
}

.registration .text-container input {
    width: 214px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    border-top: 3px solid rgba(169, 169, 169, 0.45);
}

.signup_title_wrap {
    max-width: 980px;
    width: 100%;
    text-align: center;
}

.quick_signup_title {
    font-size: 30px;
    font-family: 'robotolight';
    color: #333;
}

.signup-wrapper {
    width: 100%;
    max-width: 980px;
    display: inline-block;
    margin-top: 20px;
}

.signup-wrapper .registration .text-container {
    display: inline-block;
    margin: 15px 0 0 18px;

}

.signup-wrapper .registration div:first-of-type, .signup-wrapper .registration div:nth-of-type(4) {
    margin-left: 0px;
}

.signup-wrapper input.phoneCountryCode, .signup-wrapper input.phoneAreaCode {
    width: 30px;
    font-size: 12px;
}

.signup-wrapper input.phone {
    width: 120px;
}

.signup-wrapper .validationError {
    left: auto;
    top: auto;
}

.quick-signup-left {
    float: left;
    width: 745px;
}

.quick-signup-right {
    width: 234px;
    float: right;
    margin-top: 19px;
}

.submit-container {
    margin-top: 12px;
}

.reg-submit-BTN {
    width: 234px;
    height: 56px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #f66b18;
    border-radius: 3px;
    background: #ffbf00; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYmYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYzgyMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffbf00 0%, #fc8200 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbf00), color-stop(100%, #fc8200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffbf00 0%, #fc8200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffbf00 0%, #fc8200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffbf00 0%, #fc8200 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffbf00 0%, #fc8200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbf00', endColorstr='#fc8200', GradientType=0); /* IE6-8 */
    font-family: 'robotomedium';
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 0px 5px rgba(247, 121, 0, 1);
}

.checkbox span {
    font-size: 12px;
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    color: #333;
    min-height: 350px;
}

.checkbox-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.savePassWrapper {
    margin: 12px 0 0 20px;
    display: inline-block;
}

.savePassWrapper span {
    font-family: 'robotolight';
    font-size: 13px;
    color: #666;
    position: relative;
    top: -2px;
}

/* =================== Trader insight widget ======================== */

.trader-insight-wrap .widget-box.insight {
    float: left;
    display: inline-block;
    width: 276px;
    margin: 0 0 0 19px;
}

.trader-insight-wrap .widget-box.insight h3 {
    display: none;
}

.trader-insight-wrap .traderinsight-wrapper .label {
    display: inline-block;
    color: #666;
}

.trader-insight-wrap .traderinsight-wrapper .label.above {
    color: #585858;
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 14px;
}

.trader-insight-wrap .traderinsight-wrapper .label.below {
    color: #585858;
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 16px;
    float: right;
    margin-top: 14px;

}

.trader-insight-wrap .traderInsight {
    margin-top: -8px;
    text-align: center;
    color: #fff;
    width: 100%;
    margin-top: 0px;
}

.trader-insight-wrap .traderInsight > div {
    margin-top: 22px;
    padding-top: 7px;

}

.trader-insight-wrap .traderInsight .assetRow {
    width: 100%;
    position: relative;
    text-align: left;
    line-height: 17px;
    display: block;
    height: 10px;
    background-color: #f15a40;
    border-radius: 5px;
    /*                box-shadow: 0 1px #8a0404;*/
}

.trader-insight-wrap .traderInsight .assetName {
    position: absolute;
    top: -15px;
    left: 25%;
    width: 50%;
    line-height: 14px;
    z-index: 5000;
    text-align: center;
    font-size: 13px;
    color: #585858;
    font-family: 'robotolight';
}

.trader-insight-wrap .percent {
    position: relative;
    top: -15px;
}

.trader-insight-wrap .traderInsight .assetRow .above {
    width: 50%;
    font-size: 13px;
    color: #585858;
    font-family: 'robotolight';
}

.trader-insight-wrap .traderInsight .assetRow .below {
    width: 50%;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
    font-size: 12px;
    color: #333333;
    display: block;
    height: 10px;
    background-color: #46b969;
    border-radius: 5px;
    margin-right: 0;
}

.trader-insight-wrap {
    font-size: 13px;
    color: #585858;
    font-family: 'robotolight';
}

/* =================== END Trader insight widget ======================== */
/*=====================HOME PAGE NEWS FEED ==============================*/

.widget_dock {
    width: 100% !important;
}

.bx-wrapper {
    padding: 20px !important;
}

.rfw_dock .entry-title {
    text-align: left !important;
    text-decoration: none !important;
    color: #000 !important;
    font-family: 'robotomedium' !important;
    font-size: 16px !important;
    font-weight: normal !important;

}

.rfw_dock li a {
    text-decoration: none;
}

.rfw_dock li {
    font-family: 'robotolight' !important;
    font-size: 15px !important;
    color: #000;
}

.bx-pager.bx-default-pager {
    display: none;
}

/*=====================END HOME PAGE NEWS FEED ==============================*/

/*=============== LIVE CHAT ================*/

.lp-wrapper A {
    background: none !important;
}

.live-chat-wrap {
    background: url("./images/left_bottom_background.png") no-repeat;
    width: 233px;
    height: 204px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10000;
}

.live-chat-icon {
    background: url("./images/chat.png") no-repeat;
    width: 60px;
    height: 55px;
    margin: 98px 0 0 28px;
}

.live-chat-wrap a {
    text-decoration: none;
    position: relative;
    top: 3px;
    left: 30px;
}

.live-chat-wrap a span {
    font-family: 'robotomedium';
    color: #fff;
}

.live-chat-wrap a span:first-of-type {
    font-size: 18px;
}

.live-chat-wrap a span:nth-of-type(2) {
    font-size: 14px;
}

/*=============== END LIVE CHAT ================*/

/*===== MY trades search form*/

.search-form, .myProfileButtonsWrap {
    height: 38px;
    border-radius: 3px;
    background: #4499d8; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0OTlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOTdhYjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #4499d8 0%, #297ab5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4499d8), color-stop(100%, #297ab5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4499d8 0%, #297ab5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4499d8 0%, #297ab5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4499d8 0%, #297ab5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4499d8 0%, #297ab5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4499d8', endColorstr='#297ab5', GradientType=0); /* IE6-8 */
    padding: 12px 0 5px 12px;
}

.search-form label {
    color: #fff;
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 14px;
}

.search-form .hasDatepicker {
    float: none;
    width: 140px;
    max-width: 140px;
}

.search-form .selectContainer {
    width: 326px !important;
    background: #f0f0f0;
    background-image: url('./images/arrowDark.png');
    background-repeat: no-repeat;
    background-position: right center;
    border: 0;
    color: #333;
    line-height: 17px;
    font-size: 12px !important;
    font-weight: bold;
    padding: 0px 0 0 5px !important;
    margin-left: 5px;
    height: 30px !important;
    border-radius: 3px;
}

.selectContainer {
    width: 232px;
    height: 30px;
    /*box-shadow: inset 1px 1px 0px 0px #E2DEDE;
    -webkit-box-shadow: inset 1px 1px 0px 0px #E2DEDE;
    -moz-box-shadow: inset 1px 1px 0px 0px #E2DEDE;
    -o-box-shadow: inset 1px 1px 0px 0px #E2DEDE;*/
    border: 1px solid #CCC !important;
    background-image: url('./images/arrowDark.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #fff;
    padding: 0 0 0 6px;
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 3px;
    color: #333;
    line-height: 30px;
}

.selectContainer span.customSelectInner {
    line-height: 30px;
}

.myTradesSearchButton, .pastExpiriesSearchButton {
    position: absolute;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    margin: -3px 0 0 63px;
}

.mytrades-wrapper, .pastexpiries-wrapper, .myprofile-wrapper, .changepassword-wrapper, .contactus-wrapper, .resetPasswordWrap, .registration-wrapper, .asset-index-page-warapper {
    background: #efefef;
    margin-bottom: 40px;
}

.contactus-wrapper, .resetPasswordWrap {
    border-radius: 3px;
    padding: 20px;
}

.registration-wrapper {
    border-radius: 3px;
}

.mytrades-wrapper .info-wrapper {
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 16px;
    padding: 22px 0 32px 0;
}

.mytrades-wrapper .info-wrapper label {
    padding: 0 14px 0 16px;
}

.mytrades-wrapper .info-wrapper span {
    border-radius: 3px;
    border: 1px solid #dfdfdf;
    background: #fff;
    display: inline-block;
    padding: 9px 0 7px 6px;
}

.tradesVolume {
    width: 190px;
}

.tradesProfit, .tradesTotal {
    width: 158px;
}

.fromLabel {
    margin-left: 50px;
}

.toLabel {
    margin-left: 15px;
}

/*Paging*/

.pageLink.activePage {
    background: #b8bfc4;
    color: #fff !important;
    text-shadow: 0px 1px 2px rgba(142, 161, 175, 1);
    -webkit-box-shadow: inset 2px 2px 10px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: inset 2px 2px 10px 0px rgba(0, 0, 0, 0.45);
    box-shadow: inset 2px 2px 10px 0px rgba(0, 0, 0, 0.45);
    border-bottom: none;
    height: 19px;
}

.pageDisabled {
    background: #b8bfc4 !important;
    border-bottom: 1px solid #808487 !important;
    cursor: pointer !important;
}

.pageLink, .nextPage, .prevPage {
    display: inline-block;
    font-family: 'robotolight';
    font-size: 13px;
    width: 27px;
    height: 18px;
    padding-top: 5px;
    text-align: center;
    border-radius: 3px;
    background: #49a0db;
    text-decoration: none;
    color: #fff !important;
    border-bottom: 1px solid #2777b3;
}

.pageFwd, .pageBack {
    display: block;
    width: 25px;
    height: 23px;
    position: relative;
    cursor: pointer !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.myPaging .pageLink:first-of-type {
    margin-right: 3px;
    pointer-events: inherit !important;
}

.myPaging .pageLink:last-of-type {
    margin-left: 3px;
    margin-right: 10px;
    pointer-events: inherit !important;
}

.myPaging .pageLink:last-of-type, .myPaging .pageLink:first-of-type {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pageFwd {
    background: url('./images/sprite.png') no-repeat;
    background-position: -22px 6px;
    position: relative;
    top: -5px;
}

.browser-msie .pageFwd {
    top: 0px;
    background-position: -22px 2px;
}

.pageBack {
    background: url('./images/sprite.png') no-repeat;
    background-position: 4px 6px;
    position: relative;
    top: -5px;
}

.browser-msie .pageBack {
    top: 0px;
    background-position: 4px 2px;
}

.myTradesPaging, .pastExpiriesPaging {
    width: auto;
    background: #eaeaea;
    margin: 0;
    height: 24px;
    padding: 6px 10px 6px 0;
    border-bottom: 2px solid #d4d8d9;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: right !important;
}

.myTradesPaging .firstBnt, .pastExpiriesPaging .firstBnt {
    margin-right: 4px;
}

.pastExpiriesPaging .pageLink:last-of-type {
    margin-left: 4px;
}

.datagrid .CloseTradeAction {
    display: none !important;
}

.pastexpiries-wrapper .datagrid thead tr th {
    width: 294px;
}

/*My Profile*/

.myProfileButtons {
    float: right;
    margin: -13px 12px 0 0;
}

.myprofile-wrapper, .changepassword-wrapper, .registration-wrapper {
    border-radius: 3px;
    border-bottom: 2px solid #d4d8d9;
}

.myProfileContents, .changePasswordPageContents {
    padding: 20px;
}

.myprofile-wrapper input[type="text"], .myprofile-wrapper select, .changepassword-wrapper input[type="password"], .contactus-wrapper input[type="text"], .contactus-wrapper textarea, .resetPasswordWrap input[type="text"], .registration-wrapper input[type="text"], .registration-wrapper input[type="password"], .signup-wrapper-sidebar input[type="text"], .signup-wrapper-sidebar input[type="password"] {
    width: 240px;
    height: 30px;
    box-shadow: inset 1px 1px 0px 0px #E2DEDE;
    -webkit-box-shadow: inset 1px 1px 0px 0px #E2DEDE;
    -moz-box-shadow: inset 1px 1px 0px 0px #E2DEDE;
    -o-box-shadow: inset 1px 1px 0px 0px #E2DEDE;
    padding: 0 0 0 6px;
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    color: #333;
    line-height: 30px;
    background: #fff;
}

.myprofile-wrapper .label, .changepassword-wrapper .label, .contactUsRow .label, .contactus-wrapper p, .resetPasswordWrap .label, .registration-wrapper .text-container .label {
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    min-width: 210px;
    display: inline-block;
}

.myprofile-wrapper .text-container, .registration-wrapper .text-container {
    margin: 10px 0 10px 0;
    position: relative;
}

.myprofile-wrapper .phoneCountryCode {
    width: 40px !important;
}

.myprofile-wrapper .phoneAreaCode {
    width: 60px !important;
}

.myprofile-wrapper .phone {
    width: 120px !important;
}

.myprofile-wrapper .birthMonth select {
    width: 116px;
}

.myprofile-wrapper .countryCode-container select, .myprofile-wrapper .title-container select {
    width: 245px;
}

.myprofile-successmsg {
    position: absolute;
    margin: 5px 0 0 20px;
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 16px;
    color: green;
}

.birthDay .selectContainer {
    width: 55px;
}

.birthMonth .selectContainer {
    width: 98px !important;
}

.birthYear .selectContainer {
    width: 68px;
}

.title-container .label, .countryCode-container .label, .birth-container .label, .languageCode-container .label {
    position: relative;
    top: -8px;
}

.changepassword-wrapper .changePasswordRow {
    margin: 10px 0 10px 0;
}

.changepassword-wrapper .passwordStrength, .registration-wrapper .passwordStrength {
    margin: 10px 0 0 62px;
}

.changepassword-wrapper .validationError {
    position: absolute;
    top: initial;
}

.contactus-wrapper textarea {
    height: 100%;
    width: 80%;
}

.contactUsRow {
    margin: 10px 0 10px 0;
}

.contactUsRow .label, .resetPasswordWrap .label {
    min-width: 150px;
}

.contactus-wrapper .submitBtn {
    margin-left: 154px;
}

.resetPasswordWrap, .registration-wrapper {
    font-family: 'robotoregular', Arial, Verdana, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    min-height: 350px;
}

.pageHeadTitle {
    height: 38px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #4499d8; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0OTlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOTdhYjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #4499d8 0%, #297ab5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4499d8), color-stop(100%, #297ab5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4499d8 0%, #297ab5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4499d8 0%, #297ab5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4499d8 0%, #297ab5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4499d8 0%, #297ab5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4499d8', endColorstr='#297ab5', GradientType=0); /* IE6-8 */
    padding: 18px 0 0 12px;
    color: #fff;
    text-shadow: rgba(3, 3, 3, 0.45) -1px -1px 0px;
    font-family: Arial;
    font-size: 14px;
}

.registration-wrapper form {
    padding: 20px;
}

.myProfileButtonsWrap span {
    color: #fff;
    text-shadow: rgba(3, 3, 3, 0.45) -1px -1px 0px;
    font-family: Arial;
    font-size: 14px;
    float: left;
    margin-top: 8px;
}

/*Quick sign up*/

.signup-wrapper-sidebar {
    width: 234px;
    background: #efefef;
    height: 100%;
}

.registration-short, .signup-wrapper-sidebar, .signup-wrapper-sidebar .quick-signup-left {
    width: 250px;
}

.registration-short {
    margin-bottom: 10px;
}

.signup-wrapper-sidebar .quick-signup-right {
    width: 240px;
    margin-right: 2px;
    margin-bottom: 5px;
}

.signup-wrapper-sidebar input[type="text"], .signup-wrapper-sidebar input[type="password"] {
    width: 236px;
    margin: 5px;
}

.signup-wrapper-sidebar input[type="text"].phoneCountryCode {
    width: 40px;
    margin-right: 0px;

}

.signup-wrapper-sidebar input[type="text"].phoneAreaCode {
    width: 60px;
    margin-right: 0px;
    margin-left: 0px;
}

.signup-wrapper-sidebar input[type="text"].phone {
    width: 116px;
    margin-right: 0px;
    margin-left: 0px;
}

.signup-wrapper-sidebar input[type="text"].fname {
    margin-right: 0px;
    float: left;
    width: 109px;
}

.signup-wrapper-sidebar input[type="text"].lname {
    margin-left: 3px;
    width: 116px;
}

.assetDiv {
    font-family: 'OpenSans-Regular';
    font-size: 13px;
    color: #444444;
    border-bottom: 1px solid #dee2e3;
    padding: 10px;
    background: #efefef;
}

.assetDetails {
    padding: 10px;
}

.assetDetails .name {
    display: none;
}

.assetDetails .description, .assetDetails .titleCalendar {
    padding: 10px 0;
}

.registration .entry-title, .traderoom .entry-title {
    display: none;
}

.home .trader-insight-header {
    display: none;
}

.wrapper-contacts .validationError {
    left: auto;
    top: auto;
    margin-top: -7px;
}

.wrapper-contacts .contactUsRow:last-of-type .validationError {
    margin-top: -164px;
}

/*--------------- SOCIAL TRADING ----------------*/
.socialTrading {
    width: 980px;
    position: relative;
    margin-bottom: 90px;
    color: #333;
}

.topTrades-wrap {
    width: 628px;
    float: right;
    background: #F8F8F8;
    margin-bottom: 20px;
}

.leaderBoard-wrap {
    width: 340px;
    float: left;
    background: #F8F8F8;
}

.leadersBoard th {
    display: none !important;
}

.socialTrading .leadersBoard,
.socialTrading .topTrades {
    background-color: #fafafa;
    width: 100%;
}

.socialTrading .leadersBoard td,
.socialTrading .topTrades td {
    border-bottom: solid 1px #e0e0e0;
    vertical-align: middle;
}

.socialTrading .widgetTitle {
    background-color: #277fbc;
    color: #fff;
    border-radius: 3px 3px 0 0;
    padding: 0 10px;
    line-height: 30px;
}

.socialTrading .leaderBoardHead {
    overflow: hidden;
    background-color: #4da8e9;
    border-radius: 0 0 3px 3px;
    padding: 0 5px;
    text-align: left;
    line-height: 45px;
}

.socialTrading .topTrades th {
    overflow: hidden;
    background-color: #4da8e9;
    padding: 0 5px;
    text-align: left;
    color: #fff;
    line-height: 45px;
}

.socialTrading .topTrades th.first {
    border-radius: 0 0 0 3px;
}

.socialTrading .topTrades th:last-child {
    border-radius: 0 0 3px 0;
}

.socialTrading .flag {
    width: 14px;
    height: 14px;
    border: solid 4px #ccc;
    border-radius: 10px;
    background-color: #ff6a00;
    float: left;
}

.socialTrading .number {
    font-size: 18px;
    font-weight: bold;
    color: #4dbd48;
    display: inline-block;
}

.socialTrading .pImage {
    position: relative;
    padding: 6px;
}

.socialTrading .thumb {
    width: 60px;
    height: 60px;
    border: solid 4px #ccc;
    border-radius: 40px;
    overflow: hidden;
}

.socialTrading .status {
    width: 8px;
    height: 8px;
    border: solid 2px #fff;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.socialTrading .online {
    background-color: #53ca51;
}

.socialTrading .offline {
    background-color: #d23636;
}

.socialTrading .male {
    background-color: #0094ff;
}

.socialTrading .female {
    background-color: #ff006e;
}

/* paging */
.socialTrading .myPaging .pageLink {
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #e0e0e0;
    display: inline-block;
    padding-top: 0;
    border-bottom: 0;
}

.socialTrading .myPaging .pageLink.activePage {
    background-color: #a1a1a1;
}

.socialTrading .myPaging .nextPage,
.socialTrading .myPaging .prevPage {
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-bottom: 0;
    padding-top: 3px;
}

.socialTrading .nextPage {
    background: url('images/fast-forward-16x16.png') no-repeat 0 0;
}

.socialTrading .prevPage {
    background: url('images/rewind.png') no-repeat 0 0;
}

/* call to registration box */
.socialTrading .callToReg {
    background-color: #ececec;
    overflow: hidden;
    padding: 10px;
    font-family: Verdana;
    border-bottom: solid 1px #e0e0e0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.socialTrading .myPaging {
    background: white;
    text-align: center;
    padding-top: 10px;
}

.socialTrading .floatR {
    float: right;
}

.socialTrading .colL {
    float: left;
    width: 240px;
}

.socialTrading .callToReg .colL span,
.socialTrading .callToReg .colL img {
    float: left;
    font-size: 12px;
    margin-right: 4px;
}

.socialTrading .callToReg .colL .callTitle {
    font-size: 14px;
    font-weight: bold;
}

.socialTrading .button {
    background-color: #fe900b;
    border-bottom: 2px solid #ec6f00;
    border-radius: 2px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 12px;
}

/* radio list */
.socialTrading .ui-buttonset {
    float: right;
}

.socialTrading .assetType {
    background-color: #4da8e9;
    display: inline-block;
    width: 15px;
    height: 15px;
}

.socialTrading .downArrow,
.socialTrading .upArrow {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.socialTrading .downArrow {
    background: url(images/social_sprite.png);
    background-position: -14px -54px;
}

.socialTrading .upArrow {
    background: url(images/social_sprite.png);
    background-position: -14px -27px;
}

.socialTrading .assetTypeStocks {
    width: 19px;
    height: 18px;
    background: url(images/social_sprite.png);
    background-repeat: no-repeat;
    background-position: -30px 0px;
    float: left;
    margin-right: 5px;
}

.socialTrading .assetTypeCurrencies {
    width: 19px;
    height: 18px;
    background: url(images/social_sprite.png);
    background-repeat: no-repeat;
    background-position: -64px 0px;
    float: left;
    margin-right: 5px;
}

.socialTrading .assetTypeIndices {
    width: 19px;
    height: 18px;
    background: url(images/social_sprite.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    float: left;
    margin-right: 5px;
}

.socialTrading .assetTypeCommodities {
    width: 19px;
    height: 18px;
    background: url(images/social_sprite.png);
    background-repeat: no-repeat;
    background-position: -98px 0px;
    float: left;
    margin-right: 5px;
}

.trend.up {
    width: 16px;
    height: 18px;
    display: inline-block;
    background: url('images/upGraph.png');
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 5px;
}

.pName {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.flag + div {
    line-height: 22px;
    float: left;
    margin-left: 5px;
}

.topTrades tr > td + td + td + td {
    line-height: 15px;
}

.topTrades .price {
    font-size: 11px;
}

.leaderBoard-wrap .switch {
    float: right;
}

.leaderBoard-wrap .leaderBoardDDL-wrap {
    float: left;
}

.leaderBoardDDL-wrap {
    width: 128px;
    height: 30px;
    line-height: 30px;
    margin-top: 7px;
    border-radius: 3px;
    border: none;
    background: #f0f0f0;
    background-image: url(images/arrowDark.png);
    background-repeat: no-repeat;
    background-position: right center;
    overflow: hidden;
    padding: 0px;
}

.leaderBoardDDL {
    background: none;
    border: none;
    color: #333;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    width: 128px;
    line-height: 30px;
    height: 30px;
    outline: none;
    -webkit-appearance: none;
}

.leaderBoardDDL-wrap span.customSelectInner {
    width: 106px !important;
}

.socialTrading-return {
    display: table-cell !important;
}

.leaderBoardHead .switch {
    color: white;
}

.leaderBoardHead .switch span {
    line-height: 26px;
    display: inline-block;
    min-width: 56px;
    width: auto;
    text-align: center;
    border: 1px solid #2982c0;
    background: #4da8e9; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5YzllZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NmFkZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #4da8e9 0%, #3d97d8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4da8e9), color-stop(100%, #3d97d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4da8e9 0%, #3d97d8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4da8e9 0%, #3d97d8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4da8e9 0%, #3d97d8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4da8e9 0%, #3d97d8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4da8e9', endColorstr='#3d97d8', GradientType=0); /* IE6-8 */
}

.leaderBoardHead .switch span.active {
    background: #2279b6;
}

#byROI {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin-right: -4px;
}

#byHitRate {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.socialTrading-footer2 {
    color: #b9b9b9;
    font-size: 10px;
}

.socialTrading-footer-wrap {
    line-height: 20px;
}

.socialTrading .leaderBoard-wrap, .socialTrading .topTrades-wrap {
    margin-top: 10px;
}

.social-logo {
    width: 40px;
    height: 40px;
    background: url(images/social_sprite.png);
    background-position: -56px -26px;
}

/*--------------- END SOCIAL TRADING ------------*/
.labelPreSelect.cashierLabelCountry,
.labelPreSelect.stateProvinceLabel {
    position: relative;
    top: -8px;
}

.label_39._left_2d._pad100_GR, .label_39._right_1y._pad100_GR {
    left: 30px !important;
    right: auto !important;
}

.label_39._bottom_3v._pad100_GR{
    left: auto !important;
    right: 30px !important;
}
