div.op-content {
    padding-left: 0 !important;
}

td.right_content {
    border-left: 2px solid #f3f3f3 !important;
    padding-left: 12px !important;
}

#main {
    width: auto !important;
}

#left_menu {
    width: 224px !important;
}

#left_menu .level1 a {
    display: block !important;
    height: 29px !important;
    padding-left: 14px !important;
    font: 13px/29px Tahoma !important;
    color: black !important;
    text-decoration: none !important;
    overflow: hidden !important;
}

#left_menu .level1 a:hover {
    background-color: #e8f4de !important;
}

#left_menu div.level1.active2 {
    border-bottom: 1px solid #f3f3f3 !important;
    color: black !important;
}

#left_menu .level1 a.active {
    background: url('../img/l1_active.jpg') left top repeat-y !important;
    color: #999999 !important;
    cursor: default !important;
}

#left_menu .level2 a {
    display: block !important;
    height: 29px !important;
    padding-left: 34px !important;
    font: 11px/29px Tahoma !important;
    color: black !important;
    text-decoration: none !important;
    background: url('../img/l2_active.png') left top repeat-y !important;
    overflow: hidden !important;
}

#left_menu .level2 a:hover {
    background-color: #e8f4de !important;
}

#left_menu .level2 a.active {
    background: url('../img/l2_active.png') left bottom repeat-y !important;
    color: #999999 !important;
    cursor: default !important;
}
