/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
#ui-datepicker-div .ui-helper-hidden
{
    display: none;
}
#ui-datepicker-div .ui-helper-hidden-accessible
{
    position: absolute;
    left: -99999999px;
}
#ui-datepicker-div .ui-helper-reset
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
#ui-datepicker-div .ui-helper-clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#ui-datepicker-div .ui-helper-clearfix
{
    display: inline-block;
}
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix
{
    height: 1%;
}
#ui-datepicker-div .ui-helper-clearfix
{
    display: block;
}
/* end clearfix */
#ui-datepicker-div .ui-helper-zfix
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}


/* Interaction Cues
----------------------------------*/
#ui-datepicker-div .ui-state-disabled
{
    cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
#ui-datepicker-div .ui-icon
{
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-----------*/
/*-----------*/

/* Datepicker
----------------------------------*/
.ui-datepicker
{
    display: none;
    z-index: 10 !important;
    width:200px !important;
}
.ui-datepicker .ui-datepicker-header
{
    position: relative;
    padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next
{
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover
{
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev
{
    left: 2px;
}
.ui-datepicker .ui-datepicker-next
{
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover
{
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover
{
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span
{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title
{
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    font-size: 14px;
}
.ui-datepicker .ui-datepicker-title select
{
    float: left;
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year
{
    width: 100%;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year
{
    width: 49%;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year
{
    float: right;
}
.ui-datepicker table
{
    width: 100%;
    font-size: .8em;
    border-collapse: collapse;
}
.ui-datepicker th
{    
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td
{
    border: 0;
    padding: 1px;
}
.ui-datepicker td span, .ui-datepicker td a
{
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane
{
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button
{
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current
{
    float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi
{
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group
{
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table
{
    width: 95%;
    margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group
{
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group
{
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group
{
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header
{
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header
{
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane
{
    clear: left;
}
.ui-datepicker-row-break
{
    clear: both;
    width: 100%;
}

/* RTL support */
.ui-datepicker-rtl
{
    direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev
{
    right: 2px;
    left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next
{
    left: 2px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover
{
    right: 1px;
    left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover
{
    left: 1px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane
{
    clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button
{
    float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current
{
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group
{
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header
{
    border-right-width: 0;
    border-left-width: 1px;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header
{
    border-right-width: 0;
    border-left-width: 1px;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover
{
    display: none; /*sorry for IE5*/
    display: /**/ block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

/*-----------*/
/*-----------*/

/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana,Arial,sans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=02_glass.png&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=02_glass.png&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
*/


/* Component containers
----------------------------------*/
.ui-widget
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
}
.ui-widget-content
{
    background: #d5d5d5;
    color: white;
    padding:4px;
}
.ui-widget-content a
{
    color: #222222;
}
.ui-widget-header
{    
    color: white;
    font-weight: bold;
}
.ui-widget-header a
{
    color: #222222;
}

/* Interaction states
----------------------------------*/
#ui-datepicker-div .ui-state-default, .ui-widget-content .ui-state-default
{    
    background: #636363;
    font-weight: normal;
    color: white;
    outline: none;
}
#ui-datepicker-div .ui-state-default a, #ui-datepicker-div .ui-state-default a:link, #ui-datepicker-div .ui-state-default a:visited
{
    color: #555555;
    text-decoration: none;
    outline: none;
}
#ui-datepicker-div .ui-state-focus, .ui-widget-content .ui-state-focus
{
    background: #636363;
    font-weight: normal;
    color: #C21B2C;
    outline: none;
}
#ui-datepicker-div .ui-state-hover a, #ui-datepicker-div .ui-state-hover a:hover
{
    color: #212121;
    text-decoration: none;
    outline: none;
}
#ui-datepicker-div .ui-state-active, .ui-widget-content .ui-state-active
{    
    background: #ffffff url(/media/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121;
    outline: none;
}
#ui-datepicker-div .ui-state-active a, #ui-datepicker-div .ui-state-active a:link, #ui-datepicker-div .ui-state-active a:visited
{
    color: #212121;
    outline: none;
    text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
#ui-datepicker-div .ui-state-highlight, .ui-widget-content .ui-state-highlight
{    
    background: #C21B2C;
    color: white;
}
#ui-datepicker-div .ui-state-highlight a, .ui-widget-content .ui-state-highlight a
{
    color: #363636;
}
#ui-datepicker-div .ui-state-error, .ui-widget-content .ui-state-error
{
    border: 1px solid #cd0a0a;
    background: #fef1ec url(/media/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
    color: #cd0a0a;
}
#ui-datepicker-div .ui-state-error a, .ui-widget-content .ui-state-error a
{
    color: #cd0a0a;
}
#ui-datepicker-div .ui-state-error-text, .ui-widget-content .ui-state-error-text
{
    color: #cd0a0a;
}
#ui-datepicker-div .ui-state-disabled, .ui-widget-content .ui-state-disabled
{
    background:#393939;
}
#ui-datepicker-div .ui-priority-primary, .ui-widget-content .ui-priority-primary
{
    font-weight: bold;
}
#ui-datepicker-div .ui-priority-secondary, .ui-widget-content .ui-priority-secondary
{
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal;
}

/* Icons
----------------------------------*/

/* states and images */
#ui-datepicker-div .ui-icon
{
    width: 16px;
    height: 16px;
}
/* positioning */
#ui-datepicker-div .ui-icon-carat-1-n
{
    background-position: 0 0;
}
#ui-datepicker-div .ui-icon-carat-1-ne
{
    background-position: -16px 0;
}
#ui-datepicker-div .ui-icon-carat-1-e
{
    background-position: -32px 0;
}
#ui-datepicker-div .ui-icon-carat-1-se
{
    background-position: -48px 0;
}
#ui-datepicker-div .ui-icon-carat-1-s
{
    background-position: -64px 0;
}
#ui-datepicker-div .ui-icon-carat-1-sw
{
    background-position: -80px 0;
}
#ui-datepicker-div .ui-icon-carat-1-w
{
    background-position: -96px 0;
}
#ui-datepicker-div .ui-icon-carat-1-nw
{
    background-position: -112px 0;
}
#ui-datepicker-div .ui-icon-carat-2-n-s
{
    background-position: -128px 0;
}
#ui-datepicker-div .ui-icon-carat-2-e-w
{
    background-position: -144px 0;
}
#ui-datepicker-div .ui-icon-triangle-1-n
{
    background-position: 0 -16px;
}
#ui-datepicker-div .ui-icon-triangle-1-ne
{
    background-position: -16px -16px;
}
#ui-datepicker-div .ui-icon-triangle-1-e
{
    background-position: -32px -16px;
}
#ui-datepicker-div .ui-icon-triangle-1-se
{
    background-position: -48px -16px;
}
#ui-datepicker-div .ui-icon-triangle-1-s
{
    background-position: -64px -16px;
}
#ui-datepicker-div .ui-icon-triangle-1-sw
{
    background-position: -80px -16px;
}
#ui-datepicker-div .ui-icon-triangle-1-w
{
    background-position: -96px -16px;
}
#ui-datepicker-div .ui-icon-triangle-1-nw
{
    background-position: -112px -16px;
}
#ui-datepicker-div .ui-icon-triangle-2-n-s
{
    background-position: -128px -16px;
}
#ui-datepicker-div .ui-icon-triangle-2-e-w
{
    background-position: -144px -16px;
}
#ui-datepicker-div .ui-icon-arrow-1-n
{
    background-position: 0 -32px;
}
#ui-datepicker-div .ui-icon-arrow-1-ne
{
    background-position: -16px -32px;
}
#ui-datepicker-div .ui-icon-arrow-1-e
{
    background-position: -32px -32px;
}
#ui-datepicker-div .ui-icon-arrow-1-se
{
    background-position: -48px -32px;
}
#ui-datepicker-div .ui-icon-arrow-1-s
{
    background-position: -64px -32px;
}
#ui-datepicker-div .ui-icon-arrow-1-sw
{
    background-position: -80px -32px;
}
#ui-datepicker-div .ui-icon-arrow-1-w
{
    background-position: -96px -32px;
}
#ui-datepicker-div .ui-icon-arrow-1-nw
{
    background-position: -112px -32px;
}
#ui-datepicker-div .ui-icon-arrow-2-n-s
{
    background-position: -128px -32px;
}
#ui-datepicker-div .ui-icon-arrow-2-ne-sw
{
    background-position: -144px -32px;
}
#ui-datepicker-div .ui-icon-arrow-2-e-w
{
    background-position: -160px -32px;
}
#ui-datepicker-div .ui-icon-arrow-2-se-nw
{
    background-position: -176px -32px;
}
#ui-datepicker-div .ui-icon-arrowstop-1-n
{
    background-position: -192px -32px;
}
#ui-datepicker-div .ui-icon-arrowstop-1-e
{
    background-position: -208px -32px;
}
#ui-datepicker-div .ui-icon-arrowstop-1-s
{
    background-position: -224px -32px;
}
#ui-datepicker-div .ui-icon-arrowstop-1-w
{
    background-position: -240px -32px;
}
#ui-datepicker-div .ui-icon-arrowthick-1-n
{
    background-position: 0 -48px;
}
#ui-datepicker-div .ui-icon-arrowthick-1-ne
{
    background-position: -16px -48px;
}
#ui-datepicker-div .ui-icon-arrowthick-1-e
{
    background-position: -32px -48px;
}
#ui-datepicker-div .ui-icon-arrowthick-1-se
{
    background-position: -48px -48px;
}
#ui-datepicker-div .ui-icon-arrowthick-1-s
{
    background-position: -64px -48px;
}
#ui-datepicker-div .ui-icon-arrowthick-1-sw
{
    background-position: -80px -48px;
}
#ui-datepicker-div .ui-icon-arrowthick-1-w
{
    background-position: -96px -48px;
}
#ui-datepicker-div .ui-icon-arrowthick-1-nw
{
    background-position: -112px -48px;
}
#ui-datepicker-div .ui-icon-arrowthick-2-n-s
{
    background-position: -128px -48px;
}
#ui-datepicker-div .ui-icon-arrowthick-2-ne-sw
{
    background-position: -144px -48px;
}
#ui-datepicker-div .ui-icon-arrowthick-2-e-w
{
    background-position: -160px -48px;
}
#ui-datepicker-div .ui-icon-arrowthick-2-se-nw
{
    background-position: -176px -48px;
}
#ui-datepicker-div .ui-icon-arrowthickstop-1-n
{
    background-position: -192px -48px;
}
#ui-datepicker-div .ui-icon-arrowthickstop-1-e
{
    background-position: -208px -48px;
}
#ui-datepicker-div .ui-icon-arrowthickstop-1-s
{
    background-position: -224px -48px;
}
#ui-datepicker-div .ui-icon-arrowthickstop-1-w
{
    background-position: -240px -48px;
}
#ui-datepicker-div .ui-icon-arrowreturnthick-1-w
{
    background-position: 0 -64px;
}
#ui-datepicker-div .ui-icon-arrowreturnthick-1-n
{
    background-position: -16px -64px;
}
#ui-datepicker-div .ui-icon-arrowreturnthick-1-e
{
    background-position: -32px -64px;
}
#ui-datepicker-div .ui-icon-arrowreturnthick-1-s
{
    background-position: -48px -64px;
}
#ui-datepicker-div .ui-icon-arrowreturn-1-w
{
    background-position: -64px -64px;
}
#ui-datepicker-div .ui-icon-arrowreturn-1-n
{
    background-position: -80px -64px;
}
#ui-datepicker-div .ui-icon-arrowreturn-1-e
{
    background-position: -96px -64px;
}
#ui-datepicker-div .ui-icon-arrowreturn-1-s
{
    background-position: -112px -64px;
}
#ui-datepicker-div .ui-icon-arrowrefresh-1-w
{
    background-position: -128px -64px;
}
#ui-datepicker-div .ui-icon-arrowrefresh-1-n
{
    background-position: -144px -64px;
}
#ui-datepicker-div .ui-icon-arrowrefresh-1-e
{
    background-position: -160px -64px;
}
#ui-datepicker-div .ui-icon-arrowrefresh-1-s
{
    background-position: -176px -64px;
}
#ui-datepicker-div .ui-icon-arrow-4
{
    background-position: 0 -80px;
}
#ui-datepicker-div .ui-icon-arrow-4-diag
{
    background-position: -16px -80px;
}
#ui-datepicker-div .ui-icon-extlink
{
    background-position: -32px -80px;
}
#ui-datepicker-div .ui-icon-newwin
{
    background-position: -48px -80px;
}
#ui-datepicker-div .ui-icon-refresh
{
    background-position: -64px -80px;
}
#ui-datepicker-div .ui-icon-shuffle
{
    background-position: -80px -80px;
}
#ui-datepicker-div .ui-icon-transfer-e-w
{
    background-position: -96px -80px;
}
#ui-datepicker-div .ui-icon-transferthick-e-w
{
    background-position: -112px -80px;
}
#ui-datepicker-div .ui-icon-folder-collapsed
{
    background-position: 0 -96px;
}
#ui-datepicker-div .ui-icon-folder-open
{
    background-position: -16px -96px;
}
#ui-datepicker-div .ui-icon-document
{
    background-position: -32px -96px;
}
#ui-datepicker-div .ui-icon-document-b
{
    background-position: -48px -96px;
}
#ui-datepicker-div .ui-icon-note
{
    background-position: -64px -96px;
}
#ui-datepicker-div .ui-icon-mail-closed
{
    background-position: -80px -96px;
}
#ui-datepicker-div .ui-icon-mail-open
{
    background-position: -96px -96px;
}
#ui-datepicker-div .ui-icon-suitcase
{
    background-position: -112px -96px;
}
#ui-datepicker-div .ui-icon-comment
{
    background-position: -128px -96px;
}
#ui-datepicker-div .ui-icon-person
{
    background-position: -144px -96px;
}
#ui-datepicker-div .ui-icon-print
{
    background-position: -160px -96px;
}
#ui-datepicker-div .ui-icon-trash
{
    background-position: -176px -96px;
}
#ui-datepicker-div .ui-icon-locked
{
    background-position: -192px -96px;
}
#ui-datepicker-div .ui-icon-unlocked
{
    background-position: -208px -96px;
}
#ui-datepicker-div .ui-icon-bookmark
{
    background-position: -224px -96px;
}
#ui-datepicker-div .ui-icon-tag
{
    background-position: -240px -96px;
}
#ui-datepicker-div .ui-icon-home
{
    background-position: 0 -112px;
}
#ui-datepicker-div .ui-icon-flag
{
    background-position: -16px -112px;
}
#ui-datepicker-div .ui-icon-calendar
{
    background-position: -32px -112px;
}
#ui-datepicker-div .ui-icon-cart
{
    background-position: -48px -112px;
}
#ui-datepicker-div .ui-icon-pencil
{
    background-position: -64px -112px;
}
#ui-datepicker-div .ui-icon-clock
{
    background-position: -80px -112px;
}
#ui-datepicker-div .ui-icon-disk
{
    background-position: -96px -112px;
}
#ui-datepicker-div .ui-icon-calculator
{
    background-position: -112px -112px;
}
#ui-datepicker-div .ui-icon-zoomin
{
    background-position: -128px -112px;
}
#ui-datepicker-div .ui-icon-zoomout
{
    background-position: -144px -112px;
}
#ui-datepicker-div .ui-icon-search
{
    background-position: -160px -112px;
}
#ui-datepicker-div .ui-icon-wrench
{
    background-position: -176px -112px;
}
#ui-datepicker-div .ui-icon-gear
{
    background-position: -192px -112px;
}
#ui-datepicker-div .ui-icon-heart
{
    background-position: -208px -112px;
}
#ui-datepicker-div .ui-icon-star
{
    background-position: -224px -112px;
}
#ui-datepicker-div .ui-icon-link
{
    background-position: -240px -112px;
}
#ui-datepicker-div .ui-icon-cancel
{
    background-position: 0 -128px;
}
#ui-datepicker-div .ui-icon-plus
{
    background-position: -16px -128px;
}
#ui-datepicker-div .ui-icon-plusthick
{
    background-position: -32px -128px;
}
#ui-datepicker-div .ui-icon-minus
{
    background-position: -48px -128px;
}
#ui-datepicker-div .ui-icon-minusthick
{
    background-position: -64px -128px;
}
#ui-datepicker-div .ui-icon-close
{
    background-position: -80px -128px;
}
#ui-datepicker-div .ui-icon-closethick
{
    background-position: -96px -128px;
}
#ui-datepicker-div .ui-icon-key
{
    background-position: -112px -128px;
}
#ui-datepicker-div .ui-icon-lightbulb
{
    background-position: -128px -128px;
}
#ui-datepicker-div .ui-icon-scissors
{
    background-position: -144px -128px;
}
#ui-datepicker-div .ui-icon-clipboard
{
    background-position: -160px -128px;
}
#ui-datepicker-div .ui-icon-copy
{
    background-position: -176px -128px;
}
#ui-datepicker-div .ui-icon-contact
{
    background-position: -192px -128px;
}
#ui-datepicker-div .ui-icon-image
{
    background-position: -208px -128px;
}
#ui-datepicker-div .ui-icon-video
{
    background-position: -224px -128px;
}
#ui-datepicker-div .ui-icon-script
{
    background-position: -240px -128px;
}
#ui-datepicker-div .ui-icon-alert
{
    background-position: 0 -144px;
}
#ui-datepicker-div .ui-icon-info
{
    background-position: -16px -144px;
}
#ui-datepicker-div .ui-icon-notice
{
    background-position: -32px -144px;
}
#ui-datepicker-div .ui-icon-help
{
    background-position: -48px -144px;
}
#ui-datepicker-div .ui-icon-check
{
    background-position: -64px -144px;
}
#ui-datepicker-div .ui-icon-bullet
{
    background-position: -80px -144px;
}
#ui-datepicker-div .ui-icon-radio-off
{
    background-position: -96px -144px;
}
#ui-datepicker-div .ui-icon-radio-on
{
    background-position: -112px -144px;
}
#ui-datepicker-div .ui-icon-pin-w
{
    background-position: -128px -144px;
}
#ui-datepicker-div .ui-icon-pin-s
{
    background-position: -144px -144px;
}
#ui-datepicker-div .ui-icon-play
{
    background-position: 0 -160px;
}
#ui-datepicker-div .ui-icon-pause
{
    background-position: -16px -160px;
}
#ui-datepicker-div .ui-icon-seek-next
{
    background-position: -32px -160px;
}
#ui-datepicker-div .ui-icon-seek-prev
{
    background-position: -48px -160px;
}
#ui-datepicker-div .ui-icon-seek-end
{
    background-position: -64px -160px;
}
#ui-datepicker-div .ui-icon-seek-first
{
    background-position: -80px -160px;
}
#ui-datepicker-div .ui-icon-stop
{
    background-position: -96px -160px;
}
#ui-datepicker-div .ui-icon-eject
{
    background-position: -112px -160px;
}
#ui-datepicker-div .ui-icon-volume-off
{
    background-position: -128px -160px;
}
#ui-datepicker-div .ui-icon-volume-on
{
    background-position: -144px -160px;
}
#ui-datepicker-div .ui-icon-power
{
    background-position: 0 -176px;
}
#ui-datepicker-div .ui-icon-signal-diag
{
    background-position: -16px -176px;
}
#ui-datepicker-div .ui-icon-signal
{
    background-position: -32px -176px;
}
#ui-datepicker-div .ui-icon-battery-0
{
    background-position: -48px -176px;
}
#ui-datepicker-div .ui-icon-battery-1
{
    background-position: -64px -176px;
}
#ui-datepicker-div .ui-icon-battery-2
{
    background-position: -80px -176px;
}
#ui-datepicker-div .ui-icon-battery-3
{
    background-position: -96px -176px;
}
#ui-datepicker-div .ui-icon-circle-plus
{
    background-position: 0 -192px;
}
#ui-datepicker-div .ui-icon-circle-minus
{
    background-position: -16px -192px;
}
#ui-datepicker-div .ui-icon-circle-close
{
    background-position: -32px -192px;
}
#ui-datepicker-div .ui-icon-circle-triangle-e
{
    background:url(../images/arrow_right.png) center no-repeat;
    background-size: 11px;
}
#ui-datepicker-div .ui-icon-circle-triangle-s
{
    background-position: -64px -192px;
}
#ui-datepicker-div .ui-icon-circle-triangle-w
{
    background:url(../images/arrow_left.png) center no-repeat;
    background-size: 12px;
}
#ui-datepicker-div .ui-icon-circle-triangle-n
{
    background-position: -96px -192px;
}
#ui-datepicker-div .ui-icon-circle-arrow-e
{
    background-position: -112px -192px;
}
#ui-datepicker-div .ui-icon-circle-arrow-s
{
    background-position: -128px -192px;
}
#ui-datepicker-div .ui-icon-circle-arrow-w
{
    background-position: -144px -192px;
}
#ui-datepicker-div .ui-icon-circle-arrow-n
{
    background-position: -160px -192px;
}
#ui-datepicker-div .ui-icon-circle-zoomin
{
    background-position: -176px -192px;
}
#ui-datepicker-div .ui-icon-circle-zoomout
{
    background-position: -192px -192px;
}
#ui-datepicker-div .ui-icon-circle-check
{
    background-position: -208px -192px;
}
#ui-datepicker-div .ui-icon-circlesmall-plus
{
    background-position: 0 -208px;
}
#ui-datepicker-div .ui-icon-circlesmall-minus
{
    background-position: -16px -208px;
}
#ui-datepicker-div .ui-icon-circlesmall-close
{
    background-position: -32px -208px;
}
#ui-datepicker-div .ui-icon-squaresmall-plus
{
    background-position: -48px -208px;
}
#ui-datepicker-div .ui-icon-squaresmall-minus
{
    background-position: -64px -208px;
}
#ui-datepicker-div .ui-icon-squaresmall-close
{
    background-position: -80px -208px;
}
#ui-datepicker-div .ui-icon-grip-dotted-vertical
{
    background-position: 0 -224px;
}
#ui-datepicker-div .ui-icon-grip-dotted-horizontal
{
    background-position: -16px -224px;
}
#ui-datepicker-div .ui-icon-grip-solid-vertical
{
    background-position: -32px -224px;
}
#ui-datepicker-div .ui-icon-grip-solid-horizontal
{
    background-position: -48px -224px;
}
#ui-datepicker-div .ui-icon-gripsmall-diagonal-se
{
    background-position: -64px -224px;
}
#ui-datepicker-div .ui-icon-grip-diagonal-se
{
    background-position: -80px -224px;
}


/* Misc visuals
----------------------------------*/

/* Corner radius */
#ui-datepicker-div .ui-corner-tl
{
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
}
#ui-datepicker-div .ui-corner-tr
{
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}
#ui-datepicker-div .ui-corner-bl
{
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
}
#ui-datepicker-div .ui-corner-br
{
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}
#ui-datepicker-div .ui-corner-top
{
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}
#ui-datepicker-div .ui-corner-bottom
{
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}
#ui-datepicker-div .ui-corner-right
{
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}
#ui-datepicker-div .ui-corner-left
{
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
}

/* Overlays */
.ui-widget-overlay
{
    background: #aaaaaa url(/media/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
}
.ui-widget-shadow
{
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaaaaa url(/media/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.deposit-quick-template .ui-widget-content .ui-state-default
{
    margin-right:4px;
}
.deposit-quick-template .ui-widget-header
{
    margin-bottom:4px;
}

/* Pop Ups */
.ui-dialog.ui-widget-content{
    width: 660px;
    padding: 6px;
    border: none;
}

    .ui-dialog .ui-dialog-titlebar{
        font-size: 1.2em;
        font-weight: normal;
        border: none;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        background: none;
    }

    .ui-dialog .ui-dialog-buttonpane{
        border: none;
        background: none;
    }

    .ui-dialog-buttonset .ui-button{
        border-radius: 3px;
        border: none;
    }

    .ui-widget-content .ui-state-default.ui-dialog-titlebar-close{
        width: 11px;
        height: 10px;
        border: none;
        background: url('../images/close_btn.png') 0 0 no-repeat;
    }

.popUpButtons{  
    padding: 0 25px;
    min-width: 180px;
    height: 37px;
    line-height: 35px;
    outline: none;
}

#nextPopUp{
    float: right;
    border-left: none;
    border-right: none;
}

#closePopUp,
#closeAllPopUp{
    border-left: none;
    border-right: none;
}

/* /Pop Ups */