@bgColor: #FFFFFF;
@tabColor: #000000;
@activetabColor: #22B24C;
@buttonsColor: #FFFFFF;
@assetItem: #2A2D33;

#tol-assetList-layout-1 {
  h1 {
    font-size: 20px;
  }
  .games-header-box {
    border: none;
    background: @bgColor;
    padding: 10px 7px 10px 7px;
    height: 50px;
  }
  .games-header-box li {
    min-width: 149px;
    margin-right: 14px;
    text-align: center;
    text-transform: uppercase;
  }
  .games-header-box li:last-child {
    margin-right: 0;
  }
  .games-header-box li .main-menu-icon {
    width: 30px;
    height: 22px;
    float: left;
  }
  .games-header-box li.digital .main-menu-icon {
    background: url('/wp-content/themes/tol-parent/images/asset-list-1/digital.png') no-repeat 0 50%;
  }
  .games-header-box li.digital.active .main-menu-icon {
    background: url('/wp-content/themes/tol-parent/images/asset-list-1/digital_h.png') no-repeat 0 50%;
  }
  .games-header-box li.range .main-menu-icon {
    background: url('/wp-content/themes/tol-parent/images/asset-list-1/range.png') no-repeat 0 50%;
  }
  .games-header-box li.range.active .main-menu-icon {
    background: url('/wp-content/themes/tol-parent/images/asset-list-1/range_h.png') no-repeat 0 50%;
  }
  .games-header-box li.touch .main-menu-icon {
    background: url('/wp-content/themes/tol-parent/images/asset-list-1/touch.png') no-repeat 0 50%;
  }
  .games-header-box li.touch.active .main-menu-icon {
    background: url('/wp-content/themes/tol-parent/images/asset-list-1/touch_h.png') no-repeat 0 50%;
  }
  .games-header-box li.turbobinary .main-menu-icon {
    background: url('/wp-content/themes/tol-parent/images/asset-list-1/turbo.png') no-repeat 0 50%;
  }
  .games-header-box li.turbobinary.active .main-menu-icon {
    background: url('/wp-content/themes/tol-parent/images/asset-list-1/turbo_h.png') no-repeat 0 50%;
  }
  .games-header-box li.onetouch .main-menu-icon {
    background: url('/wp-content/themes/tol-parent/images/asset-list-1/one_touch.png') no-repeat 0 50%;
  }
  .games-header-box li.onetouch.active .main-menu-icon {
    background: url('/wp-content/themes/tol-parent/images/asset-list-1/one_touch_h.png') no-repeat 0 50%;
  }
  .games-header-box li.advanced .main-menu-icon {
    background: url('/wp-content/themes/tol-parent/images/asset-list-1/advanced.png') no-repeat 0 50%;
  }
  .games-header-box li.advanced.active .main-menu-icon {
    background: url('/wp-content/themes/tol-parent/images/asset-list-1/advanced_h.png') no-repeat 0 50%;
  }
  .games-header-box li.ticks .main-menu-icon {
    background: url('/wp-content/themes/tol-parent/images/asset-list-1/5ticks.png') no-repeat 0 50%;
  }
  .games-header-box li.ticks.active .main-menu-icon {
    background: url('/wp-content/themes/tol-parent/images/asset-list-1/5ticks_h.png') no-repeat 0 50%;
  }
  .game-btn-box {
    border: 1px solid #E9E9E9;
  }
  .game-btn-box.active {
    background: transparent;
  }
  .game-btn-box.active span {
    color: @activetabColor;
  }
  #tol-assetsContainer {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABACAIAAABUc4oXAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAB3RJTUUH4QIcBzcg3+VPuQAAAB5JREFUCNdjePDgAcP///+ZGBgY6I4fPnw4YHZDMQCSngu4ZDWhcAAAAABJRU5ErkJggg==');
  }
  .assets-column-header {
    background-color: @bgColor;
    border: none;
    border-top: 1px solid #E9E9E9;
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 35px;
  }
  #tol-assetsContainer .asset-item {
    padding: 0px 8px !important;
    color: @assetItem;
    font-size: 12px;
    line-height: 32px;
  }
  #tol-assetsContainer dd:hover, #tol-assetsContainer .asset-item.active {
    text-decoration: none;
    color: @activetabColor;
  }
  .assets-column-header.currencies {
    background: #FFFFFF url('/wp-content/themes/tol-parent/images/asset-list-1/currencies.png') no-repeat 8px 50%;
  }
  .assets-column-header.commodities {
    background: #FFFFFF url('/wp-content/themes/tol-parent/images/asset-list-1/commodities.png') no-repeat 8px 50%;
  }
  .assets-column-header.indices {
    background: #FFFFFF url('/wp-content/themes/tol-parent/images/asset-list-1/indices.png') no-repeat 8px 50%;
  }
  .assets-column-header.stocks {
    background: #FFFFFF url('/wp-content/themes/tol-parent/images/asset-list-1/stocks.png') no-repeat 8px 50%;
  }
  .assets-column-header.futures {
    background: #FFFFFF url('/wp-content/themes/tol-parent/images/asset-list-1/futures.png') no-repeat 8px 50%;
  }

}

#assetDetailsPopUp {
  background: #000000;
  border-radius: 0;
  width: 350px;
  color: @buttonsColor;
}

#assetDetailsPopUp {
  .asset-details-popup-header {
    background: #000000;
    padding: 15px 30px 0 15px !important;
  }
  .asset-underlying-text, .asset-underlying-symbol {
    text-transform: uppercase;
  }
  .asset-underlying-symbol {
    font-weight: bold;
    color: @activetabColor;
  }
  .asset-details-popup-header p {
    margin: 15px 15px 5px 0;
  }
  .asset-details-popup-content table thead tr td {
    background: #000000;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 32px;
    padding: 9px 5px;
    color: @activetabColor;
    font-weight: bold;
  }
  button.close {
    color: @buttonsColor;
    background: @activetabColor;
    top: 12px;
    padding: 0px 6px 2px;
  }
  button.close:hover {
    background: @activetabColor;
    border: none;
    right: 10px;
  }
  .asset-details-popup-content button {
    border-radius: 0;
  }
  .asset-details-popup-content table tbody tr {
    background: #000000;
    color: @buttonsColor;
    border-bottom: 1px solid #1e2c29;
  }
  .asset-details-popup-content table tbody tr td {
    color: @buttonsColor;
  }
  .asset-details-popup-content button {
    padding: 5px 10px;
  }
  .asset-details-popup-content button:hover {
    color: @buttonsColor;
  }
}

@media screen and (max-width: 769px) and (min-width: 767px) {
  #tol-assetList-layout-1 .games-header-box li {
    min-width: 90px;
    margin-right: 1px;
    text-align: center;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 23px;
  }
}

@media (max-width: 768px) {
  #tol-assetList-layout-1 .games-header-box {
    height: 88px;
  }

  #tol-assetList-layout-1 .games-header-box li {
    min-width: 100px;
    margin: 0 2px 2px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px !important;
  }

  #tol-assetList-layout-1 .games-header-box li .main-menu-icon {
    display: none;
  }

  #tol-assetList-layout-1 .assets-column-header {
    background: none !important;
    font-size: 9px !important;
    padding-left: 8px !important;
    font-weight: bold;
    margin-top: 2px;
  }

  #tol-assetList-layout-1 #tol-assetsContainer .asset-item {
    padding: 0px 8px !important;
    color: #2a2d33;
    font-size: 10px;
    line-height: 10px;
    height: 22px !important;
    display: block;
    margin-top: 10px;
  }
}
