﻿#tol-cashier{
    position: relative;
}
#tol-cashier-main-nav{
    margin-bottom: -1px;
}
#tol-cashier .nav-tabs > li a.active,
#tol-cashier .nav-tabs > li a:hover{
    color: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #ebc300 0%, #b99900 100%);
    background-image: -o-linear-gradient(top, #ebc300 0%, #b99900 100%);
    background-image: linear-gradient(to bottom, #ebc300 0%, #b99900 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebc300', endColorstr='#b99900', GradientType=0);
    border-color: #ffc410;
    text-shadow: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    border-bottom-color: transparent;
    cursor: default;
}
#tol-cashier .nav-tabs > li a{
    color:#FFFFFF;
    cursor: pointer;
}
#tol-cashier .nav-tabs > li a:hover{
    cursor: pointer;
}
#tol-cashier .nav > li.active > a {
    color: #fff;
    border-bottom: 1px solid #378ac7;
}
.table-striped > tbody > tr:nth-of-type(2n+1){
    background-color: gray;
}
#tol-cashier .tol-withdraw-messages{
    margin-top: -100px;
    margin-left: 30px;
}

#tol-cashier .withdrawalHistoryCancelBtn{
    color: #b99900 !important;
}
#loadingElementProcessing {
    position:absolute;
    width: 300px;
    height: 300px;
    background:url("/wp-content/themes/tol-parent/images/cashier-loader.gif") 50% no-repeat;
    text-align: center;
    margin: 0 auto;
    margin-left: 410px;
    margin-top: 80px;
    z-index:11;
}
#loadingElementCashier {
    position:absolute;
    width: 100%;
    height: 100%;
    background: #ddd url("/wp-content/themes/tol-parent/images/cashier-loader.gif") 50% no-repeat;
    text-align: center;
    z-index:11;
    opacity: 0.7;
}
.tol-deposit-fields{
    position: relative;
}
.tol-deposit-fields .validationError{
    position: absolute;
}
.promoCodeLink{
    text-decoration: underline;
    cursor: pointer;
}
.depositSummary {
    color: #000;
    background: #ebc300;
    border: 1px solid #b99900;
    border-radius: 8px;
    padding: 1.5em 0 1em 1em;
}
.depositSummary p {
    display: inline-block;
}
.text-right > .promoCodeLink {
   margin-right: 1.2em;
   margin-top: 2em;
   display: block;
}
.myPaging {
    float: right;
}
.ui-dialog.ui-widget-content {
    /*background: #FFF;*/
    color: #000;
    border: 1px solid #000;
}
.ui-dialog .ui-dialog-content {
    color: #000;
}
.ui-dialog .ui-dialog-buttonpane button:first-of-type {
    background: #FFF;
    border:1px solid #000;
    border-radius: 3px;
    Color: #000;
}

.ui-dialog .ui-dialog-buttonpane button:nth-of-type(2) {
    color: #000000;
    background-image: -webkit-linear-gradient(top, #ebc300 0%, #b99900 100%);
    background-image: -o-linear-gradient(top, #ebc300 0%, #b99900 100%);
    background-image: linear-gradient(to bottom, #ebc300 0%, #b99900 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebc300', endColorstr='#b99900', GradientType=0);
    border-color: #ffc410;
    text-shadow: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    border-bottom-color: transparent;
    cursor: pointer;
}
.ui-widget-content .ui-state-default.ui-dialog-titlebar-close {
    background: url('/wp-content/themes/tol-parent/images/close_btn-white.png') 0 0 no-repeat;
}
#tol-withdraw {
    min-height: 400px;
}
@media (max-width: 767px) {
    .tol-header {
        margin-bottom: 10px;
    }
    #tol-cashier .nav > li {
        width: 17%;
        text-align: center;
        font-size: 1.5em;
    }
    #tol-cashier .nav > li a {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    #tol-cashier .nav > li span {
        display: none;
    }
    .nav-tabs > li {
        margin-bottom: 0;
    }
    #tol-withdraw .tol-withdraw-messages {
        bottom: 200px;
    }
}
@media (min-width: 768px) {
    .form-horizontal .text-left {
        text-align: left;
    }
}
#tol-cashier .clearfix{
    background: #f3f3f3;
    color: #000000;
}
#tol-cashier table tr:nth-child(even) {
    color: #000000 !important;
}