.cashier-wrapper{
    width:980px;
    margin:0 auto;    
}


.cashierContentWrap {
    width: 980px;
    min-height: 500px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius:3px;
    margin-bottom:82px;
}

.browser-msie .cashierContentWrap{
    margin-top:-2.5px;
}

.success-page .cashierContentWrap, .fail-page .cashierContentWrap{
    border-top-left-radius:3px;
}

.cashierStepsWrap{
    width:89px;
    height:225px;
    float:left;
    overflow:hidden;
    background:url(/wp-content/themes/tol-parent/images/steps.png) no-repeat;
    margin-top:68px;
}

.cashier-page.withdraw .cashierStepsWrap {
     height:121px;
}

.cashierStepIndicator {
    width: 24px;
    height: 39px;
    background: url(/wp-content/themes/tol-parent/images/cashier-step.png) no-repeat;
    position: absolute;
    z-index: 12;

}

.withdrawHistory.cashierContent, .bonusHistory.cashierContent, .transactionHistory.cashierContent{
    float:none;
    width:940px;
    top:9px;
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    padding:20px;
}

.browser-msie .withdrawHistory.cashierContent, .browser-msie .bonusHistory.cashierContent, .browser-msie .transactionHistory.cashierContent {
    width:941px;
}
.myDepositBonusesTable, .myBonusesTable{
   width:940px;

}
.withdrawHistoryTableHead, .transactionHistoryTableHead, .bonusHistoryTableHead {
        height:38px;
        border-top-left-radius:5px;
        border-top-right-radius: 5px;
        background: #465962;
        padding:18px 0 0 12px;
        color: #fff;
        text-shadow: rgba(3, 3, 3, 0.45) -1px -1px 0px;
        font-family:Arial;
        font-size:14px;      
}

.myDepositBonusesTable thead tr th, .myBonusesTable thead tr th{
    background:#dfdfdf;
    padding:2px 0 2px 12px;
    height:0px;
    color:#000;
    font-size:13px;
    font-family:'robotoregular';
}

.myDepositBonusesTable thead tr th:first-of-type{
    width:160px;

}
.myDepositBonusesTable thead tr th:nth-of-type(2){
    width:208px;
    
}

.cashier-page thead tr th{
    border-right:1px solid #d5d5d5;
}

.cashier-page thead tr th:last-of-type{
    border-right:none;
}

.myDepositBonusesTable tbody tr td, .myBonusesTable tbody tr td {
    color: #000;
    font-size: 13px;
    font-family: 'robotoregular';
    background:#efefef;
    padding:9px 0 9px 12px;
    border-bottom:1px solid #dee2e3;
}

.withdrawalHistoryCancelBtn, .bonusHistoryDescriptionBtn {
    text-decoration: none;
    font-size: 13px;
    font-family: 'robotoregular';
    color:#465962;
}

.cashierContent {
    position: relative;
    width: 890px;
    float: right;
    min-height: 491px;
    background: #eee;
    border-radius: 3px;
}

.cashier .entry-title{
    display: none;
}

.depositSummary {
    padding: 26px 0 22px 20px;
}
.promoCodeLink {
    font-family: 'robotoregular';
    font-size: 14px;
    color: #333;
    cursor: pointer;
    text-decoration: underline;
    float: left;
    margin-left: 20px;
}
.depositSummary p{
    display:inline-block;
    font-family:'robotoregular';
    font-size:14px;
}

.depositSummary p:first-of-type{
    font-family:'robotoregular';
    font-weight:bold;
    font-size:14px;
}

.depositSuccess{
    margin:35px 0 0 35px;
    padding: 14px 0 22px 20px;
}

.ccDepositButtons input[type="button"], .cashierWithdraw input[type="button"] {
    border-radius: 3px;
    border-bottom: 3px solid #176301;
    background: rgba(177,210,93,1);
    background: -moz-linear-gradient(top, rgba(177,210,93,1) 0%, rgba(45,119,29,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(177,210,93,1)), color-stop(100%, rgba(45,119,29,1)));
    background: -webkit-linear-gradient(top, rgba(177,210,93,1) 0%, rgba(45,119,29,1) 100%);
    background: -o-linear-gradient(top, rgba(177,210,93,1) 0%, rgba(45,119,29,1) 100%);
    background: -ms-linear-gradient(top, rgba(177,210,93,1) 0%, rgba(45,119,29,1) 100%);
    background: linear-gradient(to bottom, rgba(177,210,93,1) 0%, rgba(45,119,29,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1d25d', endColorstr='#2d771d', GradientType=0 );
    font-family: 'robotoregular';
    font-size: 13px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 9px 20px 7px 20px;
    float: left;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 4px 20px 0 0;
    cursor: pointer;
}
.cashierWithdraw input[type="button"] {
    float: right;
}
 .ccDepositButtons input[type="button"]:hover, .cashierWithdraw input[type="button"]:hover {
    border-radius: 3px;
    border-bottom: 3px solid #256017;
    background: rgba(94,161,77,1);
    background: -moz-linear-gradient(top, rgba(94,161,77,1) 0%, rgba(43,110,26,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(94,161,77,1)), color-stop(100%, rgba(43,110,26,1)));
    background: -webkit-linear-gradient(top, rgba(94,161,77,1) 0%, rgba(43,110,26,1) 100%);
    background: -o-linear-gradient(top, rgba(94,161,77,1) 0%, rgba(43,110,26,1) 100%);
    background: -ms-linear-gradient(top, rgba(94,161,77,1) 0%, rgba(43,110,26,1) 100%);
    background: linear-gradient(to bottom, rgba(94,161,77,1) 0%, rgba(43,110,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ea14d', endColorstr='#2b6e1a', GradientType=0 );
    font-size: 13px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 9px 20px 7px 20px;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 4px 20px 0 0;
}

.withdrawButns{
    position:relative;
    margin-left:400px;
    margin-right:20px;
}


.cashier-menu{
    width:980px !important;
    height:36px;
    margin-left: 32px;
}
.cashier-menu ul li{
    display:inline-block;
}

    .cashier-menu ul li a {
        display: inline-block;
        background: rgb(70,89,98);
        padding: 5px;
        font-family: Arial;
        font-size: 13px;
        text-decoration: none;
        position: relative;
        color: #FFF;
        width: 152px;
        height: 21px;

    }
    


.cashier-menu ul li a.active{
    padding: 5px;
}

.cashierWithdraw input{
    margin-top:12px;
}

.cashier-menu ul li a span{
    position:relative;
    bottom:6px;
}

    .cashier-menu ul li a.active span, .cashier-menu ul li a.active .icon {
        color: #b1d25d;
        text-shadow: rgba(3, 3, 3, 0.45) -1px -1px 0px;    
    }

.cashier-menu .icon{
    font-size:23px;
    color:#FFF;
    text-shadow: rgba(255, 255, 255, 0.45) 0px 2px 0px;
}

.cashierFiedsets input[type="text"], .cashierFiedsets select, .nettelerFields .netellerUserPassword, .cashierCreditCardDeposit .Amount, .cashierWithdraw input[type="text"], .cashierWithdraw select, .cashierDDL {
    width: 240px;
    height: 30px;
    box-shadow: inset 1px 1px 0px 0px #E2DEDE;
    -webkit-box-shadow: inset 1px 1px 0px 0px #E2DEDE;
    -moz-box-shadow: inset 1px 1px 0px 0px #E2DEDE;
    -o-box-shadow: inset 1px 1px 0px 0px #E2DEDE;
    padding: 0 0 0 6px;
    font-family: 'robotoregular';
    font-size: 16px;
    border: none;
    border-radius: 3px;
    color: #333;
    line-height: 30px;
    background: #fff;

}

.cashierDDL {
    background-image: url(/wp-content/themes/tol-parent/images/arrowDark.png);
    background-repeat: no-repeat;
    background-position: right center;
    overflow: hidden;
    cursor: pointer;
    margin-top:20px !important;
}

.cashierAmountWrapper .savedCreditCardWrap .cashierDDL{
    margin-top: 10px !important;
}

.demoUser .cashierDepositMethod .cashierDDL{
    margin-top: 20px !important;
}

.cashierFiedsets select, .cashierWithdraw select{
    width:246px;
}

.cashierFiedsets .label, .labelUsing, .cashierWithdraw .label, .ddlLabel {
    font-family:'robotoregular';
    font-size:16px;
    color:#333;
}

.cashierFiedsets .label, .cashierWithdraw .label, .ddlLabel{
    display: inline-block;
    width: 146px;
}


.label.additionalInfo{
    width:415px;
    margin-left:38px; 
    position:absolute;
    margin-top:18px;
    display: none !important;
}



.cashierFiedsets, .cashierWithdraw{
    margin:30px 32px 0px 32px;
}
.cashierFiedsets {
    min-height: 360px;
    box-shadow: 0px 5px 10px 0px black;
    padding:  5px;
}
.cashierField{
    margin:22px 0 0 0;   
}
.cashierField-border{
    border-top:1px solid #e2dede;
    border-bottom:1px solid #fff;
    width:900px;
    display:block;
    margin-top:22px;
}
.promotionalCode{
    margin-bottom:22px;
    margin-top:22px;
    /*margin-left: 40px;*/
    position:relative;
}
.promotionalCode input.promoCode {
    left: 188px;
    position: absolute;
    top: 0;
}
.cashierCurencySelectWrapper {
    margin-bottom:10px;
}
.nettelerFields .label:nth-of-type(2), .labelUsing {
    margin-left:42px;
    width: 146px;
    display:inline-block;

}


.nettelerField input[type="text"]{
    width:248px;
}

#loadingElementProcessing {
    position:absolute;
    width: 300px;
    height: 300px;
    background: url(/wp-content/themes/tol-parent/images/preloader_bgr_grey.gif) no-repeat center top;
    text-align: center;
    margin: 0 auto;
    margin-left: 380px;
    margin-top: 212px;
    z-index:11;
}

#loadingElementCashier {
    position:absolute;
    width: 0;
    height: 0;
    background: url(/wp-content/themes/tol-parent/images/preloader_bgr_grey.gif) no-repeat center top;
    text-align: center;
    margin: 0 auto;
    margin-left: 0;
    margin-top: 0;
    z-index:11;
    display:none !important;
}

.ccDepositDetails, .ccdepositBillingDetails, .cashierWithdawColum1, .cashierWithdawColum2{
    width:420px;
}

.ccDepositDetails, .cashierWithdawColum1{
    float:left;   
}

.cashierWithdawColum1{
    margin-top:8px;
    min-height:300px;
}

.cashierWithdawColum2{
    float:right;
    margin-right:16px;
    min-height:300px;
}

.ccdepositBillingDetails {
    float:right;
    margin:30px 16px 0 0;
}

.ccDepositDetails input[type="text"], .ccDepositDetails select, .ccdepositBillingDetails input[type="text"], .ccdepositBillingDetails select{
    margin-top:12px;
}

.cashierCreditCardDeposit .Amount{
    display:inline-block;
    background:#ebebeb;
}
.cashierCreditCardDeposit .CCexpirationMonth{
    width:156px;
    margin-right:8px;
}
.cashierCreditCardDeposit .CCexpirationYear{
    width:67px;
}
.validationError {
    position: absolute;
    top: auto;
    left: auto;
    margin-top:-5px;
}
#depositAmountInput + .validationError {
    margin-left:192px;
    margin-top:0;
}
span.cashierLabelCountry,
span.stateProvinceLabel {
    vertical-align:bottom;
}


/*Pagination*/





.cashier-page .myPaging{
    width:940px;
    background:#eaeaea;
    margin:0;
    height:24px;
    padding:6px 0 6px 0;
    border-bottom:2px solid #d4d8d9;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    text-align:right !important;
}



.withdrawMessages{
    position:absolute;
    top:0 !important;
}

.withdrawMessages span{
    font-family:'robotoregular';
    font-size:14px;
    color:#000;
}

.cashierDepositMethod  .ddlLabel{
    position:relative;
    top:-8px;
}

.savedCreditCardWrap {
    position: relative;
    top: -8px;
    left: -22px;
    float: right;
}
.depositSummary p {
    color:#000;
}
.cashierDepositMethod span.ddlLabel {
    /*top:0;*/
}
.cashierDepositMethod.cashierField .styled_cashier,
.cashierCurencySelect .savedCreditCardWrap.styled_cashier,
.cashierWithdawColum1 .styled_cashier,
.ccDepositDetails .styled_cashier,
.ccdepositBillingDetails .styled_cashier {
    width:246px;
    overflow:hidden;
    display:inline-block;
}
.ccDepositDetails span[data-translate="cashierLabelCardType"] {
    position:relative;
    top:-8px;
}

.cashierDepositMethod.cashierField select,
.cashierCurencySelect .savedCreditCardWrap.styled_cashier select,
.cashierWithdawColum1 .styled_cashier select,
.ccDepositDetails .styled_cashier select.cashierCardType.cashierDDL,
.ccdepositBillingDetails .styled_cashier select.cashierCountrySelect.cashierDDL,
.ccdepositBillingDetails .styled_cashier select.cashierProvinceField.cashierDDL  {
    width:266px;
    background-image: url('/wp-content/themes/tol-parent/images/arrowDark.png');
    background-repeat: no-repeat;
    background-position: 90% center;
    border: 0;
}
.ccDepositDetails .CCexpMonth.styled_cashier {
    width:156px;
    display:inline-block;
    overflow:hidden;
}
.ccDepositDetails .CCexpYear.styled_cashier {
    width:77px;
    display:inline-block;
    margin-left:10px;
    overflow:hidden;
}
.ccDepositDetails .CCexpMonth.styled_cashier select {
    width:176px;
    background-image: url('/wp-content/themes/tol-parent/images/arrowDark.png');
    background-repeat: no-repeat;
    background-position: 83% center;
    border: 0;
}
.ccDepositDetails .CCexpYear.styled_cashier select {
    width:97px;
    background-image: url('/wp-content/themes/tol-parent/images/arrowDark.png');
    background-repeat: no-repeat;
    background-position: 72% center;
    border: 0;
}
.cashierCurencySelectWrapper .styled_cashier {
    width:246px;
    overflow:hidden;
    display:inline-block;
}
.cashierCurencySelectWrapper .styled_cashier select {
    background-image: url("/wp-content/themes/tol-parent/images/arrowDark.png");
    background-position: 90% center;
    background-repeat: no-repeat;
    border: 0 none;
    width: 266px;
}
.cashierCurencySelectWrapper .ddlLabel {
    top:-10px;
    position:relative;
}
.cashierContent .iframeHolder {
    height:400px;
    padding:50px 50px 0 50px;
}
.cashierStepsWrap {
    display:none;
}
.cashierContent {
    width:100%;
}

.paymentStepsSprite .ddlLabel,
.paymentStepsSprite .label {
    padding-left: 40px;
    height: 33px;
    line-height: 33px;
}

    .paymentStepsSprite.depositField1 .ddlLabel,
    .paymentStepsSprite.depositField1 .label{
        background: url("/wp-content/themes/tol-parent/images/paymentSteps1.png") 0 0 no-repeat;
    }

    .paymentStepsSprite.depositField2 .ddlLabel,
    .paymentStepsSprite.depositField2 .label{
        background: url("/wp-content/themes/tol-parent/images/paymentSteps2.png") 0 0 no-repeat;
    }

    .paymentStepsSprite.depositField3 .ddlLabel,
    .paymentStepsSprite.depositField3 .label{
        background: url("/wp-content/themes/tol-parent/images/paymentSteps3.png") 0 0 no-repeat;
    }

    .paymentStepsSprite.depositField4 .ddlLabel,
    .paymentStepsSprite.depositField4 .label{
        background: url("/wp-content/themes/tol-parent/images/paymentSteps4.png") 0 0 no-repeat;
    }

.PaymentSteps {
    /*background: url("/wp-content/themes/tol-parent/images/payment_steps.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    display: inline-block;
    margin-right: 5px;
    width: 35px;
    height: 33px;
    position: relative;
    top: 0px;
    /*background-color: #425A81;*/
}

.paymentSteps2{
    background: url("/wp-content/themes/tol-parent/images/paymentSteps2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 32px;
    position: relative;
    width: 40px;
}
.PaymentSteps.PaymentSteps0 {
    background-position: 0 0;
}
.PaymentSteps.PaymentSteps1 {
    background-position: 0 -95px;
    top:12px;
}
.PaymentSteps.PaymentSteps2{
    top:12px;
}
.cashier{
    background: #eee;
    border-radius: 4px;
}
.depositBTN{
    float: right;
    background: url("/wp-content/themes/tol-parent/images/depositBtn.jpg") no-repeat; 
    width: 269px;
    height: 38px;
    margin-top: 90px;
    margin-right: 20px;
    font-size: 0;
    border: 0;
}

.sslRound{
    background: url("/wp-content/themes/tol-parent/images/ssl-round.png") no-repeat;
    width: 127px;
    height: 127px;
    position: absolute;
    top: 150px;
    right:120px;
}
.pageLink{
    background: #465962;
    border-bottom: 1px solid #465962;
}
.ui-dialog-titlebar-close{
    right: 0;
}
.ui-dialog-titlebar-close .ui-button-text{
    display: none;
}