﻿#tol-cashier{
    position: relative;
}
#tol-cashier-main-nav{
    margin-bottom: 10px;
}
#tol-cashier .nav-tabs > li a.active{
    border-bottom-color: transparent;
    cursor: default;
    background: #1070B4;
}
#tol-cashier .nav > li.active > a {
    color: #fff;
    border-bottom: 1px solid #378ac7;
}
#loadingElementProcessing {
    position:absolute;
    width: 300px;
    height: 300px;
    background:url("/wp-content/themes/tol-parent/images/cashier-loader.gif") 50% no-repeat;
    text-align: center;
    margin: 0 auto;
    margin-left: 410px;
    margin-top: 80px;
    z-index:11;
}
#loadingElementCashier {
    position:absolute;
    width: 100%;
    height: 100%;
    background: #ddd url("/wp-content/themes/tol-parent/images/cashier-loader.gif") 50% no-repeat;
    text-align: center;
    z-index:11;
    opacity: 0.7;
}
.tol-deposit-fields{
    position: relative;
}
.tol-deposit-fields .validationError{
    position: absolute;
}
.promoCodeLink{
    text-decoration: underline;
    cursor: pointer;
}
.depositSummary {
    color: #000;
    background: #def4fb;
    border: 1px solid #c3e4ef;
    border-radius: 8px;
    padding: 1.5em 0 1em 1em;
}
.depositSummary p {
    display: inline-block;
}
.text-right > .promoCodeLink {
   margin-right: 1.2em;
   margin-top: 2em;
   display: block;
}
.myPaging {
    float: right;
}
.ui-dialog.ui-widget-content {
    /*background: #FFF;*/
    color: #000;
    border: 1px solid #000;
}
.ui-dialog .ui-dialog-content {
    color: #000;
}
.ui-dialog .ui-dialog-buttonpane button:first-of-type {
    background: #FFF;
    border:1px solid #000;
    border-radius: 3px;
    Color: #000;
}

.ui-dialog .ui-dialog-buttonpane button:nth-of-type(2) {
    background: #1070B4;
    color: #FFF;
    border-top: 1px solid #75BAED;
    border-bottom: 1px solid #173C59;
    border-radius: 3px;
    cursor: pointer;
}
.ui-widget-content .ui-state-default.ui-dialog-titlebar-close {
    background: url('/wp-content/themes/tol-parent/images/close_btn-white.png') 0 0 no-repeat;
}
#tol-withdraw {
    min-height: 400px;
}
@media (max-width: 767px) {
    .tol-header {
        margin-bottom: 10px;
    }
    #tol-cashier .nav > li {
        width: 17%;
        text-align: center;
        font-size: 1.5em;
    }
    #tol-cashier .nav > li a {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    #tol-cashier .nav > li span {
        display: none;
    }
    .nav-tabs > li {
        margin-bottom: 0;
    }
    #tol-withdraw .tol-withdraw-messages {
        bottom: 200px;
    }
    .tol-cashier.success-page .entry-content.well{
        width: 98%;
    }
}
@media (min-width: 768px) {
    .form-horizontal .text-left {
        text-align: left;
    }
}
#divExtraFields {
    width: 50%;
}
.extrafields-wrapper {
    margin-top: 5px;
    display: inline-block;
    margin-left: 8px;
    width: 32.3%;
}
#divExtraFields .label {
    color: #333;
    font-weight: 300;
    font-family: Roboto;
    white-space: nowrap;
    text-indent: -20px;
    font-size: 14px;
}
#divExtraFields input {
    width: 52.7%;
    border: 1px solid #ddd;
    height: 30px;
    border-radius: 3px;
    margin-bottom: 15px;
}
#divExtraFields .validationError {
    margin-left: 18%;
    margin-top: -17px;
}
.depositSummary {
    margin-top: 10px;
}
.form-group.col-xs-12.col-sm-12 #text_icl-3 .validationError,
.form-group.col-xs-12.col-sm-12 #text_icl-3 input,
.form-group.col-xs-12.col-sm-12 #text_icl-3 .extrafields-wrapper{
    display: none;
}
@media (max-width: 768px) {
    .extrafields-wrapper {
        margin-left: 0;
    }

    #divExtraFields .label {
        padding-left: 0;
    }

    #tol-cashier label {
        display: block !important;
        margin-bottom: 0px;
    }

    #divExtraFields {
        width: 100%;
        padding: 0 15px;
    }

    #divExtraFields input {
        width: 100%;
        margin-bottom: 1px;
    }

    #tol-cashier-layout-1 {
        overflow-y: hidden;
    }
}

.ui-dialog.ui-widget-content[aria-describedby="bonusAcceptDialog"] {
    padding: 0 !important;
}