#tol-cashier {
    padding: 0 40px 40px;
}
.maincolumn {
    width: 575px;
}
#tol-cashier.well {
    padding-top: 40px;
}
#tol-cashier h3 {
    color: #F1592A;
    font-size: 1.3em;
    margin-bottom: 5px;
}
#tol-cashier img {
    margin-left: -7px;
}
#tol-cashier .step-wrapper {
    margin-bottom: 15px;
    position: relative;
}
#tol-cashier .how-to-deposit-qr-step-2 {
    position: absolute;
    float: right;
    bottom: 25px;
    right: 55px;
    padding-top: 10px;
}
.form-field-for-qr {
    position: relative;
}
#tol-cashier .form-field-for-qr .input-field-for-qr {
    width: 46%;
    height: 40px;
    position: absolute;
    top: -122px;
    left: 13%;
    border: 0;
    background: #f5f7f9;
    padding-top: 10px;
    font-size: 13px;
}
.email-bitcoin-wrapper, .nf-form-title, .nf-before-form-content {
    display: none;
}
.nf-after-field .nf-error-msg {
    position: absolute;
    margin-top: -5px;
}
.nf-after-form-content {
    position: absolute;
    margin-top: -145px;
    margin-left: 140px;
}
#nf-form-3-cont h3, .nf-form-wrap > .nf-response-msg {
    position: absolute;
    margin-left: 150px;
    margin-top: -290px;
}
#tol-withdraw {
    padding-top: 40px;
}
#tol-cashier-main-nav {
    margin-top: 30px;
}
#tol-cashier-main-nav .nav-tabs > li {
    margin-bottom: 0;
}
#tol-withdraw .tol-withdraw-messages {
    bottom: 25px;
    width: 70%;
    float: left;
    font-size: 15px;
    font-family: 'robotoregular';
}
#tol-withdraw .tol-withdraw-messages span[data-translate=cashierWithdrawErrorCC] {
    color: red;
}
#tol-withdraw .tol-withdraw-messages span[data-translate=cashierWithdrawOK] {
    bottom: 150px;
    position: relative;
}
#tol-cashier-layout-1 .nf-form-content  {
    padding: 15px;
    position: absolute;
    margin-top: -400px;
    margin-left: 40px;
    width: 514px;
}
.nf-field-label label {
    font-weight: normal !important;
    font-family: robotoregular;
    font-size: 15px;
}
.nf-form-content input[type=text] {
    background: #F5F7F9;
    height: 39px;
    line-height: 39px;
    border: 0;
    color: #000;
    font-weight: normal;
    font-family: robotoregular;
    font-size: 15px;
    padding-left: 10px;
}
.nf-field-container, #ninja_forms_required_items {
    margin-bottom: 20px;
}
.nf-form-content input[type=button] {
    background: #F1592A;
    color: #ffffff;
    border-radius: 3px;
    height: 34px;
    min-width: 105px;
    line-height: 33px;
    text-align: center;
    border: 0;
    box-shadow: none;
    font-weight: normal;
    font-family: robotoregular;
    font-size: 15px;
    text-transform: uppercase;
}
.nf-form-content .submit-wrap {
    text-align: center;
}
.confirmation-steps {
    height: 280px;
    background: #ffffff;
    -webkit-box-shadow: 0 0 6px 2px #ccc;
    -moz-box-shadow: 0 0 5px 2px #ccc;
    box-shadow: 0 0 6px 2px #ccc;
    width: 514px;
}
#tol-cashier .form-field-for-recipient .input-field-for-recipient {
    width: 67%;
    height: 40px;
    position: absolute;
    top: 34%;
    right: 15%;
    border: 0;
    background: transparent;
}
#tol-cashier-layout-1 .entry-content .bold {
    font-weight: bold;
}
#tol-cashier-layout-1 .info-after-cashier {
    padding: 15px;
}
.how-to-deposit-picture-step-2-mobile {
    display: none;
}
@media (max-width: 768px) {
    #tol-cashier {
        padding: 0 15px;
    }
    #tol-cashier-layout-1 .nf-form-content {
        margin-top: -365px;
        margin-left: 16px;
    }
    #tol-cashier .form-field-for-recipient .input-field-for-recipient {
        height: 25px;
        top: -528px;
        right: 60px;
        font-size: 12px;
    }
    #tol-cashier #tol-cashier-main-nav ul li {
        width: 100%;
        text-align: center;
    }
    #tol-cashier-main-nav .nav-tabs > li {
        width: 100%;
    }
    #tol-cashier-main-nav .nav-tabs > li i {
        display: none;
    }
    .nf-form-errors .nf-error-msg.nf-error-field-errors {
        margin-top: 20px;
    }
}
@media (max-width: 574px) {
    .maincolumn {
        width: 100%;
    }
    .form-field-for-qr {
        position: relative;
        width: 258px;
        margin: 0 auto;
    }
    #tol-cashier img {
        z-index: 2;
        position: relative;
    }
    .confirmation-steps {
        width: 100%;
    }
    #tol-cashier-layout-1 .nf-form-content {
        padding: 15px 30px;
        position: relative;
        top: -358px;
        margin-left: 0;
        width: 100%;
        margin-top: 0;
        height: 0;
    }
    .how-to-deposit-picture-step-2 {
        display: none;
    }
    #tol-cashier img.how-to-deposit-picture-step-2-mobile {
        display: block;
        margin: 0 auto;
    }
    .mobile-steps-back {
        height: 339px;
        background: #ffffff;
        -webkit-box-shadow: 0 0 6px 2px #ccc;
        -moz-box-shadow: 0 0 5px 2px #ccc;
        box-shadow: 0 0 6px 2px #ccc;
        width: 100%;
        display: block;
        position: absolute;
        margin-top: -339px;
        z-index: 1;
    }
    #tol-cashier .form-field-for-qr .input-field-for-qr {
        width: 263px;
        z-index: 2;
        top: -257px;
        left: 38px;
        background: transparent;
        font-size: 11px;
        position: relative;
    }
    #tol-cashier .how-to-deposit-qr-step-2 {
        right: 0;
        margin: 0 auto;
        bottom: 132px;
        position: relative;
        float: none;
    }
    .nf-after-form-content {
        margin-top: -155px;
        margin-left: 35px;
    }
    .step-wrapper.deposit-step-2 {
        max-height: 450px;
    }
    .page-cashier .entry-content {
        font-size: 13px;
    }
    .nf-form-errors .nf-error-msg.nf-error-field-errors {
        margin-top: 5px;
        margin-left: -15px;    
    }
}
@media (max-width: 320px) {
    #tol-cashier .step-wrapper {
        margin-bottom: 5px;
    }
    .nf-form-errors .nf-error-msg.nf-error-field-errors {
        width: 251px;  
    }
}