﻿#tol-cashier{
    position: relative;
    background: #262626;
}
#tol-cashier table thead {
    background: #000;
}
#tol-cashier .table-striped > tbody > tr:nth-of-type(even) {
    background: #353232;
}
#tol-cashier-main-nav{
    margin-bottom: 10px;
}
#tol-cashier .nav > li.active > a {
    color: #fff;
    border-bottom: 1px solid #378ac7;
}
#loadingElementProcessing {
    position:absolute;
    width: 300px;
    height: 300px;
    background:url("/wp-content/themes/tol-parent/images/cashier-loader.gif") 50% no-repeat;
    text-align: center;
    margin: 0 auto;
    margin-left: 410px;
    margin-top: 80px;
    z-index:11;
}
#loadingElementCashier {
    position:absolute;
    width: 100%;
    height: 100%;
    background: #ddd url("/wp-content/themes/tol-parent/images/cashier-loader.gif") 50% no-repeat;
    text-align: center;
    z-index:11;
    opacity: 0.7;
}
.tol-deposit-fields{
    position: relative;
}
.tol-deposit-fields .validationError{
    position: absolute;
    top: 31px;
}
.promoCodeLink{
    text-decoration: underline;
    cursor: pointer;
}
.depositSummary {
    color: #000;
    background: #BBBD5D;
    border: 1px solid #EDCC58;
    border-radius: 8px;
    padding: 1.5em 0 1em 1em;
}
.depositSummary p {
    display: inline-block;
}
.text-right > .promoCodeLink {
    margin-right: 1.2em;
    margin-top: 2em;
    display: block;
}
@media (max-width: 767px) {
    .tol-header {
        margin-bottom: 10px;
    }

    #tol-cashier .nav > li {
        /*float:none*/
        width: 17%;
        text-align: center;
        font-size: 1.5em;
    }

    #tol-cashier .nav > li a {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    #tol-cashier .nav > li span {
        display: none;
    }
}

@media (min-width: 768px) {
    .form-horizontal .text-left {
        text-align: left;
    }
}
.myPaging {
    float: right;
}
.ui-dialog.ui-widget-content {
    /*background: #FFF;*/
    color: #000;
    border: 1px solid #000;
}
.ui-dialog .ui-dialog-buttonpane button:first-of-type {
    background: #FFF;
    border:1px solid #000;
    border-radius: 3px;
    Color: #000;
}
.ui-widget-content .ui-state-default.ui-dialog-titlebar-close {
    background: url('/wp-content/themes/tol-parent/images/close_btn-white.png') 0 0 no-repeat;
}
.has-secondary #tol-breadcrumb-wrapper{display:none;}