﻿#tol-cashier{
    position: relative;
}
#tol-cashier .nav-tabs > li > a {
    background: transparent;
}
#tol-cashier .btn-primary {
    background-color: #34909f;
    background-image: -webkit-linear-gradient(top, #34909f, #4bacb9);
    background-image: -moz-linear-gradient(top, #34909f, #4bacb9);
    background-image: -o-linear-gradient(top, #34909f, #4bacb9);
    background-image: -ms-linear-gradient(top, #34909f, #4bacb9);
    background-image: linear-gradient(top, #34909f, #4bacb9);
    background-repeat: repeat-x;
    color: #ffffff;
     margin-left: 15px;
}
#tol-cashier .btn-primary:hover {
    background-color: #34909f;
    background-image: -webkit-linear-gradient(top, #4bacb9, #34909f);
    background-image: -moz-linear-gradient(top, #4bacb9, #34909f);
    background-image: -o-linear-gradient(top, #4bacb9, #34909f);
    background-image: -ms-linear-gradient(top, #4bacb9, #34909f);
    background-image: linear-gradient(top, #4bacb9, #34909f);
    background-repeat: repeat-x;
    color: #000;
    margin-left: 15px;
}
    #tol-cashier-main-nav{
        margin-bottom: 10px;
    }
        #tol-cashier .nav-tabs > li a.active{
            border-bottom-color: transparent;
            cursor: default;
            background: #4CB2C0;
        }
        #tol-cashier .nav > li.active > a {
            color: #fff;
            border-bottom: 1px solid #378ac7;
        }
    #loadingElementProcessing {
        position:absolute;
        width: 300px;
        height: 300px;
        background:url("/wp-content/themes/tol-parent/images/cashier-loader.gif") 50% no-repeat;
        text-align: center;
        margin: 0 auto;
        margin-left: 410px;
        margin-top: 80px;
        z-index:11;
    }
    #loadingElementCashier {
        position:absolute;
        width: 100%;
        height: 100%;
        background: #ddd url("/wp-content/themes/tol-parent/images/cashier-loader.gif") 50% no-repeat;
        text-align: center;
        z-index:11;
        opacity: 0.7;
    }
    .tol-deposit-fields{
        position: relative;
    }
        .tol-deposit-fields .validationError{
            position: absolute;
        }
        .promoCodeLink{
            text-decoration: underline;
            cursor: pointer;
        }
        .depositSummary {
            color: #000;
            background: #def4fb;
            border: 1px solid #c3e4ef;
            border-radius: 8px;
            padding: 1.5em 0 1em 1em;
            margin-left:15px;
        }
            .depositSummary p {
                display: inline-block;
            }
            
@media (max-width: 767px) {
    .tol-header {
        margin-bottom: 10px;
    }

    #tol-cashier .nav > li {
        /*float:none*/
        width: 17%;
        text-align: center;
        font-size: 1.5em;
    }

        #tol-cashier .nav > li a {
            padding-bottom: 5px;
            padding-top: 5px;
        }

        #tol-cashier .nav > li span {
            display: none;
        }
}

    @media (min-width: 768px) {
        .form-horizontal .text-left {
            text-align: left;
        }
    }
.myPaging {
    float: right;
}
.ui-dialog.ui-widget-content {
    /*background: #FFF;*/
    color: #000;
    border: 1px solid #000;
}
.ui-dialog .ui-dialog-content {
    color: #000;
}
.ui-dialog .ui-dialog-buttonpane button:first-of-type {
    background: #FFF;
    border:1px solid #000;
    border-radius: 3px;
    Color: #000;
}

.ui-dialog .ui-dialog-buttonpane button:nth-of-type(2) {
    background: #1070B4;
    color: #FFF;
    border-top: 1px solid #75BAED;
    border-bottom: 1px solid #173C59;
    border-radius: 3px;
    cursor: pointer;
}
.ui-widget-content .ui-state-default.ui-dialog-titlebar-close {
    background: url('/wp-content/themes/tol-parent/images/close_btn-white.png') 0 0 no-repeat;
}
#tol-withdraw {
    min-height: 400px;
}

.promoCodeLink {
   display: none;
}
.wireTransfer .entry-content.well{
    border: 0;
    box-shadow: none;
}
.tol-deposit-fields.wireTransfer #tol-breadcrumb-wrapper{
    display: none;
}
.tol-deposit-fields.wireTransfer .entry-title{
    color:#50667D;
}

.tol-deposit-fields .promoCodeLink {
    display: none !important;
}