#tol-cashier-layout-1.container {
    width: 1170px;
}

#tol-cashier {
    position: relative;
}

#tol-cashier-main-nav {
    margin: 50px 0 10px;
}

#tol-assetList-layout-4 .games-header-box, #tol-cashier-layout-1 #tol-cashier-main-nav .nav-tabs, .forexswaprates-menu {
    list-style-type: none;
    float: none;
    text-align: left;
    border: 2px solid #EAEAEa;
    font-family: Roboto-Bold;
    font-size: 17px;
    padding-left: 0;
    padding-right: 0;
}

#tol-cashier-layout-1 #tol-cashier-main-nav .nav-tabs li {
    width: 25%;
    border: 0;
    display: inline-block;
    cursor: pointer;
    line-height: 3.5;
    text-align: center;
}

#tol-cashier-layout-1 #tol-cashier-main-nav .nav-tabs li a {
    background: none;
    background-image: none;
    color: #818181;
    border-radius: 0;
    margin: 0;
}

.lang-fr #tol-cashier-layout-1 #tol-cashier-main-nav .nav-tabs li a {
    height: 69px;
    line-height: 43px;
    text-transform: uppercase;
}

.lang-fr #tol-cashier-layout-1 #tol-cashier-main-nav .nav-tabs li:nth-child(3) > a,
.lang-fr #tol-cashier-layout-1 #tol-cashier-main-nav .nav-tabs li:nth-child(4) > a,
.lang-fr #tol-cashier-layout-1 #tol-cashier-main-nav .nav-tabs li:nth-child(5) a {
    line-height: 26px;
}

#tol-assetList-layout-4 .games-header-box li.active, #tol-cashier-layout-1 #tol-cashier-main-nav .nav-tabs li a.active,
#tol-assetList-layout-4 .games-header-box li:hover, #tol-cashier-layout-1 #tol-cashier-main-nav .nav-tabs li a:hover {
    background: #EAEAEa;
    color: #4053b5;
}

#tol-cashier-layout-1 #tol-cashier-main-nav .nav-tabs li a.active:after {
    content: '';
    display: block;
    position: absolute;
    left: 45%;
    top: 100%;
    width: 0;
    height: 0;
    border-top: 20px solid #EAEAEa;
    border-right: 20px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 20px solid transparent;
}

#tol-cashier-layout-1 .control-label {
    width: 100%;
    font-size: 20px;
    font-family: robotoregular;
    color: #5c5c5c;
    font-weight: normal;
}

#tol-cashier-layout-1 #tol-cashier .tol-deposit-fields, #tol-cashier-layout-1 #tol-deposit-newCC-wrapper {
    font-size: 20px;
    font-family: robotoregular;
    color: #5c5c5c;
}

.cashier-wrapper-bottom-fields {
    display: none;
}

.cashierWithdrawCannotBeMoreThan, .withdraw-btn-wrapper {
    padding-left: 30px;
}

.withdraw-btn-wrapper .btn {
    width: 49%;
}

div#tol-assetList-layout-4 .assets-column-header, #tol-cashier-layout-1 #tol-bonus-history .table-striped.cashier-bonus-history thead tr th, #tol-cashier-layout-1 #tol-withdraw-history .table-striped thead tr th, #tol-cashier-layout-1 #tol-transaction-history .table-striped thead tr th, .page-past-expiries .table-striped thead tr th, .page-template-data-binarex .table-striped thead tr th, .page-my-trades .table-striped thead tr th {
    background: #fff;
    font-size: 20px;
    font-family: 'robotoregular';
    color: #333;
    border-bottom: 5px solid #ebebeb;
    padding: 8px;
    line-height: 1.428571429;
    text-transform: capitalize;
    text-align: left;
}

#tol-cashier-layout-1 #tol-cashier tbody,
#tol-inbox-layout-1 .table-striped > tbody tr td,
.page-past-expiries .table-striped > tbody tr td,
.page-template-data-binarex .table-striped > tbody tr td {
    font-size: 25px;
    border: none;
    padding: 8px;
}

#tol-cashier .table-striped > tbody > tr:nth-child(odd),
#tol-cashier .table-striped > tbody > tr:nth-child(odd):hover,
#tol-pastExpiries-layout-1 .table-striped > tbody > tr:nth-child(odd),
#tol-pastExpiries-layout-1 .table-striped > tbody > tr:nth-child(odd):hover {
    background-color: #FFFFFF;
}

#tol-cashier .table-striped > tbody > tr:nth-of-type(even),
#tol-cashier .table-striped > tbody > tr:nth-of-type(even):hover,
#tol-pastExpiries-layout-1 .table-striped > tbody > tr:nth-child(even),
#tol-pastExpiries-layout-1 .table-striped > tbody > tr:nth-child(even):hover {
    background-color: #f9f9f9;
}

#tol-cashier-layout-1 #tol-cashier tbody tr td,
#tol-pastExpiries-layout-1 #tol-cashier tbody tr td {
    border: none;
    padding: 10px 5px;
    color: #000;
    font-size: 16px;
    font-family: 'robotolight';
    text-align: left;
}

#tol-cashier-layout-1 .table tr:hover td,
#tol-pastExpiries-layout-1 .table tr:hover td {
    background-color: transparent !important;
}

.tol-cashier.success-page {
    padding-top: 110px;
}

.ui-dialog.ui-widget-content {
    color: #000;
}

.ui-dialog .ui-dialog-content {
    color: #000;
}

.ui-dialog .ui-dialog-buttonpane button:first-of-type {
    background: #FFF;
    border: 1px solid #000;
    border-radius: 3px;
    Color: #000;
}

.ui-dialog .ui-dialog-buttonpane button:nth-of-type(2) {
    background: #1070B4;
    color: #FFF;
    border-top: 1px solid #75BAED;
    border-bottom: 1px solid #173C59;
    border-radius: 3px;
    cursor: pointer;
}

.ui-widget-content .ui-state-default.ui-dialog-titlebar-close {
    background: url('/wp-content/themes/tol-parent/images/close_btn-white.png') 0 0 no-repeat;
}

#tol-withdraw {
    min-height: 400px;
}

.depositSummary {
    margin-top: 10px;
}

.form-group.col-xs-12.col-sm-12 #text_icl-3 .validationError,
.form-group.col-xs-12.col-sm-12 #text_icl-3 input,
.form-group.col-xs-12.col-sm-12 #text_icl-3 .extrafields-wrapper {
    display: none;
}

#divExtraFields {
    text-align: left;
    max-width: 420px;
}

.extrafields-wrapper, #divExtraFields .label {
    width: 100%;
    font-size: 20px;
    font-family: robotoregular;
    color: #5c5c5c;
    font-weight: normal;
    margin-bottom: 5px;
    height: 28px;
}

#divExtraFields .label {
    padding-left: 0;
}

#divExtraFields input {
    display: block;
    width: 360px;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#divExtraFields .validationError {
    margin-left: 18%;
    margin-top: -13px;
}

@media (max-width: 1170px) {
    #tol-cashier-layout-1.container {
        width: 100%;
    }

    #tol-cashier-layout-1 #tol-cashier-main-nav .nav-tabs li a {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .cashier-wrapper-btns .text-right {
        text-align: center;
    }

    #tol-amount-wrapper, #tol-active-cc-wrapper, #tol-method-wrapper, #tol-currency-wrapper, #tol-promoCode-wrapper {
        margin: 0 auto;
    }

    #tol-cashier-layout-1 #tol-cashier-main-nav .nav-tabs li {
        width: 100%;
    }

    #tol-cashier-layout-1 #tol-cashier-main-nav .nav-tabs li i {
        display: none;
    }

    .cashier-wrapper-btns {
        padding: 0 15px;
    }

    #tol-cashier-layout-1 #tol-cashier-main-nav .nav-tabs li a.active:after {
        border: 0;
    }

    #tol-cashier-layout-1 #tol-bonus-history .table-striped.cashier-bonus-history thead tr th,
    #tol-cashier-layout-1 #tol-withdraw-history .table-striped thead tr th,
    #tol-cashier-layout-1 #tol-transaction-history .table-striped thead tr th,
    .page-past-expiries .table-striped thead tr th,
    .page-template-data-binarex .table-striped thead tr th, .page-my-trades .table-striped thead tr th {
        font-size: 14px;
    }

    #tol-cashier-layout-1 #tol-cashier tbody tr td,
    #tol-pastExpiries-layout-1 #tol-cashier tbody tr td {
        font-size: 14px;
    }

    .cashier-bonus-history thead th:nth-child(4),
    .cashier-bonus-history tbody tr td:nth-child(4) {
        display: none;
    }
}

@media (max-width: 767px) {
    #divExtraFields input {
        width: 100%;
    }

    #tol-cashier-layout-1 #tol-bonus-history .table-striped.cashier-bonus-history thead tr th,
    #tol-cashier-layout-1 #tol-withdraw-history .table-striped thead tr th,
    #tol-cashier-layout-1 #tol-transaction-history .table-striped thead tr th,
    .page-past-expiries .table-striped thead tr th,
    .page-template-data-binarex .table-striped thead tr th, .page-my-trades .table-striped thead tr th {
        font-size: 12px;
    }

    #tol-cashier-layout-1 #tol-cashier tbody tr td,
    #tol-pastExpiries-layout-1 #tol-cashier tbody tr td {
        font-size: 12px;
    }
}
