.page-cashier {
    background: #eaeaea;
}
#tol-cashier{
    position: relative;
}
.entry-header {
    position: relative;
    min-height: 220px;
    margin-top: -2px;
    background: url(/wp-content/themes/tol-parent/images/myprofile-11-back.jpg);
    background-size: cover;
    background-position: center center;
}
.title-underline {
    display: block;
    width: 70px;
    height: 4px;
    background: #0278fe;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
.entry-title {
    padding-left: 24px;
    height: 100px;
    line-height: 49px;
    font-size: 33px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-family: lato-bold;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: block !important;
}
#tol-cashier-main-nav{
    margin: 10px 0;
}
#tol-cashier-main-nav ul.cashier-tabs {
    width: 100%;
    height: 54px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background-color: #eaeaea;
    border-bottom: 3px solid #c1c1c1;
}
ul.cashier-tabs li {
    position: relative;
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 13px;
    font-size: 14px;
    background: transparent;
    width: 20%;
}
ul.cashier-tabs li a {
    color: #757575;
    font-size: 14px;
    font-family: 'roboto-bold';
}
ul.cashier-tabs li a:hover,
ul.cashier-tabs li a:focus,
ul.cashier-tabs li a:active {
    color: #0278fe;
    outline: none;
    background: transparent;
}
ul.cashier-tabs li.active a,
ul.cashier-tabs li.active:hover a {
    color: #0278fe;
}
ul.cashier-tabs li.active a:before,
ul.cashier-tabs li.active:hover a:before {
    display: inline-block;
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: #0278fe;
    left: 0;
    bottom: -14px;
}
ul.cashier-tabs li.active a:after,
ul.cashier-tabs li.active:hover a:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -11px;
    left: 49%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #0278fe;
}
#loadingElementProcessing {
    position:absolute;
    width: 300px;
    height: 300px;
    background:url("/wp-content/themes/tol-parent/images/cashier-loader.gif") 50% no-repeat;
    text-align: center;
    margin: 0 auto;
    margin-left: 410px;
    margin-top: 80px;
    z-index:11;
}
.cashierLabelValidationLinkText {
    padding: 30px;
    display: block;
    color: red;
}
#loadingElementCashier {
    position:absolute;
    width: 100%;
    height: 100%;
    background: #ddd url("/wp-content/themes/tol-parent/images/cashier-loader.gif") 50% no-repeat;
    text-align: center;
    z-index:11;
    opacity: 0.7;
}
.tol-deposit-fields{
    position: relative;
}
.tol-deposit-fields .validationError{
    position: absolute;
}
.promoCodeLink{
    text-decoration: underline;
    cursor: pointer;
}
.depositSummary {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 1.5em 0 1em 1em;
    margin-top: 10px;
}
.depositSummary p {
    display: inline-block;
}
.text-right > .promoCodeLink {
    margin-right: 1.2em;
    margin-top: 2em;
    display: block;
}
@media (max-width: 767px) {
    .tol-header {
        margin-bottom: 10px;
    }
    #divExtraFields input {
        width: 100%;
    }
    #tol-cashier .nav > li {
        width: 17%;
        text-align: center;
        font-size: 1.5em;
    }

    #tol-cashier .nav > li a {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    #tol-cashier .nav > li span {
        display: none;
    }
    .tol-cashier.success-page .entry-content.well{
        width: 98%;
    }
}

@media (min-width: 768px) {
    .form-horizontal .text-left {
        text-align: left;
    }
}
.myPaging {
    float: right;
}
.ui-dialog.ui-widget-content {
    color: #000;
}
.ui-dialog .ui-dialog-content {
    color: #000;
}
.page-cashier .ui-dialog .ui-dialog-buttonpane button:first-of-type {
    background: #FFF;
    border:1px solid #000;
    border-radius: 3px;
    Color: #000;
}

.page-cashier .ui-dialog .ui-dialog-buttonpane button:nth-of-type(2) {
    background: #1070B4;
    color: #FFF;
    border-top: 1px solid #75BAED;
    border-bottom: 1px solid #173C59;
    border-radius: 3px;
    cursor: pointer;  
}
.ui-widget-content .ui-state-default.ui-dialog-titlebar-close {
    background: url('/wp-content/themes/tol-parent/images/close_btn-white.png') 0 0 no-repeat;
}
#tol-withdraw {
    min-height: 400px;
}
.extrafields-wrapper {
  margin-top: 20px;
  margin-left: 8px;
}
#divExtraFields .label {
    color: #000;
    font-weight: 400;
    white-space: nowrap;
    text-indent: -20px;
    font-size: 12px;
}
#divExtraFields input {
    width: 210px;
    border: 1px solid #ddd;
    height: 28px;
    border-radius: 3px;
    margin-bottom: 18px;
}
#divExtraFields .validationError {
  margin-left: 18%;
  margin-top: -13px;
}
.form-group.col-xs-12.col-sm-12 #text_icl-3 .validationError,
.form-group.col-xs-12.col-sm-12 #text_icl-3 input,
.form-group.col-xs-12.col-sm-12 #text_icl-3 .extrafields-wrapper{
    display: none;
}