﻿#tol-contactUs-layout-1 .tol-glyphicons-list {
    list-style: none;
}

#tol-contactUs-layout-1 .tol-glyphicons-list li {
    float: left;
    font-size: 12px;
    height: 90px;
    line-height: 1.4;
    padding: 10px;
    text-align: center;
    width: 20%;
}

#tol-contactUs-layout-1 .tol-glyphicons-list .glyphicon {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#tol-contactUs-layout-1 textarea#message {
    resize: vertical;
}

#tol-contactUs-layout-1 .validationError {
    color: red;
    position: absolute;
    bottom: -19px;
}

#tol-contactUs-layout-1 .control-label {
    font-family: "robotoregular";
    font-size: 20px;
    line-height: 1.428571429 !important;
    color: #333333;
    text-align: left;
    padding-top: 7px;
    font-weight: 500;
    display: block;
    float: none;
}

#tol-contactUs-layout-1 .form-control {
    height: 55px;
    width: 100%;
    line-height: 1.428571429;
    color: #555555;
    padding: 0 10px;
    display: block;
}

#tol-contactUs-layout-1 .form-control#message {
    height: 200px;
}

#tol-contactUs-layout-1 .tol-subject-selector {
    float: left;
    font-size: 15px;
    height: 90px;
    line-height: 1.4;
    padding: 100px 10px 10px 10px;
    text-align: center;
    width: 25%;
    color: #b0b0b0;
    margin-bottom: 7%;
    cursor: pointer;
}

.tol-subject-selector:hover, .tol-subject-selector.tol-subject-selected {
    color: #1070b4 !important;
}

.tol-subject-selector:before {
    line-height: 3;
}

.tol-subject-selector.general:before,
.tol-subject-selector.technical::before,
.tol-subject-selector.trading::before,
.tol-subject-selector.deposit::before {
    content: none;
}

.tol-subject-selector.trading {
    background: url('/wp-content/themes/tol-child/images/Trading.png') top no-repeat;
    background-size: 69%;
}

.tol-subject-selector.deposit {
    background: url('/wp-content/themes/tol-child/images/deposit-contacts.png') top no-repeat;
    background-size: 69%;
}

.tol-subject-selector.technical {
    background: url('/wp-content/themes/tol-child/images/Tech_issue.png') top no-repeat;
    background-size: 50%;
}

.tol-subject-selector.general {
    background: url('/wp-content/themes/tol-child/images/General.png') top no-repeat;
    background-size: 60%;
}

.tol-subject-selector.registration {
    display: none;
}

.page-contact-us .entry-content {
    text-align: left;
    padding: 0px 10px 0 30px;
    font-size: 17px;
}

@media (max-width: 767px) {
    #tol-contactUs-layout-1 .control-label {
        font-size: 16px;
    }

    #tol-contactUs-layout-1 .form-control {
        height: 35px;
    }

    .page-contact-us .entry-content {
        padding: 20px 0 0 0;
    }
}

@media (max-width: 430px) {
    #tol-contactUs-layout-1 .tol-subject-selector {
        padding: 45px 10px 10px 10px;
    }
}

#tol-contactUs-layout-1 #submit {
    margin-top: 12px;
}
