@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url("/wp-content/themes/tol-child/fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url("/wp-content/themes/tol-child/fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
  font-family: 'Lato-Regular';
  src: url("/wp-content/themes/tol-child/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("/wp-content/themes/tol-child/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: 'Lato-Light-Regular';
  src: url("/wp-content/themes/tol-child/fonts/lato-lig-webfont.ttf");
}

body {
  background-color: #F6F6F6 !important;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .h1 {
  font-size: 26px !important;
}
.container.main {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #143258;
    z-index: -10;
}

/*-----base-----*/
.entry-content-row,
.container-fluid {
  padding: 0;
}
footer {
	    position: relative;
}
#buyBasics {
	float: inherit;
}
.mostpopular {
    position: absolute;
    display: inline;
	right: 41%;
    margin-top: 38%;
}
@media(min-width: 1025px) {
	.entry-content-row,
	.container-fluid {
	  margin-top: 4%;
	  width: 1366px;
	  z-index: 10;
	}
	canvas {
	  display: block;
	  overflow: hidden;
	  position: absolute;
      bottom: 0;
      height: 85%;
	  width: 100%;
	  z-index: 0;
	  background-color: #141b28;
	}
}
@media (min-width: 1024px) {
	.col-sm-3 .box-body .overview-footer {
	  text-align: left;
	  color: #fff;
	  min-height: 130px;
      display: block;
	  font-size: 16px;
	  font-family: 'Lato-Light-Regular';
	  padding-top: 25px;
	  }
	.col-sm-3 .box-body .box-buttons .read-more {
	  float: left;
	  color: #fff;
	}
	.col-sm-3 .box-body .best-seller {
	  line-height: 1.3;
	  position: absolute;
	  z-index: 0;
	  height: 75px;
	  width: 75px;
	  background: #2e2e2e;
	  border-radius: 50%;
	  text-align: center;
	  color: #fff;
	  padding: 20px 12px;
	}
}

@media(max-width: 1024px) {
	.entry-content-row,
	.container-fluid {
	  margin-top: 10%;
	  width: 100%;
	}
	.container-fluid {
	  background-image: url("/wp-content/themes/tol-child/images/assets/background.png");
	  background-size: 100%;
	  background-repeat: no-repeat;
	  background-position: bottom;
	}
	#waves {
	  display: none;
	}
	.col-sm-3 .box-body .best-seller {
	  line-height: 1.3;
      position: absolute;
	  right: 19.5%;
	  bottom: 33%;
	  z-index: -1;
	  height: 75px;
	  width: 75px;
	  background: #2e2e2e;
	  border-radius: 50%;
	  text-align: center;
	  color: #fff;
	  padding: 19px 15px;
	}
	.col-sm-3 .box-body .box-buttons .button {
		background-color: #fff !important;	
	}
	.container.main {
		background: unset;
	}
	#toggle, #toggle2, #toggle3 {
		color: #082a52;
	}
}
@media (max-width: 767px) {
	.col-sm-3 .box-body .box-buttons .read-more {
		float: left;
		background-color: #fff;
		color: #082a52;
		border: 1px solid #072b55;
		box-shadow: 2px 0 15px -2px grey
	}
	.col-sm-3 .box-body .overview-footer {
		color: #082a52;
		text-align: left;
		min-height: 130px;
		display: block;
		font-size: 16px;
		font-family: 'Lato-Light-Regular';
		padding-top: 25px;			
	}
	.entry-content-row, .container-fluid {
		margin-top: 7%;
		width: auto;
	}
	.mostpopular {
		position: absolute;
		display: inline;
		right: 20%;
		margin-top: 60%;
	}
}

@media(width: 768px) {
		.col-sm-3 .box-body .box-body-image {
			height: 20%;
			margin-top: 70px;
		}
		.col-sm-3 .second-heading > h1 {
			min-height: 60px;
			
		}
		.col-sm-3 .overview-box {
			min-height: 210px !important;
		} 
		.col-sm-3 .box-body .best-seller {
			line-height: 1.3;
			position: absolute;
			left: 8%;
			z-index: 5; 
		}
		.col-sm-3 .box-body .overview-footer {
			color: #082a52;
			text-align: left;
			display: block;
			font-size: 16px;
			font-family: 'Lato-Light-Regular';
			padding-top: 25px;	
			min-height: 200px;			
		}
		.col-sm-3 .box-body .box-buttons .read-more {
			float: left;
			background-color: #fff;
			color: #082a52;
			border: 1px solid #072b55;
			box-shadow: 2px 0 15px -2px grey
		}
		.col-sm-3 .box-body .box-buttons .buy-now {
			float: left !important;
		}
		.col-sm-3 .box-body .box-buttons .button {
			margin: 5px 0 !important;
		}
		.mostpopular {
			position: absolute;
			display: inline;
			left: 0;
			right: 0;
			margin-top: 20%;
		}
}	
@media(width: 1024px) {
		.col-sm-3 .box-body .box-body-image {
			height: 25%;
			margin-top: 45px;
		}
		.col-sm-3 .second-heading > h1 {
			min-height: 60px;
		}
		.col-sm-3 .overview-box {
			min-height: 170px !important;
		} 
		.col-sm-3 .box-body .best-seller {
			line-height: 1.3;
			position: absolute;
			z-index: 5; 
			right: 0;
			bottom: 0;
		}
		.col-sm-3 .box-body .overview-footer {
			color: #082a52;
			text-align: left;
			min-height: 130px;
			display: block;
			font-size: 16px;
			font-family: 'Lato-Light-Regular';
			padding-top: 25px;	
			min-height: 175px;			
		}
		.col-sm-3 .box-body .box-buttons .read-more {
			float: left;
			background-color: #fff;
			color: #082a52;
			border: 1px solid #072b55;
			box-shadow: 2px 0px 15px -2px grey
		}
		.col-sm-3 .box-body .box-buttons .buy-now {
			float: left !important;
		}
		.col-sm-3 .box-body .box-buttons .button {
			margin: 5px 0px !important;
		}
		.mostpopular {
			position: absolute;
			display: inline;
			left: 0;
			margin-top: 7%;
			right: 9%;
		}
}	
@media(min-width: 1366px) and (max-width: 1466px) {
	#tol-header-layout-31 .nav_logo {
		margin-left: 0px !important;
	}
	.entry-content-row, .container-fluid {
		margin-top: 5%;
		width: auto;
	}
	#tol-footer-layout-32 .social-links, 
	#tol-footer-layout-32 .container > .col-xs-12.col-sm-3 {
		padding: 0px !important;
	}
}
@media (width: 1444px) {
	.container-fluid {
		margin-top: 8%;
	}
}
.entry-content-row {
  padding: 30px 0px;
}
.footer-bottom {
    height: 110px !important;
}	

/*-----header-----*/
.navbar {
  -webkit-box-shadow: -5px 5px 30px -6px #999;
  -moz-box-shadow: -5px 5px 30px -6px #999;
  box-shadow: -5px 5px 30px -6px #999;
}

.navbar > img {
  cursor: pointer;
}

.navbar #tol-login-area {
  display: block;
  position: relative;
}

.navbar #tol-login-area .button {
  border-radius: 22.5px;
  border: 1px solid #08274C;
  min-width: 100px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  vertical-align: middle;
  padding: 3px;
  display: inline-block;
}

.navbar #tol-login-area .tol-login-account {
  background-color: transparent;
  color: #08274C;
  margin: 0px 10px;
}

.navbar #tol-login-area .tol-login-account:hover {
  background: #08274C;
  border: none;
  color: #fff;
  transition: 300ms ease-in;
}

.navbar #tol-login-area .tol-login-account > a {
  width: 100%;
  height: 100%;
  color: #08274C;
  text-decoration: none;
  display: block;
}

.navbar #tol-login-area .tol-login-account > a:hover {
  color: #fff;
}

.navbar #tol-login-area .open-real-account {
  background-color: #08274C;
  color: #fff;
}

.navbar #tol-login-area .open-real-account:hover {
  background: #ff7d4d;
  border: none;
  transition: 300ms ease-in;
}

.navbar #tol-login-area .open-real-account > a {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  display: block;
}

/*-----body-----*/
.col-sm-3 {
  height: auto;
  display: block;
  padding: 40px 20px 20px 30px;
}

.col-sm-3 .box-title {
  color: #08274C;
  text-align: left;
}

.col-sm-3 .main-heading {
  font-size: 18px;
  font-family: 'PlayfairDisplay-Regular';
  text-align: left;
  text-transform: capitalize;
  min-height: 30px;
}

.col-sm-3 .second-heading > h1{
  font-size: 26px;
  font-family: 'PlayfairDisplay-Bold';
  text-transform: uppercase;
}

.col-sm-3 .overview-box {
  font-size: 16px;
  font-family: 'Lato-Light-Regular';
  padding: 20px 0px;
  min-height: 120px;
}

.col-sm-3 .box-body .box-body-image {
  position: relative;
  width: auto;
  z-index: 2;
}

.col-sm-3 .box-body .box-body-image.basics {
  content: url("/wp-content/themes/tol-child/images/assets/basics.png");
}

.col-sm-3 .box-body .box-body-image.alphabet {
  content: url("/wp-content/themes/tol-child/images/assets/az.png");
}

.col-sm-3 .box-body .box-body-image.complete {
  content: url("/wp-content/themes/tol-child/images/assets/complete.png");
}

.col-sm-3 .box-body .box-body-image.advanced {
  content: url("/wp-content/themes/tol-child/images/assets/advanced.png");
}

.col-sm-3 .box-body .best-seller span:nth-child(1) {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Lato-Regular';
}

.col-sm-3 .box-body .price-circle {
  line-height: 1.3;
  position: absolute;
  z-index: 1;
  right: 15%;
  height: 110px;
  width: 110px;
  background: linear-gradient(to top, #08274C, #023A79);
  background: -webkit-linear-gradient(to top, #08274C, #023A79);
  border-radius: 50%;
  text-align: center;
  color: #fff;
  padding: 25px;
}

.col-sm-3 .box-body .price-circle span:nth-child(1) {
  font-size: 23px;
  font-family: 'PlayfairDisplay-Bold';
}

.col-sm-3 .box-body .price-circle p:nth-child(2) {
  font-size: 16px;
  font-family: 'Lato-Regular';
}
.col-sm-3 .box-body .box-buttons {
  min-height: 60px;
  position: relative;
}

.col-sm-3 .box-body .box-buttons .button {
  border-radius: 22.5px;
  border: 1px solid #fff;
  min-width: 110px;
  height: 38px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  vertical-align: middle;
  padding: 0px 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Lato-Regular';
  margin: 20px 0px;
  background: transparent;
}

.col-sm-3 .box-body .box-buttons .read-more:hover {
  background: #ff7d4d;
  border: none;
  color: #fff;
  transition: 300ms ease-in;
}

.col-sm-3 .box-body .box-buttons .buy-now {
  float: right;
  color: #08274C;
  box-shadow: 2px 0px 15px -2px grey;
  background: url(/wp-content/themes/tol-child/images/assets/buy_now.png);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 10px;
  padding-left: 17px;
  background-color: white;
}

.col-sm-3 .box-body .box-buttons .buy-now:hover {
  background: url(/wp-content/themes/tol-child/images/assets/buy_now.png);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 10px;
  background-color: #ff7d4d;
  color: #fff;
  transition: 300ms ease-in;
}

#text, #text2, #text3{
	display:none;
}
.browser-firefox .col-sm-3 .box-body .box-body-image.basics::after {
 content: url("/wp-content/themes/tol-child/images/assets/basics.png");
}
.browser-firefox .col-sm-3 .box-body .box-body-image.alphabet::after {
  content: url("/wp-content/themes/tol-child/images/assets/az.png");
}
 .browser-firefox .col-sm-3 .box-body .box-body-image.complete::after {
  content: url("/wp-content/themes/tol-child/images/assets/complete.png");
}
.browser-firefox .col-sm-3 .box-body .box-body-image.advanced::after {
  content: url("/wp-content/themes/tol-child/images/assets/advanced.png");
}