﻿﻿
		
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}	

body,
html {
  font-family: Open Sans, Arial, sans-serif !important;
  display: block;
  padding: 0;
  margin: 0;
  background-color: #3f3f41;
}
#tol-footer-layout-1 {
    display: block;
    background: #000;
    color: #2D3E50;
}

#tol-footer-layout-1 {
    display: block;
}

.tol-userFeedback {
    z-index: 3000;
    position: fixed;
    width: 300px;
    top: 40%;
    right: -301px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    background-color: #3a7ab4;
    transition: all 1s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
    font-family: Open Sans, Arial, sans-serif;
    font-size: 15px;
}

.feedbackContent {
    background-color: #3a7ab4;
    display: inline-block;
    float: left;
    left: -30px;
    width: 300px;
    margin: 10px;
}

.tol-activeButton {
    position: absolute;
    background-color: #3a7ab4;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    top: 10px;
    left: -20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
}

.tol-open .feedbackContent {
    width: 270px;
}

.tol-row .tol-emoticons {
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 0;
    width: 64px;
    height: 64px;
    background: url(/wp-content/themes/tol-child/images/emoticons.png) left no-repeat;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 40px;
    margin: 10px;
    cursor: pointer;
}

.tol-row .tol-emoticons.neutral {
    background: url(/wp-content/themes/tol-child/images/emoticons.png) center no-repeat;
}

.tol-row .tol-emoticons.negative {
    background: #3a7ab4 url(/wp-content/themes/tol-child/images/emoticons.png) right no-repeat;
}

.tol-userFeedback.tol-open {
    right: 0;
}

.tol-textarea {
    resize: vertical;
    width: 260px;
    height: 55px;
    border: 1px solid #888;
    padding: 2px;
}

#tol-cancelButton {
    display: inline-block;
    width: 80px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    float: left;
    font-weight: 700;
    cursor: pointer;
    font-size: 12px;
}

#tol-sendButton {
    display: inline-block;
    width: 90px;
    border-radius: 3px;
    background-color: #fff;
    color: #153C85;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 20px 5px 0 0;
    font-weight: 700;
    float: right;
    cursor: pointer;
    font-size: 17px;
}

.page-traderoom #tol-footer-layout-1 {
    display: none;
}

.statusbar {
    display: none;
}

@media (min-width: 1025px) {
    .page-traderoom .statusbar {
        display: block;
    }
}

#tol-footer-layout-1 .payment-icons {
    padding: 67px 0 27px 0;
}

.white-theme #tol-footer-layout-1 {
    background: #021600;
    color: #354533;
}

.footer-logo {
    display: inline-block;
    height: 31px;
}

.footer-logo.visa {
    background: url('/wp-content/themes/tol-parent/images/forex/visa.png') no-repeat center;
}

.footer-logo.mastercard {
    background: url('/wp-content/themes/tol-parent/images/forex/mastercard.png') no-repeat center;
}

.footer-logo.maestro {
    background: url('/wp-content/themes/tol-parent/images/forex/maestro.png') no-repeat center;
}

.footer-logo.diners {
    background: url('/wp-content/themes/tol-parent/images/forex/diners.png') no-repeat center;
}

.footer-logo.jsb {
    background: url('/wp-content/themes/tol-parent/images/forex/jcb.png') no-repeat center;
}

.footer-logo.neteller {
    background: url('/wp-content/themes/tol-parent/images/forex/neteller.png') no-repeat center;
}

.footer-logo.bitcoin {
    background: url('/wp-content/themes/tol-parent/images/forex/bitcoin.png') no-repeat center;
}

.footer-logo.skrill {
    background: url('/wp-content/themes/tol-parent/images/forex/skrill.png') no-repeat center;
}

.footer-logo.paysafe {
    background: url('/wp-content/themes/tol-parent/images/forex/paysafe.png') no-repeat center;
}

.footer-logo.wiretransfer {
    background: url('/wp-content/themes/tol-parent/images/forex/wire.png') no-repeat center;
}

#tol-footer-layout-1 #tol-footer {
    background: #000;
    padding: 0;
}

#tol-footer-layout-1 .container hr {
    margin-bottom: 31px;
    margin-top: 79px;
    color: #73777a;
    background-color: #2b2c2c;
    border: none;
    height: 1px;
}

#tol-footer .nav-pills a {
    color: #ffffff;
    font-size: 13px;
    font-family: Open Sans, Arial, sans-serif;
    text-transform: uppercase;
}

#tol-footer aside {
    padding: 0;
}

#tol-footer .nav-pills li:nth-child(1) a {
    padding-left: 0;
}

#tol-footer .nav-pills a:hover,
#tol-footer .nav-pills a:active,
#tol-footer .nav-pills a:focus {
    color: #2D3E50;
    background: transparent;
    border: 0;
}

#tol-footer .social-nav a {
    width: 20px;
    height: 20px;
}

#tol-footer .social-nav a.li-social {
    background: url('/wp-content/themes/tol-parent/images/forex/social-footer.png') left no-repeat;
    margin-right: 21px;
}

#tol-footer .social-nav a.tw-social {
    background: url('/wp-content/themes/tol-parent/images/forex/social-footer.png') center no-repeat;
    margin-right: 21px;
}

#tol-footer .social-nav a.fb-social {
    background: url('/wp-content/themes/tol-parent/images/forex/social-footer.png') right no-repeat;
}

.nav-pills.social-nav {
    height: 66px;
    padding: 26px 0;
}

#tol-footer aside .textwidget {
    padding-top: 9px;
    padding-bottom: 50px;
    font-size: 14px;
    color: #ffffff;
}

#tol-footer aside .textwidget a {
    color: #0073F6 !important;
}

.social-nav>li {
    float: right;
}

.social-nav>li>a {
    padding: 2px 5px;
}

.footer-settings-icon {
    position: absolute;
    height: 27px;
    width: 27px;
    right: 0;
    top: 0;
    z-index: 1;
    cursor: pointer;
}

.footer-settings-icon .settings {
    width: 17px;
    height: 17px;
    position: relative;
    top: 21px;
    left: 5px;
    background: transparent url(/wp-content/themes/tol-parent/images/forex/settings.png) no-repeat top;
    border: none;
}

.white-theme .footer-settings-icon .settings {
    box-shadow: none;
}

.footer-settings-icon.show .settings,
.footer-settings-icon:hover .settings {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/settings.png) no-repeat bottom;
}

.footer-settings-icon .contextmenu {
    display: none;
}

.footer-settings-icon.show .contextmenu {
    display: block;
    bottom: 27px;
    right: 0;
}

#tol-login-popup .modal-body {
    padding: 28px 25px 10px 25px;
}

.white-theme #tol-login-popup .modal-body {
    background: #F8F8F8;
}

.checkbox.savePassWrapper {
    margin: 0;
}

.white-theme .modal-footer {
    border-color: #E1E1E1;
    background: #fff;
}

.page-portfolio-adviser #tol-footer-layout-1,
.page-portfolio-builder #tol-footer-layout-1 {
    display: block;
}

.page-portfolio-adviser.logged #tol-footer-layout-1,
.page-portfolio-adviser #tol-footer-layout-1 .payment-icons,
.page-portfolio-builder.logged #tol-footer-layout-1,
.page-portfolio-builder #tol-footer-layout-1 .payment-icons {
    display: none;
}

.page-portfolio-adviser .statusbar,
.page-portfolio-builder .statusbar {
    display: none;
}

.page-portfolio-adviser.logged .statusbar,
.page-portfolio-builder.logged .statusbar {
    display: block;
    position: fixed;
}

@media (max-width: 1024px) {
    .page-portfolio-adviser.logged .statusbar,
    .page-portfolio-builder.logged .statusbar {
        position: relative;
    }
}

@media (max-width: 1440px) and (min-width: 1200px) {
    .equity-item {
        width: auto;
        padding: 0 20px;
    }
}

@media (max-width: 1025px) and (min-width: 768px) {
    #tol-footer-layout-1 .payment-icons {
        padding: 10px 0 10px 0;
    }
    #tol-footer aside .textwidget {
        padding-bottom: 10px;
    }
}

@media (max-width: 767px) {

    #tol-footer-layout-1 .payment-icons {
        padding: 17px 0 27px 0;
    }
    .footer-logo.visa,
    .footer-logo.mastercard,
    .footer-logo.maestro,
    .footer-logo.neteller {
        margin-bottom: 15px;
    }
	.footer-menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		text-alig: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		align-items: center;
	}
}

#tol-footer .nav-pills .footer-header-item a {
    width: 153px;
    padding-left: 0px;
    text-transform: uppercase;
    color: #73777a;
    text-align: left;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 32px;
}
#menu-footer-horizontal-menu li .sub-menu,
#menu-footer-horizontal-menu-1 li .sub-menu {
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 0;
    padding: 0;
    z-index: 501;
    border: 0;
    margin-left: 1px;
    width: 153px;
	margin-top: 10px;
}
#menu-footer-horizontal-menu-1 li,
#menu-footer-horizontal-menu li {
    margin-right: 0;
    width: 153px;
}
#menu-footer-horizontal-menu-1 li .sub-menu li ,
#menu-footer-horizontal-menu li .sub-menu li {
    font-family: Open Sans, Arial,Tahoma, sans-serif !important;
    list-style: none;
    line-height: 16px;
}

#tol-footer .nav-pills .sub-menu li a {
    color: #73777a;
    font-family: Open Sans, Arial,Tahoma sans-serif !important;
    text-transform: capitalize;
    cursor: pointer;
	text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}

#tol-footer .nav-pills .sub-menu li a:hover {
    color: #3176FC;
    text-decoration: underline;
}
.menu-footer-container {
    min-height: 225px;
    margin-top: 40px;
}

.payment-logos .logos-image {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    height: 80px;
    width: 365px;
    margin: auto;
    float: unset;
    text-align: center;
}

.payment-logos {
    margin: 40px auto 35px;
    width: 100%;
    float: left;
    position: relative;
}
#menu-footer-horizontal-menu-1>li>a,
#menu-footer-horizontal-menu>li>a {
    position: relative;
    display: block;
    padding: 10px 15px 10px 0;
}

#tol-footer aside {
    font-size: 13px;
    margin: 0 auto;
    padding: 0 5px;
    line-height: 1.2em;
    color: #ffffff;
    text-align: left;
    float: left;
    font-family: Open Sans, Arial, sans-serif !important;
}

#tol-footer aside .textwidget {
    font-family: Open Sans, Arial, sans-serif !important;
}

#tol-footer-inside .container {
    max-width: 1150px;
}

#tol-footer aside .textwidget {
	font-family: Open Sans, Arial, sans-serif !important;
    font-size: 13px;
    margin: 0 auto;
    padding: 0;
    line-height: 21px;
    color: #73777a;
    text-align: left;
}
#tol-footer aside .textwidget p{
	margin-bottom: 0;
}

.disclaimer {
    text-align: justify;
    font-size: 13px;
    margin: 0 auto;
    padding: 0 5px;
    line-height: 1.2em;
    color: #ffffff;
    text-align: left;
    font-family: Open Sans, Arial, sans-serif !important;
}
@media(max-width: 768px){
	#menu-footer-horizontal-menu-1 li,
	#menu-footer-horizontal-menu li {
		margin-right: 0;
		width: 145px;
	}
	
}
@media(max-width: 767px){
	#menu-footer-horizontal-menu-1 li, #menu-footer-horizontal-menu li {
		width: 100%;
		float: left;
		text-align: center;
	}
	#tol-footer .nav-pills .footer-header-item a {
		width: 100%;
		text-align: center;
	}
	#menu-footer-horizontal-menu-1 li .sub-menu, #menu-footer-horizontal-menu li .sub-menu {
		display: inline-block;
		position: relative;
		top: 0;
		margin-left: 0px;
		width: 100%;
	}
}
.footer__wrapper {
    padding-top: 100px;
    padding-bottom: 50px
}

.footer__wrapper .social-media-links {
    margin-top: 55px;width: 130px;
    margin: 55px 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer__categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.footer-dropdown {
    position: absolute;
    top: 205px;
    right: 0;
    z-index: 52;
    width: 250px;
    padding: 13px 13px 0;
    background-color: #232323;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 13px -4px #000;
    box-shadow: 1px 1px 13px -4px #000
}

.footer-dropdown:after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: -6px;
    right: 20px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444243
}


.footer__column .footer__column-header {
    color: #73777a;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase
}

.footer__column .footer__social-text {
    text-align: center;
    color: #73777a;
    font-size: 13px;
    font-weight: 400;
    line-height: 32px
}

.footer__column .foooter__logotext {
    color: #73777a;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px
}

.footer__column>img {
    width: 173px;
    margin-bottom: 48px
}

.footer__column .footer__column-link {
    text-decoration: none;
    color: #73777a;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px
}

.footer__column .footer__column-link:hover {
    color: #3176FC;
    text-decoration: underline
}

.footer__column_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 60%
}

.footer__hr {
    margin-bottom: 31px;
    margin-top: 79px;
    color: #73777a;
    background-color: #2b2c2c;
    border: none;
    height: 1px
}

.footer__social-buttons {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.footer__payment-images {
    text-align: center;
    margin-bottom: 38px;
    opacity: .3
}

.foooter__copyright-text{
    color: #73777a
}

.start-trading {
    min-width: 170px;
    height: 40px;
    padding: 0 15px;
	border-radius: 30px;
    background: #3176FC;
    border-color: #3176FC;
}

.footer__column--login {
    max-width: 150px
}
.footer__column--login .footer-login {
	border: none;
    min-width: 170px;
    margin: 0;
	background: transparent;
	height: 44px;
}
.footer__column--login .footer-login a {
    color: #73777a !important;
    font-size: 13px;
    text-transform: none;
}
@media(max-width: 1440px){
	#tol-footer-inside .container {
		padding-left: 0;
		padding-right: 0;
	}
	#menu-footer-horizontal-menu-1 li, #menu-footer-horizontal-menu li {
		margin-right: 15px;
	}
}
#menu-footer-horizontal-menu {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

@media only screen and (max-width: 767px) {
	#menu-footer-horizontal-menu,
    .footer__categories {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center
    }

    .footer__copyright {
        text-align: justify
    }

    .start-trading {
        margin-top: 25px;
        margin-bottom: 25px
    }

    .footer__column h4 {
        padding-bottom: 0;
        margin-bottom: 0;
        padding-top: 20px
    }

    .footer__column_nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .footer__column--login{
        position: relative
    }

}
@media(min-width: 1441px){
	#menu-footer-horizontal-menu-1 li, #menu-footer-horizontal-menu li {
		width: 200px;
	}
}
@media(width: 768px){
	#menu-footer-horizontal-menu-1 li,
	#menu-footer-horizontal-menu li {
		margin-right: 0;
		width: 105px;
	}
	#tol-footer .nav-pills .footer-header-item a {
		font-size: 11px;
	}
	.footer__column--login {
		width: 170px;
	}
	.menu-footer-horizontal-menu-container {
		height: 300px;
    }
    #tol-footer .nav-pills .sub-menu li a {
        font-size: 12px;
    }
    #tol-footer .start-trading {
        min-width: unset;
    }
}
#tol-login-popup .modal-body {
    background: #232323;
}
#tol-login-popup .form-control {
    height: 40px;
}
.checkbox.savePassWrapper label {
    color: #fff;
}
.popup-password a[data-translate=forgotPassword] {
    font-size: 13px;
    line-height: 21px;
    color: #fff;
}
.page-traderoom #livechat-compact-container {
    display: none;
}
