﻿#tol-footer-layout-1 {
    display: block;
    background: #000;
    color: #2D3E50;
}

.statusbar, .page-traderoom #tol-footer-layout-1 {
    display: none;
}

.page-traderoom .statusbar {
    display: block;
}

#tol-footer-layout-1 .payment-icons {
    padding: 67px 0 27px 0;
}

.footer-logo {
    display: inline-block;
    height: 31px;
}

.footer-logo.visa {
    background: url('/wp-content/themes/tol-child/images/visa.png') no-repeat center;
}

.footer-logo.mastercard {
    background: url('/wp-content/themes/tol-child/images/mastercard.png') no-repeat center;
}

.footer-logo.maestro {
    background: url('/wp-content/themes/tol-child/images/maestro.png') no-repeat center;
}

.footer-logo.diners {
    background: url('/wp-content/themes/tol-child/images/diners.png') no-repeat center;
}

.footer-logo.jsb {
    background: url('/wp-content/themes/tol-child/images/jcb.png') no-repeat center;
}

.footer-logo.neteller {
    background: url('/wp-content/themes/tol-child/images/neteller.png') no-repeat center;
}

.footer-logo.bitcoin {
    background: url('/wp-content/themes/tol-child/images/bitcoin.png') no-repeat center;
}

.footer-logo.skrill {
    background: url('/wp-content/themes/tol-child/images/skrill.png') no-repeat center;
}

.footer-logo.paysafe {
    background: url('/wp-content/themes/tol-child/images/paysafe.png') no-repeat center;
}

.footer-logo.wiretransfer {
    background: url('/wp-content/themes/tol-child/images/wire.png') no-repeat center;
}

#tol-footer-layout-1 #tol-footer {
    background: #000;
    padding: 0;
}

#tol-footer-layout-1 .container hr {
    border-top: 1px solid #2D3E50;
    padding-bottom: 10px;
    margin: 10px 0;
}

#tol-footer small {
    color: #2D3E50;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    font-family: 'robotolight';
}

#tol-footer .nav-pills a {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
}

#tol-footer aside {
    padding: 0;
}

#tol-footer .nav-pills li:nth-child(1) a {
    padding-left: 0;
}

#tol-footer .nav-pills a:hover, #tol-footer .nav-pills a:active, #tol-footer .nav-pills a:focus {
    color: #2D3E50;
    background: transparent;
    border: 0;
}

#tol-footer .social-nav a {
    width: 20px;
    height: 20px;
}

#tol-footer .social-nav a.li-social {
    background: url('/wp-content/themes/tol-child/images/social-footer.png') left no-repeat;
    margin-right: 21px;
}

#tol-footer .social-nav a.tw-social {
    background: url('/wp-content/themes/tol-child/images/social-footer.png') center no-repeat;
    margin-right: 21px;
}

#tol-footer .social-nav a.fb-social {
    background: url('/wp-content/themes/tol-child/images/social-footer.png') right no-repeat;
}

.menu-footer-horizontal-menu-container,
.menu-footer-horizontal-menu-portuguese-portugal-container,
.menu-footer-horizontal-menu-german-container,
.menu-footer-horizontal-menu-italian-container,
.menu-footer-horizontal-menu-spanish-container {
    padding-top: 17px;
    padding-bottom: 9px;
}

.nav-pills.social-nav {
    height: 66px;
    padding: 26px 0;
}

#tol-footer aside .textwidget {
    padding-top: 9px;
    padding-bottom: 50px;
    font-size: 14px;
    color: #ffffff;
}

#tol-footer aside .textwidget a {
    color: #0073F6 !important;
}

.social-nav > li {
    float: right;
}

.social-nav > li > a {
    padding: 2px 5px;
}

.footer-settings-icon {
    position: absolute;
    height: 27px;
    width: 27px;
    right: 0;
    top: 0;
    z-index: 1;
    cursor: pointer;
}

.footer-settings-icon .settings {
    width: 17px;
    height: 17px;
    position: relative;
    top: 5px;
    left: 5px;
    background: transparent url(/wp-content/themes/tol-child/images/settings.png) no-repeat top;
    border: none;
}

.footer-settings-icon.show .settings,
.footer-settings-icon:hover .settings {
    background: transparent url(/wp-content/themes/tol-child/images/settings.png) no-repeat bottom;
}

.footer-settings-icon .contextmenu {
    display: none;
}

.footer-settings-icon.show .contextmenu {
    display: block;
    bottom: 27px;
    right: 0;
}

@media (max-width: 1440px) and (min-width: 1200px) {
    .equity-item {
        width: auto;
        padding: 0 20px;
    }
}

@media (max-width: 1025px) and (min-width: 768px) {
    #tol-footer-layout-1 .payment-icons {
        padding: 10px 0 10px 0;
    }

    #tol-footer aside .textwidget {
        padding-bottom: 10px;
    }

    .lang-fr #tol-footer-inside nav.col-sm-8 {
        white-space: nowrap;
        width: 83%;
        padding-top: 17px;
    }
}

@media (max-width: 767px) {
    #tol-footer-layout-1 .payment-icons {
        padding: 17px 0 27px 0;
    }

    .footer-logo.visa, .footer-logo.mastercard, .footer-logo.maestro, .footer-logo.neteller {
        margin-bottom: 15px;
    }
}
