span.userBarElem.userName {
    top: 2px;
    position: relative;
}
#tol-userbar .btn .caret {
    top: 2px;
    position: relative;
}
span.icon.icon-icon1 {
    font-size: 32px;
    width: 33px;
}
.icon-icon3 {
    font-size: 28px;
}
.icon-icon2 {
    font-size: 27px;
    width: 27px;
}
.bonus-icon {
    top: 6px;
}
#tol-userbar .icon-link.tol-userbar-inbox {
    top: 2px;
    position: relative;
}
#tol-header-layout-1 .navbar-brand{
    background-position: 0 0;
}
#tol-header-layout-1 .slider-container{
    height: 20px;
    line-height: 20px;
}

#tol-header-layout-1 .slider-container .asset{
    padding: 0 10px;
    border-right: 1px solid #21B24B;
}

#tol-header-layout-1 .slider-container .asset .assetName
{
    padding-right: 10px;
}

#tol-header-layout-1 .slider-container .asset .assetPrice.down{
    color:red;
}

#tol-header-layout-1 .slider-container .asset .assetPrice.up{
    color:green;
}
@media (max-width: 767px) {
    #tol-header-layout-1 #tol-login-area .btn-group {
        width: 100%;
    }

    #tol-header-layout-1 #tol-login-area button {
    width: 95%;
    max-width: 93%;
    margin: 0 0 10px 0;
    }
    #tol-userbar {
        float:inherit !important;
    }
    .logged .tol-language-switcher {
        margin-left: 5% !important;
    }
    .icon {
        margin-left: 15px;
    }
    .user-nav .dropdown-toggle {    
        margin-left: 15px;
    }
    #tol-userbar .icon-link.tol-userbar-inbox { 
        left: 4px;
    }
    #tol-login-area, #tol-userbar { 
        float: left;
        width: 96%;
        left: 6px;
    }
    .tol-language-switcher {
        margin-left: 22px !important;  
    }

}
@media (min-width: 768px) {
    #tol-header-layout-1 #tol-login-area .form-inline{
        position: relative;
    }
    #tol-header-layout-1 #tol-login-area div[data-type="error"] {
        background-color: #ce0404;
        font-size: 12px;
        margin-top: 1px;
        padding: 1px 5px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        bottom: -20px;
        display: inline-block;
        left: 0;
        position: absolute;
        /*for success green color:
        background-color: #169c0f;*/
    }
    @media (min-width: 768px) and (max-width: 991px) {
        #tol-header-layout-1  #tol-login-area {
            margin-top: -42px;
        }
    }
}
/* bonus dropdown */
#tol-header-layout-1 .container.header {
    min-height: 76px;
    padding: 10px 0;
}

#tol-header-layout-1 .dropdown-bonus {
    font-size: 12px;
    line-height: 16px;
    min-width: 380px;
    padding-top: 0;
    border-radius: 0;
    border: 1px solid #21B24B;
    background: #FFF;
    color: #000;
}

#tol-header-layout-1 .dropdown-bonus li a {
    padding: 10px 2px;
}

#tol-header-layout-1 .dropdown-bonus .dropdown-header,
#tol-header-layout-1 .tol-bonuses .tol-title{
    color: #000;
    font-size: 16px;
    padding: 11px 20px;
    line-height: normal;
    background: #e5e5e5;
}

#tol-header-layout-1 .dropdown-bonus .dropdown-header:after,
#tol-header-layout-1 .tol-bonuses .tol-title:after,
.tol-bonuses .tol-body.pending:after{
    content: '';
    width: 90%;
    height: 1px;
    position: absolute;
    left: 5%;
}
    #tol-header-layout-1 .dropdown-bonus .dropdown-header:after{
        top: 11%; 
    }

    #tol-header-layout-1 .tol-bonuses .tol-title:after{
        bottom: 39%;
    }

    .tol-bonuses .tol-body.pending:after{
        bottom: 0;
    }

#tol-header-layout-1 .progress.progress-xs {
    height: 8px;
}

#tol-header-layout-1 .dropdown-bonus .table thead th {
    background-image: none;
}

#tol-header-layout-1 .dropdown-bonus .table td {
    vertical-align: middle;
}

#tol-header-layout-1 .dropdown-bonus .progress {
    background: #444444 none repeat scroll 0 0;
    border: 1px solid #444444;
    margin-bottom: 6px;
    margin-top: 5px;
}
/* bonus dropdown */

.tol-language-switcher {
    display: inline-block;
    margin-left: 49%;
    display: inline-block;
    margin-top: 13px;
}
.logged .tol-language-switcher {
    margin-left: 30%;
}
#tol-login-area, #tol-userbar {
    position: relative;
    top: 13px;
    float: right;
}
#tol-header-layout-3 #tol-userbar .icon-link.tol-userbar-inbox .icon:hover,
#tol-header-layout-3 #tol-userbar button[class="btn  dropdown-toggle"]:hover,
.bonus-icon .icon-icon2:hover, .icon-link:hover .icon-icon3:before, a.bonus-icon:hover .icon, .dropdown-user:hover .glyphicon-user {
    color: #21B24B;
}
#tol-header-layout-1 .tol-bonuses .tol-title{
    margin: 0;
    border-radius: 0;
    font-weight: 400;
}
#tol-header-layout-1 .tol-bonuses .tol-body.pending{
   background: #FFF;
   padding: 20px;
   height: 130px !important;
}
#tol-header-layout-1 .tol-bonuses .tol-row{
   background: #FFF;
   border-bottom: 0;
   padding: 7px;
}
#tol-header-layout-1 .btn-bonuses-accept{
    font-size: 13px;
}
#tol-header-layout-1 .dropdown-bonus .tol-body.active{
    padding: 0 10px;
}
.tol-bonuses .tol-row div {
    color: #000;
}
.tol-bonuses .tol-header {
    background: #21B24B;
}
.tol-bonuses .tol-body.active {
    background: #FFF;
}
.tol-bonuses {
    height: 304px;
}