.tol-login-userbar-container {
    float: right;
}
.modal-content .widgetPlaceholder.error-message,
.login-success-message.success-message {
    margin-top: 10px;
    color: red;
}
.login-success-message.success-message {
    color: green;
}
.tol-language-switcher,
.tol-wp-navigation {
    float: left;
}

.tol-wp-navigation {
    z-index: 99;
    position: relative;
    height: auto;
    background: #121B27;
    min-width: 179px;
    border-bottom: 1px solid #000;
}

.tol-wp-navigation .navbar-nav li {
    width: 100%;
    position: relative;
    display: block;
    float: left;
    height: 31px;
    line-height: 31px;
	white-space: nowrap;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mobile-binary,
.mobile-exchange,
.mobile-simplex,
.mobile-forex {
    display: none !important;
}

#menu-primary-not-logged {
    background: transparent;
    ;
}

.navigation {
    border-bottom: 1px solid #fff;
    background: #000;
}

.white-theme .navigation {
    border-bottom: 0;
}

.tol-wp-navigation .navbar-nav li:hover {
    background: #3176FD;
}

.tol-wp-navigation .navbar-inverse .navbar-nav>li.current_page_item>a:hover {
    color: #FFFFFF;
}

.tol-wp-navigation .main-nav .sub-menu {
    display: none;
}

.tol-wp-navigation .navbar-nav>li:hover .sub-menu {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    left: 150px;
    background: #2D3E50;
    padding-left: 0;
    min-width: 215px;
    border-bottom: 1px solid #000;
}

.navigation .nav-button.tol-login-account {
    width: 160px;
    height: 31px;
    line-height: 29px;
    font-family: 'roboto', serif;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
    border-top: 1px solid #232429;
    border-bottom: 1px solid #232429;
}

.navigation .nav-button.tol-create-account {
    width: 160px;
    height: 31px;
    line-height: 29px;
    font-family: 'roboto', serif;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
    border-top: 1px solid #69bb1b;
    border-bottom: 1px solid #69bb1b;
}
body.page-traderoom.modal-open {
	padding-right: 0 !important;
}
.white-theme .navigation .nav-button.tol-login-account {
    background: transparent;
    box-shadow: none;
    border: 1px solid #fff;
}

.white-theme .navigation .nav-button.tol-create-account {
    background: #0FA256;
    border: 1px solid #0FA256;
}

.tol-wp-navigation .navbar-nav li>a {
    padding-top: 6px;
    padding-bottom: 5px;
    font-family: 'roboto', serif;
    font-size: 14px;
    text-transform: capitalize;
    padding-left: 15px;
    text-decoration: none;
}

#lang_sel_click {
    height: 31px !important;
}

#lang_sel_click li {
    width: 160px !important;
}

#lang_sel_click img.iclflag {
    top: -1px !important;
}

#lang_sel_click a.lang_sel_sel {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #111214 !important;
    color: #fff !important;
    font-size: 14px;
    font-family: 'roboto', serif;
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    width: 160px;
    height: 31px;
    line-height: 31px;
    border-top: 1px solid #111214;
    border-bottom: 1px solid #111214;
    border-left: 0;
    border-right: 0;
}

#tol-login-popup .open-real-account {
    width: 100%;
    color: #fff;
    height: 40px;
    line-height: 40px;
    background-color: #3176FC;
    font-family: 'roboto', serif;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    border-top: 1px solid #3394FD;
    border-bottom: 1px solid #000000;
}


.modal-footer {
    background: #1e1e1e;
    border-top: 1px solid #000000;
    text-align: center;
}

.navigation .nav-button.tol-quick-deposit {
    margin-right: 0;
    font-size: 13px;
    text-transform: capitalize;
    padding: 0 15px;
}

.savePassWrapper input[type="checkbox"].savePass {
    margin-top: 0;
}

.savePassWrapper label {
    font-size: 13px;
    line-height: 20px;
}

.savePassWrapper label label {
    display: none;
}

.popup-password a[data-translate=forgotPassword] {
    font-size: 13px;
    line-height: 21px;
}

.nav-game-notlogged {
    position: relative;
    float: left;
}

.nav-game-notlogged .dropdown-menu {
    border-radius: 0;
    padding: 0;
    right: 0;
    left: unset;
    background: #111214;
    border-bottom: 1px solid #000;
    z-index: 9;
    min-width: 153px;
}

.dropdown-menu>li>a {
    color: #FFF;
    height: 31px;
    line-height: 28px;
    padding: 3px 20px 3px 35px !important;
}

.tol-userbar-settings {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/userbar-settings.png) no-repeat 7px center;
}

.tol-userbar-my-trades {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/trades.png) no-repeat 7px center;
}

.tol-userbar-my-portfolios {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/portfolio-h.png) no-repeat 7px center;
}

.tol-userbar-my-profile {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/profile.png) no-repeat 7px 6px;
}

.tol-userbar-logout-user {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/logout.png) no-repeat 7px center;
}

.tol-userbar-social-profile {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/soc-profile.png) no-repeat 8px 8px;
}

.tol-userbar-transaction-history {
    background: transparent url(/wp-content/themes/tol-parent/images/transaction-history.png) no-repeat 11px 8px;
}

.dropdown-menu>li>a:hover {
    background-color: #3176FD;
    color: #FFF;
}

#tol-registration-popup .form-group.popup-password {
    margin-bottom: 0;
    padding-bottom: 30px;
}
.navigation .deposit-funds:active,
.navigation .open-real-account:active,
.navigation .verification:active {
    background-color: #3176FD;
}
@media (max-width: 767px) {
    .navigation {
        padding: 10px;
    }
    .navbar-nav {
        margin: 15px 0 0;
    }
    .tol-login-userbar-container,
    .navigation .right-buttons {
        width: 100%;
    }
    .navigation .nav-button.tol-quick-deposit {
        margin-right: 0;
        padding: 0 5px;
        width: 100%;
    }
    #tol-userbar>li {
        display: inline-block;
        width: 49%;
    }
    #tol-userbar>li:nth-child(2) {
        float: right;
    }
    .page-traderoom #tol-userbar>li:nth-child(3) {
        width: 100%;
        margin-top: 15px;
    }
    .navigation .nav-user.nav-button {
        width: 100%;
    }
    .navbar-nav#tol-userbar>li>.dropdown-menu {
        position: absolute;
    }
    .navigation .nav-button.tol-create-account {
        width: 140px;
        margin-right: 0;
        float: right;
    }
    .navigation .nav-button.tol-login-account {
        width: 140px;
    }
}

#lang_sel_click {
    margin: 1px 19px 1px 20px;
}

#lang_sel_click li {
    width: 50px !important;
}

#lang_sel_click ul ul {
    width: 50px !important;
}

#lang_sel_click a.lang_sel_sel {
    width: auto;
}

#lang_sel_click a.lang_sel_sel,
#lang_sel_click a.lang_sel_sel:hover {
    color: transparent !important;
    height: 30px;
}

#lang_sel_click ul ul a,
#lang_sel_click ul ul a:hover {
    color: transparent !important;
}

#lang_sel_click li {
    height: 25px;
}

.navbar-nav#tol-userbar>li>.dropdown-menu {
    border-radius: 0;
    padding: 0;
    right: 0;
    left: unset;
    background: #111214;
    z-index: 9;
}

.navbar-nav#tol-userbar>li>.dropdown-menu.navgame {
    min-width: 120px;
}

.menu-visible .navigation .nav-button.main-menu .main-menu-icon span:nth-child(1) {
    top: 6px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    border: 0;
    height: 2px;
}

.menu-visible .navigation .nav-button.main-menu .main-menu-icon span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.menu-visible .navigation .nav-button.main-menu .main-menu-icon span:nth-child(3) {
    top: 6px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border: 0;
    height: 2px;
}

.tol-wp-navigation {
    display: block;
    position: absolute;
    left: -185px;
    width: 179px;
}

#userbarmenu {
    display: none;
    position: absolute;
    right: -185px;
    width: 179px;
    margin: 0;
    background: #121B27;
}

body.menu-visible {
    left: 180px;
    position: fixed;
    overflow: visible;
    background-color: #111214;
}

.menu-visible .tol-wp-navigation {
    top: -15px;
}

.new-binary-close-sidemenu {
    padding: 14px 15px;
    font-size: 16px;
    width: auto;
}

#tol-social-popup .modal-header div:nth-child(n + 4) {
    color: #AD1F2F;
    margin-left: 100px;
    line-height: 34px;
}
.page-traderoom .tol-wp-navigation .navbar-nav li {
    height: auto;
}
.page-traderoom .tol-wp-navigation .navbar-nav>li:hover .sub-menu {
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    background: #2D3E50;
    padding-left: 15px;
    min-width: unset;
    border-bottom: 0;
}
.page-traderoom .tol-wp-navigation {
    background: #1e1e1e;
}
#tol-login-popup .open-real-account {
    width: 100%;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-family: Arial, monospace;
    cursor: pointer;
    text-transform: uppercase;
    border-top: 1px solid #69bb1b;
    border-bottom: 1px solid #69bb1b;
    background-color: #69bb1b;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
}
#tol-login-popup .open-real-account:hover {
    background-color: #458E00;
    color: #000;
}
