.tol-login-userbar-container {
    float: right;
}
.tol-language-switcher, .tol-wp-navigation {
    float: left;
}
.tol-wp-navigation {
    z-index: 99;
    display: block;
    position: absolute;
    left: -185px;
    width: 179px;
    background: #2D3E50;
    min-width: 179px;
    border-bottom: 1px solid #000;
}

.tol-wp-navigation .navbar-nav li {
    width: 100%;
    position: relative;
    display: block;
    float: left;
    height: 31px;
    line-height: 31px;
}
.navigation {
    border-bottom: 1px solid #000;
    background: #182434;
}
.white-theme .navigation {
    border-bottom: 0;
}
.tol-wp-navigation .navbar-nav li:hover {
    background: #f9a134;
}
.tol-wp-navigation .navbar-inverse .navbar-nav > li.current_page_item > a:hover {
    color: #FFFFFF;
}
.tol-wp-navigation .main-nav .sub-menu {
    display: none;
}
.tol-wp-navigation .navbar-nav > li:hover .sub-menu {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    left: 150px;
    background: #2D3E50;
    padding-left: 0;
    min-width: 215px;
    border-bottom: 1px solid #000;
}
.navigation .nav-button.tol-login-account {
    width: 160px;
    height: 31px;
    line-height: 29px;
    font-family: 'roboto';
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
    border-top: 1px solid #3E4F61;
    border-bottom: 1px solid #000000;
}
.white-theme .navigation .nav-button.tol-login-account {
    background: transparent;
    box-shadow: none;
    border: 1px solid #fff;
}
.navigation .nav-button.tol-create-account {
    width: 160px;
    height: 31px;
    line-height: 29px;
    font-family: 'roboto';
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
    border-top: 1px solid #3394FD;
    border-bottom: 1px solid #000000;
}
.white-theme .navigation .nav-button.tol-create-account {
    background: #0FA256;
    border: 1px solid #0FA256;
}
.tol-wp-navigation .navbar-nav li > a {
    padding-top: 6px;
    padding-bottom: 5px;
    color: #FFF;
    font-family: 'roboto';
    font-size: 14px;
    text-transform: capitalize;
    padding-left: 15px;
    text-decoration: none;
}
.tol-wp-navigation .navbar-nav>li>a:hover {
    background: transparent;
}
#lang_sel_click {
    height: 31px !important;
}
#lang_sel_click li {
    width: 160px !important;
}
#lang_sel_click img.iclflag {
    top: -1px !important;
}
#lang_sel_click a.lang_sel_sel {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #2C3D4F !important;
    color: #fff !important;
    font-size: 14px;
    font-family: 'roboto';
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    width: 160px;
    height: 31px;
    line-height: 31px;
    border-top: 1px solid #3E4F61;
    border-bottom: 1px solid #000000;
    border-left: 0;
    border-right: 0;
}
#tol-login-popup .open-real-account {
    width: 100%;
    color: #fff;
    height: 40px;
    line-height: 40px;
    background-color: #f9a134;
    font-family: 'roboto';
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    border-top: 1px solid #3394FD;
    border-bottom: 1px solid #000000;
}
#tol-login-popup .open-real-account:hover {
    background-color: #db851a;
}
.nav-game-notlogged {
    position: relative;
    float: left;
}
.nav-game-notlogged .dropdown-menu {
    border-radius: 0;
    padding: 0;
    right: 0;
    left: unset;
    background: #2D3E50;
    border-bottom: 1px solid #000;
    z-index: 9;
    min-width: 153px;
}
.modal-footer {
    background: #121C26;
    border-top: 1px solid #000000;
    text-align: center;
}
.navigation .nav-button.tol-quick-deposit {
    margin-right: 0;
    font-size: 13px;
    text-transform: capitalize;
    padding: 0 15px;
}
.savePassWrapper input[type="checkbox"].savePass {
    margin-top: 0;
}
.savePassWrapper label {
    font-size: 13px;
    line-height: 20px;
}
.popup-password a[data-translate=forgotPassword] {
    font-size: 13px;
    line-height: 21px;
}
.dropdown-menu > li > a {
    color: #FFF;
    height: 31px;
    line-height: 28px;
    padding: 3px 20px 3px 35px !important;
}
.tol-userbar-my-trades {
    background: transparent url(/wp-content/themes/tol-child/images/trades.png) no-repeat 7px center;
}
.tol-userbar-my-profile {
    background: transparent url(/wp-content/themes/tol-child/images/profile.png) no-repeat 7px 6px;
}
.tol-userbar-logout-user {
    background: transparent url(/wp-content/themes/tol-child/images/logout.png) no-repeat 7px center;
}
.dropdown-menu > li > a:hover {
    background-color: #f9a134;
    color: #FFF;
}
#tol-registration-popup .form-group.popup-password {
    margin-bottom: 0;
    padding-bottom: 30px;
}
body.menu-visible {
    left: 180px;
    position: relative;
    overflow: hidden;
}
.menu-visible .tol-wp-navigation {
    top: -15px;
}
.new-binary-close-sidemenu {
    padding: 14px 15px;
    font-size: 16px;
    width: auto;
}
.mobile-binary,
.mobile-exchange,
.mobile-simplex,
.mobile-forex {
    display: none !important;
}
@media (max-width: 767px) {
    .navigation {
        padding: 10px;
    }
    .navbar-nav {
        margin: 15px 0 0;
    }
    .tol-login-userbar-container, .navigation .right-buttons {
        width: 100%;
    }
    .navigation .nav-button.tol-quick-deposit {
        margin-right: 0;
        padding: 0 5px;
        width: 100%;
    }
    #tol-userbar > li {
        display: inline-block;
        width: 49%;
    }
    #tol-userbar > li:nth-child(2) {
        float: right;
    }
    .page-traderoom #tol-userbar > li:nth-child(3) {
        width: 100%;
        margin-top: 15px;
    }
    .navigation .nav-user.nav-button {
        width: 100%;
    }
    .navbar-nav#tol-userbar > li > .dropdown-menu {
        position: absolute;
    }
    .navigation .nav-button.tol-create-account {
        width: 140px;
        margin-right: 0;
        float: right;
    }
    .navigation .nav-button.tol-login-account {
        width: 140px;
    }
}

#lang_sel_click{
    margin: 1px 19px 1px 20px;
}
#lang_sel_click li{
    width: 50px !important;
}
#lang_sel_click ul ul{
    width: 50px !important;
}
#lang_sel_click a.lang_sel_sel{
    width: auto;
}
.table.easy-trades-table td,
.table.easy-trades-table th {
    text-align: left;
}


#lang_sel_click a.lang_sel_sel,
#lang_sel_click a.lang_sel_sel:hover{
    color:transparent !important;
    height: 30px;
}
#lang_sel_click ul ul a,
#lang_sel_click ul ul a:hover{
    color:transparent !important;
}
#lang_sel_click a.lang_sel_sel img.iclflag{
    top:8px !important;
}
#lang_sel_click li {
    height: 25px;
}

.navbar-nav#tol-userbar > li > .dropdown-menu {
    border-radius: 0;
    padding: 0;
    right: 0;
    left: unset;
    background: #2D3E50;
    border-bottom: 1px solid #000;
    z-index: 9;
}
.navbar-nav#tol-userbar > li > .dropdown-menu.navgame {
    min-width: 153px;
}