tol-language-switcher, .tol-wp-navigation {
    float: left;
    margin-right: 15px;
}
.navigation .right-buttons {
    float: none;
}
#tol-userbar {
    margin: 0;
    text-align: right;
    position: relative;
    top: 6px;
    float: right;
}
.tol-wp-navigation {
    z-index: 99;
    position: relative;
    height: auto;
    background: #1e1e1e;
    margin-top: 9px;
    margin-left: 7px;
    min-width: 150px;
}
.white-theme .tol-wp-navigation {
    background: #243b98;
    border-bottom: 0;
}
.tol-wp-navigation .navbar-nav li {
    width: 100%;
    position: relative;
    display: block;
    float: left;
    min-height: 31px;
    height: auto;
    line-height: 31px;
}
.tol-wp-navigation .navbar-nav li.mobile-tradenow {
    display: none;
}
.tol-wp-navigation .navbar-nav > li.current-menu-item > a {
    background: #0368D8;
}
.white-theme .tol-wp-navigation .navbar-nav > li.current-menu-item > a {
    background: #0fa156;
}
.tol-wp-navigation .navbar-inverse .navbar-nav > li.current_page_item > a:hover {
    color: #FFFFFF;
}
.tol-wp-navigation .main-nav .sub-menu {
    display: none;
}
.tol-wp-navigation .navbar-nav > li:hover .sub-menu {
    display: block;
    width: 100%;
    padding-left: 15px;
}
.tol-wp-navigation .navbar-nav > li:hover .sub-menu li {
    overflow: hidden;
    text-overflow: ellipsis;
}
.tol-wp-navigation .navbar-nav > li:hover .sub-menu li a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.navigation .nav-button.tol-login-account {
    margin-left: 0;
    width: 70px;
    height: 28px;
    line-height: 27px;
    font-family: 'roboto';
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000000;
}
.white-theme .navigation .nav-button.tol-login-account {
    background: transparent;
    box-shadow: none;
    border: 1px solid #fff;
}
.navigation .nav-button.tol-create-account {
    width: 160px;
    height: 28px;
    line-height: 27px;
    font-family: 'roboto';
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
    border-top: 1px solid #3176FC;
    border-bottom: 1px solid #000000;
}
.white-theme .navigation .nav-button.tol-create-account {
    background: #0FA256;
    border: 1px solid #0FA256;
}
.tol-wp-navigation .navbar-nav li > a {
    padding-top: 6px;
    padding-bottom: 5px;
    color: #FFF;
    font-family: 'roboto';
    font-size: 14px;
    text-transform: capitalize;
    padding-left: 15px;
    text-decoration: none;
}
.tol-wp-navigation .navbar-nav li > a:focus {
    background: transparent;
    outline: none;
}
#lang_sel_click {
    height: 31px !important;
}
#lang_sel_click li {
    width: 100% !important;
}
#lang_sel_click img.iclflag {
    top: -1px !important;
}
#lang_sel_click a {
    background-color: #2C3D4F !important;
    color: #fff !important;
    font-size: 14px !important;
    font-family: 'roboto';
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    height: 31px;
    line-height: 31px !important;
    border: 0 !important;
    padding: 0 0 0 15px !important;
}
#lang_sel_click ul ul {
    top: 31px !important;
    width: 100% !important;
    border-top: 0 !important;
}
#lang_sel_click ul ul a:hover {
    background-color: #625f6b !important;
}
#tol-login-popup .open-real-account {
    width: 100%;
    color: #fff;
    height: 40px;
    line-height: 40px;
    background-color: #3176FC;
    font-family: 'roboto';
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    border-top: 1px solid #3176FC;
    border-bottom: 1px solid #000000;
}
#tol-login-popup .open-real-account:hover {
    background-color: #49acf2;
}
.modal-footer {
    background: #1e1e1e;
    border-top: 1px solid #000000;
    text-align: center;
}
.navigation .nav-button.tol-quick-deposit {
    margin-right: 15px;
    font-size: 13px;
    text-transform: capitalize;
    padding: 0 15px;
}
.savePassWrapper input[type="checkbox"].savePass {
    margin-top: 0;
}
.savePassWrapper input[type="checkbox"].savePass + label {
    background: url('/wp-content/themes/tol-parent/images/tournaments_popup_checkbox_0.png') no-repeat center bottom;
    height: 14px;
    width: 14px;
    display: inline-block;
    padding: 0;
    margin-left: -20px;
    background-size: 100%;
}
.savePassWrapper input[type="checkbox"].savePass:checked + label {
    background: url('/wp-content/themes/tol-parent/images/tournaments_popup_checkbox_1.png') no-repeat center bottom;
    height: 14px;
    width: 14px;
    display: inline-block;
    padding: 0;
    margin-left: -20px;
    background-size: 100%;
}

.savePassWrapper label {
    font-size: 13px;
    line-height: 20px;
}
.popup-password a[data-translate=forgotPassword] {
    font-size: 13px;
    line-height: 21px;
}
.dropdown-menu > li > a {
    color: #FFF;
    height: 31px;
    line-height: 28px;
    padding: 3px 20px 3px 35px;
}
.tol-userbar-settings {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/userbar-settings.png) no-repeat 7px center;
}
.tol-userbar-my-trades {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/trades.png) no-repeat 7px center;
}
.tol-userbar-my-profile {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/profile.png) no-repeat 7px 6px;
}
.tol-userbar-my-portfolios {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/portfolio-h.png) no-repeat 7px center;
}
.tol-userbar-social-profile {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/soc-profile.png) no-repeat 8px 8px;
}
.tol-userbar-logout-user {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/logout.png) no-repeat 7px center;
}
.userBarElem.userName {
    display: inline-block;
    width: 13px;
    height: 14px;
    background: transparent url(/wp-content/themes/tol-parent/images/forex/profile_m.png) no-repeat center;
    position: relative;
    top: 3px;
    left: -5px;
}
.nav-button .dropdown-arrow {
    top: 9px;
}
.dropdown-menu > li > a:hover {
    background-color: #0368D8;
    color: #FFF;
}
.navigation .nav-button {
    height: 21px;
    line-height: 21px;
}
#tol-registration-popup .form-group.popup-password {
    margin-bottom: 0;
    padding-bottom: 30px;
}
.navigation .nav-user.nav-button {
    min-width: 50px;
    padding-right: 12px;
}
#tol-login-area {
    float: right;
    margin-top: 3px;
}
.navigation .nav-button.main-menu .main-menu-icon {
    top: 7px;
    left: 5px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.navigation .nav-button.main-menu .main-menu-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #464646;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.navigation .nav-button.main-menu .main-menu-icon span:nth-child(1) {
    top: 0;
}
.navigation .nav-button.main-menu .main-menu-icon span:nth-child(2) {
    top: 6px;
}
.navigation .nav-button.main-menu .main-menu-icon span:nth-child(3) {
    top: 12px;
}
.menu-visible .navigation .nav-button.main-menu .main-menu-icon span:nth-child(1) {
    top: 6px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    border: 0;
    height: 2px;
}
.menu-visible .navigation .nav-button.main-menu .main-menu-icon span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
.menu-visible .navigation .nav-button.main-menu .main-menu-icon span:nth-child(3) {
    top: 6px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border: 0;
    height: 2px;
}
.menu-visible .navigation .nav-button.main-menu .main-menu-icon {
    left: -178px;
    z-index: 999;
}
#mobilemenu {
    display: block;
    position: absolute;
    top: 0;
    left: -180px;
    width: 179px;
    margin: 0;
    overflow-y: auto;
    z-index: 1000;
}
#mobilemenu-shadow,
#toggle-menu2 {
    display: none;
}
.menu-visible #mobilemenu-shadow {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}
.menu-visible #toggle-menu2 {
    display: block;
    z-index: 10000;
    position: absolute;
    color: #8c8a98;
    font-size: 16px;
    top: 10px;
    left: -25px;
    width: 16px;
    height: 16px;
}
.menu-visible.page-traderoom #content {
    position: fixed;
}
#userbarmenu {
    display: none;
    position: absolute;
    right: -189px;
    width: 180px;
    margin: 0;
    background: #1e1e1e;
}
#userbarmenu ul {
    margin: 0;
    padding: 0;
}
#userbarmenu li {
    background: #1e1e1e;
    list-style: none;
}
.white-theme #userbarmenu li {
    background: transparent;
}
#userbarmenu li.usermenu-icon {
    font-size: 19px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 20px;
    text-align: right;
}
#userbarmenu li>a {
    display: block;
    clear: both;
    font-weight: normal;
    white-space: nowrap;
    color: #FFF;
    height: 31px;
    line-height: 28px;
    padding: 3px 20px 3px 35px;
}
#content, #mobilemenu, #userbarmenu {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}
.animating #content,
.animating #mobilemenu,
.animating2 #userbarmenu {
    transition: transform .5s ease-in-out;
    -webkit-transition: -webkit-transform .5s ease-in-out;
}
.animating.left #content,
.animating.left #mobilemenu {
    transform: translate3d( 180px, 0, 0 );
    -webkit-transform: translate3d( 180px, 0, 0 );
}
.animating2.left #content,
.animating2.left #userbarmenu {
    transform: translate3d( -180px, 0, 0 );
    -webkit-transform: translate3d( -180px, 0, 0 );
}
.animating.right #content,
.animating.right #mobilemenu {
    transform: translate3d( -180px, 0, 0 );
    -webkit-transform: translate3d( -180px, 0, 0 );
}
.animating2.right #content,
.animating2.right #userbarmenu {
    transform: translate3d( 180px, 0, 0 );
    -webkit-transform: translate3d( 180px, 0, 0 );
}

body.menu-visible {
    left: 180px;
    position: fixed;
    overflow: visible;
    background-color: #111214;
}
.menu-visible #menu-primary-not-logged {
    background: transparent;
    border-bottom: 1px solid #000;
}
.white-theme.menu-visible #menu-primary-not-logged {
    background: #2250a5;
    border-bottom: 0;
}
.tol-language-switcher {
    background: #2D3E50;
    width: 100%;
    margin-right: 0;
}
.white-theme .tol-language-switcher {
    background: #2250a5;
}
.white-theme .tol-language-switcher div#lang_sel_click a.lang_sel_sel {
    border: 0 !important;
}
.usermenu-visible #content {
    right: 180px;
}
.usermenu-visible #userbarmenu {
    right: 0;
    display: block;
    left: unset;
    padding-top: 30px;
    border-radius: 0;
}
.white-theme.usermenu-visible #userbarmenu {
    background: #2250a5;
    box-shadow: none;
}
#toggle-usermenu {
    color: #ffffff;
}
.tol-trade-button {
    text-transform: none !important;
    font-size: 14px !important;
    padding: 0 15px !important;
}

#tol-existing-user .modal-body {
    padding: 15px;
    font-size: 14px;
}

#lang_sel_click ul li ul li {
    margin-left: 0 !important;
    margin-top: 1px;
}
.page-traderoom.menu-visible.left #tol-header-layout-25 {
    z-index: 10001;
}

@media (max-width: 767px) {
    .nav_logo {
        width: auto;
        height: 25px;
        top: -9px;
    }
    .page-traderoom .navbar-brand {
        height: 45px;
        width: auto;
        min-width: 106px;
        padding: 0;
        margin-top: 0;
        margin-left: -5px;
        background: url('/wp-content/themes/tol-parent/images/forex/logo-dark-theme.png') no-repeat !important;
        background-size: contain !important;
    }
    .navigation {
        padding: 10px;
    }
    .navbar-nav {
        margin: 15px 0 0;
    }
    .navigation .nav-button.tol-quick-deposit {
        margin-right: 0;
        padding: 0 5px;
        width: 100%;
    }
    #tol-userbar > li {
        display: inline-block;
    }
    #tol-userbar > li:nth-child(1) {
        min-width: 87px;
        width: auto;
        height: 21px;
        margin-right: 5px;
    }
    #tol-userbar > li:nth-child(2) {
        width: 51px;
        height: 21px;
    }
    .navbar-nav#tol-userbar > li > .dropdown-menu {
        position: absolute;
    }
    .navigation .nav-button.tol-create-account {
        width: 70px;
        margin-right: 0;
    }
}
.navigation {
	background: #111214;
}
.error-message {
	color: red;
}
.success-message {
	color: green;
}
