.tol-language-switcher, .tol-wp-navigation {
    float: left;
    margin-right: 15px;
}
.navigation .right-buttons {
    float: none;
}
#tol-userbar {
    margin: 0;
    text-align: right;
    float: right;
}
.tol-login-userbar-container {
    float: right;
}
.tol-wp-navigation {
    z-index: 99;
    position: relative;
    height: auto;
    background: #2D3E50;
    margin-top: 9px;
    margin-left: 7px;
    min-width: 150px;
    border-bottom: 1px solid #000;
}
.tol-wp-navigation .navbar-nav li {
    width: 100%;
    position: relative;
    display: block;
    float: left;
    min-height: 31px;
    height: auto;
    line-height: 31px;
}
.tol-wp-navigation .navbar-nav>li>a:hover {
    background: #f9a134;
}
.tol-wp-navigation .navbar-inverse .navbar-nav > li.current_page_item > a:hover {
    color: #FFFFFF;
}
.tol-wp-navigation .main-nav .sub-menu {
    display: none;
}
.tol-wp-navigation .navbar-nav > li:hover .sub-menu {
    display: block;
    width: 100%;
    padding-left: 15px;
}
.tol-wp-navigation .navbar-nav > li:hover .sub-menu li {
    overflow: hidden;
    text-overflow: ellipsis;
}
.tol-wp-navigation .navbar-nav > li:hover .sub-menu li a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.navigation .nav-button.tol-login-account {
    margin-left: 0;
    width: 100px;
    height: 31px;
    line-height: 29px;
    font-family: 'roboto';
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
    border-top: 1px solid #3E4F61;
    border-bottom: 1px solid #000000;
}
.navigation .nav-button.tol-create-account {
    width: 160px;
    height: 31px;
    line-height: 29px;
    font-family: 'roboto';
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
    border-top: 1px solid #3394FD;
    border-bottom: 1px solid #000000;
}
.tol-wp-navigation .navbar-nav li > a {
    padding-top: 6px;
    padding-bottom: 5px;
    color: #FFF;
    font-family: 'roboto';
    font-size: 14px;
    text-transform: capitalize;
    padding-left: 15px;
    text-decoration: none;
}
.tol-wp-navigation .navbar-nav ul li > a {
	line-height: 31px;
}
#lang_sel_click {
    height: 31px !important;
    margin: 1px 4px 1px 20px;
}
#lang_sel_click a.lang_sel_sel {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #2C3D4F !important;
    color: transparent !important;
    font-size: 14px;
    font-family: 'roboto';
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    width: auto;
    height: 30px;
    line-height: 31px;
    border-top: 1px solid #3E4F61;
    border-bottom: 1px solid #000000;
    border-left: 0;
    border-right: 0;
}
#lang_sel_click a:visited {
    display: block;
    font-size: 11px;
    text-decoration: none !important;
    color: #444444;
    border: 1px solid #cdcdcd;
    background: #fff;
    padding-left: 10px;
    line-height: 24px;
}
#lang_sel_click img.iclflag {
    top: -2px !important;
}
#lang_sel_click a {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #2C3D4F !important;
    color: #fff !important;
    font-size: 14px !important;
    font-family: 'roboto';
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    width: 149px;
    height: 31px;
    line-height: 31px !important;
    border: 0 !important;
    border-top: 1px solid #3E4F61 !important;
    border-bottom: 1px solid #000000 !important;
    padding: 0 0 0 10px !important;
}
#lang_sel_click ul ul {
    top: 31px !important;
    border-top: 0 !important;
}
#lang_sel_click ul ul a:hover {
    background-color: #625f6b !important;
}
#tol-login-popup .open-real-account {
    width: 100%;
    color: #fff;
    height: 40px;
    line-height: 40px;
    background-color: #f9a134;
    font-family: 'roboto';
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
    border-top: 1px solid #3394FD;
    border-bottom: 1px solid #000000;
}
#tol-login-popup .open-real-account:hover {
    background-color: #db851a;
}
.modal-footer {
    background: #121C26;
    border-top: 1px solid #000000;
    text-align: center;
}
.navigation .nav-button.tol-quick-deposit {
    margin-right: 15px;
    font-size: 13px;
    text-transform: capitalize;
    padding: 0 15px;
}
.savePassWrapper input[type="checkbox"].savePass {
    margin-top: 0;
}
.savePassWrapper label {
    font-size: 13px;
    line-height: 20px;
}
.popup-password a[data-translate=forgotPassword] {
    font-size: 13px;
    line-height: 21px;
}
.dropdown-menu > li > a {
    color: #FFF;
    height: 31px;
    line-height: 28px;
    padding: 3px 20px 3px 35px;
}
.tol-userbar-my-trades {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/trades.png) no-repeat 7px center;
}
.tol-userbar-my-profile {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/profile.png) no-repeat 7px 6px;
}
.tol-userbar-my-portfolios {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/portfolio-h.png) no-repeat 7px center;
}
.tol-userbar-social-profile {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/soc-profile.png) no-repeat 8px 8px;
}
.tol-userbar-logout-user {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/logout.png) no-repeat 7px center;
}
.navbar-nav#tol-userbar > li > .dropdown-menu {
    border-radius: 0;
    padding: 0;
    right: 0;
    left: unset;
    background: #2D3E50;
    border-bottom: 1px solid #000;
    z-index: 9;
}
.nav-button .dropdown-arrow {
    top: 14px;
}
.dropdown-menu > li > a:hover {
    background-color: #f9a134;
    color: #FFF;
}
.navigation .nav-button {
    height: 30px;
    line-height: 30px;
}
#tol-registration-popup .form-group.popup-password {
    margin-bottom: 0;
    padding-bottom: 30px;
}
#tol-login-area {
    float: right;
    margin-top: 3px;
}
.navigation .nav-button.main-menu .main-menu-icon {
    top: 7px;
    left: 5px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.navigation .nav-button.main-menu .main-menu-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #647E98;
    border-bottom: 1px solid #41546A;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.navigation .nav-button.main-menu .main-menu-icon span:nth-child(1) {
    top: 0;
}
.navigation .nav-button.main-menu .main-menu-icon span:nth-child(2) {
    top: 6px;
}
.navigation .nav-button.main-menu .main-menu-icon span:nth-child(3) {
    top: 12px;
}
.menu-visible .navigation .nav-button.main-menu .main-menu-icon span:nth-child(1) {
    top: 6px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    border: 0;
    height: 2px;
}
.menu-visible .navigation .nav-button.main-menu .main-menu-icon span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
.menu-visible .navigation .nav-button.main-menu .main-menu-icon span:nth-child(3) {
    top: 6px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border: 0;
    height: 2px;
}
.menu-visible .navigation .nav-button.main-menu .main-menu-icon {
    left: -178px;
    z-index: 999;
}
#mobilemenu {
    display: block;
    position: absolute;
    top: -15px;
    left: -185px;
    width: 179px;
    margin: 0;
    overflow-y: scroll;
}
#userbarmenu {
    display: none;
    position: absolute;
    right: -189px;
    width: 179px;
    margin: 0;
    background: #121B27;
}
#userbarmenu ul {
    margin: 0;
    padding: 0;
}
#userbarmenu li {
    background: #2D3E50;
    list-style: none;
}
#userbarmenu li.usermenu-icon {
    font-size: 19px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 20px;
    text-align: right;
}
#userbarmenu li>a {
    display: block;
    clear: both;
    font-weight: normal;
    white-space: nowrap;
    color: #FFF;
    height: 31px;
    line-height: 28px;
    padding: 3px 20px 3px 35px;
}
#content, #mobilemenu, #userbarmenu {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}
.animating #content,
.animating #mobilemenu,
.animating2 #userbarmenu {
    transition: transform .5s ease-in-out;
    -webkit-transition: -webkit-transform .5s ease-in-out;
}
.animating.left #content,
.animating.left #mobilemenu {
    transform: translate3d( 180px, 0, 0 );
    -webkit-transform: translate3d( 180px, 0, 0 );
}
.animating2.left #content,
.animating2.left #userbarmenu {
    transform: translate3d( -180px, 0, 0 );
    -webkit-transform: translate3d( -180px, 0, 0 );
}
.animating.right #content,
.animating.right #mobilemenu {
    transform: translate3d( -180px, 0, 0 );
    -webkit-transform: translate3d( -180px, 0, 0 );
}
.animating2.right #content,
.animating2.right #userbarmenu {
    transform: translate3d( 180px, 0, 0 );
    -webkit-transform: translate3d( 180px, 0, 0 );
}
body.menu-visible {
    left: 180px;
    position: relative;
}
.menu-visible #menu-primary-not-logged {
    padding-top: 35px;
}
.usermenu-visible #content {
    right: 180px;
}
.usermenu-visible #userbarmenu {
    right: 0;
    display: block;
    left: unset;
    padding-top: 0;
    background: #2D3E50;
}
#toggle-usermenu {
    color: #ffffff;
}
@media (max-width: 767px) {
    .page-traderoom .navbar-brand.navbar-brand, .nav_logo {
        width: 48px;
    }
    .navigation {
        padding: 10px;
    }
    .navbar-nav {
        margin: 15px 0 0;
    }
    .navigation .nav-button.tol-quick-deposit {
        margin-right: 0;
        padding: 0 5px;
        width: 100%;
    }
    #tol-userbar > li {
        display: inline-block;
    }
    #tol-userbar > li:nth-child(1) {
        min-width: 87px;
        width: auto;
        height: 21px;
        margin-right: 5px;
    }
    #tol-userbar > li:nth-child(2) {
        width: 51px;
        height: 21px;
    }
    .navbar-nav#tol-userbar > li > .dropdown-menu {
        position: absolute;
    }
    .navigation .nav-button.tol-create-account {
        width: 100px;
        margin-right: 0;
        float: right;
        font-size: 12px;
    }
    .navigation .nav-button.tol-login-account {
        font-size: 12px;
    }
}

.tol-trade-button {
    text-transform: none !important;
    font-size: 14px !important;
    padding: 0 15px !important;
}

#tol-existing-user .modal-body {
    padding: 15px;
    font-size: 14px;
}

#lang_sel_click ul li ul li {
    margin-left: 0 !important;
    margin-top: 1;
}