@font-face {
  font-family: 'Roboto-Bold';
  src: url('/wp-content/themes/tol-parent/fonts/ROBOTO-BOLD.TTF');
}

@font-face {
  font-family: 'Open-Sans-Bold';
  src: url('/wp-content/themes/tol-parent/fonts/open-sans.bold.ttf');
}

@font-face {
  font-family: 'robotolight';
  src: url(/wp-content/themes/tol-parent/fonts/roboto_light/Roboto-Light-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url(/wp-content/themes/tol-parent/fonts/roboto_light/Roboto-Light-webfont.woff) format("woff")
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(/wp-content/themes/tol-parent/fonts/Roboto-Regular-webfont.woff) format("woff")
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url(/wp-content/themes/tol-parent/fonts/ROBOTO-BOLD.TTF) format("woff")
}

@font-face {
  font-family: 'robotoblack';
  src: url(/wp-content/themes/tol-parent/fonts/Roboto-Black.woff) format("woff")
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.eot');
  src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.woff2') format('woff2'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.ttf') format('truetype'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Semibold';
  src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot');
  src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff2') format('woff2'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff') format('woff'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.ttf') format('truetype'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
  src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.woff2') format('woff2'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Cond';
  src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.eot');
  src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.woff2') format('woff2'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.woff') format('woff'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.ttf') format('truetype'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
  font-weight: normal;
  font-style: normal;
}

.rightfulAdvice {
  font-family: robotoblack;
  font-size: 1.9285714em;
  text-transform: uppercase;
  line-height: 30px;
}

.paddingTop {
  padding-top: 100px;
}

.small-padding {
  padding-top: 3%;
}

.sm-caption > span {
  font-family: Roboto;
  font-style: italic;
  font-size: 15px;
  color: #616161;
}

.rightful-advice {
  font-family: robotolight;
  font-size: 1em;
  color: #616161;
  letter-spacing: 0.83px;
  line-height: 20px;
}

.paddingTop.footerImg {
  padding-bottom: 125px;
}

.boxes > div {
  height: auto;
  padding: 5%;
}

.boxes .purple {
  background: #384c9f;
}

.boxes .blue {
  background: #1b97d4;
}

.boxes .grey {
  background: #616161;
}

.boxes .icon-container {
  width: 32px;
  height: 32px;
  margin: auto;
  background-position: 50% 50%;
}

.boxes .heading {
  font-family: 'MyriadPro-Regular';
  font-size: 22px;
  color: #fff;
  letter-spacing: 0.4px;
  line-height: 29px;
  text-align: center;
  margin-top: 5%;
}

.boxes .heading:after {
  content: "";
  width: 30px;
  height: 30px;
  background: url("/wp-content/themes/tol-parent/images/homepage33/line.png") no-repeat;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.boxes .body-content {
  color: #f9f9f9;
  font-size: 14px;
  font-family: robotolight;
  line-height: 23px;
  text-align: center;
  margin-top: 10%;
  min-height: 46px;
}

.learn-more-container {
  text-align: center;
  height: 50px;
  margin-top: 10%;
}

.learn-more-container .btn {
  height: 100%;
  width: 160px;
  background: transparent;
  border: 2px solid #fff;
  font-family: 'Open-Sans-Bold';
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.26px;
}

#laptop-img {
  background: url("/wp-content/themes/tol-parent/images/homepage33/laptop.png") no-repeat;
  height: 500px;
  background-size: contain;
}

.rightfulAdvice .purple-text {
  color: #3b4c9f;
}

.table-like {
  .heading {
    display: inline-block;
    font-family: 'Roboto-Bold';
    font-size: 18px;
    color: #282828;
    letter-spacing: 0.32px;
    line-height: 29px;
    text-transform: uppercase;
    margin-left: 5%;
  }
  .body-content {
    display: block;
    font-family: 'robotolight';
    font-size: 14px;
    color: #9b9b9b;
    line-height: 23px;
  }

}

.lang-fr .table-like .heading {
  margin-left: 3%;
}

.tp-caption.tp-resizeme.start {
  font-size: 5.3571428em;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border-width: 0px;
  border-color: #ffffff;
  border-style: none;
  width: 200px;
  height: 51px;
  line-height: 75px;
}

.tp-caption.tp-resizeme.start > a {
  font-size: 13px;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  background: transparent;
  letter-spacing: 0.26px;
  padding: 15% 30%;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
}

.tp-caption.hp13text, .hp13text {
  font-family: 'robotolight' !important;
  font-size: 20px !important;
  font-style: italic;
}

@media (min-width: 1024px) {
  .paddingTop .container {
    width: 100%;
  }

  .boxes {
    height: 460px;
  }

  .paddingTop.text-section .container .row:after {
    content: "";
    width: 30px;
    height: 30px;
    background: url("/wp-content/themes/tol-parent/images/homepage33/separator2.png") no-repeat;
    top: 5px;
    left: 50%;
    margin-right: -50%;
    margin-top: 7%;
    transform: translate(-50%, -50%);
    position: relative;
  }
}

@media (width: 1024px) {
  .tp-caption.tp-resizeme.start > a {
    font-size: 16px !important;
  }

  .lang-fr .table-like .heading {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .animation-element.slide-left {
    text-align: center;
    .rightful-advice {
      text-align: justify;
    }
  }

  .sm-caption {
    text-align: left;
  }

  .tp-caption.tp-resizeme.start {
    left: 25px !important;
  }

  .tp-caption.tp-resizeme.start > a {
    font-size: 12px !important;
  }
}

@media (min-width: 769px) {
  .grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
  }

  /*animation element*/
  .animation-element {
    opacity: 0;
    position: relative;
  }

  /*animation element sliding left*/
  .animation-element.slide-left {
    opacity: 0;
    -moz-transition: all 1000ms linear;
    -webkit-transition: all 1000ms linear;
    -o-transition: all 1000ms linear;
    transition: all 1000ms linear;
    -moz-transform: translate3d(-400px, 0px, 0px);
    -webkit-transform: translate3d(-400px, 0px, 0px);
    -o-transform: translate(-400px, 0px);
    -ms-transform: translate(-400px, 0px);
    transform: translate3d(-400px, 0px, 0px);
  }

  .animation-element.slide-left.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }

  .animation-element2.bounce-up,
  .animation-element3.bounce-up {
    opacity: 0;
    -moz-transition: all 1000ms ease-out;
    -webkit-transition: all 1000ms ease-out;
    -o-transition: all 1000ms ease-out;
    transition: all 1000ms ease-out;
    -moz-transform: translate3d(0px, 600px, 0px);
    -webkit-transform: translate3d(0px, 600px, 0px);
    -o-transform: translate(0px, 600px);
    -ms-transform: translate(0px, 600px);
    transform: translate3d(0px, 600, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .animation-element2.bounce-up.in-view,
  .animation-element3.bounce-up.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }

  /*animation slide left styled for testimonials*/
  @-webkit-keyframes hvr-push {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .hvr-push {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
  }

  .hvr-push:hover, .hvr-push:focus, .hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  .hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }

  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
  }

  .hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }

  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }

  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }

  @-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }

    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }

    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }

    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }

    to {
      -webkit-transform: none;
      transform: none;
    }
  }

  .bounceInLeft.in-view {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
  }

  @keyframes hvr-push {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }

    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }

    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }

    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }

    to {
      -webkit-transform: none;
      transform: none;
    }
  }
}

@media (max-width: 1450px) {
  .tp-caption.hp-33bigfont, .hp-33bigfont,
  .tp-caption.black, .black,
  .tp-caption.hp13text, .hp13text {
    left: 100px !important;
  }

  .home-last-section {
    width: 50%;
    float: left;
  }

  .boxes > div {
    padding: 5% 2%;
  }

  .paddingTop.text-section .container .row:after {
    top: 15px;
  }
}

@media (max-width: 1280px) {
  .paddingTop.text-section .container .row:after {
    top: 25px;
  }

  #laptop-img {
    background-size: 90%;
  }

  #cryptoCurrencies {
    background-size: 90%;
  }
}

@media (max-width: 1024px) {
  .text-section.final-section #cryptoCurrencies {
    background-size: contain;
  }
}

@media (width: 768px) {
  .home-last-section {
    width: 100%;
  }

  .text-section.final-section #cryptoCurrencies {
    background-size: contain;
    width: 45%;
    margin-top: 10%;
  }

  .home-last-section.text-crypto {
    width: 55%;
  }
}

@media (max-width: 767px) {
  .paddingTop {
    padding-top: 40px;
  }

  .home-last-section {
    width: 100%;
  }

  .paddingTop {
    padding-left: 15px;
    padding-right: 15px;
  }

  .boxes .body-content {
    margin-left: 0;
    margin-right: 0;
  }

  .table-like > div:nth-child(2) {
    padding-left: 0;
  }

  .paddingTop.footerImg {
    padding-bottom: 50px;
  }

  .tp-caption.hp13text, .hp13text {
    font-size: 15px !important;
  }

  .tp-caption.hp-33bigfont, .hp-33bigfont {
    font-size: 75px !important;
  }

  .tol-homepage-layout-33 .tol-carousel {
    margin-top: 50px;
  }

  #tol-header .navigation .right-buttons {
    left: 0;
  }

  .text-section.final-section .text-crypto {
    width: 100%;
  }

  .text-section.final-section #cryptoCurrencies {
    display: none;
  }
}

@media (max-width: 320px) {
  .tol-homepage-layout-33 .text-section.final-section {
    height: 500px;
  }
}

#content {
  background: #FFF;
  color: #000;
}

#tol-forgot-password .btn.btn-primary.col-sm-12 {
  margin-top: 12px;
}

// Adding section at homepage//

.paddingTop.footerImg {
  padding-top: 30px;
}

#cryptoCurrencies {
  background: url("/wp-content/themes/tol-parent/images/homepage38/cryptoCurrencies.png") no-repeat;
  height: 450px;
  background-size: auto;
  width: 54%;
}

.text-section.final-section {
  height: 450px;
  background: #E7E7E7;
  margin-right: 0px;
  margin-left: 0px;
}

.text-crypto {
  width: 45%;
  margin-top: 5%;
}

.crypto-header {
  font-family: robotoblack;
  font-size: 1.5285714em;
  text-transform: uppercase;
  line-height: 30px;
}

.optional-header {
  font-family: roboto;
  font-size: 1.28571em;
  line-height: 30px;
}

ul.square-ul {
  list-style-type: square;
  padding-left: 25px;
}

.square-ul li {
  color: #404B9E;
  font-size: 24px;
}

.square-ul li span {
  color: #9b9b9b;
  line-height: 30px;
  font-size: 14px;
}

.rtl .slider-container .scroller {
  direction: ltr;
}

.slider-container {
  width: 100%;
  line-height: 20px;
  color: #fff;
  height: 30px;
  position: absolute;
  margin-top: -25px;
  z-index: 100;
  opacity: 0.9;
  font-size: 16px;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.3);

  .asset {
    float: left;
    display: inline-block;
    text-align: center;
    padding: 1px 10px 0;
    font-size: 13px;
    color: #d5e2e6;
    border-left: solid 1px #d5e2e6;
    border-right: solid 1px #d5e2e6;
  }
  .assetName {
    padding-right: 5px;
  }
  .assetPrice.down {
    color: #c36459;
  }
  .assetPrice.up {
    color: #3b8c70;
  }
}
