//  COLORS //
@white: #FFFFFF;
@black: #000000;
@active-primary: #22B24C;
@text-color: #7E7E7E;
@label-paragraph: #808080; 
@button-hover: #9BBA3B;
@btn-main-hover: #0D723B;
@white-button-hover: #EEFDBC;
@input-border-and-text: #CCCCCC;
@fb-btn: #3B5998;
@fb-btn-hover: #2A4377;
@google-btn: #D34836;
@google-btn-hover: #B93B2B;
@push-menu-bg: #073F21;
@push-menu-level-bg: #0D723B;
@a-color: #22b24c;
@os-color: #7F7F7F;
@footer-bg: #F2F2F2;
@disclaimer-bg: #073F21;
@hr-color: #205338;
@error-msg: #F26D6D;
@verification-next-btn-bg: #7F7F7F;




// FONTS //
@font-face {
    font-family: 'Open-Sans-Bold';
    src: url('/wp-content/themes/tol-parent/fonts/open_sansbold/OpenSans-Bold-webfont.ttf');
}
@font-face {
    font-family: 'Open-Sans';
    src: url('/wp-content/themes/tol-parent/fonts/open_sansregular/OpenSans-Regular-webfont.ttf');
}
@font-face {
    font-family: 'SansSerifFLF';
    src: url('/wp-content/themes/tol-parent/fonts/SansSerifFLF-FontZillion/sansserifflf.otf');
}
@font-face {
    font-family: 'SansSerifFLF-Bold';
    src: url('/wp-content/themes/tol-parent/fonts/SansSerifFLF-FontZillion/sansserifbldflf.otf');
}
// Text colors // 
h1 {
    color: @white;
}
h3 {
    color: @active-primary;
}
.contactus-section h3 {
    color: @white;
}
.nav.nav-tabs li a {
    color: @text-color;
}
.nav.nav-tabs li {
    padding: 0px;
}
.tab-content .tab-pane p {
    color: @label-paragraph;
}
.vertical-text {
    color: @text-color;
}
// HOMEPAGE DESIGN //

//  Sections background //
.video-section {
    background: url(/wp-content/themes/tol-child/images/new-template-99/banner_1.jpg) no-repeat center;
    background-size: cover;
    color: @white;
}
.device-section {
    background: url(/wp-content/themes/tol-child/images/new-template-99/devices.jpg) no-repeat center;
    background-size: cover;
    color: @white;
    background-position-y: -200px;
}
.contactus-section {
    background: url(/wp-content/themes/tol-child/images/new-template-99/contacts.jpg) no-repeat center;
    background-size: cover;
    color: @white;
}
//////////////

// GLOBAL DESIGN // 
.simplex-img {
    position: absolute;
}
a {
    text-decoration: none !important;
}
.nav.nav-tabs li a {
    display: block;
}
.nav.nav-tabs li a:hover {
    color: @active-primary;
}
.nav.nav-tabs.nav-justified li a.active {
    color: @active-primary;
    // border-bottom: 2px solid @active-primary;
    display: block;
}
.header-buttons a{
    margin-right: 35px;
}
.descriptions {
    margin-top: 40px;
}
.page-homepage h3 {
     font-size: 4.375rem;
}
.tab-content {
    padding-top: 100px;
}
.cookies {
    background: #073f21;
    color: #ffffff;
    width: 100%;
    margin: 0 auto;
    position: relative;
    right: 0px;
    height: 80px;
    bottom: 40px;

        p {
            font-size: 1rem;
            padding-left: 280px;
        }
        span.close-btn-cookies {
            padding: 10px;
            background: url(/wp-content/themes/tol-child/images/new-template-99/close_2.png) no-repeat center;
            position: absolute;
            top: 25px;
            cursor: pointer;
        }
}
.nav-tab-section .container-fluid,
.open-account-section .container-fluid {
        max-width: 1440px;
        padding-top: 80px;
} 
// nav-tabs hover
#nav-tabs-options, #nav-tabs-account {
    position: relative;  
    margin:0 auto;
}

#nav-tabs-options li a:hover,
#nav-tabs-account li a:hover{
     color: @active-primary; 
}
#magic-line,
#magic-line-second { 
    position: absolute;
    bottom: -2px; 
    left: 0; 
    width: 100px;
    height: 2px; 
    background: @active-primary; 
}
// end nav-tabs hover

// END  GLOBAL DESIGN //

// VIDEO SECTION // 
.video-section {
    height: 1000px;

    .container-fluid  {
        padding-top: 20px;
    }
    .trade-header {
        margin-top: 270px;
    }
    .header-descriptions {
        font-size: 1.875rem;
    }
    .counters {
        max-width: 1440px;
        margin: 0 auto;
        padding-top: 215px;
    }
    .p-container {
        margin: 0 auto;
    }
}
// END VIDEO SECTION // 

// NAV TAB SECTION // 
.nav-tab-section {
    height: 920px;

    .text-in-picture {
        top: 140px;
        position: absolute;
        z-index: 999;
        line-height: 57px;
        left: 135px;

        p {
            color: @white;
            background: @white;
        }
        .p-second {
        left: -45px;
        position: relative;
       }
        .p-third {
        position: relative;
        left: -77px;
        top: 5px;
       }
    }
    
    .tab-content .tab-pane .row .products {
        padding-left: 75px;
        position: relative;
    }
    .decription-container {
        padding-left: 0px;
    }
    .our-products p {
        background: transparent;
    }
    
    .tab-content {
        padding-top: 160px;

        .vertical-text {
            position: absolute;
            transform: rotate(-90deg);
            top: 100px;
            margin: 0 auto;
            left: -55px;
        }
    }
} 

// END  NAV TAB SECTION // 


// OPEN ACCOUNT SECTION // 
.open-account-section  {
    height: 918px;

        .tab-content {
            padding-top: 54px;
        }
        .left-one {
            padding-top: 100px;
        }
        .tab-content .tab-pane .row .left-one {
            padding-left: 75px;

            .vertical-text {
                position: absolute;
                top: 133px;
                margin: 0 auto;
                left: 10px;
            }
        }
}

// END OPEN ACCOUNT SECTION // 

// DEVICE SECTION //
.device-section {
    height: 700px;
        .container-fluid {
            max-width: 1440px;
            padding-top: 40px;
        }
        h1 {
            padding-left: 30px;
            padding-bottom: 40px;
        }
}
// END DEVICE SECTION //

// CONTACT US // 
.contactus-section {
    height: 700px;
        
    .container-fluid  {
        max-width: 1440px;
        padding-top: 70px;
    }
    h1 {
        padding-bottom: 30px;
    }
}

// CONTACT US // 

// BUTTON DESIGN // 
.btn {
    margin-top: 60px;
    padding: 12px 20px;
    width: 180px;
    height: 50px;
}
.btn.white-button {
    box-shadow: 0 0px 20px fade(@white, 100%);
    transition: all 0.2s ease-in;
    background: @white;
    color: @active-primary;
    &:hover {
        background: @white-button-hover;
        color: @active-primary;
        box-shadow: 0 0px 20px fade(@white-button-hover, 100%);
        transition: all 0.2s ease-out;
    }
    
}
.btn {
    box-shadow: 0 0px 35px fade(@active-primary, 100%);
    transition: all 0.2s ease-in;
    background: @active-primary;
    color: @white;

    &:hover {
        background: @button-hover;
        color: @white;
        box-shadow: 0 0px 35px fade(@button-hover, 100%);
        transition: all 0.2s ease-out;
        border-color: @button-hover;
        cursor: pointer;
    }
}
.btn.log-in {
    background: transparent;
    color: @white;
    box-shadow: 0 0px 35px fade(@active-primary, 100%);
    transition: all 0.2s ease-in;
    border: 2px solid @active-primary;
    &:hover {
        color: @active-primary;
        box-shadow: 0 0px 35px fade(@button-hover, 100%);
        transition: all 0.2s ease-out;
        border: 2px solid @button-hover;
        color: @white;
    }
}
// END BUTTON DESIGN // 

// MEDIA QUERIES //
@media (min-width: 1025px) {
    // NAV-TAB SECTION
   .p-first {
       position: relative;
       left: 250px;
       opacity: 0;
   }
   .p-second {
        position: relative;
        left: 250px;
        opacity: 0;
   }
   .p-third {
        position: relative;
        left: 250px;
        opacity: 0;
   }
   .simplex-img {
        position: absolute;
        left: 100px;
        top: 0;
        opacity: 0;
    }
    .green-img {
        position: absolute;
        top: 95px;
        right: 50px;
        opacity: 0;
    }
   // END NAV-TAB SECTION

   // OPEN ACCOUNT SECTION
   .open-account-img {
        position: absolute;
        left: 230px;
        opacity: 0;
    }
   // END OPEN ACCOUNT SECTION
}
@media (max-width: 1440px) {

    // VIDEO SECTION 
    .video-section {
        height: auto;
        
        .trade-header {
            margin-top: 240px;
        }
        .counters {
            padding-top: 150px;
        }
    }
    // END VIDEO SECTION

    // NAV-TAB-SECTION
    .nav-tab-section {

        .tab-content {
            padding-top: 100px;

            .vertical-text {
                left: -30px;
            }
            .tab-pane .row .products {
                padding-left: 100px;
            }
            .tab-pane .row .our-products {
                padding-left: 0px;
            }
            .simplex-img {
                top: 35px;
            }
            .our-products {
                background: url(/wp-content/themes/tol-child/images/new-template-99/simplex_1024.png) no-repeat top;
                background-size: cover;
                height: 57%;
            }
    
        }
    }
    // END NAV-TAB-SECTION

    // OPEN ACCOUNT SECTION
    .open-account-section {
        height: auto;
        
        .tab-content {  
            .tab-pane .row .left-one .vertical-text {
                left: 30px;
                top: 80px;
            }
            .tab-pane .row .left-one {
                padding-left: 100px;
                padding-top: 50px;
            }
            .tab-pane .row .right-one {
                padding-left: 0px;
            }
            .simplex-img {
                top: 35px;
            }
        }
    }
    // END OPEN ACCOUNT SECTION

    //CONTACT US SECTION 

    .contactus-section {
        .any-questions {
            padding-left: 100px;
        }
    }
    // END CONTACT US SECTION 
    
}
@media (max-width: 1366px) {

    //  NAV-TAB-SECTION
    .nav-tab-section {
         .green-img {
             right: 290px;
         }
    }
    // END NAV-TAB-SECTION

    // DEVICE SECTION
    .device-section {
        background-position-y: 0px;
    }
    // END DEVICE SECTION

     // FONT SIZE HP
     .nav.nav-tabs li a,
     .nav.nav-tabs li a.active {
         font-size: 1.231rem;
     }
     .counter-text {
         font-size: 1.231rem;
     }
     .vertical-text {
         font-size: 1.846rem;
     }
     p {
         font-size: 1.385rem;
     }
     #lang_sel_click a.lang_sel_sel {
         font-size: 1.077rem;
     }
     .hamburger span {
         font-size: 1.077rem;
     }
     // END FONT SIZE
 
     // VIDEO SECTION 
 
     .video-section {
         .trade-header {
             margin-top: 200px;
         }
         .counters {
             padding-top: 120px;
         }
     }
     // END VIDEO SECTION
 
     // OPEN ACCOUNT SECTION
 
     .open-account-section {
         .tab-pane .row .left-one {
             padding-left: 70px;
         }
     }
 
     // END OPEN ACCOUNT SECTION
 
     // DEVICE SECTION 
 
     .device-section {
         background-size: contain;
         background-position-y: 0px;
     }
     
     //END DEVICE SECTION
     
     // BUTTON 
     .btn {
         padding: 15px 20px;
     }
     // END BUTTON
 
}
@media (max-width: 1024px) {
    // FONT SIZE HP
    .nav.nav-tabs li a,
    .nav.nav-tabs li a.active {
        font-size: 1.231rem;
    }
    .nav.nav-tabs li a.active {
        border-bottom: 2px solid @active-primary;
    }

    .counter-text {
        font-size: 1.231rem;
    }
    .vertical-text {
        font-size: 1.846rem;
    }
    p {
        font-size: 1.385rem;
    }
    #lang_sel_click a.lang_sel_sel {
        font-size: 1.077rem;
    }
    .hamburger span {
        font-size: 1.077rem;
    }
    // END FONT SIZE

    // VIDEO SECTION 

    .video-section {
        .trade-header {
            margin-top: 200px;
        }
        .counters {
            padding-top: 120px;
        }
    }
    // END VIDEO SECTION

    // OPEN ACCOUNT SECTION

    .open-account-section {
        .tab-pane .row .left-one {
            padding-left: 70px;
        }
    }

    // END OPEN ACCOUNT SECTION

    // DEVICE SECTION 

    .device-section {
        background-size: contain;
        background-position-y: 0px;
    }
    
    //END DEVICE SECTION
    
    // BUTTON 
    .btn {
        padding: 15px 20px;
    }
    // END BUTTON
}

@media (max-width: 768px) {
    
    .nav {
        display: block;
    }
    .nav.nav-tabs li {
        text-align: left !important;
    }
    .nav.nav-tabs li a {
        border-bottom: 1px solid @input-border-and-text;
        display: block;
        padding: 10px;
        padding-left: 60px;
    }
    



    // VIDEO SECTION
   .video-section {
        height: 1020px;

        .trade-header {
            margin-top: 340px; 
        }
        .counters {
            padding-top: 250px;
        }
    }
    // END VIDEO SECTION
    
    // NAV TAB SECTION 

    .nav-tab-section {
        height: auto;
        
        .container-fluid {
            padding-top: 40px;
        }
        .tab-content {
            padding-top: 40px;
            .our-products {
                height: 48%;
                background-size: auto;
            }
        }
    }
    // END NAV TAB SECTION

    // DEVICE SECTION

    .device-section {
        height: 1024px;
        background-size: cover;
        background-position-y: 0px;
    }
    // END DEVICE SECTION

    // OPEN ACCOUNT SECTION

    .open-account-section {
        height: auto;
        
        .container-fluid {
            padding-top: 40px;
        }
        .tab-content {
            padding-top: 0px;
            .left-one {
                margin-top: 0px;
                margin-bottom: 20px;
            }
            .right-one {
                margin: 0 auto;
            }
            .open-account-img {
                height: 46%;
                float: right;
            }
        }
    }
    // END OPEN ACCOUNT SECTION

    // CONTACT US SECTION 

    .contactus-section {
        height: 1024px;
    }
    
    // END CONTACT US SECTIOn
}

@media (max-width: 767px) {
    
    // FONT SIZE
    p {
        font-size: 2.333rem;
    }
    .nav.nav-tabs li a, .nav.nav-tabs li a.active {
        font-size:  2.667rem;
    }
    .vertical-text {
        font-size: 3rem;
    }

    // END FONT SIZE
    
    // HEADER
    
    #tol-header-nav {
        .menu-trigger.hamburger {
            background: url(/wp-content/themes/tol-child/images/new-template-99/hamburger.png) no-repeat 5px center;
        }
        button span {
            display: none;
        }
    }
    
    // END HEADER 

    .nav.nav-tabs li a {
        padding-left: 35px;
    }

    // VIDEO SECTION
   .video-section {
        height: 480px;

        .main-header {
            margin-right: 0px;
        }
        .trade-header {
            margin-top: 150px;
        }
        .counters {
            display: none;
        }
        .header-buttons a {
            margin-right: 30px;
        }
        
    }
    // END VIDEO SECTION

    // NAV TAB SECTION 

    .nav-tab-section {
        height: auto;
        
        .container-fluid {
            padding-top: 30px;
        }
        .nav.nav-tabs.nav-justified li a {
            width: 100%;
        }
        .tab-content {
            padding-top: 30px;

            .descriptions {
                margin-top: 20px;
            }
            .our-products {
                height: 50%;
                background-size: contain;
            }
            .vertical-text {
                left: -25px;
                top: 45px;
            }
            .tab-pane .row .products {
                padding-left: 40px;
                margin-bottom: 20px;
            }
        }
    }
    // END NAV TAB SECTION

    // DEVICE SECTION

    .device-section {
        height: 480px;
        background-size: cover;
        background-position-y: 0px;
        
        h1 {
            padding-left: 20px;
            padding-bottom: 20px;
        }
        img {
            width: 49%;
        }
    }
    // END DEVICE SECTION

    // OPEN ACCOUNT SECTION

    .open-account-section {
        height: auto;

        .container-fluid {
            padding-top: 30px;
        }
        .tab-content {
            padding-top: 30px;

            .descriptions {
                margin-top: 20px;
            }
            .our-products {
                height: 50%;
                background-size: contain;
            }
            .tab-pane .row .left-one .vertical-text {
                left: 10px;
                top: 5px;
            }
            .tab-pane .row .left-one {
                padding-left: 40px;
                padding-top: 0px;
                margin-bottom: 20px;
            }
        }
    }
    // END OPEN ACCOUNT SECTION

    // CONTACT US SECTION 

    .contactus-section {
        height: 480px;
        
        .any-questions {
            padding-left: 15px;
        }
    }
    
    // END CONTACT US SECTIOn
    
    // BUTTON 
    .btn {
        padding: 10px 20px;
        height: 40px;
        margin-top: 30px;
    }
    // END BUTTON
   
}










