@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,700);

@font-face{
    font-family: 'Roboto-Bold';
    src: url('/wp-content/themes/tol-parent/fonts/ROBOTO-BOLD.TTF');
}
@font-face{
    font-family: 'Open-Sans-Bold';
    src: url('/wp-content/themes/tol-parent/fonts/open-sans.bold.ttf');
}
@font-face {
    font-family: 'robotolight';
        src: url(/wp-content/themes/tol-parent/fonts/roboto_light/Roboto-Light-webfont.woff) format("woff");
        font-weight: normal;
        font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url(/wp-content/themes/tol-parent/fonts/roboto_light/Roboto-Light-webfont.woff) format("woff")
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(/wp-content/themes/tol-parent/fonts/Roboto-Regular-webfont.woff) format("woff")
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url(/wp-content/themes/tol-parent/fonts/ROBOTO-BOLD.ttf) format("woff")
}
@font-face {
  font-family: 'robotoblack';
  src: url(/wp-content/themes/tol-parent/fonts/Roboto-Black.woff) format("woff")
}
@font-face {
	font-family: 'MyriadPro-Bold';
	src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.eot');
	src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.woff2') format('woff2'),
		url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'),
		url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.ttf') format('truetype'),
		url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro-Semibold';
	src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot');
	src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff2') format('woff2'),
		url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff') format('woff'),
		url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.ttf') format('truetype'),
		url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
	src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.woff2') format('woff2'),
		url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
		url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype'),
		url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro-Cond';
	src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.eot');
	src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.woff2') format('woff2'),
		url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.woff') format('woff'),
		url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.ttf') format('truetype'),
		url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
	font-weight: normal;
	font-style: normal;
}
.tol-carousel .slider-container {
  position: absolute;
  width: 100%;
}
.rightfulAdvice {
    font-family: robotoblack;
    font-size: 1.9285714em;
    text-transform: uppercase;
    line-height: 30px;
}
.paddingTop {
    padding-top: 140px;
}
.small-padding {
    padding-top: 3%;
}
.sm-caption > span {
    font-family: Roboto;
    font-style: italic;
    font-size: 15px;
    color: #616161;
}
.rightful-advice {
    font-family: robotolight;
    font-size: 1em;
    color: #616161;
    letter-spacing: 0.83px;
    line-height: 20px;
}
.paddingTop.footerImg {
  padding-bottom: 125px;
}
.boxes > div {
    height: auto;
    padding: 5%;
}
.boxes .purple {
    background: #384c9f;
}
.boxes .blue {
    background: #1b97d4;
}
.boxes .grey {
    background: #616161;
}
.boxes .icon-container {
    width: 32px;
    height: 32px;
    margin: auto;
    background-position:50% 50%;
}
.boxes .heading {
    font-family: 'MyriadPro-Regular';
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.4px;
    line-height: 29px;
    text-align: center;
    margin-top: 5%;
}
.boxes .heading:after {
    content: "";
    width: 30px;
    height: 30px;
    background: url("/wp-content/themes/tol-parent/images/homepage33/line.png") no-repeat;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.boxes .body-content {
    color: #f9f9f9;
    font-size: 14px;
    font-family: robotolight;
    line-height: 23px;
    text-align: center;
    margin-top: 10%;
  min-height: 46px;
}
.learn-more-container {
    text-align: center;
    height: 50px;
    margin-top: 10%;
}
.learn-more-container .btn {
    height: 100%;
    width: 160px;
    background: transparent;
    border: 2px solid #fff;
    font-family: 'Open-Sans-Bold';
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.26px;
}
#laptop-img {
    background: url("/wp-content/themes/tol-parent/images/homepage33/laptop.png") no-repeat;
    height: 500px;
    background-size: contain;
}
.rightfulAdvice .purple-text {
    color: #3b4c9f;
}
.table-like {
    .heading {
       display: inline-block;
       font-family: 'Roboto-Bold';
       font-size: 18px;
       color: #282828;
       letter-spacing: 0.32px;
       line-height: 29px;
       text-transform: uppercase;
       margin-left: 5%;
    }
    .body-content {
       display: block;
       font-family: 'robotolight';
       font-size: 14px;
       color: #9b9b9b;
       line-height: 23px;
    }
   
}
.tp-caption.tp-resizeme.start {
  font-size: 5.3571428em;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border-width: 0px;
  border-color: #ffffff;
  border-style: none;
  width: 200px;
  height: 51px;
  line-height: 75px;
}
.tp-caption.tp-resizeme.start > a {
  font-size: 13px;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-color: #fff;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.2);
  letter-spacing: 0.26px;
  padding:  15% 30%;
  width: 100%;
  height: 100%;
}
.tp-caption.hp13text, .hp13text {
  font-family: 'robotolight' !important;
  font-size: 20px !important;
  font-style: italic;
}
.slider-container .slider-container {
  color: #000;
  height: 40px;
  position: relative;
  top: 0px;
  font-size: 16px;
  padding: 13px 0;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;

  .asset {
    float: left;
    display: inline-block;
    text-align: center;
    padding: 1px 10px 0;
    font-size: 13px;
    color: #fff;
    border-left: solid 1px #fff;
  }
  .assetName {
    padding-right: 5px;
  }
  .assetPrice.down {
    color: #c36459;
  }
  .assetPrice.up {
    color: #3b8c70;
  }
}
@media (min-width: 1024px){
    .paddingTop .container {
        width: 100%;
		max-width: 1150px;
    }
    .boxes {
        height: 460px;
    }
    .paddingTop.text-section .container .row:after {
      content: "";
      width: 30px;
      height: 30px;
      background: url("/wp-content/themes/tol-parent/images/homepage33/separator2.png") no-repeat;
      top: 5px;
      left: 50%;
      margin-right: -50%;
      margin-top: 7%;
      transform: translate(-50%, -50%);
      position: relative;
  }
}
@media (width: 1024px){
  .tp-caption.tp-resizeme.start > a {
    font-size: 16px !important;
  }
}
@media(max-width: 768px) {
    .animation-element.slide-left {
        text-align: center;
        .rightful-advice {
          text-align: justify;
        }
    }
    .sm-caption {
      text-align: left;
    }
    .tp-caption.tp-resizeme.start {
      left: 15px !important;
    }
    .tp-caption.tp-resizeme.start > a {
      font-size: 12px !important;
    }
}
@media (min-width: 769px) {
    .grow:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 1;
  }
  /*animation element*/
  .animation-element {
    opacity: 0;
    position: relative;
  }
  /*animation element sliding left*/
  .animation-element.slide-left {
    opacity: 0;
    -moz-transition: all 1000ms linear;
    -webkit-transition: all 1000ms linear;
    -o-transition: all 1000ms linear;
    transition: all 1000ms linear;
    -moz-transform: translate3d(-400px, 0px, 0px);
    -webkit-transform: translate3d(-400px, 0px, 0px);
    -o-transform: translate(-400px, 0px);
    -ms-transform: translate(-400px, 0px);
    transform: translate3d(-400px, 0px, 0px);
  }
  .animation-element.slide-left.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
  .animation-element2.bounce-up,
  .animation-element3.bounce-up {
    opacity: 0;
    -moz-transition: all 1000ms ease-out;
    -webkit-transition: all 1000ms ease-out;
    -o-transition: all 1000ms ease-out;
    transition: all 1000ms ease-out;
    -moz-transform: translate3d(0px, 600px, 0px);
    -webkit-transform: translate3d(0px, 600px, 0px);
    -o-transform: translate(0px, 600px);
    -ms-transform: translate(0px, 600px);
    transform: translate3d(0px, 600, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .animation-element2.bounce-up.in-view,
  .animation-element3.bounce-up.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }

  /*animation slide left styled for testimonials*/

@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hvr-push {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 1;
}
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transform: perspective(0) translateZ(0);
  transform: perspective(0) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInLeft.in-view {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
}
@media (max-width: 1450px) {
  .tp-caption.hp-33bigfont, .hp-33bigfont,
  .tp-caption.black, .black,
  .tp-caption.hp13text, .hp13text {
    left: 100px !important;
  }
  .home-last-section {
    width: 50%;
    float: left;
  }
  .boxes > div {
    padding: 5% 2%;
  }
  .paddingTop.text-section .container .row:after {
    top: 15px;
  }
}
@media (max-width: 1280px) {
  .paddingTop.text-section .container .row:after {
    top: 25px;
  }
  #laptop-img {
    background-size: 90%;
  }
}
@media (width: 768px) {
  .home-last-section {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .slider-container .slider-container {
    padding: 5px 0;
    height: 30px;
    top: -30px;
  }
  .paddingTop {
    padding-top: 40px;
  }
  .home-last-section {
    width: 100%;
  }
  .paddingTop {
    padding-left: 15px;
    padding-right: 15px;
  }
  .boxes .body-content {
    margin-left: 0;
    margin-right: 0;
  }
  .table-like > div:nth-child(2) {
    padding-left: 0;
  }
  .paddingTop.footerImg {
    padding-bottom: 50px;
  }
  .tp-caption.hp13text, .hp13text {
    font-size: 15px !important;
  }
  .tp-caption.hp-33bigfont, .hp-33bigfont {
    font-size: 75px !important;
  }
}

a {
  text-decoration: none;
  color: #bf1e2e;
}
.tol-homepage-layout-33 section {
	width: 100%;
}
.main-banner {
    background: url("/wp-content/themes/tol-child/images/wilkinsfinance/top-bg.png") 60% top no-repeat;
	width: 100%; 
    min-height: 590px;
}
.lion-man-section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    padding-top: 100px;
}
.lion-man-section .container {
    height: auto;
}
.lion-man-section__title {
    font-size: 55px;
    line-height: 63px;
    font-weight: 300;
    color: #fff;
    margin: 0 0 95px;
    max-width: 820px;
}
.lion-man-section__title p, .lion-man-section__title strong {
    font-family: Montserrat,sans-serif;
}
.btn-container a, .btn-container button {
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    outline: none;
	color: #fff !important;
	text-transform: uppercase;
}
.btn-container a:hover{
	color: #000 !important;
}
.btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
    border-radius: 30px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.lion-man-section__title strong {
    font-weight: 900;
}
.btn-size-large {
    height: 54px;
}
.lion-man-section__start-trading-btn {
    height: 60px;
    letter-spacing: 1px;
    width: 245px;
}
.lion-man-section__video-button-wrapper {
    background: rgba(0,0,0,.6);
    height: 120px;
    width: 100%;
    bottom: 0;
    margin-top: 25px;
}
.lion-man-section__video-button-wrapper .container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}
.lion-man-section__video-button {
    display: inline-block;
    width: 180px;
    height: 100px;
    cursor: pointer;
}
.lion-man-section__video-button img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}
.lion-man-section__preview-text-wrapper {
    display: inline-block;
    padding-left: 20px;
}
.lion-man-section__preview-text {
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
}
.lion-man-section__preview-text--heading {
    font-weight: 700;
}
.why-trade-section.container {
    background-color: #111;
    padding-bottom: 100px;
	    height: 100%;
    margin: 0 auto;
    max-width: 1150px;
    position: relative;
    width: 100%;
}
.why-trade-section__content {
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 120px;
}
.why-trade-section__title {
    font-size: 27px;
    text-align: center;
    font-weight: 300;
    color: #fff;
    margin: 0 0 35px;
}
.why-trade-section__subtitle {
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    max-width: 600px;
}
.why-trade-section__advantages {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15px;
}
.why-trade-section__advantages, .why-trade-section__content-direction--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.why-trade-section__content-direction--row {
    height: 310px;
    width: 350px;
    padding: 0 35px;
    background-color: #000;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    -webkit-box-shadow: 0 0 50px 20px hsla(0,0%,40%,.2);
    box-shadow: 0 0 50px 20px hsla(0,0%,40%,.2);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}
.why-trade-section__img-wrapper {
    position: absolute;
    bottom: -5px;
    right: -30px;
    opacity: .7;
    height: 150px;
    width: 96px;
    -webkit-transition: width .5s,height .5s;
    transition: width .5s,height .5s;
}
.why-trade-section__img {
    -ms-flex-item-align: start;
    align-self: flex-start;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.why-trade-section__fast-img {
    background-image: url(/wp-content/themes/tol-child/images/wilkinsfinance/icon-speed.png);
}
.why-trade-section__advantages-item {
    z-index: 1;
}
.why-trade-section__advantages-title {
    font-size: 24px;
    font-weight: 900;
    color: #3176FC;
    margin-bottom: 15px;
    -webkit-transition: color .3s;
    transition: color .3s;
}
.why-trade-section__advantages-subtitle {
    max-width: 290px;
    font-size: 14px;
    line-height: 27px;
    color: #fff;
    -webkit-transition: color .3s;
    transition: color .3s;
}
.why-trade-section__clear-img {
    background-image: url(/wp-content/themes/tol-child/images/wilkinsfinance/icon-tasks.png);
}
.why-trade-section__complete-img {
    background-image: url(/wp-content/themes/tol-child/images/wilkinsfinance/icon-winner.png);
}
.why-trade-section__content-direction--row:hover {
    background-color: #3176FC;
}
.why-trade-section__content-direction--row:hover .why-trade-section__img-wrapper {
    height: 300px;
    width: 192px;
    opacity: .5;
}
.why-trade-section__content-direction--row:hover .why-trade-section__advantages-subtitle, .why-trade-section__content-direction--row:hover .why-trade-section__advantages-title {
    color: #000;
}
.tol-homepage-layout-33 {
    background-color: #111;
}

.experience-platform-section {
    border-top: 3px solid #000;
    background: url(/wp-content/themes/tol-child/images/wilkinsfinance/exp-block-bg.jpg) top;
    max-height: 910px;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.experience-platform-section,.experience-platform-section__advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.experience-platform-section__advantages {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1150px;
    width: 100%;
    padding: 0 20px
}

.experience-platform-section__advantages-first-column {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.experience-platform-section__tablet-img-wrapper {
    position: relative;
    margin-top: 20px;
    height: 368px;
    background-image: url(/wp-content/themes/tol-child/images/wilkinsfinance/Screen.png);
    background-position: top;
    display: block
}

.experience-platform-section .experience-platform-section__btn {
    min-width: 170px
}

.experience-platform-section .experience-platform-section__btn a {
    text-transform: capitalize
}

.experience-platform-section .experience-img-wrapper {
    width: 65px;
    height: 65px;
    border: 3px solid #3176FC;
    margin: 10px 35px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.experience-platform-section__tablet-img {
    position: absolute;
    top: 0;
    max-width: none
}

.experience-platform-section__content {
    padding-top: 50px
}

.experience-platform-section__title {
    color: #fff;
    font-size: 27px;
    text-align: center;
    font-weight: 300;
    line-height: 30px
}

.experience-platform-section__subtitle {
    max-width: 700px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 40px;
    color: #fff
}

.experience-platform-section__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 100px
}

.experience-platform-section__learn-btn {
    margin-right: 20px
}

.experience-platform-section__btn {
    font-size: 13px;
    font-weight: 700
}

.experience-platform-section__advantages-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 40px
}

.experience-platform-section__content-title {
    font-size: 21px;
    font-weight: 300;
    line-height: 40px;
	margin: 0;
}
h2.experience-platform-section__title {
	margin: 25px 0;
}
.experience-platform-section__content-subtitle {
    max-width: 220px;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: #fff
}

.experience-platform-section__advantages-second-column {
    margin-top: 150px
}

@media screen and (max-width: 767px) {
    .experience-platform-section__advantages-second-column {
        margin-top:50px
    }

    .experience-platform-section__range-content {
        width: 80%
    }
}

.education-section {
    min-height: 850px;
    background: #000;
    padding: 100px 0;
    display: block
}

.education-section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.education-section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 335px
}

.education-section__container:first-child {
    width: 350px
}

.education-section__title {
    font-size: 48px;
    font-weight: 300;
    line-height: 48px;
	color: #fff;
}

.education-section__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 25px 0 135px;
    text-align: center;
    max-width: 660px;
    color: #fff
}

.education-section__advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 1116px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 0 auto
}

.education-section__advantages-item {
    height: 326px;
    width: 150px;
    background: #181818;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding-top: 100px;
    position: relative;
    overflow: hidden
}

.education-section__advantages-item>div {
    width: 100%
}

.education-section__advantages-item.active {
    background: #3176FC;
    width: 350px
}

.education-section__advantages-item.active h3 {
    color: #000
}

.education-section__advantages-item.active img {
    width: 100%
}

.education-section__tips-for-creating-image {
    position: absolute;
    width: 100%;
    background: url(/wp-content/themes/tol-child/images/wilkinsfinance/icon-trading.png) top no-repeat
}

.education-section__how-create-form-image {
    position: absolute;
    width: 100%;
    background: url(/wp-content/themes/tol-child/images/wilkinsfinance/icon-person.png) top no-repeat
}

.education-section__web-assembly-image {
    position: absolute;
    width: 100%;
    background: url(/wp-content/themes/tol-child/images/wilkinsfinance/icon-speaker.png) top no-repeat
}

.education-section__adobe-introduces-image {
    position: absolute;
    width: 100%;
    background: url(/wp-content/themes/tol-child/images/wilkinsfinance/icon-www.png) top no-repeat
}

.education-section__design-workflow-image {
    position: absolute;
    width: 100%;
    background: url(/wp-content/themes/tol-child/images/wilkinsfinance/icon-globe.png) top no-repeat
}

.education-section__img-container {
    position: absolute;
    top: 220px;
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 10px;
    -webkit-transition: top .5s;
    transition: top .5s
}

.education-section__img-container img {
    width: 90%;
    margin: auto;
    height: 100%
}

.education-section__advantage-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px
}

.education-section__advantages {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.education-section__link {
    text-decoration: none
}

.education-section__link:hover .education-section__img-container {
    top: 180px
}
.home h1.homepageTitle,.home h2.homepageTitle,.home h3,.home h4 {
    font-weight: 300;
    letter-spacing: 0;
    color: #fff;
}
.home h3.why-trade-section__advantages-title {
    color: #3176FC;
}
.btn-size-small {
    height: 40px;
}
.btn-border-white {
    border: 2px solid #fff;
	border-radius: 18px;
}
.btn-background-transparent:hover {
    background: hsla(0,0%,100%,.25);
}
.btn-background-transparent:hover a{
	color: #3176FC !important;
}
.btn-border-gold, .btn-border-yellow {
    border: 2px solid #3176FC;
}
.education-section {
    min-height: 850px;
    background: #000;
    padding: 100px 0;
    display: block
}

.education-section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.education-section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 335px
}

.education-section__container:first-child {
    width: 350px
}

.education-section__title {
    font-size: 48px;
    font-weight: 300;
    line-height: 48px
}

.education-section__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 25px 0 135px;
    text-align: center;
    max-width: 660px;
    color: #fff
}

.education-section__advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 1116px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 0 auto
}

.education-section__advantages-item {
    height: 326px;
    width: 150px;
    background: #181818;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding-top: 100px;
    position: relative;
    overflow: hidden
}

.education-section__advantages-item>div {
    width: 100%
}

.education-section__advantages-item.active {
    background: #3176FC;
    width: 350px
}

.education-section__advantages-item.active h3 {
    color: #000
}

.education-section__advantages-item.active img {
    width: 100%
}

.education-section__tips-for-creating-image {
    position: absolute;
    width: 100%;
    background: url(/wp-content/themes/tol-child/images/wilkinsfinance/icon-trading.png) top no-repeat
}

.education-section__how-create-form-image {
    position: absolute;
    width: 100%;
    background: url(/wp-content/themes/tol-child/images/wilkinsfinance/icon-person.png) top no-repeat
}

.education-section__web-assembly-image {
    position: absolute;
    width: 100%;
    background: url(/wp-content/themes/tol-child/images/wilkinsfinance/icon-speaker.png) top no-repeat
}

.education-section__adobe-introduces-image {
    position: absolute;
    width: 100%;
    background: url(/wp-content/themes/tol-child/images/wilkinsfinance/icon-www.png) top no-repeat
}

.education-section__design-workflow-image {
    position: absolute;
    width: 100%;
    background: url(/wp-content/themes/tol-child/images/wilkinsfinance/icon-globe.png) top no-repeat
}

.education-section__img-container {
    position: absolute;
    top: 220px;
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 10px;
    -webkit-transition: top .5s;
    transition: top .5s
}

.education-section__img-container img {
    width: 90%;
    margin: auto;
    height: 100%
}

.education-section__advantage-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px
}

.education-section__advantages {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.education-section__link {
    text-decoration: none
}

.education-section__link:hover .education-section__img-container {
    top: 180px
}

.mobile-tp-section {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: 630px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.mobile-tp-section-wrapper {
    background: url(/wp-content/themes/tol-child/images/wilkinsfinance/bg-trading-on-the-go.jpg) top
}

.mobile-tp-section__content {
    padding-top: 175px
}

.mobile-tp-section__title {
    font-size: 35px;
    font-weight: 300;
    line-height: 46px
}

.mobile-tp-section__subtitle {
    color: #fff;
    max-width: 600px;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    padding-top: 26px;
    padding-bottom: 40px
}

.mobile-tp-section__app-store {
    padding-right: 10px
}

.mobile-tp-section__phone-img {
    height: auto
}

.mobile-tp-section__phone-img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.under-hood-section {
    background: url(/wp-content/themes/tol-child/images/wilkinsfinance/slider-block-bg.png) top;
    padding: 60px 0 0
}

.under-hood-section__title {
    font-size: 34px;
    font-weight: 300;
    line-height: 46px;
	color: #fff;
}

.under-hood-section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 70px
}

.under-hood-section__subtitle {
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    color: #fff;
    max-width: 700px;
    text-align: center
}

.contacts {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 20px
}

.contact {
    width: 190px;
    height: 120px;
    background-size: 100%;
    background-repeat: no-repeat
}

.contact div {
    height: 100%
}

.contact:hover {
    cursor: pointer
}

.swiper-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden!important
}

.contact.active div {
    border: 5px solid #3176FC
}

.slider-title {
    font-size: 38px;
    font-weight: 800;
    margin: 0 0 15px;
    color: #3176FC
}

.slider-subtitle {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    line-height: 32px;
    max-width: 590px
}

.slider-content {
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.rd-swipe-item,.slider-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.rd-swipe-item {
    background-size: cover
}
.rd-swipe {
    height: 548px;
    max-width: 1115px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.rd-swipe-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.rd-swipe-item {
    width: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 100%;
    background-size: cover;
    background-position: 50%
}

.rd-swipe-pagination {
    position: absolute;
    bottom: 8px;
    bottom: .5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.rd-swipe-pagination-item {
    width: 8px;
    height: 8px;
    background: rgba(0,0,0,.5);
    z-index: 1;
    margin: 4px;
    border-radius: 50%
}

.rd-swipe-pagination-item.active {
    background: rgba(0,0,0,.8)
}

.rd-swipe-pagination-item:hover {
    background: rgba(0,0,0,.3)
}

.rd-swipe-arrow-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 50%;
    margin-top: -70px;
    right: 100px;
    z-index: 2;
    border: 1px solid #3176FC
}

.rd-swipe-arrow-buttons-item {
    width: 70px;
    height: 70px;
    background: #3176FC;
    position: relative;
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.rd-swipe-arrow-buttons-item:hover {
    background: #000;
    cursor: pointer
}

.rd-swipe-arrow-buttons-item-top:after {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    top: 47%
}

.rd-swipe-arrow-buttons-item-bottom:after,.rd-swipe-arrow-buttons-item-top:after {
    content: " ";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 14px;
    height: 14px;
    position: absolute;
    left: 43%
}

.rd-swipe-arrow-buttons-item-bottom:after {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    bottom: 47%
}

.slider {
    width: 100%;
    position: relative
}

@media screen and (max-width: 950px) {
    .rd-swipe {
        height:398px;
        width: 600px
    }
}

@media screen and (max-width: 767px) {
    .rd-swipe {
        height:332px;
        width: 500px
    }

    .rd-swipe-arrow-buttons {
        top: 50%;
        right: 5px
    }

    .rd-swipe-arrow-buttons-item {
        width: 60px;
        height: 60px
    }
}

@media screen and (max-width: 600px) {
    .rd-swipe {
        height:266px;
        width: 400px
    }

    .rd-swipe-arrow-buttons {
        top: 50%;
        right: 5px
    }
}

@media screen and (max-width: 475px) {
    .rd-swipe {
        height:222px;
        width: 335px
    }

    .rd-swipe-arrow-buttons {
        top: 50%;
        right: 5px
    }
}

@media screen and (max-width: 400px) {
    .rd-swipe {
        height:199px;
        width: 300px
    }

    .rd-swipe-arrow-buttons {
        top: 50%;
        right: 5px
    }

    .rd-swipe-arrow-buttons-item {
        width: 50px;
        height: 50px
    }

    .rd-swipe-arrow-buttons-item:after {
        left: 38%
    }
}




@media screen and (min-width: 1117px){
	.education-section__advantages-tablet {
		display: none;
	}
}


@media(max-width: 1024px){
	#tol-header-layout-26 {
		.tol-wp-navigation .navbar-nav li.mobile-forex,
		.tol-wp-navigation .navbar-nav li.mobile-binary,
		.tol-wp-navigation .navbar-nav li.mobile-simplex,
		.tol-wp-navigation .navbar-nav li.mobile-exchange {
			display: none;
		}
	}
	
}

.lion-man-section__video-button-wrapper {
  #close-icon {
    background: url(/wp-content/themes/tol-child/images/wilkinsfinance/close-icon.png) no-repeat;
    width: 18px;
    height: 17px;
    position: absolute;
    right: 8px;
    top: -20px;
    cursor: pointer;
  }
  #video-popup {
    display: none;
    position: absolute;
    top: 142px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    cursor: pointer;
    max-width: 1000px;
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
    .why-trade-section__advantages-title {
        padding-bottom:10px
    }

    .why-trade-section__advantages-subtitle {
        font-size: 13px;
        line-height: 21px;
        max-width: 210px
    }

    .why-trade-section__advantages-item {
        padding: 0 10px
    }

    .why-trade-section__content-subtitle {
        font-size: 13px;
        line-height: 21px
    }

    .why-trade-section__advantages {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .why-trade-section__content-direction--row {
        width: 60%;
        margin-bottom: 15px
    }

    .experience-platform-section__content-subtitle {
        font-size: 13px;
        line-height: 21px
    }

    .experience-platform-section__advantages-first-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .contacts,.experience-platform-section__tablet-img-wrapper {
        display: none
    }
}
@media (max-width: 1024px) {
    .slider-subtitle {
        max-width: 450px;
    }
}
@media screen and (max-width: 1116px) {
    .education-section__container {
        width:355px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-bottom: 15px
    }

    .education-section__advantages {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media screen and (max-width: 1000px) {
    .experience-platform-section__tablet-img {
        padding:0 20px;
        max-width: 330px
    }
}

@media screen and (max-width: 950px) {
    .slider-subtitle {
        max-width:400px
    }
}

@media screen and (max-width: 768px) {
    .lion-man-section__title {
        font-size:25px;
        line-height: 41px;
        font-weight: 700
    }

    .why-trade-section__advantages {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .why-trade-section__advantages-subtitle {
        max-width: 100%
    }

    .why-trade-section__content-direction--row {
        width: 80%
    }

    .why-trade-section__content {
        padding: 40px 0
    }

    .why-trade-section__title {
        font-size: 30px;
        text-align: center
    }

    .experience-platform-section {
        max-height: -webkit-fit-content;
        max-height: -moz-fit-content;
        max-height: fit-content;
        background-size: cover
    }

    .experience-platform-section__advantages {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .experience-platform-section__advantages-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .experience-platform-section__content-subtitle {
        max-width: 90%
    }

    .experience-platform-section__range {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 90%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .experience-platform-section__sixty-sec {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .experience-platform-section__one-touch {
        margin-top: 40px
    }

    .experience-platform-section__content {
        text-align: center;
        padding: 10px
    }

    .experience-platform-section__title {
        font-size: 30px
    }

    .experience-platform-section .experience-img-wrapper {
        margin: 0;
        margin-right: 10px
    }

    .education-section {
        min-height: 670px;
        height: auto
    }

    .education-section__advantages-item {
        margin: 0 20px;
        height: 150px;
        padding-top: 20px
    }

    .education-section__link:hover .education-section__img-container {
        top: 50px
    }

    .education-section__img-container {
        top: 80px
    }

    .education-section__advantages {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .education-section__content {
        padding: 10px
    }

    .education-section__title {
        font-size: 30px;
        text-align: center
    }

    .education-section__subtitle {
        padding-bottom: 50px
    }

    .mobile-tp-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .mobile-tp-section__phone-img {
        max-height: 350px
    }

    .mobile-tp-section__phone-img-wrapper {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 30px
    }

    .mobile-tp-section__content {
        padding-top: 40px
    }

    .mobile-tp-section-wrapper {
        background-size: cover
    }

    .slider-subtitle {
        max-width: 320px;
        font-size: 18px;
        line-height: 24px
    }

    .slider-title {
        font-size: 30px
    }

    .slider-subtitle {
        max-width: 250px
    }
}

@media screen and (max-width: 700px) {
    .education-section__container:first-child {
        width:365px
    }
}

@media screen and (max-width: 600px) {
    .slider-content {
        margin-left:30px
    }

    .education-section {
        min-height: 450px
    }

    .lion-man-section__title {
        text-align: right
    }

    .lion-man-section__start-trading-btn {
        margin: 0 auto
    }
}

@media screen and (max-width: 475px) {
    .education-section {
        padding-left:30px;
        padding-right: 30px
    }

    .education-section__title {
        width: 280px;
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 0
    }

    .education-section__subtitle {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 30px
    }

    .education-section__advantages {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
        color: #fff
    }

    .education-section__advantages-item {
        margin: 0;
        width: 160px;
        height: 248px;
        padding-top: 60px
    }

    .education-section__advantages-item:first-child {
        margin: 0
    }

    .education-section__advantages-item.active {
        width: 355px;
        height: 125px
    }

    .education-section__img-container {
        top: 62%
    }

    .education-section__container {
        padding-bottom: 27px
    }

    .education-section__container:first-child {
        width: 100%;
        padding-bottom: 27px
    }

    .education-section__content-traning {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 0
    }

    .education-section__content-traning .education-section__img-container {
        top: 0;
        width: 60%;
        left: -18%
    }

    .education-section__advantage-title {
        color: #fff;
        font-size: 18px
    }

    .education-section__training-title {
        color: #fff;
        font-size: 24px;
        font-weight: 400
    }

    .education-section__img-container img.education-section__icon-speaker {
        width: 65%
    }

    .education-section__advantages-item.active h3 {
        color: #fff;
        z-index: 2
    }

    .education-section__link:hover .education-section__img-container {
        top: 0;
        width: 60%;
        left: -18%
    }

    .why-trade-section__content-direction--row {
        width: 100%
    }

    .slider-content {
        margin-left: 20px
    }

    .slider-title {
        font-size: 24px
    }

    .slider-subtitle {
        max-width: 240px;
        font-size: 15px
    }
}

@media screen and (max-width: 465px) {
    .education-section__container:first-child {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media screen and (max-width: 425px) {
    .mobile-tp-section__markets-anchors {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .mobile-tp-section__app-store {
        padding: 0 0 5px
    }
}

@media screen and (max-width: 400px) {
    .slider-subtitle {
        max-width:225px
    }
}

@media screen and (max-width: 375px) {
    .education-section {
        padding-left:5px;
        padding-right: 5px
    }

    .education-section__container {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        width: 100%
    }

    .education-section__advantages {
        padding-left: 5px;
        padding-right: 5px
    }

    .education-section__advantages-item.active,.education-section__link:first-child {
        width: 100%
    }
}

@media screen and (max-width: 352px) {
    .education-section__advantages-item {
        width:145px
    }
}

@media screen and (max-width: 560px) {
    .education-section__advantages-tablet {
        display:none
    }
}

@media screen and (min-width: 561px) and (max-width:1116px) {
    .education-section__advantages-mobile {
        display:none
    }
}

@media screen and (min-width: 561px) and (max-width:1116px) {
    .education-section__container,.education-section__container:first-child {
        width:50%
    }
}

@media screen and (min-width: 561px) and (max-width:1020px) {
    .education-section__container,.education-section__container:first-child {
        width:55%
    }
}

@media screen and (min-width: 561px) and (max-width:930px) {
    .education-section__container,.education-section__container:first-child {
        width:60%
    }
}

@media screen and (min-width: 561px) and (max-width:845px) {
    .education-section__container,.education-section__container:first-child {
        width:65%
    }
}

@media screen and (min-width: 561px) and (max-width:780px) {
    .education-section__container,.education-section__container:first-child {
        width:80%
    }

    .education-section__advantages-item.active {
        width: 345px
    }
}

@media screen and (min-width: 561px) and (max-width:695px) {
    .education-section__advantages-item {
        margin:0
    }

    .education-section__container,.education-section__container:first-child {
        width: 85%
    }
}

@media screen and (min-width: 561px) and (max-width:590px) {
    .education-section__container,.education-section__container:first-child {
        width:90%
    }
}

@media screen and (min-width: 1117px) {
    .education-section__advantages-tablet {
        display:none
    }
}
@media(max-width: 767px){
	.lion-man-section__content .container {
		width: 100%;
    }
    .experience-platform-section__content {
        max-width: 100%;
    }
	.tol-homepage-layout-33 section.paddingTop {
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-width: 360px) {
    .experience-platform-section .experience-platform-section__btn {
        min-width: 140px;
    }
}
.slider-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    float: unset;
	max-width: 560px;
	margin-top: 190px;
	top: 0;
}
.sliderimgLiVertical {
    position: relative;
}
#tol-platform-info-popup {
	.modal-content {
		border-color: #444243;
	}
	.modal-header {
		border-bottom: 1px solid #232323;
		background: #232323;
	}
	.modal-body {
		padding: 0px 34px;
		background: #232323;
		color: fff;
		font-size: 15px;
	}
	.modal-footer {
		background: #232323;
		border-top: 1px solid #232323;
		text-align: center;
		height: 45px;
	}
	a:hover, a:focus, a {
		color: #3176FC;
	}
}
