﻿#tol-leaderBoard-layout-6 .tol-labels {
    padding-top: 7px;
}

#traderProfile {
    font-family: 'robotoregular';
}

/*Trader info*/
.copyBoard.tableCell.edit, .copyBoard.tableCell.unfollow {
    background: #14933A;
    background-image: -webkit-linear-gradient(top, #14933A 0%, #21B24B 100%);
    background-image: -o-linear-gradient(top, #14933A 0%, #21B24B 100%);
    background-image: linear-gradient(to bottom, #14933A 0%, #21B24B 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14933A', endColorstr='#21B24B', GradientType=0);
    font-size: 20pt;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin-top: 17px;
    cursor: pointer;
}

.tol-avatar-img {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 6px;
    border-radius: 10%;
    border: solid 1px #E9E9E9;
}

.social-tradesPerAssest-wrapper {
    width: 100%;
    border: 1px solid white;
    height: 30px;
}

.social-traderinfo-assetsinfof {
    width: 100%;
}

.currencies-percent, .stocks-percent, .indeces-percent, .commodities-percent, .futures-percent {
    display: inline-block;
    height: 25px;
    color: #FFF;
    line-height: 25px;
    text-indent: 6px;
    font-size: 11pt;
}

.social-traderinfo-trades-row, .social-traderinfo-tradesPerAssest-row, .social-traderinfo-assetsinfo-row {
    background: #FFF;
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    padding: 0 27px;
}

.currency-info, .stocks-info, .indeces-info, .commodities-info, .futures-info {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-transform: uppercase;
    text-indent: 20px;
}

.currency-info {
    border-radius: 3px;
    margin-right: 110px;
}

.stocks-info {
    border-radius: 3px;
    margin-right: 80px;
}

.indeces-info {
    border-radius: 3px;
    margin-right: 80px;
}

.commodities-info {
    margin-right: 110px;
    border-radius: 3px;
}

.futures-info {
    border-radius: 3px;
}

.currencies-percent, .currency-info {
    background: #FFD161;
    background-image: -webkit-linear-gradient(top, #FFD161 0%, #FFD25F 100%);
    background-image: -o-linear-gradient(top, #FFD161 0%, #FFD25F 100%);
    background-image: linear-gradient(to bottom, #FFD161 0%, #FFD25F 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD161', endColorstr='#FFD25F', GradientType=0);
}

.currencies-percent {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.stocks-percent, .stocks-info {
    background: #E84B3C;
    background-image: -webkit-linear-gradient(top, #E84B3C 0%, #E74B3C 100%);
    background-image: -o-linear-gradient(top, #E84B3C 0%, #E74B3C 100%);
    background-image: linear-gradient(to bottom, #E84B3C 0%, #E74B3C 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E84B3C', endColorstr='#E74B3C', GradientType=0);
}

.indeces-percent, .indeces-info {
    background: #4781CA;
    background-image: -webkit-linear-gradient(top, #4781CA 0%, #4781CA 100%);
    background-image: -o-linear-gradient(top, #4781CA 0%, #4781CA 100%);
    background-image: linear-gradient(to bottom, #4781CA 0%, #4781CA 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4781CA', endColorstr='#4781CA', GradientType=0);
}

.commodities-percent, .commodities-info {
    background: #21B24B;
    background-image: -webkit-linear-gradient(top, #21B24B 0%, #159439 100%);
    background-image: -o-linear-gradient(top, #21B24B 0%, #159439 100%);
    background-image: linear-gradient(to bottom, #21B24B 0%, #159439 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21B24B', endColorstr='#159439', GradientType=0);
}

.futures-percent, .futures-info {
    background: #606060;
}

.futures-percent {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.social-traderinfo-assetsinfo div {
    color: white;
    margin-top: 20px;
    display: inline;
}

.social-trader-userName, .social-traderinfo-button {
    display: inline-block;
    width: 22%;
}

.social-traderinfo-topassets-table {
    display: inline-block;
    width: 100%;
    border: 1px solid #E9E9E9;
    background: #FFF;
}

.social-traderinfo-topassets-row, .social-traderinfo-info-row, .social-traderinfo-trades-row, .social-traderinfo-tradesPerAssest-row,
.social-traderinfo-assetsinfo-row, .social-traderinfo-topassets-table-row, .social-traderinfo-viewmore-row {
    display: block;
    width: 100%;
}

.social-traderinfo-assetsinfo-row {
    padding: 20px 27px 30px;
    border-bottom: 1px solid #E9E9E9;
}

.social-traderinfo-info-row {
    background: #FFF;
    border-top: 1px solid #E9E9E9;
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    padding: 27px 27px 10px 27px;
}

.social-trader-avatar {
    width: 60px;
    display: inline-block;
}

.social-traderinfo-viewmore-row {
    background-color: #E9E9E9;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
    height: 33px;
}

.social-traderinfo-performance-followrs-block, .social-traderinfo-performance-hitrate-block, .social-traderinfo-followers-block {
    display: inline-block;
    width: 48%;
    border: 1px solid grey;
    margin: 5px;
}

.social-traderinfo-tradescount, .social-traderinfo-hitrate {
    width: 50%;
    display: inline-block;
    border-top: 1px solid #E9E9E9;
    padding: 20px 0 10px;
    font-size: 25pt;
    float: left;
}

.social-traderinfo-hitrate {
    text-align: right;
}

.social-traderinfo-topassets-asset, .social-traderinfo-topassets-hitrate,
.tradescount-percent, .social-traderinfo-topassets-copybutton {
    display: inline-block;
    width: 20%;
}

.social-traderinfo-topassets-asset span,
.social-traderinfo-topassets-hitrate > span {
    display: block;
    width: 100%;
    height: 24px;
    margin-top: 38px;
    border-right: 2px solid #DAE1E9;
    line-height: 24px;
}

.social-traderinfo-topassets-tradescount {
    display: inline-block;
}

.social-traderinfo-tradescount-label, .social-traderinfo-hitrate-label {
    text-transform: uppercase;
    font-size: 12pt;
}

.social-traderinfo-hitrate-block {
    border: 1px solid grey;
    margin: 5px;
}

.social-trader-userName {
    vertical-align: top;
    line-height: 30px;
    text-indent: 20px;
    font-size: 15pt;
    font-weight: 500;
}

.social-trader-rank {
    vertical-align: top;
    display: inline-block;
    width: 20%;
    margin-left: -22%;
    text-indent: 20px;
    font-size: 12pt;
    font-family: robotomedium;
    line-height: 70px;
    color: #21B24B;
}

.social-traderinfo-button {
    float: right;
}

.copyTraderButton {
    background-image: -webkit-linear-gradient(top, #14933A 0%, #21B24B 100%);
    background-image: -o-linear-gradient(top, #14933A 0%, #21B24B 100%);
    background-image: linear-gradient(to bottom, #14933A 0%, #21B24B 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebc300', endColorstr='#ffb99900', GradientType=0);
    float: right;
    text-align: center;
    width: auto;
    min-width: 100px;
    height: 45px;
    border: 0;
    border-radius: 0;
    margin-top: 10px;
    font-size: 20pt;
    text-transform: uppercase;
    color: #FFF;
    line-height: 45px;
}

.copyTraderButton.disabled {
    background: #AFAFAF !important;
    cursor: not-allowed;
}

.social-traderinfo-topassets-table .copyTraderButton {
    margin-top: 27px;
}

.social-traderinfo-button .copyTrader-button {
    background: #AFAFAF;
    color: #000;
    cursor: not-allowed;
}

.social-traderinfo-topassetsLabel {
    font-weight: bold;
    font-size: 20px;
    padding-top: 28px;
}

.social-traderinfo-topassetsSubLabels {
    color: #646466;
    padding-bottom: 15px;
}

.copyTrader-button {
    background: #14933A;
    background-image: -webkit-linear-gradient(top, #14933A 0%, #21B24B 100%);
    background-image: -o-linear-gradient(top, #14933A 0%, #21B24B 100%);
    background-image: linear-gradient(to bottom, #14933A 0%, #21B24B 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14933A', endColorstr='#21B24B', GradientType=0);
    float: right;
    text-align: center;
    width: auto;
    min-width: 100px;
    height: 45px;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-size: 20pt;
    text-transform: uppercase;
    margin-top: 27.5px;
    font-weight: normal;
}

.copyTrader-disabled {
    float: right;
    text-align: center;
    width: auto;
    height: 45px;
    border: 0;
    border-radius: 0;
    padding: 0 10px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 7.5px;
    font-weight: normal;
    background: #AFAFAF;
    color: #000;
    cursor: not-allowed;
}

.social-traderinfo-topassets-table .copyTrader-disabled {
    margin-top: 27.5px;
}

.social-traderinfo-topassets-table-row.currencies {
    background: url('/wp-content/themes/tol-parent/images/trader-info-icon1.png') 27px no-repeat;
}

.social-traderinfo-topassets-table-row.indices {
    background: url('/wp-content/themes/tol-parent/images/trader-info-icon2.png') 27px no-repeat;
}

.social-traderinfo-topassets-table-row.commodities {
    background: url('/wp-content/themes/tol-parent/images/trader-info-icon3.png') 27px no-repeat;
}

.social-traderinfo-topassets-table-row.stocks {
    background: url('/wp-content/themes/tol-parent/images/trader-info-icon4.png') 27px no-repeat;
}

.social-traderinfo-topassets-table-row {
    height: 100px;
    padding-left: 107px;
    padding-right: 27px;
    border-bottom: 1px solid #E9E9E9;
}

.social-traderinfo-topassets-asset,
.social-traderinfo-topassets-hitrate {
    vertical-align: top;
    line-height: 100px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
}

.social-traderinfo-topassets-hitrate {
    font-size: 22px;
    padding-left: 43px;
    width: 25%;
}

.social-traderinfo-topassets-hitrate-label {
    font-size: 14px;
}

.tradescount-percent {
    vertical-align: top;
    line-height: 100px;
    text-transform: uppercase;
    font-weight: 500;
    color: #748FA0;
    width: 35%;
    padding-left: 56px;
}

.social-traderinfo-viewmore-row {
    cursor: pointer;
}

.social-traderinfo-viewmore-row i {
    width: 8px;
    display: inline-block;
    margin: 0 5px;
    height: 8px;
    background: url('/wp-content/themes/tol-parent/images/trader-info-arrow.png') left no-repeat;
}

.ui-dialog[aria-describedby=copytradepopup] .ui-dialog-titlebar {
    height: 70px;
    background: #21B24B;
    text-transform: uppercase;
    border-radius: 0;
    text-align: center;
    text-indent: 50px;
    font-size: 25px;
    font-weight: 500;
}

.ui-dialog[aria-describedby=copytradepopup] {
    width: 554px !important;
    height: 460px !important;
    border: 0;
    border-radius: 0;
}

.ui-dialog[aria-describedby=copytradepopup] .dialog-cancel-button {
    display: none;
}

.ui-dialog[aria-describedby=copytradepopup] .ui-dialog-buttonpane button {
    border: 0;
    border-radius: 0;
    width: 170px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    background: #21B24B;
    color: #FFF;
    text-transform: uppercase;
}

.ui-dialog[aria-describedby=copytradepopup] .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    text-align: center;
}

.ui-dialog[aria-describedby=copytradepopup].ui-widget-content .ui-state-default.ui-dialog-titlebar-close {
    width: 36px;
    height: 36px;
    top: 10px;
    right: 0;
    border-radius: 0;
    background: #14933A;
}

#copytradepopup {
    height: 300px !important;
    padding: 15px 50px 10px;
    color: #FFFFFF;
}

.traderinfo-popup-duration,
#copytradepopup .orderButton {
    height: 43px;
    width: auto;
    border: 1px solid #CAD4E0;
    border-radius: 3px;
    background: #ECEFF4;
    color: #56667F;
    margin-right: 5px;
    margin-bottom: 5px;
}

.traderinfo-popup-duration-div .traderinfo-popup-duration:last-of-type {
    width: 90px;
    margin-right: 0;
}

.traderinfo-popup-duration.active,
#copytradepopup .orderButton.active {
    background: #21B24B;
    border: 1px solid #21B24B;
    color: #FFF;
    font-weight: bold;
}

.orderDurationLabel {
    display: none;
}

.cpytrade-orderduration {
    padding: 20px 0;
    border-top: 1px solid #E9E9E9;
}

.orderInvestmentWrapper, .orderRiskWrapper, .copytrade-takeprofit, .copytrade-risk, .copytrade-orderinvestment {
    display: inline-block;
}

.orderInvestmentWrapper, .orderRiskWrapper, .copytrade-takeprofit {
    width: 33.33333%;
}

.orderInvestmentWrapper {
    float: left;
}

.copytrade-takeprofit {
    float: right;
}

.copytrade-risk, .copytrade-orderinvestment {
    width: 33.33333%;
}

.orderInvestmentLabelPopup, .orderRiskLabelPopup, .takeprofitlabel, #copytradepopup .orderRiskLabel, #copytradepopup .orderInvestmentLabel {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000000;
}

#copytradepopup .orderRiskLabel, #copytradepopup .orderInvestmentLabel {
    top: 0;
    margin-right: 0;
    display: block;
    text-align: left;
    color: #000000;
}

#copytradepopup .orderInvestmentColumn .orderInvestment, #copytradepopup .orderRiskColumn .orderRisk {
    border: 0;
    height: auto;
    width: 95%;
    text-align: left;
}

.traderinfo-popup-investment, .traderinfo-popup-riskselect, .traderinfo-popup-profit, .takeprofitselect, #copytradepopup .orderInvestmentColumn .orderInvestment select, #copytradepopup .orderRiskColumn .orderRisk select {
    height: 43px;
    width: 100%;
    border: 1px solid #CAD4E0;
    border-radius: 3px;
    background: #ECEFF4;
    color: #56667F;
    padding: 0 10px;
}

#copytradepopup .orderDurationColumn {
    width: 100%;
}

.copytrade-orderinvestment {
    float: left;
}

#copytradepopup .orderInvestmentColumn {
    right: unset;
    top: 153px;
}

.view-less {
    display: block;
    margin-top: -4px;
}

.social-traderinfo-viewmore-row .view-less i {
    transform: rotateX(180deg);
}

/* Radial circles */
.radial-progress {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 10px;
}

.social-traderinfo-topassets-hitrate .radial-progress {
    top: -2px;
}

.radial-progress .circle .mask,
.radial-progress .circle .fill,
.radial-progress .circle .shadow {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
}

.radial-progress .circle .mask,
.radial-progress .circle .fill {
    -webkit-backface-visibility: hidden;
    transition: -webkit-transform 1s;
    transition: -ms-transform 1s;
    transition: transform 1s;
}

.radial-progress .circle .mask {
    clip: rect(0px, 30px, 30px, 15px);
}

.radial-progress .circle .mask .fill {
    clip: rect(0px, 15px, 30px, 0px);
    background-color: #21B24B;
}

.radial-progress .inset {
    width: 26px;
    height: 26px;
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    background-color: #ffffff;
    border-radius: 50%;
}

/* END Radial circles */

.social-traderinfo-topassets-hitrate-text {
    display: inline-block;
    position: relative;
    top: -10px;
}

.highcharts-container {
    background: #FFFFFF;
    padding-top: 10px;
}

.highcharts-title {
    font-size: 10pt !important;
    font-family: robotoregular;
    font-weight: 700;
}

.colChartContainer .highcharts-title {
    font-size: 20px !important;
}

.colChartContainer .highcharts-subtitle {
    color: #646466;
    font-size: 14px;
}

.colChartContainer .highcharts-xaxis-labels {
    font-family: robotomedium;
}

/* Copy Board Fix 12.05.2016 */
#tol-copyBoard-layout-1 .copyBoard.percWrap {
    left: 0;
}

#tol-copyBoard-layout-1 .investmentLabel, #tol-copyBoard-layout-1 .investmentValue, #tol-copyBoard-layout-1 .investLimitLabel, #tol-copyBoard-layout-1 .investLimitValue, #tol-copyBoard-layout-1 .durationLabel, #tol-copyBoard-layout-1 .durationValue {
    width: 70px;
    text-align: left;
}

#tol-copyBoard-layout-1 .social-wrapper .tableHeaders > div {
    margin-right: 0;
}

.social-copy-board th,
.social-copy-board td,
.social-leader-board th,
.social-leader-board td {
    text-align: center;
}

.mobile-copy-board-value {
    padding-left: 0;
}

.mobile-copy-board-value,
.mobile-copy-board-label {
    text-align: left;
}

.copyBoard.tableCell.name,
.leaderBoard.tableCell.name {
    font-size: 14px;
    font-weight: bold;
    margin-top: 16px;
}

.copyBoard.tableCell.profit,
.copyBoard.tableCell.trades,
.copyBoard.tableCell.followers {
    font-size: 14px;
    line-height: 72px;
}

.social-leader-board .rankColumn,
.social-leader-board .followersColumn,
.social-leader-board .tradesColumn {
    font-size: 14px;
    line-height: 65px;
}

.copyBoard.tableCell.investInfo {
    font-size: 13px;
}

.radial-percent {
    display: inline-block;
    font-size: 25px;
    position: relative;
    top: -3px;
    left: -3px;
}

.copyBoard.tableCell.hitrate,
.leaderBoard.tableCell.hitrate {
    padding-top: 25px;
}

.social-copy-board.table th,
.social-leader-board.table th {
    font-size: 13px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAQCAIAAABY/YLgAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAAeSURBVBhXY3j58iXDixcvwDSxGKT+1atXDC9evAAAdcsrq2lslH0AAAAASUVORK5CYII=') no-repeat right center;
    background-color: #FFF;
    border-bottom: 0;
}

.social-copy-board.table td,
.social-leader-board.table td {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAQCAIAAABY/YLgAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAAeSURBVBhXY3j58iXDixcvwDSxGKT+1atXDC9evAAAdcsrq2lslH0AAAAASUVORK5CYII=') no-repeat right center;
}

.social-leader-board.table td {
    border-top: 0;
}

.social-leader-board.table td:first-of-type,
.social-copy-board.table td:first-of-type {
    cursor: pointer;
}

.social-leader-board.table .tableRowDiv {
    border-top: 1px solid #dddddd;
}

.social-copy-board.table td.copyBoard.tableCell.investInfo,
.social-copy-board.table td.copyBoard.tableCell.edit,
.social-leader-board .tradesHeader,
.social-leader-board.table td.orderCopyButtonColumn {
    background: #FFF;
}

.table th.investAmount,
.table th.edit,
.tableHeaderDiv th.tradesHeader {
    background: #FFF;
}

.copy-board-wrapper {
    padding: 25px;
    border: 1px solid #E9E9E9;
    background: #FFF;
    color: #000000;
}

.copy-board-wrapper .social-copy-board tr, .copy-board-wrapper .social-copy-board tr th {
    color: #000000 !important;
}

.copyBoard.columnHeader.name,
.social-leader-board.table th.nameHeader {
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}

.social-wrapper .tol-labels {
    text-transform: uppercase;
}

.copy-trade-popup-header .avatar,
.copy-trade-popup-header .copy-trade-popup-info {
    display: inline-block;
}

.copy-trade-popup-header .avatar {
    margin-right: 10px;
}

.copyBoard.tableCell.avatar, .avatarColumn {
    width: 60px;
    margin-right: 10px;
    margin-top: 6px;
    float: left;
}

.social-wrapper .tableRowDiv {
    background: #FFF !important;
}

.social-wrapper .well {
    background: #FFF;
    margin-bottom: 20px;
}

.social-wrapper .well .form-control {
    border: 1px solid #CAD4E0;
    border-radius: 3px;
    background: #ECEFF4;
    color: #56667F;
    height: 45px;
}

.social-wrapper .well .search-button {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 20pt;
    height: 45px;
    line-height: 32px;
}

@media (max-width: 1200px) {
    .copyBoard.tableCell.investInfo {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .orderCopyButtonColumn:before, .social-traderinfo-button:before,
    .social-traderinfo-topassets-copybutton:before {
        font-family: 'FontAwesome';
        color: #FFFFFF;
        margin-top: 17px;
        position: absolute;
        content: "\f040";
        left: 50%;
    }

    .social-traderinfo-button:before {
        margin-left: 10px;
    }

    .social-traderinfo-topassets-copybutton:before {
        margin-left: 10px;
        margin-top: 32px;
    }

    .copyBoard.tableCell.edit, .copyBoard.tableCell.unfollow, .copyTraderButton {
        min-width: 31px !important;
        width: 31px !important;
        height: 31px;
        text-indent: -9999px;
        padding: 0;
    }

    #tol-social-leaderboard-table .orderCopyButtonColumn {
        width: 40px;
        position: relative;
    }

    .copyTraderButton {
        float: left;
    }

    .hitRateHeader {
        display: none;
    }

    .mobile-copy-board-label,
    .copyBoard.tableCell.name,
    .copyBoard.tableCell.asset {
        text-align: left;
    }

    .copyBoard.tableCell.investInfo {
        font-size: 11px;
    }

    .copyBoard.tableCell.trades,
    .copyBoard.tableCell.profit {
        line-height: 4.1em;
    }

    .copy-board-wrapper {
        padding: 0;
    }

    .social-copy-board.table td, .social-leader-board.table td {
        background-position: right 27%;
    }

    #tol-leaderBoard-layout-6 .container.social-wrapper {
        padding: 0 2px;
    }

    #tol-traderInfo-layout-1 .social-traderinfo-info-row {
        clear: both;
        float: left;
    }

    #tol-traderInfo-layout-1 .social-trader-avatar {
        width: 60px;
        display: block;
        float: left;
    }

    #tol-traderInfo-layout-1 .social-trader-userName {
        width: 73%;
        display: block;
        float: right;
    }

    #tol-traderInfo-layout-1 .social-trader-rank {
        width: 73%;
        margin-left: 0;
        line-height: normal;
        display: block;
        float: right;
    }

    #tol-traderInfo-layout-1 .social-traderinfo-button {
        float: right;
        width: 13%;
    }

    #tol-traderInfo-layout-1 .social-traderinfo-assetsinfo-row div {
        margin-bottom: 10px;
    }

    #tol-traderInfo-layout-1 .social-traderinfo-hitrate-label,
    #tol-traderInfo-layout-1 .social-traderinfo-tradescount-label {
        font-size: 12px;
    }

    #tol-traderInfo-layout-1 .social-traderinfo-topassets-asset,
    #tol-traderInfo-layout-1 .social-traderinfo-topassets-hitrate {
        font-size: 10px;
    }

    #tol-traderInfo-layout-1 .social-traderinfo-topassets-hitrate-label {
        width: 100%;
        font-size: 9px;
        float: right;
    }

    #tol-traderInfo-layout-1 .social-traderinfo-topassets-hitrate-text {
        text-align: center;
        line-height: 12px;
        padding-top: 12px;
    }

    #tol-traderInfo-layout-1 .social-traderinfo-topassets-hitrate {
        padding-left: 5px;
    }

    #tol-traderInfo-layout-1 .tradescount-percent {
        padding-left: 5px;
        font-size: 10px;
    }

    #tol-traderInfo-layout-1 .radial-progress {
        margin: 0 0 0 10px;
    }

    .social-leader-board .rankColumn,
    .social-leader-board .followersColumn,
    .social-leader-board .tradesColumn {
        font-size: 12px;
        line-height: 45px;
    }
}

@media (max-width: 768px) {
    .social-traderinfo-topassets-hitrate-text, .social-traderinfo-topassets-hitrate-label {
        font-size: 12px;
    }

    .mobile-copy-board-value, .mobile-copy-board-label {
        padding-right: 25px !important;
    }

    .orderInvestmentLabel, .orderRiskLabel, .takeprofitlabel {
        font-size: 10px !important;
    }

    .lang-fr .orderInvestmentLabel {
        font-size: 10px !important;
        line-height: 17px;
    }

    .lang-fr .orderRiskLabel {
        text-align: center !important;
    }
}

@media (max-width: 554px) {
    .ui-dialog[aria-describedby=copytradepopup] {
        width: 100% !important;
    }

    .traderinfo-popup-duration, #copytradepopup .orderButton {
        height: 32px;
        width: 32px;
        padding: 0;
        margin-right: 5px;
    }

    .traderinfo-popup-investment, .traderinfo-popup-riskselect, .traderinfo-popup-profit, .takeprofitselect, #copytradepopup .orderInvestmentColumn .orderInvestment select, #copytradepopup .orderRiskColumn .orderRisk select {
        height: 32px;
        padding: 0 5px;
    }
}

#tol-leaderBoard-layout-6 #tol-social-leaderboard-table {
    border-bottom: 2px solid #e0e0e0;
    color: #000000;
}

#tol-traderInfo-layout-1 #traderProfile {
    background: #FFFFFF;
    color: #000000 !important;
}

#tol-traderInfo-layout-1 .currencies, #tol-traderInfo-layout-1 .indices, #tol-traderInfo-layout-1 .stocks, #tol-traderInfo-layout-1 .commodities {
    color: #000000 !important;
}

#tol-traderInfo-layout-1 .highcharts-axis-labels text {
    color: #000000 !important;
    fill: #000000 !important;
}

#tol-traderInfo-layout-1 .social-traderinfo-topassetsLabel,
#tol-traderInfo-layout-1 .social-traderinfo-topassetsSubLabels {
    padding-left: 15px;
}

.profitColumn .profit, .copyBoard.tableCell.profit {
    color: #21B24B;
}
