#tol-leaderBoard-layout-1 .tol-labels{
    padding-top:7px;
    margin-left: -288px;

}
.col-sm-8 .form-control{
    margin-left: -205px;
    border-radius: 0;
}

.btn{
    border-radius: 0;
    padding: 6px 21px;
    margin-bottom: -12px;
}
.btn-primary.search-button{
    border-bottom: 3px solid #1A883A;
    border-radius: 0px;
    background: linear-gradient(to bottom, #1A883A 0%,#21B24B 100%);
    width: 120px;
    left: 133px;

}
.btn-primary.search-button:active:hover{
    border-bottom: 3px solid #21B24B;
    border-radius: 0px;
    background: linear-gradient(to bottom, #21B24B 0%,#1A883A 100%);
}
.btn-primary.search-button:focus, .btn-primary.search-button.focus{
    border-bottom: 3px solid #21B24B;
    border-radius: 0px;
    background: linear-gradient(to bottom, #21B24B 0%,#1A883A 100%);
}
.btn-primary:focus, .btn-primary.focus.well{
    margin-bottom: -1px;
    border: 1px solid #21B24B;
    padding-bottom: 5px;
    padding-top: 5px;
}
.well{
    margin-bottom: -1px;
    border: 1px solid #21B24B;
    padding-bottom: 0px;
    padding-top: 16px;
    background-color: #ddd;
    border-radius: 0px;
}
.social-wrapper .tableHeaderDiv, .social-wrapper .tableHeaders{
    border: 1px solid #21B24B;
    background: #e5e5e5;
    border-bottom: none;
}
.tableBodyDiv{
    border: 1px solid #21B24B;
    background-color:  #f5f5f5;
    border-top: none;
}
.tableRowDiv .orderCopyButton{
    background-image: url('/wp-content/themes/tol-parent/images/leaderboardcopy.png');
    color: #fff;
}
.footerLogoContainer{
    margin-top: 4px;
    border: 1px solid #21B24B;
}
.form-control:focus{
    border: 1px solid #21B24B;
}
.breadcrumb > .active{
    color: #21B24B;
    font-size: 30px;
}
.breadcrumb{
    border: 1px solid #21B24B;
    background-color: #f5f5f5;
    font-family: 'robotoregular';
    margin-top: 12px;
    border-radius: 0px;
}
#tol-login-area, #tol-userbar{
    top: -34px;
}

.copyBoard.columnHeader.hitrate{
    margin-left: -405px;
}
.copyBoard.columnHeader{
    height: 21px;
}
.copyBoard.percWrap{
    left: -89px;
}
.copyBoard.tableCell.unfollow{
    margin-left: -5px;
}
.btn:focus, .btn:active:focus{
    outline: 5px #21B24B;
}
.social-copy-board{
    margin-left: 15px;
    margin-right: 15px;
}
.copyBoard.columnHeader.followers{
    margin-left: -62px;
}
.copyBoard.columnHeader.trades{
    margin-left: -66px;
}
.copyBoard.hitrate .hitRateValue{
    margin-left: -55px;
}
.greenBorderSelect select option{
    border-color: red;
}
.copyBoardRow{
    background: #f5f5f5;
    border: 1px solid #21B24B;
    border-top: none;
}
.copyBoard.tableCell.investAmount{
    left: 62px;
}
.copyBoard.tableCell.duration{
    right: 156px;
}
.copyBoard.tableCell.risk {
    right: 151px;
}
.copyBoard.tableCell.trades{
    padding-left: 95px;
}
.copyBoard.tableCell.edit{
    right: 7px;
}
.copyBoard.tableCell.edit, .copyBoard.tableCell.unfollow{
    border-bottom: 3px solid #1A883A;
    border-radius: 0px;
    background: linear-gradient(to bottom, #1A883A 0%,#21B24B 100%);
}
.copyBoard.tableCell.edit:hover, .copyBoard.tableCell.unfollow:hover{
    border-bottom: 3px solid #21B24B;
    border-radius: 0px;
    background: linear-gradient(to bottom, #21B24B 0%,#1A883A 100%);
}

.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
    border-color: #21B24B;
}
div[aria-describedby="copyBoardUnFollowDialog"] button, div[aria-describedby="copyBoardEditDialog"] button{
    border-bottom: 3px solid #1A883A;
    background: linear-gradient(to bottom, #1A883A 0%,#21B24B 100%);

}
div#copytradepopup{
    height: 145px;
}
.orderDurationColumn{
    width: 241px;
    top: 54px;
}
.leaderboard.percWrap{
    left: 125px;
}
.hitRateColumn .hitRate{
    left: -5px;
}
.tradesColumn .trades{
    margin-left: 296px;
}
.followersColumn .followers{
    margin-left: 205px;
}