@bgColor: blue;
@formBodyColor: #F3F3F3;
@tabColor: #CCCCCC;
@buttonsColor: #035da2;

#tol-myProfile-layout-1 .container {
    max-width: 990px;
}
.buttonsCustomization{
}
.messages-on-top{
    padding-bottom:15px;
    color: darkred;
}
.compliance-menu {
    background:#999;
}
.arrow {
    position:relative;
    height:100%;
}
#tol-myProfile-layout-1 .arrow a {
    display: inline-block;
    height: 100%;
    width: 100%;
    font-size:0;
}
#tol-myProfile-layout-1 .btn.active {
    box-shadow: none;
}
.compliance-userdetails form {
    width:100%;
}
.compliance-container{
    padding: 2% 0;
    background-color: @formBodyColor;
}
.success {
    background-color:@formBodyColor;
}
.form-group button {
 .buttonsCustomization;
}
div .next-button-wrapper{
    position: relative;
    top:10px;
}
.compliance-btn{
    .buttonsCustomization;
}
 .questionnareform select{
    color: @tabColor;
}
.questionnare-freetext-input {
  margin: 10px 0 5px 0;
}    

  .questionnareform select option{
    color: black;
}
.steps-button-wrapper{
    position: relative;
      top:35px;
}
.buttons-wrapper{
    position: relative;
      top:25px;
}
#left-button {
    position: relative;
    left: -5px;
}
#prev-step-docs{
    position: relative;
    left: -5px;
}
.btn-wrapper button{
    background-color: @buttonsColor;
    width:100%;
}
.documentsguide{
    .messages-on-top;
}
div #docsguide-upload{
    font-size: 15px;
    font-weight: bold;
    color:black;
}
#question-mark-icon{
    position: absolute;
    top: 7px;
    right:80px;
    color:dodgerblue;
}
div .questionnaireguide{
   .messages-on-top;
}
.myprofile-successmsg{
    .messages-on-top;
}
.compliance-questions{
    padding: 25px;
}
#tol-myProfile-layout-1 .col-sm-6.success,#tol-myProfile-layout-1 .col-sm-6.fail {
    display:none;
}
#tol-myProfile-layout-1 .compliance-menu {
    background-image:url('/wp-content/themes/tol-parent/images/pdetails1.png');
    background-size: contain;
    height:82px;
    background-repeat: no-repeat;
    background-color:transparent;
    font-size: 20px;
}
#uploaded-docs{
    position: relative;
    right:20px;
    width:990px;
    background-color:@formBodyColor;
}
.documentstate-pending{
    background-image: url('/wp-content/themes/tol-parent/images/pending_icon_small.png');
    background-repeat: no-repeat;
    background-position: right;
    height:16px;
    width:16px;
}
.documentstate-approved{
    background-image: url('/wp-content/themes/tol-parent/images/ready_small_icon.png');
    background-repeat: no-repeat;
    background-position: right;
    height:16px;
    width:16px;
}
.documentstate-notApproved{
    background-image: url('/wp-content/themes/tol-parent/images/wrong_small_icon.png');
    background-repeat: no-repeat;
    background-position: right;
    height:16px;
    width:16px;
}
.span-step-compliance{
    visibility: hidden;
}

@media (max-width: 768px) {
    .compliance-container {
        padding: 0;
    }
    #tol-myProfile-layout-1 .nav-tabs > li,
    #tol-changePassword-layout-1 .nav-tabs > li{
        font-size: 11px;
    }
    #tol-myProfile-layout-1 ul.nav-wizard li{
        float: left;
        width: 100%;
    }
    #tol-myProfile-layout-1 .span-step-compliance{
        float: left;
    }
    #tol-myProfile-layout-1 .compliance-tab{
        float: left;
    }
    #tol-myProfile-layout-1 .nav-tabs{
        border: 0px solid #3788c5;
    }
    #tol-myProfile-layout-1 .compliance-menu{
        background: #337ab7;
        float: left;
        height: auto;
    }
    .span-step-compliance{
        visibility: visible;
    }
    #tol-myProfile-layout-1 .compliance-tab{
        margin: 0 !important;
    }
    #tol-myProfile-layout-1 .compliance-container{
        float: left;
    }
}
#tol-myProfile-layout-1 .nav-tabs{
    margin-right: -15px !important;
    margin-bottom: 0px !important;
}
ul.nav-wizard li a{
    color: #000000 !important;
}
ul.nav-wizard li a:hover{
    color: #000000;
}
.lang-ru .tol-quick-submit {
    font-size: 14px;
    padding: 7px 0;
}
#tol-myProfile-layout-1 .span-step-compliance{
    font-size: 28px;
}
#tol-myProfile-layout-1 .compliance-tab{
    margin: 14px 0 0 25px;
}
#tol-myProfile-layout-1 .compliance-tab.active,
#tol-myProfile-layout-1 .compliance-tab.active:hover{
    color: #FFFFFF !important;
}
#tol-myProfile-layout-1 .nav > li.active > a,
#tol-changePassword-layout-1 .nav > li.active > a{
    border-bottom: none;
}

#tol-myProfile-layout-1 .nav-tabs{
    margin: 0 0 1px -15px;
}
#tol-myProfile-layout-1 .nav-tabs > li:not(.active) > a:hover,
#tol-changePassword-layout-1 .nav-tabs > li:not(.active) > a:hover
{
    background: #c8c8c8;
    border-color: none;
    color: #000000;
}
#tol-myProfile-layout-1 .nav-tabs > li:not(.active) > a,
#tol-changePassword-layout-1 .nav-tabs > li:not(.active) > a{
    color: #000000;
}
#tol-myProfile-layout-1 .nav-tabs > li.active > a,
#tol-changePassword-layout-1 .nav-tabs > li.active > a,
#tol-changePassword-layout-1 .nav > li.active > a:hover,
#tol-myProfile-layout-1 .nav > li.active > a:hover{
    color: #ffffff;
}
#tol-myProfile-layout-1 .questionnareform label,
#tol-myProfile-layout-1 .questionnareform select,
#tol-myProfile-layout-1 .questionnareform input{
    color: #000000;
}
#tol-myProfile-layout-1 .compliance-documents{
    padding: 30px;
}
#tol-myProfile-layout-1 .tol-my-profile-column label{
    color: #000000;
}
#tol-myProfile-layout-1 label.btn-default,
#tol-changePassword-layout-1 label.btn-default{
    border: none !important;
}

#tol-changePassword-layout-1 #tol-changePassword form{
    background-color: #f3f3f3;
    color: #000000;
}
div[data-widget="userDetails"]{
    margin: 0 0 5px 30px;
}
.compliance-menu{
    color: #000000;
    background-color: #337ab7;
    border-color: #FF9223;
}
@media screen and (max-width: 769px) and (min-width: 767px) {
    .documentselect{
        width: 147px;
        margin-left: -78px; 
    }
    label[for="fileUpload"]{
        font-size: 12px;
    }
    input#expirationdate{
        font-size: 8px;
    }
}