.page-my-profile .entry-header {
    position: relative;
    min-height: 220px;
    margin-top: -2px;
}
.page-my-profile .entry-content {
    padding: 0;
    color: #fff;
    background: #3F3F41;
    padding-bottom: 82px;
}
#tol-myProfile-layout-11 .tab-content {
    width: 100%;
    padding: 0;
}
.page-my-profile article {
    background: #3F3F41;
}
.page-my-profile .inner-pages-wrap {
    max-width: 1000px;
    margin: auto;
}
.page-my-profile #content article H1.entry-title {
    padding-left: 24px;
    height: 100px;
    line-height: 49px;
    font-size: 33px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-family: lato-bold;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: block!important;
}
form {
    margin-bottom: 0;
    display: block;
    margin-top: 0;
}
.my-profile-menu {
    width: 100%;
    height: 54px;
    border-radius: 0!important;
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    box-shadow: none!important;
    background-color: #343434!important;
    border-bottom: 3px solid #5B5B5B;
}
.my-profile-menu li {
    position: relative;
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 13px;
    font-size: 14px;
    background: transparent;
	width: 33.33%;
	line-height: 30px;

    a {
        color: #fff;
        font-size: 14px;
        font-family: Open Sans, Arial, sans-serif;

        &:hover,
        &:focus,
        &:active {
            color: #3176FD;
            outline: none;
            background: transparent;
        }
    }

    &.active a,
    &.active:hover a {
        color: #3176FD;

        &:before {
            display: inline-block;
            content: "";
            position: absolute;
            height: 3px;
            width: 100%;
            background: #3176FD;
            left: 0;
            bottom: -4px;
        }

        &:after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            bottom: -1px;
            left: 49%;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #3176FD;
        }
    }
}

.title-underline {
    display: block;
    width: 70px;
    height: 4px;
    background: #3176FD;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
.myprofile-wrapper select,
.myprofile-wrapper .select {
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #676767;
    border-radius: 0px;
    border: 1px solid #C7C7C7;
    background: #f1f1f1;
    margin: 0;
    padding: 5px 4px;
}
.select-container.birthDay {
    width: 22%;
    float: left;
    margin-right: 2%;
}
.select-container.birthMonth {
    width: 52%;
    float: left;
    margin-right: 2%;
}
.select-container.birthYear {
    width: 22%;
    float: left;
}

.left-side {
    width: 50%;
    float: left;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.right-side {
    width: 50%;
    float: right;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:after {
    display: table;
    clear: both;
    content: "";
}
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
    clear: both;
}
.myprofile-wrapper .label-field-wrapper {
	padding: 4px 0;
	line-height: normal;
}
.myprofile-wrapper .label-field-wrapper.phone-container {
    height: 87px;
}
.myprofile-wrapper .checkbox-container {
	padding: 4px 0;
	line-height: normal;
}
.myprofile-wrapper .label.required:after {
	content:" *";
	color: red;
}
.myprofile-wrapper .label.empty:after {
	content:"";
}
.myprofile-wrapper .checkbox-container .label.required {
	width: auto;
}
.myprofile-wrapper .validationError {
	color: red;
	display: inline;
	font-style: italic;
	margin-left: 10px;
}
.myprofile-wrapper .warning {
	font-weight: bold;
}
.myprofile-successmsg {
	margin: 20px 0;
	color: green;
}
.label, .label:empty {
    padding: 0.2em 0.3em .3em;
    white-space: nowrap;
    border-radius: .25em;
    line-height: 27px;
    width: 100% !important;
    color: #fff;
    text-transform: initial;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
	font-family: Open Sans, Arial, sans-serif;
    text-align: left;
}
.myprofile-wrapper .label-field-wrapper {
    position: relative;
}
.loginGoogle {
    height: 39px;
    line-height: 41px;
    width: 50%;
    background-image: url(/wp-content/themes/tol-parent/images/google_login_myProfile11.png);
    background-repeat: no-repeat;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    text-align: center;
    float: left;
    margin-top: 24px;
    border-radius: 4px;
}
.linkFacebook {
    height: 39px;
    line-height: 37px;
    width: 49%;
    background-image: url(/wp-content/themes/tol-parent/images/facebook_button_myProfile11.png);
    background-repeat: no-repeat;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    text-align: center;
    float: right;
    margin-top: 24px;
    border-radius: 4px;
}
.fbLoginErrorMessage {
    color: red;
    font-size: 13px;
    margin-left: 214px;
    position: relative;
    top: 5px;
}
.myprofile-successmsg {
    margin: 20px 0;
    color: green;
}
.myprofile-successmsg {
    padding-left: 20px;
    font-size: 20px;
    text-align: center;
    color: #1EA644;
    font-style: italic;
    margin: 0!important;
}
.myprofile-wrapper {
    background: #343434;
}
.changepassword-wrapper fieldset {
    width: 320px;
    margin: 0 auto;
}
.myprofile-wrapper .input,
.myprofile-wrapper .phone-container input,
.changepassword-wrapper .input {
    width: 100%;
    height: 40px;
    font-size: 15px;
    color: #676767;
    border-radius: 0px;
    border: 1px solid #D6D6D6;
    background: rgb(241, 241, 241);
    box-sizing: border-box;
    padding-left: 5px;
}
.myprofile-wrapper .phone-container input.phoneCountryCode,
.myprofile-wrapper .phone-container input.phoneAreaCode {
    width: 24%;
    float: left;
    margin-right: 2%;
}
.myprofile-wrapper .phone-container input.phone {
    width: 48%;
    float: left;
}
.passwordStrength {
    position: relative;
    height: 4px;
    margin: 10px 0;
    left: 0;
    width: 304px;
    margin-left: auto;
    margin-right: auto;
    background: #D8D8D8;
}
.passwordStrength #passwordStrength {
    position: relative;
    height: 4px;
}
.passwordStrength #passwordDescription {
    display: none;
}
.changepassword-wrapper {
    padding: 33px;
    min-height: 360px;
    background: #343434;
    text-align: center;
    padding-bottom: 50px;
}
.myprofile-wrapper INPUT[data-type="submit"],
.changepassword-wrapper INPUT[data-type="submit"],
.resetPassword-wrapper INPUT[data-type="submit"],
.contactus-wrapper INPUT[data-type="submit"],
.questionnaire-wrapper INPUT[data-type="submit"] {
    width: 100%;
    padding: 0;
    height: 55px;
    font-size: 22px;
    border-radius: 3px;
    border-bottom: none;
	font-family: Open Sans, Arial, sans-serif ;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}
.myprofile , .changepassword-tab , .uploads-tab {
    background: #FFFFFF;
}
.compliance-documents.compliance-container {
    background: #343434;
	margin: 0;
}
.compliance-documents.compliance-container .table-striped > tbody > tr:nth-child(odd) {
    background: #FFFFFF;
}
.compliance-documents.compliance-container .form-control {
    background-color: #f1f1f1;
    border: 1px solid #D6D6D6;
    margin: 0 0 0px -5px;
}
.compliance-documents.compliance-container  .btn-default {
    background-color: #f1f1f1;
    border: 1px solid #D6D6D6;
    margin: 0 10px 10px;
    
    &:hover {
        background-color: #FFFFFF;
        color: #000000;
    }
}
.compliance-documents.compliance-container  .documentsguide {
    font-weight: bold;
    padding: 10px 0 10px 10px;
}
.compliance-documents.compliance-container  .qline .col-sm-3 > span {
    padding: 5px;
}
#tab3 .compliance-documents .qline .documentsuploadinput {
    display: none;
}
#ui-datepicker-div.ui-widget {
    width: auto !important;
}
.page-my-profile {
    button, html input[type="button"],
    input[type="reset"], input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
    }
}
.idIssuerLabel {
    padding-top: 0px;
    padding-bottom: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.idIssuer-container {
    margin-top: -10px;
    padding-top: 0px !important;
}
.doesNotExpire {
    height: 11px !important;
}
// Mobile devices //
@media (max-width: 767px) {
    .page-my-profile .entry-content .my-profile-menu li {
        float: none;
        display: block;
        width: 100%;
    }
    .page-my-profile .tab-content {
        display: block;
        margin-top: 147px;
    }
    .page-my-profile .left-side {
        display: block;
        width: 100%;
    }
    .page-my-profile .right-side {
        display: block;
        width: 100%;
        padding-left: 2px;
    }
    .page-my-profile .linkFacebook {
        width: 100%;
    }
    .page-my-profile .loginGoogle {
        width: 100%;
    }
    #tab1 .validationError {
        position: relative;
    }
    #tol-myProfile-layout-11 .compliance-documents.compliance-container.row .qline .text-right {
        padding-top: 7px;
        text-align: left;
        padding: 0 30px 5px;
    }
    .page-my-profile .compliance-documents.compliance-container .form-control {
        margin: 0;
        width: 100%;
    }
    .page-my-profile .compliance-documents.compliance-container .qline .col-sm-3 > span {
        padding: 0px 13px 23px;
    }
    .page-my-profile #tab2 .passwordStrength {
        margin: 0 auto;
    }
    .changepassword-wrapper INPUT[data-type="submit"] {
        width: 100%;
    }
    .page-my-profile #tab2 fieldset {
        min-width: auto;
        border: none;
    }
    .page-my-profile .changepassword-wrapper {
        padding: 0;
    }
    .page-my-profile #tab3 .table-striped.table-responsive {
        table-layout: fixed;
    }
    .page-my-profile #tab3 .table-striped.table-responsive > tbody > tr > td > div {
        word-wrap: break-word;
    }
    .fileuploaderror.documentuploaderror {
        padding: 10px;
    }
    .page-my-profile #tab3 #question-mark-icon {
        display: none;
    }
    .page-my-profile .changepassword-wrapper .input {
        width: 100% !important;
    }
    .page-my-profile .passwordStrength {
        width: 100%;
    }
    .page-my-profile .myprofile-wrapper .input,.page-my-profile .registration-wrapper .input {
        min-width: 100%;
    }
    .page-my-profile .myprofile-wrapper  select {
        width: 100% !important;
        margin-top: 5px;
    }
    .myprofile-wrapper .phone-container input {
        margin-top: 5px;
        margin-right: 1px;
    }
	.compliance-documents [data-widget="compliance"] .qline > div:nth-of-type(5) .btn {
		width: 100%;
		margin: 0;
	}
	.compliance-documents [data-widget="compliance"] .second-info-row {
		display: none;
	}
	.compliance-documents [data-widget="compliance"] .qline > div:nth-of-type(6),
	.compliance-documents [data-widget="compliance"] .qline > div:nth-of-type(4),
	.compliance-documents [data-widget="compliance"] .qline > div:nth-of-type(1) {
		width: 100%;
	}
	#tab4 .compliance-documents .qline .documentsuploadinput {
		display: none;
	}
	div[data-widget="compliance"][data-type="documentsupload"] {
		width: 90%;
		margin: auto;
	}
}
@media (max-width: 1024px) and (min-width: 768px) {
    .page-my-profile #tab2 fieldset {
        min-width: auto;
        border: none;
    }
    .page-my-profile #tab2 .passwordStrength {
        margin: 0 auto;
    }
}
@media (width: 768px) {
    .page-my-profile .loginGoogle ,.page-my-profile .linkFacebook  {
        width: 100%;
    }
    .page-my-profile #tab3 .form-control {
        padding: 0px 7px;
    }
    .page-my-profile #tab3 .col-sm-3 .btn.btn-default {
        padding: 6px 7px;
    }  
}
#tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-btn.pull-right.btn.btn-primary{
    padding: 0 !important;
    height: 55px;
    font-size: 22px !important;
    border-radius: 3px;
    background: #516ac0;
    border: none;
    font-family: Open Sans, Arial, sans-serif;
    text-align: center;
    color: #141414 !important;
    text-decoration: none;
    font-weight: 700;
    width: 75%;
    text-transform: uppercase;
    margin-top:50px;
}
#tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-documents.compliance-container.row {
    width:102%;
}
#tol-myProfile-layout-11 div.entry-content div#tab3 .questionnareform{
    margin-top:70px;
}
#tol-myProfile-layout-11 div.entry-content div#tab3 .questionnaireguide {
    margin-top:100px;
    text-align: center;
    color: #000000;
    font-weight: 100;
    font-size: 20px;
    font-weight: 400;
}
#tol-myProfile-layout-11 div.entry-content div#tab3 .col-sm-12.alert.alert-danger {
    background:transparent;
    text-align: center;
    margin-top: 10px;
    border:none;
    font-size: 20px;
    font-weight: 400;
}
#tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-questions .questionnareform div.row label.compliancelabel{
    color: #000000;
    font-weight: 900;
    font-size: 18px;
    width: 64% !important;
    text-align: left;
    margin-top: 60px;
    margin-bottom:10px;
}
#tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-questions .questionnareform div.row select.col-sm-12.questionnare-select{
    width: 63%;
    border-radius: 4px;
    height: 35px;
    background-color: #F1F1F1;
    color: #000;
    font-weight: 200;
    border:1px solid #D6D6D6;
    font-size: 16px;
    left: 125px !important;
}
#tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-questions .questionnareform button[data-type="questionnaressubmit"]{
    width: 87%!important;
    height: 55px!important;
    font-family: Open Sans, Arial, sans-serif;
    font-size: 22px!important;
    text-transform: uppercase!important;
    font-weight: 700!important;
}
#tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-questions .questionnareform>div.row{
    width:75%;
    text-align:left;
    margin-left: 240px;
}
#tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-questions .questionnareform>div.buttons-wrapper.row {
    width: 86% !important;
    margin-left: 13px;
    margin-bottom: 50px;
}
#tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-questions  div.row >div.col-sm-12.alert.alert-success{
    background:transparent;
    border:none;
    font-size:16px;
    text-align:center;
    margin-top:30px;
}
#tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-questions .alert.alert-warning {
    width: 96px;
    left: 23px;
}
#tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-questions .questionnareselecterror {
    width: 270px;
    float: right;

}
@media(width:1024px){
    #tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-questions .questionnareform > div.row {
        width: 75%;
        text-align: left;
        margin-left: 184px !important;
    }
    #tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-questions .questionnareform > div.buttons-wrapper.row {
        width: 88%;
        margin-left: 50px;
        margin-bottom: 50px;
    }
}
@media(max-width:767px){
    #tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-questions .questionnareform  div.row {
        width: 100% !important;
        text-align: center !important;
        margin-left: 0 !important;
    }
    #tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-questions .questionnareform > div.buttons-wrapper.row {
        width: 99% !important;
        margin-left: 2px !important;
        margin-bottom: 50px;
    }
}
@media(min-width:768px){
    #tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-questions .questionnareform  div.row {
        width: 100%;
        text-align: center !important;
        margin-left: 0 !important;
    }
    #tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-questions .questionnareform > div.buttons-wrapper.row {
        width: 99%;
        margin-left: 2px !important;
        margin-bottom: 50px;
    }
    #tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-questions .questionnareform div.row select.col-sm-12.questionnare-select{
        margin-left: 70px;
    }
}
@media(width:320px){
    #tol-myProfile-layout-11 div.entry-content div#tab3 .compliance-questions .questionnareform div.row select.col-sm-12.questionnare-select{
    width: 85%;
    font-size: 13px;
    }
}
#tol-myProfile-layout-11 {
	padding-top: 140px;
}
.page-my-profile .main-temple__section__bannertitle {
    height: 124px;
    background-color: transparent;
    background-position: 100% bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
	font-family: Open Sans, Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1;
    word-break: break-word;
    color: #fff;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 35px;
    padding-left: 20px;
	max-width: 1000px;
    margin: auto;
}
.page-my-profile .btn-primary {
    color: #fff;
    background-color: #3176FD;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #0368D8;
}
.page-my-profile .btn-primary:hover,
.page-my-profile .btn-primary:active,
.page-my-profile .btn-primary:focus{
    color: #fff;
    background-color: #3176FD;
    border-top: 1px solid #3176FD;
    border-bottom: 1px solid #3176FD;
    -webkit-box-shadow: 0 5px 80px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 5px 80px rgba(0,0,0,0.25);
    box-shadow: 0 5px 80px rgba(0,0,0,0.25);
}
.page-my-profile .qline.row label {
    color: #8c8c8c;
    font-weight: normal;
}
.page-my-profile .table tr:hover td {
    background-color: #828282 !important;
    color: #fff;
    font-weight: normal;
}
.compliance-documents.compliance-container .table-striped > tbody > tr:nth-child(odd) {
    color: #000;
}
.page-my-profile .qline.row label {
    border-radius: 0;
}
.compliance-documents.compliance-container .btn-default[type="submit"] {
    background-color: #3176FD;
    border: 1px solid #3176FD;
    border-radius: 0;
    color: #fff;
}
.documentstate-pending {
    background-image: url('/wp-content/themes/tol-child/images/new-template-99/status_pending.png');
    background-repeat: no-repeat;
    background-position: left;
    height: 38px;
    width: 100%;
}
.documentstate-pending:before {
    content: "Pending";
    padding-left: 35px;
    line-height: 38px;
}
.documentstate-approved {
 background-image: url('/wp-content/themes/tol-child/images/new-template-99/status_ok.png');
 background-repeat: no-repeat;
 background-position: left;
 height: 38px;
 width: 100%;
}
.documentstate-approved:before {
    content: "Approved";
    padding-left: 35px;
    line-height: 38px;
}
.documentstate-notApproved {
    background-image: url('/wp-content/themes/tol-child/images/new-template-99/status_fail.png');
    background-repeat: no-repeat;
    background-position: left;
    height: 38px;
    width: 100%;
}
.documentstate-notApproved:before {
    content: "Expired / Not Approved";
    padding-left: 35px;
    line-height: 38px;
}
@media(width: 768px){
	.compliance-container.row .qline.row .col-sm-1:not(.text-right){
		display: none;
	}
	#expirationdate {
		min-width: 145px;
	}
}
