#tol-myProfile-layout-1 .container {
  max-width: 990px;
}
.messages-on-top {
  padding-bottom: 15px;
  color: darkred;
}
.compliance-menu {
  background: #999;
}
.arrow {
  position: relative;
  height: 100%;
}
#tol-myProfile-layout-1 .arrow a {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-size: 0;
}
#tol-myProfile-layout-1 .btn.active {
  box-shadow: none;
}
.compliance-userdetails form {
  width: 100%;
}
.compliance-container {
  padding: 2% 0;
  background-color: #f3f3f3;
}
.success {
  background-color: #f3f3f3;
}
div .next-button-wrapper {
  position: relative;
  top: 10px;
}
.questionnareform select {
  color: #cccccc;
}
.questionnare-freetext-input {
  margin: 10px 0 5px 0;
}
.questionnareform select option {
  color: black;
}
.steps-button-wrapper {
  position: relative;
  top: 35px;
}
.buttons-wrapper {
  position: relative;
  top: 25px;
}
#left-button {
  position: relative;
  left: -5px;
}
#prev-step-docs {
  position: relative;
  left: -5px;
}
.btn-wrapper button {
  background-color: #035da2;
  width: 100%;
}
.documentsguide {
  padding-bottom: 15px;
  color: darkred;
}
div #docsguide-upload {
  font-size: 15px;
  font-weight: bold;
  color: black;
}
#question-mark-icon {
  position: absolute;
  top: 7px;
  right: 80px;
  color: dodgerblue;
}
div .questionnaireguide {
  padding-bottom: 15px;
  color: darkred;
}
.myprofile-successmsg {
  padding-bottom: 15px;
  color: darkred;
}
.compliance-questions {
  padding: 25px;
}
#tol-myProfile-layout-1 .col-sm-6.success,
#tol-myProfile-layout-1 .col-sm-6.fail {
  display: none;
}
#tol-myProfile-layout-1 .compliance-menu {
  background-image: url('/wp-content/themes/tol-parent/images/pdetails1.png');
  background-size: contain;
  height: 82px;
  background-repeat: no-repeat;
  background-color: transparent;
}
#uploaded-docs {
  position: relative;
  right: 20px;
  width: 990px;
  background-color: #f3f3f3;
}
.documentstate-pending {
  background-image: url('/wp-content/themes/tol-parent/images/pending_icon_small.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 16px;
  width: 16px;
}
.documentstate-approved {
  background-image: url('/wp-content/themes/tol-parent/images/ready_small_icon.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 16px;
  width: 16px;
}
.documentstate-notApproved {
  background-image: url('/wp-content/themes/tol-parent/images/wrong_small_icon.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 16px;
  width: 16px;
}
@media (max-width: 768px) {
  .compliance-container {
    padding: 0;
  }
}
ul.nav-wizard li a {
  color: #fff;
}
ul.nav-wizard li a:hover {
  color: #5298d6;
}
.lang-ru .tol-quick-submit {
  font-size: 14px;
  padding: 7px 0;
}
