@bgColor: blue;
@formBodyColor: #F3F3F3;
@tabColor: #CCCCCC;
@buttonsColor: #035da2;

.messages-on-top {
  padding-bottom: 15px;
  color: darkred;
}

.compliance-menu {
  background: #999;
}

.arrow {
  position: relative;
  height: 100%;
}

#tol-myProfile-layout-1 .arrow a {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-size: 0;
}

#tol-myProfile-layout-1 .btn.active {
  box-shadow: none;
}

.compliance-userdetails form {
  width: 100%;
}

.compliance-container {
  padding: 2% 0;
  background-color: @formBodyColor;
}

.success {
  background-color: @formBodyColor;
}

div .next-button-wrapper {
  position: relative;
  top: 10px;
}

.questionnareform select {
  color: @tabColor;
}

.questionnare-freetext-input {
  margin: 10px 0 5px 0;
}

.questionnareform select option {
  color: black;
}

.steps-button-wrapper {
  position: relative;
  top: 35px;
}

.buttons-wrapper {
  position: relative;
  top: 25px;
}

#left-button {
  position: relative;
  left: -5px;
}

#prev-step-docs {
  position: relative;
  left: -5px;
}

.btn-wrapper button {
  background-color: @buttonsColor;
  width: 100%;
}

.documentsguide {
  .messages-on-top;
  font-size: 16px;
}

div #docsguide-upload {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

#question-mark-icon {
  position: absolute;
  top: 7px;
  right: 80px;
  color: dodgerblue;
}

div .questionnaireguide {
  .messages-on-top;
}

.myprofile-successmsg {
  .messages-on-top;
}

.compliance-questions {
  padding: 25px;
  font-size: 16px;
}

#tol-myProfile-layout-1 .col-sm-6.success, #tol-myProfile-layout-1 .col-sm-6.fail {
  display: none;
}

#tol-myProfile-layout-1 .compliance-menu {
  background-image: url('/wp-content/themes/tol-parent/images/pdetails1.png');
  background-size: contain;
  height: 82px;
  background-repeat: no-repeat;
  background-color: transparent;
}

#uploaded-docs {
  position: relative;
  right: 20px;
  width: 990px;
  background-color: @formBodyColor;
}

.documentstate-pending {
  background-image: url('/wp-content/themes/tol-parent/images/pending_icon_small.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 16px;
  width: 16px;
  margin-top: 11px;
}

.documentstate-approved {
  background-image: url('/wp-content/themes/tol-parent/images/ready_small_icon.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 16px;
  width: 16px;
  margin-top: 11px;
}

.documentstate-notApproved {
  background-image: url('/wp-content/themes/tol-parent/images/wrong_small_icon.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 16px;
  width: 16px;
  margin-top: 11px;
}

#tol-myProfile-layout-1 #form-wrapper.compliance-widget-wrapper .first-row {
  list-style-type: none;
  float: none;
  border: 2px solid #EAEAEa;
  font-family: Roboto-Bold;
  font-size: 17px;
  padding-left: 0;
  padding-right: 0
}

#tol-myProfile-layout-1 .compliance-questions form > .buttons-wrapper .compliance-btn {
  padding: 1% 10% !important;
  font-size: 25px !important;
  font-family: 'helveticab';
  border: none !important;
  background: #516ac0 !important;
  position: relative;
  right: 50%
}

#tol-myProfile-layout-1 .nav-tabs {
  display: none;
}

#tol-myProfile-layout-1 .compliance-container {
  background: none;
}

#tol-myProfile-layout-1 #form-wrapper.compliance-widget-wrapper {
  padding-top: 120px;
  margin: 0 auto;
}

#tol-myProfile-layout-1 #form-wrapper.compliance-widget-wrapper .tabs.nav-wizard .span-step-compliance {
  margin-top: 10px;
  text-align: right;
  right: -23px
}

#tol-myProfile-layout-1 #form-wrapper.compliance-widget-wrapper select.form-control, #tol-myProfile-layout-1 #form-wrapper.compliance-widget-wrapper input.form-control, #tol-myProfile-layout-1 .compliance-questions form > .row select, #tol-myProfile-layout-1 .compliance-questions form > .row input {
  height: 55px;
  border: 2px solid #e1e1e1;
  width: 100%
}

#tol-myProfile-layout-1 #form-wrapper.compliance-widget-wrapper .col-xs-12.col-sm-6:first-child div.last-of-type .col-xs-12.col-sm-12.col-md-8 {
  width: 50%;
  padding-right: 0
}

#tol-myProfile-layout-1 #form-wrapper.compliance-widget-wrapper select.my-profile-birth-day, #tol-myProfile-layout-1 #form-wrapper.compliance-widget-wrapper .col-xs-12.col-sm-12.col-md-8 .col-xs-3.col-sm-4.nopadding select, #tol-myProfile-layout-1 #form-wrapper.compliance-widget-wrapper .col-xs-12.col-sm-12.col-md-8 .col-xs-6.col-sm-5.nopadding select {
  width: 100%
}

#tol-myProfile-layout-1 .compliance-userdetails .control-label {
  width: 20.333333%;
  font-size: 20px;
  color: #6d6d6d;
  text-align: right;
  font-weight: normal;
  line-height: 50px;
}

#tol-myProfile-layout-1 #form-wrapper.compliance-widget-wrapper .tol-my-profile-column > .col-sm-6:nth-child(1), #tol-myProfile-layout-1 #form-wrapper.compliance-widget-wrapper .tol-my-profile-column > .col-sm-6:nth-child(2) {
  width: 100%
}

#tol-myProfile-layout-1 #form-wrapper.compliance-widget-wrapper .form-group:nth-of-type(8) .col-xs-3.col-sm-3 {
  width: 15%
}

#tol-myProfile-layout-1 #form-wrapper.compliance-widget-wrapper .form-group:nth-of-type(8) .col-xs-6.col-sm-5 select {
  margin: auto
}

#tol-myProfile-layout-1 #form-wrapper.compliance-widget-wrapper .form-group:nth-of-type(8) .col-xs-3.col-sm-4 {
  width: 19%
}

#tol-myProfile-layout-1 .compliance-userdetails.compliance-container .tol-my-profile-column > div:nth-of-type(3) .row {
  display: inline-block;
  border: 2px solid #e1e1e1;
  padding: 1% 5% 1% 5%
}

#tol-myProfile-layout-1 .compliance-userdetails.compliance-container .tol-my-profile-column > div:nth-of-type(3) .row .btn-connect {
  display: none
}

#tol-myProfile-layout-1 .compliance-userdetails.compliance-container .tol-my-profile-column > div:nth-of-type(3) .row:nth-of-type(2) {
  margin-left: 5%
}

#tol-myProfile-layout-1 .compliance-userdetails.compliance-container .tol-my-profile-column > div:nth-of-type(3), #tol-myProfile-layout-1 .compliance-documents form .form-control {
  width: 100% !important
}

#tol-myProfile-layout-1 .compliance-userdetails.compliance-container .tol-my-profile-column > div:nth-of-type(3) .loginGoogle, #tol-myProfile-layout-1 .compliance-userdetails.compliance-container .tol-my-profile-column > div:nth-of-type(3) .linkFacebook {
  color: #858585;
  font-size: 20px;
  font-family: robotoregular;
}

#tol-myProfile-layout-1 .compliance-userdetails.compliance-container .tol-my-profile-column > div:nth-of-type(3) .loginGoogle:hover, #tol-myProfile-layout-1 .compliance-userdetails.compliance-container .tol-my-profile-column > div:nth-of-type(3) .linkFacebook:hover {
  border: none
}

#tol-myProfile-layout-1 .compliance-userdetails.compliance-container .tol-quick-next {
  padding: 5% 17% !important;
  font-size: 25px !important;
  font-family: 'helveticab';
  border: none !important;
  background: #516ac0 !important
}

#tol-myProfile-layout-1 .compliance-userdetails.compliance-container .tol-my-profile-column > div:nth-of-type(2) .form-group.col-xs-12.col-sm-12:nth-child(4) .col-xs-4.col-sm-4 {
  padding: 0
}

#tol-myProfile-layout-1 .tol-my-profile-column > div:nth-of-type(3) .col-md-8 {
  position: relative;
  right: -2%
}

#tol-myProfile-layout-1 .compliance-questions form > .row {
  margin-top: 1%
}

#tol-myProfile-layout-1 .compliance-documents .doctable tr th {
  background: #fff;
  font-size: 20px;
  color: #333;
  border-bottom: 5px solid #ebebeb;
  text-align: left;
}

#tol-myProfile-layout-1 .compliance-documents .doctable tbody tr:nth-child(2n) {
  background: #fbfbfb
}

#tol-myProfile-layout-1 .compliance-documents .btn-default[data-type="documentssubmit"] {
  padding: 0.5% 5% !important;
  font-size: 25px;
  font-family: 'helveticab';
  border: none !important;
  background: #516ac0 !important;
  color: #fff
}

#tol-myProfile-layout-1 .documentsguide[data-translate="missingdocuments"] {
  font-size: 19px;
  text-transform: uppercase;
  font-family: 'helveticab';
  color: #535353;
  padding-bottom: 5%
}

#tol-myProfile-layout-1 .documentsguide[data-translate="missingdocuments"]:before {
  content: url('/wp-content/themes/tol-child/images/warning.png');
  position: relative;
  top: 10px;
  right: 10px
}

#tol-myProfile-layout-1 .compliance-documents .documentsuploadinput {
  display: none
}

#tol-myProfile-layout-1 .compliance-documents .qline > div,
#tol-myProfile-layout-1 .compliance-documents .qline label {
  font-size: 21px;
  color: #626262;
  font-weight: 300
}

#tol-myProfile-layout-1 .compliance-documents .qline > div:nth-child(1), #tol-myProfile-layout-1 .compliance-documents .qline > div:nth-child(4), #tol-myProfile-layout-1 .compliance-documents .qline > div:nth-child(6) {
  width: 20%;
  text-align: left
}

#tol-myProfile-layout-1 .compliance-documents .qline > div:nth-child(1),
#tol-myProfile-layout-1 .compliance-documents .qline > div:nth-child(4),
#tol-myProfile-layout-1 .compliance-documents .qline > div:nth-child(6) {
  width: 33%;
}

#tol-myProfile-layout-1 .compliance-documents .qline > div:nth-child(2), #tol-myProfile-layout-1 .compliance-documents .qline > div:nth-child(5), #tol-myProfile-layout-1 .compliance-documents .qline > div:nth-child(7) {
  padding-top: 3%;
  margin-left: -33%;
  width: 25%
}

#tol-myProfile-layout-1 .help-block {
  margin-bottom: 0;
}

#question-mark-icon, #tol-myProfile-layout-1 .compliance-documents .qline > div:nth-child(3) {
  display: none
}

.help-block.type-option-message.text-center {
  text-align: left;
  color: #626262;
  font-style: italic;
  margin-bottom: 15%;
  margin-top: -6%
}

.questionnareform select {
  color: #555;
  font-size: 17px
}

.compliance-documents.compliance-container input, .compliance-documents.compliance-container select, .tol-my-profile-column input, .tol-my-profile-column select {
  font-size: 17px
}

.documentsguide {
  display: none
}

#tol-myProfile-layout-1 .compliance-documents .qline .form-group {
  margin-bottom: 30px
}

#tol-myProfile-layout-1 .compliance-documents .qline .col-sm-3 .btn {
  border: 2px solid #7D7D7D !important;
  height: 55px;
  background: #7D7D7D;
  color: #fff;
  padding: 15px;
  font-size: 17px
}

#tol-myProfile-layout-1 .compliance-documents .qline .col-sm-3 label {
  width: 50%;
  display: inline-block;
}

#tol-myProfile-layout-1 .compliance-documents .qline .col-sm-3 span {
  display: inline-block !important;
  margin-left: 3%;
  max-width: 47%;
  white-space: nowrap;
}

#tol-myProfile-layout-1 .compliance-documents .btn.pull-right {
  float: none !important
}

#tol-myProfile-layout-1 #form-wrapper.container .tabs.nav-wizard li.active {
  background: #EAEAEA;
  color: #4053b5
}

#tol-assetList-layout-4 .games-header-box li.active span, #tol-myProfile-layout-1 #form-wrapper.container .tabs.nav-wizard li.active a, #tol-myProfile-layout-1 #form-wrapper.container .tabs.nav-wizard li.active span {
  color: #4053b5
}

#tol-myProfile-layout-1 #form-wrapper.container .tabs.nav-wizard li a, #tol-myProfile-layout-1 #form-wrapper.container .tabs.nav-wizard li.active a {
  width: 50%
}

#tol-myProfile-layout-1 #form-wrapper.container .tabs.nav-wizard li a,
#tol-myProfile-layout-1 #form-wrapper.container .tabs.nav-wizard li span {
  color: #818181;
  text-transform: uppercase
}

#tol-myProfile-layout-1 .tol-quick-submit {
  padding: 14px 0;
  font-size: 25px;
  font-family: 'helveticab';
  border: none !important;
  background: #516ac0;
  margin: 0 auto;
  text-align: center;
  text-indent: 0;
  height: 60px;
  float: none;
}

.fileuploaderror {
  width: 100%;
  color: red;
}

.fileuploaderror.documentuploaderror,
.fileuploaderror.fileuploaderror {
  padding-bottom: 30px;
}

.uploadeddocs td {
  color: #000;
  font-size: 13px;
  text-align: left;
}

.table .uploadeddocs tr:hover td {
  background-color: #fff !important;
}

@media (max-width: 1500px) {
  #tol-myProfile-layout-1 {
    .compliance-documents .qline > div, .compliance-documents .qline label {
      font-size: 18px;
    }
    .compliance-documents .qline > div:nth-child(2),
    .compliance-documents .qline > div:nth-child(5),
    .compliance-documents .qline > div:nth-child(7) {
      width: 33%;
    }
    .first-article-header {
      margin-top: 0;
    }
    .compliance-documents .qline .col-sm-3 span {
      overflow: hidden;
    }
  }
}

@media (max-width: 1200px) {
  #tol-myProfile-layout-1 .compliance-documents .qline .col-sm-3 .btn {
    font-size: 15px;
    padding: 15px 5px;
  }
}

@media (width: 1024px) {
  #tol-myProfile-layout-1 {
    .compliance-documents .qline > div, .compliance-documents .qline label {
      font-size: 15px;
    }
    .compliance-documents .qline .col-sm-3 .btn {
      padding: 15px 5px;
      font-size: 13px;
    }
  }
}

@media (max-width: 768px) {
  .qline.row, .btn-row {
    padding-top: 30px;
  }

  #tol-myProfile-layout-1 .compliance-documents .qline > div:nth-child(1), #tol-myProfile-layout-1 .compliance-documents .qline > div:nth-child(4), #tol-myProfile-layout-1 .compliance-documents .qline > div:nth-child(6) {
    width: 100%;
    margin-top: 20px;
  }

  #tol-myProfile-layout-1 .compliance-documents .qline > div:nth-child(2), #tol-myProfile-layout-1 .compliance-documents .qline > div:nth-child(5), #tol-myProfile-layout-1 .compliance-documents .qline > div:nth-child(7) {
    width: 100%;
    margin: 0;
    padding-top: 5px;
  }

  .second-info-row {
    display: none;
  }

  .compliance-container {
    padding: 0 15px;
  }
}

@media (max-width: 767px) {
  div[data-widget=compliance][data-type=documentsupload] > form .qline.row div:nth-child(5) .fileuploaderror {
    line-height: 16px;
    margin: 0;
    top: -20px;
    position: relative;
  }

  #tol-myProfile-layout-1 .compliance-documents .doctable tr th {
    font-size: 14px;
  }

  #tol-myProfile-layout-1 .compliance-documents .qline .col-sm-3 .btn {
    padding: 15px 5px;
    font-size: 14px;
  }

  .compliance-container .table {
    margin-top: 30px;
  }

  #tol-myProfile-layout-1 .compliance-documents .btn-default[data-type="documentssubmit"],
  #tol-myProfile-layout-1 .tol-quick-submit {
    font-size: 20px;
    width: 175px;
    height: 55px;
  }

  .row.tol-my-profile-column > div, .compliance-userdetails form {
    padding: 0;
  }

  .birthdate-wrapper {
    height: 71px;
  }

  .compliance-container table td .documentname {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
  }

  .compliance-container table td {
    width: 33%;
    max-width: 133;
  }
}
