.page-my-profile {
    #content {
      padding-top: 70px;
      background: #F4F7FA;
    }
    .home #content {
      padding-top: 0;
    }
    #event-modal{
      .modal-header {
        border: 0;
        padding: 0;
        position: relative;
        display: block;
        height: 40px;
  
        button {
          margin-right: 10px;
          font-size: 16px;
          margin-top: 10px;
        }
      }
      .modal-dialog {
        border-radius: 3px;
        max-width: 600px;
        margin: 350px auto;
        text-align: center;
      }
      .modal-content {
        border: 0;
        border-radius: 3px;
        width: auto;
        display: block;
  
        .event-text {
          font-family: proxima-light;
          font-size: 30px;
          padding: 0 40px 30px;
          line-height: 30px;
        }
      }
      &.positive {
        .modal-dialog {
          box-shadow: 0 0 35px rgba(98, 200, 46, 0.5);
        }
      }
      &.negative {
        .modal-dialog {
          box-shadow: 0 0 35px rgba(183, 46, 46, 0.5);
        }
      }
    }
    h4 {
      font-family: 'raleway';
      font-size: 1.25rem;
      margin: 28px 0 18px;
      color: #00010D;
    }
    .dashboard-navs {
      height: 63px;
      background: #FFFFFF;
      border-bottom: 1px solid #DBE1E9;
  
      .nav-tabs {
        height: 100%;
      }
      .nav-tabs .nav-item {
        padding-right: 15px;
      }
      .nav-tabs,
      .nav-tabs .nav-link:focus,
      .nav-tabs .nav-link:hover,
      .nav-tabs .nav-item.show .nav-link,
      .nav-tabs .nav-link.active,
      .nav-tabs .nav-link {
        border: 0;
      }
      .nav-tabs li a {
        height: 100%;
        line-height: 46px;
        color: #252525;
        font-family: 'proxima-light';
        font-size: 1.125rem;
      }
      .nav-tabs .nav-link.active,
      .nav-tabs .nav-link:hover {
        color: #62C82E;
      }
      .nav-tabs .nav-link.active {
        border-bottom: 6px solid;
        height: 65px;
        position: relative;
      }
      .nav-tabs li a i {
        display: inline-block;
        width: 24px;
        height: 20px;
        position: relative;
        top: 3px;
        margin-right: 4px;
      }
      .nav-tabs li:nth-child(1) a i {
        background: url('/wp-content/themes/tol-child/images/sprite_icons.png') no-repeat -3px -7px;
      }
      .nav-tabs li:nth-child(1) a:hover i,
      .nav-tabs li:nth-child(1) a.active i {
        background: url('/wp-content/themes/tol-child/images/sprite_icons.png') no-repeat -3px -31px;
      }
      .nav-tabs li:nth-child(2) a i,
      .nav-tabs li:nth-child(3) a i {
        background: url('/wp-content/themes/tol-child/images/sprite_icons.png') no-repeat -28px -7px;
      }
      .nav-tabs li:nth-child(2) a:hover i,
      .nav-tabs li:nth-child(2) a.active i,
      .nav-tabs li:nth-child(3) a:hover i,
      .nav-tabs li:nth-child(3) a.active i {
        background: url('/wp-content/themes/tol-child/images/sprite_icons.png') no-repeat -28px -31px;
      }
      .nav-tabs li:nth-child(4) a i {
        background: url('/wp-content/themes/tol-child/images/sprite_icons.png') no-repeat -55px -7px;
      }
      .nav-tabs li:nth-child(4) a:hover i,
      .nav-tabs li:nth-child(4) a.active i {
        background: url('/wp-content/themes/tol-child/images/sprite_icons.png') no-repeat -55px -31px;
      }
      .nav-tabs li:nth-child(5) a i {
        background: url('/wp-content/themes/tol-child/images/sprite_icons.png') no-repeat -82px -7px;
      }
      .nav-tabs li:nth-child(5) a:hover i,
      .nav-tabs li:nth-child(5) a.active i {
        background: url('/wp-content/themes/tol-child/images/sprite_icons.png') no-repeat -82px -31px;
      }
    }
    #verification {
      .compliance-container.active {
        display: block !important;
      }
      .questionnaireguide {
        text-align: center;
        font-size: 20px;
      }
      .compliance-questions {
        margin-top: 30px;
        text-align: center;
      }
      .compliance-documents {
          display: none;
        }
      }
      h1 {
        margin-top: 80px;
        text-align: center;
        text-transform: uppercase;
        color: #808080;
        margin-bottom: 70px;
        width: 100%;
        font-weight: bold;
        font-size: 3rem;
        font-family: robotoblack;
      }
      .verification-wrapper {
        background: #ffffff;
      }
      .my-profile-tabs {
        height: 60px;
        border-bottom: 1px solid #808080;
        padding: 23px 0;
        text-align: center;
        margin-bottom: 60px;
  
        a {
          font-size: 18px;
          width: 100%;
          padding: 0;
          margin: 0;
          color: #808080;
          display: block !important;
  
          &:hover {
            text-decoration: none;
          }
          &.active {
            border-bottom: 3px solid #62C82E;
            height: 37px;
            color: #62C82E;
          }
        }
      }
      .header h3 {
        margin-bottom: 50px;
        text-align: center !important;
        color: #263D48;
        margin: 15px auto 39px;
      }
      .change-password {
        background: transparent;
        border: 3px solid #22b24c;
        margin-top: 0;
      }
      .change-password a {
        color: #22b24c;
      }
      .change-password:hover {
        border: 3px solid #0d723b;
      }
      .change-password:hover a {
        color: #0d723b;
      }
      .change-password-container {
        margin-top: 30px;
        margin-bottom: 0;
      }
      .form-container {
        border: 1px solid #F3F3F3;
        box-shadow: none;
        background: #FCFCFC;
        margin-bottom: 40px;
      }
      .fb-login {
        margin-bottom: 30px;
      }
    #transfer {
      padding-bottom: 53px;
    }
    .wallet-wrapper {
      margin-top: 35px;
    }
    .transfer-wrapper {
      max-width: 540px;
      padding: 30px 0 50px;
  
      .transfer-amount,
      .transfer-comments {
        border: 0;
        border-bottom: 1px solid #cccc;
        border-radius: 0;
        margin-top: 30px;
        width: 100%;
        text-indent: 10px;
        height: 40px;
        line-height: 39px;
      }
  
      .transfer-wallet {
        margin-top: 30px;
        width: 100%;
        text-indent: 10px;
        height: 60px;
        line-height: 59px;
      }
  
      .savewallet-wrapper {
        margin: 20px 10px;
        display: none;
      }
  
      /* The container */
      .radio-container {
        display: inline-block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 19px;
        color: #2D4156;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
  
        &.disabled {
          opacity: 0.5;
        }
      }
  
      /* Hide the browser's default radio button */
      .radio-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
  
      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 6px;
        left: 10px;
        height: 21px;
        width: 20px;
        border: 1px solid #DCE2EA;
        border-radius: 50%;
      }
  
      /* On mouse-over, add a grey background color */
      .radio-container:hover input ~ .checkmark {
        background-color: #ccc;
      }
  
      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
  
      /* Show the indicator (dot/circle) when checked */
      .radio-container input:checked ~ .checkmark:after {
        display: block;
      }
  
      /* Style the indicator (dot/circle) */
      .radio-container .checkmark:after {
        top: 5px;
        left: 5px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: #62C82E;
      }
    }
  
    .buysellassetddl {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      position: relative;
      z-index: 101;
      height: 60px;
  
      .buysellassetddl-wrap {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }
  
      .buysellassetddl-main {
        border: 1px solid #DBE1E9;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: #FFFFFF;
      }
  
      .buysellassetddl-main-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        font-size: 16px;
        font-weight: 500;
        color: #4E5C6E;
        padding: 0 15px;
        height: 58px;
  
        .buysellassetddl-main-row-icon {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-align-items: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          margin-right: 14px;
        }
  
        .buysellassetddl-main-row-icon.bitcoin {
          display: inline-block;
          width: 35px;
          height: 35px;
          background: url(/wp-content/themes/tol-child/images/asset_sprite.png) no-repeat -4px -165px;
          position: absolute;
        }
        .buysellassetddl-main-row-icon.ethereum {
          display: inline-block;
          width: 35px;
          height: 35px;
          background: url(/wp-content/themes/tol-child/images/asset_sprite.png) no-repeat -4px -43px;
          position: absolute;
        }
        .buysellassetddl-main-row-icon.litecoin {
          display: inline-block;
          width: 35px;
          height: 35px;
          background: url(/wp-content/themes/tol-child/images/asset_sprite.png) no-repeat -4px -205px;
          position: absolute;
        }
        .buysellassetddl-main-row-icon.dash {
          display: inline-block;
          width: 35px;
          height: 35px;
          background: url(/wp-content/themes/tol-child/images/asset_sprite.png) no-repeat -4px -285px;
          position: absolute;
        }
        .SelectListItem, .SelectListItemRate {
          margin-left: 47px;
          line-height: 20px;
        }
        .SelectListItemRate {
          color: #A3A3A5;
          font-weight: normal;
        }
      }
  
      .buysellassetddl-options {
        display: none;
        max-height: 415px;
        overflow: auto;
        border: 1px solid #DAE1E9;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
        background-color: #FFFFFF;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
  
      .buysellassetddl-btn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 24px;
        border: 1px solid #DBE1E9;
        border-left: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #F9FBFC;
      }
  
      &.open {
        outline: none;
  
        .buysellassetddl-main {
          border-bottom-left-radius: 0;
          background-color: #F9FBFC;
        }
  
        .buysellassetddl-options {
          display: block;
          border-top-left-radius: 0;
          margin-top: -1px;
        }
      }
    }
    .dashboard-info {
      height: 133px;
      background: #ffffff;
      border: 1px solid #DCE2EA;
      padding: 30px;
  
      .dashinfo-el {
        border-right: 1px solid #DDE2EA;
        float: left;
        height: 100%;
        text-align: center;
        font-family: 'proxima-light';
  
        .dashinfo-el-value {
          font-size: 2.188rem;
          display: block;
  
          i {
            display: inline-block;
            width: 26px;
            height: 30px;
            position: relative;
            left: -4px;
            top: 3px;
          }
          &.positive i {
            background: url('/wp-content/themes/tol-child/images/sprite_icons.png') no-repeat -31px -130px;
          }
          &.negative i {
            background: url('/wp-content/themes/tol-child/images/sprite_icons.png') no-repeat -69px -132px;
          }
        }
        .dashinfo-el-title {
          display: block;
          font-size: 1.125rem;
          color: #a4a4a4;
          line-height: 7px;
        }
      }
      .dashinfo-el:last-of-type {
        border: 0;
      }
    }
    .portfolio-chart-icon {
      width: 19px;
      height: 19px;
      position: absolute;
      right: 23px;
      top: 30px;
      background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -30px -62px;
  
      &:hover {
        cursor: pointer;
      }
    }
    .portfolio-chart-icon.show {
      background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -55px -62px;
      width: 22px;
    }
    .dashboard-table-wrapper {
      margin-bottom: 40px;
    }
    .dashboard-chart-section {
      border: 1px solid #DBE1E9;
      height: 417px;
      background: #ffffff;
  
      rect {
        fill: #ffffff;
      }
    }
    .dashboard-table {
      border: 1px solid #DBE1E9;
  
      .dashtable-head {
        background: #F9FBFC;
        height: 37px;
  
        .dashhead-el {
          float: left;
          width: 14%;
          text-transform: uppercase;
          font-family: 'raleway';
          font-size: 0.875rem;
          line-height: 37px;
          text-align: center;
          cursor: pointer;
  
          &:first-of-type {
            width: 16%;
          }
        }
      }
      .dashtable-body {
        background: #FFFFFF;
        height: 378px;
  
        .dashbody-row {
          height: 83px;
          border-top: 1px solid #DBE1E9;
          font-family: 'proxima-light';
          font-size: 1rem;
          color: #2D4156;
          text-align: center;
          padding: 32px 0;
  
          .dashbodyrow-el {
            float: left;
            width: 14%;
  
            &.asset i {
              width: 50px;
              height: 40px;
              display: inline-block;
              position: absolute;
              left: 25px;
              margin-top: -8px;
            }
  
            &:last-of-type {
              border:0;
            }
  
            &:first-of-type {
              width: 16%;
              text-indent: 50px;
              border-right: 1px solid #DDE3EA;
            }
  
            &.positive {
              color: #12BB05;
  
              i {
                width: 10px;
                height: 10px;
                display: inline-block;
                background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -32px -91px;
                margin-right: 5px;
              }
            }
  
            &.negative {
              color: #FF0000;
  
              i {
                width: 14px;
                height: 10px;
                display: inline-block;
                background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -46px -91px;
              }
            }
          }
        }
        .eth i {
          background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -244px -260px;
        }
        .btc i {
          background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -244px -300px;
        }
        .ltc i {
          background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -244px -340px;
        }
      }
    }
    .dashboard-activity-table {
      border: 1px solid #DBE1E9;
      background: #ffffff;
      height: 417px;
  
      .dashact-row {
        height: 83px;
        border-top: 1px solid #DDE3EA;
        padding: 25px 15px;
  
        &:first-of-type {
          border: 0;
        }
  
        .dashactrow-el {
          display: inline-block;
          font-family: 'proxima-light';
          color: #2D4156;
          font-size: 1rem;
  
          &.info {
            padding-left: 20px;
          }
  
          &.amount {
            text-align: right;
            float: right;
          }
  
          span {
            display: block;
  
            &.date, &.amount {
              font-size: 0.875rem;
              line-height: 0.875rem;
              color: #a4a4a4;
            }
          }
        }
        &.completed .status {
          background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -245px -160px;
          width: 30px;
          height: 100%;
          display: inline-block;
        }
        &.pending .status {
          background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -245px -190px;
          width: 30px;
          height: 100%;
          display: inline-block;
        }
        &.failed .status {
          background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -245px -220px;
          width: 30px;
          height: 100%;
          display: inline-block;
        }
      }
    }
    .buysell-section-wrapper {
      margin-top: 55px;
  
      .buysell-right,.buysell-left {
        height: 530px;
        background: #ffffff;
        border: 1px solid #DBE1E9;
        margin-bottom: 50px;
      }
  
      .buysell-left {
  
        .buysell-navs {
          display: none;
        }
  
        .nav-item {
          width: 50%;
          border: 0;
          height: 73px;
        }
        .nav-tabs {
          padding: 0;
  
          .nav-link {
            border-radius: 0;
            height: 100%;
            text-align: center;
            line-height: 3.4rem;
            font-family: 'proxima-light';
            font-size: 1.875rem;
            color: #D9D9D9;
  
            &.active.nav-link-crypto {
              color: #62C82E;
              border-color: #fff #ddd #fff #fff;
            }
            &.active.nav-link-token {
              color: #62C82E;
              border-color: #fff #fff #fff #ddd;
            }
          }
        }
        .tab-content {
          padding: 34px;
          height: 100%;
        }
  
        .dailylimit-wrapper {
          height: 70px;
          border-bottom: 1px solid #DDE3EA;
  
          h4 {
            padding-left: 0;
            float: left;
          }
          .buysell-dailylimit {
            float: right;
            margin: 28px 0 18px;
            width: auto;
            padding: 0;
  
            &.buy {
              padding-left: 15px;
            }
  
            i {
              display: inline-block;
              width: 19px;
              height: 20px;
              background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -5px -61px;
              position: absolute;
              left: -7px;
              top: 2px;
            }
          }
        }
        .dailylimit-strength {
          height: 10px;
          background: #B6E69D;
          border: 1px solid #62C82E;
          width: 100%;
          border-radius: 3px;
          margin: 20px 0 25px;
          overflow: hidden;
  
          .dailylimit-strength-fill {
            position: relative;
            height: 8px;
            background: #62C82E;
          }
        }
        .amount-exchange-wrapper {
          position: relative;
          height: 60px;
  
          .amountinput-left,
          .amountinput-right {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            position: relative;
            border-width: 1px;
            border-style: solid;
            border-color: #DAE1E9;
            border-radius: 4px;
            -webkit-transition: all 0.25s ease;
            transition: all 0.25s ease;
            background: #FFFFFF;
  
            input {
              z-index: 0;
              -webkit-flex: 1 1 0;
              -ms-flex: 1 1 0;
              flex: 1 1 0;
              margin: 0;
              padding: 20px;
              border: none;
              border-radius: 3px;
              background: none;
              font-size: 18px;
              font-weight: 500;
              color: #4E5C6E;
              height: 60px;
              width: 150px;
              min-width: 0;
  
              &:focus,
              &:active {
                outline: none;
              }
            }
  
            .amountinput-curr {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-align-items: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-flex-direction: row;
              -ms-flex-direction: row;
              flex-direction: row;
              margin-right: 20px;
              font-size: 18px;
              font-weight: 500;
              color: #9BA6B2;
            }
          }
  
          .amountinput-left-wrapper {
            padding-right: 25px;
            float: left;
            width: 50%;
          }
  
          .amountinput-right-wrapper {
            padding-left: 25px;
            float: left;
            width: 50%;
          }
  
          .amountinput-arrow {
            position: absolute;
            left: 0;
            right: 0;
            margin: 25px auto;
            width: 20px;
            height: 17px;
            background: url('/wp-content/themes/tol-child/images/crypto_amount_arrow.png') no-repeat center;
          }
        }
        .buysellbtn-wrapper {
          border-top: 1px solid #DDE3EA;
          margin-top: 25px;
  
          .btn {
            margin-top: 25px;
            width: 100%;
            text-transform: uppercase;
            height: 60px;
            background: #62C82E;
            box-shadow: none;
            line-height: 60px;
            padding: 0;
  
            &:hover {
              background: #62C82E;
              box-shadow: 0 0 35px #22b24c;
            }
          }
        }
      }
      .buysell-right {
        .buysell-right-header {
          height: 127px;
          border-bottom: 1px solid #DDE3EA;
          padding: 33px 0 30px;
  
          .buysell-right-header-amount {
            color: #62C82E;
            font-size: 2rem;
            font-family: 'proxima-semibold';
            line-height: 2.1rem;
          }
        }
        .buysell-chart {
          height: 260px;
          width: 100%;
          background: url('/wp-content/themes/tol-child/images/crypto_buysell_chart.png') no-repeat center;
        }
        .buysell-summary {
          padding-top: 20px;
        }
        .buysell-summary-row {
          color: #62C82E;
          padding: 0 30px;
          margin-top: 5px;
          position: relative;
  
          .buysell-summary-title {
            display: inline-block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap
          }
  
          .buysell-summary-title:after {
            content: " .................................................................................................................................";
          }
  
          .buysell-summary-value {
            display: inline-block;
            position: absolute;
            vertical-align: top;
            right: 30px;
            top: 0;
            background: #fff;
            padding-left: 2px;
          }
        }
      }
    }
    .buysellassetddl-options > .buysellassetddl-main-row:not(:last-child) {
      border-bottom: 1px solid #DBE1E9;
    }
    .view-all-activiy {
      position: absolute;
      right: 2px;
      top: 29px;
      color: #53C419;
      font-size: 16px;
      font-family: 'proxima-light';
      cursor: pointer;
  
      &:hover {
        text-decoration: underline;
      }
    }
    .transactions-wrapper {
      background: #FFFFFF;
      padding: 0 40px;
      margin-top: 55px;
      border: 1px solid #E2E7EE;
      display: block;
  
      .tab-content {
        width: 100%;
      }
    }
    .cashier-wrapper {
      background: #FFFFFF;
      padding: 0 40px;
      margin-top: 55px;
      border: 1px solid #E2E7EE;
  
      .tab-content {
        width: 100%;
  
        .deposit-wrapper {
          max-width: 530px;
          margin-top: 30px;
  
          .tol-deposit-fields {
            height: 80px;
  
            &:empty {
              height: 0;
            }
  
            input[type=text],
            select {
              border: 0;
              border-bottom: 1px solid #C4C4C4;
              border-radius: 0;
            }
          }
          .summary-wrapper {
            background: #FCFCFC;
            border: 1px solid #62C82E;
            border-top: 5px solid #62C82E;
            border-radius: 3px;
            height: 50px;
            line-height: 43px;
            padding-left: 20px;
            margin: 40px 0 30px;
            font-family: 'proxima-light';
          }
          .deposit-btn-wrapper {
            margin-top: 40px;
  
            & > div {
              display: inline-block;
              width: 49%;
            }
  
            .btn.btn-main {
              margin: 0;
            }
  
            .promoCodeLink {
              font-family: 'proxima';
              font-weight: bold;
              font-size: 14px;
              text-transform: uppercase;
              color: #62C82E;
            }
          }
        }
      }
      .cashier-logos-wrapper {
        height: 130px;
        padding: 40px 0;
  
        .col-sm-2 {
          float: left;
        }
      }
      .cashier-logo.visa {
        background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -2px -168px;
        width: 81px;
        height: 26px;
        margin: 12px auto;
      }
      .cashier-logo.mastercard {
        background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -2px -201px;
        width: 63px;
        height: 50px;
      }
      .cashier-logo.maestro {
        background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -68px -201px;
        width: 64px;
        height: 50px;
      }
      .cashier-logo.neteller {
        background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -88px -168px;
        width: 119px;
        height: 19px;
        margin: 15px auto;
      }
      .cashier-logo.paysafe {
        background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -3px -260px;
        width: 123px;
        height: 21px;
        margin: 14px auto;
      }
      .cashier-logo.wire {
        background: url(/wp-content/themes/tol-child/images/sprite_icons.png) no-repeat -134px -201px;
        width: 65px;
        height: 40px;
        margin: 5px auto;
      }
    }
    .cashier-navs {
      width: 100%;
      height: 85px;
      border-bottom: 1px solid #CCCCCC;
  
      .nav-tabs {
        height: 100%;
      }
  
      .nav-tabs .nav-item {
        padding-right: 15px;
        min-width: 300px;
      }
      .nav-tabs,
      .nav-tabs .nav-link:focus,
      .nav-tabs .nav-link:hover,
      .nav-tabs .nav-item.show .nav-link,
      .nav-tabs .nav-link.active,
      .nav-tabs .nav-link {
        border: 0;
      }
      .nav-tabs li a {
        height: 100%;
        line-height: 70px;
        color: #252525;
        font-family: 'proxima-light';
        font-size: 1.125rem;
      }
      .nav-tabs .nav-link.active,
      .nav-tabs .nav-link:hover {
        color: #62C82E;
      }
      .nav-tabs .nav-link.active {
        border-bottom: 6px solid;
        height: 87px;
        font-weight: bold;
        position: relative;
      }
    }
    .balance-transactions-wrapper {
      margin-top: 40px;
    }
    .dashboard-noassets {
      padding: 150px 40px;
      text-align: center;
      background: white;
      height: 400px;
    }
  
    .dashboard-chart-section {
  
    }
  
    .dashboard-noassets-title {
      font-family: "proxima-light";
      font-size: 35px;
      color: #000426;
      text-transform: uppercase;
      display: block;
    }
  
    .dashboard-noactivity-title {
      font-family: "proxima-light";
      font-size: 25px;
      color: #a3a3a3;
      display: block;
    }
  
    .dashboard-noassets-click {
      font-family: "proxima-light";
      font-size: 35px;
      color: #a3a3a3;
      display: block;
    }
  
    .dashboard-buy {
      margin-top: 20px;
      text-transform: uppercase;
      background: #62C82E;
      line-height: 27px;
      box-shadow: none;
  
      &:hover {
        background: #62C82E;
        box-shadow: 0 0 35px #22b24c;
      }
    }
  }
  
  .cryptoMyOrders {
    .dataTable {
      .fake-table {
        table-layout: fixed;
        width: 100%;
      }
      table {
        td, th {
          height: 29px;
          line-height: 29px;
          padding: 4px 8px;
          border: 0;
          text-align: left;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          white-space: nowrap;
          -webkit-transition: background-color 0.15s ease;
          -o-transition: background-color 0.15s ease;
          -moz-transition: background-color 0.15s ease;
          transition: background-color 0.15s ease;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
        thead tr th,
        tbody tr td {
          position: relative;
          table-layout: fixed;
          width: 11.11%;
        }
        tbody tr:nth-of-type(odd) {
          background:  #FCFCFC;
        }
      }
    }
    table thead tr th[data-column="orderDate"] {
          width: 15.8%;
    }
    .dataTable table td.data-amount {
          padding-left: 12px;
    }
    .table-responsive {
      width: 100%;
      min-height: 371px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      table-layout: fixed;
    }
    .search-bar {
      label {
        display: inline-block;
        width: 100%;
        margin-bottom: 0;
        font-size: 12px;
        color: #9A9A9A;
      }
      .form-control {
        color: #9A9A9A;
        font-size: 13px;
        padding: 0 7px;
        border-radius: 0;
        line-height: 1.43em;
        text-transform: uppercase;
      }
    }
    #searchBarControls {
      #myOrdersSearchButton {
        margin-top: 20px;
        background: #6CC93B;
        border-color: #6CC93B;
        text-transform: uppercase;
      }
      .form-group.search-bar-el {
        padding-top: 10px;
        max-width: 335px !important;
  
        select {
          -webkit-appearance: none;
          background: url(/wp-content/themes/tol-child/images/ddl_arrow.png) no-repeat 138px center;
          -webkit-transition: background .2s ease;
          -o-transition: background .2s ease;
          -moz-transition: background .2s ease;
          transition: background .2s ease;
          outline: 0;
          color: #9A9A9A;
          border: none;
          border-bottom: 1px solid #9A9A9A;
          width: 100%;
          display: inline;
          border-radius: 0;
        }
  
        input {
          width: 100%;
          display: inline;
          border: none;
          border-bottom: 1px solid #9A9A9A;
          border-radius: 0;
        }
      }
    }
  }
  
  .cryptoMyOrders input.form-control:not([size]):not([multiple]) {
      height: 38px;
  }
  .cryptoMyOrders .dataTable table th,
  .balance-transactions-wrapper table th {
      font-size: 12px;
      color: #9A9A9A;
      font-weight: normal;
      border: 0;
  }
  .cryptoMyOrders .dataTable table th{
      width: 11.11%;
  }
  .cryptoMyOrders .search-bar {
      margin-bottom: 10px;
      margin-top: 10px;
  }
  .page-dashboard .ui-datepicker {
      width: 235px !important;
  }
  .page-dashboard .ui-widget.ui-widget-content {
      background: #fff;
      box-shadow: 0 0px 15px #D4D4D4;
      border-color: #D4D4D4;
  }
  .page-dashboard #ui-datepicker-div .ui-widget-header {
      border: none;
  }
  .page-dashboard #ui-datepicker-div .ui-icon-circle-triangle-w {
      background: url(/wp-content/themes/tol-child/images/ddl_arrow.png) no-repeat 5px center;
      transform: rotate(90deg);
  }
  .page-dashboard .ui-datepicker th,.page-dashboard .ui-datepicker td span,.page-dashboard .ui-datepicker td a {
      padding: .7em;
      text-align: center;
  }
  .page-dashboard .ui-datepicker th{
      font-weight: normal;
      color: #8FD56C;
  }
  .page-dashboard .ui-datepicker table {
      width: 100%;
      font-size: 9px;
      border-collapse: collapse;
  }
  .page-dashboard #ui-datepicker-div .ui-icon-circle-triangle-e {
      background: url(/wp-content/themes/tol-child/images/ddl_arrow.png) no-repeat 5px center;
      transform: rotate(-90deg);
  }
  .page-dashboard .ui-datepicker .ui-datepicker-title {
      margin: 0 2.3em;
      line-height: 1.8em;
      text-align: center;
      font-size: 14px;
  }
  .page-dashboard .ui-widget-header {
      color: #9A9A9A;
      background: #fff;
  }
  
  .page-dashboard #ui-datepicker-div .ui-state-disabled,
  .page-dashboard .ui-widget-content .ui-state-disabled {
      background: #fff;
  }
  .page-dashboard #ui-datepicker-div .ui-state-default,
  .page-dashboard .ui-widget-content .ui-state-default {
      background: #fff;
      font-weight: normal;
      color: #9A9A9A;
      outline: none;
      border: 0;
  }
  .page-dashboard #ui-datepicker-div .ui-state-active,
  .page-dashboard .ui-widget-content .ui-state-active {
      color: #8FD56C;
      outline: none;
  }
  .pageLink {
      color: #ccc;
      border-radius: 3px;
      border: none;
      margin: 0 0 0 10px;
      position: relative;
      font-size: 12px;
      padding: 0;
      width: 24px;
      height: 23px;
      text-align: center;
      line-height: 21px;
      display: inline-block;
  }
  .nextPage, .prevPage, .nextPages, .prevPages,
  .pageLink.activePage, .pageLink.activePage {
      background: #6CC93B;
      border: 1px solid #6CC93B;
      color: #FFF;
      border-radius: 3px;
      border: none;
      color: #fff;
      margin: 0 0 0 10px;
      position: relative;
      font-size: 12px;
      padding: 0;
      width: 24px;
      height: 23px;
      text-align: center;
      line-height: 21px;
      display: inline-block;
  }
  .cryptoMyOrdersPaging .nextPage,.cryptoMyOrdersPaging .prevPage,.cryptoMyOrdersPaging .nextPages,.cryptoMyOrdersPaging .prevPages {
      background: #CCCCCC;
      color: #fff !important;
  }
  .cryptoMyOrdersPaging {
      overflow: hidden;
      margin-bottom: 0px;
      margin-top: -11px;
      float: right;
  }
  @media(max-width: 1366px){
      .cryptoMyOrders .dataTable table td, .cryptoMyOrders .dataTable table th {
          height: 26px;
          line-height: 26px;
      }
      .cryptoMyOrdersPaging {
          margin-top: -40px;
      }
  }