﻿#tol-myTrades-layout-1 .prevPages {
    margin-left: 0;
    margin-right: 1px;
}

#tol-myTrades-layout-1 .nextPages,
#tol-myTrades-layout-1 .prevPages {
    cursor: pointer;
}

#tol-myTrades-layout-1 .tol-form-inline label {
    padding-top: 7px;
    font-weight: 500;
    font-size: 14px;
    /*min-width: 100px;
    text-align: left;*/
}

#tol-myTrades-layout-1 .form-control {
    line-height: 2.2em;
}

@media (max-width: 768px) {
    .my-trades-from-date {
        padding-left: 15px !important;
    }

    #tol-myTrades-layout-1 .pie.chart, #tol-myTrades-layout-1 .columnChart.chart {
        width: 100% !important;
    }

    #tol-myTrades-layout-1 .highcharts-container {
        width: 100% !important;
    }

    .my-trades-table thead th:nth-child(2), .my-trades-table thead th:nth-child(4), .my-trades-table thead th:nth-child(6), .my-trades-table thead th:nth-child(7), .my-trades-table thead th:nth-child(8), .my-trades-table thead th:nth-child(9), .my-trades-table thead th:nth-child(12),
    .my-trades-table tr td:nth-child(2), .my-trades-table tr td:nth-child(4), .my-trades-table tr td:nth-child(6), .my-trades-table tr td:nth-child(7), .my-trades-table tr td:nth-child(8), .my-trades-table tr td:nth-child(9), .my-trades-table tr td:nth-child(12) {
        display: none;
    }

    #tol-myTrades-layout-1 .form-control {
        min-width: 55px;
        font-size: 14px;
        padding: 0 4px;
        line-height: 30px;
    }

    .my-trades-from-date input {
        margin-left: 0;
    }

    label[data-translate="Trades_Total"],
    label[data-translate="Trades_Volume"],
    label[data-translate="Trades_Profit"] {
        font-size: 10px;
        line-height: 20px;
        min-height: 47px;
        padding-right: 0;
    }

    label[data-translate="Trades_Total"] {
        padding-left: 0;
    }

    #tol-myTrades-layout-1 .form-group.col-xs-8.col-sm-2.mytrades-search {
        width: 100%;
    }

}

.lang-ru .page-my-trades label.col-sm-2 {
    position: relative;
    left: -21px;
}

.mytrades-search {
    margin-top: 30px;
}

#tol-myTrades-layout-1 input[data-translate="MyTrades_SearchBtn"] {
    padding: 3px;
    margin-top: 2px;
}
