
#tol-pastExpiries-layout-1 .table-striped .pastExpiriesChartWrapper .pastExpiriesChartButton {
    color: #000;
    background: #FFF;
    border: 1px solid #21B24B;
    border-radius: 3px;
}

#tol-pastExpiries-layout-1 .table-striped .pastExpiriesChartWrapper .pastExpiriesChartButton:hover {
    border-bottom: 1px solid #1A883A;
}

#tol-pastExpiries-layout-1 .pastExpiriesChart {
    z-index: 50;
    background: #fff;
    border: 1px solid #21B24B;
    padding-bottom: 10px;
    border-radius: 3px;
    margin-left: 10px;
}

#tol-pastExpiries-layout-1 .pastExpiriesChartTitle {
    background-color: #21B24B;
    border-bottom: 1px solid #21B24B;
    border-radius: 2px 2px 0 0;
    width: 420px;
    font-family: Arial;
    font-size: 12px;
    height: 60px;
    line-height: 20px;
    padding: 10px;
    color: #fff;
}

#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesAssetNameTitle,
#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesExpiryDateTitle,
#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesExpiryRateTitle {
    display: inline-block;
}

#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesAssetNameTitle .pastExpiriesExpiryNameLabel,
#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesExpiryDateTitle .pastExpiriesExpiryDateLabel,
#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesExpiryRateTitle .pastExpiriesExpiryRateLabel {
    display: block;
}

#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesAssetNameTitle {
    width: 140px;
}

#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesExpiryDateTitle {
    width: 160px;
}

#tol-pastExpiries-layout-1 .pastExpiriesChartClose {
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #484d52 0%, #303336 100%);
    background-image: -o-linear-gradient(top, #484d52 0%, #303336 100%);
    background-image: linear-gradient(to bottom, #484d52 0%, #303336 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484d52', endColorstr='#ff303336', GradientType=0);
    border: none;
    border-bottom: 1px solid #292c2e;
    text-shadow: none;
    color: #ffffff;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    padding: 3px 8px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#tol-pastExpiries-layout-1 .pastExpiriesChartClose:hover {
    background-image: -webkit-linear-gradient(top, #3c4044 0%, #242729 100%);
    background-image: -o-linear-gradient(top, #3c4044 0%, #242729 100%);
    background-image: linear-gradient(to bottom, #3c4044 0%, #242729 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c4044', endColorstr='#ff242729', GradientType=0);
    border: none;
    border-bottom: 1px solid #181a1b;
}

#tol-pastExpiries-layout-1 .pastExpiriesChart .chart {
    margin: 10px;
    height: 130px;
    border: 1px solid #000;
    position: relative;
}

#tol-pastExpiries-layout-1 rect.highcharts-background {
    fill: #fff;
}

#tol-pastExpiries-layout-1 .pastExpiriesChartTable {
    width: 95%;
    border-top: 0;
    background: #efefef;
    margin: 0 auto;
}

.pastExpiriesChartTable > tbody > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #BBBBBB;
    padding: 2px 8px;
    font-size: 1em;
    color: #333;
    font-weight: bold;
}

.pastExpiriesChartTable > tbody > tr:nth-child(even) {
    background-color: #FFFFFF;
}

.pastExpiriesChartTable > tbody > tr:nth-of-type(odd) {
    background-color: #E0E0E1;
}

.pastExpiriesChartTable > tbody > tr.highlighed {
    background-color: #21B24B;
    color: #FFF;
}

#tol-pastExpiries-layout-1 .pastExpiriesChartTable tr td {
    padding: 8px;
}

#tol-pastExpiries-layout-1 .pastExpiriesChart .highcharts-tooltip > path {
    fill: #f0f0f0;
}

#tol-pastExpiries-layout-1 .nextPages,
#tol-pastExpiries-layout-1 .prevPages {
    position: relative;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #000;
    background: #FFF;
    color: #000;
}

#tol-pastExpiries-layout-1 .nextPages:hover,
#tol-pastExpiries-layout-1 .prevPages:hover {
    background: #000;
    color: #FFF;
}

#tol-pastExpiries-layout-1 .prevPages {
    margin-left: 0;
    padding: 0;
}

#tol-pastExpiries-layout-1 .pastExpiriesChart:before {
    right: 100%;
    top: 1%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #21B24B;
    border-width: 10px;
}

#tol-pastExpiries-layout-1 .tol-form-inline label {
    padding-top: 7px;
}

@media (width: 1024px) {
    #tol-pastExpiries-layout-1 .pastExpiriesChartTable tr th:nth-child(1) {
        text-align: left;
    }

    #tol-pastExpiries-layout-1 .tol-form-inline label {
        font-size: 15px !important;
    }
}

@media (width: 768px) {
    #tol-pastExpiries-layout-1 .tol-form-inline label {
        font-size: 15px !important;
        display: block;
        float: none;
    }

    .page-past-expiries .table-striped > tbody tr td {
        font-size: 18px !important;
    }

    .past-expiries-mobile-form-group {
        width: 100%;
    }

    #tol-pastExpiries-layout-1 .tol-form-inline label.text-right {
        text-align: left;
        padding-left: 0;
    }

    .past-expiries-search {
        margin-top: 33px;
    }
}
