#tol-pastExpiries-layout-1 .pastExpiriesChartTitle {
    background-color: #FFF;
    border-bottom: 1px solid #B0BFC6;
    width: auto;
    border-radius: 0;
    height: auto;
    padding: 0;
    font-family: 'robotolight';
    font-size: 15px;
    font-weight: 700;
}
#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesAssetNameTitle {
    display: block;
    width: 100%;
    padding: 5px 10px;
    text-align: left;
    height: 40px;
    line-height: 15px;
    border-bottom: 1px solid #B0BFC6;
}
#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesExpiryDateTitle, #tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesExpiryRateTitle {
    display: block;
    width: 100%;
    padding: 4px 10px;
    color: #C92130;
    text-align: left;
}
#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesExpiryRateTitle {
    padding: 0 10px 8px 10px;
}
#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesExpiryDateTitle span, #tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesExpiryRateTitle span {
    color: #424953;
}
#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesAssetNameTitle .pastExpiriesExpiryNameLabel {
    display: inline-block;
    margin-right: 5px;
}
#tol-pastExpiries-layout-1 .pastExpiriesChartClose,
.modal-header button.close {
    font-size: 16px;
    font-family: robotolight;
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    top: 10px;
    height: 20px;
    line-height: 14px;
    padding-left: 10px;
    padding-right: 0;
}

#tol-pastExpiries-layout-1 .pastExpiriesChartClose:hover,
.modal-header button.close:hover {
    background: transparent;
    border: 0;
}
#tol-pastExpiries-layout-1 .pastExpiriesChart {
    z-index: 50;
    background: #F6F4F5;
    border-radius: 0;
    border: 1px solid #B0BFC6;
    width: 320px;
    right: 130px !important;
    left: unset !important;
    padding-bottom: 0;
}
.pastExpiriesChartTable > tbody > tr {
    border-top: 1px solid #B0BFC4;
}
.pastExpiriesChartTable > tbody > tr:nth-child(1) {
    background-color: #DFE3E6;
}
.pastExpiriesChartTable > tbody > tr:nth-of-type(odd) {
    background-color: #F6F4F5;
}
.pastExpiriesChartTable > tbody > tr:nth-of-type(even) {
    background-color: #FFFFFF;
}
.pastExpiriesChartTable > tbody > tr.highlighed {
    background-color: #DFE3E6;
    color: #000;
}
#tol-pastExpiries-layout-1 .pastExpiriesChartTable tr td:nth-child(2),
#tol-pastExpiries-layout-1 .pastExpiriesChartTable tr th:nth-child(2){
    text-align: right;
}
#tol-pastExpiries-layout-1 .pastExpiriesChartTable {
    width: 100%;
}
#tol-pastExpiries-layout-1 .pastExpiriesChart:before {
    border: 0;
}
.past-expiries .table > thead > tr > th,
.my-trades-form .table > thead > tr > th,
.my-stats-form .table > thead > tr > th {
    border-bottom: 0;
}
.form-group.serach-bar-el {
    margin-bottom: 0;
}
#tol-pastExpiries-layout-1 .tol-form-inline label {
    font-size: 20px;
    font-family: robotoregular;
    color: #5c5c5c;
    font-weight: normal;
}
.past-expiries .table th.firstTh {
    position: relative;
}
#tol-pastExpiries-layout-1 .pastExpiriesChartButton {
    color: #fff;
    background: #f9a134;
    border: none;
    font-family: 'robotoregular';
    font-size: 20px;
    height: 27px;
    line-height: 26px;
    border-radius: 3px;
    text-transform: capitalize;
}
#tol-pastExpiries-layout-1 .pastExpiriesChartButton:hover {
    background: #db851a;
}
#tol-pastExpiries-layout-1 .table-striped > tbody > tr:nth-child(even):hover {
    background-color: #f9f9f9;
}
#tol-pastExpiries-layout-1 .table-striped > tbody > tr:nth-child(odd),
#tol-pastExpiries-layout-1 .table-striped > tbody > tr:nth-child(odd):hover {
    background-color: #FFFFFF;
}
#tol-pastExpiries-layout-1 .table-striped > tbody > tr:nth-child(even),
#tol-pastExpiries-layout-1 .table-striped > tbody > tr:nth-child(even):hover {
    background-color: #f9f9f9;
}
#tol-pastExpiries-layout-1 #tol-cashier tbody tr td {
    border: none;
    padding: 10px 5px;
    color: #000;
    font-size: 16px;
    font-family: 'robotolight';
    text-align: left;
}
#tol-pastExpiries-layout-1 .table tr:hover td {
    background-color: transparent !important;
}

#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesAssetNameTitle,
#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesExpiryDateTitle,
#tol-pastExpiries-layout-1 .pastExpiriesChartTitle  .pastExpiriesExpiryRateTitle {
    display:inline-block;
}

#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesAssetNameTitle .pastExpiriesExpiryNameLabel,
#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesExpiryDateTitle .pastExpiriesExpiryDateLabel,
#tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesExpiryRateTitle .pastExpiriesExpiryRateLabel {
    display: block;
}

#tol-pastExpiries-layout-1 .pastExpiriesChartClose
{
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #484d52 0%, #303336 100%);
    background-image: -o-linear-gradient(top, #484d52 0%, #303336 100%);
    background-image: linear-gradient(to bottom, #484d52 0%, #303336 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484d52', endColorstr='#ff303336', GradientType=0);
    border: none;
    border-bottom: 1px solid #292c2e;
    text-shadow: none;
    color: #ffffff;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    padding: 3px 8px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#tol-pastExpiries-layout-1 .pastExpiriesChartClose:hover {
    background-image: -webkit-linear-gradient(top, #3c4044 0%, #242729 100%);
    background-image: -o-linear-gradient(top, #3c4044 0%, #242729 100%);
    background-image: linear-gradient(to bottom, #3c4044 0%, #242729 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c4044', endColorstr='#ff242729', GradientType=0);
    border: none;
    border-bottom: 1px solid #181a1b;
}

#tol-pastExpiries-layout-1 .pastExpiriesChart .chart {
    margin: 10px;
    height: 130px;
    border: 1px solid #000;
    width: 300px;
    position: relative;
}

#tol-pastExpiries-layout-1 rect.highcharts-background {
    fill: #fff;
}

#tol-pastExpiries-layout-1 .pastExpiriesChartTable
{
    width: 95%;
    border-top: 0;
    background: #efefef;
    margin: 0 auto;
}

.pastExpiriesChartTable > tbody > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #BBBBBB;
    padding: 2px 8px;
    font-size: 1em;
    color: #333;
    font-weight: bold;
}

.pastExpiriesChartTable > tbody > tr:nth-child(even) {
    background-color: #FFFFFF;
}

.pastExpiriesChartTable > tbody > tr:nth-of-type(odd) {
    background-color: #E0E0E1;
}

.pastExpiriesChartTable > tbody > tr.highlighed {
    background-color: #21B24B;
    color: #FFF;
}

#tol-pastExpiries-layout-1 .pastExpiriesChartTable tr td {
    padding: 8px;
}

#tol-pastExpiries-layout-1 .pastExpiriesChart .highcharts-tooltip > path {
    fill: #f0f0f0;
}

#tol-pastExpiries-layout-1 .nextPages,
#tol-pastExpiries-layout-1 .prevPages {
    margin-left: 10px;
    position: relative;
    float: left;
    padding: 5px 8px;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    border-radius: 3px;
}
#tol-pastExpiries-layout-1 .nextPages:hover,
#tol-pastExpiries-layout-1 .prevPages:hover {
    background: #000;
    color: #FFF;
}
#tol-pastExpiries-layout-1 .prevPages{
    margin-left: 0;
    margin-right: 10px;
}

#tol-pastExpiries-layout-1 .pastExpiriesChart:before {
    right: 100%;
    top: 1%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #b0bfc6;
    border-width: 10px;
}

#tol-pastExpiries-layout-1 .tol-form-inline label{
    padding-top:7px;
}

@media (max-width: 768px) {
    #tol-pastExpiries-layout-1 .pastExpiriesChart:before{
       display: none;
    }
    #tol-pastExpiries-layout-1 .pastExpiriesChartTable{
        width: 95%;
    }
    #tol-pastExpiries-layout-1 .pastExpiriesChart .chart{
        width: 300px;
    }
    #tol-pastExpiries-layout-1 #pastExpiriesChart{
        left: 0 !important;
        margin-left: 0;
    }
    #tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesAssetNameTitle{
        width: 70px;
    }
    #tol-pastExpiries-layout-1 .pastExpiriesChartTitle .pastExpiriesExpiryDateTitle{
        width: 140px;
    }
    #tol-pastExpiries-layout-1 .pastExpiriesChartTitle{
        width: 320px;
    }
}
@media screen and (max-width: 1366px) and (min-width: 1360px) {
    #tol-pastExpiries-layout-1 .pastExpiriesChart{
        margin-left: -482px;
        margin-top: 20px;
    }
    #tol-pastExpiries-layout-1 .pastExpiriesChart:before{
       display: none;
    }
}