//  COLORS //
@white: #FFFFFF;
@black: #000000;
@active-primary: #22B24C;
@text-color: #7E7E7E;
@label-paragraph: #808080; 
@button-hover: #9BBA3B;
@btn-main-hover: #0D723B;
@white-button-hover: #EEFDBC;
@input-border-and-text: #CCCCCC;
@fb-btn: #3B5998;
@fb-btn-hover: #2A4377;
@google-btn: #D34836;
@google-btn-hover: #B93B2B;
@push-menu-bg: #073F21;
@push-menu-level-bg: #0D723B;
@a-color: #22b24c;
@os-color: #7F7F7F;
@footer-bg: #F2F2F2;
@disclaimer-bg: #073F21;
@hr-color: #205338;
@error-msg: #F26D6D;
@verification-next-btn-bg: #7F7F7F;


// FONTS AND FONT-SIZE // 
h3 {
    font-size: 35px;
    color: @active-primary;
}
.lfl {
    font-family: SansSerifFLF;
    font-size:  0.875rem;
    color: @label-paragraph;
    padding-left: 10px;
}
.social {
    font-family: Open-Sans-Bold;
    font-size: 1rem;
}
input {
    font-family: Open-Sans;
    font-size: 1rem;
    color: @black;
}
.btn {
    color: @white;
    font-family: Open-Sans-Bold;
}
.os {
    font-family: Open-Sans;
    color: @os-color;
}
label {
    margin-bottom: 0.2rem;
}
.form-control:focus {
    border-color: @active-primary;
    outline: none;
}
.line-thru {
    font-family: Open-Sans;
    font-size:  0.875rem;
}
.fb-login:hover {
    border: none;
}
input.error,
select.error {
    border: 1px solid @error-msg;
}
// END FONTS AND FONT-SIZE // 

// GLOBAL DESIGN //
.fb-login {
    background: @fb-btn url(/wp-content/themes/tol-child/images/new-template-99/facebook_w.png) no-repeat 20px 10px;

    &:hover {
        background: @fb-btn-hover url(/wp-content/themes/tol-child/images/new-template-99/facebook_w.png) no-repeat 20px 10px;
    }
}
.google-login {
    background: @google-btn url(/wp-content/themes/tol-child/images/new-template-99/google_w.png) no-repeat 15px 10px;

    &:hover {
        background: @google-btn-hover url(/wp-content/themes/tol-child/images/new-template-99/google_w.png) no-repeat 15px 10px;
    }
}
.form-container {
    padding: 40px;
    box-shadow: 0 0 35px fade(@black, 10%);
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    min-width: 400px;
}
.form-group {
    margin-bottom: 30px;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 9999px white;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 9999px white;
}
input:focus,
input:-webkit-autofill:focus {
    -webkit-box-shadow: inset 0 0 0 9999px white;
}
input {
    background: white;
}
.btn.social {
    width: 100%;
    height: auto;
    text-transform: none;
    box-shadow: none;
    margin-top: 0px;
    border: none;
}
.btn.btn-main {
    width: 100%;
    height: auto;
    text-transform: uppercase;
    box-shadow: none;
    border: none;
    margin-top: 30px;

}
.btn.btn-main:hover {
    background: @btn-main-hover;
}
input {
    border: 1px solid @input-border-and-text;
    border-radius: 5px;
}
.form-control:focus {
    box-shadow: none;
    border-radius: 5px;
}
.social-logins {
    margin-top: 40px;
}
label {
    color: @label-paragraph;
}
label.focused { 
    color: @active-primary;
}
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: @btn-main-hover;
    border-color: transparent;
    box-shadow: none;
}
.validationError {
    color: @error-msg;
    padding: 5px 0px 0px 10px;
    font-family: SansSerifFLF;
    font-size: 0.875rem;
}
.tos-error p {
    color: @error-msg;
    margin: 0px;
    padding: 5px 0px 0px 10px;
    font-family: SansSerifFLF;
    font-size: 0.875rem;     
}

// PHONE NUMBER CONTAINER
.intl-tel-input.separate-dial-code .selected-flag {
    background: @white;
}
.intl-tel-input .flag-container {
    top: 5px;
}
#phoneNumber {
    left: 90px;
}
.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
    background: none;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 .selected-flag {
    outline: none;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=tel],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=text],
.intl-tel-input.separate-dial-code .selected-dial-code,
.intl-tel-input .country-list .country .dial-code {
    color: @black;
    font-family:  Open-Sans;
    font-size: 16px;
}
// END PHONE NUMBER CONTAINER

// FLOATING LABELS DESIGN

.input-container {
    position:relative;

  label {
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 10px;
    pointer-events: none;
    background: white;
    transition: transform 100ms ease;
    transform: translateY(-20px);
    min-width: 80px;
    width: auto;
  }
  input , select {
    &:invalid + label {
      transform:translateY(0);
    }
    &:focus {
      & + label {
        transform:translateY(-20px);
      }
    }
  }
}
//END FLOATING LABELS DESIGN

   // CHECKBOX DESIGN // 

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background: url(/wp-content/themes/tol-child/images/new-template-99/check_box.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background: url(/wp-content/themes/tol-child/images/new-template-99/check_box.png) -30px top no-repeat;
}
 // END CHECKBOX DESIGN // 

// HIDE/SHOW PASS DESIGN // 
#showPassword {
    background: url(/wp-content/themes/tol-child/images/new-template-99/hide_pass.png) no-repeat left center;

    &:hover {
        cursor: pointer;
    }
    &.active {
        background: url(/wp-content/themes/tol-child/images/new-template-99/show_pass.png) no-repeat left center;
    }
}
// END HIDE/SHOW PASS DESIGN // 

// LINE-THRU DESIGN //
.line-thru {
    display: block;
    font-size: .875em;
    margin-bottom: 1em;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
    color: @input-border-and-text;
}
.line-thru:before {
    width: 40px;
    height: 10px;
    background-color: #fff;
    content: '';
    margin: -5px 0 0 -20px;
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: -1;
}
.line-thru:after {
    border-bottom: 1px solid @input-border-and-text;
    content: '';
    display: block;
    position: absolute;
    top: 49%;
    width: 100%;
    z-index: -2;
}
// END LINE-THRU DESIGN //

// LOGIN PAGE // 
.page-login #tol-login-layout-99 {
    
    .container-fluid {
        margin-top: 150px;
        margin-bottom: 150px;
    }
    a.forgot-password {
        color: @active-primary;
        padding-left: 70px;
    }
    a.sign-up {
        color: @active-primary;
        padding-left: 5px;
    }
    .google-login {
        margin-top: 20px;
    }
    .checkbox.savePassWrapper {
        margin-top: 30px;
    }
    .error-msg {
        padding: 10px;
        color: @error-msg;
    }
    .password-group {
        position: relative;
    }
    #showPassword  {
        position: absolute;
        right: 0;
        width: 30px;
        height: 38px;
        top: 0px;
    }
    
}
// END LOGIN PAGE // 


// FORGOT PASSWORD PAGE // 
.page-forgot-password #tol-forgotPassword-layout-99 {

  .container-fluid {
    margin-bottom: 150px;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .backlogin {
    color: @active-primary;
  }
  .header {
      margin-bottom: 30px;
  }
  label {
      min-width: 50px;
  }
  label.focused {
      color: @active-primary;
  }
  .forgot-password-success {
      position: absolute;
      height: 340px;
      background: @white;
      bottom: 0;
      vertical-align: middle;
      width: 320px;
      display: none;
    }
    .forgot-password-success {
        .btn-main {
            margin-top: 70px;
        }
        a {
            color: @white;
        }
        p {
            margin-top: 20px;
            font-family: Open-Sans;
            font-size: 1.375rem;
            color: @label-paragraph;
        }
        img {
            margin-top: 60px;
        }
    }
    .forgot-password-fail { 
        position: absolute;
        height: 320px;
        background: @white;
        bottom: 0;
        vertical-align: middle;
        width: 320px;
        display: none;
    }
    .forgot-password-fail {
        .btn-main {
            margin-top: 70px;
        }
        a {
            color: @white;
        }
        p {
            margin-top: 20px;
            font-family: Open-Sans;
            font-size: 1.375rem;
            color: @label-paragraph;
        }
        img {
            margin-top: 60px;
        }
    }
}
// END FORGOT PASSWORD PAGE //

// REGISTRATION PAGE // 

.page-registration #tol-registration-layout-99 {
    .phoneAreaCode,
    .countryPhoneCode {
        display: none !important;
    }
    .container-fluid {
        margin-bottom: 150px;
        margin-top: 150px;
    }
    a.forgot-password {
        color: @active-primary;
        padding-left: 70px;
    }
    a.sign-up {
        color: @active-primary;
        padding-left: 5px;
    }
    label.focused { 
        color: @active-primary;
    }
    #login {
        padding-left: 5px;
    }
    .google-login {
        margin-top: 20px;
    }
    .checkbox.savePassWrapper {
        margin-top: 30px;
    }
    a.link {
        color: @active-primary;
    } 
    #collapseExample {
        margin-top: 50px;
    }
    #showPassword  {
        position: absolute;
        right: 0;
        width: 30px;
        height: 38px;
        top: 0px;
    }
    .tc,
    .pp,
    .not-us {
        display: inline;
    }
}
// END REGISTRATION PAGE // 


@media (max-width: 1024px) {
     // FONT SIZE
     .lfl {
        font-size: 1.077rem;
    }
    .form-control {
        font-size: 1.231rem;
    }
    .social {
        font-size: 1.077rem;
    }
    .line-thru {
        font-size: 1.077rem;
    }
    .os {
        font-size: 1.077rem;
    }
    .validationError {
        font-size:  1.077rem;
    }
    .tos-error p {
        font-size:  1.077rem;
    }
    //END FONT SIZE
    
    // LOGIN PAGE // 
    .page-login #tol-login-layout-99 {
        .container-fluid {
            margin-top: 110px;
            margin-bottom: 30px;
        }
    } 
     // LOGIN PAGE // 
}

@media (max-width: 768px) {

    // LOGIN PAGE // 
    .page-login #tol-login-layout-99 {
        .container-fluid {
            margin-top: 240px;
            margin-bottom: 160px;
        }
    } 
     // LOGIN PAGE // 
}

@media (max-width: 767px) {
    // FONT SIZE
    .lfl {
        font-size: 2.333rem;
    }
    .form-control {
        font-size: 2.667rem;
    }
    .social {
        font-size: 2.333rem;
    }
    .line-thru {
        font-size: 2.333rem;
    }
    .os {
        font-size: 2.333rem;
    }
    .validationError {
        font-size:  2.333rem;
    }
    .tos-error p {
        font-size:  2.333rem;
    }
    //END FONT SIZE

    // ALL FORMS
    .form-container {
        min-width: 100%;
        padding: 20px;
        padding-bottom: 60px;
        box-shadow: none;
        border-bottom: 0px;
    }
    select.form-control:not([size]):not([multiple]) {
        height: auto;
    }
    .btn.social {
        border-radius: 5px;
    }
    .form-control {
        padding: 1rem;
        border-radius: 5px;
    }
    .line-thru {
        margin-top: 2rem;
    }
    .btn.btn-main {
        border-radius: 5px;
    }
    .form-group:last-child {
        margin-top: 3rem;
    }
    #showPassword {
        top: 0px;
    }
    // ALL FORMS 

    // LOGIN PAGE
    .page-login #tol-login-layout-99 {
        .container-fluid {
            margin-top: 80px;
            margin-bottom: 0px;
        }
      
        a.forgot-password {
            padding-left: 45px;
        }
    }
    // END LOGIN PAGE

    // REGISTRATION PAGE 
    .page-registration #tol-registration-layout-99 {
        .container-fluid {
            margin-bottom: 0px;
            margin-top: 100px;
        }
        .tc {
            margin-bottom: 20px;
        }
    }
    //END REGISTRATION PAGE

        
    // FORGOT PASSWORD PAGE 
    .page-forgot-password #tol-forgotPassword-layout-99 {
        .container-fluid {
            margin-top: 80px;
            margin-bottom: 0px;
        }
        h3 {
            margin-bottom: 30px;
        }
    }
    // FORGOT PASSWORD PAGE 

    // CHANGE PASSWORD PAGE 
        .page-change-password #tol-changePassword-layout-99 {
            .container-fluid {
                margin-top: 80px;
                margin-bottom: 0px;
            }
        }
    //END CHANGE PASSWORD PAGE
 
}

