#tol-registration-layout-12 {
    font-size: 13px;
    background: #EAEAEA;

    .phoneCountryCode {
        display: none !important;
    }

    .entry-header {
        position: relative;
        min-height: 220px;
    }

    article h1.entry-title {
        padding-left: 24px;
        height: 100px;
        line-height: 49px;
        font-size: 33px;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        font-family: lato-bold;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        display: block!important;
    }

    .entry-content {
        margin-top: -20px!important;
        padding: 40px 22px !important;
        color: #8C8C8C;
        background: #EAEAEA;
    }

    .site {
        max-width: 1150px;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 0 !important;
    }

    .reg-steps {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .entry-content h2 {
        margin: 30px 0 10px 10px;
        font-size: 20px;
        font-weight: 600;
        color: #545454;
        text-align: center;
    }

    .entry-content h2 {
        margin: 35px 0 10px 10px;
        font-size: 27px;
        font-weight: 500;
        color: #545454;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }

    .floatleft {
        float:left;
    }

    .floatright {
        float:right;
    }

    .site {
        max-width: 1150px;
        width:90%;
        margin: 0 auto;
        padding-bottom:0 !important;
    }

    h2 {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        display: block;
        font-size: 1.5em;
        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        font-weight: bold;
    }

    .safesecure {
        padding-bottom: 10px;
    }

    ul {
        list-style: none;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        -webkit-padding-start: 40px;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
    }

    .safesecure ul li {
        font-size: 13px;
        line-height: 19px!important;
        padding: 10px;
        text-align: left;
        color: #848484;
        font-weight: 400;
        padding-bottom: 0;
        margin-left: 20px;
        background: url(/wp-content/themes/tol-parent/images/tick.png);
        background-repeat: no-repeat;
        background-position: left 13px;
        padding-left: 28px;
    }

    .safesecure, .regulated, .transparency {
        min-height: 120px;
        margin-left: 0;
        border-radius: 0;
        border-left: 1px solid #C3C3C3;
        padding-left: 21px;
        padding-right: 23px;
    }

    h1 {
        font-size: 2em;
        margin: 0.67em 0;
        font-family: 'Montserrat', sans-serif;
    }

    .safesecure h1, .regulated h1, .transparency h1 {
        font-size: 16px;
        font-weight: 600;
        color: #525252;
        padding: 18px;
        padding-bottom: 5px;
        text-align: left;
        text-transform: uppercase;
    }

    #content article .entry-content P {
        margin: 5px 0;
    }

    #content article .entry-content P {
        margin: 15px 0;
        line-height: 15px;
    }

    .transparency img, .regulated img {
        width: 100%;
        height: auto;
    }

    img {
        margin: 0;
        padding: 0;
        font-size: 100%;
        vertical-align: baseline;
        border: 0;
    }

    .entry-content p {
        color: #545454;
        font-size: 12px;
        padding-left: 10px;
        font-family: roboto;
        font-weight: 400;
        line-height: 25px!important;
        text-align: justify;
    }

    p.regulated-contacts {
        line-height: 14px!important;
        letter-spacing: 1px;
        margin-top: -24px!important;
        margin-left: 10px!important;
    }

    .regulated-contacts img {
        width: 18px!important;
    }

    .right-sidebar-security {
        width: 30%;
        float: right;
        text-align: center;
        margin-top: 38px;
        background: #fff;
        min-height: 668px;
        border: 1px solid #C3C3C3;
        border-left: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 30px;
    }

    .registration-wrapper select {
        padding: 5px 4px;
        border: 1px solid #CCCCCC;
        border-radius: 3px 3px 3px 3px;
        margin: 0;
    }

    .checkbox {
        margin-left: 20px;
    }

    .wrapper.registration .birthMonth {
        width: 122px;
    }

    .btn-primary {
        height: 55px;
        margin: 40px 0 0 0;
        background-color: #0b1b6e;
        border-top: 1px solid #f9a134;
        border-bottom: 1px solid #f9a134;
        text-transform: uppercase;
        font-size: 21px;
    }

    .btn-primary:active:hover,
    .btn-primary:hover,
    .btn-primary.active:hover,
    .open>.dropdown-toggle.btn-primary:hover,
    .btn-primary:active:focus,
    .btn-primary.active:focus,
    .open>.dropdown-toggle.btn-primary:focus,
    .btn-primary:active.focus,
    .btn-primary.active.focus,
    .open>.dropdown-toggle.btn-primary.focus {
        background-color: #f9a134;
    }

    form {
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
    }

    label.checkbox {
        margin-top: 10px;

        input {
            margin-top: -2px;
        }
    }

    .registration-wrapper .input {
        min-width: 238px;
        margin: 0;
        vertical-align: middle;
    }

    form {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }

    .input, .input:focus {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 50px;
        background: #404040;
        border: none;
        font-size: 15px;
        color: #fff;
        font-weight: 700;
        font-family: lato;
    }

    input {
        line-height: normal;
        padding: 0 0 0 10px !important;
    }

    .registration-wrapper select,
    .registration-wrapper .select {
        height: 40px;
        font-size: 14px;
        color: #676767;
        border-radius: 3px;
        border: 1px solid #C7C7C7!important;
        background: rgb(241, 241, 241);
    }

    .registration-under-title {
        display: block;
        font-size: 15px;
        font-weight: 700;
        color: #3276FC;
        line-height: 10px;
        text-transform: initial;
        font-family: Lato-Medium;
    }

    .registration-wrapper form fieldset {
        background: #FFFFFF;
        width: 100%;
        padding: 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        min-height: 600px;
        border: 1px solid #C3C3C3;
        border-right: none;
        margin-top: 10px;
        font-weight: 700;
    }

    .reg-step img {
        height: 56px;
        vertical-align: -15px;
        margin-right: 8px;
        text-align: right;
    }

    .reg-step.reg-step-1 .registration-process {
        content: url(/wp-content/themes/tol-parent/images/reg-steps-eng.png);
    }

    a {
        color: #307EC9;
    }

    .checkbox-container label {
        color: #647E99;
        font-weight: bold;
    }

    .reg-steps h2 {
        margin: 10px 0 10px -73px;
        font-size: 27px;
        color: #545454;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
    }

    .reg-step {
        display: inline-block;
        font-size: 17px;
        color: #535454;
        text-align: left;
        text-transform: initial;
        margin: 0;
    }
    .registration-wrapper .label.required:after {
        content: " *";
        color: red;
    }
    .registration-wrapper .label.required:after {
        color: #8f1212 !important;
    }
    .my-profile-menu {
        width: 100%;
        height: 28px;
        border-radius: 0!important;
        border-top: none!important;
        border-left: none!important;
        border-right: none!important;
        box-shadow: none!important;
        background-color: #EAEAEA!important;
        border-bottom: 0;
    }

    .registration-page {
        padding-bottom: 30px;
        min-height: 700px;
        width: 70%;
        float: left;
        position: relative;
    }

    .registration-page span {
        color: #757575;
        font-size: 12px;
        text-transform: initial;
    }

    .registration-wrapper .label-field-wrapper {
        padding: 4px 0;
        line-height: normal;
        position: relative;
    }

    .registration-wrapper .input, .form-control,
    .registration-wrapper .phone-container input {
        width: 100%;
        height: 40px;
        font-size: 14px;
        color: #676767;
        border-radius: 3px;
        border: 1px solid #D6D6D6;
        background: rgb(241, 241, 241);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .registration-wrapper .input {
        padding: 0 0 0 10px !important;
        width: 294px;
        height: 30px;
        font-size: 13px;
        color: #999;
        border: none;
        background-color: #333;
    }

    .registration-wrapper .label {
        color: #828282;
        font-size: 14px;
        font-family: Roboto;
        font-weight: 400;
        margin: 15px 0 5px;
        display: block;
        text-align: left;
        padding: 0;
    }

    .right-side {
        width: 50%;
        float: right;
        padding-left: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .left-side {
        width: 50%;
        float: left;
        padding-right: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .wrapper.registration .birth-container .birthDay {
        margin-left: 0;
    }

    .wrapper.registration .birth-container span {
        margin-left: 12px;
    }

    .wrapper.registration .birthYear,
    .wrapper.registration .birthMonth,
    .wrapper.registration .birth-container span {
        width: 31%;
    }

    .wrapper.registration .select-container {
        overflow: hidden;
        border-radius: 3px;
        background: none;
    }

    .wrapper.registration .birthDay select,
    .wrapper.registration .birthMonth select,
    .wrapper.registration .birthYear select {
        width: 30% !important;
        display: inline-block;
    }

    .label.required[data-translate="Registration_DateOfBirth"] {
        margin-right: 245px;
    }

    .validationError {
        position: absolute;
        font-size: 12px;
    }

    .widgetPlaceholder.phoneAreaCode.form-control[data-translate="qS_countryArea"][data-type="areaCode"] {
        display: none !important;
    }

    .label-field-wrapper.checkbox-container.tos-container, .label-field-wrapper.checkbox-container.subscribeToPromoSms-container {
        margin-top: -10px;
    }

    .error-message[data-widget="registration"][data-type="error"] p {
        color: darkred;
        font-weight: bold;
        word-spacing: -1px;
    }

    ::placeholder {
        color: gray !important;
        font-weight: 200;
        font-size: 13px;
    }

    .idIssuerLabel {
        padding-top: 0px;
        padding-bottom: 3px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .idIssuer-container {
        margin-top: -10px;
        padding-top: 0px !important;
    }
    .doesNotExpire {
        height: 11px !important;
    }
    @media only screen and (max-width: 1200px) {
        .entry-content {
            padding-left: 0!important;
            padding-right: 0!important;
        }
    }
    @media only screen and (max-width: 1130px) {
        .registration-page {
            width: 100%;
        }
        .reg-steps h2 {
            display: none;
        }
        .right-sidebar-security {
            width: 100%;
            border-left: 1px solid #C3C3C3;
            min-height: 550px;
            margin-top: 0;
        }
        .safesecure, .regulated, .transparency {
            border: none;
        }
        .safesecure ul li {
            background-position: left 7px;
        }
        .entry-content p {
            padding-left: 0;
        }
        .transparency img, .regulated img {
            width: 45%;
            height: auto;
        }
        .registration-wrapper form fieldset {
            min-height: 650px;
            border-right: 1px solid #C3C3C3;
        }
    }
    @media only screen and (max-width: 768px) {
        .reg-steps {
            display: none;
        }
        .entry-content .inner-pages-wrap {
            width: 100%!important;
        }
        .left-side, .right-side {
            width: 100%;
            padding-right: 0;
            padding-left: 0;
        }
        .label.required[data-translate="Registration_DateOfBirth"] {
            width: 100% !important;
            display: block;
            text-align: left;
            margin: 0;
            padding: 4px 7px 1px;
        }
        #content article H1.entry-title {
            height: 70px;
            font-size: 23px;
        }
        .registration-under-title {
            line-height: 19px;
        }
        .transparency img, .regulated img {
            width: 100%!important;
        }
        .regulated-contacts img {
            width: 18px!important;
        }
        .registration-wrapper form fieldset {
            padding: 15px;
        }
        .birthYear, .birthYear,.birthMonth {
            width: 30% !important;
        }
        .wrapper.registration .birth-container span {
            margin-left: 9px;
        }
    }
    @media (max-width: 767px) {
        .entry-header {
            min-height: 150px;
        }
        article h1.entry-title {
            line-height: 30px;
            font-size: 25px;
        }
        .btn-primary {
            margin: 0;
        }
        .my-profile-menu {
            display: none;
        }
    }
}