#tol-registration-layout-12 {
    font-size: 13px;
    background: #EAEAEA;

    .phoneCountryCode {
        display: none !important;
    }

    .entry-header {
        position: relative;
        min-height: 220px;
    }

    article h1.entry-title {
        padding-left: 24px;
        height: 100px;
        line-height: 49px;
        font-size: 33px;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        font-family: lato-bold;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        display: block!important;
    }

    .entry-content {
        padding: 0 !important;
        color: #fff;
        background: #111214;
    }

    .site {
        max-width: 1150px;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 0 !important;
    }

    .reg-steps {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .entry-content h2 {
        margin: 30px 0 10px 10px;
        font-size: 20px;
        font-weight: 600;
        color: #545454;
        text-align: center;
    }

    .entry-content h2 {
        margin: 35px 0 10px 10px;
        font-size: 27px;
        font-weight: 500;
        color: #545454;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }

    .floatleft {
        float:left;
    }

    .floatright {
        float:right;
    }

    .site {
        max-width: 1150px;
        width:90%;
        margin: 0 auto;
        padding-bottom:0 !important;
    }

    h2 {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        display: block;
        font-size: 1.5em;
        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        font-weight: bold;
    }

    .safesecure {
        padding-bottom: 10px;
    }

    ul {
        list-style: none;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        -webkit-padding-start: 40px;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
    }

    .safesecure ul li {
        font-size: 13px;
        line-height: 19px!important;
        padding: 10px;
        text-align: left;
        color: #848484;
        font-weight: 400;
        padding-bottom: 0;
        margin-left: 20px;
        background: url(/wp-content/themes/tol-parent/images/tick.png);
        background-repeat: no-repeat;
        background-position: left 13px;
        padding-left: 28px;
    }

    .safesecure, .regulated, .transparency {
        min-height: 120px;
        margin-left: 0;
        border-radius: 0;
        border-left: 1px solid #C3C3C3;
        padding-left: 21px;
        padding-right: 23px;
    }

    h1 {
        font-size: 2em;
        margin: 0.67em 0;
        font-family: 'Montserrat', sans-serif;
    }

    .safesecure h1, .regulated h1, .transparency h1 {
        font-size: 16px;
        font-weight: 600;
        color: #525252;
        padding: 18px;
        padding-bottom: 5px;
        text-align: left;
        text-transform: uppercase;
    }

    #content article .entry-content P {
        margin: 5px 0;
    }

    #content article .entry-content P {
        margin: 15px 0;
        line-height: 15px;
    }

    .transparency img, .regulated img {
        width: 100%;
        height: auto;
    }

    img {
        margin: 0;
        padding: 0;
        font-size: 100%;
        vertical-align: baseline;
        border: 0;
    }

    .entry-content p {
        color: #545454;
        font-size: 12px;
        padding-left: 10px;
        font-family: roboto;
        font-weight: 400;
        line-height: 25px!important;
        text-align: justify;
    }

    p.regulated-contacts {
        line-height: 14px!important;
        letter-spacing: 1px;
        margin-top: -24px!important;
        margin-left: 10px!important;
    }

    .regulated-contacts img {
        width: 18px!important;
    }

    .right-sidebar-security {
        width: 30%;
        float: right;
        text-align: center;
        margin-top: 38px;
        background: #fff;
        min-height: 668px;
        border: 1px solid #C3C3C3;
        border-left: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 30px;
    }

    .registration-wrapper select {
        padding: 9px 4px;
        border: 1px solid #CCCCCC;
        border-radius: 3px 3px 3px 3px;
        margin: 0;
    }

    .checkbox {
        margin-left: 20px;
    }

    .wrapper.registration .birthMonth {
        width: 122px;
    }

    .btn-primary {
        height: 55px;
        margin: 40px 0 0 0;
        background-color: #0b1b6e;
        border-top: 1px solid #3176FC;
        border-bottom: 1px solid #3176FC;
        text-transform: uppercase;
        font-size: 21px;
    }

    .btn-primary:active:hover,
    .btn-primary:hover,
    .btn-primary.active:hover,
    .open>.dropdown-toggle.btn-primary:hover,
    .btn-primary:active:focus,
    .btn-primary.active:focus,
    .open>.dropdown-toggle.btn-primary:focus,
    .btn-primary:active.focus,
    .btn-primary.active.focus,
    .open>.dropdown-toggle.btn-primary.focus {
        background-color: #3176FC;
    }

    form {
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
    }

    label.checkbox {
        margin-top: 10px;

        input {
            margin-top: -2px;
        }
    }

    .registration-wrapper .input {
        min-width: 238px;
        margin: 0;
        vertical-align: middle;
    }

    form {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }

    .input, .input:focus {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 50px;
        background: #404040;
        border: none;
        font-size: 15px;
        color: #fff;
        font-weight: 700;
        font-family: lato;
    }

    input {
        line-height: normal;
        padding: 0 0 0 10px !important;
    }

    .registration-wrapper select,
    .registration-wrapper .select {
        height: 40px;
        font-size: 14px;
        color: #676767;
        border-radius: 3px;
        border: 1px solid #C7C7C7!important;
        background: rgb(241, 241, 241);
		border-radius: 0;
    }

    .registration-under-title {
        display: block;
        font-size: 15px;
        font-weight: 700;
        color: #3276FC;
        line-height: 10px;
        text-transform: initial;
        font-family: Lato-Medium;
    }

    .registration-wrapper form fieldset {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        min-height: 600px;
        margin-top: 10px;
        font-weight: 700;
    }

    .reg-step img {
        height: 56px;
        vertical-align: -15px;
        margin-right: 8px;
        text-align: right;
    }

    .reg-step.reg-step-1 .registration-process {
        content: url(/wp-content/themes/tol-parent/images/reg-steps-eng.png);
    }

    a, a:hover {
            color: #3176FD;
    }

    .checkbox-container label {
        color: #626262;
		font-size: 13px;
		font-weight: 700;
    }

    .reg-steps h2 {
        margin: 10px 0 10px -73px;
        font-size: 27px;
        color: #545454;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
    }

    .reg-step {
        display: inline-block;
        font-size: 17px;
        color: #535454;
        text-align: left;
        text-transform: initial;
        margin: 0;
    }
    .registration-wrapper .label.required:after {
        content: " *";
        color: red;
    }
    .registration-wrapper .label.required:after {
        color: #8f1212 !important;
    }
    .my-profile-menu {
        width: 100%;
        height: 28px;
        border-radius: 0!important;
        border-top: none!important;
        border-left: none!important;
        border-right: none!important;
        box-shadow: none!important;
        background-color: #EAEAEA!important;
        border-bottom: 0;
    }

    .registration-page {
        padding-bottom: 30px;
        min-height: 700px;
        width: 70%;
        float: left;
        position: relative;
    }

    .registration-page span {
        color: #757575;
        font-size: 12px;
        text-transform: initial;
    }

    .registration-wrapper .label-field-wrapper {
        padding: 4px 0;
        line-height: normal;
        position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		margin-bottom: 10px;
    }
	.registration-wrapper .countryCode-container select {

	}
    .registration-wrapper .input, .form-control,
    .registration-wrapper .phone-container input {
        width: 100%;
        height: 40px;
        font-size: 14px;
        color: #626262;
        border-radius: 0px;
        border: 1px solid #626262;
        background: rgb(241, 241, 241);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;	
		flex-basis: 55%;
		position: relative;
    }

    .registration-wrapper .input {
        padding: 0 0 0 10px !important;
        width: 294px;
        height: 30px;
        font-size: 13px;
        color: #999;
        border: none;
        background-color: #333;
    }

    .registration-wrapper .label {
        color: #fff;
        font-size: 14px;
        font-family: Roboto;
        font-weight: 400;
        display: block;
        text-align: left;
        padding: 0;
		-ms-flex-preferred-size: 45%;
		flex-basis: 45%;
		line-height: 40px;
    }

    .right-side {
        width: 50%;
        float: right;
        padding-left: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .left-side {
        width: 59%;
        float: left;
        padding-right: 0px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .wrapper.registration .birth-container .birthDay {
        margin-left: 0;
    }

    .wrapper.registration .birth-container span {
        margin-left: 12px;
    }

    .wrapper.registration .birthYear,
    .wrapper.registration .birthMonth,
    .wrapper.registration .birth-container span {
        width: 31%;
    }

    .wrapper.registration .select-container {
        overflow: hidden;
        border-radius: 3px;
        background: none;
    }

    .wrapper.registration .birthDay select,
    .wrapper.registration .birthMonth select,
    .wrapper.registration .birthYear select {
        width: 30% !important;
        display: inline-block;
    }

    .label.required[data-translate="Registration_DateOfBirth"] {
        margin-right: 245px;
    }

    .widgetPlaceholder.phoneAreaCode.form-control[data-translate="qS_countryArea"][data-type="areaCode"] {
        display: none !important;
    }

    .label-field-wrapper.checkbox-container.tos-container, .label-field-wrapper.checkbox-container.subscribeToPromoSms-container {
        margin-top: -10px;
    }

    .error-message[data-widget="registration"][data-type="error"] p {
        color: darkred;
        font-weight: bold;
        word-spacing: -1px;
    }

    ::placeholder {
        color: gray !important;
        font-weight: 200;
        font-size: 13px;
    }

    .idIssuerLabel {
        padding-top: 0px;
        padding-bottom: 3px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .idIssuer-container {
        margin-top: -10px;
        padding-top: 0px !important;
    }
    .doesNotExpire {
        height: 11px !important;
    }
    @media only screen and (max-width: 1200px) {
        .entry-content {
            padding-left: 0!important;
            padding-right: 0!important;
        }
    }
    @media only screen and (max-width: 1130px) {
        .registration-page {
            width: 100%;
        }
        .reg-steps h2 {
            display: none;
        }
        .right-sidebar-security {
            width: 100%;
            border-left: 1px solid #C3C3C3;
            min-height: 550px;
            margin-top: 0;
        }
        .safesecure, .regulated, .transparency {
            border: none;
        }
        .safesecure ul li {
            background-position: left 7px;
        }
        .entry-content p {
            padding-left: 0;
        }
        .transparency img, .regulated img {
            width: 45%;
            height: auto;
        }
        .registration-wrapper form fieldset {
            min-height: 650px;
        }
    }
    @media only screen and (max-width: 768px) {
        .reg-steps {
            display: none;
        }
        .entry-content .inner-pages-wrap {
            width: 100%!important;
        }
        .left-side, .right-side {
            width: 100%;
            padding-right: 0;
            padding-left: 0;
        }
        .label.required[data-translate="Registration_DateOfBirth"] {
            width: 100% !important;
            display: block;
            text-align: left;
            margin: 0;
            padding: 4px 7px 1px;
        }
        #content article H1.entry-title {
            height: 70px;
            font-size: 23px;
        }
        .registration-under-title {
            line-height: 19px;
        }
        .transparency img, .regulated img {
            width: 100%!important;
        }
        .regulated-contacts img {
            width: 18px!important;
        }
        .registration-wrapper form fieldset {
            padding: 15px;
        }
        .birthYear, .birthYear,.birthMonth {
            width: 30% !important;
        }
        .wrapper.registration .birth-container span {
            margin-left: 9px;
        }
    }
    @media (max-width: 767px) {
        .entry-header {
            min-height: 150px;
        }
        article h1.entry-title {
            line-height: 30px;
            font-size: 25px;
        }
        .btn-primary {
            margin: 0;
        }
        .my-profile-menu {
            display: none;
        }
    }
}
.page-registration {
	padding-top: 140px;
}
.page-registration{
	.breadcrumb {
		padding: 0;
		margin-bottom: 20px;
		line-height: 52px;
		list-style: none;
		background-color: transparent;
		max-width: 1150px;
		margin: auto;
	}
	.breadcrumbs__link {
		color: #fff !important;
	}
	.breadcrumbs__divider {
		margin: 0 10px;
		color: #3176FC;
		font-size: 13px;
		font-weight: 900;
	}
	.breadcrumb>.active {
		color: #fff;
	}
	.breadcrumb a{
	   color: #fff !important;
	}
	.breadcrumbs__wrapper {
		height: 52px;
		background: #1a1d1f;
    }
    @media (max-width: 1024px) {
        .breadcrumbs__wrapper {
            padding: 0 40px;
        }
    }
}
#tol-registration-layout-12 .btn-primary:hover,
#tol-registration-layout-12 .btn-primary:focus,
#tol-registration-layout-12 .btn-primary:active,
#tol-registration-layout-12 .btn-primary {
    height: 40PX;
    margin: 40px 0 0 0;
    background-color: #3176FC;
	 border-color: #3176FC;
    border-top: 1px solid #3176FC;
    border-bottom: 1px solid #3176FC;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 25px;
	font-family: Arial;
	font-weight: 600;
}
#tol-registration-layout-12 .btn-primary:hover,
#tol-registration-layout-12 .btn-primary:focus,
#tol-registration-layout-12 .btn-primary:active {
	color: #000;
}
.submit-container input {
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
	height: 44px;
}
@media(max-width: 1024px){
	#tol-registration-layout-12 .left-side {
		max-width: 480px;
	}
}
@media (max-width: 767px) {
    .page-registration {
        padding-top: 50px;
    }
    #tol-registration-layout-12 .tos-container div[data-type="error"] p {
        margin-top: 0;
    }
	#tol-registration-layout-12 .registration-wrapper .label-field-wrapper {
		line-height: normal;
		width: 100%;
		margin-bottom: 10px;
		display: -webkit-box;
		display: -ms-flexbox;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		position: relative;
	}
}
#tol-registration-layout-12 .error-message[data-widget="registration"][data-type="error"] p,
.page-registration .validationError {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 20px;
    width: 90%;
    height: 97%;
    left: calc(102%);
    position: absolute;
    top: 5px;
    border-radius: 4px;
    background: #feb7b7;
    color: #333;
    font-size: 14px;
    font-weight: 400;
	max-width: 240px;
	max-height: 39px;
	line-height: 39px;
}
#tol-registration-layout-12 .error-message[data-widget="registration"][data-type="error"] p {
    height: 39px;
    max-width: 290px;
    margin-top: -15px;
	line-height: 39px !important;
}
#tol-registration-layout-12 .error-message[data-widget="registration"][data-type="error"] p:after {
    border-color: transparent #feb7b7 transparent transparent;
    border-style: solid;
    border-width: 7px 7px 7px 0;
    content: " ";
    height: 0;
    left: -6px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
    width: 0;
}
.page-registration .validationError:after {
    border-color: transparent #feb7b7 transparent transparent;
    border-style: solid;
    border-width: 7px 7px 7px 0;
    content: " ";
    height: 0;
    left: -6px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 0;
}
@media screen and (width: 768px){
	.page-registration .validationError {
		font-size: 12px;
		max-width: 220px;
	}
}
@media screen and (max-width: 767px){
	.page-registration .validationError {
		position: static;
		height: 34px;
		margin-top: 2px;
		width: 100%;
		max-width: unset;
	}
	#tol-registration-layout-12 .error-message[data-widget="registration"][data-type="error"] p:after,
	.page-registration .validationError:after {
		display: none;
	}
	#tol-registration-layout-12 .error-message[data-widget="registration"][data-type="error"] p {
		position: static;
		height: 34px;
		margin-top: 2px;
		width: 100%;
		max-width: unset;
	}
}
@media screen and (max-width: 320px){
	#tol-registration-layout-12 .error-message[data-widget="registration"][data-type="error"] p {
		white-space: nowrap;
		padding-left: 5px;
		font-size: 13px;
	}
}
