#content {
    background: #CBC4BF url('/wp-content/themes/tol-parent/images/tournametns_back.png') no-repeat top;
    width: 100%;
}

#tol-header-layout-3 #tol-main-nav {
    margin-bottom: 0;
}
.backButton {
    background: url('/wp-content/themes/tol-parent/images/tournaments_back_dark.png') no-repeat top;
    width: 71px;
    height: 39px;
    display: block;
    position: absolute;
    top: 20px;
    cursor: pointer;
}
#content article H1.entry-title {
    display: none;
}
.tournamentsHeader span {
    display: block;
    text-align: center;
}
.tournamentsHeader .yellow {
    font-size: 33px;
    color: #EBDA04;
    font-weight: bold;
}
.tournamentsHeader > .yellow:nth-of-type(2) {
    font-size: 50px;
}
.tournamentsHeader .white {
    font-size: 22px;
    color: #FFF;
    font-weight: bold;
}
.tournamentsWrapper {
    background: #000;
    min-height: 400px;
    color: #FFF;
    position: relative;
    margin: 40px 0;
    font-size: 17px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.tournamentsHeader {
    padding: 40px 0 20px 0;
}
.tournamentsWrapper .cup {
    background: url('/wp-content/themes/tol-parent/images/tournametns_cup.png') no-repeat top;
    width: 141px;
    height: 212px;
    display: block;
    position: absolute;
    right: 120px;
    top: -177px;
}
.tournamentName {
    text-align: center;
    padding: 30px 0 10px 0;
    font-size: 23px;
    display: inline-block;
    width: auto;

}
.tournamentNameSpan {
    display: block;
    font-size: 23px;
}
.tournamentInfo {
    padding: 20px;
    font-size: 14px;
    height: 150px;
    border-bottom: 1px solid #242424;
}
.duration, .tournamentType {
    background: url('/wp-content/themes/tol-parent/images/tournametns_tick.png') no-repeat center left;
    display: inline-block;
    padding: 10px 5px;
    width: 100%;
}
.minInvestAmount, .tournamentGames {
    background: url('/wp-content/themes/tol-parent/images/tournametns_tick.png') no-repeat center left;
    padding: 10px 5px;
}
.durationLabel, .minInvestAmountLabel, .tournamentTypeLabel, .gamesLabel {
    display: inline-block;
    padding-right: 10px;
    text-transform: uppercase;
    text-indent: 25px;
    text-align: left;
}
.minInvestAmount, .games {
    text-align: left;
}
.tournamentDuration {
    text-align: left;
}
.tournamentType {
    float: left;
}
.gamesLabel {
    width: 80px;
}
.durationTime, .durationTime .startTime, .durationTime .endTime, .minInvestAmountValue, .typeValue, .gamesValue, .gamesValue div {
    display: inline-block;
    font-size: 13px;
    padding-left: 12px;
}
.gamesValue div {
    margin-right: 5px;
}
.tournamentTypeInfoButton {
    display: inline-block;
    text-indent: -9999px;
    width: 20px;
    height: 21px;
    position: absolute;
    margin-left: 5px;
    margin-top: -3px;
    background: url('/wp-content/themes/tol-parent/images/tournametns_info.png') no-repeat top;
}
.durationTime .startTime {
    margin-right: 10px;
}
.tournamentTypeInfoLabel {
    display: none;
    width: 250px;
    height: auto;
    position: relative;
    left: -127px;
    bottom: -12px;
    background: #3E4146;
    color: #FFF;
    text-indent: 0;
    font-size: 12px;
    padding: 10px;
    border-radius: 3px;
}
.tournamentTypeInfoLabel:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: -5px;
    left: 49%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #3E4146;
}
.tournamentTypeInfoButton:hover .tournamentTypeInfoLabel {
    display: block;
}
.tournamentInfoLeft {
    float: left;
    border-right: 1px solid #FFF;
    width: 53%;
}
.tournamentInfoRight {
    float: right;
    width: 45%;
}
.tournamentTimeToStart {
    width: 100%;
    font-size: 20px;
    color: #EDD900;
    font-weight: bold;
    text-align: center;
    font-family: robotoregular;
    text-transform: uppercase;
    padding: 10px;
}
.tournamentsWrapper .tableDiv,
.tournamentsWrapper .userRankDiv {
    margin: 20px;
    border-radius: 3px;
    background: #252525;
    font-family: 'robotoregular';
    font-size: 15px;
}
.isUserRegister .tableHeaderDiv {
    padding-bottom: 60px;
}

.tournamentsWrapper .userRankDiv {
    background: #3DA932; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #3DA932 0%, #3CA830 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3DA932), color-stop(100%, #3CA830)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3DA932 0%, #3CA830 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3DA932 0%, #3CA830 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3DA932 0%, #3CA830 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3DA932 0%, #3CA830 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3DA932', endColorstr='#3CA830', GradientType=0); /* IE6-8 */
    height: 40px;
    position: absolute;
    margin-top: 90px;
    margin-left: 40px;
    width: 93%;
}
.tableHeaderDiv div, .tableRowDiv > div, .userRankDiv div {
    display: inline-block;
    padding: 10px;
    min-width: 132px;
}
.tableRowDiv > div {
    margin: 0 5px;
}
.tableHeaderDiv div {
    min-width: 147px;
}
.countryHeader {
    min-width: 167px !important;
}
.resultsHeader {
    min-width: 127px !important;
}
.columnCountry {
    min-width: 167px !important;
}
.tableRowDiv .columnRank, .tableHeaderDiv .rankHeader, .userRankDiv .rankDiv {
    width: 15%;
}
.tableRowDiv .columnName, .tableHeaderDiv .nameHeader, .userRankDiv .nameDiv {
    width: 25%;
}
.tableRowDiv .columnCountry, .tableHeaderDiv .countryHeader, .userRankDiv .countryDiv {
    width: 30%;
}
.tableRowDiv .columnCountry {
    margin: 0 2px;
}
.tableDiv .firstName, .tableDiv .lastName {
    width: auto;
    margin-right: 5px;
    display: inline-block;
}
.tableBodyDiv .tableRowDiv:nth-child(odd) {
    background: #171717;
}
.tournamentsWrapper .paging {
    text-align: center;
    margin-right: 20px;
}
.pageLink, .nextPage, .prevPage, .nextPages, .prevPages {
    height: 26px;
}
.headerTable {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}
.nextPage {
    margin-left: 0;
}
.pageLink.activePage {
    background: #45484D;
    color: #EBDA04;
}
.nextPage:hover, .prevPage:hover {
    cursor: pointer;
    color: #FFF !important;
}
.paging .disabled {
    cursor: no-drop;
}
.tournamentFinished {
    background: url('/wp-content/themes/tol-parent/images/tournaments_finished.png') no-repeat right top;
    text-indent: -9999px;
    position: absolute;
    width: 108px;
    height: 96px;
    right: -6px;
    top: -6px;
}
.tournamentTimer {
    float: left;
    width: 72%;
    margin: 20px;
}
.tournamentRegistration-widget-wrapper {
    width: 22%;
    display: inline-block;
    text-align: right;
    margin: 20px 0;
}
.tournamentRegistration-widget-wrapper input[type=button] {
    border: 0;
    width: 260px;
    height: 90px;
    border-bottom: 3px solid #f66b18;
    border-radius: 3px;
    background: #ffbf00; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYmYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYzgyMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffbf00 0%, #fc8200 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbf00), color-stop(100%, #fc8200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffbf00 0%, #fc8200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffbf00 0%, #fc8200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffbf00 0%, #fc8200 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffbf00 0%, #fc8200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbf00', endColorstr='#fc8200', GradientType=0); /* IE6-8 */
    font-family: 'robotoregular';
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    color: #fff;
}
.tournamentRegistration-widget-wrapper input[type=button]:hover {
    color: #000;
}
.tournamentTimer .daysWrapper, .tournamentTimer .hoursWrapper, .tournamentTimer .minutesWrapper, .tournamentTimer .secondsWrapper {
    display: inline-block;
    background: url('/wp-content/themes/tol-parent/images/timer_back_dark.png') no-repeat right top;
    width: 154px;
    height: 90px;
    margin-right: 20px;
    cursor: default;
}
.tournamentTimer .title {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px 0 0;
}
.tournamentTimer .days, .tournamentTimer .hours, .tournamentTimer .minutes, .tournamentTimer .seconds {
    text-align: center;
    font-size: 50px;
}
.nextPages {
    margin-left: 3px;
}
.rankDiv, .nameDiv, .countryDiv, .resultsDiv, .prizesDiv {
    padding: 5px !important;
    margin: 5px;
    background: #15710C; /* Old browsers */
    background: -moz-linear-gradient(top, #15710C 0%, #0EAA09 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #15710C), color-stop(100%, #0EAA09)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #15710C 0%, #0EAA09 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #15710C 0%, #0EAA09 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #15710C 0%, #0EAA09 100%); /* IE10+ */
    background: linear-gradient(to bottom, #15710C 0%, #0EAA09 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#15710C', endColorstr='#0EAA09', GradientType=0); /* IE6-8 */
}
.ui-widget-overlay {
    opacity: 0.75;
    background: #BCBCBD;
    width: 100%;
    height: 200%;
    position: absolute;
    z-index: 13;
    border-radius: 3px;
    top: 0;
}
.ui-dialog {
    z-index: 14;
    max-width: 700px !important;
    border: 0;
    border-top: 1px solid #3C3C3A;
    margin: 0 auto;
}
.ui-dialog.ui-resizable {
    background: #FFF;
    border: 1px solid #fff;
    box-shadow: 0 3px 7px #333;
    -moz-box-shadow: 0 3px 7px #333;
    -webkit-box-shadow: 0 3px 7px #333;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    z-index: 9999999999999999;
    width: 650px !important;
    height: 120px !important;
}
.ui-widget-header .ui-icon {
    background: url('/wp-content/themes/tol-parent/images/info_btn_close.png') no-repeat center top;
    width: 26px;
    height: 28px;
    display: inline-block;
}
.ui-widget-header {
    height: 31px;
}
.ui-dialog-title {
    display: inline-block;
    width: 96%;
    float: left;
    text-align: center;
    line-height: 30px;
    font-family: robotoregular;
    font-weight: normal;
    font-size: 17px;
}
.ui-widget-header .ui-button {
    background: transparent;
    border: 0;
    padding: 0;
    float: right;
    margin-top: -10px;
    margin-right: 10px;
}
.ui-widget-header .ui-button-text {
    display: none;
}
.ui-dialog-content {
    float: left;
    width: 100% !important;
    height: 316px !important;
}
.ui-dialog-buttonset {
    text-align: center;
    margin: 20px 10px 0;
}
.ui-dialog-buttonset button {
    border: 1px solid #bbb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    background: 0 !important;
    color: #232d3d;
    font-size: 12px;
    font-weight: 700;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
    box-shadow: 0 1px 2px #ccc;
    -moz-box-shadow: 0 1px 2px #ccc;
    -webkit-box-shadow: 0 1px 2px #ccc;
    margin: 0 3px;
    padding: 4px 10px !important;
}
.tosMessage {
    position: relative;
    height: 250px;
    max-height: 260px;
    display: block;
    overflow: auto;
    overflow-x: hidden;
    width: auto;
}
#tosAccept {
    border: 0;
    width: 190px;
    height: 33px;
    border-bottom: 3px solid #f66b18;
    border-radius: 3px;
    background: #ffbf00; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYmYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYzgyMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffbf00 0%, #fc8200 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbf00), color-stop(100%, #fc8200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffbf00 0%, #fc8200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffbf00 0%, #fc8200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffbf00 0%, #fc8200 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffbf00 0%, #fc8200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbf00', endColorstr='#fc8200', GradientType=0); /* IE6-8 */
    font-family: 'robotoregular';
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    color: #fff;
}
#tosFooter {
    text-align: center;
    border-top: 1px solid #000;
    padding-top: 7px;
}
.tabsButtons {
    z-index: 111;
    font-family: robotoregular;
    width: 100%;
    margin: 0 auto;
    background: #262626;
    height: 40px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-radius: 3px;
}
.inProgressWrap, .nearestWrap, .futureWrap {
    display: inline-block;
    color: #eaeaea;
    font-size: 17px;
    position: relative;
    cursor: pointer;
}
.inProgressButtonMsg, .nearestButtonMsg, .futureButtonMsg {
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #eaeaea;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    z-index: 100;
}
.futureCounts, .nearestCounts, .inProgressCounts {
    display: inline-block;
    width: auto;
    border-right: 1px solid #161616;
    box-shadow: 1px 0 #333;
    height: 40px;
    line-height: 40px;
    padding-right: 10px;
    color: #eaeaea;
}
.tabsWrapper .activ:before {
    display: inline-block;
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffca29;
    left: -1px;
    bottom: 0;
}
.tabsWrapper .activ:after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 3px;
    left: 44%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffca29;
}
.buttonDiv {
    height: 42px;
    width: 100%;
    background: #2688D1; /* Old browsers */
    background: -moz-linear-gradient(top, #2688D1 0%, #09479A 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2688D1), color-stop(100%, #09479A)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2688D1 0%, #09479A 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2688D1 0%, #09479A 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2688D1 0%, #09479A 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2688D1 0%, #09479A 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2688D1', endColorstr='#09479A', GradientType=0); /* IE6-8 */
    padding: 0 !important;
    margin: 0 !important;
    text-align: right;
}
.buttonDiv .tournamentName {
    padding: 0;
    text-align: left;
    color: #FFF;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    text-indent: 15px;
    width: auto;
    float: left;
}
.tableDiv {
    padding: 27px 19px 0;
    background: #000;
    min-height: 350px;
}
.tabBoardWrapper .tableBodyDiv .tableRowDiv:nth-child(odd) {
    background: #252525;
    color: #FFF;
    font-family: robotoregular;
}
.tabBoardWrapper {
    width: 1003px;
    margin: auto;
}
.pagewrapar .inProgressWrap, .pagewrapar .nearestWrap, .pagewrapar .futureWrap {
    float: right;
}
.detailsButton, .joinNowButton {
    text-align: center;
    margin: 4px;
    height: 33px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid #062B58;
    background: #124D89;
    background: -moz-linear-gradient(top, #399BE4 0%, #09479A 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #399BE4), color-stop(100%, #09479A));
    background: -webkit-linear-gradient(top, #399BE4 0%, #09479A 100%);
    background: -o-linear-gradient(top, #399BE4 0%, #09479A 100%);
    background: -ms-linear-gradient(top, #399BE4 0%, #09479A 100%);
    background: linear-gradient(to bottom, #399BE4 0%, #09479A 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#399BE4', endColorstr='#09479A', GradientType=0);
    color: #fff;
    text-transform: uppercase;
    padding: 5px 14px;
}
.joinNowButton {
    border-bottom: 1px solid #E05B10;
    background: #FFC000;
    background: -moz-linear-gradient(top, #FFC000 0%, #FC8300 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFC000), color-stop(100%, #FC8300));
    background: -webkit-linear-gradient(top, #FFC000 0%, #FC8300 100%);
    background: -o-linear-gradient(top, #FFC000 0%, #FC8300 100%);
    background: -ms-linear-gradient(top, #FFC000 0%, #FC8300 100%);
    background: linear-gradient(to bottom, #FFC000 0%, #FC8300 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC000', endColorstr='#FC8300', GradientType=0);
}
.joinNowButton.disabled {
    border-bottom: 1px solid #5FCC55;
    background: #3DA932;
    background: -moz-linear-gradient(top, #3DA932 0%, #3CA932 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3DA932), color-stop(100%, #3CA932));
    background: -webkit-linear-gradient(top, #3DA932 0%, #3CA932 100%);
    background: -o-linear-gradient(top, #3DA932 0%, #3CA932 100%);
    background: -ms-linear-gradient(top, #3DA932 0%, #3CA932 100%);
    background: linear-gradient(to bottom, #3DA932 0%, #3CA932 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3DA932', endColorstr='#3CA932', GradientType=0);
}
.headerTable .tournamentName {
    width: 100%;
    background: #171717;
    font-family: robotoregular;
    padding: 10px 20px;
}
.startDateHeader, .endDateHeader, .prizeFundHeader, .participantsHeader {
    width: 35%;
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    text-align: left;
}
.prizeFundHeader, .participantsHeader {
    width: 15%;
}
.columnStartDate {
    width: 35%;
    margin: 0 !important;
    padding: 10px 20px !important;
}
.columnEndDate {
    padding-left: 0 !important;
    width: 32%;
}
.columnPrizeFund, .columnParticipants {
    min-width: 13.5% !important;
}
.prizeFund {
    color: #ffca29;
    font-size: 16px;
}
.ui-dialog {
    z-index: 114;
    height: 360px !important;
}
.noTournament {
    background: #000;
    color: #FFF;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}
.tournamentsWrapper {
    font-size: 17px;
    text-align: center;
    display: block;
    text-transform: uppercase;
}
#primary {
    min-height: 350px;
    margin-top: 85px;
}
#content .tab-board H1.entry-title {
    display: block;
    width: 977px;
    margin: auto;
    margin-top: -85px;
    background-size: cover;
}
.cuswrap {
    background-image: none;
}
.tableRowDiv {
    margin-top: 15px;
    background: #252525;
    color: white;
}
.joinNow input {
    min-width: 100px;
}
.joinNowButtonWrap, .detailsButtonWrap {
    display: inline-block;
    position: relative;
    top: 0;
}
.joinNowButtonWrap {
    margin-right: 12px;
}
.page-template-tournaments-board #content{
    color: #FFFFFF;
}
.page-template-tournaments-board .tableDiv{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .tableHeaderDiv div{
        min-width: 70px !important;
        font-size: 12px !important;
    }
    .tableHeaderDiv div, .tableRowDiv > div, .userRankDiv div{
        min-width: 50px !important;
        margin: 0;
        padding: 0;
    }
    .headerTable{
        margin: 40px 0 0 0 !important;
    }
    .inProgressButtonMsg, .nearestButtonMsg, .futureButtonMsg{
        font-size: 10px !important;
    }
    .participantsHeader{
        font-size: 12px !important;
    }
}
.page-template-tournaments-board .ui-widget-content .ui-state-default.ui-dialog-titlebar-close{
    margin-top: -18px;
    margin-right: 0px;
}
.page-template-tournaments-board .ui-widget-header .ui-icon{
    background: none;
}
.page-template-tournaments-board div[data-widget="tournamentLeaderboard"],
.page-template-tournaments-board div.tournamentRegistration-widget-wrapper{
    display: none;
}