#content {
    background: #CBC4BF url('/wp-content/themes/tol-parent/images/tournametns_back.png') no-repeat top;
    width: 100%;
}

#tol-header-layout-3 #tol-main-nav {
    margin-bottom: 0;
}

.backButton {
    background: url('/wp-content/themes/tol-parent/images/tournaments_back.png') no-repeat top;
    width: 71px;
    height: 39px;
    display: block;
    position: absolute;
    left: -9px;
    top: 20px;
    cursor: pointer;
}

/* SLIDER */

.slider-wrapper {
    background: none;
}

.slider-wrapper .assetName {
    color: #999999;
}

.slider-wrapper .asset {
    border-right: 1px solid #2E2E2E;
    border-left: 1px solid #2E2E2E;
}

/* END */

#content article H1.entry-title {
    display: none;
}

.tournamentsHeader span {
    display: block;
    text-align: center;
}

.tournamentsHeader .yellow {
    font-size: 33px;
    color: #EBDA04;
    font-weight: bold;
}

.tournamentsHeader > .yellow:nth-of-type(2) {
    font-size: 50px;
}

.tournamentsHeader .white {
    font-size: 22px;
    color: #FFF;
    font-weight: bold;
}

.tournamentsWrapper {
    background: #FFF;
    min-height: 400px;
    color: #000;
    position: relative;
    margin: 40px 0;
    font-size: 17px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.tournamentsHeader {
    padding: 40px 0 20px 0;
}

.tournamentsWrapper .cup {
    background: url('/wp-content/themes/tol-parent/images/tournametns_cup.png') no-repeat top;
    width: 141px;
    height: 212px;
    display: block;
    position: absolute;
    right: 120px;
    top: -177px;
}

.tournamentName {
    text-align: center;
    padding: 30px 0 10px 0;
    font-size: 23px;
    display: inline-block;
    width: auto;
}

.tournamentNameSpan {
    display: block;
    font-size: 22px;
    font-weight: bold;
}

.introAdditionalText {
    font-weight: bold;
}

.tournamentInfo {
    padding: 20px;
    font-size: 14px;
    height: 150px;
    border-bottom: 1px solid #242424;
}

.duration, .tournamentType {
    background: url('/wp-content/themes/tol-parent/images/tournametns_tick.png') no-repeat center left;
    display: inline-block;
    padding: 10px 5px;
}
.minInvestAmount, .tournamentGames {
    background: url('/wp-content/themes/tol-parent/images/tournametns_tick.png') no-repeat center left;
    padding: 10px 5px;
}
.durationLabel, .minInvestAmountLabel, .tournamentTypeLabel, .gamesLabel {
    display: block;
    width: 205px;
    padding-right: 10px;
    text-transform: uppercase;
    text-indent: 25px;
    text-align: left;
    font-weight: bold;
    font-size: 13px;
}
.minInvestAmount, .games {
    text-align: left;
}
.tournamentType {
    float: left;
    margin-left: 13px;
}
.tournamentTypeLabel {
    width: 205px;
}
.minInvestAmountLabel {
    width: 180px;
}
.gamesLabel {
    width: 180px;
}
.userRankDiv div {
    text-align: left;
}
.durationTime, .durationTime .startTime, .durationTime .endTime, .minInvestAmountValue, .typeValue, .gamesValue, .gamesValue div {
    display: inline-block;
    font-size: 13px;
}
.gamesValue div {
    margin-right: 5px;
}
.tournamentTypeInfoButton {
    display: inline-block;
    text-indent: -9999px;
    width: 20px;
    height: 21px;
    position: absolute;
    margin-left: 5px;
    margin-top: -3px;
    background: url('/wp-content/themes/tol-parent/images/tournametns_info.png') no-repeat top;
}
.durationTime .startTime {
    margin-right: 10px;
}
.tournamentTypeInfoLabel {
    display: none;
    width: 250px;
    height: auto;
    position: relative;
    left: -127px;
    bottom: -12px;
    background: #3E4146;
    color: #FFF;
    text-indent: 0;
    font-size: 12px;
    padding: 10px;
    border-radius: 3px;
}
.tournamentTypeInfoLabel:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: -5px;
    left: 49%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #3E4146;
}
.tournamentTypeInfoButton:hover .tournamentTypeInfoLabel{
    display:block;
}
.tournamentInfoLeft {
    float: left;
    border-right: 1px solid #FFF;
    width: 53%;
}
.tournamentInfoRight {
    float: right;
    width: 45%;
}
.tournamentTimeToStart {
    width: 100%;
    font-size: 20px;
    color: #EDD900;
    font-weight: bold;
    text-align: center;
    font-family: robotoregular;
    text-transform: uppercase;
    padding: 10px;
}
.tournamentsWrapper .tableDiv,
.tournamentsWrapper .userRankDiv {
    margin: 20px;
    border-radius: 3px;
    font-family: 'robotoregular';
    font-size: 15px;
}
.isUserRegister .tableHeaderDiv {
    margin-bottom: 60px;
    background: #464646;
}
.tableBodyDiv {
    height: 400px;
}
.tournamentsWrapper .userRankDiv {
    background: #448AFF; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #448AFF 0%, #2962FF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#448AFF), color-stop(100%,#2962FF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #448AFF 0%,#2962FF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #448AFF 0%,#2962FF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #448AFF 0%,#2962FF 100%); /* IE10+ */
    background: linear-gradient(to bottom, #448AFF 0%,#2962FF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#448AFF', endColorstr='#2962FF',GradientType=0 ); /* IE6-8 */
    height: 40px;
    position: absolute;
    margin-top: 90px;
    margin-left: 40px;
    color: #FFF;
    width: 93%;
}
.tableHeaderDiv div, .tableRowDiv > div, .userRankDiv div {
    display: inline-block;
    padding: 10px;
    min-width: 132px;
}
.tableRowDiv > div {
    margin: 0 5px;
}
.tableHeaderDiv div {
    min-width: 147px;
    background: #464646;
    color: #FFF;
    text-align: left;
    padding: 10px;
}
.prizeHeader {
    padding: 10px 5px 10px 15px !important;
}
.countryHeader {
    min-width: 167px !important;
}
.resultsHeader {
    min-width: 127px !important;
}
.columnCountry {
    min-width: 167px !important;
}
.tableRowDiv .columnRank, .tableHeaderDiv .rankHeader, .userRankDiv .rankDiv {
    width: 15%;
}

.tableRowDiv .columnName, .tableHeaderDiv .nameHeader, .userRankDiv .nameDiv {
    width: 25%;
}
.tableRowDiv .columnCountry, .tableHeaderDiv .countryHeader, .userRankDiv .countryDiv {
    width: 30%;
}
.tableRowDiv .columnCountry {
    margin: 0 10px;
}
.tableDiv .firstName, .tableDiv .lastName {
    width: auto;
    margin-right: 5px;
    display: inline-block;
}
.tableBodyDiv .tableRowDiv:nth-child(odd) {
    background: #E4E4E4;
}
.tableBodyDiv {
    text-align: left;
}
.tournamentsWrapper .paging {
    text-align: center;
    margin-right: 20px;
}
.nextPage {
    margin-left: 0;
}
.pageLink.activePage {
    color: #EBDA04;
}
.tournamentFinished {
    background: url('/wp-content/themes/tol-parent/images/tournaments_finished.png') no-repeat right top;
    text-indent: -9999px;
    position: absolute;
    width: 108px;
    height: 96px;
    right: -6px;
    top: -6px;
}
.tournamentTimer {
    float: left;
    width: 72%;
    margin: 20px;
}
.tournamentRegistration-widget-wrapper {
    width: 22%;
    display: inline-block;
    text-align: right;
    margin: 20px 0;
}

.tournamentRegistration-widget-wrapper input[type=button] {
    border: 0;
    width: 215px;
    height: 90px;
    border-bottom: 3px solid #135409;
    border-radius: 3px;
    background: #41DD29; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #41DD29 0%, #2B9D1A 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41DD29), color-stop(100%,#2B9D1A)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #41DD29 0%,#2B9D1A 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #41DD29 0%,#2B9D1A 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #41DD29 0%,#2B9D1A 100%); /* IE10+ */
    background: linear-gradient(to bottom, #41DD29 0%,#2B9D1A 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41DD29', endColorstr='#2B9D1A',GradientType=0 ); /* IE6-8 */
    font-family: 'robotoregular';
    text-transform: uppercase;
    font-size: 45px;
    text-align:center;
    color:#fff;
}

.tournamentRegistration-widget-wrapper input[type=button]:hover {
    color: #000;
}

.tournamentTimer .daysWrapper, .tournamentTimer .hoursWrapper, .tournamentTimer .minutesWrapper, .tournamentTimer .secondsWrapper {
    display: inline-block;
    background: url('/wp-content/themes/tol-parent/images/timer_back.png') no-repeat right top;
    width: 154px;
    height: 90px;
    margin-right: 20px;
    cursor: default;
    color: #FFF;
}

.tournamentTimer .title {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px 0 0;
}

.tournamentTimer .days, .tournamentTimer .hours, .tournamentTimer .minutes, .tournamentTimer .seconds {
    text-align: center;
    font-size: 50px;
}

.nextPages {
    margin-left: 3px;
}

.rankDiv, .nameDiv, .countryDiv, .resultsDiv, .prizesDiv {
    padding: 5px !important;
    margin: 5px;
    background: #2962FF; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #2962FF 0%, #4489FF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2962FF), color-stop(100%,#4489FF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2962FF 0%,#4489FF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2962FF 0%,#4489FF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2962FF 0%,#4489FF 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2962FF 0%,#4489FF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2962FF', endColorstr='#4489FF',GradientType=0 ); /* IE6-8 */
}
.ui-dialog-content {
    float: left;
    width: 100% !important;
    height: 316px !important;
}
.ui-widget-overlay
{
    opacity: 0.75;
    background: #BCBCBD;
    width: 100%;
    height: 200%;
    position: absolute;
    z-index: 13;
    border-radius:3px;
    top: 0;
}
.ui-widget-header .ui-icon {
    background: url('/wp-content/themes/tol-parent/images/info_btn_close.png') no-repeat center top;
    width: 26px;
    height: 28px;
    display:inline-block;
}

.browser-firefox .ui-widget-header .ui-icon{
    background: url('/wp-content/themes/tol-parent/images/info_btn_close.png') no-repeat center top !important;
}

.ui-widget-header {
    height: 31px;
    margin-top: 0;
    color: #000;
}

.ui-dialog-title {
    display: inline-block;
    width: 95%;
    float: left;
    text-align: center;
    line-height: 30px;
    font-family: robotoregular;
    font-weight: normal;
    font-size: 17px;
}

.ui-widget-header .ui-button {
    background: transparent !important;
    border: 0;
    padding: 0;
    float: right;
    margin-top: -10px;
    margin-right: 10px;
}
.ui-widget-header .ui-button-text {
    display: none;
}
.ui-dialog-buttonset {
    text-align: center;
    margin: 20px 10px 0;
}

.ui-dialog-buttonset button {
    border: 1px solid #bbb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    background: 0 !important;
    color: #232d3d;
    font-size: 12px;
    font-weight: 700;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
    box-shadow: 0 1px 2px #ccc;
    -moz-box-shadow: 0 1px 2px #ccc;
    -webkit-box-shadow: 0 1px 2px #ccc;
    margin: 0 3px;
    padding: 4px 10px !important;
}

.tosMessage {
    position: relative;
    height: 260px;
    max-height: 260px;
    display: block;
    overflow: auto;
    overflow-x: hidden;
    width: auto;
}

#tosAccept {
    border: 0;
    width: 190px;
    height: 33px;
    border-bottom: 3px solid #f66b18;
    border-radius: 3px;
    background: #ffbf00; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYmYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYzgyMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffbf00 0%, #fc8200 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffbf00), color-stop(100%,#fc8200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffbf00 0%,#fc8200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffbf00 0%,#fc8200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffbf00 0%,#fc8200 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffbf00 0%,#fc8200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbf00', endColorstr='#fc8200',GradientType=0 ); /* IE6-8 */
    font-family: 'robotoregular';
    text-transform: uppercase;
    font-size: 15px;
    text-align:center;
    color:#fff;
}

#tosFooter {
    text-align: center;
    padding-top: 4px;
}

.tabsButtons {
    z-index: 111;
    font-family: robotoregular;
    width: 100%;
    margin: 0 auto;
    background: #FFF;
    height: 40px;
}

.tabsWrapper {
    position: relative;
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 10px;
}

.inProgressWrap, .nearestWrap, .futureWrap {
    display: inline-block;
    color: #eaeaea;
    font-size: 17px;
    position: relative;
    cursor: pointer;
    margin-right: 15px;
    top: 1px;
    border-radius: 3px;
    height: 30px;
}

.inProgressWrap.activ, .nearestWrap.activ, .futureWrap.activ {
    border: 1px solid #e6e6e6;
    border-bottom: 1px solid #FFF;
}

.inProgressButtonMsg, .nearestButtonMsg, .futureButtonMsg {
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    height: 23px;
    line-height: 30px;
    color: #cc9900;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    border-bottom: 1px dashed #cc9900;
}
.active .inProgressButtonMsg, .active .nearestButtonMsg, .active .futureButtonMsg {
    border-bottom: 0;
    color: #666;
}
.futureCounts, .nearestCounts, .inProgressCounts {
    display: inline-block;
    width: auto;
    height: 24px;
    line-height: 30px;
    padding-right: 10px;
    color: #cc9900;
    border-bottom: 1px dashed #cc9900;
}
.activ .futureCounts, .activ .nearestCounts, .activ .inProgressCounts {
    border-bottom: 0;
    color: #666;
}
.buttonDiv {
    height: 42px;
    width: 100%;
    background: #B9B9B9; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #B9B9B9 0%, #929292 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B9B9B9), color-stop(100%,#929292)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #B9B9B9 0%,#929292 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #B9B9B9 0%,#929292 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #B9B9B9 0%,#929292 100%); /* IE10+ */
    background: linear-gradient(to bottom, #B9B9B9 0%,#929292 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B9B9B9', endColorstr='#929292',GradientType=0 ); /* IE6-8 */
    padding: 0 !important;
    margin: 0 !important;
    text-align: right;
}
.buttonDiv .tournamentName {
    padding: 0;
    text-align: left;
    color: #FFF;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    text-indent: 15px;
    width: auto;
    float: left;
}
.detailsButtonWrap, .joinNowButtonWrap {
    display: inline-block;
    text-align: right;
}
.tableDiv {
    padding: 27px 19px 0;
    background: #FFF;
    min-height: 350px;
    border: 1px solid #c6c6c6;
}
.site-content {
    width: 980px;
    margin: 0 auto;
}
.tabBoardWrapper{
    position: relative;
}
.tabBoardWrapper .tableBodyDiv .tableRowDiv:nth-child(odd) {
    background: #FFF;
    color: #000;
    font-family: robotoregular;
}
.detailsButton, .joinNowButton {
    text-align:center;
    margin: 4px;
    height:33px;
    font-size: 15px;
    border:none !important;
    border-radius: 3px;
    border-bottom: 1px solid #646464 !important;
    background: #FEFEFE !important;
    background: -moz-linear-gradient(top, #FEFEFE 0%, #FDFDFD 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#FDFDFD)) !important;
    background: -webkit-linear-gradient(top, #FEFEFE 0%,#FDFDFD 100%) !important;
    background: -o-linear-gradient(top, #FEFEFE 0%,#FDFDFD 100%) !important;
    background: -ms-linear-gradient(top, #FEFEFE 0%,#FDFDFD 100%) !important;
    background: linear-gradient(to bottom, #FEFEFE 0%,#FDFDFD 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#FDFDFD',GradientType=0 ) !important;
    color: #555 !important;
    text-transform: uppercase !important;
    padding: 5px 14px !important;
}
.joinNowButton {
    border-bottom: 1px solid #135409 !important;
    background: #41DD29 !important;
    background: -moz-linear-gradient(top, #41DD29 0%, #2B9E1A 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41DD29), color-stop(100%,#2B9E1A)) !important;
    background: -webkit-linear-gradient(top, #41DD29 0%,#2B9E1A 100%) !important;
    background: -o-linear-gradient(top, #41DD29 0%,#2B9E1A 100%) !important;
    background: -ms-linear-gradient(top, #41DD29 0%,#2B9E1A 100%) !important;
    background: linear-gradient(to bottom, #41DD29 0%,#2B9E1A 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41DD29', endColorstr='#2B9E1A',GradientType=0 ) !important;
    color: #FFF !important;
}
.joinNowButton.disabled {
    border-bottom: 1px solid #727272 !important;
    background: #727272 !important;
}
.headerTable .tournamentName {
    width: 100%;
    background: #585858;
    font-family: robotoregular;
    padding: 5px 20px;
}
.headerTable {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}
.startDateHeader, .endDateHeader, .prizeFundHeader, .participantsHeader {
    width: 35%;
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    text-align: left;
}
.prizeFundHeader, .participantsHeader {
    width: 15%;
}
.columnStartDate {
    width: 32.5%;
    padding: 10px 0 10px 19px !important;
}
.columnEndDate {
    padding: 10px 3px 10px 17px !important;
    width: 34.5%;
}
.columnPrizeFund, .columnParticipants {
    min-width: 13.5% !important;
    padding-left: 0 !important;
}
.prizeFund {
    font-size: 16px;
}
.ui-dialog {
    z-index: 114;
    height: 360px !important;
}
.noTournament {
    background: #FFF;
    color: #000;
    padding: 100px 20px;
    font-size: 18px;
    text-align: center;
}
.tournamentDuration
{
    text-align:left;
    margin-left:13px;
}
.durationTime, .typeValue, .gamesValue, .minInvestAmountValue{
    margin-left: 25px;
}
.tabBoardWrapper .error-message{
    margin: 0;
    position: absolute;
    top: 45px;
    right: 18px;
}
.tournamentsWrapper .tournamentRegistration-widget-wrapper .error-message{
    margin: 10px 0 0;
    font-size: 14px;
    text-align: left;
}