.page-tournaments {
    background: #ffffff !important;
}
.page-tournaments .first-article-header {
    margin-top: 80px;
}
.container-fluid.exchange-layout {
    padding: 70px 200px 0;
}
.page-tournaments #content h1 {
    font-family: 'Roboto-Bold';
    font-size: 40px;
    color: #525252;
    line-height: 40px;
    margin: 10px 0;
}
@media (max-width: 380px) {
    .page-tournaments #content h1 {
        font-size: 30px;
    }
}
.bold.col-sm-3, .bold.col-sm-6 {
    font-family: 'Roboto-Bold';
}
.page-tournaments .btnback {
    color: #525252;
    font-size: 21px;
    margin-bottom: 25px;
    margin-top: 15px;
    display: block;
    font-family: robotolight;
    text-transform: uppercase;
}
.page-tournaments .exchange-layout h4 {
    font-family: 'robotolight';
    font-size: 25px;
    color: #525252;
    line-height: 25.87px;
    letter-spacing: 2px;
}
.helvetica-bold-head {
    font-family: 'robotomedium';
    font-size: 46.88px;
    line-height: 44.01px;
    color: #525252;
    margin: 0;
}
.helvetica-bold-dark, .index-top {
    font-family: 'robotomedium';
    font-size: 22px;
    color: #525252;
    text-transform: uppercase;
    letter-spacing: 1.78px;
    line-height: 25.87px;
}
.breadrumb-line {
    display: inline-block;
    width: 20%;
    border: 2px solid #626262;
}
.breadrumb-line:first-child {
    margin: 6px 50px;
    margin-left: 45%;
}
.second-article-header {
    margin-top: 26px;
}
.tournaments-menu {
    list-style-type: none;
    float: none;
    text-align: left;
    border: 2px solid #EAEAEa;
    font-family: Roboto-Bold;
    font-size: 17px;
    padding-left: 0;
    padding-right: 0;
}
.tour-menu-item {
    font-family: 'robotomedium';
    width: 33.33%;
    border: 0;
    cursor: pointer;
    line-height: 3.5;
    text-align: center;
    color: #8C8C8C;
    text-transform: uppercase;
    height: 61px;
    position: relative;
    float: left;
    font-size: 18.38px;
}
.tour-menu-item.active, .tour-menu-item:hover {
    background: #EBEBEB;
    color: #516AC0;
}
.tour-menu-item.active:after {
    content: '';
    display: block;
    position: absolute;
    left: 42%;
    top: 100%;
    width: 0;
    height: 0;
    border-top: 20px solid #EAEAEa;
    border-right: 20px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 20px solid transparent;
}
.tour-content {
    padding-top: 20px;
}
.past-tour-row, .binary-burst {
    height: 203px;
    border: 3px solid #1D4DB1;
    padding: 50px;
    margin-top: 45px;
}
.tourname {
    font-family: 'robotoblack';
    color: #3A64BB;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 39.12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tourdate {
    color: #525252;
    font-size: 32px;
    font-family: 'robotolight';
}
.tourdate .closedate {
    text-transform: uppercase;
    font-family: 'Roboto-Bold';
}
.tourfee, .tourprize {
    font-family: 'robotoblack';
    text-transform: uppercase;
    font-size: 65px;
    line-height: 65px;
    color: #525252;
}
.tourfeetitle, .tourprizetitle {
    font-family: 'robotolight';
    text-transform: uppercase;
    color: #525252;
    font-size: 25px;
    line-height: 50px;
}
.tourprize {
    color: #3A64BB;
}
.tourprizetitle {
    color: #3A64BB;
}
.btn-wrapper {
    padding-left: 30px;
    padding-top: 17px;
}
.btnmore, .btnjoin {
    border: 2px solid #3A64BB;
    border-radius: 3px;
    color: #3A64BB;
    font-size: 28px;
    font-family: 'Roboto-Bold';
    width: 100%;
    display: block;
    text-align: center;
    padding: 14px;
    cursor: pointer;
}
.halfWidth {
    width: 49%;
    display: inline-block;
}
.btnmore.halfWidth, .reBuy {
    background: transparent;
    border: 2px solid #3A64BB;
    border-radius: 3px;
    color: #3A64BB;
    font-size: 28px;
    font-family: 'Roboto-Bold';
    width: 49%;
    display: inline-block;
    text-align: center;
    padding: 14px;
    cursor: pointer;
}
@media (width: 768px) {
    .btnmore.halfWidth, .reBuy {
        font-size: 22px;
    }
    .halfWidth {
        height: 50px;
    }
}
@media (width: 1024px) {
    .btnmore.halfWidth, .reBuy {
        font-size: 22px;
    }
    .halfWidth {
        height: 50px;
    }
}
/* @media (max-width: 767px) {
    .btnmore.halfWidth, .reBuy {
        padding: 8px;
    }
} */
.btn-wrapper .reBuy {
    margin-left: 4%;
    background: #fff;
}
.btnmore:hover,
.btnmore:focus,
.btnmore:active,
.reBuy:hover,
.reBuy:focus,
.reBuy:active {
    color: #ffffff;
    background: #3A63BB;
}
.btnjoin {
    color: #ffffff;
    background: #3A63BB;
    margin-top: 15px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .btnjoin {
        margin-top: 5px;
    }
    .btnjoin[data-tournamenttype="future"] {
        margin-top: 15px;
    }
}
.btnjoin:hover,
.btnjoin:focus,
.btnjoin:active {
    color: #3A63BB;
    background: #ffffff;
}
.btnjoin.disabled, .btnjoin.disabled:hover,
.reBuy.disabled, .reBuy.disabled:hover {
    background: #EBEBEB;
    border-color: #EBEBEB;
    color: #8C8C8C;
    cursor: not-allowed;
}
.btnjoin.half {
    width: 48%;
    display: inline-block;
}
.active-tours .btn-wrapper, .future-tours .btn-wrapper {
    padding-top: 0;
    position: relative;
    top: -24px;
}
.active-tour-header {
    background: url('/wp-content/themes/tol-parent/images/map_bg.png') no-repeat center;
}
.active-tour-header h4 {
    padding-bottom: 80px;
}
.active-tour-header > div {
    text-align: center;
}
.step-image-one {
    height: 170px;
    background: url('/wp-content/themes/tol-parent/images/tournament-step-1.png') no-repeat center;
}
.step-image-two {
    height: 170px;
    background: url('/wp-content/themes/tol-parent/images/tournament-step-2.png') no-repeat center;
}
.step-image-three {
    height: 170px;
    background: url('/wp-content/themes/tol-parent/images/tournament-step-3.png') no-repeat center;
}
.step-header {
    font-family: 'robotoblack';
    text-transform: uppercase;
    font-size: 30px;
    color: #6E6E6E;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 25.87px;
}
.step-info {
    font-family: 'robotoregular';
    font-size: 24.97px;
    line-height: 29.97px;
    color: #525252;
    padding: 0 20px;
}
.binary-burst {
    margin: 70px 0;
    padding: 35px 70px;
}
.burst-title {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    color: #525252;
    margin-bottom: 20px;
}
.burst-info {
    font-family: 'robotoregular';
    font-size: 20px;
    letter-spacing: 1px;
}
.burst-btn-wrapper {
    padding-top: 12px;
}
.page-tournaments .leaderboard-title {
    font-family: 'Roboto-Bold';
    font-size: 35px;
    color: #525252;
    line-height: 44.01px;
    margin: 20px 0;
}
.tournaments-leaderboard{
    margin: 10px;
}
.leaderboard-header {
    font-family: 'robotolight';
    font-size: 25px;
    color: black;
    font-weight: 700;
    padding: 10px;
    border-bottom: 3px solid #F0F0F0;
    padding-left: 115px;
    position: relative;
    margin: 0;
}
.leaderboard-container .row.tableRowDiv{
    margin-right: 0;
    margin-left: 0;
}
.leaderboard-column {
    padding-left: 10px;
    border-right: 2px solid #F0F0F0;
}
.tableRowDiv{
    display: inline-block;
    width: 100%;
    background-color: #FFFFFF;
    height: 60px;
    padding: 5px 0;
    position: relative;
    padding-left: 110px;
}
.tableRowDiv:nth-child(even) {
    background-color: #FBFBFB;
}
.content-rank-cell {
    width: 100px;
    position: absolute;
    left: 0;
}
.columnRank {
    width: 20px;
}
.columnBalance {
    font-weight: 700;
    color: #22A136;
}
.columnPrize {
    font-weight: 500;
    color: black;
}
.nickname {
    display: inline-block;
}
.columnNickName, .columnBalance, .columnPrize {
    display: inline-block;
    font-size: 16px;
    padding: 2px 15px;
    height: 50px;
    line-height: 47px;
}
.columnNickName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.columnRank, .columnAvatar {
    display: inline-block;
    font-size: 16px;
    padding: 2px 5px;
    vertical-align: middle;
}
.rank, .avatar-img {
    display: inline-block;
}
.rank {
    padding-left: 15px;
}
.avatar-img {
    width: 48px;
    height: 48px;
    margin-left: 20px;
    border-radius: 8px;
}
.well {
    margin-bottom: 5px;
    background-color: white;
}
#tournamentDetails {
    margin: 20px auto;
    width: 88%;
    padding-right: 70px;
    padding-left: 70px;
}

#tournamentDetails table {
    margin-left: 50px;
}

#tournamentDetails table td.bold {
    font-family: 'Roboto-Bold';
    font-weight: bold;
    font-size: 25px;
}
.avatar-wrapper-popup {
    position: relative;
    width: 120px;
    display: inline-block;
}
#tournamentDetails table td {
    padding: 10px;
    padding-right: 80px;
    font-family: "robotolight";
    font-size: 20px;
}
.tournamentDetails-footer{
    height: 30px;
    background-color: white;
}
.pagination {
    display: inline-block;
    border-radius: 3px;
    width: 50%;
    margin: auto;
}
.pagination-sm{
    text-align:center;
    margin-top: 15px;
}
.paging{
    margin: auto;
}
.pageLink {
    color: #7A7A7A;
    border: 3px solid #fff;
}
.pageLink.activePage{
    color: #7A7A7A;
    border: 3px solid #EBEBEB;
    background-color: transparent;
}

[data-column="avatar"]{
    width: 0;
    padding: 0;
    border: 0;
}
[data-column="rank"]{
    border: none;
    padding-left: 0;
    width: 100px;
    position: absolute;
    left: 15px;
}
.prize {
    padding-left: 15px;
}
.leaderboard {
    margin-bottom: 30px;
}
/*Tournament Join popUp */
.ui-dialog-titlebar.ui-widget-header {
    /*display: none;*/
    background-color: #1D1F36;
    border: none;
}
.nickname-container, .user-avatar{
    display: inline-block;
}

.nickname-container {
    vertical-align: bottom;
    margin-left: 20px;
    height: 50px;
    line-height: 46px;
}
#nickname-input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #7E808D;
    color: white;
    font-size: 20px;
}
#nickname-input::-webkit-input-placeholder{
    color: white;
}
.tournaments-pop-container{
    color: white;
}
.user-avatar {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    background-size: 100%;
}
.user-avatar img {
    height: 120px;
    width: auto;
}
.ui-dialog.ui-widget.jointournamentPopUp {
    background-color: #1D1F36;
    color: white;
    top: 15% !important;
    margin: 0 auto;
    left: 0 !important;
    right: 0 !important;
}
.ui-dialog.ui-widget.jointournamentPopUp .ui-dialog-content {
    padding-left: 44px;
    padding-right: 44px;
}
.tax-label {
    text-transform: uppercase;
}
.jointournamentPopUp .termscheckbox {
    display:none;
}
.jointournamentPopUp .termscheckbox + label {
    background: url('/wp-content/themes/tol-parent/images/tournaments_popup_checkbox_0.png') no-repeat center;
    height: 23px;
    width: 23px;
    display:inline-block;
    padding: 0;
}
.jointournamentPopUp .termscheckbox:checked + label {
    background: url('/wp-content/themes/tol-parent/images/tournaments_popup_checkbox_1.png') no-repeat center;
}
.entrytax-container{
    width: 100%;
    margin-top: 10px;
}
.tax-label, .tax-amount {
    display: inline-block;
    color: white;
    font-size: 16px;
    width: 50%;
    margin: 0 auto;
}
.tax-label{
    text-align: right;
    vertical-align: middle;
}
.tax-amount{
    font-weight: 800;
    font-size: 20px;
    vertical-align: middle;
    padding-left: 5px;
}
.jointbutton-container{
    padding: 25px;
    width: 100%;
    text-align: center;
}
.joinbtn {
    margin: 0 auto;
    width: 50%;
    background-color: #3E52B5;
    color: white;
    margin-top: 15px;
    font-family: 'Roboto-Bold';
    text-align: center;
    padding: 14px;
    border-radius: 3px;
    color: white;
    font-size: 24px;
    font-weight: 500;
}
.tournaments-pop-container .joinbtn {
    width: 243px;
    height: 62px;
    border: 0;
    background: #3E52B5 url(/wp-content/themes/tol-parent/images/Vector-Smart-Object-3.png) no-repeat 162px center;
    text-indent: -30px;
    font-family: robotoregular;
    font-size: 28px;
    line-height: 60px;
    padding: 0;
}
.tournaments-pop-container .joinbtn:hover {
    background: #FFFFFF url(/wp-content/themes/tol-parent/images/Vector-Smart-Object-3.png) no-repeat 162px center;
    color: #3E52B5;
}
.terms-error {
    color: red;
}
.nickname-error {
    position: absolute;
    color: red;
    margin-top: -25px;
}
.counter-wrapper {
    position: relative;
}
.countdown-info-text {
    padding-left: 55px;
    padding-right: 0px;
}
.countdown-info-text .col-xs-3 {
    padding: 0px;
}
.terms-check, .terms-text{
    display: inline-block;
    color: white;
}
.terms-text {
    padding-left: 10px;
    font-size: 13px;
}
.change-avatar {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color:#FE0304;
    border-radius: 25px;
    top: -5px;
    right: -5px;
    cursor: pointer;
}

.change-avatar:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c";
    font-size: 18px;
    color: #FFF;
    text-align: center;
}
.jointournamentPopUp .ui-dialog-title {
    display: none;
}
.jointournamentPopUp .ui-dialog-titlebar-close {
    border: 0;
    background: url(/wp-content/themes/tol-parent/images/close.png) no-repeat center;
    position: relative;
    top: 8px;
    right: -15px;
}
.jointournamentPopUp .tournament-name {
    padding: 0 0 20px 0;
    text-align: left;
    font-family: 'robotolight';
    font-size: 40px;
    color: #fff;
}
.jointournamentPopUp .avatar-nickname {
    text-align: left;
}
.jointournamentPopUp .jointbutton-container {
    padding: 0;
}
.jointournamentPopUp .terms {
    position: relative;
    height: 50px;
    padding: 15px 0;
}
.jointournamentPopUp .terms-text {
    position: absolute;
    font-family: robotoregular;
    font-size: 15px;
}
.jointournamentPopUp .terms-text a {
    color: #3F51B7;
    font-family: Roboto-Bold;
}
.row .countdown-wrapper {
    width: 100%;
    height: 220px;
    border: 2px solid #3a64bb;
    margin: 0 0 53px 0;
}
.time-text{
    color: white;
    position: absolute;
    display: inline-block;
    top: 90px;
    left: -77px;
    height: 36px;
    width: 220px;
    background-color: #3a64bb;
    padding: 5px;
    text-align: center;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    font-family: 'robotomedium';
    text-transform: uppercase;
    font-size: 18.38px;
    font-weight: 100;
}
.info-countdown{
    display: inline-block;
    font-family: 'robotoblack';
    color: #525252;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 105px;
    font-weight: 900;
    width: 100%;
    margin: 0;
}
.infojoinbutton-container{
    padding: 58px 0;
    text-align: right;
    position: relative;
}
.well.info-tournaments-wrapper {
    border: 3px solid #EDEDED;
    padding: 43px 35px;
    margin-bottom: 53px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: robotolight;
}
.tournamentDetailsInfo {
    line-height: 40px;
}

.timer-labels{
    display: block;
    font-family: 'robotolight';
    color: #525252;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 300;
    margin: 0;
}
.infojoinbutton-container .btnjoin {
    width: 280px;
    height: 72px;
    float: right;
}
.infojoinbutton-container.rebuyadded .reBuy {
    background: #fff;
    display: block;
    max-width: 280px;
    float: right;
    position: absolute;
    top: 25px;
    right: 0
}
.infojoinbutton-container .reBuy:hover,
.infojoinbutton-container .reBuy:focus,
.infojoinbutton-container .reBuy:active {
    background: #3A63BB;
}
.infojoinbutton-container.rebuyadded .reBuy.disabled,
.infojoinbutton-container.rebuyadded .reBuy.disabled:hover,
.infojoinbutton-container.rebuyadded .reBuy.disabled:focus,
.infojoinbutton-container.rebuyadded .reBuy.disabled:active {
    background: #EBEBEB;
}
.infojoinbutton-container.rebuyadded .btnjoin {
    position: relative;
    top: 45px;
}
@media (max-width: 1500px) {
    .container-fluid.exchange-layout {
        padding: 70px 100px 0;
    }
}
@media (max-width: 1300px) {
    .past-tour-row {
        padding: 50px 20px;
    }
    .breadrumb-line:first-child {
        margin-left: 38%;
    }
}
/* Laptop resolutions*/
@media (min-width: 1200px) and (max-width: 1450px) {
    .past-tour-row, .binary-burst {
        padding: 40px;
        height: 160px;
    }
    .tourfee, .tourprize {
        font-size: 45px;
        line-height: 50px;
    }
    .tourfeetitle, .tourprizetitle {
        line-height: 30px;
    }
    .btn-wrapper {
        padding-top: 0;
    }
    .future-tours .btnmore, .future-tours .btnjoin,
    .active-tours .btnmore, .active-tours .btnjoin {
        padding: 5px 14px;
    }
    .tourdate {
        font-size: 29px;
    }
}
@media (min-width: 768px) and (max-width: 1100px) {
    .helvetica-bold-head {
        font-size: 43px;
        line-height: 50px;
    }
    .container-fluid.exchange-layout {
        padding: 70px 60px 0;
    }
    .breadrumb-line:first-child {
        margin-left: 30%;
    }
    .tournaments-menu .tour-menu-item {
        line-height: 1.4em;
        padding: 8px 45px;
    }
    .tour-content {
        padding-top: 20px;
    }
    .past-tour-row {
        padding: 20px 15px;
        height: 140px;
    }
    .future-tours .past-tour-row,
    .past-tours .past-tour-row {
        height: 126px;
    }
    .tourname {
        font-size: 33px;
    }
    .tourdate {
        font-size: 23px;
    }
    .tourfee, .tourprize {
        font-size: 33px;
        line-height: 35px;
    }
    .tourfeetitle, .tourprizetitle {
        font-size: 18px;
        line-height: 42px;
    }
    .future-tours .btn-wrapper {
        top: -6px;
    }
    .future-tours .btnmore, .future-tours .btnjoin {
        padding: 5px;
    }
    .btnmore.halfWidth, .reBuy {
        padding: 8px;
    }
    .btnjoin.disabled, .btnjoin.disabled:hover {
        margin-top: 0px;
        padding-top: 5px;
    }
    [data-target="future"] .btnmore.halfWidth {
        padding: 8px;
    }
}
@media (min-width: 1000px) and (max-width: 1100px) {
    .active-tours .btn-wrapper, .future-tours .btn-wrapper {
        top: -10px;
    }
    .btnmore, .btnjoin {
        font-size: 20px;
        padding: 9px 14px;
    }
    #tournamentDetails {
        width: 100%;
        padding: 0 30px;
    }
    .row .countdown-wrapper {
        height: 150px;
    }
    .time-text {
        width: 150px;
        top: 55px;
        left: -44px;
    }
    .info-countdown {
        font-size: 50px;
        margin-top: 20px;
    }
    .timer-labels {
        font-size: 19px;
    }
    .infojoinbutton-container {
        padding: 25px;
        margin-left: 40px;
    }
    .infojoinbutton-container .btnjoin {
        font-size: 26px;
        padding: 20px !important;
    }
}
@media (width: 768px) {
    .step-header {
        font-size: 23px;
        line-height: 21px;
    }
    .step-info {
        font-size: 20px;
        padding: 0 10px;
    }
    .helvetica-bold-head {
        line-height: 40px;
    }
    .breadrumb-line:first-child {
        margin-left: 12%;
    }
    .tournaments-menu {
        font-size: 15px;
    }
    .tournaments-menu .tour-menu-item {
        padding: 8px 15px;
        font-size: 15px;
    }
    .container-fluid.exchange-layout {
        padding: 30px 60px 0;
    }
    .past-tour-row {
        padding: 15px 0;
        height: 130px;
        margin-top: 30px;
    }
    .tourname {
        font-size: 25px;
    }
    .tourdate {
        font-size: 17px;
    }
    .tourfee, .tourprize {
        font-size: 26px;
    }
    .tourfeetitle, .tourprizetitle {
        font-size: 15px;
        line-height: 36px;
    }
    .btn-wrapper {
        padding-top: 12px;
    }
    .future-tours .btnmore, .future-tours .btnjoin {
        font-size: 18px;
    }
    .btnmore {
        padding: 5px;
        font-size: 18px;
    }
    .btnjoin {
        padding: 14px;
        font-size: 28px;
        margin-top: 15px;
    }
    .btnjoin[data-tournamenttype="active"] {
        padding: 5px;
        font-size: 22px;
        margin-top: 3px;
    }
    .infojoinbutton-container .btnjoin[data-tournamenttype="active"] {
        padding: 15px;
        font-size: 22px;
        margin-top: 15px;
    }
    .active-tours .btn-wrapper,
    .future-tours .btn-wrapper {
        top: -5px;
    }
    .past-tours .past-tour-row {
        height: 100px;
    }
    #tournamentDetails {
        width: 100%;
        padding: 0 30px;
    }
    .leaderboard-header {
        font-size: 17px;
    }
    .active-tour-header h4 {
        padding-bottom: 20px;
    }
    .ui-dialog.ui-widget-content[aria-describedby="ui-id-1"] {
        /* left: 224px !important; */
        width: 320px !important;
    }
    .mobile-counter-wrapper {
        width: 100%;
        vertical-align: top;
        position: relative;
        top: -32px;
    }
    .row .countdown-wrapper {
        height: 110px;
    }
    .time-text {
        width: 110px;
        top: 35px;
        left: -24px;
        font-size: 15px;
        line-height: 15px;
    }
    .info-countdown {
        font-size: 48px;
    }
    .timer-labels {
        font-size: 14px;
    }
    .infojoinbutton-container {
        padding: 0;
        width: 200px;
        float: right;
        margin-right: 30px;
    }
}
@media (max-width: 1024px) {
    .infojoinbutton-container.rebuyadded .reBuy {
        max-width: 49%;
        float: left;
        position: relative;
        top: 25px;
        height: 65px;
    }
    .infojoinbutton-container.rebuyadded .btnjoin {
        width: 49%;
        float: right;
        top: 25px;
        height: 65px;
        padding: 14px;
        margin-top: 0px;
        line-height: 20px;
    }
}
@media (max-width: 767px) {
    .container-fluid.exchange-layout {
        padding: 30px 15px 0;
    }
    .helvetica-bold-head {
        font-size: 38px;
    }
    .helvetica-bold-dark {
        font-size: 17px;
    }
    .breadrumb-wrapper {
        display: none;
    }
    .tournaments-menu {
        margin-left: 0;
        width: 100%;
        font-size: 13px;
        border: none;
        padding-top: 50px;
    }
    .tour-menu-item {
        width: 100%;
        height: 51px;
        line-height: 50px;
        text-align: left;
    }
    .tour-menu-item.active {
        background: white;
    }
    .tournaments-menu .tour-menu-item:nth-child(1),
    .tournaments-menu .tour-menu-item:nth-child(2) {
        line-height: 25px;
    }
    .tour-menu-item.active:after {
        border: 0;
    }
    .tournaments-content {
        width: 100%;
        margin-left: 0;
    }
    .second-article-header {
        margin: 0;
    }
    .tour-content {
        padding-top: 20px;
    }
    .tour-content h1 {
        font-size: 1.8em;
    }
    .tour-content h4 {
        font-size: 1em;
    }
    .past-tour-row {
        padding: 15px 0;
        height: 368px;
        border-left: none;
        border-right: none;
    }
    .active-tours .past-tour-row {
        height: 360px;
        margin-bottom: 20px;
    }
    .past-tours .past-tour-row {
        height: 312px;
    }
    .tourname {
        font-size: 42px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .tourdate {
        font-size: 23px;
        margin-bottom: 15px;
    }
    .tour-fees-prizes .col-sm-6 {
        width: 45%;
        display: inline-block;
    }
    .tourfee, .tourprize {
        font-size: 32px;
        line-height: 50px;
        float: left;
        width: 100%;
        text-align: left;
    }
    .tourfeetitle, .tourprizetitle {
        font-size: 17px;
        text-align: left;
        line-height: 10px;
    }
    .countdown-info-text {
        width: 100%;
        padding-top: 5%;
        padding-left: 50px;
        padding-right: 15px;
    }
    .btn-wrapper {
        padding-left: 0;
    }
    .active-tours .btn-wrapper, .future-tours .btn-wrapper {
        top: 15px;
    }
    .future-tours .btn-wrapper {
        top: 10px;
    }
    .future-tours .btnmore, .future-tours .btnjoin {
        padding: 8px;
    }
    .active-tour-header h1,
    .active-tour-header h4 {
        padding: 0 15px;
    }
    #tournamentDetails {
        padding: 0 15px;
        width: 100%;
    }
    #tournamentDetails .well {
        padding: 15px 10px;
        border: none;
    }
    #tournamentDetails h1 {
        font-size: 1.8em;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .page-tournaments #content #tournamentDetails .tournamentDetailsInfo h1 {
        margin: 0;
        line-height: 75px;
    }
    #tournamentDetails table {
        margin: 0;
    }
    #tournamentDetails table td {
        padding: 10px;
    }
    .leaderboard-column {
        border: 0;
    }
    .leaderboard-header {
        padding-left: 0;
        font-size: 17px;
        padding-right: 0;
        border-bottom: none;
    }
    [data-column="nickname"],
    [data-column="balance"] {
        padding-left: 10px;
        padding-right: 0;
    }
    [data-column="prize"] {
        text-align: center;
    }
    .columnNickName, .columnBalance, .columnPrize {
        height: 25px;
        line-height: 24px;
    }
    .page-tournaments .leaderboard-title {
        text-align: center;
        display: none;
    }
    .tour-content .pageLink, .tour-content .nextPage, .tour-content .prevPage, .tour-content .nextPages {
        padding: 5px 10px;
    }
    .ui-dialog.ui-widget-content.jointournamentPopUp[aria-describedby="ui-id-1"] {
        top: 100px !important;
        z-index: 99999;
        height: 530px !important;
    }
    .tournaments-pop-container {
        height: 475.4px !important;
    }
    .infojoinbutton-container .btnjoin {
        width: 100%;
        font-size: 26px;
    }
    .mobile-counter-wrapper {
        padding-left: 45px;
        height: 105px;
    }
    .info-countdown {
        font-size: 42px;
        height: 42px;
        position: relative;
        text-align: left;
    }
    .info-countdown .col-xs-3 {
        padding: 0px;
        text-align: center;
    }
    .timer-labels {
        font-size: 15px;
    }
    .timer-labels > div {
        position: relative;
        text-align: center;
        padding: 0;
        top: 7px;
    }
    .infojoinbutton-container {
        width: 100%;
        padding-left: 20%;
        padding-right: 8%;
        padding-top: 5%;
    }
    .tournamentDetailsInfo .row .col-sm-6 .row {
        display: table-row;
    }
    .tournamentDetailsInfo .row .col-sm-6 .row .col-sm-3, 
    .tournamentDetailsInfo .row .col-sm-6 .row .col-sm-6, 
    .tournamentDetailsInfo .row .col-sm-6 .row .col-sm-9 {
        display: table-cell;
        padding: 0;
    }
    .tournamentDetailsInfo .row .col-sm-6 .row .col-sm-9 {
        padding-left: 60px;
    }
    .tournamentDetailsInfo .row .col-sm-6 .row .col-sm-6:nth-of-type(2) {
        padding-left: 10px;
    }
}
.tournament-name{
    font-family: 'Roboto-Bold';
    font-size: 40px;
    color: #525252;
    line-height: 40px;
    margin: 10px 0;
}
@media (max-width: 320px) {
    .timer-labels {
        font-size: 12px;
        font-weight: bolder;
    }
    .tournamentDetailsInfo .row .col-sm-6:first-of-type .row .col-sm-9 {
        padding-left: 50px;
    }
    .tournament-name {
        font-size: 32px;
    }
}
.portfolioModal .modal-content {
    padding: 20px;
}
.portfolioModal button.close {
    color: #fff;
}
.portfolioModal .modal-header {
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
}

.portfolioModal .modal-body {
    padding: 0;
    padding-top: 15px;
    color: white;
    font-size: 16px;
}

.portfolioModal .modal-footer {
    border-top: none;
    padding-left: 0;
}

.portfolioActionButton {
    background-color: rgba(60, 60, 60, 0.5);
    float: left;
    border: none;
}

.portfolioActionButton:hover, .portfolioActionButton:focus {
    background-color: rgba(60, 60, 60, 0.83);
    border: none;
}

.modal[data-style="confirm"] .modal-header, .modal[data-style="confirm"] .modal-body, .modal[data-style="confirm"] .modal-footer, .modal[data-style="confirm"] .modal-content {
    background: #47ad64;
    color: #fff;
}

.modal[data-style="error"] .modal-header, .modal[data-style="error"] .modal-body, .modal[data-style="error"] .modal-footer, .modal[data-style="error"] .modal-content {
    background: #a5564a;
    color: #fff;
}

@media (max-width: 768px) {
    .jointournamentPopUp .avatar-nickname, .jointournamentPopUp .tournament-name {
        text-align: center;
        margin-top: -10px;
    }
    .jointournamentPopUp .terms {
        height: 70px;
    }
    .tournaments-pop-container {
        height: 460px !important;
    }
    .entrytax-container {
        margin-top: 50px;
    }
    .terms-error {
        margin-top: 30px;
    }
    .tournaments-pop-container .joinbtn {
        margin-top: 5px;
    }
    .tour-fees-prizes .col-sm-6 {
        padding: 0;
    }
    [data-target="future"] .btnmore.halfWidth {
        padding: 13px;
    }
}