.spinner {
  width: 148px;
  font-size: 11px;
  position: relative;
  background-color: #43434e;
  outline: 0;
}
.spinner.spinner_disabled {
  outline: 0;
}
.spinner_disabled .disabled_spinner_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #393942;
  opacity: .5;
  z-index: 2;
}
.spinner-arrow {
  background-color: #43434e;
  border-left: 1px solid #303038;
  width: 20px;
  height: 15px;
  border-right: none;
  border-top: none;
  position: absolute;
  top: 2px;
  z-index: 1;
  -webkit-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  transition: opacity 0.1s linear;
}
.spinner .spinner-arrow:hover {
  opacity: 1;
  background-color: #595966;
  -webkit-transition: none;
  -o-transition: none;
  -moz-transition: none;
  transition: none;
}
.spinner.spinner_disabled .spinner-arrow {
  display: none;
}
.spinner-left {
  top: 16px;
  right: 0;
  border-bottom: none;
}
.spinner-right {
  border-bottom: 1px solid #303038;
  right: 0;
  top: 0;
}
.spinner input {
  width: 100%;
  height: 31px;
  line-height: 18px;
  padding: 3px 20px 3px 10px;
  position: relative;
  text-align: left;
  -webkit-transition: border-color 0.1s linear;
  -o-transition: border-color 0.1s linear;
  -moz-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.spinner:focus input,
.spinner:hover input,
.spinner input:focus {
  background-color: #50505c;
}
.spinner.spinner_disabled:focus input,
.spinner.spinner_disabled:hover input,
.spinner.spinner_disabled input:focus {
  background: #43434e !important;
}
.assetslist-tools {
  border-top: 1px solid #000000;
}
.assets-boxes,
.assets-list {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 50px;
  color: #5F738B;
  cursor: pointer;
  width: 49%;
}
.assets-boxes {
  border-right: 1px solid #000000;
}
.assets-boxes.active,
.assets-list.active {
  color: #e8e6f2;
}
.input-assetssearch {
  border: 1px solid #5C7289;
  padding: 10px;
  height: 30px;
  font-size: 14px;
  width: 100%;
}
.assetssearch-button {
  width: 81px;
  margin-left: -5px;
  position: relative;
  top: 1px;
  height: 31px;
  line-height: 30px;
  text-align: center;
  color: #FFF;
  font-family: 'lato-regular';
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  background-color: #f9a134;
  border-top: 1px solid #FF9223;
  border-bottom: 1px solid #171E26;
  -webkit-transition: background .2s ease;
  -o-transition: background .2s ease;
  -moz-transition: background .2s ease;
  transition: background .2s ease;
  border-radius: 3px;
  cursor: pointer;
}
.assetssearch-button:hover {
  background-color: #db851a;
}
.tradepanel-header-bar {
  height: 50px;
  line-height: 50px;
}
.assetsType-dropdown {
  position: absolute;
  height: 152px;
  width: 100%;
  border: solid 1px #000000;
  padding: 0;
  background: #2D3E50;
  z-index: 9;
  color: white;
}
.assettype-option {
  text-align: center;
  font-size: 13px;
  font-family: 'lato-regular';
  line-height: 25px;
  color: #ffffff;
  cursor: pointer;
}
.amount-dropdown {
  position: absolute;
  left: 4px;
  height: auto;
  width: 97%;
  border: solid 1px #242743;
  padding: 0;
  background: #2D3E50;
  z-index: 9;
  color: white;
  margin-top: 3px;
}
.amount-option {
  text-align: center;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.amount-option:hover {
  background-color: #f9a134;
}
.assettype-option:hover {
  background-color: #f9a134;
}
.assetssearch-option:hover {
  background-color: #f9a134;
}
.assetstype {
  font-size: 1px;
}
.forex-asset-boxesrow {
  margin: 0;
  border: 1px solid #000000;
  border-top: 1px solid #2D3E50;
}
.forex-cubses-name {
  text-align: center;
  margin: 5px 0;
}
.option-name {
  color: #e8e6f2;
  font-size: 14px;
  text-transform: uppercase;
}
.forex-cubses-rates {
  margin: 10px;
}
.forex-cubses-buyrates,
.forex-cubses-sellrates {
  height: 60px;
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  background-color: #00934F;
  -webkit-transition: background .2s ease;
  -o-transition: background .2s ease;
  -moz-transition: background .2s ease;
  transition: background .2s ease;
  border-radius: 3px;
  border-top: 1px solid #2FB368;
}
.forex-cubses-buyrates:hover,
.forex-cubses-sellrates:hover {
  background: #64d8b5;
}
.forex-cubses-buyrates.down,
.forex-cubses-sellrates.down {
  background-color: #AE1D2E;
  border-top: 1px solid #D42E42;
}
.forex-cubses-buyrates.down:hover,
.forex-cubses-sellrates.down:hover {
  background: #fe7c96;
}
.forex-cubses-buyrates {
  text-align: right;
  padding: 10px 10px 0 0;
  cursor: pointer;
}
.forex-cubses-sellrates {
  text-align: left;
  padding: 10px 0 0 10px;
  cursor: pointer;
}
.sell-label,
.buy-label {
  text-transform: uppercase;
}
.forex-amount {
  margin: 10px;
}
.boxes-amount {
  height: 28px;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  background-color: #2D3E50;
  -webkit-transition: background .2s ease;
  -o-transition: background .2s ease;
  -moz-transition: background .2s ease;
  transition: background .2s ease;
  border-radius: 3px;
  border-top: 1px solid #2D3E50;
  cursor: pointer;
}
.panel.chartpanel {
  background: #131B28;
  border-radius: 0;
  height: 693px;
  margin-left: 325px;
  margin-right: 350px;
  margin-bottom: 0;
  z-index: 2;
}
.orders-trades-table-wrapper {
  margin-bottom: 0;
  border-radius: 0;
  background: #131B28;
  padding: 5px;
}
#real-forex-tab-content {
  padding: 0;
}
#real-forex-orders-table thead tr th {
  background: none;
}
.account .tabHolder .closeAll.button {
  height: 25px;
  line-height: 25px;
  top: 6px;
  right: 0;
  font-size: 11px;
  position: absolute;
  background: #2F3E50;
  color: #fff;
}
.account .tabHolder .closeAll.button:hover {
  background: #fff;
  color: #2F3E50;
  cursor: pointer;
}
.account .tabHolder .closeAll.button.disabled {
  pointer-events: none;
  background: #2F3E50 !important;
  color: #657B99 !important;
}
.ui-dialog.forex-closeall-dialog {
  background-color: #182434;
  border: 1px solid #2E3D50;
  padding: 0;
  overflow: visible;
  border-radius: 0;
  cursor: default;
  top: 26px !important;
}
.ui-dialog.forex-closeall-dialog .ui-dialog-content {
  overflow: visible;
  padding: 0;
  background: #182434;
}
.ui-dialog.forex-closeall-dialog .ui-dialog-titlebar {
  height: 50px;
  border: 0;
  border-radius: 0;
  background: #121C28;
  border-bottom: 1px solid #2E3D50;
  cursor: default;
}
.ui-dialog.forex-closeall-dialog .ui-dialog-title {
  background-color: #FF9223;
  width: 130px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  position: absolute;
  top: -27px;
  left: -1px;
  font-size: 13px;
  font-family: 'lato-regular';
  float: left;
  margin: .1em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}
.ui-dialog.forex-closeall-dialog .forex-close-all {
  z-index: 1000;
}
.ui-dialog.forex-closeall-dialog .close-all-title {
  position: absolute;
  top: -34px;
  left: 17px;
  color: #647E99;
  line-height: 1.1;
  font-size: 16px;
}
.ui-dialog.forex-closeall-dialog .close-all-message-wrapper {
  color: #fff;
  padding: 17px;
  font-size: 14px;
  min-height: 160px;
}
.ui-dialog.forex-closeall-dialog .forex-confirm-buttons-wrapper {
  background-color: #131B28;
  box-sizing: border-box;
  height: 67px;
}
.ui-dialog.forex-closeall-dialog .forex-confirm-btn,
.ui-dialog.forex-closeall-dialog .forex-cancel-btn {
  width: 140px;
  height: 41px;
  line-height: 39px;
  text-transform: uppercase;
  font-size: 17px;
  font-family: 'lato-regular';
  margin: 13px 6px 10px 14px;
  background-color: #f9a134;
  border-top: 1px solid #FF9223;
  border-right: 1px solid #101721;
  border-left: 1px solid #101721;
  border-bottom: 1px solid #0E1116;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}
.ui-dialog.forex-closeall-dialog .forex-confirm-btn {
  margin: 10px 14px 10px 4px;
}
.ui-dialog.forex-closeall-dialog .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
  width: 11px;
  top: 29px;
}
#tradePanel {
  width: 320px;
  height: 100%;
  float: left;
  position: relative;
  background: #131B28;
  z-index: 4;
}
.assetssearch-options-container {
  padding: 0 10px;
}
.assetssearch-option {
  background: #2D3E50;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  font-family: 'lato-regular';
  padding-left: 15px;
}
.vertical-separator.trade-separator.closed .separator-arrow {
  border-left: 3px solid #637E99;
  border-right: transparent;
  left: 1px;
}
.sidepanel-tabs .tab-content {
  padding: 0;
  border: 1px solid #2D3E50;
  height: 95%;
}
h1.messages-title,
h1.news-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 17px;
  margin-top: 0;
  color: #667E98;
  padding-bottom: 20px;
  border-bottom: 1px solid #2D3E50;
  padding-top: 5px;
}
.homepage-newsfeed h3.widget-title {
  display: none;
}
.homepage-newsfeed .rss_image {
  height: 55px !important;
  width: 75px !important;
}
.homepage-newsfeed .title {
  font-size: 14px;
  font-family: 'lato-regular';
}
.homepage-newsfeed .title a {
  font-size: 14px;
  font-family: 'lato-regular';
  font-weight: normal;
  color: #637E99;
}
.homepage-newsfeed .title a:hover {
  color: #FFFFFF;
}
.feedzy-rss .rss_item .rss_content small {
  display: none !important;
}
.feedzy-rss .rss_item .rss_content p {
  display: none;
}
.feedzy-rss .rss_item {
  border-bottom: 1px solid #2D3E50 !important;
}
.feedzy-rss > ul li.rss_item:last-of-type {
  border-bottom: 0 !important;
}
.nav.right-sidebar-nav {
  position: relative;
  height: 36px;
}
.nav.right-sidebar-nav li {
  width: 36px;
  height: 36px;
  display: inline-block;
}
.nav.right-sidebar-nav li a {
  height: 100%;
}
.nav.right-sidebar-nav li a:hover,
.nav.right-sidebar-nav li a:focus {
  background: transparent;
}
.messages-tab {
  background: transparent url('/wp-content/themes/tol-child/images/mail.png') no-repeat center;
}
.messages-tab.active {
  background: transparent url('/wp-content/themes/tol-child/images/mail_h.png') no-repeat center;
}
.news-tab {
  background: transparent url('/wp-content/themes/tol-child/images/news.png') no-repeat center;
}
.news-tab.active {
  background: transparent url('/wp-content/themes/tol-child/images/news_h.png') no-repeat center;
}
.videos-tab {
  background: transparent url('/wp-content/themes/tol-child/images/videos.png') no-repeat center;
}
.videos-tab.active {
  background: transparent url('/wp-content/themes/tol-child/images/videos_h.png') no-repeat center;
}
.summary-tab {
  background: transparent url('/wp-content/themes/tol-child/images/summary.png') no-repeat center;
}
.summary-tab.active {
  background: transparent url('/wp-content/themes/tol-child/images/summary_h.png') no-repeat center;
}
.calendar-tab {
  background: transparent url('/wp-content/themes/tol-child/images/calendar.png') no-repeat center;
}
.calendar-tab.active {
  background: transparent url('/wp-content/themes/tol-child/images/calendar_h.png') no-repeat center;
}
.signals-tab {
  background: transparent url('/wp-content/themes/tol-child/images/signals.png') no-repeat center;
}
.signals-tab.active {
  background: transparent url('/wp-content/themes/tol-child/images/signals_h.png') no-repeat center;
}
.nav.right-sidebar-nav li a.active {
  border: 1px solid #2D3E50;
  border-bottom: 1px solid #131B28;
  position: relative;
  top: 1px;
  z-index: 2;
}
.sidepanel-tabs:focus {
  outline: none;
}
.tol-messages-sidebar,
.tol-news-sidebar {
  padding: 15px 5px;
}
table#tol-messageInbox th,
table#tol-messageInbox tr.inboxRow {
  background: transparent;
  font-size: 13px;
}
table#tol-messageInbox > tbody > tr > td {
  border-bottom: 1px solid #2D3E50;
  border-top: 1px solid #2D3E50;
  padding: 0 8px;
  height: 38px;
  line-height: 38px;
  font-weight: 700;
  font-family: 'robotolight';
  font-size: 13px;
}
#tol-messageInbox {
  margin-bottom: 0;
  color: #667E98;
}
table#tol-messageInbox > thead > tr > th:nth-child(1),
table#tol-messageInbox > tbody > tr > td:nth-child(1) {
  text-align: left;
  max-width: 139px;
  overflow: hidden;
  white-space: nowrap;
}
table#tol-messageInbox > thead > tr > th:nth-child(2),
table#tol-messageInbox > tbody > tr > td:nth-child(2) {
  text-align: right;
}
table#tol-messageInbox tr:hover {
  cursor: pointer;
}
table#tol-messageInbox tr:hover td {
  background-color: transparent !important;
  color: #FFF;
}
.side-separator {
  right: 320px;
  height: 100%;
}
.vertical-separator.side-separator .separator-collapse .separator-arrow {
  border-left: 3px solid #637E99;
  border-right: transparent;
  top: 12px;
}
.vertical-separator.side-separator.closed .separator-collapse .separator-arrow {
  border-right: 3px solid #637E99;
  border-left: transparent;
  left: 1px;
}
.trade-separator {
  top: 0;
}
.ui-widget-overlay {
  display: none;
  background: #000;
  opacity: .6;
  z-index: 99;
}
.ui-dialog.forex-neworder-dialog {
  background-color: #182434;
  border: 1px solid #2E3D50;
  padding: 0;
  overflow: visible;
  border-radius: 0;
  cursor: default;
  top: 100px !important;
  /* Buy & Sell radio buttons*/
}
.ui-dialog.forex-neworder-dialog .ui-dialog-content {
  overflow: visible;
  padding: 0;
  background: #182434;
}
.ui-dialog.forex-neworder-dialog .ui-dialog-titlebar {
  height: 50px;
  border: 0;
  border-radius: 0;
  background: #121C28;
  border-bottom: 1px solid #2E3D50;
  cursor: default;
}
.ui-dialog.forex-neworder-dialog .ui-dialog-title {
  background-color: #f9a134;
  width: 103px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  position: absolute;
  top: -27px;
  left: -1px;
  font-size: 13px;
  font-family: 'lato-regular';
}
.ui-dialog.forex-neworder-dialog input[type=checkbox] {
  display: none;
}
.ui-dialog.forex-neworder-dialog input[type=checkbox] + label {
  background: transparent url('/wp-content/themes/tol-child/images/checkbox.png') no-repeat top;
  height: 17px;
  width: 17px;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  position: relative;
  top: 13px;
}
.ui-dialog.forex-neworder-dialog input[type=checkbox]:checked + label {
  background: transparent url('/wp-content/themes/tol-child/images/checkbox.png') no-repeat bottom;
}
.ui-dialog.forex-neworder-dialog .forex-new-order {
  z-index: 1000;
}
.ui-dialog.forex-neworder-dialog .forex-ordertypes {
  width: 100%;
}
.ui-dialog.forex-neworder-dialog .profit-loss-row,
.ui-dialog.forex-neworder-dialog .order-info-control {
  display: inline-block;
  width: 100%;
  color: #5D758D;
  min-height: 45px;
  border-top: 1px solid #2D3E50;
  border-bottom: 1px solid #0E1319;
}
.ui-dialog.forex-neworder-dialog .profit-loss-row > div:nth-child(1),
.ui-dialog.forex-neworder-dialog .profit-loss-row > div:nth-child(2),
.ui-dialog.forex-neworder-dialog .order-info-control > div:nth-child(1) {
  width: 50%;
  display: inline-block;
  padding-left: 28px;
}
.ui-dialog.forex-neworder-dialog .forex-pendingorder-controls {
  display: none;
  width: 100%;
  color: #5D758D;
  min-height: 45px;
  border-top: 1px solid #2D3E50;
  border-bottom: 1px solid #0E1319;
}
.ui-dialog.forex-neworder-dialog .pending-sell-label,
.ui-dialog.forex-neworder-dialog .pending-buy-label {
  text-transform: uppercase;
  padding-left: 18px;
  font-weight: normal;
  position: relative;
  z-index: 6;
  cursor: pointer;
}
.ui-dialog.forex-neworder-dialog .pending-buy-price,
.ui-dialog.forex-neworder-dialog .pending-sell-price {
  display: inline-block;
  margin-left: 10px;
}
.ui-dialog.forex-neworder-dialog .forex-takeprofit,
.ui-dialog.forex-neworder-dialog .forex-stoploss,
.ui-dialog.forex-neworder-dialog .order-info-title {
  display: inline-block;
  text-align: center;
  padding: 0 7px;
  font-size: 14px;
  position: relative;
  top: 5px;
}
.ui-dialog.forex-neworder-dialog .forex-confirm-buttons-wrapper {
  background-color: #131B28;
  box-sizing: border-box;
  height: 67px;
}
.ui-dialog.forex-neworder-dialog .forex-sell-btn,
.ui-dialog.forex-neworder-dialog .forex-buy-btn,
.ui-dialog.forex-neworder-dialog .forex-confirm-btn,
.ui-dialog.forex-neworder-dialog .forex-place-btn {
  width: 140px;
  height: 41px;
  line-height: 39px;
  text-transform: uppercase;
  font-size: 17px;
  font-family: 'lato-regular';
  margin: 13px 6px 10px 14px;
  background-color: #f9a134;
  border-top: 1px solid #FF9223;
  border-right: 1px solid #101721;
  border-left: 1px solid #101721;
  border-bottom: 1px solid #0E1116;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}
.ui-dialog.forex-neworder-dialog .forex-buy-btn {
  margin: 10px 14px 10px 4px;
}
.ui-dialog.forex-neworder-dialog .forex-sell-btn:hover,
.ui-dialog.forex-neworder-dialog .forex-buy-btn:hover,
.ui-dialog.forex-neworder-dialog .forex-confirm-btn:hover,
.ui-dialog.forex-neworder-dialog .forex-place-btn:hover {
  background-color: #00a5ff;
}
.ui-dialog.forex-neworder-dialog .forex-confirm-btn,
.ui-dialog.forex-neworder-dialog .forex-place-btn {
  width: 290px;
}
.ui-dialog.forex-neworder-dialog .forex-asset-name,
.ui-dialog.forex-neworder-dialog .forex-ordertypes {
  color: #647E99;
}
.ui-dialog.forex-neworder-dialog .forex-market,
.ui-dialog.forex-neworder-dialog .forex-pending {
  display: inline-block;
  width: 50%;
  height: 35px;
  line-height: 35px;
  background-color: #131B28;
  border: 1px solid #2D3E50;
  border-top: 0;
  padding: 0 0 0 28px;
  cursor: pointer;
}
.ui-dialog.forex-neworder-dialog .forex-market {
  border-left: 0;
  border-right: 0;
}
.ui-dialog.forex-neworder-dialog .forex-market.disabled {
  pointer-events: none;
  color: #131B28;
}
.ui-dialog.forex-neworder-dialog .forex-pending {
  border-right: 0;
  padding: 0 0 0 12px;
}
.ui-dialog.forex-neworder-dialog .forex-pending.disabled {
  text-indent: -9999px;
}
.ui-dialog.forex-neworder-dialog .forex-market.active,
.ui-dialog.forex-neworder-dialog .forex-pending.active {
  color: white;
  background-color: #182434;
  border-bottom: 0;
}
.ui-dialog.forex-neworder-dialog .forex-quantity-wrapper {
  width: 100%;
  padding: 13px 28px;
  border-bottom: 1px solid #0E1319;
}
.ui-dialog.forex-neworder-dialog .quantiryddl {
  width: 100%;
  height: 31px;
  line-height: 31px;
  text-align: center;
  font-family: 'lato-regular';
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  background: #2d3e50 url(/wp-content/themes/tol-child/images/ddl_arrow.png) no-repeat 240px center;
  -webkit-transition: background .2s ease;
  -o-transition: background .2s ease;
  -moz-transition: background .2s ease;
  transition: background .2s ease;
  border-radius: 3px;
  border-top: 1px solid #3E4F61;
  border-bottom: 1px solid #11151E;
  cursor: pointer;
  color: white;
}
.ui-dialog.forex-neworder-dialog .quantiryddl:hover {
  background: #2d3e50 url(/wp-content/themes/tol-child/images/ddl_arrow.png) no-repeat 240px center;
}
.ui-dialog.forex-neworder-dialog input.quantiryddl {
  background: #2D3E50;
}
.ui-dialog.forex-neworder-dialog input.quantiryddl:hover {
  background: #2D3E50;
}
.ui-dialog.forex-neworder-dialog .quantity-label {
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
  color: #647E99;
}
.ui-dialog.forex-neworder-dialog .forex-controls-wrapper {
  display: none;
  color: white;
  padding: 15px 28px;
}
.ui-dialog.forex-neworder-dialog .controls-takeprofit,
.ui-dialog.forex-neworder-dialog .controls-titles,
.ui-dialog.forex-neworder-dialog .controls-stoploss {
  display: inline-block;
}
.ui-dialog.forex-neworder-dialog .controls-titles {
  width: 62px;
  vertical-align: top;
}
.ui-dialog.forex-neworder-dialog .rate-title,
.ui-dialog.forex-neworder-dialog .distance-title,
.ui-dialog.forex-neworder-dialog .amount-title {
  text-align: center;
  padding: 6px;
  margin-bottom: 14px;
  color: #5D758D;
  font-size: 13px;
  text-transform: lowercase;
  font-family: 'Lato-Bold';
}
.ui-dialog.forex-neworder-dialog .controls-takeprofit,
.ui-dialog.forex-neworder-dialog .controls-stoploss,
.ui-dialog.forex-neworder-dialog .input-group.spinner {
  width: 100px;
}
.ui-dialog.forex-neworder-dialog .input-group.spinner {
  width: 100px;
  height: 30px;
  margin-bottom: 14px;
  background: #182434;
}
.ui-dialog.forex-neworder-dialog .forex-amount-input .input-group.spinner,
.ui-dialog.forex-neworder-dialog .amount-title {
  margin-bottom: 0;
}
.ui-dialog.forex-neworder-dialog .spinner input {
  text-align: right;
  height: 29px;
  background: transparent;
  color: #Ffffff;
  border-color: #2D3E50;
}
.ui-dialog.forex-neworder-dialog .input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 15px;
  vertical-align: middle;
  display: table-cell;
  background: #182434;
}
.ui-dialog.forex-neworder-dialog .input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 7px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.ui-dialog.forex-neworder-dialog .input-group-btn-vertical > .btn:focus {
  outline: none;
}
.ui-dialog.forex-neworder-dialog .input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
  background: #182434 url(/wp-content/themes/tol-child/images/spinner_up.png) no-repeat center;
  width: 16px;
  height: 14px;
  border: 0;
  box-shadow: none;
  padding: 0;
}
.ui-dialog.forex-neworder-dialog .input-group-btn-vertical > .btn:last-child {
  border-bottom-right-radius: 4px;
  background: #182434 url(/wp-content/themes/tol-child/images/spinner_down.png) no-repeat center;
  width: 16px;
  height: 16px;
  border: 0;
  box-shadow: none;
  padding: 0;
}
.ui-dialog.forex-neworder-dialog .quantity-dropdown {
  height: 80px;
  width: 100%;
  padding: 0;
  background: #2D3E50;
  margin-top: -1px;
  text-align: center;
  line-height: 20px;
  font-weight: 600;
  color: #a5a2b3;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 9;
  position: relative;
}
.ui-dialog.forex-neworder-dialog .quantity-option:hover {
  font-weight: bold;
  color: white;
}
.ui-dialog.forex-neworder-dialog .order-info-wrapper {
  display: none;
  color: #5D758D;
  padding: 0 28px 15px;
  font-size: 13px;
}
.ui-dialog.forex-neworder-dialog .order-info-titles,
.ui-dialog.forex-neworder-dialog .order-info-margin,
.ui-dialog.forex-neworder-dialog .order-info-swap,
.ui-dialog.forex-neworder-dialog .order-info-pip {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #647E99;
}
.ui-dialog.forex-neworder-dialog .market-active .forex-rate-input,
.ui-dialog.forex-neworder-dialog .market-active .rate-title,
.ui-dialog.forex-neworder-dialog .market-active .forex-rate-input,
.ui-dialog.forex-neworder-dialog .market-active .forex-place-btn {
  display: none;
}
.ui-dialog.forex-neworder-dialog .pending-active .forex-place-btn {
  display: inline-block;
}
.ui-dialog.forex-neworder-dialog .pending-active .forex-buy-btn,
.ui-dialog.forex-neworder-dialog .pending-active .forex-sell-btn {
  display: none;
}
.ui-dialog.forex-neworder-dialog .ui-state-default.ui-dialog-titlebar-close {
  background: #182434 url(/wp-content/themes/tol-child/images/close_btn.png) no-repeat top;
  width: 7px;
  height: 7px;
  border: 0;
  right: 10px;
  top: 30px;
}
.ui-dialog.forex-neworder-dialog .ui-state-default.ui-dialog-titlebar-close:hover {
  background: #182434 url(/wp-content/themes/tol-child/images/close_btn.png) no-repeat bottom;
  width: 7px;
  height: 7px;
  border: 0;
}
.ui-dialog.forex-neworder-dialog .forex-pending-sell-row,
.ui-dialog.forex-neworder-dialog .forex-pending-buy-row {
  position: relative;
  height: 36px;
  line-height: 36px;
}
.ui-dialog.forex-neworder-dialog .forex-pending-sell-row > div,
.ui-dialog.forex-neworder-dialog .forex-pending-buy-row > div {
  display: inline-block;
  width: 50%;
  padding-left: 28px;
  vertical-align: top;
}
.ui-dialog.forex-neworder-dialog .forex-pendingorder-controls .check {
  display: block;
  position: absolute;
  border: 2px solid #2C3C4C;
  border-radius: 100%;
  height: 13px;
  width: 13px;
  top: 11px;
  left: 28px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}
.ui-dialog.forex-neworder-dialog .forex-pendingorder-controls input[type=radio] {
  position: absolute;
  visibility: hidden;
}
.ui-dialog.forex-neworder-dialog .forex-pendingorder-controls .forex-pending-sell-row > div:nth-child(1):hover .check,
.ui-dialog.forex-neworder-dialog .forex-pendingorder-controls .forex-pending-buy-row > div:nth-child(1):hover .check {
  border: 2px solid #FFFFFF;
}
.ui-dialog.forex-neworder-dialog .forex-pendingorder-controls .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 5px;
  width: 5px;
  top: 2px;
  left: 2px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
.ui-dialog.forex-neworder-dialog .forex-pendingorder-controls input[type=radio]:checked ~ .check,
.ui-dialog.forex-neworder-dialog .forex-pendingorder-controls input[type=radio][checked=checked] ~ .check,
.ui-dialog.forex-neworder-dialog .forex-pendingorder-controls input[type=radio][checked=true] ~ .check {
  border: 2px solid #2C3C4C;
}
.ui-dialog.forex-neworder-dialog .forex-pendingorder-controls input[type=radio]:checked ~ .check::before,
.ui-dialog.forex-neworder-dialog .forex-pendingorder-controls input[type=radio][checked=checked] ~ .check::before,
.ui-dialog.forex-neworder-dialog .forex-pendingorder-controls input[type=radio][checked=true] ~ .check::before {
  background: #FFFFFF;
}
.ui-dialog.forex-neworder-dialog .forex-pendingorder-controls input[type=radio]:checked ~ label,
.ui-dialog.forex-neworder-dialog .forex-pendingorder-controls input[type=radio][checked=checked] ~ label,
.ui-dialog.forex-neworder-dialog .forex-pendingorder-controls input[type=radio][checked=true] ~ label {
  color: #FFFFFF;
}
.forex-amount-input .currencySymbol {
  display: none;
}
.spinner input[data-slamount="stoploss"],
.spinner input[data-tpamount="takeprofit"] {
  padding-left: 12px;
}
.amount-spinner-wrapper:before {
  position: absolute;
  top: 7px;
  content: attr(data-content);
  left: 8px;
}
.ui-dialog.forex-neworder-dialog .quantiryddl.disabled {
  pointer-events: none;
  text-align: right;
  padding-right: 10px;
  background: #2d3e50;
}
/*Forex New Order PopUp*/
.title-title,
.title-sell,
.title-buy,
.title-margin,
.margin-sell,
.margin-buy,
.title-swap,
.swap-sell,
.swap-buy,
.title-pip,
.pip-sell,
.pip-buy {
  display: inline-block;
  color: #647E99;
  width: 80px;
  text-align: center;
}
.title-margin,
.title-swap,
.title-pip,
.title-title {
  width: 100px;
  text-align: left;
}
.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}
.input-spinner-element {
  color: white;
  background-color: #647E99;
  padding: 0;
  border: 0;
}
.input-spinners {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.input-spinnersui-spinner .ui-widget ui-widget-content ui-corner-all {
  padding: 0;
  margin: 0;
  border: 0;
}
.input-spinners:focus {
  background: transparent;
}
.spinner:focus input,
.spinner:hover input,
.spinner input:focus {
  background: #182434;
}
.notifyjs-corner {
  z-index: 99999999 !important;
  top: 57px !important;
  margin: 0 !important;
}
.notifyjs-corner .notifyjs-wrapper,
.notifyjs-corner .notifyjs-container {
  margin-right: 0 !important;
}
.notifyjs-positive-base {
  width: 340px;
  height: 100px;
  background: #f9a134 url(/wp-content/themes/tol-child/images/order_executed.png) no-repeat 15px center;
  border: 1px solid #000000;
}
.notifyjs-neutral-base {
  width: 340px;
  height: 85px;
  background: rebeccapurple;
}
.notifyjs-negative-base {
  width: 340px;
  height: 100px;
  background: #ff0000 url(/wp-content/themes/tol-child/images/order_failed.png) no-repeat 15px center;
  border: 1px solid #000000;
}
.ui-dialog.forex-neworder-dialog .asset-orderid {
  position: absolute;
  top: -34px;
  left: 28px;
  color: #647E99;
  line-height: 1.1;
}
.ui-dialog.forex-neworder-dialog .forex-orderid {
  font-size: 11px;
  padding-left: 2px;
}
@media (max-device-width: 350px) {
  .notifyjs-positive-base,
  .notifyjs-neutral-base,
  .notifyjs-negative-base {
    width: 100% !important;
  }
  .notifyjs-positive-base .title,
  .notifyjs-neutral-base .title,
  .notifyjs-negative-base .title {
    font-size: 20px !important;
  }
}
.loadingTransperant {
  margin-left: 5px;
  height: 11px;
  width: 44px;
  overflow: hidden;
  border: 0;
}
#notification-content {
  padding: 5px;
  padding-top: 25px;
  cursor: pointer;
}
.notification-close {
  width: 20px;
  height: 20px;
  text-align: center;
  float: right;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
}
.popover {
  border: 1px solid #f9a134;
  padding: 0;
}
.popover.left {
  margin-left: -10px;
  top: -27px !important;
}
.popover.right {
  color: white;
}
.popover.left > .arrow {
  top: 50% !important;
}
.popover.left > .arrow:after {
  border-left-color: #f9a134;
}
.popover.bottom > .arrow:after {
  border-bottom-color: #f9a134;
}
.popover-content {
  background: #f9a134;
  border: 1px solid #f9a134;
  border-radius: 3px;
}
.notifyjs-positive-base .title,
.notifyjs-neutral-base .title,
.notifyjs-negative-base .title {
  font-family: Roboto;
  color: white;
  font-size: 23px;
  line-height: 14px;
}
.notifyjs-positive-base .content,
.notifyjs-neutral-base .content,
.notifyjs-negative-base .content {
  font-family: Roboto;
  color: white;
  font-size: 13px;
  margin-top: 0;
  opacity: 0.8;
  padding-left: 70px;
}
.notification-header {
  font-family: 'lato-regular';
  font-size: 17px;
  text-transform: uppercase;
}
.notification-body {
  font-size: 15px;
  font-family: lato-light;
}
.column-settings .multiple-selection {
  display: none;
}
.column-settings.show .multiple-selection {
  display: block;
  right: 0;
  bottom: 33px;
}
.column-settings .btn-wrapper.navigation {
  background: #273747;
  padding: 10px 7px 5px;
  height: 49px;
}
.column-settings .btn-wrapper.navigation .nav-button {
  width: 100%;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  font-size: 12px;
  cursor: pointer;
  background: #4E6074;
  border-top: 1px solid #6F8195;
  border-bottom: 1px solid #151C24;
  box-shadow: 0 2px 2px 0 rgba(37, 50, 66, 0.2), 0 1px 16px 0 rgba(37, 50, 66, 0.19);
}
.column-settings .btn-wrapper.navigation .nav-button:hover {
  background: #5a5866;
  border-top-color: #000;
}
.statusbar .statusbar-item .currentTimeWidget.value,
.utctime.label {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
.account .column-settings {
  display: none;
}
.account.orders-active .column-settings.taborders {
  display: block;
}
.account.positions-active .column-settings.tabpositions {
  display: block;
}
.dataTable table td.order-date {
  white-space: pre-wrap;
  line-height: 16px;
}
.td-market-rate.up {
  background: #131b28 url(/wp-content/themes/tol-child/images/arrow_green.png) no-repeat left center;
  padding-left: 15px;
}
.td-market-rate.down {
  background: #131b28 url(/wp-content/themes/tol-child/images/arrow_red.png) no-repeat left center;
  padding-left: 15px;
}
.dataTable table td.td-buttons {
  text-align: right;
  padding-right: 12px;
}
.forex-cubses-name {
  cursor: pointer;
}
.forexCancelBtn {
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
  background: transparent url(/wp-content/themes/tol-child/images/positions_close.png) no-repeat left top;
}
.forexCancelBtn:hover {
  background: transparent url(/wp-content/themes/tol-child/images/positions_close.png) no-repeat left bottom;
}
.forexEditBtn {
  width: 11px;
  height: 11px;
  display: inline-block;
  cursor: pointer;
  background: transparent url(/wp-content/themes/tol-child/images/positions_edit.png) no-repeat left top;
}
.forexEditBtn:hover {
  background: transparent url(/wp-content/themes/tol-child/images/positions_edit.png) no-repeat left bottom;
}
.demo-user,
.real-user,
.page-traderoom .pagination-wrapper {
  display: none;
}
.page-traderoom #tol-trades-popup .pagination-wrapper {
  display: block;
}
.tradepanel-title.assetstype > span {
  font-family: 'lato-light';
  display: inline-block;
  padding-right: 15px;
  background: transparent url(/wp-content/themes/tol-child/images/ddl_arrow.png) no-repeat right 23px;
}
.tradepanel-title.assetstype > span:hover {
  background: transparent url(/wp-content/themes/tol-child/images/ddl_arrow_active.png) no-repeat right 23px;
}
.asset-table-settings-icon {
  position: absolute;
  height: 27px;
  width: 27px;
  right: 10px;
  top: 25%;
  z-index: 3;
  cursor: pointer;
}
.asset-table-settings-icon .asset-table-settings-outer {
  display: none;
}
.asset-table-settings-icon .onoffswitch {
  width: 60px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: relative;
  top: 10px;
  float: right;
  margin-right: 12px;
}
.asset-table-settings-icon .onoffswitch-checkbox {
  display: none;
}
.asset-table-settings-icon .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  height: 22px;
}
.asset-table-settings-icon .onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.asset-table-settings-icon .onoffswitch-inner:before,
.asset-table-settings-icon .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 12px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.asset-table-settings-icon .onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #131B27;
  color: #FFFFFF;
}
.asset-table-settings-icon .onoffswitch-inner:after {
  content: "OFF";
  padding-right: 7px;
  background-color: #131B27;
  color: #FFFFFF;
  text-align: right;
}
.asset-table-settings-icon .onoffswitch-switch {
  display: block;
  width: 15px;
  margin: 4px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 13px;
  right: 36px;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.asset-table-settings-icon .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.asset-table-settings-icon .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}
.asset-table-settings-icon .settings {
  width: 17px;
  height: 17px;
  position: relative;
  top: 5px;
  left: 5px;
  background: transparent url(/wp-content/themes/tol-child/images/settings.png) no-repeat top;
  border: none;
}
.asset-table-settings-icon .settings:hover {
  background: transparent url(/wp-content/themes/tol-child/images/settings.png) no-repeat bottom;
}
.asset-table-settings-icon.show .settings {
  background: transparent url(/wp-content/themes/tol-child/images/settings.png) no-repeat bottom;
}
.asset-table-settings-icon.show .asset-table-settings-outer {
  display: block;
  position: absolute;
  width: 302px;
  background: transparent;
  left: 10px;
  top: -17px;
}
.asset-table-settings-icon.show .asset-table-settings-outer .asset-table-settings-content {
  border: 1px solid #2E3D4F;
  width: 275px;
  background: #1A2434;
  position: relative;
  float: right;
}
.asset-table-settings-icon.show .asset-table-settings-outer .asset-table-settings-content .asset-table-settings-title {
  color: #637E99;
  height: 43px;
  line-height: 43px;
  padding-left: 12px;
  font-size: 14px;
  font-family: 'lato-regular';
}
.asset-table-settings-icon.show .asset-table-settings-outer .asset-table-settings-content .row-settings {
  border-bottom: 1px solid #2E3D4F;
  border-top: 1px solid #2E3D4F;
  background: #131B27;
  padding-left: 12px;
  font-size: 14px;
  font-family: 'lato-regular';
  height: 43px;
  line-height: 43px;
}
.asset-table-settings-icon.show .asset-table-settings-outer .asset-table-settings-content .row-settings > div:nth-child(1) {
  display: inline-block;
  width: 60%;
}
.asset-table-settings-icon.show .asset-table-settings-outer .asset-table-settings-content .asset-table-settings-info {
  padding: 12px;
  color: #637E99;
  font-size: 12px;
  font-family: 'lato-regular';
}
.tol-no-options {
  padding: 15px;
  font-family: 'lato-regular';
  font-size: 16px;
  position: absolute;
  margin-top: 25px;
}
.exchangeCancelbtn {
  background: url(/wp-content/themes/tol-child/images/close_icon.png);
  height: 14px;
  width: 14px;
}
.exchangeEditlbtn {
  background: url(/wp-content/themes/tol-child/images/edit_icon.png);
  height: 14px;
  width: 14px;
  margin-left: 10px;
}
@media (max-width: 1600px) {
  .equity-container {
    padding-right: 10px;
  }
}
@media (width: 1024px) {
  .sidepanel-tabs,
  .side-separator {
    display: none;
  }
  .orders-trades-table-wrapper {
    top: 349px;
    height: 310px;
    padding: 5px;
  }
  .orders-trades-table-wrapper .scrollable-area {
    height: 235px;
  }
  .panel.chartpanel {
    width: 744px;
    height: 345px;
  }
  .contextmenu .item {
    padding: 5px 15px 5px 60px;
  }
  .trade-separator {
    height: 649px !important;
  }
  .equity-container {
    padding: 17px 0 17px 280px;
  }
  .equity-item {
    width: auto;
    padding: 0;
  }
  .equity-item .value {
    font-size: 12px;
  }
  .equity-item .label {
    font-size: 13px;
    padding: 0 .1em;
  }
  .equity-item .margin-indicator {
    width: 50px;
  }
  .dataTable table td .cellWrapper,
  .dataTable table th .cellWrapper,
  .dataTable table td,
  .dataTable table th {
    font-size: 12px;
    padding: 4px;
  }
  .tradebox-compact-view {
    padding: 0 5px;
    height: 40px;
  }
  .tradebox-compact-view .tradebox-compact-instrument-name,
  .tradebox-compact-view .buy-sell-price-container {
    font-size: 12px;
  }
  .buy-sell-spread {
    font-size: 10px;
  }
  .tradepanel-control-bar {
    height: 30px;
  }
  .assets-boxes,
  .assets-list,
  .tradepanel-control-bar .tradepanel-title {
    line-height: 30px;
  }
  .tradepanel-header-bar {
    line-height: 30px;
    height: 30px;
  }
  .asset-table-left {
    height: 545px;
  }
  .chart-separator {
    display: none;
  }
  #layout {
    height: 649px !important;
  }
  .asset-table-settings-icon {
    right: 10px;
    top: 1px;
  }
  .tradepanel-title.assetstype > span {
    background: transparent url(/wp-content/themes/tol-child/images/ddl_arrow.png) no-repeat right center;
  }
}
@media (width: 768px) {
  .orders-trades-table-wrapper {
    z-index: 4;
  }
  .asset-table-settings-icon {
    right: 10px;
    top: 1px;
  }
  .tradepanel-title.assetstype > span {
    background: transparent url(/wp-content/themes/tol-child/images/ddl_arrow.png) no-repeat right center;
  }
  .sidepanel-tabs,
  .side-separator {
    display: none;
  }
  .orders-trades-table-wrapper {
    top: 555px;
    height: 330px;
    padding: 5px;
    left: 0;
  }
  .orders-trades-table-wrapper .scrollable-area {
    height: 280px;
  }
  .panel.chartpanel {
    width: 488px;
    height: 551px;
  }
  .contextmenu .item {
    padding: 5px 15px 5px 60px;
  }
  .trade-separator {
    height: 551px !important;
  }
  .equity-container {
    padding: 17px 0 0 150px;
  }
  .equity-item {
    width: 30%;
  }
  .equity-item .label {
    font-size: 13px;
  }
  .equity-item.margin-item {
    width: 45%;
  }
  .equity-item.avbalance-item {
    width: 51%;
  }
  .dataTable table td .cellWrapper,
  .dataTable table th .cellWrapper,
  .dataTable table td,
  .dataTable table th {
    font-size: 12px;
    padding: 4px;
  }
  .tradebox-compact-view {
    padding: 0 5px;
    height: 40px;
  }
  .tradebox-compact-view .tradebox-compact-instrument-name,
  .tradebox-compact-view .buy-sell-price-container {
    font-size: 12px;
  }
  .buy-sell-spread {
    font-size: 10px;
  }
  .tradepanel-control-bar {
    height: 30px;
  }
  .assets-boxes,
  .assets-list,
  .tradepanel-control-bar .tradepanel-title {
    line-height: 30px;
  }
  .tradepanel-header-bar {
    line-height: 30px;
    height: 30px;
  }
  .asset-table-left {
    height: 462px;
    border-bottom: 0;
  }
  .chart-separator {
    display: none;
  }
  #layout {
    height: 905px !important;
  }
  #tradePanel {
    height: 551px;
  }
  .statusbar {
    height: 82px;
  }
  .statusbar .fleft {
    height: 82px;
    width: 150px;
  }
  .statusbar .statusbar-item.account-type,
  .statusbar .current-time {
    text-align: center;
    width: 100%;
  }
  .equity-content {
    white-space: normal;
  }
}
.option-direction.up {
  background-image: url(/wp-content/themes/tol-child/images/arrow_green.png);
  background-repeat: no-repeat;
  background-position: top;
  height: 15px;
  width: 36px;
  margin: 0 0 5px 0;
  display: inline-block;
}
.option-direction.down {
  background-image: url(/wp-content/themes/tol-child/images/arrow_red.png);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 15px;
  width: 36px;
  margin: 3px 0 2px 0;
  display: inline-block;
}
.buy-sell-spread {
  width: 100%;
  display: inline-block;
  padding-left: 0;
  font-size: 11px;
}
.spread-holder {
  width: 40px;
  text-align: center;
  float: left;
  display: inline-block;
  padding: 0 2px;
}
.forex-cubses-rates .option-direction.down,
.forex-cubses-rates .option-direction.up {
  height: 20px;
}
.forex-cubses-rates .spread-holder {
  margin-top: 10px;
}
.boxes-amount {
  cursor: default;
  background: #2d3e50 url(/wp-content/themes/tol-child/images/locked_ddl.png) no-repeat 10px 7px;
}
.locked .boxes-amount {
  cursor: pointer;
  background: #2d3e50 url(/wp-content/themes/tol-child/images/ddl_arrow.png) no-repeat 240px 10px;
}
.boxes-amount:hover {
  background: #2d3e50 url(/wp-content/themes/tol-child/images/locked_ddl_h.png) no-repeat 10px 7px;
}
.locked .boxes-amount:hover {
  cursor: pointer;
  background: #2d3e50 url(/wp-content/themes/tol-child/images/ddl_arrow_active.png) no-repeat 240px 10px;
}
.asset-search-bar {
  height: 75px;
  padding: 23px 15px;
  background: #2D3E50;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.dataTable i {
  position: relative;
  display: inline-block;
  margin: 0 2px;
  width: 5px;
  height: 11px;
  border-radius: 2px;
  border: solid #3394FD;
  border-width: 0 1px 1px 0;
  background: #f9a134;
  animation: tilt infinite 5s cubic-bezier(0.955, -0.01, 1, 1);
  transform-origin: 100% 100%;
}
.dataTable i::before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  display: block;
  width: 5px;
  height: 5px;
  background: transparent;
  box-shadow: 0 2px rgba(0, 0, 0, 0.3);
  animation: stretch infinite 5s cubic-bezier(0.955, -0.01, 1, 1);
  opacity: 0;
  transform-origin: 0% 0%;
}
.dataTable i:nth-child(2),
.dataTable i:nth-child(2)::before {
  animation-delay: .3s;
}
.dataTable i:nth-child(3),
.dataTable i:nth-child(3)::before {
  animation-delay: .6s;
}
.dataTable i:nth-child(4),
.dataTable i:nth-child(4)::before {
  animation-delay: .9s;
}
.dataTable i:nth-child(5),
.dataTable i:nth-child(5)::before {
  animation-delay: 1.2s;
}
.dataTable i:last-of-type {
  animation-name: tilt-last;
}
.dataTable i:last-of-type::before {
  animation-name: stretch-last;
}
@keyframes tilt {
  10% {
    transform: rotate(70deg);
  }
  60% {
    transform: rotate(70deg);
  }
  70% {
    transform: rotate(0deg);
  }
}
@keyframes tilt-last {
  10% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(0deg);
  }
}
@keyframes stretch {
  10% {
    transform: rotate(-70deg);
    width: 10px;
    opacity: 1;
    left: 0px;
    bottom: -1px;
  }
  60% {
    transform: rotate(-70deg);
    width: 10px;
    opacity: 1;
  }
  70% {
    width: 5px;
    transform: rotate(0deg);
    opacity: 0;
  }
}
@keyframes stretch-last {
  10% {
    transform: rotate(-90deg);
    width: 10px;
    height: 2px;
    opacity: .5;
    left: 3px;
    bottom: -1px;
  }
  60% {
    transform: rotate(-90deg);
    width: 10px;
    height: 2px;
    opacity: .5;
  }
  70% {
    transform: rotate(0deg);
    width: 5px;
    height: 5px;
    opacity: 0;
  }
}
.popover {
  background: #f9a134;
  width: auto;
  border-radius: 0;
  max-width: 300px;
  min-width: 170px;
}
.popover-content {
  background: #f9a134;
  color: white;
  width: auto;
  max-width: 270px;
  padding: 20px;
}
@media (max-width: 767px) {
  .popover.bottom {
    width: 155px;
    left: -29px !important;
  }
  .closeAll {
    display: none !important;
  }
  .popover-content {
    width: 153px;
    padding: 10px;
  }
}
.popover.right .arrow:after {
  border-right-color: #f9a134;
}
.popover.left .arrow:after {
  border-left-color: #f9a134;
}
.popover.right {
  margin-left: 30px;
}
.loader {
  padding: 0;
  width: 44px;
  height: 11px;
  float: right;
  margin-right: 6px;
}
.dataTable table .hide-thead,
.binary-closed-trades-table thead {
  display: none !important;
  visibility: hidden;
}
#forexProOpenTradesTable tbody::-webkit-scrollbar,
#forexProPendingOrdersTable tbody::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}
#forexProOpenTradesTable,
#forexProPendingOrdersTable {
  border: 0;
}
.account.panel .dataTable table tr:nth-child(1) td {
  border-top: 0;
}
.account.panel .scrollable-area {
  border-right: 1px solid #2D3E50;
  border-left: 1px solid #2d3e50;
}
@media (max-width: 767px) {
  .input-assetssearch {
    width: 75%;
  }
  .assetssearch-button {
    width: 25%;
  }
  .separator,
  .sidepanel-tabs,
  .closeAll {
    display: none !important;
  }
  #tradePanel {
    width: 100%;
    height: 300px;
  }
  #tradePanel .scrollable-area-body {
    height: 210px;
  }
  .panel.chartpanel {
    position: relative;
    margin: 0;
    left: 0;
    margin-top: 27px;
    top: 5px;
    z-index: 9999;
    height: 400px;
    width: 100%;
  }
  .spread-holder {
    width: 16.66666667%;
  }
  .option-direction.down,
  .option-direction.up {
    width: 100%;
    margin: 3px auto 2px;
  }
  .tradepanel-control-bar {
    height: 30px;
  }
  .tradepanel-control-bar.asset-search-bar {
    height: 75px;
  }
  .assets-boxes,
  .assets-list,
  .tradepanel-control-bar .tradepanel-title {
    line-height: 30px;
  }
  .tradepanel-header-bar {
    line-height: 30px;
    height: 30px;
  }
  .asset-table-settings-icon {
    right: 10px;
    top: 1px;
    z-index: 9;
  }
  .tradepanel-title.assetstype > span {
    background: transparent url(/wp-content/themes/tol-child/images/ddl_arrow.png) no-repeat right center;
  }
  .asset-table-settings-icon.show .asset-table-settings-outer {
    left: unset;
    right: -10px;
    top: 23px;
  }
  .ui-dialog.forex-neworder-dialog {
    top: 25px !important;
    z-index: 9999;
    position: absolute;
  }
  .orders-trades-table-wrapper {
    left: 0;
    position: relative;
    height: 350px;
    padding: 15px 5px;
    z-index: 9999;
  }
  .orders-trades-table-wrapper .scrollable-area {
    height: 285px;
  }
  .account .tab-item {
    min-width: 154px;
  }
  .equity-container {
    padding: 0 15px;
    float: left;
    height: 175px;
  }
  .page-traderoom .statusbar {
    z-index: 9999;
    position: relative;
    height: 240px;
  }
  .statusbar .fleft {
    width: 100%;
  }
  .statusbar .statusbar-item.account-type {
    width: 50%;
    text-align: left;
    padding-left: 15px;
  }
  .statusbar-item.current-time {
    width: 50%;
    text-align: right;
    padding-right: 15px;
  }
  .equity-item {
    line-height: 30px;
    margin: 0;
    width: 100%;
    display: block;
    float: left;
    text-align: left;
    padding: 2px 0px;
  }
  body.page-traderoom {
    overflow-y: scroll;
  }
  .row.forex-amount .popover.bottom {
    width: 100%;
    left: 50px !important;
  }
  .row.forex-amount .popover-content {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .dataTable,
  .dataTable table thead,
  .dataTable table tbody {
    display: block;
  }
  .dataTable table th,
  .dataTable table td {
    display: inline-block;
    width: 33%;
    text-align: left;
    height: 37px;
  }
  .dataTable table th[data-column="actions"] {
    display: none;
  }
  .dataTable table td {
    border-top: 0;
  }
  .dataTable table td:nth-child(1),
  .dataTable table td:nth-child(2),
  .dataTable table td:nth-child(3),
  .dataTable table td:nth-child(4) {
    border-top: 1px solid #2D3E50;
  }
  .dataTable table td.td-buttons {
    width: 100%;
    text-align: center;
    padding-top: 12px;
  }
}
#tol-trades-popup .column-settings.show .multiple-selection {
  top: 33px;
  bottom: auto;
}
#tol-trades-popup .tabHolder .column-settings {
  top: -2px;
}
.tol-custom-assets {
  padding: 0 5px;
}
/* Asset filter */
#tol-assset-filter {
  padding: 0;
  height: 24px;
  width: 180px;
  margin-left: 5px;
  background: transparent;
  color: #fff;
  border-radius: 0;
  border-color: #2D3E50;
  z-index: 3;
}
.tol-well.tol-asset-filter-custom {
  border-bottom: 1px solid #2D3E50;
  height: 40px;
  padding: 7px 0;
}
#tol-assset-filter .select-wrapper-icon {
  position: absolute;
  width: 0;
  height: 0;
  top: 10px;
  right: 8px;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
#tol-assset-filter .select-wrapper p,
#tol-assset-filter .select-wrapper ul,
#tol-assset-filter .select-wrapper ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#tol-assset-filter .select-wrapper ul > li,
#tol-assset-filter .select-wrapper p {
  padding: 2px 10px;
  position: relative;
  cursor: pointer;
}
#tol-assset-filter .select-wrapper ul > li {
  font-size: 13px;
  font-weight: normal;
}
#tol-assset-filter .select-wrapper ul > li:hover {
  background: #1a1a1a;
  cursor: pointer;
}
#tol-assset-filter .select-wrapper ul {
  display: none;
  position: absolute;
  width: 180px;
  left: -1px;
  top: 22px;
  background: #131B28;
  border: 1px solid #2D3E50;
}
#tol-assset-filter .select-wrapper.open ul {
  display: block;
}
.tol-custom-assets label {
  color: #FFF;
  font-weight: normal;
  margin: 0;
  position: relative;
  top: 1px;
  font-size: 13px;
}
.tol-custom-popup.pull-right {
  width: 42px;
  padding: 0;
  margin-right: 7px;
}
.tol-custom-popup .btn {
  border-radius: 0;
  color: #fff;
  background: transparent;
  border: 1px solid #2D3E50;
}
.tol-custom-popup .btn .caret {
  position: relative;
  right: -5px;
  top: -2px;
}
/* /Asset filter */
/* Asset filter custom popup */
.assetFilterCustomPopup {
  position: absolute;
  left: -205px;
  min-width: 700px;
  min-height: 150px;
  border-radius: 0;
  z-index: 101;
  overflow: auto;
  top: 32px;
  background: #131B28;
  border: 1px solid #2D3E50;
}
.columnsContainer {
  display: block;
  height: 300px;
  max-height: 300px;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  margin-top: 7px;
  padding: 2px 10px;
  border-radius: 4px 4px 0 0;
}
.assetFilterCustomPopup .columnsContainer {
  margin-top: 0;
  padding-top: 0;
}
.columnsContainer .columns {
  display: inline-table;
  height: 100%;
}
.assetFilterCustomPopup:after,
.assetFilterCustomPopup:before {
  bottom: 98%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.assetFilterCustomPopup:after {
  border-width: 7px;
  margin-left: -7px;
}
.assetFilterCustomPopup .columnsContainer legend {
  margin-bottom: 5px;
  padding: 2px;
  border-bottom: 1px solid #e5e5e5;
  background: #182434;
}
.assetFilterCustomPopup .columnsContainer legend.checked-item {
  margin-bottom: 5px;
  padding: 10px;
}
.assetFilterCustomPopup .columnsContainer legend.selected-all {
  margin: 5px 5px 15px;
  padding: 5px;
}
.assetFilterCustomPopup section.columns {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: left;
}
.assetFilterCustomPopup fieldset {
  border: 0 none;
  margin-left: 10px;
}
.assetFilterCustomPopup section.buttons {
  float: right;
  padding-top: 5px;
  text-align: right;
  width: 100%;
  padding-bottom: 8px;
  padding-right: 15px;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #2D3E50;
}
.assetFilterCustomPopup button {
  border: none;
  display: inline-block;
  cursor: pointer;
  padding: 6px 23px;
  text-decoration: none;
  border-radius: 1px;
  font-size: 15px;
}
.secondary-menu .select-wrapper p {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.assetFilterCustomPopup legend label,
.assetFilterCustomPopup legend input,
.assetFilterCustomPopup fieldset div.row input,
.assetFilterCustomPopup fieldset div.row label {
  cursor: pointer;
}
.assetFilterCustomPopup .row {
  margin: 0;
}
.legend-wrapper label {
  font-size: 15px;
  text-indent: 0;
  padding-top: 4px;
  vertical-align: top;
}
.assetFilterCustomPopup fieldset div.row input,
.legend-wrapper input {
  vertical-align: top;
}
.assetFilterCustomPopup fieldset div.row label {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 3px;
  width: 78%;
}
/* End Asset filter custom popup */
.scrollTable thead {
  background: #2C3441;
  border: 1px solid #2D3E50;
  border-top: 0;
}
.scrollTable.table th {
  text-align: center;
  font-size: 13px;
}
.account .tab-content {
  padding: 0;
}
.table-striped.scrollTable > tbody > tr {
  border-bottom: 1px solid #2D3E50;
}
.table-striped.scrollTable > tbody > tr:nth-child(odd) {
  background: #18202D !important;
}
.table-striped.scrollTable > tbody > tr:nth-child(even) {
  background: #020A17 !important;
}
.table-striped.scrollTable > tbody > tr > td {
  text-align: left;
}
.table-striped.scrollTable > tbody > tr > td:nth-child(1) {
  height: 38px;
  overflow: hidden;
  vertical-align: middle;
  line-height: 14px;
}
.table-striped.scrollTable > thead > tr > th {
  text-align: left;
}
.turboBoxSection.isTurboSlider {
  height: 63px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}
.turboSliderButton {
  width: 10px;
  height: 57px;
  background-color: #d5d5d5;
  display: inline-block;
  z-index: 2;
  position: absolute;
}
.turboSliderButton.rightButton {
  right: 0;
  /*background: url(/wp-content/themes/tol-parent/images/right_arrow_openTrades.png) #d5d5d5 no-repeat 4px 26px;*/
}
.turboSliderWrapper {
  position: absolute;
  display: inline-block;
  width: 100000px;
  z-index: 1;
}
.turboBox {
  display: inline-block;
  width: 122px;
  height: 58px;
  text-align: center;
  line-height: 20px;
  margin: 0 0 0 13px;
  border-bottom: 3px solid green;
  border-radius: 3px;
  padding: 3px;
  color: white;
  text-shadow: 0 -1px #333333;
  overflow: hidden;
}
.turboBox .turboDescription {
  height: 17px;
  overflow: hidden;
  line-height: 16px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  padding: 0 5px;
}
.turboTime {
  float: left;
  padding-left: 27px;
  background: url('/themes/tol-parent/styles/layouts/../images/clock.png');
  background-repeat: no-repeat;
  line-height: 16px;
  background-position: 7px 0;
  padding-top: 1px;
  padding-bottom: 1px;
  background-size: 17px;
  width: 100%;
  text-align: left;
}
.turboAction {
  float: left;
  line-height: 15px;
  padding-left: 6px;
}
.isNA {
  background: #6E6E6E;
  border-bottom-color: #4B4B4B;
}
.isWin {
  background: #339331;
  border-bottom-color: #335932;
}
.isLose {
  background: #E50000;
  border-bottom-color: #7A1F1F;
}
.turboDescription {
  width: 100px;
  height: 15px;
  display: block;
  overflow: hidden;
  line-height: 14px;
}
.turboChart {
  position: fixed;
  display: inline-block;
  width: 392px;
  min-height: 100px;
  padding: 5px;
  margin-left: -10px;
  z-index: 3;
  background: #131B28;
  border: 1px solid #2D3E50;
}
.turboChart .chartClose {
  width: 11px;
  height: 10px;
  background: url('/themes/tol-parent/styles/layouts/../images/close_btn.png') 0 0 no-repeat;
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
}
.turboChart .turboStrike,
.turboChart .turboAmount,
.turboChart .turboReturn {
  height: auto;
  padding: 4px 0;
  width: 80px;
  line-height: 20px;
  font-size: 16px;
  margin-left: 10px;
  color: #FFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.turboChart .chart {
  height: 165px;
  padding-bottom: 12px;
  width: 285px;
  position: relative;
  top: -146px;
  left: 100px;
  background: transparent;
}
.turboChart .chart .highcharts-container {
  width: 270px !important;
  background: transparent;
}
.turboChart .chart .highcharts-container .highcharts-background {
  fill: transparent;
}
.turboStrikeItem,
.turboAmountItem,
.turboReturnItem {
  color: #637E99;
  display: block;
}
.turboChart .turboDescription,
.turboChart .turboExpiry {
  display: none;
}
.turboBox .turboDescription,
.turboBox .turboAction {
  font-size: 1.1em;
}
.turboTime {
  font-weight: bold;
  font-size: 1.3em;
}
.select-expire-wrapper {
  position: relative;
  top: 8px;
}
.select-expire-wrapper select {
  width: 100%;
  color: #fff;
  height: 24px;
  background: #171F2C;
  border: 1px solid #2D3E50;
}
.tol-opentrades-table table thead {
  display: none !important;
}
.dataTable.tol-opentrades-table table {
  border: 0;
}
.binary .chartpanel {
  margin-left: 515px;
  overflow: visible;
  padding: 5px 0 5px 5px;
}
.left-right-box {
  position: absolute;
  width: 195px;
  left: -190px;
  background: #131B28;
  top: 35px;
  padding: 5px 0 5px 5px;
}
.tol-tradebox-left,
.tol-tradebox-right {
  height: 100%;
  padding: 49px 8px;
  border: 1px solid #2D3E50;
}
.touch .tol-tradebox-left {
  padding: 29px 8px;
}
.widgetButtonAlpha.btn-primary,
.widgetButtonBeta.btn-primary {
  width: 172px;
  height: 120px;
  line-height: 110px;
  font-size: 25px;
  font-family: roboto-bold;
  text-transform: uppercase;
  border-radius: 5px;
}
.touch .widgetButtonAlpha.btn-primary,
.touch .widgetButtonBeta.btn-primary {
  font-size: 19px;
}
.widgetButtonAlpha.btn-primary {
  background: #1BAC45;
  border-color: #1BAC45;
}
.widgetButtonAlpha.btn-primary:focus,
.widgetButtonAlpha.btn-primary:hover,
.widgetButtonAlpha.btn-primary:active {
  background: #229f3f;
}
.widgetButtonBeta.btn-primary {
  background: #EE473E;
  border-color: #EE473E;
}
.widgetButtonBeta.btn-primary:focus,
.widgetButtonBeta.btn-primary:hover,
.widgetButtonBeta.btn-primary:active {
  background: #ee202d;
}
.tol-rate-label {
  margin: 48px 0;
  padding: 0;
}
.tol-rate-label span.input-lg {
  height: 61px;
  background: #020A17;
  color: #fff;
  border-color: #2D3E50;
  line-height: 2em;
}
.tol-tradebox-right > div {
  height: 40px;
  line-height: 39px;
  font-size: 14px;
}
.tol-tradebox-right > div.small-text {
  height: 10px;
  line-height: 19px;
}
.tol-chart-header {
  position: absolute;
  left: -189px;
  height: 40px;
  z-index: 9;
  top: 0;
  background: #131B28;
  padding: 7px;
}
.tol-chart-header label {
  font-size: 13px;
  color: #fff;
  font-weight: normal;
  margin-right: 5px;
}
.tol-chart-header .form-group {
  margin: 0;
}
.tol-chart-header .form-control,
.tol-chart-header .tol-invest-time,
.tol-chart-header .widgetPayout {
  width: auto;
  min-width: 150px;
  display: inline-block;
  background: transparent;
  color: #fff;
  border: 1px solid #2D3E50;
  font-size: 14px;
  height: 24px;
  padding: 0 12px;
  border-radius: 0;
  line-height: 23px;
}
.tol-chart-header select option {
  background: #131B28;
  color: #fff;
}
.tol-game-nav {
  width: 100%;
  height: 41px;
  margin-bottom: 1px;
  background: #182434;
  display: inline-block;
  position: relative;
}
#gamemenu {
  padding-left: 0;
}
.tol-game-nav .navbar-inverse {
  background: transparent;
  border-color: transparent;
}
.tol-game-nav .navbar-nav > li a {
  padding-top: 9px;
  padding-bottom: 6px;
  color: #637E99;
  font-weight: bold;
  font-family: lato-regular;
}
.tol-game-nav .navbar-nav > li.active a {
  background: transparent;
}
.expireTurboRuleInterval {
  color: #637E99;
}
.expireTurboRuleInterval.activeRule {
  color: #ffffff;
}
#assetFilterCustom_Cancel {
  background-color: #2C3D4F;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear, -webkit-box-shadow 0.1s ease-out;
  transition: color 0.1s linear, background-color 0.1s linear, -webkit-box-shadow 0.1s ease-out;
  -o-transition: color 0.1s linear, background-color 0.1s linear, box-shadow 0.1s ease-out;
  -moz-transition: color 0.1s linear, background-color 0.1s linear, box-shadow 0.1s ease-out, -moz-box-shadow 0.1s ease-out;
  transition: color 0.1s linear, background-color 0.1s linear, box-shadow 0.1s ease-out;
  transition: color 0.1s linear, background-color 0.1s linear, box-shadow 0.1s ease-out, -webkit-box-shadow 0.1s ease-out, -moz-box-shadow 0.1s ease-out;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#assetFilterCustom_Cancel:hover {
  background-color: #5a5866;
}
#assetFilterCustom_Confirm {
  background-color: #f9a134;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear, -webkit-box-shadow 0.1s ease-out;
  transition: color 0.1s linear, background-color 0.1s linear, -webkit-box-shadow 0.1s ease-out;
  -o-transition: color 0.1s linear, background-color 0.1s linear, box-shadow 0.1s ease-out;
  -moz-transition: color 0.1s linear, background-color 0.1s linear, box-shadow 0.1s ease-out, -moz-box-shadow 0.1s ease-out;
  transition: color 0.1s linear, background-color 0.1s linear, box-shadow 0.1s ease-out;
  transition: color 0.1s linear, background-color 0.1s linear, box-shadow 0.1s ease-out, -webkit-box-shadow 0.1s ease-out, -moz-box-shadow 0.1s ease-out;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#assetFilterCustom_Confirm:hover {
  background-color: #db851a;
}
#closeTradesOptionsWrap {
  background: #182434;
  padding: 6px;
  color: #fff;
  border-right: 1px solid #2D3E50;
  border-left: 1px solid #2d3e50;
}
#closeTradesDDLWrap {
  display: inline-block;
}
.hasDatepicker {
  width: 140px;
  display: inline-block;
  background: transparent;
  color: #fff;
  border: 1px solid #2D3E50;
  font-size: 14px;
  height: 24px;
  padding: 0 12px;
  border-radius: 0;
  line-height: 23px;
}
#closeTradesOptionsWrap label,
.myTradesInfoLabel {
  margin: 0 5px 0 15px;
  color: #ffffff;
}
#closeTradesOptionsWrap label:first-child,
.myTradesInfoLabel:first-child {
  margin-left: 0;
}
#closeTradesOptionsWrap .tol-search-btn {
  background-color: transparent;
  background-image: none;
  border: 1px solid #2D3E50;
  color: #fff;
  padding: 4px 12px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  height: 24px;
  line-height: 11px;
  margin-left: 15px;
  border-radius: 0;
  position: relative;
  top: -2px;
  text-transform: capitalize;
  font-size: 14px;
}
#closeTradesDDLWrap select.btn-default,
.extendToSelect {
  width: auto;
  min-width: 150px;
  display: inline-block;
  background: transparent;
  color: #fff;
  border: 1px solid #2D3E50;
  font-size: 14px;
  height: 24px;
  padding: 0 12px;
  border-radius: 0;
  line-height: 23px;
}
.extendToSelect {
  min-width: 110px;
}
.extendToSelect option {
  background: #131B28;
  color: #fff;
}
#closeTradesDDLWrap select.btn-default option {
  background: #131B28;
  color: #fff;
}
.myTradesInfo {
  border: 1px solid #2D3E50;
  height: 30px;
  font-size: 13px;
  padding: 6px;
}
.myTradesInfo span {
  display: inline-block;
}
.myTradesInfo > span:nth-child(even) {
  width: 20%;
  text-align: left;
  color: #637E99;
}
.dataTable table.binary-closed-trades-table {
  border-right: 0;
  border-left: 0;
  margin-bottom: 5px;
}
.actionButton {
  height: 24px;
  border: 1px solid #ccc;
  line-height: 12px;
  margin-top: 8px;
}
.ui-dialog.ui-widget-content.tol-tradingtools-dialog {
  width: 450px !important;
  height: 230px !important;
  color: #fff;
  background: #131B28;
  border: 1px solid #2D3E50;
  border-radius: 0;
  padding: 0;
}
.ui-dialog.tol-tradingtools-dialog .ui-dialog-titlebar {
  height: 41px;
  background: transparent;
  border-bottom: 1px solid #2D3E50;
}
.tradeTools {
  margin-top: -30px;
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  border-radius: 3px;
  right: 80px;
  z-index: 1;
}
.tradeTools .headerMenu {
  margin-top: -41px;
  color: #FFF;
  width: 410px;
}
.extendContainer,
.closeContainer,
.doubleContainer,
.insuranceContainer {
  position: absolute;
  right: 10px;
  top: 60px;
  font-size: 15px;
}
.extendContainer,
.closeContainer,
.doubleContainer,
.insuranceContainer {
  font-weight: normal;
  width: 110px;
}
.extendCost {
  position: absolute;
  right: 10px;
  top: 122px;
  width: 110px;
}
.extendCostText,
.closeText,
.doubleText,
.insuranceText {
  display: block;
  font-size: 15px;
  margin: 0;
  color: #fff;
}
.extendCostAmount,
.closeContainer .closeValue,
.doubleValue,
.insuranceValue {
  height: 28px;
  width: 91px;
  line-height: 28px;
  padding: 0 5px 0 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 15px;
  color: #fff;
}
.tradeTools .chartContainer .chart {
  height: 168px !important;
  width: 292px !important;
  border: 1px solid #2D3E50;
  border-radius: 0;
  overflow: hidden;
  margin: 10px;
}
.tradingToolsExecute {
  display: inline-block;
  width: 110px;
  height: 42px;
  line-height: 42px;
  border: 0;
  border-radius: 3px;
  padding: 0;
  text-decoration: none;
  font-size: 18px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.headerExtend,
.headerClose,
.headerDouble,
.headerInsurance {
  display: inline-block;
  width: 80px;
  height: 40px;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  color: #637E99;
  border-right: 1px solid #2D3E50;
}
.headerInsurance {
  width: 120px;
}
.toolsHeader .activeTab {
  cursor: default;
  color: #ffffff;
}
.ui-dialog .ui-dialog-title,
.tradingToolsCancel {
  display: none;
}
.openTradesTools .highcharts-background,
.openTradesTools .chart {
  fill: transparent;
  background: transparent;
}
