/* Mixin */
.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
  background-color: @start;
  background-image: -webkit-linear-gradient(@origin, @start, @stop);
  background-image: -moz-linear-gradient(@origin, @start, @stop);
  background-image: -o-linear-gradient(@origin, @start, @stop);
  background-image: -ms-linear-gradient(@origin, @start, @stop);
  background-image: linear-gradient(@origin, @start, @stop);
  background-repeat: repeat-x;
}

@nav-tabs-border-bottom: #3788c5;
@nav-tabs-border-bgcolor: #ffffff;
@open-trades-tab-bgcolor: #333333;



#tol-traderoom-layout-5 #gamemenu{
  padding:0;
  margin-bottom: 10px;
}
.nav-tabs {
  border-bottom: 4px solid @nav-tabs-border-bottom;
  background: @nav-tabs-border-bgcolor;
}
.nav-tabs > li > a {
  .gradient(top, #dfdfdf, #c8c8c8);
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px none transparent;
  border-radius: 0;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
  font-weight: 500;
}
.nav-tabs > li {
  border: 0;
}
.tol-opentrades .nav > li > a {
  color: @open-trades-tab-bgcolor;
}
.tol-opentrades .nav > li.active > a {
  color: #fff;
  padding-top: 13px;
  margin-top: 0;
  border: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  .gradient(top, #5298d6, #378ac7);
  color: #fff;
  border: 1px none #777777;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  border-bottom-color: transparent;
  cursor: default;
}
#tol-traderoom-layout-5 .tol-well {
  padding: 6px 7px 7px;
  min-height:42px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#tol-traderoom-layout-5 .tol-well-connected {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 15px;
}
.divAsstFilterMain div {
  position: relative;
  display: block;
  padding: 3px 12px;
  float: left;
  cursor: pointer;
}
.divAsstFilterMain div.selected {
  color: #2b7db8;
  background-color: #ffffff;
  border-radius: 4px;
}
#tol-traderoom-layout-5 .chartV2Wrapper {
  height: 257px;
  max-height: 257px;
}
#tol-traderoom-layout-5 #oldChartContainer,
#tol-traderoom-layout-5 #chartContainer,
#tol-traderoom-layout-5 .oldChartContainer .highcharts-container {
  height: 235px;
  max-height: 235px;
}
#tol-traderoom-layout-5 .turboBinary #oldChartContainer,
#tol-traderoom-layout-5 .turboBinary #chartContainer,
#tol-traderoom-layout-5 .turboBinary .oldChartContainer .highcharts-container {
  height: 235px;
  max-height: 235px;
}
h6 {
  font-size: 1.429em;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}
#tol-traderoom-layout-5 .btn-primary {
  color: #000;
  background-image: -webkit-linear-gradient(top, #ffc543 0%, #ffb510 100%);
  background-image: -o-linear-gradient(top, #ffc543 0%, #ffb510 100%);
  background-image: linear-gradient(to bottom, #ffc543 0%, #ffb510 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc543', endColorstr='#ffffb510', GradientType=0);
  border: none;
  border-bottom: 1px solid #ffb000;
  text-shadow: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  border-radius: 3px;
}
#tol-traderoom-layout-5 .btn-primary:hover, #tol-traderoom-layout-5 .btn-primary:focus, #tol-traderoom-layout-5 .btn-primary:active, #tol-traderoom-layout-5 .btn-primary.active {
  background-image: -webkit-linear-gradient(top, #ffbd29 0%, #f5a900 100%);
  background-image: -o-linear-gradient(top, #ffbd29 0%, #f5a900 100%);
  background-image: linear-gradient(to bottom, #ffbd29 0%, #f5a900 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffbd29', endColorstr='#fff5a900', GradientType=0);
  border: none;
  border-bottom: 1px solid #dc9800;
  color: #333;
}
#tol-traderoom-layout-5 .btn-down {
  color: #fff;
  border-style: solid;
  border-width: 0px;
  border-color: #41b464;
  height: 79px;
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, #db2f2f 0%, #f14c40 100%);
  background-image: -webkit-linear-gradient( 90deg, #db2f2f 0%, #f14c40 100%);
  background-image: -ms-linear-gradient( 90deg, #db2f2f 0%, #f14c40 100%);
  box-shadow: 0px 2px 0px 0px #c12121;
  margin: 0px!important;
  box-shadow: inset 0 -3px #c11e1a, 4px 4px #d7d7d7, -4px -4px #d7d7d7, 4px -4px #d7d7d7, -4px 4px #d7d7d7;
}
  #tol-traderoom-layout-5 .btn-down:hover, #tol-traderoom-layout-5 .btn-down:focus, #tol-traderoom-layout-5 .btn-down.focus, #tol-traderoom-layout-5 .btn-down:active, #tol-traderoom-layout-5 .btn-down.active, #tol-traderoom-layout-5 .open > .dropdown-toggle.btn-down {
    border-width: 0px;
    color: #fff;
    background-image: -moz-linear-gradient( 90deg, #dc3737 0%, #f25e53 100%);
    background-image: -webkit-linear-gradient( 90deg, #dc3737 0%, #f25e53 100%);
    background-image: -ms-linear-gradient( 90deg, #dc3737 0%, #f25e53 100%);
  }
#tol-traderoom-layout-5 .btn-up {
  color: #fff;
  border-style: solid;
  border-width: 0px;
  border-color: #41b464;
  height: 79px;
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, #41b464 0%, #50c373 100%);
  background-image: -webkit-linear-gradient( 90deg, #41b464 0%, #50c373 100%);
  background-image: -ms-linear-gradient( 90deg, #41b464 0%, #50c373 100%);
  box-shadow: 0px 2px 0px 0px #34a155;
  margin: 0px!important;
  box-shadow: inset 0 -3px #319950, 4px 4px #d7d7d7, -4px -4px #d7d7d7, 4px -4px #d7d7d7, -4px 4px #d7d7d7;
}
  #tol-traderoom-layout-5 .btn-up:hover, #tol-traderoom-layout-5 .btn-up:focus, #tol-traderoom-layout-5 .btn-up.focus, #tol-traderoom-layout-5 .btn-up:active, #tol-traderoom-layout-5 .btn-up.active, #tol-traderoom-layout-5 .open > .dropdown-toggle.btn-up {
    border-width: 0px;
    color: #fff;
    background-image: -moz-linear-gradient( 90deg, #47b669 0%, #6ad58a 100%);
    background-image: -webkit-linear-gradient( 90deg, #47b669 0%, #6ad58a 100%);
    background-image: -ms-linear-gradient( 90deg, #47b669 0%, #6ad58a 100%);
  }
//Trader Insight START
.traderInsight .assetRow {
  height: 16px;
  text-align: left;
  position: relative;
  background-color: #4cbf6f;
  border-radius: 5px;
  margin-bottom: 28px;
}
.traderInsight .assetName {
  color: #333;
  font-size: 1em;
  padding-bottom: 5px;
  position: relative;
  top: -40px;
  text-align: center;
}
.traderInsight .assetRow .above {
  font-size: 1em;
  color: #333;
  border-radius: 5px;
}
.traderInsight .assetRow .below {
  display: inline-block;
  position: absolute;
  right: 0;
  text-align: right;
  font-size: 1em;
  color: #333;
  background: #e43b36;
  height: 16px;
  overflow: visible !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 0px;
}
.traderInsight .assetRow .above .percent, .traderInsight .assetRow .below .percent {
  position: relative;
  top: -18px;
}
.traderInsight .assetRow .above .percent{
    top: -18px;
}
.traderInsight {
  position: relative;
  top: 30px;
}
.tol-trader-insight-head {
  padding: 7px 7px 6px 7px;
  background: #D7D5D5;
  margin-bottom: -14px;
  font-weight: 500;
}
#tol-traderoom-layout-5 .tol-well.tol-trader-insight-header {
  padding-top: 14px;
  font-weight: 500;
  height: 46px;
}
.tol-trader-insight .well {
  padding: 33px 3px 19px;
}
//Trader Insight END
#tol-traderoom-layout-5 .tol-opentrades #closeTradesOptionsWrap {
  background: #3788c5;
  padding: 6px;
  color: #fff;
}
#tol-traderoom-layout-5 #closeTradesOptionsWrap label, #tol-traderoom-layout-5 .myTradesInfoLabel {
  margin: 0 5px 0 15px;
}
#tol-traderoom-layout-5 #closeTradesDDLWrap {
  display: inline-block;
}
.browser-msie #tol-traderoom-layout-5 #closeTradesDDLWrap {
  position: relative;
  top: 10px;
}
#tol-traderoom-layout-5 .hasDatepicker {
  width: 140px;
  display: inline-block;
}
#tol-traderoom-layout-5 .myTradesInfo {
  margin: 10px 0;
}
#tol-traderoom-layout-5 #closeTradesOptionsWrap label:first-child, #tol-traderoom-layout-5 .myTradesInfoLabel:first-child {
  margin-left: 0;
}
.expireTurboRuleInterval {
  box-shadow: inset 0 1px #8bb7e2, 1px 1px #3a76b5, -1px -1px #3a76b5, 1px -1px #3a76b5, -1px 1px #3a76b5;
  background: #6ea4da;
  background: -moz-linear-gradient(top, #6ea4da 5%, #5c98d5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#6ea4da), color-stop(100%,#5c98d5));
  background: -webkit-linear-gradient(top, #6ea4da 5%,#5c98d5 100%);
  background: -o-linear-gradient(top, #6ea4da 5%,#5c98d5 100%);
  background: -ms-linear-gradient(top, #6ea4da 5%,#5c98d5 100%);
  background: linear-gradient(to bottom, #6ea4da 5%,#5c98d5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ea4da', endColorstr='#5c98d5',GradientType=0 );
  width: 25px;
  height: 28px;
  border: none;
  color: #fff;
  padding: 0px;
  margin: 0px;
  line-height: 30px;
  font-size: 12px;
  margin-right: 3px;
  font-weight: bold;
  border-radius: 3px;
}
.expireTurboRuleInterval.activeRule {
  background: #fff;
  color: #297ab5;
  box-shadow: none;
  border: none;
  cursor: default;
}
.navigationContainerPeriod {
  display: inline-block;
  line-height: 22px;
  background: #5ea0d9;
  margin-left: 2px;
  border-radius: 2px;
  padding: 0 3px;
  position: relative;
  z-index: 1;
  left: 42px;
  width: 92%;
}
.chartNavigationPeriod {
  background: none;
  margin: 0;
  border: 0;
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  width: 11.8%;
}
.chartNavigationPeriod:disabled {
  background: white;
  border-radius: 3px;
  color: #5ea0d9;
  line-height: 14px;
  height: 16px;
}
.navigationContainer li {
  display: none;
  background: #5199d6;
  height: 25px;
  width: 120px;
  z-index: 48;
  left: -40px;
  border-right: 1px solid #2b76b6;
  border-left: 1px solid #2b76b6;
}
.navigationContainer li:first-child {
  border-top: 1px solid #2b76b6;
  border-top-right-radius: 3px;
  position: relative;
}
.navigationContainer:hover li {
  top: 22px;
}
.chartNavigation {
  height: 26px;
  border: 0;
  border-top: 1px solid #84b7e2;
}
.chartNavigation:disabled {
  background-image: url('/wp-content/themes/tol-parent/images/check-white.png');
  background-repeat: no-repeat;
  background-position: 95px center;
}
#tol-traderoom-layout-5 .navigationContainer{
  background: url('/wp-content/themes/tol-parent/images/graph-blue.png');
  left: 0;
  width: 40px;
  height: 22px;
}

#tol-traderoom-layout-5 .navigationContainer:hover{
  background-position: 0 -25px;
}
.optionAccordion.ui-accordion.ui-widget.ui-helper-reset {
  height: 474px;
}
.CurrenciesOptions, .IndicesOptions, .StocksOptions, .CommoditiesOptions, .FuturesOptions {
  padding: 0 !important;
  text-indent: 10px;
  margin-right: 0;
  border: none;
  border-bottom: 1px solid #c5e6f8;
  background: #efefef;
  font-weight: bold;
  cursor: pointer;
  font-family: Arial, sans-serif;
  max-height: 314px;
  overflow: hidden;
  display: block;
  height: 314px;
  border-radius: 0;
}
.ui-accordion-header {
  text-align: left;
  color: #ffffff;
  height: 40px;
  line-height: 26px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  border: 0;
  border-radius: 0;
  background: #5daee8;
  margin: 1px 0 0 0 !important;
  background: -moz-linear-gradient(top, #5daee8 0%, #459bdb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5daee8), color-stop(100%,#459bdb));
  background: -webkit-linear-gradient(top, #5daee8 0%,#459bdb 100%);
  background: -o-linear-gradient(top, #5daee8 0%,#459bdb 100%);
  background: -ms-linear-gradient(top, #5daee8 0%,#459bdb 100%);
  background: linear-gradient(to bottom, #5daee8 0%,#459bdb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5daee8', endColorstr='#459bdb',GradientType=0 );
}
.ui-state-active .ui-icon, .ui-accordion-header .ui-icon {
  margin: 4px 8px;
  width: 12px;
  height: 11px;
  display: inline-block;
  vertical-align: middle;
}
.ui-state-active .ui-icon {
  background: url('/wp-content/themes/tol-parent/images/arrow_white_down.png') center no-repeat;
}
.option {
  border-bottom: 1px solid #c5e6f8;
  height: 33px;
  text-align: left;
  padding-left: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 33px;
  color: #717171;
}
.option:hover, .activeOption {
  background: #c5e6f8!important;
  background-repeat: no-repeat, repeat !important;
  background-position: right 5px center, left center !important;
}
.leftContainer .optionAccordion .ui-state-default:nth-last-child(2) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.activeRule {
  display: block;
  width: 100%;
  height: 28px;
  padding: 3px 5px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tol-traderoom .btn-default, .activeRule {
  background-color: #6ea4da;
  background-image: -webkit-linear-gradient(top, #6ea4da, #3183bf);
  background-image: -moz-linear-gradient(top, #6ea4da, #3183bf);
  background-image: -o-linear-gradient(top, #6ea4da, #3183bf);
  background-image: -ms-linear-gradient(top, #6ea4da, #3183bf);
  background-image: linear-gradient(top, #6ea4da, #3183bf);
  background-repeat: repeat-x;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #2e7bb2;
  text-shadow: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 #3a76b5;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 #3a76b5;
  border-radius: 3px;
  cursor: pointer;
}
  .tol-traderoom .trade-box-right .btn-default {
    background: #FFF;
    color: #000;
    border: 1px solid #dddddd;
    box-shadow: none;
  }
.widgetSelectedOption.asset {
  font-size: 1.643em;
  font-weight: bold;
}
.rate-widget {
  height: 84px;
  padding: 10px 11px;
  box-sizing: border-box;
  margin-top: -3px;
  background: #ffffff !important;
  cursor: not-allowed;
  line-height: 3.4em;
}
  .oneTouch .rate-widget {
    padding: 4px;
    line-height: 20px;
  }
.chartWrap {
  border: 1px solid #3a7ab4;
  height: 262px;
  margin: auto;
  margin-top: 95px;
  position: relative;
}
.panel-group {
  margin-bottom: 0;
}
.tol-invest-time, .turboBinary .widgetPayout {
  background: #5a9ed8;
  border-style: none;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
}
.turboBinary .widgetButtonBeta .widgetPayout, .turboBinary .widgetButtonAlpha .widgetPayout {
    background: transparent;
  padding: 0;
}

.willLabel, .goOrDonwLabel, .headerWrap .widgetSelectedOption {
  display: inline;
  color: #fff;
}
.willLabel {
  width: 45px;
}
.input-group-addon {
  min-width: 38px;
}
.input-group-addon.sel {
  background: url('/wp-content/themes/tol-parent/images/input_icons.png') no-repeat 9px 8px;
}
.input-group-addon.rat {
  background: url('/wp-content/themes/tol-parent/images/input_icons.png') no-repeat 9px -24px;
}
.form-horizontal label {
  text-align: left!important;
}
.trade-box-right .form-control {
  height: 34px;
  line-height: 32px;
}
.rate-right-box {
  height: 34px;
}
.rate-right-box span:nth-of-type(2), .returnHighAmount, .returnLowAmount, .trade-box-right .widgetPayout {
  padding: 6px 12px;
  background-color: #eeeeee;
  cursor: not-allowed;
  display: block;
  border: 1px solid #dddddd;
  height: 34px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.trade-box-right .widgetPayout {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #000;
}
.selectionStateLabel {
  text-transform: uppercase;
}
#clearButton {
  cursor: pointer;
  color: #4ba3dd;
}
.trade-box-right.well.form-horizontal h6 {
  margin-top: 40px;
}
.trade-box-right.well.form-horizontal {
  min-height: 490px;
}
.trader-insight {
  margin-top: 10px;
  height: 40px;
}
.traderInsightWrapper {
  width: 83%;
  float: left;
  overflow: hidden;
  position: relative;
  min-height: 1px;
  height: 20px;
  margin-bottom: 20px;
  margin-left: 14px;
  background-color: #f14c40;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.traderInsightBar .above {
  position: relative;
  float: right;
  background-color: #50c373;
  width: 50%;
  height: 20px;
  border-radius: 3px;
}
.volumePercentLeft {
  width: 33px;
  float: left;
  height: 22px;
  text-align: center;
  background: #DADADA;
  position: relative;
  min-height: 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 2px;
  font-size: 13px;
  color: #a94442;

}
.volumePercentLeft:before {
  content: "";
  position: absolute;
  left: 100%;
  top: 3px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 8px solid #DADADA;
  border-bottom: 8px solid transparent;
}
.volumePercentRight {
  width: 33px;
  height: 22px;
  text-align: center;
  background: #DADADA;
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 2px;
  float: right;
  font-size: 13px;
  color: #3c763d;
}
.volumePercentRight:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 3px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 8px solid #DADADA;
  border-bottom: 8px solid transparent;
}
.traderInsightLabelUp, .traderInsightLabelDown {
  height: 9px;
  width: 14px;
  font-size: 10px;
  text-transform: lowercase;
  color: #fff;
  z-index: 50;
  white-space: nowrap;
}
.traderInsightLabelDown {
  position: absolute;
  left: 52px;
  top: 3px;
}
.traderInsightLabelUp {
  position: absolute;
  right: 55px;
  top: 3px;
}
.turboSliderButton.inactive {
  background-color: #d5d5d5;
}
.turboSliderButton.leftButton {
  background: url('/wp-content/themes/tol-parent/images/left_arrow_openTrades.png') #d5d5d5 no-repeat 4px 26px;
}

.turboBoxSection.isTurboSlider {
  margin-top: 6px;
}

.turboSliderButton.rightButton {
  right: 0px;
  background: url('/wp-content/themes/tol-parent/images/right_arrow_openTrades.png') #d5d5d5 no-repeat 4px 26px;
}

.turboTime {
  background: url('/wp-content/themes/tol-parent/images/clock-white.png') no-repeat 5px;
}

.isNA {
  background: #6E6E6E;
  border-bottom-color:#4B4B4B;
}
.isWin {
  background-image: -moz-linear-gradient(90deg, #41b464 0%, #50c373 100%);
  background-image: -webkit-linear-gradient(90deg, #41b464 0%, #50c373 100%);
  background-image: -ms-linear-gradient(90deg, #41b464 0%, #50c373 100%);
  border-bottom-color:#319950;
}
.isLose {
  background-image: -moz-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
  background-image: -webkit-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
  background-image: -ms-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
  border-bottom-color:#c11e1a;
}
.ui-dialog .ui-dialog-titlebar {
  background: #353535;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ui-dialog.ui-widget-content {
  padding: 0;
}
.popUpTitle {
  font-weight: bold;
}
#closePopUp, #closeAllPopUp {
  background: #FFF;
  border: 1px solid #000;
  border-radius: 3px;
}
#nextPopUp, .tradingToolsExecute {
  background: #1070B4;
  color: #FFF;
  border-top: 1px solid #75BAED;
  border-bottom: 1px solid #173C59;
  border-radius: 3px;
  cursor: pointer;
}
.tradingToolsExecute {
  width: 86px;
}
.tradingToolsExecute:hover {
  font-size: 1em;
  color: #000;
}
.ui-dialog.ui-widget-content.tol-tradingtools-dialog {
    width: 410px  !important;
    height: 230px  !important;
    border: 1px solid #B2B2B2;
    z-index: 100001;
}
.ui-dialog.ui-widget-content.tol-tradingtools-dialog .extendToSelect{
    width: 81px !important;
}
.ui-dialog.tol-tradingtools-dialog .ui-dialog-title {
  display: none;
}
.ui-dialog.tol-tradingtools-dialog .ui-dialog-titlebar {
  height: 41px;
}
.tradeTools .headerMenu {
  margin-top: -41px;
  color: #FFF;
}
.browser-firefox .tradeTools .headerMenu {
  margin-top: 0;
}
.browser-msie .tradeTools .headerMenu{
  margin-top: 0;
  height: 40px;
}
.toolsHeader .activeTab {
  background: #1070B4;
}
.tradingToolsCancel {
  top: 5px;
  right: 5px;
}
.headerExtend, .headerClose, .headerDouble, .headerInsurance {
  font-weight: normal;
}

.headerExtend.disabled, .headerClose.disabled, .headerDouble.disabled, .headerInsurance.disabled{
    color: #404040;
    background:rgba(153, 153, 153, 0.4);
}
.tradeTools .chartContainer .chart {
  height: 168px !important;
  width: 292px !important;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
}
.tradeTools .chartContainer .chart .oldChart {
  width: 300px !important;
}
.extendCost {
  width: 86px;
}
.extendContainer, .closeContainer, .doubleContainer, .insuranceContainer {
  font-weight: normal;
  width: 86px;
}
.extendToSelectWrapper {
  background: url('/wp-content/themes/tol-parent/images/arrowDark.png') 63px no-repeat;
  border: 1px solid #000;
  width: 86px;
}
.extendToSelect {
  background: transparent;
}
.turboChart .turboStrike, .turboChart .turboAmount, .turboChart .turboReturn {
  color: #000;
}
.turboChart {
  background: #FFF;
  color: #000;
  padding: 0;
  border: 1px solid #B2B2B2;
  border-radius: 3px;
}
.tol-opentrades-table .actionButton {
  background: #FFF;
  text-shadow: none;
  border: 1px solid #000;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 2px 6px;
}
.tol-opentrades-table .actionButton:hover {
  background: #000;
  color: #FFF;
}
.closed-trades-btn {
  width: 12%;
  margin-left: 30px;
}
.investAmountDropDown {
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(227, 227, 227) 0%, rgb(253, 253, 253) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(227, 227, 227) 0%, rgb(253, 253, 253) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(227, 227, 227) 0%, rgb(253, 253, 253) 100%);
  color: #333333;
}
.investAmountOption:hover {
  color: #777;
  background-image: -moz-linear-gradient( 90deg, rgb(237, 237, 237) 0%, rgb(255, 255, 255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(237, 237, 237) 0%, rgb(255, 255, 255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(237, 237, 237) 0%, rgb(255, 255, 255) 100%);
}
.well {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px none #000;
  border-bottom: 2px solid #d4d8d9;
}
.tol-opentrades .nav > li.active > a {
  border-radius: 3px;
}
.tradeButton {
  margin-top: 15px;
}
.selectionStateLabel.put {
  color: #f14c40;
  font-weight: bold;
}
.selectionStateLabel.call {
  color: #50c373;
  font-weight: bold;
}
.widgetExpireTurbo {
  display: inline-block;
}
.btn-up span, .btn-down span {
  display: block;
}
.btn-up .percent, .btn-down .percent {
  font-size: 1.857em;
}
.btn-up .explanation, .btn-down .explanation {
  font-size: 11px;
  font-weight: 300;
  line-height: 1.1em;
}
.btn-down b {
  border-left: 1px solid #ea5650;
  box-shadow: -1px 0px 0px #c12121;
  padding: 20px;
}
.btn-up b {
  border-left: 1px solid #5dc27c;
  box-shadow: -1px 0px 0px #34a155;
  padding: 20px;
}
.btn-up b:after, .btn-down b:after {
  left: 0px;
}
.browser-msie .bxroom_thenext {
  float: left;
  position: relative;
  top: 7px;
  margin-right: 8px;
}

//SIGNALS
.signalsWidget .tableRowDiv:nth-child(odd) {
  border-right: 0;
  background: #FFFFFF;
}
.signalsWidget .tableRowDiv:nth-child(even) {
  background: #E0E0E1;
}
.signalsWidget .tableHeaderDiv > div {
  color: #333;
  background: #d5d5d5 url('/wp-content/themes/tol-parent/images/separator-light.png') no-repeat right top;
  vertical-align: bottom;
  border-top: 0;
  border-bottom: 2px solid #BBBBBB;
  padding: 8px;
  line-height: 1.428571429;
  font-size: 0.9em;
  font-weight: 500;
  text-align: left;
  display: table-cell;
  width: 17%;
}
.columnAsset, .columnValidity, .columnExpiryTime, .columnPayout, .columnSignal, .columnStrength, .columnAmount, .columnTrade {
  display: table-cell;
  padding: 8px;
  line-height: 1.428571429;
  text-align: left;
  width: 17%;
}
.signalsWidget .tableHeaderDiv > div.validityHeader, .columnValidity,
.signalsWidget .tableHeaderDiv > div.payoutHeader, .columnPayout {
  width: 8%;
}
.signalsWidget .tableHeaderDiv > div.signalHeader, .columnSignal {
  width: 10%;
}
.signalsWidget .tableHeaderDiv > div.strengthHeader, .columnStrength {
  width: 20%;
}
.lang-de, .lang-fr{
    .signalsWidget .tableHeaderDiv > div.tradeHeader{
        min-width: 85px;
    }
    .columnTrade{
        min-width: 85px;
    }
    .signalsWidget .trade input[type=button]{
        width: auto;
    }
    .ourRateLabel{
        font-size: 12px;
    }
}
.signalStrength.percWrap {
  background-image: url('/wp-content/themes/tol-parent/images/signal_strength_full.png');
  background-repeat: no-repeat;
  width: 126px;
  height: 20px;
  position: absolute;
  margin-top: 3px;
}
.signalStrength.percInner {
  display: block;
  height: 20px;
  background-image: url('/wp-content/themes/tol-parent/images/signal_strength.png');
  background-repeat: no-repeat;
}

.signalsWidget .tableBodyDiv div.columnAsset .asset {
  overflow:hidden;
}
.signalsNoOptions {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(42,42,42,0.5);
  z-index: 98;
}
.signalsNoOptions span {
  display: block;
  padding-top: 12%;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
.signalAmount {
  width: 90%;
  padding-left: 4px;
}
.signalsWidget .trade input[type=button] {
  display:inline-block;
  width: 38px;
  height:26px;
  border:0;
  border-bottom:1px solid #ffb000;
  background: #ffc543;
  background: -moz-linear-gradient(top, #ffc543 0%, #ffb510 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffc543), color-stop(100%, #ffb510));
  background: -webkit-linear-gradient(top, #ffc543 0%, #ffb510 100%);
  background: -o-linear-gradient(top, #ffc543 0%, #ffb510 100%);
  background: -ms-linear-gradient(top, #ffc543 0%, #ffb510 100%);
  background: linear-gradient(to bottom, #ffc543 0%, #ffb510 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc543', endColorstr='#ffb510', GradientType=0 );
  text-decoration:none;
  text-transform: uppercase;
  color:#000;
  border-radius: 3px;
}
.signalsWidget .trade input[type=button]:disabled {
  background: #1C1C1C;
  color: #3D4146;
  border-top: 1px solid #1C1C1C;
  border-bottom: 1px solid #1C1C1C;
}
.signalsWidget .signalHeader {
  width: 50px;
}
.signalsWidget .strengthHeader {
  width: 130px;
}
.signalsWidget .ditectionDiv {
  position: relative;
  width: 50px;
  padding: 0 3px;
  text-indent: 14px;
}
.signalsWidget .signalDown {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ff2f2f;
  left: 3px;
  top: 42%;
}
.signalsWidget .signalUp {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #0bce30;
  left: 3px;
  top: 42%;
}
.signalsUserClasses {
  width:619px;
  height:309px;
  background:url('/wp-content/themes/tol-parent/images/signalsUserClasses.jpg')
}
.signalsUserClasses span {
  margin: 20px auto;
  font-size: 14px;
  text-align: center;
  position: absolute;
  width: 100%;
}

.signalsUserClasses .buttons-wrapper
{
  top:auto;
  bottom:0;
  right:20px;
}

/* =================== End of the Trading Signals =====================*/

//One Touch game
.assetName .arrowDown {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #333;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 12px;
  left: 3px;
}
.assetName .arrowUp
{
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #333;
  width: 1px;
  height: 1px;
  position: absolute;
  top:12px;
  left:3px;
}
.scrollContent tr td {
  position: relative;
}
.name.assetName {
  text-indent: 7px;
}
.oneTouchName.img.down, .targetLblContent.img.down {
  background: url('/wp-content/themes/tol-parent/images/closed_put_onetouch.png') no-repeat;
}
.oneTouchName.img.up, .targetLblContent.img.up
{
  background: url('/wp-content/themes/tol-parent/images/closed_call_onetouch.png') no-repeat;
}
.oneTouchNameWrap
{
  width:100%;
  direction:ltr;
}

.oneTouchName.img
{
  display:inline-block;
  width:16px;
  height:8px;
}

.targetLblContent.img
{
  width:16px;
  height:8px;
}

.targetLblContent.img.up
{
  position: absolute;
  bottom: 7px;
  left: 9px;
  z-index: 1;
}

.targetLblContent.img.down
{
  position: absolute;
  bottom: 7px;
  left: 9px;
  z-index: 1;
}
.oneTouchName.lbl
{
  display:inline-block;
}
.targetLblContent
{
  display:inline-block;
}
.oneTouch .targetLblContent.lbl
{
  display:block;
  font-weight: 300;
  height: 18px;
  font-size: 13px;
}
#tol-traderoom-layout-5 .oneTouch .widgetRateAlpha .targetLblContent.price, .oneTouch .widgetRate {
  color: #333;
  position: relative;
  font-size: 14px;
  padding: 0;
  border-radius: 5px;
  width: 100%;
  cursor: not-allowed;
  display: block;
}
#tol-traderoom-layout-5 .oneTouch .widgetRateAlpha .targetLblContent.price{
    left: 15px;
}
#tol-traderoom-layout-5 .oneTouch .widgetRateAlpha .targetLblContent.img{
    left: 0px;
}
.targetLblContent.price
{
  color:#ffca29;
  font-size:18px;
}
.top-margin-xs{
  margin-top:0px
}
.bx-room-container {
  position: relative;
}
.form-control.form-control-half-width {
  width: 50%;
  display: inline-block;
}
.bx-room-accordion {
  max-height: 570px;
  overflow: hidden;
}
.tol-well h6 {
  letter-spacing: -0.01em;
  font-family: 'robotoregular';
}
@media (min-width: 768px) and (max-width: 991px) {
  .top-margin-sm{
    margin-top:10px
  }
  .tol-chart {
    margin-left:-8px
  }
  .tol-chart label {
    width: auto
  }
}
@media (min-width: 200px) and (max-width: 800px) {
    .top-margin-xs{
        margin-top:10px
    }
    .left-col {
        padding-right: 0;
    }
    .right-col {
        padding-left: 0;
    }
    .traderoom-assets select {
        width: 98%;
    }
    #tol-traderoom-layout-5 .btn-down, #tol-traderoom-layout-5 .btn-up {
        width: 100%;
    }
    .rate-widget {
        font-size: 1em;
        padding: 2px;
        text-align: center;
        line-height: 5em;
        height: 30px;
    }
    .oneTouch .rate-widget {
        height: 80px;
    }
    #tol-traderoom-layout-5 .oneTouch .widgetRateAlpha .targetLblContent.price{
        font-size: 11px;
    }
    .navigationContainerPeriod {
        width: 88%;
    }
    .chartNavigationPeriod {
        padding: 2px 0px;
        width: 11.2%;
    }
    .form-group {
        margin-bottom: 0;
    }
    #btn240Min {
        width: 38px;
    }
    .range .widgetRateAlpha.pull-right, .range .widgetRateBeta.pull-right, .touch .widgetRateAlpha.pull-right, .touch .widgetRateBeta.pull-right{
        top: -3px !important;
        left: -63px;
        font-size: 11px;
    }
    .tol-registration .validationError{
        position: relative;
    }
}


/* TRADEROOM */

#tol-traderoom-layout-5 .tol-closedtrades-table {
    overflow-y:auto; 
}



#tol-traderoom-layout-5 .navigationContainerPeriod,#tol-traderoom-layout-4 .navigationContainerPeriod {
    margin-left:0;
    left:auto;
    top:auto;
    display:inline-block;
    float: right;
    width: auto;
    text-align: left;
}

.navigationContainer {
    left: auto;
    top:auto;
    display: inline-block;
    float: left;
}

#tol-traderoom-layout-5 .chartNavigationPeriod,#tol-traderoom-layout-4 .chartNavigationPeriod {
    width:auto;
}

#tol-traderoom-layout-5 .tol-well {
    position:relative;
}

#tol-traderoom-layout-5 #closeTradesDDLWrap {
    max-width:200px;
}
#tol-traderoom-layout-5 #closeTradesOptionsWrap .closed-trades-btn {
    margin-top: 0px;
    width: auto;
    height: 27px;
    line-height: 14px;
}

#tol-traderoom-layout-5 #ui-datepicker-div .ui-state-highlight,#tol-traderoom-layout-5 .ui-widget-content .ui-state-highlight {
    background: #51A4E1;
    color: white;
}

#accordion {
    padding: 0;
    height:489px;
}

.bx-room-accordion {
    height:565px;
}

.custom-right {
    height:512px;
}

.ui-dialog {
    width: auto !important;
    top: 30% !important;
    max-width: 700px;
}
.popUpButtons {
    min-width: 10px;
}
.range .widgetRateAlpha.pull-right, .range .widgetRateBeta.pull-right,
.touch .widgetRateAlpha.pull-right, .touch .widgetRateBeta.pull-right{
  position: relative;
  top: -10px;
}
.browser-firefox .range .rate-right-box span{
    font-size: 13px;
}
@media (max-width: 1199px) and (min-width: 992px) {
    #tol-traderoom-layout-5 .tol-insight .tol-well {
        top: 50px;
    } 

    .trade-box-right.well.form-horizontal {
        min-height: 512px;
    }
    
    #tol-traderoom-layout-5 .oneTouch .trade-box-right.well.form-horizontal {
    min-height: 539px;
    }

    #tol-traderoom-layout-4 .tol-tradebox-right .returnHighAmount,#tol-traderoom-layout-4 .tol-tradebox-right .returnLowAmount {
        font-size:12px;
    }

    #tol-traderoom-layout-5 .tol-insight {
        height: 512px;
    }
    #tol-traderoom-layout-5 .rate-right-box {
        height: 34px;
        font-size: 10px;
    } 
    
    #accordion {
        padding: 0;
        height:512px;
    }
    
    #AdvancedChartsLink{
        width: 60px;
        float: left;
        text-align: center;
        font-size: 10px;
        line-height: 10px;
        padding-top: 2px;
    }
    .browser-chrome .chartNavigationPeriod{
        padding: 2px !important;
    }
    .returnHighAmount{
        font-size: 11px;
        line-height: 22px;
    }
    .lang-de, .lang-fr{
        .headerWrap{
            font-size: 18px !important;
        }
    }
    #tol-myTrades-layout-1 .tol-form-inline label{
        min-width: 200px !important;
    }
    #tol-myTrades-layout-1 .tol-form-inline label[data-translate="Trades_Total"]{
        padding-left: 0;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    li.menu-item {
        font-size: 11px;
    }
    
    #accordion {
    padding: 0;
    height:516px;
    }  

    #tol-traderoom-layout-5 .rate-right-box {
    height: 34px;
    font-size: 9px;
    }   
    
    #tol-traderoom-layout-5 .tol-insight {
        height: 486px;
    }
    
    #tol-traderoom-layout-5 .tol-insight .tol-well {
        top: 8px;
    }
    
    #tol-traderoom-layout-5 .chartWrap {
        margin-top:64px;
    }

    #tol-traderoom-layout-5 svg  {
        height:216px !important;
    }

    #tol-traderoom-layout-5 .returnHighAmount,#tol-traderoom-layout-5 .returnLowAmount {
        font-size: 9px;
        line-height: 15px;
    }

    #tol-traderoom-layout-5 .trade-box-right.well.form-horizontal h6 {
        font-size:19px;
    }

    #tol-traderoom-layout-5 .trade-box-right.well.form-horizontal {
        min-height: 517px;
    }

    #tol-traderoom-layout-5 .form-horizontal .control-label {
        font-size: 11px;
    }

    #tol-traderoom-layout-5 .rate-widget {
        font-size: 15px;
        text-indent: -7px;
    }
    #tol-traderoom-layout-5 .turboBinary .rate-widget{
        font-size: 12px;
    }
    #tol-traderoom-layout-5 .hasDatepicker {
        width: 100%;
    }

    #tol-traderoom-layout-5 #closeTradesOptionsWrap .closed-trades-btn {
        position: relative;
        left: -30px;
        top: 8px;
    }

    #tol-traderoom-layout-4 .ticks input.chartNavigationPeriod {
        font-size:6px;
    }

    #tol-traderoom-layout-4 .tol-tradebox-right .returnHighAmount,
    #tol-traderoom-layout-4 .tol-tradebox-right .returnLowAmount,
    .rate-wrapper span {
        font-size:11px;
    }
}

@media (max-width: 767px) {
    #tol-traderoom-layout-5 .tol-insight .tol-well {
        top: 5px;
    }
    #tol-traderoom-layout-5 .chartWrap{
        margin-top: 5px;
    }

    #tol-traderoom-layout-5 .left-col .tol-well{
        margin-top: 5px;
    }

    #tol-traderoom-layout-5 .tol-betslip {
        margin-top: 6px;
    }

    #tol-traderoom-layout-5 .btn-down,#tol-traderoom-layout-5 .btn-up {
        width: 100%;
    }

    
    #tol-traderoom-layout-5 #gamemenu .nav li {
        display: block;
        width:100%;
        margin:1px 0;
            
    }
    
    #tol-traderoom-layout-5 .oneTouch .rate-widget {
        position: relative;
        font-size: 9px;
        margin: 0;
    }
    
    #tol-traderoom-layout-5 .oneTouch .rate-widget .widgetRateAlpha  {
        width: 100%;
    }
    
    .targetLblContent.img.up,.targetLblContent.img.down {
        left: -3px;
    }
    
    #tol-traderoom-layout-5 .oneTouch .rate-widget {
        line-height: 18px;
    }
    
    .advanced_chart{
        display: none;
    }
    
    .traderpoints-warapper{
        width: 100% !important;
    }
    .traderpoints-table{
        width: 100% !important;
    }
    .traderpoints-menu-currencies, .traderpoints-menu-indices, .traderpoints-menu-stocks, .traderpoints-menu-commodities{
        font-size: 12px;
    }
    .tol-chart .right-col .tol-well .right-label h6{
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .tol-registration form input[type="checkbox"]{
        margin: 4px 0 0 20px;
    }
    /*input[data-translate="Button_Apply"]{
        margin-top: 30px;
    }*/
}
@media screen and (max-width: 769px) and (min-width: 767px) {
    input[data-translate="Button_Apply"]{
        margin-top: 30px;
    }
}

/*TRADEROOM*/

.advanced_chart{
    float: left;
    margin-left: 45px;
}

.countdown-wrapper {
    margin: 10px 0 0 0;
    display: none;
}
.countdown-wrapper{
    width: 20%;
}
.cancelButton-wrapper{
    width: 80%;
    display: none;
}
.cancelButton-wrapper input{
    font-size: 22px;
    margin-top: 12px;
    margin-left: 6px;
}
.countdown-timer {
  width:50px;
  height:50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  color: #237db9;
  display: block;
  margin: 0 auto;
  background: url('/wp-content/themes/tol-parent/images/blue.gif') no-repeat center;
}

.ui-dialog.ui-widget-content[aria-describedby="bonusAcceptDialog"] .ui-dialog-titlebar{
    background: #353535 !important;
}

.ui-dialog.ui-widget-content[aria-describedby="bonusAcceptDialog"] .ui-button{
    background-color: #035da2 !important;
}

div[aria-describedby="bonusAcceptDialog"] button.ui-button-text-only{
    position: absolute !important;
    bottom: 0px !important;
}
div[aria-describedby="bonusAcceptDialog"] .ui-dialog-buttonset{
    height: 50px;
}
.bonusHistoryActivateBtn, .bonusHistoryRejectBtn{
    background: #337ab7;
    color: #FFFFFF !important;
    padding: 5px 10px;
}

#tol-cashier-main-nav .nav-tabs li span{
    text-transform: uppercase;
    color: #000000;
}
#tol-cashier-main-nav .nav-tabs li a.active span{
    color: #FFFFFF;
}

.tol-opentrades-table, .tol-closedtrades-table{
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        padding: 5px !important;
    }
}


.countdown-wrapper {
    float: left;
    margin: 10px 5px 0 5px;
}
.countdown-timer {
  width:50px;
  height:50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  color: #b99900;
  display: block;
  margin: 0 auto;
  background: url('/wp-content/themes/tol-parent/images/yellow.gif') no-repeat center;
}

.help-info-icon{
    display: none;
}

.cysecregulated {
    .help-info-icon {
        display: inline-block;
        background: url('/wp-content/themes/tol-parent/images/info-icon-blue.png') no-repeat center;
        width: 18px;
        height: 18px;
        margin-left: 10px;
        position: relative;
        top: 3px;
    }
    .help-info-icon:hover {
        cursor: pointer;
    }
    .rate-info-wrapper {
        display: none;
    }
    .help-info-icon:hover .rate-info-wrapper {
        display: block;
        border: 1px solid #B4C5B5;
        min-width: 200px;
        position: absolute;
        left: -15px;
        top: -80px;
        height: 70px;
        padding: 0 10px;
        border-radius: 5px;
        text-align: left;
        z-index: 9;
        background: #FFF;
        color: #000;
        font-size: 12px;
    }
    .rate-info-wrapper:before {
        display: block;
        width: 18px;
        height: 9px;
        top: 68px;
        position: relative;
        right: -112px;
    }
    .rate-widget{
        min-height: 110px;
        line-height: 18px;
    }
    .oneTouch .rate-widget{
        min-height: 150px;
    }
    
}
.page-template-traderoom-page.cysecregulated .help-info-icon{
    top: -25px;
    right: -60%;
}
#tol-traderoom-layout-5 .tol-well h6 {
    letter-spacing: -0.05em
}
.pageLink.activePage{
    background: #4ba3dd;
    color: #FFFFFF;
    border-color: #4ba3dd;
}

.advanced_chart{
    float: left;
    width: 62px;
    margin-left: 10px;
    text-align: center;
    font-size: 12px;
    line-height: 13px;
}
.forex .navigationContainerPeriod{
    width: 84.5%;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .nav-tabs > li{
        font-size: 13px;
    }
    .forexCloseButton{
        margin: 0;
        padding:0;
        max-width: 60px;
    }
    .traderInsight .assetName{
        top: -50px;
    }
    .traderInsight .assetRow .above .percent{
        top:-26px;
    }
}