/* Breadcrumb */
@breadcrump-a-clr: #ffca29;
/* Breadcrumb */

/* Navbar Variables */
@navbar-a-clr: #ffffff;
@navbar-a-bg: #404040;
@navbat-brd: #141414;
/* Navbar Variables */

/* Assets Panel Variables */
@table-odd-bg:#1e1f21;
@headermenu-bg: #262626;
@striped-table-th-bg: #18191a;
@striped-table-th-sdw: inset 0 1px 0 #252627, inset 0 -2px 0 #000;
@table-th-brdb: #0d0d0e;
@table-th-clr: #bbbbbc;
/* Assets Panel Variables */

/* Chart Panel Variables */
@chart-nav-clr: white;
@chart-wrap-bg: #1d1e20;
@chart-wrap-brdt: #3b3b3c;
@chart-wdgt-bdrb: #090909;
@chart-scroll-fill: #FEBA25;
@chart-scrill-stroke: #35383D;
@highcharts-tool-bg: #4a4a4a;
/* Chart Panel Variables */

/* Trade Panel Variables */
@rate-bg: #262626;
@rate-border-clr: #333333;
@rate-clr: whitesmoke;
@rate-brd: #262626;
@btn-bg: #ebc300;
@btn-custom-clr: whitesmoke;
@btn-custom-bg: #171719;
@info-clr: #ffca29;
@custom-btn-bg: #ebc300;
/* Trade Panel Variables */

/* Open/Close Trades Panel Variables */
@mytrades-volumes-bg: #333;
@mytrades-volumes-clr: #eaeaea;
@search-btn-clr: black;
@search-btn-bg: #ffbd2a;
@act-btn-clr: white;
@act-btn-bg: #484d52;
/* Open/Close Trades Panel Variables */

/* Help Variables */
@help-cont-bg:#BCBCBD;
@help-cont-clr:#000;
@adv-dur-datepick-brd:#dcdcdc;
@adv-dur-datepick-top:#e3e3e3;
@adv-dur-datepick-bot:#fdfdfd;
@adv-dir-box-sdw:rgba(221, 221, 221, 0.004);
/* Help Variables */


/* Signals  */
@signals-up-clr:#0bce30;
@signals-down-clr:#ff2f2f;
@signals-input-clr:#3D4146;
@signals-input-brd:#1C1C1C;
@signals-input-grad-from:#ffc543;
@signals-input-grad-to:#ebc300;
@signals-input-brdb:#ffb000;
@signals-tbl-head-clr:#bbbbbc;
@signals-tbl-head-bg:#18191a;
@signals-tbl-head-sdw1:#252627;
@signals-tbl-head-sdw2:#000000;
@singals-table-even:#6A6A6B;
@signals-table-odd:#292929;
/* Signals  */

/* Open/Close Trades Panel Variables */

/* MIXINS */
#gradient {
  // Horizontal gradient, from left to right
  //
  // Creates two color stops, start and end, by specifying a color and position for each color stop.
  // Color stops are not available in IE9 and below.
  .horizontal(@start-color: #555; @end-color: @extend-bg; @start-percent: 0%; @end-percent: 100%) {
    background-image: -webkit-linear-gradient(left, @start-color @start-percent, @end-color @end-percent); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(left, @start-color @start-percent, @end-color @end-percent); // Opera 12
    background-image: linear-gradient(to right, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)", argb(@start-color), argb(@end-color))); // IE9 and down
  }
  // Vertical gradient, from top to bottom
  //
  // Creates two color stops, start and end, by specifying a color and position for each color stop.
  // Color stops are not available in IE9 and below.
  .vertical(@start-color: #555; @end-color: @extend-bg; @start-percent: 0%; @end-percent: 100%) {
    background-image: -webkit-linear-gradient(top, @start-color @start-percent, @end-color @end-percent); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(top, @start-color @start-percent, @end-color @end-percent); // Opera 12
    background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)", argb(@start-color), argb(@end-color))); // IE9 and down
  }

  .directional(@start-color: #555; @end-color: @extend-bg; @deg: 45deg) {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(@deg, @start-color, @end-color); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(@deg, @start-color, @end-color); // Opera 12
    background-image: linear-gradient(@deg, @start-color, @end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  }

  .horizontal-three-colors(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
    background-image: -webkit-linear-gradient(left, @start-color, @mid-color @color-stop, @end-color);
    background-image: -o-linear-gradient(left, @start-color, @mid-color @color-stop, @end-color);
    background-image: linear-gradient(to right, @start-color, @mid-color @color-stop, @end-color);
    background-repeat: no-repeat;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)", argb(@start-color), argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
  }

  .vertical-three-colors(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
    background-image: -webkit-linear-gradient(@start-color, @mid-color @color-stop, @end-color);
    background-image: -o-linear-gradient(@start-color, @mid-color @color-stop, @end-color);
    background-image: linear-gradient(@start-color, @mid-color @color-stop, @end-color);
    background-repeat: no-repeat;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)", argb(@start-color), argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
  }

  .radial(@inner-color: #555; @outer-color: #333) {
    background-image: -webkit-radial-gradient(circle, @inner-color, @outer-color);
    background-image: radial-gradient(circle, @inner-color, @outer-color);
    background-repeat: no-repeat;
  }

  .striped(@color: rgba(255,255,255,.15); @angle: 45deg) {
    background-image: -webkit-linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
    background-image: linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
  }
}

.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
  box-shadow: @shadow;
}

.pretty-buttons(@color, @background, @text-shadow: none) {
  color: @color;
  #gradient > .vertical(lighten(@background, 5%), darken(@background, 5%), 0%, 100%);
  border-color: darken(@background, 10%);
  border-bottom-color: darken(@background, 20%);
  text-shadow: @text-shadow;
  .box-shadow(inset 0 1px 0 rgba(255, 255, 255, .1));

  &:hover,
  &:focus,
  &:active,
  &.active {
    #gradient > .vertical(darken(@background, 0), darken(@background, 10%), 0%, 100%);
    border-color: darken(@background, 20%);
    color: @color;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background;
      border-color: darken(@background, 5%);
    }
  }
}

/* MIXINS */
body {
  margin: 0;
  background: url('/wp-content/themes/tol-parent/images/dark_bgr.jpg');
}
.table.scrollTable td {
  font-size: 0.7em;
  cursor: pointer;
  position: relative;
}
.tab-content {
  min-height: 244px;
}
.isMore, .isLess {
  margin-left: -10px;
}
.table>tbody>tr>td.rate {
  padding: 8px 4px 8px 12px;
}
.tol-game1 {
  max-width: 1200px;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
}
#noOptions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  text-align: center;
}

#noOptions span {
  margin-top: 20%;
  display: inline-block;
}

#tol-traderoom-layout-1 .asset-line {
  width:100%;
}

.tol-asset-filter-custom .col-xs-8.col-sm-5, .tol-custom-popup {
  z-index: 4;
}

.breadcrumb a , a, a:hover{
  color: @breadcrump-a-clr;
}
.tol-well label {
  padding: 0;
}

.custom-select.btn-default {
  height: 33px;
}

.legend-wrapper label {
  color: @chart-nav-clr;
}

#tol-assset-filter .select-wrapper-icon {
  top: 40%;
}

#tol-assset-filter .select-wrapper ul {
  left: 0;
  top: 33px;
}

button[data-widget="assetFilterCustom"] {
  height: 33px;
  width: 45px;
}

.btn .caret {
  position: absolute;
  top: 3px;
  right: -13px;
}

#tol-traderoom-layout-1 .tol-widgetInvestAmount {
  background-color: @rate-bg;
  opacity: 1;
  color: @rate-clr;
  border: 1px solid @rate-bg;
  margin-bottom: 1px;
}

.glyphicon {
  left: -3px;
}

.browser-chrome .assetFilterCustomPopup .columnsContainer legend {
  width: 100%;
  padding-left: 10px;
}

.assetFilterCustomPopup {
  top: 39px;
  left: -279px;
}

#tol-traderoom-layout-1 .form-control-sm {
  height: 33px;
}

span.tol-help-btn-span {
  left: auto;
}

.tol-help-btn {
  height: 33px;
}

.table-striped > thead > tr > th {
  font-weight: 500;
  border: 0;
  background-color: @striped-table-th-bg;
  .box-shadow(@striped-table-th-sdw);
}

.table th {
  font-size: 0.8em;
  color: @table-th-clr;
  border-bottom: 1px solid @table-th-brdb;
  background: url('/wp-content/themes/tol-parent/images/separator.png') no-repeat right top;
}
.scrollContent tr:first-child td {
  border-top: none;
}
.scrollContent .assetName{
    padding-left: 5px;
}
.oneTouch .scrollContent .assetName{
    padding-left: 18px;
}
.tol-assets-table {
  height: 590px;
  font-family: 'robotoregular';
  overflow: hidden;
}

.tol-rate-label span {
  cursor: not-allowed;
  background-color: @rate-bg;
  opacity: 1;
  color: @rate-clr;
  border: 1px solid @rate-border-clr;
  font-size: 1.714285714285714em;
  line-height: 1em;
}
span.touchrateAlpha, span.touchrateAlpha {
  position: absolute;
  color: #FFF;
  left: 0px;
  top: 72px;
  background: transparent;
  border: 0;
}
span.touchrateBeta {
  position: absolute;
  color: #FFF;
  left: 0px;
  top: 175px;
  background: transparent;
  border: 0;
}
.tol-widgetRateAlpha span.rate-up, .tol-widgetRateAlpha span.rate-down {
  position: absolute;
  color: #FFF;
  left: 73px;
  top: 65px;
  background: transparent;
  border: 0;
}
.tol-widgetRateBeta span.rate-up, .tol-widgetRateBeta span.rate-down {
  position: absolute;
  color: #FFF;
  left: 73px;
  top: 175px;
  background: transparent;
  border: 0;
}
.tol-tradebox-close-button {
  position: absolute;
  left: unset;
  right: 17px;
  top: 4px;
  color: @act-btn-clr;
}

/*------Specific style for IE11---------*/
:-ms-fullscreen, :root
 .tol-tradebox-close-button {
  position: absolute;
  left: 165px;;
  top: 4px;
  color: @act-btn-clr;
}
.tol-tradebox-close-button:hover{
    color: #ebc300;
}
.percentage {
  float: right;
}
.ticks .percentage {
  float: none;
}
span.myTradesInfoLabel {
  font-size: 13px;
}
table[data-widget="myTradesTable"] > tbody > tr > td, table[data-widget="openTrades"] > tbody > tr > td {
  border-top: 0;
}
.myTradesInfo .container-fluid, #closeTradesOptionsWrap {
  margin: 7px 0;
}
span[data-widget="myTradesVolume"], span[data-widget="myTradesProfit"], span[data-widget="myTradesTotalTrades"] {
  height: 26px;
  line-height: 26px;
  margin-bottom: 10px;
  background: @mytrades-volumes-bg;
  padding: 0 5px;
  border-radius: 2px;
  color: @mytrades-volumes-clr;
  display: inline-block;
}
.tol-search-btn {
  .pretty-buttons(@search-btn-clr, @search-btn-bg);
}
.actionButton {
  border: none;
  border-radius: 3px;
  .pretty-buttons(@act-btn-clr, @act-btn-bg);
}
.tol-chart-container {
  height: 280px;
}
.expireTurboRuleInterval {
  color: @mytrades-volumes-clr;
  background: url('/wp-content/themes/tol-parent/images/turbo-button.png');
  width: 35px;
  height: 25px;
  border: 0;
  cursor: pointer;
  line-height: 15px;
  border-radius: 0;
  margin-left: 5px;
  margin-top: 5px;
  &:hover {
    background-position: center -25px;
  }
}
.expireTurboRuleInterval.activeRule {
  background-position: center -50px;
  &:hover {
    background-position: center -50px;
  }
}
.tradeTools.ui-dialog-content {
    margin-top: -47px;
    right: 6px !important;
    min-height: 228px !important;
    width: 410px !important;
}
.extendCostText, .closeText, .doubleText, .insuranceText {
  font-size: 12px;
}
.chartv2 {
  max-height: 263px;
  height: 263px;
}
.turboBinary .chartv2 {
  max-height: 265px;
  height: 265px;
}
.btn-up:active, .btn-up.active, .open > .dropdown-toggle.btn-up {
  background-image: @btn-bg;
}
.tol-traderoom .btn-primary {
    color: #000000;
    background-image: -webkit-linear-gradient(top, #ffc543 0%, #ebc300 100%);
    background-image: -o-linear-gradient(top, #ffc543 0%, #ebc300 100%);
    background-image: linear-gradient(to bottom, #ffc543 0%, #ebc300 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc543', endColorstr='#ebc300', GradientType=0);
    border-color: #ffc410;
    border-bottom-color: #ffb000;
    text-shadow: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
  .tol-traderoom .btn-primary:hover, .tol-traderoom .btn-primary:focus, .tol-traderoom .btn-primary:active, .tol-traderoom .btn-primary.active {
    background-image: -webkit-linear-gradient(top, #ebc300 0%, #b99900 100%);
    background-image: -o-linear-gradient(top, #ebc300 0%, #b99900 100%);
    background-image: linear-gradient(to bottom, #ebc300 0%, #b99900 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebc300', endColorstr='#ffb99900', GradientType=0);
    border: none;
    border-bottom-color: #dc9800;
    color: #000000;
  }
.btn-default option {
    background: @btn-custom-bg;
    color: @btn-custom-clr;
}
.btn-default optgroup{
    background: @btn-custom-bg;
    color: @btn-custom-clr;
}
select[data-widget="myTradesOptions"] {
  font-size: 11px;
  word-wrap: break-word;
}
select[data-widget="myTradesOptions"] option {
  font-size: initial;
}
.returnHighAmount .value, .returnHighAmount .percentage, .returnLowAmount .value, .returnLowAmount .percentage, .selectionStateLabel {
  color: @info-clr;
}
.highcharts-container g.highcharts-tooltip path {
  fill: @highcharts-tool-bg;
  stroke: none;
}
.ui-widget-content {
  background: #393939;
  border-color: black;
}
.turboBox {
  margin: 4px 0px 0px 13px;
}
.ui-dialog.ui-widget-content.tol-tradingtools-dialog {
  background: transparent;
  border: none;
  width: 422px !important;
  min-height: 340px;
  overflow: auto;
  top: 50% !important;
}
.ui-dialog.ui-widget-content.tol-tradingtools-dialog .tradeTools {
  right: 0;
}
.ui-dialog.ui-widget-content.tol-tradingtools-dialog .toolsHeader {
  position: relative;
}
.ui-dialog.ui-widget-content.tol-tradingtools-dialog .tradingToolsExecute,
.browser-firefox .toolsHeader input[type="button"], .browser-firefox .toolsHeader input[type="button"]:hover, .browser-msie .toolsHeader input[type="button"], .browser-msie .toolsHeader input[type="button"]:hover{
  bottom: 0px;
  font-size: 14px;
}
.tradingToolsExecute:hover{
    border: none;
}
.ui-dialog.ui-widget-content.tol-tradingtools-dialog .tradingToolsCancel {
  top: 8px;
  right: 11px;
}
.ui-dialog.ui-widget-content.tol-tradingtools-dialog .doubleValue {
  margin-left: 8px;
}
.browser-msie .headerExtend, .browser-msie .headerClose, .browser-msie .headerDouble {
  width: 80px;
}
.browser-msie .scrollContent tr {
  max-height: 35px;
}
.ui-widget-overlay {
  opacity: 0.5;
}
.tol-opentrades-table {
  border: none;
}
#tol-traderoom-layout-1 .turboBinary .tol-opentrades {
  z-index: 3;
  position: relative;
}
#tol-traderoom-layout-1 .tol-opentrades{
    margin-top: 20px;
    z-index: 1;
}
#tol-traderoom-layout-1 .cust-height {
  height: 28px;
}
.tol-tradebox-right .btn-primary {
  margin: 3px 0 0 0;
}
a.custom-button, input.custom-button {
  .pretty-buttons(@navbar-a-clr, @custom-btn-bg);
}
.tol-closedtrades-table {
  border: none;
  overflow-y:inherit;
}
.infoBtnWrapper {
  width: 26px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
}
.infoBtnWrapper .help {
  width: 30px;
  height: 40px;
  background-position: 3px 7px;
  display: inline-block;
}
.infoBtnWrapper .help.active {
  background: url('../../images/info_btn_close.png') no-repeat;
  background-position: 3px 7px;
  z-index: 2;
  position: relative;
}
.helpContainer {
  opacity: 0.75;
  background: @help-cont-bg;
  width: 97.4%;
  height: 100%;
  position: absolute;
  z-index: 111;
  left: 1.3%;
}
.tol-opentrades {
  z-index: 112;
}
.helpContainerLabels1, .helpContainerLabels2 {
  background: none;
  width: 100%;
  height: 93%;
  z-index: 11112;
  color: @help-cont-clr;
  position: absolute;
  margin-top: 40px;
}
.helpContainerLabels1 div, .helpContainerLabels2 div {
  font-size: 20px;
  display: inline-block;
  font-family: 'HandSean', Arial, sans-serif;
  position: absolute;
}
.helpChooseAssetBG {
  width: 30px;
  height: 32px;
  display: inline-block;
  position: absolute;
  background: url(../../images/help-sprite-bxpros.png);
  top: 180px;
  left: 280px;
}
.helpChooseAsset {
  top: 215px;
  left: 242px;
}
.helpChooseExpiryBG {
  width: 40px;
  height: 31px;
  display: inline-block;
  position: absolute;
  background: url(../../images/help-sprite-bxpros.png);
  background-position: 0px -34px;
  top: -23px;
  left: 377px;
}
.helpChooseExpiry {
  top: 4px;
  left: 315px;
}
.helpPayout {
  top: 23px;
  right: 155px;
}
.helpPayoutBG {
  width: 30px;
  height: 53px;
  display: inline-block;
  position: absolute;
  background: url(../../images/help-sprite-bxpros.png);
  background-position: -44px 71px;
  right: 170px;
  top: -16px;
}
.helpChooseDirBG {
  width: 40px;
  height: 171px;
  display: inline-block;
  position: absolute;
  background: url(../../images/help-sprite-bxpros.png);
  background-position: -73px 0px;
  left: 500px;
  top: 62px;
}
.helpChooseDir {
  left: 550px;
  top: 133px;
}
.helpInvestAmountBG {
  width: 42px;
  height: 20px;
  display: inline-block;
  position: absolute;
  background: url(../../images/help-sprite-bxpros.png);
  background-position: 0px -155px;
  left: 510px;
  top: 80px;
}
.oneTouch .helpInvestAmountBG{
  top: 85px;
}
.oneTouch .helpInvestAmount {
  top: 80px;
}
.oneTouch .helpExecuteTradeBG{
    top: 140px;
}
.oneTouch .helpExecuteTrade{
    top: 135px;
}
.oneTouch .helpReturnBG{
    top: 210px;
}
.oneTouch .helpReturn{
    top: 225px;
}
.helpAutoTradeBG {
  width: 42px;
  height: 20px;
  display: inline-block;
  position: absolute;
  background: url(../../images/help-sprite-bxpros.png);
  background-position: 0px -155px;
  left: 510px;
  top: 111px;
}
.turboBinary .helpInvestAmountBG {
  left: 597px;
  top: 73px;
}
.digital.knockin {
  .helpAutoTrade, .helpAutoTradeBG {
    display: none;
  }
}
.range .helpInvestAmountBG {
  left: 505px;
  top: 80px;
}
.range .helpAutoTrade,
.range .helpAutoTradeBG,
.touch .helpAutoTrade,
.touch .helpAutoTradeBG,
.oneTouch .helpAutoTrade,
.oneTouch .helpAutoTradeBG{
    display: none;
}
.range .helpExecuteTradeBG{
    top: 135px;
}
.range .helpExecuteTrade{
    top: 130px;
}
.range .helpReturnBG{
    top: 205px;
}
.range .helpReturn{
    top: 220px;
}
.turboBinary .helpInvestAmountBG {
  left: 510px;
  top: 90px;
}
.helpInvestAmount {
  top: 75px;
  left: 560px;
}
.helpAutoTrade {
  top: 106px;
  left: 560px;
}
.touch .helpInvestAmount {
  top: 75px;
  left: 560px;
}
.range .helpInvestAmount {
  top: 75px;
  left: 560px;
}
.turboBinary .helpInvestAmount {
  top: 85px;
  left: 560px;
}
.helpExecuteTradeBG {
  width: 42px;
  height: 20px;
  display: inline-block;
  position: absolute;
  background: url(../../images/help-sprite-bxpros.png);
  background-position: 0px -155px;
  left: 510px;
  top: 160px;
}
.digital.knockin .helpExecuteTradeBG {
  top: 195px;
}
.touch .helpExecuteTradeBG,
.turboBinary .helpExecuteTradeBG {
  left: 512px;
  top: 130px;
}
.helpExecuteTrade {
  top: 154px;
  left: 560px;
}
.digital.knockin .helpExecuteTrade {
  top: 190px;
}
.touch .helpExecuteTrade,
.turboBinary .helpExecuteTrade {
  top:125px;
}
.helpReturnBG {
  width: 46px;
  height: 44px;
  display: inline-block;
  position: absolute;
  background: url(../../images/help-sprite-bxpros.png);
  background-position: 0px -286px;
  left: 510px;
  top: 235px;
}
.touch .helpReturnBG {
  top: 197px;
}
.turboBinary .helpReturnBG{
    top: 213px;
}
.turboBinary .helpAutoTrade,.turboBinary .helpAutoTradeBG {
  display: none;
}
.helpReturn {
  top: 250px;
  left: 560px;
}
.touch .helpReturn {
  top: 212px;
  left: 560px;
}
.turboBinary .helpReturn{
    top: 230px;
    left: 560px;
}
.helpNavActive {
  width: 10px;
  height: 10px;
  background: @help-cont-clr;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 3px;
}
.helpNav {
  width: 8px;
  height: 8px;
  border: 1px solid @help-cont-clr;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 3px;
}
.navNext, .navClose {
  text-transform: uppercase;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 3px;
  position: absolute;
  right: 4px;
  cursor: pointer;
  top: -15px;
}
.navLeft {
  width: 15px;
  height: 33px;
  background: url('../../images/hand-buttons-bxpros.png');
  display: inline-block;
  background-position: 0px -35px;
  line-height: 33px;
}
.navMid {
  width: auto;
  height: 33px;
  background: url('../../images/hand-buttons-bxpros.png');
  display: inline-block;
  background-position: 0px -69px;
  line-height: 33px;
}
.navRight {
  width: 15px;
  height: 33px;
  background: url('../../images/hand-buttons-bxpros.png');
  display: inline-block;
  background-position: 0px -1px;
  line-height: 33px;
}
.navWrapper {
  margin-left: 44%;
  bottom: 10px;
  width: 55%;
}
.help.active {
  z-index: 2;
  position: relative;
}
.custm-btn {
  .pretty-buttons(@btn-custom-clr,@custom-btn-bg)
}
.durationButtons {
  display: inline-block;
  font-size: 12px;
  min-height: 29px;
  padding: 1px 1.4px;
  color: @help-cont-clr;
}
.durationButtons:hover{
    background: #636363;
    border-radius: 8px;
}
.widgetAdvancedDurationButton [selected="selected"] {
  color: @navbar-a-clr;
  border-radius: 8px;
  background-color: #636363;
}
.durationSlider {
  margin-top: 15px;
}
.widgetPayout.current-date-time {
  margin: 2px 0;
}
.advancedDurationDatePicker {
  border: 1px solid @adv-dur-datepick-brd;
  border-radius: 3px;
  color: @mytrades-volumes-bg;
  background-image: -moz-linear-gradient(90deg, @adv-dur-datepick-top 0%, @adv-dur-datepick-bot 100%);
  background-image: -webkit-linear-gradient(90deg, @adv-dur-datepick-top 0%, @adv-dur-datepick-bot 100%);
  background-image: -ms-linear-gradient(90deg, @adv-dur-datepick-top 0%, @adv-dur-datepick-bot 100%);
  box-shadow: 0px 2px 0px 0px @adv-dir-box-sdw;
  min-height: 30px;
  padding: 3px 5px;
  line-height: 1.428571429;
  margin-top: 22px;
}
.pageLink, .nextPages, .prevPages
{
  display: inline-block;
  font-family: 'robotolight';
  font-size: 13px;
  width: 27px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  color: @mytrades-volumes-clr;
  padding:0;
  line-height:25px;
  background: url('/wp-content/themes/tol-parent/images/turbo-button.png');
  border:0;
  border-radius:0;
  margin:0 2px 0 2px;
}
.tol-traderoom-layout-1 .pageLink.activePage
{
  color: @info-clr !important;
  height: 25px;
  background: url('/wp-content/themes/tol-parent/images/turbo-button.png');
  line-height:25px;
  text-decoration:none;
  box-shadow:none;
  text-shadow:none;
}
.prevPages {
  float:left;
}
.prevPages, .nextPages,
.prevPages:hover, .nextPages:hover
{
  color:@info-clr;
  cursor:pointer;
  display: inline-block;
  text-decoration: none;
}
.paging {
  float: right;
  display: inline-block;
  margin: -10px 9px 0 0;
}
//SIGNALS
.signalsWidget .tableRowDiv:nth-child(odd) {
  border-right: 0;
  border-bottom: 1px solid #37393b;
}
.signalsWidget .tableRowDiv:nth-child(even) {
  background: #1e1f21;
  border-bottom: 1px solid #37393b;
}
.signalsWidget .tableHeaderDiv > div {
  color:@signals-tbl-head-clr;
  background-color: @signals-tbl-head-bg;
  vertical-align: bottom;
  border: 0;
  -webkit-box-shadow: inset 0 1px 0 @signals-tbl-head-sdw1, inset 0 -2px 0 @signals-tbl-head-sdw2;
  box-shadow: inset 0 1px 0 @signals-tbl-head-sdw1, inset 0 -2px 0 @signals-tbl-head-sdw2;
  padding: 8px;
  line-height: 1.428571429;
  font-size: 0.9em;
  font-weight: 500;
  text-align: left;
  display: table-cell;
  width: 17%;
}
.columnAsset, .columnValidity, .columnExpiryTime, .columnPayout, .columnSignal, .columnStrength, .columnAmount, .columnTrade {
  display: table-cell;
  padding: 8px;
  line-height: 1.428571429;
  text-align: left;
  width: 17%;
}
.signalsWidget .tableHeaderDiv > div.validityHeader, .columnValidity,
.signalsWidget .tableHeaderDiv > div.payoutHeader, .columnPayout {
  width: 8%;
}
.signalsWidget .tableHeaderDiv > div.signalHeader, .columnSignal {
  width: 10%;
}
.signalsWidget .tableHeaderDiv > div.strengthHeader, .columnStrength {
  width: 20%;
}
.signalStrength.percWrap {
  background-image: url('/wp-content/themes/tol-parent/images/signal_strength_full.png');
  background-repeat: no-repeat;
  width: 126px;
  height: 20px;
  position: absolute;
  margin-top: 3px;
}
.browser-firefox .signalStrength.percWrap,
.browser-msie .signalStrength.percWrap,
.browser-edge .signalStrength.percWrap {
  margin-top: -16px;
}
.signalStrength.percInner {
  display: block;
  height: 20px;
  background-image: url('/wp-content/themes/tol-parent/images/signal_strength.png');
  background-repeat: no-repeat;
}

.signalsWidget .tableBodyDiv div.columnAsset .asset {
  overflow:hidden;
}
.signalsNoOptions {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(42,42,42,0.5);
  z-index: 98;
}
.signalsNoOptions span {
  display: block;
  padding-top: 12%;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
.signalAmount {
  width: 90%;
  padding-left: 4px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #3c4044 0%, #242629 100%);
  background-image: -o-linear-gradient(top, #3c4044 0%, #242629 100%);
  background-image: linear-gradient(to bottom, #3c4044 0%, #242629 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c4044', endColorstr='#ff242629', GradientType=0);
  opacity: 1;
  border: 1px solid #262626;
  margin-bottom: 1px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.signalsWidget .trade input[type=button] {
  display:inline-block;
  width: 38px;
  height:26px;
  border:0;
  border-bottom:1px solid @signals-input-brdb;
  background: @signals-input-grad-from;
  background: -moz-linear-gradient(top, @signals-input-grad-from 0%, @signals-input-grad-to 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, @signals-input-grad-from), color-stop(100%, @signals-input-grad-to));
  background: -webkit-linear-gradient(top, @signals-input-grad-from 0%, @signals-input-grad-to 100%);
  background: -o-linear-gradient(top, @signals-input-grad-from 0%, @signals-input-grad-to 100%);
  background: -ms-linear-gradient(top, @signals-input-grad-from 0%, @signals-input-grad-to 100%);
  background: linear-gradient(to bottom, @signals-input-grad-from 0%, @signals-input-grad-to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@signals-input-grad-from', endColorstr='@signals-input-grad-to', GradientType=0 );
  text-decoration:none;
  text-transform: uppercase;
  color:@help-cont-clr;
  border-radius: 3px;
}
.signalsWidget .trade input[type=button]:disabled {
  background: @signals-input-brd;
  color: @signals-input-clr;
  border-top: 1px solid @signals-input-brd;
  border-bottom: 1px solid @signals-input-brd;
}
.signalsWidget .signalHeader {
  width: 50px;
}
.signalsWidget .strengthHeader {
  width: 130px;
}
.signalsWidget .ditectionDiv {
  position: relative;
  width: 50px;
  padding: 0 3px;
  text-indent: 14px;
}
.signalsWidget .signalDown {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid @signals-down-clr;
  left: 3px;
  top: 42%;
}
.signalsWidget .signalUp {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid @signals-up-clr;
  left: 3px;
  top: 42%;
}
.signalsUserClasses span {
  margin: 20px auto;
  font-size: 14px;
  text-align: center;
  position: absolute;
  width: 100%;
}

.signalsUserClasses .buttons-wrapper
{
  top:auto;
  bottom:0;
  right:20px;
}
/* =================== End of the Trading Signals =====================*/

//One Touch game
.assetName .arrowDown {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #FFF;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 10px;
  left: 3px;
}
.assetName .arrowUp
{
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #FFF;
  width: 1px;
  height: 1px;
  position: absolute;
  top:10px;
  left:3px;
}
.oneTouchName.img.down, .targetLblContent.img.down {
  background: url('/wp-content/themes/tol-parent/images/closed_put_onetouch.png') no-repeat;
}
.oneTouchName.img.up, .targetLblContent.img.up
{
  background: url('/wp-content/themes/tol-parent/images/closed_call_onetouch.png') no-repeat;
}
.oneTouchNameWrap
{
  width:100%;
  direction:ltr;
}

.oneTouchName.img
{
  display:inline-block;
  width:16px;
  height:8px;
}

.targetLblContent.img
{
  width:16px;
  height:8px;
}

.targetLblContent.img.up
{
  position: absolute;
  bottom: 8px;
  left: 25px;
  z-index: 1;
}

.targetLblContent.img.down
{
  position: absolute;
  bottom: 8px;
  left: 25px;
  z-index: 1;
}
.oneTouchName.lbl
{
  display:inline-block;
}
.targetLblContent
{
  display:inline-block;
}
.oneTouch .targetLblContent.lbl
{
  display:block;
  font-weight: 300;
  font-size: 14px;
}
.oneTouch .widgetRateAlpha .targetLblContent.price {
  color: #f5f5f5;
  position: relative;
  text-align: right;
  font-size: 15px;
  padding: 1px 5px 1px 0;
  border-radius: 5px;
  width: 100%;
  background-color: #262626;
  border: 1px solid #262626;
  cursor: not-allowed;
}
.oneTouch .widgetRateAlpha {
  margin-top: -5px;
  position: relative;
}
.oneTouch .selectionStateLabel {
  font-size: 11px;
}
.targetLblContent.price
{
  color:#ffca29;
  font-size:18px;
}
.oneTouch .tol-rate-label {
  margin: 3px 0 1px 0;
}
#tol-traderoom-layout-1 #chartTicksTrade,
#tol-traderoom-layout-1 #chartTicksTrade .highcharts-container {
  height: 284px;
  max-height: 284px;
}
.ticks .tol-tradebox-right .btn-primary.tradeButton {
  margin: 50px 0 0;
}
.payout-return-wrapper {
  margin-top: 15px;
}
.p20 {
  padding: 10px;
}
.clear {
  clear: both;
}

#tol-traderoom-layout-1 .table-striped>tbody>tr:nth-of-type(odd) {
  background:@table-odd-bg;
}
/* FOREX GAME START */
.fl,
.sliderExpire div,
.forexVolumeAmount div,
.forexButtonsAndRate div,
.ourRateDiv div,
.profitContainer {
  float: left;
}
.returnOnLossContainer {
  float: right;
}
.profitContainer div,
.returnOnLossContainer div {
  display: inline-block;
}
.forexButtonsAndRate div a {
  display: block;
  height: 50px;
  width: 100px;
  margin: 0;
  padding: 2px;
  text-align: center;
}
.clear {
  clear: both;
}
.tradeAreaWrapper div {
  padding: 2px;
}
.ourRateDiv {
  padding: 3px;
}
.forexVolumeAmount .amountDLL select {
  width: 150px;
}
.expireDDLWrapper div {
  /*margin: 0px;
  padding: 0px;*/
}
.textColor,
.textColor span input {
  color: #ffca29;
}
.widgetforexDurationButton input {
  color: #ffca29;
  background-color: #444;
  border: #ffca29 solid 1px;
  padding: 5px;
}
.widgetforexDurationButton [selected="selected"] {
  color: #444;
  background-color: #ffca29;
  border: #444 solid 1px;
}
.forexDurationDatePicker,
.forexDurationDatePicker input {
  width: 50%;
}
.SelectedLongTermExpiryTime,
.SelectedLongTermExpiryTime span {
  float: right;
  margin-top: -24px;
  z-index: 2;
  position: relative;
  margin-right: 5px;
  color: #000;
}
.spanExpiry,
.spanExpiry span,
.spanExpiry div {
  margin-top: 5px;
  width: 100%;
  text-align: center;
}
.payoutProfit,
.payoutProfit div {
  float: left !important;
  margin: 0 8px 0 0 !important;
  padding-right:3px;
}
.returnOnLossProfit,
.returnOnLossProfit div {
  margin-left: 5px;
}
.chartv2Widget {
  width: 500px;
  display: inline-block;
  padding-top: 50px;
  padding-left: 10px;
}
#forexTraidMain .sellTab.activeTab {
  border-top: 2px solid #4F5358;
  border-left: 2px solid #4F5358;
}
#forexTraidMain .buyTab.activeTab {
  border-top: 2px solid #4F5358;
}
#forexTraidMain .rowWrapper .row {
  border-left: 2px solid #4F5358;
  background: #303438;
  font-family: 'robotoregular';
  text-align: center;
  height: 115px;
}
#forexTraidMain .rowWrapper .row:nth-child(2){
  padding-top: 35px;
}
.buySell {
  font-size: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  display: inline-block;
  border-right: 2px solid #26292B;
  padding-right: 10px;
}
.buySellStrike {
  display: inline-block;
  padding-left: 5px;
}
.buySellStrike span.uppercase:nth-child(1) {
  font-size: 10px !important;
}
.left, .center, .right {
  float: left;
  width: 31.65%;
  padding: 5px;
  height: 50px;
}
.first, .second, .third, .fourth {
  float: left;
  width: 24%;
  padding: 5px;
  height: 60px;
  background: #4E5156;
  color: #FFF;
}
.first {
  margin-left: 2%;
}
.values {
  font-size: 30px;
  position: relative;
  top: -9px;
}
.labelsText {
  font-size: 13px;
  color: white;
  width: 100%;
  padding: 0 0 7px 0;
}
.ui-dialog[aria-describedby=forexTradePopup] {
  z-index: 101;
  color: #FFF;
}
.ui-dialog[aria-describedby=forexTradePopup] .inner {
  color: #FFF;
}
.ui-dialog[aria-describedby=forexTradePopup] .ui-dialog-title {
  display: none;
}
.tol-tradingtools-dialog .ui-dialog-title{
  display: none;
}
.ui-dialog .ui-dialog-titlebar{
    min-height: 42px;
}
.ui-dialog[aria-describedby=forexTradePopup] .ui-widget-header {
  height: 40px;
  border: 0;
}
#txtinvestInUsd, #txttakeProfitInUsd {
  background: #292828;
  border: 0;
  color: #FFF;
  font-size: 22px;
  font-family: 'robotoregular';
}
#forexTraidMain .rowWrapper {
  background: #3E4146;
}
#forexTraidMain .rowWrapper div[align=center] {
  border-top: 1px solid #2E3136;
  margin-top: 15px;
}
#forexTraidMain .row {
  margin: 0;
}
#forexTraidMain .buySell {
  font-family: 'robotoregular';
  font-weight: normal;
}
#forexTraidMain .customSelect {
  color: #fff;
  font-size: 22px;
}
#forexTraidMain select.hasCustomSelect {
  left: 33px;
}

#forexTraidMain select.hasCustomSelect option {
  background: #3E4146;
  color: #FFF;
}
#forexTradePopup {
  border: 0;
}
#forexTraidMain .buttonTradeDiv {
  display: inline-block;
  width: 25%;
  border-top: 1px solid #fce390;
  border-bottom: 1px solid #31280b;
  background: #faca30;
  background: -moz-linear-gradient(top, #faca30 0%, #f9b12c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faca30), color-stop(100%,#f9b12c));
  background: -webkit-linear-gradient(top, #faca30 0%,#f9b12c 100%);
  background: -o-linear-gradient(top, #faca30 0%,#f9b12c 100%);
  background: -ms-linear-gradient(top, #faca30 0%,#f9b12c 100%);
  background: linear-gradient(to bottom, #faca30 0%,#f9b12c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faca30', endColorstr='#f9b12c',GradientType=0 );
  text-decoration: none;
  color: #000;
  text-shadow: 0px 1px #FFF;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  border-radius: 2px;
  margin: 10px;
  height: 50px;
}
.advancedVolumeAmount .amountDLL select {
  width: 150px;
}
.forexTradeDiv {
  width: 650px;
  height: 398px !important;
  max-height: 400px !important;
  background: #2a2a2a !important;
  display: none;
  padding: 5px;
}
.assetNameDiv {
  background: black;
  color: gray;
  font-size: 20px;
  height: 35px;
  padding: 5px;
}
.buyTab {
  float: left;
  width: 48.4%;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  margin-top: 10px;
  background-color: #6E6E6E;
}
.sellTab {
  float: left;
  width: 47.3%;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #6E6E6E;
}
.rowWrapper {
  background: #848484;
  padding: 10px;
}
.pageLoader {
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: #28292B;
  z-index: 99;
  opacity: 0.6;
}
.loadingElements {
  margin-top: 130px !important;
}
.loadingElementTexts {
  padding-top: 50px !important;
}
.inner {
  margin: 0 auto;
  position: relative;
  text-align: center;
  background-color: #3E4146;
}
.inner .row {
  width: 66%;
  margin: 0 auto;
}
.buttonClose {
  width: 90px;
  height: 35px;
  background: -moz-linear-gradient(top, #494D52 0%, #303337 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494D52), color-stop(100%,#303337));
  background: -webkit-linear-gradient(top, #494D52 0%,#303337 100%);
  background: -o-linear-gradient(top, #494D52 0%,#303337 100%);
  background: -ms-linear-gradient(top, #494D52 0%,#303337 100%);
  background: linear-gradient(to bottom, #494D52 0%,#303337 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494D52', endColorstr='#303337',GradientType=0 );
  color: white;
  font-size: 16px;
  border: 1px solid #303438;
  margin-top: 10px;
  margin-bottom: 15px;
}
.successMsg {
  display: inline-block;
  width: 48%;
  padding: 5px;
  height: auto;
  vertical-align: top;
}
.successMsg span {
  display: block;
}
.inner .row .successMsg:nth-child(1) {
  text-align: left;
}
.inner .row .successMsg:nth-child(2) {
  text-align: right;
}
.txtMsg {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #262626;
  border-bottom: 1px solid #000;
}
.uppercase {
  text-transform: uppercase;
}
.widgetButtonForexTrade {
  font-size: 14px;
  text-decoration: none;
  color: white;
  width: 90%;
  height: 35px;
  padding: 0 15px 0 25px !important;
  border: 0;
  border-radius: 0 !important;
  line-height: 35px;
  background: -moz-linear-gradient(top,  #494d52 0%, #3e4246 49%, #313438 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494d52), color-stop(49%,#3e4246), color-stop(100%,#313438)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #494d52 0%,#3e4246 49%,#313438 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #494d52 0%,#3e4246 49%,#313438 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #494d52 0%,#3e4246 49%,#313438 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #494d52 0%,#3e4246 49%,#313438 100%); /* W3C */
}
.widgetButtonForexTrade:hover {
  background-position: 0;
  background: -moz-linear-gradient(top,  #ffb129 0%, #ffbc29 49%, #ffc929 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb129), color-stop(49%,#ffbc29), color-stop(100%,#ffc929)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffb129 0%,#ffbc29 49%,#ffc929 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffb129 0%,#ffbc29 49%,#ffc929 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffb129 0%,#ffbc29 49%,#ffc929 100%); /* IE10+ */
  background:  linear-gradient(to bottom,  #ffb129 0%,#ffbc29 49%,#ffc929 100%); /* W3C */
}
.forexCloseButton {
  color: #eaeaea;
  background: url('/wp-content/themes/tol-parent/images/turbo-button.png');
  width: 45px;
  height: 25px;
  border: 0;
  cursor: pointer;
  line-height: 15px;
  border-radius: 0 !important;
}
.tradesTable.forex .myTradesOptionsAssetsDDL .customSelectInner {
  width:178px !important;
}
.tol-game1 .container {
  position:relative;
}
.forex .table > tbody > tr > td.assetName {
  line-height: 2.8em;
}
#loadingElementForex {
  width: 133px;
  height: 132px;
  background: url('/wp-content/themes/tol-parent/images/forex_anim.gif') no-repeat center top;
  text-align: center;
  margin: 0 auto;
}
#tol-traderoom-layout-1 .rate-label-wrapper .rate-widget {
    background-color: #262626;
    opacity: 1;
    color: #f5f5f5;
    border: 1px solid #262626;
    margin-bottom: 1px;
    height: 33px;
    padding: 3px 5px;
    line-height: 1.428571429;
    font-size: 14px;
}
.tol-well label, .closedTrades label {
  line-height: 2em;
  margin-bottom: 0;
}
.tol-invest-time, .widgetPayout {
  padding: 5px 6px 6px;
  display: inline-block;
  color: #ffffff;
  border-radius: 3px;
  background: #3c4044;
  background-image: -webkit-linear-gradient(top, #3c4044 0%, #242629 100%);
  background-image: -o-linear-gradient(top, #3c4044 0%, #242629 100%);
  background-image: linear-gradient(to bottom, #3c4044 0%, #242629 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c4044', endColorstr='#ff242629', GradientType=0);
  border: 1px solid #181a1b;
  border-bottom: 1px solid #000000;
  text-shadow: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  cursor: pointer;
}
.tol-tradebox-left {
  font-family: 'robotoregular';
  position: relative;
}
.widgetRateAlpha {
  position: absolute;
  margin-top: 75px;
  left: 0px;

}
.widgetRateBeta, .widgetRateAlpha{
    font-size: 12px;
}
.widgetRateBeta {
    top: 195px;
    position: absolute;
    left: 0;
}
.tol-widgetRateBeta {
    float: left;
    left: -15px;
    min-height: 20px;
    position: relative;
}
.range .tol-rate-label{
    margin: 14px 0 18px;
}
.touch .tol-widgetRateBeta{
    display: none;
}
.tol-tradebox-left .btn-primary, .tol-tradebox-right .btn-primary {
  font-size: 1.714285714285714em;
  text-transform: uppercase;
  border: 0;
}
.btn-primary {
  text-shadow: 0 1px 0 #fff;
}
.chartV2Wrapper {
  border: 1px solid @rate-border-clr;
  position: relative;
}
.tol-tradebox-right {
  font-family: 'robotoregular';
}
#loadingElementCashier {
  top: 0;
  left: 0;
}
.advanced .advancedDurationDatePicker {
  width: 100%;
}
#tol-assset-filter {
  z-index: 4;
}
#expireTurbo-tradologic {
  display: inline-block;
}
.rtl .container-fluid .row {
  text-align: left;
}
.rtl .tol-traderoom .navbar-nav {
  float: right;
  padding-right: 0;
}
.rtl .tol-traderoom .navbar-inverse .navbar-collapse {
  padding-left: 15px;
  padding-right: 0px;
}
.rtl .tol-traderoom .navbar-nav>li {
  float: right;
}
.rate-wrapper span {
  background-color: #262626;
  opacity: 1;
  color: #f5f5f5;
  border: 1px solid #262626;
  margin-bottom: 1px;
  display: block;
  padding: 3px;
  border-radius: 3px;
}
.slider-payout .ui-slider-handle {
  z-index: 1;
}
@media screen and (max-width: 1024px) and (min-width: 1022px) {
    #tol-traderoom-layout-1 .touch .widgetButtonAlpha,
    #tol-traderoom-layout-1 .touch .widgetButtonBeta{
        font-size: 20px;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        padding: 3px;
    }
    .scrollContent .assetName{
        padding: 3px;
    }
    .tol-well label{
        font-size: 12px;
    }
    .table-striped > thead > tr > th{
       font-size: 11px; 
    }
    .tol-bxpros-left-part-table{
        width: 27%;
    }
    .container .row div.col-sm-8.col-md-9.nopadding{
        width: 73%;
    }
    .assetFilterCustomPopup{
        left: -182px;
    }
    .tol-widgetRateBeta{
        left: -33px;
    }
    .appriseInner button{
        width: 100%;
        border: none;
        box-shadow: none;
    }
    
    .cysecregulated{
        .ask-bid-wrapper{
            font-size: 7px !important;
            margin-left: -60px !important;
        }
    }
  .helpContainer {
    width: 94.8%;
    left: 2.6%;
  }
  .navWrapper {
    margin-left: 42%;
  }
  .helpChooseAssetBG {
    left: 215px;
  }
  .helpChooseDirBG {
    left: 450px;
  }
  .helpChooseDir {
    left: 500px;
  }
  .helpChooseExpiryBG {
    left: 355px;
  }
  .helpReturnBG {
    left: 450px;
    top: 250px;
  }
  .helpReturn {
    top: 265px;
    left: 500px;
  }
  .helpExecuteTradeBG, .helpInvestAmountBG {
    left: 450px;
  }
  .helpExecuteTrade, .helpInvestAmount {
    left: 500px;
  }
  .tol-well.tol-chart-header .col-xs-4.col-lg-4.text-right {
    padding-left: 0;
    .right-label {
      padding-left: 0;
    }
  }
}
@media (min-width: 768px) {
    .tol-chart-header .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        width: auto;
    }
    .tol-chart-header .form-control {
        display: inline-block;
        width: auto;
    }
    #mobileGameMenu {
        display: none;
    }

    .tol-traderoom .nav>li>a {
        padding: 10px 13px;
    }
}

@media (min-width: 768px) and (max-width: 770px) {
    .col-sm-3.tol-traderoom-wrapper{
        padding:0;
    }
    .tol-well.tol-chart-header .form-control-sm {
        height: 28px;
        font-size: 11px;
    }
    .tol-chart-header .form-group {
        font-size: 12px;
    }
    .tol-tradebox-right label {
        font-size: 12px;
    }
    .returnHighAmount{
        font-size:12px;
    }
    .navigationContainer {
        top: 2px;
    }
}
@media (max-width: 360px) {
    .tol-registration .last-name-holder{
        padding-right: 0px !important;
        margin-right: -5px;
    }
}
@media (max-width: 767px) {
    .tol-assets-table {
        padding-left: 10px;
    }
    .tol-help-btn{
        display:none;
    }
    #noOptions{
        top: 50px;
        z-index: 10;
    }
    #tol-assset-filter .select-wrapper ul,
    #tol-assset-filter .select-wrapper ul > li,
    .select-wrapper,
    #tol-assset-filter{
        z-index: 98;
    }

    .table-responsive {
      border: 0;
    }
    .tol-bxpros-left-part-table {
      padding-right: 0;
    }
    #expireTurbo-tradologic {
      display: block;
    }
    .row.tol-chart-container {
      margin: 0;
    }
    .mobile-payout-wrapper {
      text-align: right;
    }
    .expireTurboRuleInterval {
      background: url('/wp-content/themes/tol-parent/images/turbo-button-mobile.png');
      font-size: 12px;
      padding: 1px;
      width: 22px;
      margin-left: 1px;
      margin-top: 0px;
      height: 33px;
    }
    .expireTurboRuleInterval:hover {
      background-position: center -33px;
    }
    .expireTurboRuleInterval.activeRule,
    .expireTurboRuleInterval.activeRule:hover {
      background-position: center -66px;
    }
    .mobile-chart-container, .tol-traderoom-wrapper {
      padding: 0;
    }
    .chartV2Wrapper {
      border: 0;
      z-index: 9;
    }
    .tol-rate-label span {
        font-size: 11px;
        line-height: 22px;
    }
    .percentage {
      float: none;
    }
    .inTheMoneyLabel {
      display: block;
      height: 20px;
    }
    .tol-tradebox-right {
      margin: 0;
    }
    .chartNavigationPeriod {
      font-size: 10px;
      width: 37px;
    }
    .tol-tradebox-left .tol-rate-label label {
      margin-bottom: 0;
    }
    .tol-assets-table {
      height: 270px;
    }
    .widgetPayout {
      display: block;
      text-align: right;
    }
    .tol-invest-time {
      width: 100%;
      text-align: left;
    }
    .range .rate-wrapper span {
      font-size: 0.8em;
    }
    .oneTouch .targetLblContent.lbl {
      display: none;
    }
    .targetLblContent.img.down {
      left: 3px;
    }
    .targetLblContent.img.up {
      left: 3px;
    }
    .tol-tradebox-left .btn-primary, .tol-tradebox-right .btn-primary {
      font-size: 12px;
    }
    .widgetPayout.current-date-time {
      text-align: center;
    }
    .widgetAdvancedDurationButton {
        height: 31px;
        padding: 5px 0;
        width: 100%;
    }
    .widgetAdvancedDurationButton .durationButtons {
        font-size: 9px;
      padding: 1px;
    }
    .returnOnLossProfit {
      margin-top: -40px;
    }
    .advanced .payoutProfit {
      margin-top: 20px !important;
    }
    .ui-dialog.ui-widget-content {
      width: 100% !important;
    }
    .buyTab {
      width: 46.4%;
    }
    #forexTraidMain .values {
      font-size: 17px;
    }
    #forexTraidMain .labelsText {
      font-size: 9px;
    }
    #forexTraidMain .left, #forexTraidMain .center, #forexTraidMain .right {
      width: 32.65%;
    }
    #forexTraidMain .left select, #forexTraidMain .center input, #forexTraidMain .right input {
      width: 100% !important;
      font-size: 17px;
    }
    .oneTouch .table.scrollTable td {
      text-indent: 8px;
    }
    .slider-payout {
      width: 100% !important;
      margin-top: 30px;
    }
    .openTradePutDiv, .openTradeCallDiv {
      padding: 10px;
    }
    .openTradePayoutValueDiv {
      text-align: right;
      padding-right: 5px;
    }
    .page-template-registration .row,
    #tol-footer .row{
        margin: 0;
    }
    .tol-registration .last-name-holder{
        padding-right: 10px;
    }
    #tol-contactUs-layout-1 ul li{
        list-style: none;
    }
    .paging{
        margin: -10px 5px 0 0;
    }
    .pageLink, .nextPages, .prevPages{
        width: 22px;
        font-size: 10px;
    }
    .tol-bonuses{
        height: 320px;
        width: 320px;
    }
    .balancetooltip{
        width: 100%;
    }
    #forexTradePopup #forexTraidMain .left select{
        padding: 2px 3px !important;
    }
    .page-template-traderoom-page .inner .row{
        width: 80%;
    }
    .page-template-traderoom-page .successMsg span{
        font-size: 12px;
    }
    #tol-traderoom-layout-1 .oneTouch .col-xs-3.widgetButtonBeta, #tol-traderoom-layout-1 .oneTouch .col-xs-3.widgetButtonAlpha{
        width: 33.33333333%;
    }
    #tol-assetsContainer .asset-item {
        line-height: 32px;
    }
    .cysecregulated{
        .tol-rate-label{
            margin: 0px 0 60px 0 !important;
        }
        .ask-bid-wrapper{
            font-size: 6px !important;
            width: 80px !important;
            margin-left: -20px !important;
        }
        .help-info-icon:hover .rate-info-wrapper{
            left: -50px !important;
        }
    }
}
#closePopUp, #closeAllPopUp,
#closePopUp:hover, #closeAllPopUp:hover{
    background: whitesmoke;
}
.extendContainer, .closeContainer, .doubleContainer, .insuranceContainer{
    top: 48px;
}
.extendCost{
    top: 112px;
}
.tol-tradingtools-dialog .ui-dialog-titlebar-close{
    display: none;
}
.closedTrades #closeTradesOptionsWra{
    float: left;
}
.closedTrades #closeTradesOptionsWrap #closeTradesDDLWrap{
    display: inline-block;
}
.closedTrades #closeTradesOptionsWrap .hasDatepicker{
    display: inline-block;
    width: 100px;
}
#forexTradePopup #forexTraidMain .left select{
    background: #292828;
    border:none;
    color: #ffffff;
    padding: 5px 10px;
    outline: 0;
    width: 140px;
}
.bg-danger{
    background-color: transparent;
}
.quick-cancel-BTN, .quick-deposit-BTN{
    float: right;
    margin-right: 10px;
}
.browser-firefox-45{
    .widgetButtonForexTrade.isLess,.widgetButtonForexTrade.isMore{
        width: 118%;
    }
}
.appriseInner.inactiveUserApprise button{
    color: #000000 !important;
    background-image: -webkit-linear-gradient(top, #ffc543 0%, #ebc300 100%) !important;
    background-image: -o-linear-gradient(top, #ffc543 0%, #ebc300 100%) !important;
    background-image: linear-gradient(to bottom, #ffc543 0%, #ebc300 100%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc543', endColorstr='#ebc300', GradientType=0) !important;
    border-color: #ffc410 !important;
    border-bottom-color: #ffb000 !important;
    text-shadow: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#ticksTradeExpiryResultWin{
    width: 100% !important;
}
.tol-opentrades-table, #tol-traderoom-layout-1 .digital .tol-signals-table{
    overflow-y: auto;
}
.lang-fr {
    #tol-assset-filter .select-wrapper p{
        font-size: 11px;
        line-height: 18px;
    }
    #tol-traderoom-layout-1 .legend-wrapper label[for="assetFilterCustom_type_4"]{
        font-size: 11px;
        height: 25px;
    }
}
.lang-fr, .lang-de{
    .signalsWidget .trade input[type="button"]{
        width: 100px;
    }
    .tol-assets-table .table > thead > tr > th{
        font-size: 10px;
    }
    .turboBinary .tol-assets-table .table > thead > tr > th{
        font-size: 12px;
    }
}
.lang-de{
    .tol-assets-table .table > thead > tr > th:last-child{
        font-size: 9px;
    }
    .turboBinary .tol-assets-table .table > thead > tr > th:last-child{
        font-size: 12px;
    }
}
#tol-traderoom-layout-1 .turboBinary .tol-assets-table table tr th,
#tol-traderoom-layout-1 .advanced .tol-assets-table table tr th{
    width: 50%;
}
#tab4 .tournamentsWrapper .tournamentsBack{
    margin: 10px 0 0 20px;
    position: absolute;
    z-index: 10;
    width: 240px;
}
#tab4 .tournamentsWrapper .tournamentsBackImage {
  position: absolute;
  width: 100%;
  height: 275px;
  background: #041237 url('/wp-content/themes/tol-parent/images/tournaments-open-trades.jpg') no-repeat top right;
  z-index: 1;
}
.mytrades-search input{
    margin-top: 33px;
}
.mytrades-profit-row .form-group{
    margin-bottom: 0;
}
// Ipad 2 portrait
@media screen and (max-width: 769px) and (min-width: 767px) {
    .tol-wp-navigation{
        float: right;
        margin: 0 10px !important;
    }
    .tol-login-userbar-container{
        margin-left: 10px;
    }
    #tol-traderoom-layout-1 .action.toolsButtonTd input{
        font-size: 9px;
    }
    select[data-widget="myTradesOptions"]{
        width: 105px;
    }
    .tol-opentrades{
        margin-top: 27px;
    }
    .tol-bxpros-left-part-table{
        width: 35%;
    }
    .container .row div.col-sm-8.col-md-9.nopadding{
        width: 65%;
    }
    .tol-rate-label span{
        font-size: 11px;
        line-height: 22px;
    }
    .advanced .tol-rate-label span{
        line-height: 20px;
    }
    .chartNavigationPeriod{
        font-size: 10px;
        width: 36px;
    }
    .signalStrength.percWrap{
        width: 50px;
    }
    .assetHeader{
        width: 33%;
    }
    .signalsWidget .tableBodyDiv div.columnAsset .asset{
        min-width: 75px;
        word-wrap: break-word;
    }
    .tol-tradebox-right .rate-wrapper span{
        font-size: 10px !important;
    }
    .tol-widgetRateBeta {
        left: -63px;
    }
    #tol-traderoom-layout-1 .touch .widgetButtonAlpha, #tol-traderoom-layout-1 .touch .widgetButtonBeta{
        font-size: 12px;
    }
    span.touchrateAlpha, span.touchrateAlpha{
        top: 60px;
    }
    span.touchrateBeta{
        top: 165px;
    }
    .turboChart{
        width: 360px;
    }
    .turboChart .chart .highcharts-container {
        margin-left: 90px !important;
        width: 265px !important;
    }
    .tol-tradebox-left .btn-primary, .tol-tradebox-right .btn-primary{
        font-size: 12px;
    }
    .targetLblContent.img.down,.targetLblContent.img.up{
        left: 1px;
    }
    .durationButtons{
        font-size: 9px;
    }
    #tol-traderoom-layout-1 .advanced .tol-tradebox-close-button{
        right: 5px;
    }
    #tol-traderoom-layout-1 .advanced .durationSlider {
        margin-top: 8px;
    }
    .tradeAreaExecutedTrade{
        font-size: 10px;
    }
    .p20{
        padding: 5px;
    }
    .lang-de .tol-opentrades .nav > li > a{
        padding: 10px;
        font-size: 11px;
    }
    .lang-de, .lang-fr{
        .tol-well label{
            font-size: 11px;
            line-height: 28px;
        }
        .ticks .payout-return-wrapper{
            font-size: 10px;
        }
        select[data-widget="myTradesOptions"]{
            width: 80px;
        }
    }
    .turboBinary .expireTurboRuleInterval{
        font-size: 11px;
        width: 25px;
        text-align: center;
        padding: 0;
    }
    
    .turboBinary .table.scrollTable td {
        font-size: 0.8em;
    }
    .assetFilterCustomPopup{
        left: -183px;
    }
    .cysecregulated{
        .tol-rate-label{
            margin: 0px 0 60px 0 !important;
        }
        .ask-bid-wrapper{
            font-size: 6px !important;
            width: 80px !important;
            margin-left: -20px !important;
        }
        .touch{
            .tol-rate-label{
                margin: 10px 0 75px 0 !important;
            }
            .ask-bid-wrapper{
                font-size: 6px !important;
                width: 80px;
                margin-left: -20px;
            }
            span.touchrateBeta{
                top: 210px;
            }
        }
        .oneTouch{
            .ask-bid-wrapper{
                width: 90px;
                margin-left: -25px;
            }
            .tol-rate-label{
                margin: 0px 0 48px 0 !important;
            }
            .tol-rate-label span.rate-widget{
                height: 38px !important;
                font-size: 10px !important;
            }
            .tol-rate-label label[data-translate="our_rate_onetouch"]{
                font-size: 12px;
                line-height: 24px;
            }
        }
    }
    
    .tol-bxpros-left-part-table{
        width: 100%;
    }
    #tol-traderoom-layout-1 .col-sm-8.col-md-9.nopadding{
        width: 100%;
    }
    .tol-opentrades-table table tr, .tol-closedtrades-table table tr{
        font-size: 12px;
    }
    .widgetRateAlpha{
        margin-top: 62px;
    }
    .widgetRateBeta{
        top: 160px;
    }
    .tol-rate-label span {
      font-size: 1.3em;
      line-height: 1.3em;
    }
}

/* Ipad landscape orienatation */
@media screen and (max-width: 1024px) and (min-width: 1024px) {
    .turboBinary .expireTurboRuleInterval{
        font-size: 11px;
        width: 25px;
        text-align: center;
        padding: 0;
    }
    .tol-rate-label span {
      font-size: 1.3em;
      line-height: 1.3em;
    }
    
    .returnHighAmount .value, .returnHighAmount .percentage, .returnLowAmount .value, .returnLowAmount .percentage, .selectionStateLabel{
        font-size: 10px;
    }
    .returnHighAmount .percentage,  .returnLowAmount .percentage{
        margin-right: 10px;
    }
    small[data-translate="inTheMoneyLabel"], small[data-translate="outTheMoneyLabel"]{
        font-size: 10px;
    }
    .tol-traderoom .nav>li>a {
        font-size:12px;
    }
}

#tol-assetList-layout-1 .games-header-box{
    list-style: none;
    padding: 0;
    margin: 0;
}
#tol-assetList-layout-1 .games-header-box li{
    display: inline-block;
    min-width: 100px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px 10px;
}
#tol-assetList-layout-1 .games-header-box li.active{
    background-image: linear-gradient(to bottom, #ebc300 0%, #b99900 100%);
    background-repeat: repeat-x;
    border-color: #9f8400 #9f8400 #6c5900;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #f5f5f5;
    text-shadow: none
}
#tol-assetsContainer{
    color: #000000;
    float: left;
    width: 100%;
}
#tol-assetsContainer dd{
    line-height: 32px;
    padding: 0 10px;
}
#tol-assetsContainer .assets-column{
    margin: 0;
    float: left;
}
#tol-assetsContainer .currencies, #tol-assetsContainer .indices, #tol-assetsContainer .stocks, #tol-assetsContainer .commodities, #tol-assetsContainer .futures{
    color: #000000;
    font-weight: bold;
}
.asset-details-popup{
    color: #000000;
}
/* Iphone 5 */
@media screen and (max-width: 321px) and (min-width: 319px) {
    .chartNavigationPeriod{
        font-size: 9px;
        width: 30px;
    }
    #tol-footer{
        float: left;
    }
    .tol-traderoom-wrapper{
        padding: 0 15px;
        float: left;
        width: 100%;
    }
    .range .tol-widgetRateBeta span.rate-down, .range .tol-widgetRateBeta span.rate-up{
        left: 215px;
        top: 75px;
    }
    .touch span.touchrateBeta{
        left: 193px;
        top: 72px;
    }
    .buyTab{
        margin-top: -11px;
    }
    #forexTradePopup{
        width: 310px;
    }
    #forexTradePopup .row{
        .first, .second, .third, .fourth{
            font-size: 10px;
        }
    }
    #forexTraidMain .values{
        font-size: 14px;
    }
    #forexTraidMain .labelsText {
        font-size: 10px;
    }
    #forexTradePopup #forexTraidMain .left select{
        padding: 3px !important;
    }
    #forexTraidMain .buttonTradeDiv{
        width: 80%;
    }
    #forexTraidMain .rowWrapper .row:nth-child(2){
        padding-top: 45px;
    }
}
.asset-details-popup-content button{
    background-image: linear-gradient(to bottom, #ebc300 0%, #b99900 100%);
    background-repeat: repeat-x;
    border-color: #9f8400 #9f8400 #6c5900;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #f5f5f5;
    text-shadow: none
}

.rate-info-wrapper {
    display: none;
}
.help-info-icon{
    display: none;
}
    
.cysecregulated{
    
    .help-info-icon{
        display: block;
    }
    .ask-bid-wrapper{
        font-size: 8px;
        margin-top: 20px;
        width: 200px;
        margin-left: -33px;
    }
    .tol-rate-label{
        margin: 0px 0 48px 0;
    }
    span.touchrateBeta{
        top:185px;
    }
    .oneTouch{
        .tol-rate-label{
            margin: 0px 0 16px 0;
        }
        .tol-rate-label span.rate-widget{
            height: 36px;
            font-size: 14px;
        }
    }
    
    .help-info-icon {
      display: none;
    }
    .help-info-icon {
        display: inline-block;
        background: url('/wp-content/themes/tol-parent/images/info-icon-yellow.png') no-repeat center;
        width: 18px;
        height: 18px;
        margin-left: 10px;
        position: relative;
        top: 3px;
    }
    .help-info-icon:hover {
        cursor: pointer;
    }
    .help-info-icon:hover .rate-info-wrapper {
        display: block;
        border: 1px solid #B4C5B5;
        min-width: 200px;
        position: absolute;
        left: -123px;
        top: -80px;
        height: 70px;
        padding: 0 10px;
        border-radius: 5px;
        text-align: left;
        z-index: 9;
        background: #FFF;
        color: #000;
        font-size: 12px;
    }
}
.countdown-wrapper {
    float: left;
    margin: 10px 5px 0 5px;
}
.countdown-timer {
  width:50px;
  height:50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  color: #b99900;
  display: block;
  margin: 0 auto;
  background: url('/wp-content/themes/tol-parent/images/yellow.gif') no-repeat center;
}

.traderpoints-warapper .assettablewrapper{
    .currencies, .indices, .stocks, .commodities{
        color: #000000 !important;
    }
}
#tol-myProfile-layout-1 .nav-tabs > li > a:hover,
#tol-myProfile-layout-1 .nav > li.active > a:hover,
#tol-changePassword-layout-1 .nav-tabs > li > a:hover,
#tol-changePassword-layout-1 .nav > li.active > a:hover{
    color: #ffca29;
}
#tol-myProfile-layout-1 .nav-tabs > li > a,
#tol-changePassword-layout-1 .nav-tabs > li > a{
    color: #ffca29;
}
.advanced_chart.tradologic {
    display:none;
}
@media (min-width: 360px) and (max-width: 360px) {
    .chartNavigationPeriod {
        margin-right: -2px;
    }
}
.extrafields-wrapper span{
    float: left;
    color: #000000;
    width: 16.333333%;
    text-align: left;
    padding-left: 16px;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
}
#divExtraFields input{
    margin-bottom: 20px;
    width: 27%;
}
.digital.knockin .tol-tradebox-right .btn-primary {
  height: 50px;
  line-height: 14px;
  font-size: 20px;
}
.rtl .digital.knockin .tol-well .row.right-label label {
  white-space: nowrap;
}
.rtl .isLess:before, .rtl .isMore:before {
  position: relative;
  left: 0px;
}
.rtl #tol-assset-filter .select-wrapper > p {
  text-indent: 10px;
}
#tosDialog .tosMessage *{
    color:#FFFFFF !important;
}
#tosDialog .tosMessage a{
    color: #ffca29 !important;
}
.rtl #tol-traderoom-layout-1 .closedTrades input,
.rtl #tol-traderoom-layout-1 .closedTrades select,
.rtl #tol-traderoom-layout-1 .closedTrades #closeTradesDDLWrap{
    float:right;
}
.rtl .assetFilterCustomPopup fieldset{
    margin-left: -15px;
}