@font-face {
    font-family: "font-icons";
    src: url("/wp-content/themes/tol-parent/fonts/font-icons.eot");
    src: url("/wp-content/themes/tol-parent/fonts/font-icons.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/tol-parent/fonts/font-icons.woff") format("woff"), url("/wp-content/themes/tol-parent/fonts/font-icons.ttf") format("truetype"), url("/wp-content/themes/tol-parent/fonts/font-icons.svg#font-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('/wp-content/themes/tol-parent/fonts/roboto_medium/Roboto-Medium-webfont.eot');
    src: url('/wp-content/themes/tol-parent/fonts/roboto_medium/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/tol-parent/fonts/roboto_medium/Roboto-Medium-webfont.woff') format('woff'), url('/wp-content/themes/tol-parent/fonts/roboto_medium/Roboto-Medium-webfont.ttf') format('truetype'), url('/wp-content/themes/tol-parent/fonts/roboto_medium/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('/wp-content/themes/tol-parent/fonts/roboto_regular/Roboto-Regular-webfont.eot');
    src: url('/wp-content/themes/tol-parent/fonts/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/tol-parent/fonts/roboto_regular/Roboto-Regular-webfont.woff') format('woff'), url('/wp-content/themes/tol-parent/fonts/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'), url('/wp-content/themes/tol-parent/fonts/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('/wp-content/themes/tol-parent/fonts/roboto_light/Roboto-Light-webfont.eot');
    src: url('/wp-content/themes/tol-parent/fonts/roboto_light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/tol-parent/fonts/roboto_light/Roboto-Light-webfont.woff') format('woff'), url('/wp-content/themes/tol-parent/fonts/roboto_light/Roboto-Light-webfont.ttf') format('truetype'), url('/wp-content/themes/tol-parent/fonts/roboto_light/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Black';
    src: url('/wp-content/themes/tol-parent/fonts/Lato-fonts/Lato-Black.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('/wp-content/themes/tol-parent/fonts/Lato-fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato-Medium';
    src: url('/wp-content/themes/tol-parent/fonts/Lato-fonts/Lato-Medium.ttf');
}
@font-face {
    font-family: 'lato-regular';
    src: url('/wp-content/themes/tol-parent/fonts/Lato-fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'lato-light';
    src: url('/wp-content/themes/tol-parent/fonts/Lato-fonts/Lato-Light.ttf');
}
@font-face {
    font-family: 'MinionPro-Light';
    src: url('/wp-content/themes/tol-parent/fonts/minionPro-fonts/MinionPro-Regular.otf');
}
@font-face {
    font-family: 'Helvetica-World-Bold';
    src: url('/wp-content/themes/tol-parent/fonts/HelveticaWorld-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('/wp-content/themes/tol-parent/fonts/ROBOTO-BOLD.TTF');
}
@font-face {
    font-family: 'open_sansregular';
    src: url('/wp-content/themes/tol-parent/fonts/open_sansregular/OpenSans-Regular-webfont.eot');
    src: url('/wp-content/themes/tol-parent/fonts/open_sansregular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/tol-parent/fonts/open_sansregular/OpenSans-Regular-webfont.woff') format('woff'), url('/wp-content/themes/tol-parent/fonts/open_sansregular/OpenSans-Regular-webfont.ttf') format('truetype'), url('/wp-content/themes/tol-parent/fonts/open_sansregular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('/wp-content/themes/tol-parent/fonts/open_sanssemibold/OpenSans-Semibold-webfont.eot');
    src: url('/wp-content/themes/tol-parent/fonts/open_sanssemibold/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/tol-parent/fonts/open_sanssemibold/OpenSans-Semibold-webfont.woff') format('woff'), url('/wp-content/themes/tol-parent/fonts/open_sanssemibold/OpenSans-Semibold-webfont.ttf') format('truetype'), url('/wp-content/themes/tol-parent/fonts/open_sanssemibold/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('/wp-content/themes/tol-parent/fonts/open_sansbold/OpenSans-Bold-webfont.eot');
    src: url('/wp-content/themes/tol-parent/fonts/open_sansbold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/tol-parent/fonts/open_sansbold/OpenSans-Bold-webfont.woff') format('woff'), url('/wp-content/themes/tol-parent/fonts/open_sansbold/OpenSans-Bold-webfont.ttf') format('truetype'), url('/wp-content/themes/tol-parent/fonts/open_sansbold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.eot');
    src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.woff2') format('woff2'), url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'), url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.ttf') format('truetype'), url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot');
    src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff2') format('woff2'), url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff') format('woff'), url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.ttf') format('truetype'), url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
    src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.woff2') format('woff2'), url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'), url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype'), url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-Cond';
    src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.eot');
    src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.woff2') format('woff2'), url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.woff') format('woff'), url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.ttf') format('truetype'), url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('/wp-content/themes/tol-parent/fonts/fontawesome-webfont/fontawesome-webfont.eot');
    src: url('/wp-content/themes/tol-parent/fonts/fontawesome-webfont/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/tol-parent/fonts/fontawesome-webfont/fontawesome-webfont.woff2') format('woff2'), url('/wp-content/themes/tol-parent/fonts/fontawesome-webfont/fontawesome-webfont.woff') format('woff'), url('/wp-content/themes/tol-parent/fonts/fontawesome-webfont/fontawesome-webfontttf') format('truetype'), url('/wp-content/themes/tol-parent/fonts/fontawesome-webfont/fontawesome-webfont.svg#fontawesome-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MoonLight';
    src: url('/wp-content/themes/tol-parent/fonts/MoonLight.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('/wp-content/themes/tol-parent/fonts/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('/wp-content/themes/tol-parent/fonts/ROBOTO-REGULAR.ttf');
    font-weight: normal;
    font-style: normal;
}
.theme-dev-container {
    display: none;
}
.assets-menu-wrapper {
    color: #444A60;
    height: 37px;
    margin: 0;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
}
.assets-popular,
.assets-list,
.assets-search {
    display: inline-block;
    border-bottom: 1px solid #303E50;
    height: 37px;
    padding-top: 10px;
    cursor: pointer;
    font-weight: 100;
}
.assets-popular {
    background: url('/wp-content/themes/tol-child/images/popular-assets-icon.png') no-repeat 20px 10px;
}
.assets-popular:hover {
    color: white;
    background: url('/wp-content/themes/tol-child/images/popular-assets-icon-active.png') no-repeat 20px 10px;
}
.assets-popular.active {
    color: white;
    background: url('/wp-content/themes/tol-child/images/popular-assets-icon-active.png') no-repeat 20px 10px;
    border-bottom: 0;
    border-right: 1px solid #303E50;
    border-top: 1px solid #303E50;
}
.assets-list {
    background: url('/wp-content/themes/tol-child/images/assets-list-icon.png') no-repeat 20px 10px;
    border-left: 0;
    border-right: 0;
}
.assets-list:hover {
    color: white;
    background: url('/wp-content/themes/tol-child/images/assets-list-icon-active.png') no-repeat 20px 10px;
}
.assets-list.active {
    color: white;
    background: url('/wp-content/themes/tol-child/images/assets-list-icon-active.png') no-repeat 16px 11px;
    border-bottom: 0;
    border-right: 1px solid #303E50;
    border-left: 1px solid #303E50;
    border-top: 1px solid #303E50;
}
.expiryddl-container .be-expiry-ddl-option {
    width: 70px;
    background: #181e2b;
    text-align: center;
    position: relative;
    left: -9px;
    z-index: 9;
    border: 1px solid #21284E;
    border-bottom: 0;
}
.expiryddl-container .be-expiry-ddl-option:nth-of-type(1) {
    margin-top: -2px;
}
.assets-search {
    background: url('/wp-content/themes/tol-child/images/search-icon.png') no-repeat 20px 10px;
}
.assets-search:hover {
    color: white;
    background: url('/wp-content/themes/tol-child/images/search-icon-active.png') no-repeat 20px 10px;
}
.assets-search.active {
    color: white;
    background: url('/wp-content/themes/tol-child/images/search-icon-active.png') no-repeat 20px 10px;
    border-bottom: 0;
    border-left: 1px solid #303E50;
    border-top: 1px solid #303E50;
}
.assetssearch-wrapper {
    padding: 10px 0;
}
.widget-exchangeAssetsList,
.widget-exchangeStrikeList,
.widget-exchangePopularAssetsList {
    color: white;
    overflow-y: auto;
}
.widget-exchangeStrikeList {
    text-align: center;
}
.bx-strikes-header {
    text-align: center;
    padding: 7px 0;
    height: 34px;
    color: #80838C;
}
.bx-strike-row {
    background-color: #121B27;
    font-size: 12px;
    height: 60px;
    border-top: 1px solid #2D3E50;
    line-height: 60px;
}
.bx-strike.large-bx-strike {
    font-size: 13px;
}
.bx-sell-qty {
    padding-right: 0;
    text-align: center;
}
.bx-strike-row .bx-buy,
.bx-strike-row .bx-sell {
    padding-left: 7px;
    padding-right: 7px;
}
.bx-action-box {
    cursor: pointer;
    height: 53px;
    line-height: 53px;
    margin: 3px 0;
    text-align: center;
    font-size: 15px;
    border: 1px solid #2D3E50;
    background: #2A3949;
}
.binaryExchange-assets-row {
    height: 43px;
    line-height: 34px;
    padding: 5px;
    border-top: 1px solid #2D3E50;
    background-color: #182434;
}
.binaryExchange-assets-row.down {
    border-left: 3px solid #BC253A;
}
.binaryExchange-assets-row.up {
    border-left: 3px solid #43A14A;
}
.binaryExchange-assets-box {
    height: 143px;
}
.binaryExchange-assets-box.up .row-name-rate,
.binaryExchange-assets-box.up .row-expiry {
    border-left: 3px solid #43A14A;
}
.binaryExchange-assets-box.down .row-name-rate,
.binaryExchange-assets-box.down .row-expiry {
    border-left: 3px solid #BC253A;
}
.option-name {
    color: white;
    font-size: 14px;
    width: auto;
    font-family: 'lato-regular';
}
.bx-popular-assets-header {
    text-align: center;
    padding: 7px 0;
    height: 34px;
    color: #757981;
}
.bx-sell-qty-header,
.bx-strike-header,
.bx-buy-header,
.bx-sell-strike-header,
.bx-name-header,
.bx-sell-header {
    color: #757981;
    border-right: 1px solid #303E50;
}
.bx-buy-expiry-header {
    padding-left: 0;
    padding-right: 0;
}
.widget-exchangeAssetsList > .binaryExchange-assets-row:nth-child(1) {
    border-top: 0;
}
.bx-name {
    overflow: hidden;
    padding-left: 5px;
    font-size: 12px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.bx-strike-row .bx-buy,
.bx-strike-row .bx-sell {
    padding-left: 7px;
    padding-right: 7px;
}
.bx-strike-row.popular-assets .bx-sell,
.bx-strike-row.popular-assets .bx-buy {
    padding-left: 0;
    padding-right: 0;
}
#home {
    background: #000;
}
.bx-popular-strike {
    text-align: center;
    font-size: 12px;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bx-action-box.up {
    color: #01FF36;
}
.bx-action-box.down {
    color: #FF0101;
}
.assetslist-tools {
    border-top: 1px solid #000000;
}
.assets-boxes,
.assets-list {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
    color: #5F738B;
    cursor: pointer;
    width: 49%;
}
.assets-boxes {
    border-right: 1px solid #000000;
}
.assets-boxes.active,
.assets-list.active {
    color: #e8e6f2;
}
.input-assetssearch {
    border: 1px solid #5C7289;
    padding: 10px;
    height: 30px;
    font-size: 14px;
    width: 170px;
}
.assetssearch-button {
    width: 81px;
    margin-left: -5px;
    position: relative;
    top: 1px;
    height: 31px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    font-family: 'lato-regular';
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    background-color: #f9a134;
    border-top: 1px solid #FF9223;
    border-bottom: 1px solid #171E26;
    -webkit-transition: background .2s ease;
    -o-transition: background .2s ease;
    -moz-transition: background .2s ease;
    transition: background .2s ease;
    border-radius: 3px;
    cursor: pointer;
}
.tradersearch-button {
    width: 32%;
    margin-left: 10px;
    position: relative;
    top: 1px;
    height: 31px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    font-family: 'lato-regular';
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    background: #f9a134 url('/wp-content/themes/tol-parent/images/forex/search-icon-h.png') 10px center no-repeat;
    border-top: 1px solid #FF9223;
    border-bottom: 1px solid #171E26;
    -webkit-transition: background .2s ease;
    -o-transition: background .2s ease;
    -moz-transition: background .2s ease;
    transition: background .2s ease;
    border-radius: 3px;
    cursor: pointer;
    text-indent: 20px;
}
.assetssearch-button:hover,
.tradersearch-button:hover {
    background-color: #db851a;
}
.input-tradersearch {
    border: 1px solid #2D3E50;
    color: #FFFFFF;
    padding: 10px;
    height: 30px;
    font-size: 14px;
    width: 63%;
    background: transparent url('/wp-content/themes/tol-parent/images/forex/search-icon.png') 95% center no-repeat;
}
.tradepanel-header-bar {
    height: 50px;
    line-height: 50px;
}
.assetsType-dropdown {
    position: absolute;
    height: 152px;
    width: 100%;
    border: solid 1px #000000;
    padding: 0;
    background: #2D3E50;
    z-index: 9;
    color: white;
}
.assettype-option {
    text-align: center;
    font-size: 13px;
    font-family: 'lato-regular';
    line-height: 25px;
    color: #ffffff;
    cursor: pointer;
}
.amount-dropdown {
    position: absolute;
    left: 4px;
    height: 82px;
    width: 97%;
    border: solid 1px #242743;
    padding: 0;
    background: #2D3E50;
    z-index: 9;
    color: white;
    margin-top: 3px;
}
.amount-option {
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}
.amount-option:hover {
    background-color: #f9a134;
}
.assettype-option:hover {
    background-color: #f9a134;
}
.assetssearch-option:hover {
    background-color: #f9a134;
    cursor: hand;
}
.assetstype {
    font-size: 1px;
}
// forex assets list cubes section
.forex-asset-boxesrow {
    margin: 0;
    border: 1px solid #000000;
    border-top: 1px solid #2D3E50;
}
.forex-cubses-name {
    text-align: center;
    margin: 5px 0;
}
.option-name {
    color: #e8e6f2;
    font-size: 14px;
    text-transform: uppercase;
}
.forex-cubses-rates {
    margin: 10px;
}
.forex-cubses-buyrates,
.forex-cubses-sellrates {
    height: 60px;
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    background-color: #00934F;
    -webkit-transition: background .2s ease;
    -o-transition: background .2s ease;
    -moz-transition: background .2s ease;
    transition: background .2s ease;
    border-radius: 3px;
    border-top: 1px solid #2FB368;
    cursor: pointer;
}
.forex-cubses-buyrates:hover,
.forex-cubses-sellrates:hover {
    background: #64d8b5;
}
.forex-cubses-buyrates.down,
.forex-cubses-sellrates.down {
    background-color: #AE1D2E;
    border-top: 1px solid #D42E42;
}
.forex-cubses-buyrates.down:hover,
.forex-cubses-sellrates.down:hover {
    background: #fe7c96;
}
.forex-cubses-buyrates {
    text-align: right;
    padding: 10px 10px 0 0;
}
.forex-cubses-sellrates {
    text-align: left;
    padding: 10px 0 0 10px;
    padding-left: 10px;
}
.sell-label,
.buy-label {
    text-transform: uppercase;
}
.forex-amount {
    margin: 10px;
}
.boxes-amount {
    height: 28px;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    background-color: #2D3E50;
    -webkit-transition: background .2s ease;
    -o-transition: background .2s ease;
    -moz-transition: background .2s ease;
    transition: background .2s ease;
    border-radius: 3px;
    border-top: 1px solid #2D3E50;
    cursor: pointer;
    color: #fff;
}
.panel.chartpanel {
    background: #131B28;
    border-radius: 0;
    height: 693px;
    margin-left: 285px;
    margin-right: 350px;
    margin-bottom: 0;
    z-index: 2;
}
.orders-trades-table-wrapper {
    margin-bottom: 0;
    border-radius: 0;
    background: #131B28;
    padding: 15px;
}
#real-forex-tab-content {
    padding: 0;
}
#real-forex-orders-table thead tr th {
    background: none;
}
#tradePanel {
    width: 280px;
    height: 100%;
    float: left;
    position: relative;
    background: #121B27;
    z-index: 4;
}
.assetssearch-options-container {
    padding: 0 10px;
}
.assetssearch-option {
    background: #2D3E50;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    font-family: 'lato-regular';
    padding-left: 15px;
    color: #fff;
}
.vertical-separator.trade-separator.closed .separator-arrow {
    border-left: 3px solid #637E99;
    border-right: transparent;
    left: 1px;
}
.sidepanel-tabs .tab-content {
    padding: 0;
    border: 1px solid #2D3E50;
    height: 95%;
}
h1.messages-title,
h1.news-title,
h1.social-title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 17px;
    margin-top: 0;
    color: #667E98;
    padding-bottom: 20px;
    border-bottom: 1px solid #2D3E50;
    padding-top: 5px;
}
h1.social-title {
    padding-left: 15px;
    padding-top: 20px;
    margin-bottom: 0;
}
.traderoom-loader {
    width: 100%;
    height: 100%;
    background: #131B28;
    z-index: 9;
    position: absolute;
}
.homepage-newsfeed {
    h3.widget-title {
        display: none;
    }
    .rss_image {
        height: 55px !important;
        width: 75px !important;
    }
    .title {
        font-size: 14px;
        font-family: 'lato-regular';
        a {
            font-size: 14px;
            font-family: 'lato-regular';
            font-weight: normal;
            color: #637E99;
        }
        a:hover {
            color: #FFFFFF;
        }
    }
}
.feedzy-rss .rss_item .rss_content small {
    display: none !important;
}
.feedzy-rss .rss_item .rss_content p {
    display: none;
}
.feedzy-rss .rss_item {
    border-bottom: 1px solid #2D3E50 !important;
}
.feedzy-rss > ul li.rss_item:last-of-type {
    border-bottom: 0 !important;
}
.nav.right-sidebar-nav {
    position: relative;
    height: 36px;
}
.nav.right-sidebar-nav li {
    width: 36px;
    height: 36px;
    display: inline-block;
    span {
        display: none;
    }
}
.nav.right-sidebar-nav li.active {
    width: auto;
    span {
        display: inline;
        float: right;
        color: #fff;
        text-indent: 15px;
        font-size: 13px;
        line-height: 17px;
    }
}
.nav.content-part-social li {
    width: 50%;
    float: left;
    height: 49px;
    border-bottom: 1px solid #2E3E4E;
}
.nav.content-part-social li.active {
    border-bottom: 0;
    background: #182434;
}
.nav.content-part-social li.most-profit-tab.active {
    border-right: 1px solid #2E3E4E;
}
.nav.content-part-social li.most-copied-tab.active {
    border-left: 1px solid #2E3E4E;
}
.nav.content-part-social li a {
    height: 100%;
    color: #667E98;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}
.nav.content-part-social li.active a {
    color: #FFFFFF;
}
.sidepanel-tabs .content-part-social .tab-content {
    border: 0;
    background: #182434;
}
.nav.right-sidebar-nav li a {
    height: 100%;
}
.nav.right-sidebar-nav li a:hover,
.nav.right-sidebar-nav li a:focus,
.nav.content-part-social li a:hover,
.nav.content-part-social li a:focus {
    background: transparent;
}
.messages-tab {
    background: transparent url('/wp-content/themes/tol-parent/images/forex/mail.png') no-repeat center;
}
.messages-tab.active {
    background: transparent url('/wp-content/themes/tol-parent/images/forex/mail_h.png') no-repeat 7px 13px;
}
.news-tab {
    background: transparent url('/wp-content/themes/tol-parent/images/forex/news.png') no-repeat center;
}
.news-tab.active {
    background: transparent url('/wp-content/themes/tol-parent/images/forex/news_h.png') no-repeat 7px center;
}
.social-tab {
    background: transparent url('/wp-content/themes/tol-parent/images/forex/social.png') no-repeat center;
}
.social-tab.active {
    background: transparent url('/wp-content/themes/tol-parent/images/forex/social_h.png') no-repeat 7px center;
}
.nav.right-sidebar-nav li a.active {
    border: 1px solid #2D3E50;
    border-bottom: 1px solid #131B28;
    position: relative;
    top: 1px;
    z-index: 2;
}
.search-part-social {
    padding: 9px;
    border-bottom: 1px solid #2D3E50;
}
.sidepanel-tabs:focus {
    outline: none;
}
.tol-messages-sidebar,
.tol-news-sidebar {
    padding: 15px;
}
table#tol-messageInbox th,
table#tol-messageInbox tr.inboxRow {
    background: transparent;
    font-size: 13px;
}
table#tol-messageInbox > tbody > tr > td {
    border-bottom: 1px solid #2D3E50;
    border-top: 1px solid #2D3E50;
    padding: 0 8px;
    height: 38px;
    line-height: 38px;
    font-weight: 700;
    font-family: 'robotolight';
    font-size: 13px;
}
#tol-messageInbox {
    margin-bottom: 0;
    color: #667E98;
}
table#tol-messageInbox > thead > tr > th:nth-child(1),
table#tol-messageInbox > tbody > tr > td:nth-child(1) {
    text-align: left;
}
table#tol-messageInbox > thead > tr > th:nth-child(2),
table#tol-messageInbox > tbody > tr > td:nth-child(2) {
    text-align: right;
}
table#tol-messageInbox tr:hover {
    cursor: pointer;
    td {
        background-color: transparent !important;
        color: #FFF;
    }
}
.side-separator {
    right: 340px;
    height: 100%;
}
.vertical-separator.side-separator .separator-collapse .separator-arrow {
    border-left: 3px solid #637E99;
    border-right: transparent;
    top: 12px;
}
.popover.left>.arrow {
	display: none;
}
.vertical-separator.side-separator.closed .separator-collapse .separator-arrow {
    border-right: 3px solid #637E99;
    border-left: transparent;
    left: 1px;
}
.trade-separator {
    top: 0;
}
.ui-widget-overlay {
    display: none;
    background: #000;
    opacity: .6;
    z-index: 99;
}
.dataTable table td .cellWrapper,
.dataTable table th .cellWrapper {
    font-size: 13px;
}
.dataTable table th .cellWrapper span:hover {
    color: #ffffff;
}
.dataTable table.traderoom-social th,
.dataTable table.traderoom-social td {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.dataTable table th.tarder-avatar {
    padding-left: 0;
    padding-right: 0;
    width: 40px;
}
.dataTable table th.tarder-name {
    width: 110px;
}
.dataTable table.traderoom-social td {
    overflow: visible;
    padding-top: 10px;
    padding-bottom: 9px;
}
.dataTable table.traderoom-social td.trader-name {
    color: #667E98;
    padding-left: 0;
    cursor: pointer;
    overflow: hidden;
    text-align: left;
    width: 110px;
}
.dataTable table.traderoom-social td.td-pandl {
    color: #667E98;
}
.dataTable table.traderoom-social td.td-pandl.positive {
    color: #27AE62;
}
.dataTable table.traderoom-social td.td-pandl.negative {
    color: #AD1F2F;
}
.dataTable table.traderoom-social td.trader-avatar,
.dataTable table.traderoom-social th.trader-avatar {
    padding-left: 0;
    padding-right: 0;
    width: 40px;
}
.dataTable table.traderoom-social td.trader-avatar img {
    border: 1px solid #2C3D4F;
    width: 30px;
    height: 30px;
}
.socialCopyBtn {
    width: 48px;
    height: 31px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    font-family: 'lato-regular';
    font-size: 13px;
    font-weight: 300;
    display: inline-block;
    background-color: #f9a134;
    border-top: 1px solid #FF9223;
    border-bottom: 1px solid #171E26;
    -webkit-transition: background .2s ease;
    -o-transition: background .2s ease;
    -moz-transition: background .2s ease;
    transition: background .2s ease;
    border-radius: 3px;
    cursor: pointer;
}
.socialCopyBtn:hover {
    background-color: #db851a;
}
//New Order popup styles here
.ui-dialog.forex-neworder-dialog {
    background-color: #182434;
    border: 1px solid #2E3D50;
    padding: 0;
    overflow: visible;
    border-radius: 0;
    cursor: default;
    top: 100px !important;
    .ui-dialog-content {
        overflow: visible;
        padding: 0;
        background: #182434;
    }
    .ui-dialog-titlebar {
        height: 50px;
        border: 0;
        border-radius: 0;
        background: #121C28;
        border-bottom: 1px solid #2E3D50;
        cursor: default;
    }
    .ui-dialog-title {
        background-color: #f9a134;
        color: white;
        width: 103px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        position: absolute;
        top: -27px;
        left: -1px;
        font-size: 13px;
        font-family: 'lato-regular';
    }
    .asset-orderid {
        position: absolute;
        top: -34px;
        left: 28px;
        color: #647E99;
        line-height: 1.1;
    }
    .forex-asset-name {
        font-size: 15px;
    }
    .forex-orderid {
        font-size: 11px;
        padding-left: 2px;
    }
    input[type=checkbox] {
        display: none;
    }
    input[type=checkbox] + label {
        background: transparent url('/wp-content/themes/tol-parent/images/forex/checkbox.png') no-repeat top;
        height: 17px;
        width: 17px;
        display: inline-block;
        padding: 0;
        cursor: pointer;
        position: relative;
        top: 13px;
    }
    input[type=checkbox]:checked + label {
        background: transparent url('/wp-content/themes/tol-parent/images/forex/checkbox.png') no-repeat bottom;
    }
    .forex-new-order {
        z-index: 1000;
    }
    .forex-ordertypes {
        width: 100%;
    }
    .profit-loss-row,
    .order-info-control {
        display: inline-block;
        width: 100%;
        color: #5D758D;
        min-height: 45px;
        border-top: 1px solid #2D3E50;
        border-bottom: 1px solid #0E1319;
    }
    .profit-loss-row > div:nth-child(1),
    .profit-loss-row > div:nth-child(2),
    .order-info-control > div:nth-child(1) {
        width: 50%;
        display: inline-block;
        padding-left: 28px;
    }
    .forex-pendingorder-controls {
        display: none;
        width: 100%;
        color: #5D758D;
        min-height: 45px;
        border-top: 1px solid #2D3E50;
        border-bottom: 1px solid #0E1319;
    }
    .pending-sell-label,
    .pending-buy-label {
        text-transform: uppercase;
        padding-left: 18px;
        font-weight: normal;
        position: relative;
        z-index: 6;
        cursor: pointer;
    }
    .pending-buy-price,
    .pending-sell-price {
        display: inline-block;
        margin-left: 10px;
    }
    .forex-takeprofit,
    .forex-stoploss,
    .order-info-title {
        display: inline-block;
        text-align: center;
        padding: 0 7px;
        font-size: 14px;
        position: relative;
        top: 5px;
    }
    .forex-confirm-buttons-wrapper {
        background-color: #131B28;
        box-sizing: border-box;
        height: 67px;
    }
    .forex-sell-btn,
    .forex-buy-btn,
    .forex-confirm-btn,
    .forex-place-btn {
        width: 140px;
        height: 41px;
        line-height: 39px;
        text-transform: uppercase;
        font-size: 17px;
        font-family: 'lato-regular';
        margin: 13px 6px 10px 14px;
        background-color: #f9a134;
        border-top: 1px solid #FF9223;
        border-right: 1px solid #101721;
        border-left: 1px solid #101721;
        border-bottom: 1px solid #0E1116;
        color: #fff;
        cursor: pointer;
        border-radius: 3px;
    }
    .forex-buy-btn {
        margin: 10px 14px 10px 4px;
    }
    .forex-sell-btn:hover,
    .forex-buy-btn:hover,
    .forex-confirm-btn:hover,
    .forex-place-btn:hover {
        background-color: #00a5ff;
    }
    .forex-confirm-btn,
    .forex-place-btn {
        width: 290px;
    }
    .forex-asset-name,
    .forex-ordertypes {
        color: #647E99;
    }
    .forex-market,
    .forex-pending {
        display: inline-block;
        width: 50%;
        height: 35px;
        line-height: 35px;
        background-color: #131B28;
        border: 1px solid #2D3E50;
        border-top: 0;
        padding: 0 0 0 28px;
        cursor: pointer;
    }
    .forex-market {
        border-left: 0;
        border-right: 0;
    }
    .forex-market.disabled {
        pointer-events: none;
        color: #131B28;
    }
    .forex-pending {
        border-right: 0;
        padding: 0 0 0 12px;
    }
    .forex-pending.disabled {
        pointer-events: none;
        color: #131B28;
    }
    .forex-market.active,
    .forex-pending.active {
        color: white;
        background-color: #182434;
        border-bottom: 0;
    }
    .forex-quantity-wrapper {
        width: 100%;
        padding: 13px 28px;
        border-bottom: 1px solid #0E1319;
    }
    .quantiryddl {
        width: 100%;
        height: 31px;
        line-height: 31px;
        text-align: center;
        font-family: 'lato-regular';
        font-size: 14px;
        font-weight: 300;
        display: inline-block;
        background: #2D3E50 url(/wp-content/themes/tol-parent/images/forex/ddl_arrow.png) no-repeat 240px center;
        -webkit-transition: background .2s ease;
        -o-transition: background .2s ease;
        -moz-transition: background .2s ease;
        transition: background .2s ease;
        border-radius: 3px;
        border-top: 1px solid #3E4F61;
        border-bottom: 1px solid #11151E;
        cursor: pointer;
        color: white;
    }
    .quantiryddl.disabled {
        pointer-events: none;
        text-align: right;
        padding-right: 10px;
        background: #2d3e50;
    }
    .quantiryddl:hover {
        background: #2D3E50 url(/wp-content/themes/tol-parent/images/forex/ddl_arrow.png) no-repeat 240px center;
    }
    input.quantiryddl {
        background: #2D3E50;
    }
    // not relevant for the moment, may get back to it later for Visual Bug 75011
    /*input.quantiryddl::-webkit-inner-spin-button,
    input.quantiryddl::-webkit-outer-spin-button{
        //-webkit-appearance: none;
        //margin: 0;
    } */

    input.quantiryddl:hover {
        background: #2D3E50;
    }
    .quantity-label {
        position: absolute;
        margin-top: 5px;
        margin-left: 10px;
        color: #647E99;
    }
    .forex-controls-wrapper {
        display: none;
        color: white;
        padding: 15px 28px;
    }
    .controls-takeprofit,
    .controls-titles,
    .controls-stoploss {
        display: inline-block;
    }
    .controls-titles {
        width: 62px;
        vertical-align: top;
    }
    .rate-title,
    .distance-title,
    .amount-title {
        text-align: center;
        padding: 6px;
        margin-bottom: 14px;
        color: #5D758D;
        font-size: 13px;
        text-transform: lowercase;
        font-family: 'Lato-Bold';
    }
    .controls-takeprofit,
    .controls-stoploss,
    .input-group.spinner {
        width: 100px;
    }
    .input-group.spinner {
        width: 100px;
        height: 30px;
        margin-bottom: 14px;
        background: #182434;
    }
    .forex-amount-input .input-group.spinner,
    .amount-title {
        margin-bottom: 0;
    }
    .spinner input {
        text-align: left;
        height: 29px;
    }
    .input-group-btn-vertical {
        position: relative;
        white-space: nowrap;
        width: 15px;
        vertical-align: middle;
        display: table-cell;
        background: #182434;
    }
    // not relevant for the moment, may get back to it later for Visual Bug 75011
    /*#quantity-spinners {
        width: 15px;
        position: absolute;
        left: 275px;
        top: 48px;
    }*/

    .input-group-btn-vertical > .btn {
        display: block;
        float: none;
        width: 100%;
        max-width: 100%;
        padding: 7px;
        margin-left: -1px;
        position: relative;
        border-radius: 0;
    }
    .input-group-btn-vertical > .btn:focus {
        outline: none;
    }
    .input-group-btn-vertical > .btn:first-child {
        border-top-right-radius: 4px;
        background: #182434 url(/wp-content/themes/tol-parent/images/forex/spinner_up.png) no-repeat center;
        width: 16px;
        height: 14px;
        border: 0;
        box-shadow: none;
        padding: 0;
    }
    .input-group-btn-vertical > .btn:last-child {
        border-bottom-right-radius: 4px;
        background: #182434 url(/wp-content/themes/tol-parent/images/forex/spinner_down.png) no-repeat center;
        width: 16px;
        height: 16px;
        border: 0;
        box-shadow: none;
        padding: 0;
    }
    .quantity-dropdown {
        height: 80px;
        width: 100%;
        padding: 0;
        background: #2D3E50;
        margin-top: -1px;
        text-align: center;
        line-height: 20px;
        font-weight: 600;
        color: #a5a2b3;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 9;
        position: relative;
    }
    .quantity-option:hover {
        font-weight: bold;
        color: white;
    }
    .order-info-wrapper {
        display: none;
        color: #5D758D;
        padding: 0 28px 15px;
        font-size: 13px;
    }
    .order-info-titles,
    .order-info-margin,
    .order-info-swap,
    .order-info-pip {
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid #647E99;
    }
    .market-active .forex-rate-input,
    .market-active .rate-title,
    .market-active .forex-rate-input,
    .market-active .forex-place-btn {
        display: none;
    }
    .pending-active {
        .forex-place-btn {
            display: inline-block;
        }
        .forex-buy-btn,
        .forex-sell-btn {
            display: none;
        }
    }
    .ui-state-default.ui-dialog-titlebar-close {
        background: #182434 url(/wp-content/themes/tol-parent/images/forex/close_btn.png) no-repeat top;
        width: 7px;
        height: 7px;
        border: 0;
        right: 10px;
        top: 30px;
    }
    .ui-state-default.ui-dialog-titlebar-close:hover {
        background: #182434 url(/wp-content/themes/tol-parent/images/forex/close_btn.png) no-repeat bottom;
        width: 7px;
        height: 7px;
        border: 0;
    }
    /* Buy & Sell radio buttons*/

    .forex-pending-sell-row,
    .forex-pending-buy-row {
        position: relative;
        height: 36px;
        line-height: 36px;
        > div {
            display: inline-block;
            width: 50%;
            padding-left: 28px;
            vertical-align: top;
        }
    }
    .forex-pendingorder-controls .check {
        display: block;
        position: absolute;
        border: 2px solid #2C3C4C;
        border-radius: 100%;
        height: 13px;
        width: 13px;
        top: 11px;
        left: 28px;
        z-index: 5;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;
    }
    .forex-pendingorder-controls input[type=radio] {
        position: absolute;
        visibility: hidden;
    }
    .forex-pendingorder-controls .forex-pending-sell-row > div:nth-child(1):hover .check,
    .forex-pendingorder-controls .forex-pending-buy-row > div:nth-child(1):hover .check {
        border: 2px solid #FFFFFF;
    }
    .forex-pendingorder-controls .check::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 5px;
        width: 5px;
        top: 2px;
        left: 2px;
        margin: auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
    }
    .forex-pendingorder-controls input[type=radio]:checked ~ .check {
        border: 2px solid #2C3C4C;
    }
    .forex-pendingorder-controls input[type=radio]:checked ~ .check::before {
        background: #FFFFFF;
    }
    .forex-pendingorder-controls input[type=radio]:checked ~ label {
        color: #FFFFFF;
    }
}
/*Forex New Order PopUp*/

.title-title,
.title-sell,
.title-buy,
.title-margin,
.margin-sell,
.margin-buy,
.title-swap,
.swap-sell,
.swap-buy,
.title-pip,
.pip-sell,
.pip-buy {
    display: inline-block;
    color: #647E99;
    width: 80px;
    text-align: center;
}
.title-margin,
.title-swap,
.title-pip,
.title-title {
    width: 100px;
    text-align: left;
}
.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
}
.input-spinner-element {
    color: white;
    background-color: #647E99;
    padding: 0;
    border: 0;
}
.input-spinners {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-spinnersui-spinner .ui-widget ui-widget-content ui-corner-all {
    padding: 0;
    margin: 0;
    border: 0;
}
.input-spinners:focus {
    background: transparent;
}
.spinner:focus input,
.spinner:hover input,
.spinner input:focus {
    background: #182434;
}
///bootstrap spinner
.notifyjs-corner {
    z-index: 99999999 !important;
    top: 57px !important;
    margin: 0 !important;
}
.notifyjs-corner .notifyjs-wrapper,
.notifyjs-corner .notifyjs-container {
    margin-right: 0 !important;
}
.notifyjs-positive-base {
    width: 340px;
    height: 100px;
    background: #f9a134 url(/wp-content/themes/tol-parent/images/forex/order_executed.png) no-repeat 15px center;
    border: 1px solid #000000;
}
.notifyjs-neutral-base {
    width: 340px;
    height: 85px;
    background: rebeccapurple;
}
.notifyjs-negative-base {
    width: 340px;
    height: 100px;
    background: red url(/wp-content/themes/tol-parent/images/forex/order_failed.png) no-repeat 8px center;
    border: 1px solid #000000;
}
.loadingTransperant {
    margin-left: 5px;
    height: 11px;
    width: 44px;
    overflow: hidden;
    border: 0;
}
#notification-content {
    padding: 5px;
    padding-top: 25px;
    cursor: pointer;
}
.notification-close {
    width: 20px;
    height: 20px;
    text-align: center;
    float: right;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
}
.popover {
    border: 1px solid #fff;
    padding: 0;
}
.popover.left {
    margin-left: 170px;
    margin-top: -28px !important;
}
.popover.right {
    color: white;
}



.popover-content {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
}
.notifyjs-positive-base .title,
.notifyjs-neutral-base .title,
.notifyjs-negative-base .title {
    font-family: Roboto;
    color: white;
    font-size: 23px;
    line-height: 14px;
}
.notifyjs-positive-base .content,
.notifyjs-neutral-base .content,
.notifyjs-negative-base .content {
    font-family: Roboto;
    color: white;
    font-size: 13px;
    margin-top: 0;
    opacity: 0.8;
    padding-left: 70px;
}
.notification-header {
    font-family: 'lato-regular';
    font-size: 17px;
    text-transform: uppercase;
}
.notification-body {
    font-size: 15px;
    font-family: lato-light;
}
.column-settings .multiple-selection {
    display: none;
}
.column-settings.show .multiple-selection {
    display: block;
    right: 0;
    bottom: 33px;
}
.column-settings .btn-wrapper.navigation {
    background: #273747;
    padding: 10px 7px 5px;
    height: 49px;
}
.column-settings .btn-wrapper.navigation .nav-button {
    width: 100%;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
    cursor: pointer;
    background: #4E6074;
    border-top: 1px solid #6F8195;
    border-bottom: 1px solid #151C24;
    box-shadow: 0 2px 2px 0 rgba(37, 50, 66, 0.2), 0 1px 16px 0 rgba(37, 50, 66, 0.19);
}
.column-settings .btn-wrapper.navigation .nav-button:hover {
    background: #5a5866;
    border-top-color: #000;
}
.statusbar .statusbar-item .currentTimeWidget.value,
.utctime.label {
    padding: 0;
    margin: 0;
    font-weight: normal;
}
.account .column-settings {
    display: none;
}
.account.orders-active .column-settings.taborders {
    display: block;
}
.account.positions-active .column-settings.tabpositions {
    display: block;
}
.dataTable table td.order-date {
    white-space: pre-wrap;
    line-height: 16px;
}
.td-market-rate.up {
    background: #182434 url(/wp-content/themes/tol-parent/images/forex/arrow_green_m.png) no-repeat 8px center;
    padding-left: 15px;
}
.td-market-rate.down {
    background: #182434 url(/wp-content/themes/tol-parent/images/forex/arrow_red_m.png) no-repeat 8px center;
    padding-left: 15px;
}
.dataTable table td.td-buttons {
    text-align: right;
    padding-right: 12px;
}
.tradepanel-title.assetstype > span {
    font-family: 'lato-light';
    display: inline-block;
    padding-right: 15px;
    background: transparent url(/wp-content/themes/tol-parent/images/forex/ddl_arrow.png) no-repeat right 23px;
}
.tradepanel-title.assetstype > span:hover {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/ddl_arrow_active.png) no-repeat right 23px;
}
.asset-table-settings-icon {
    position: absolute;
    height: 27px;
    width: 27px;
    right: 7px;
    top: 4px;
    z-index: 3;
    cursor: pointer;
    .asset-table-settings-outer {
        display: none;
    }
    .onoffswitch {
        width: 60px;
        display: inline-block;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        position: relative;
        top: 10px;
        float: right;
        margin-right: 12px;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #FFFFFF;
        border-radius: 20px;
        height: 22px;
    }
    .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before,
    .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 20px;
        padding: 0;
        line-height: 20px;
        font-size: 12px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 10px;
        background-color: #131B27;
        color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 7px;
        background-color: #131B27;
        color: #FFFFFF;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block;
        width: 15px;
        margin: 4px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 13px;
        right: 36px;
        border: 2px solid #FFFFFF;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0;
    }
    .settings {
        width: 17px;
        height: 17px;
        position: relative;
        top: 5px;
        left: 5px;
        background: transparent url(/wp-content/themes/tol-parent/images/forex/settings.png) no-repeat top;
        border: none;
        &:hover {
            background: transparent url(/wp-content/themes/tol-parent/images/forex/settings.png) no-repeat bottom;
        }
    }
    &.show {
        .settings {
            background: transparent url(/wp-content/themes/tol-parent/images/forex/settings.png) no-repeat bottom;
        }
        .asset-table-settings-outer {
            display: block;
            position: absolute;
            width: 302px;
            background: transparent;
            left: 10px;
            top: -17px;
            .asset-table-settings-content {
                border: 1px solid #2E3D4F;
                width: 275px;
                background: #1A2434;
                position: relative;
                float: right;
                .asset-table-settings-title {
                    color: #637E99;
                    height: 43px;
                    line-height: 43px;
                    padding-left: 12px;
                    font-size: 14px;
                    font-family: 'lato-regular';
                }
                .row-settings {
                    border-bottom: 1px solid #2E3D4F;
                    border-top: 1px solid #2E3D4F;
                    background: #131B27;
                    padding-left: 12px;
                    font-size: 14px;
                    font-family: 'lato-regular';
                    height: 43px;
                    line-height: 43px;
                    & > div:nth-child(1) {
                        display: inline-block;
                        width: 60%;
                    }
                }
                .asset-table-settings-info {
                    padding: 12px;
                    color: #637E99;
                    font-size: 12px;
                    font-family: 'lato-regular';
                }
            }
        }
    }
}
@media (max-width: 720px) {
    .asset-table-settings-icon.show .asset-table-settings-outer .asset-table-settings-content {
        top: 129px;
    }
}
@media (max-width: 1024px) {
    .asset-table-settings-icon.show .asset-table-settings-outer .asset-table-settings-content {
        top: 129px;
    }
}
.tol-no-options {
    padding: 15px;
    font-family: 'lato-regular';
    font-size: 16px;
}
.exchangeCancelbtn {
    background: url(/wp-content/themes/tol-parent/images/forex/close_icon.png);
    height: 14px;
    width: 14px;
	background-repeat: no-repeat;
	color: transparent;
}

.fakeTableHead thead tr {
    width: 100%;
    display: inline-block;
}

.exchangeEditlbtn {
    background: url(/wp-content/themes/tol-parent/images/forex/edit_icon.png);
    height: 14px;
    width: 14px;
    margin-left: 10px;
	background-repeat: no-repeat;
}
 .bx-action-box:hover, .bx-action-box.isClicked {
    background: #00B9ED;
    border: 1px solid #272B49;
}
  
@media (max-width: 1600px) {
    .equity-container {
        padding-right: 10px;
    }
}
.option-direction.up {
    background-image: url(/wp-content/themes/tol-parent/images/forex/arrow_green.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 15px;
    width: 36px;
    margin: 0 0 5px 0;
    display: inline-block;
}
.option-direction.down {
    background-image: url(/wp-content/themes/tol-parent/images/forex/arrow_red.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 15px;
    width: 36px;
    margin: 3px 0 2px 0;
    display: inline-block;
}
.buy-sell-spread {
    width: 100%;
    display: inline-block;
    padding-left: 0;
    font-size: 11px;
}
.spread-holder {
    width: 40px;
    text-align: center;
    float: left;
    display: inline-block;
    padding: 0 2px;
}
.spread-holder.list {
    width: 50px;
}
.boxes-amount {
    cursor: not-allowed;
    background: #2D3E50 url(/wp-content/themes/tol-parent/images/forex/locked_ddl.png) no-repeat 10px 7px;
}
.browser-firefox .locked .boxes-amount {
    background: #2D3E50 url(/wp-content/themes/tol-parent/images/forex/ddl_arrow.png) no-repeat 225px 10px;
}
.browser-firefox .locked .boxes-amount:hover {
    background: #2D3E50 url(/wp-content/themes/tol-parent/images/forex/ddl_arrow_active.png) no-repeat 225px 10px;
}
.locked .boxes-amount {
    cursor: pointer;
    background: #2D3E50 url(/wp-content/themes/tol-parent/images/forex/ddl_arrow.png) no-repeat 240px 10px;
}
.boxes-amount:hover {
    background: #2D3E50 url(/wp-content/themes/tol-parent/images/forex/locked_ddl_h.png) no-repeat 10px 7px;
}
.locked .boxes-amount:hover {
    cursor: pointer;
    background: #2D3E50 url(/wp-content/themes/tol-parent/images/forex/ddl_arrow_active.png) no-repeat 240px 10px;
}
.asset-search-bar {
    height: 75px;
    padding: 23px 15px;
    background: #2D3E50;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
//loading animation - close position & cancel order
.dataTable {
    i {
        position: relative;
        display: inline-block;
        margin: 0 2px;
        width: 5px;
        height: 11px;
        border-radius: 2px;
        border: solid #3394FD;
        border-width: 0 1px 1px 0;
        background: #f9a134;
        animation: tilt infinite 5s cubic-bezier(0.955, -0.010, 1.000, 1.000);
        transform-origin: 100% 100%;
    }
    i::before {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 0;
        display: block;
        width: 5px;
        height: 5px;
        background: transparent;
        box-shadow: 0 2px rgba(0, 0, 0, .3);
        animation: stretch infinite 5s cubic-bezier(0.955, -0.010, 1.000, 1.000);
        opacity: 0;
        transform-origin: 0% 0%;
    }
    i:nth-child(2),
    i:nth-child(2)::before {
        animation-delay: .3s;
    }
    i:nth-child(3),
    i:nth-child(3)::before {
        animation-delay: .6s;
    }
    i:nth-child(4),
    i:nth-child(4)::before {
        animation-delay: .9s;
    }
    i:nth-child(5),
    i:nth-child(5)::before {
        animation-delay: 1.2s;
    }
    i:last-of-type {
        animation-name: tilt-last;
    }
    i:last-of-type::before {
        animation-name: stretch-last;
    }
}
@keyframes tilt {
    10% {
        transform: rotate(70deg)
    }
    60% {
        transform: rotate(70deg)
    }
    70% {
        transform: rotate( 0deg)
    }
}
@keyframes tilt-last {
    10% {
        transform: rotate(90deg)
    }
    60% {
        transform: rotate(90deg)
    }
    70% {
        transform: rotate( 0deg)
    }
}
@keyframes stretch {
    10% {
        transform: rotate(-70deg);
        width: 10px;
        opacity: 1;
        left: 0px;
        bottom: -1px;
    }
    60% {
        transform: rotate(-70deg);
        width: 10px;
        opacity: 1;
    }
    70% {
        width: 5px;
        transform: rotate(0deg);
        opacity: 0;
    }
}
@keyframes stretch-last {
    10% {
        transform: rotate(-90deg);
        width: 10px;
        height: 2px;
        opacity: .5;
        left: 3px;
        bottom: -1px;
    }
    60% {
        transform: rotate(-90deg);
        width: 10px;
        height: 2px;
        opacity: .5;
    }
    70% {
        transform: rotate(0deg);
        width: 5px;
        height: 5px;
        opacity: 0;
    }
}
.popover {
    background: #fff;
    min-width: 170px;
    border-radius: 0;
}
.popover-content {
    background: #fff;
    color: white;
    padding: 8px;
}

.popover.right {
    margin-left: 30px;
}
.loader {
    padding: 0;
    width: 44px;
    height: 11px;
    float: right;
    margin-right: 6px;
}
.navigation .nav-button.main-menu {
    z-index: 9;
}
.singlebox-assetname {
    border: 0;
    background: transparent url(/wp-content/themes/tol-parent/images/forex/ddl_arrow.png) no-repeat right center;
    color: #ffffff;
    -webkit-appearance: none;
    text-align-last: center;
    padding-right: 5px;
}
.singlebox-assetname option {
    width: auto;
    text-align: center;
    text-align-last: center;
}
select.singlebox-assetname::-ms-expand {
    display: none;
}
.input-assetssearch {
    width: 75%;
}
.assetssearch-button {
    width: 25%;
}
.sidepanel-tabs {
    width: 100%;
    padding: 10px 0 0 0;
}
#tradePanel {
    width: 100%;
}
.panel.chartpanel {
    position: relative;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
}
.spread-holder {
    width: 16.66666667%
}
.option-direction.down,
.option-direction.up {
    margin: 3px auto 2px;
}
.tradepanel-control-bar {
    display: none;
}
.tradepanel-control-bar.assetslist-tools {
    display: block;
    height: 41px;
}
#forexProOpenTradesTable tbody {
    width: 100%;
    display: block;
}
.tradepanel-control-bar.asset-search-bar {
    height: 75px;
}
.assets-boxes,
.assets-list {
    line-height: 18px;
}
.tradepanel-control-bar .tradepanel-title {
    text-align: center;
    padding-right: 10px;
    line-height: 39px;
    font-size: 16px;
}
.tradepanel-header-bar {
    line-height: 30px;
    height: 31px;
    font-size: 13px;
    border-bottom: 1px solid #000000;
}
.tradepanel-header-bar .tradepanel-buy-label {
    right: 10px;
}
.tradebox-compact-view .tradebox-compact-instrument-name {
    font-size: 14px;
}
.buy-sell-spread {
    color: #647E99;
}
.tradebox-compact-view {
    height: 50px;
}
.tradebox-compact {
    border: 0;
    border-bottom: 1px solid #000000;
}
.tradepanel-title.assetstype > span {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/ddl_arrow.png) no-repeat right center;
}
.asset-table-settings-icon.show .asset-table-settings-outer {
    left: unset;
    right: -10px;
    top: -101px;
    width: 100%;
}
.orders-trades-table-wrapper {
    left: 0;
    padding: 0;
    border: 0;
    position: relative;
}
.account .tab-item {
    min-width: 155px;
}
.equity-container {
    padding: 0;
    float: none;
    height: 70px;
}
.page-traderoom .statusbar {
    z-index: 9;
    position: relative;
    height: 240px;
}
.statusbar .fleft {
    width: 100%;
}
.statusbar .statusbar-item.account-type {
    width: 50%;
    text-align: left;
    padding-left: 15px;
}
.statusbar-item.current-time {
    width: 50%;
    text-align: right;
    padding-right: 15px;
}
.equity-item {
    line-height: 30px;
    margin: 0;
    width: 33%;
    height: 35px;
    display: block;
    float: left;
    text-align: left;
    padding: 5px 10px 2px;
    background: #121B27;
    border-bottom: 1px solid #000000;
}
.equity-item.margin-item {
    width: 66%;
    height: 35px;
    border-right: 1px solid #000;
}
.equity-item.profit-item {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}
.equity-item .label {
    color: #637E99;
    font-family: 'lato-regular';
    font-size: 12px;
    font-weight: normal;
    padding: 0;
    display: block;
    text-align: left;
}
.equity-item.margin-item .value.blue {
    margin-left: -55%;
}
.equity-item .value {
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
}
.equity-item.margin-item .value {
    position: relative;
    top: -8px;
}
.margin-indicator {
    margin: 0;
    top: -23px;
    position: relative;
    width: 66%;
    height: 5px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #000000;
    left: 24px;
}
.asset-table-left {
    position: absolute;
    width: 100%;
    border-bottom: 0;
}
.balance-toggle {
    background: #121B27;
    color: #647E99;
    border: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    padding: 11px;
    line-height: 7px;
    outline: none;
}
.balance-toggle {
    background: #121B27;
}
.pending-orders-title {
    height: 31px;
    border-top: 1px solid #2D3E50;
    border-bottom: 1px solid #000;
    background: #182434;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    padding: 11px;
    line-height: 7px;
}
.account .tabHolder {
    height: 0;
    border: 0;
    border-top: 1px solid #000;
}
.account .column-settings {
    display: block;
}
.account .dataTable table {
    border: 0;
    display: block;
    thead {
        background: #121B28;
        border: 1px solid #2D3E50;
        border-top: 0;
        border-bottom: 0;
        display: block;
    }
    th,
    div[data-type="openPositionsRow"] > div,
    div[data-type="pendingOrderRow"] > div {
        display: inline-block;
        width: 33.33%;
        text-align: left;
        border: 0;
        height: 27px;
        line-height: 19px;
    }
    th {
        float: left;
    }
    div[data-type="openPositionsRow"] > div,
    div[data-type="pendingOrderRow"] > div {
        padding: 4px 8px;
    }
    div[data-type="openPositionsRow"] > div:nth-child(1),
    div[data-type="pendingOrderRow"] > div:nth-child(1) {
        overflow: hidden;
    }
    div[data-type="openPositionsRow"] > div.td-buttons,
    div[data-type="pendingOrderRow"] > div.td-buttons {
        width: 66.66%;
        height: 17px;
    }
    div[data-type="openPositionsRow"] > div.td-market-rate {
        padding-left: 20px;
    }
    tbody div[data-type="openPositionsRow"],
    tbody div[data-type="pendingOrderRow"] {
        border-top: 1px solid #2D3E50;
        border-bottom: 1px solid #000000;
        background: #182434;
        display: block;
        padding: 5px 0;
    }
    th[data-column="actions"] {
        display: none;
    }
    .forexCancelBtn {
        background-position-x: 8px;
    }
}
.tabHolder .column-settings {
    top: -35px;
}
.result-td .red {
    color: #C94531;
}
.result-td .green {
    color: #2A9E3E;
}
.column-settings.show .multiple-selection {
    position: fixed;
    width: 100%;
    bottom: 44px;
    border-bottom: 0;
}
.contextmenu .item:not(.disabled):hover,
.contextmenu.multiple-selection .item:hover,
.contextmenu .selected {
    background-color: #FF9223;
}
#forexProOpenTradesTable tbody::-webkit-scrollbar,
#forexProPendingOrdersTable tbody::-webkit-scrollbar {
    display: none;
}
#searchBarControls .form-group.serach-bar-el {
    padding-top: 10px;
    max-width: 335px !important;
}
#searchBarInfo .form-group.serach-bar-el {
    padding-top: 10px;
    width: auto;
    max-width: none !important;
}
#searchBarControls .form-group.serach-bar-el input,
#searchBarControls .form-group.serach-bar-el select {
    width: 85%;
    display: inline;
}
#searchBarControls .btn-primary {
    width: 180px !important;
}
@media only screen and (max-width: 1024px) {
    #searchBarControls .form-group.serach-bar-el input,
    #searchBarControls .form-group.serach-bar-el select {
        width: 100%;
    }
    #searchBarControls .form-group.serach-bar-el {
        padding-right: 0;
        max-width: 245px !important;
    }
    #searchBarControls .btn-primary {
        margin-right: 0;
        margin-top: 15px;
        margin-left: 30px;
        float: left;
        width: 130px !important;
    }
}
#searchBarInfo span {
    border: none !important;
    width: 85%;
    display: inline;
}
#searchBarControls,
#searchBarInfo {
    border-bottom: 1px solid #2d3e50;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
}
.searchBarAssets:hover {
    background: rgb(24, 36, 52);
    color: white;
}
.searchBarAssets option {
    background: rgb(24, 36, 52);
    color: white;
}
.btnForexPriceStrikeBig {
    font-size: 20px !important;
    font-weight: bolder;
}
.btnForexPriceStrikeMedium {
    font-size: 15px !important;
}
.btnForexPriceStrikeSmall {
    font-size: 12px !important;
    bottom: 5px !important;
    position: relative;
}
.termstext {
    margin: 0;
}
.btn-register {
    margin-top: 20px;
}
.tradebox-compact-view .buy-sell-price-container {
    width: 75px;
}
.currencySymbol {
    position: absolute;
    z-index: 11;
    margin-left: 5px;
    margin-top: 6px;
}
.inp-amount {
    padding-left: 15px !important;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
    background: #182434 url('/wp-content/themes/tol-parent/images/close_btn-white.png') 0 0 no-repeat;
    width: 11px;
    height: 11px;
    border: 0;
    right: 10px;
    top: 20px;
}
.ui-dialog.ui-dialog-titlebar {
    background-color: #141B28;
}
#marginPopUpmessage {
    background-color: #121C28;
    border: 1px solid #2E3D50;
    padding: 0;
}
.ui-dialog .ui-dialog-content {
    position: relative;
    padding: 0;
}
#marginPopUpmessage .messagePopup {
    background-color: #182434;
    font-size: 16px;
    padding: 25px 10px 50px 10px;
    margin: 0;
}
.popUp-highlight {
    position: absolute;
    background-color: #f9a134;
    color: white;
    width: 103px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    top: -26px;
    left: -1px;
    font-size: 13px;
    font-family: 'lato-regular';
}
#depositBtnPopUp {
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 15px;
    background-color: #f9a134;
    color: #fff;
    height: 40px;
    border-radius: 3px;
    width: 80%;
    margin: 20px 10% 0;
}
.browser-firefox .tabHolder .column-settings .settings {
    left: -8px;
}
.dataTable table td.copied-nickname,
.my-trades-form table td.copied-nickname {
    text-overflow: clip;
}
.dataTable table td.copied-nickname span {
    color: #667E98;
    cursor: pointer;
    text-decoration: underline;
}
.my-trades-form table td.copied-nickname span {
    cursor: pointer;
}
.csl-reason {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url('/wp-content/themes/tol-parent/images/forex/csl.png') no-repeat center;
}
td.copied-nickname .csl-reason {
    position: relative;
    top: 8px;
    margin-left: 6px;
}
.my-trades-footer-info {
    float: left;
}
.my-trades-footer-info span:nth-child(2) {
    display: inline-block;
    margin-left: 5px;
    font-size: 13px;
    font-family: 'lato-regular';
    position: relative;
    top: -5px;
}
.asset-type-wrapper.narrow .dropdown-menu {
    min-width: 100% !important;
}
.asset-box {
    display: block;
    position: relative;
    z-index: 9999;
    background: #182434;
}
.close-button-tick {
    background: #182434 url(/wp-content/themes/tol-parent/images/forex/close_btn.png) no-repeat top;
    width: 7px;
    height: 7px;
    border: 0;
    right: 10px;
    top: 20px;
    position: absolute;
}
.widget-exchangeTradebox {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 9999999 !important;
    background: #181E2B;
    margin-top: 45px;
}
.widget-exchangeTradebox {
    color: white;
    z-index: 1;
}
.widget-exchangeTradebox {
    color: white;
    z-index: 1;
}
.bx-sell-qty {
    padding-right: 0;
    text-align: center;
}
.bx-tradebox {
    margin-left: 0;
}
.limit-price {
    margin: 10px -5px 0px;
    padding: 5px;
    height: 40px;
    font-size: 15px;
}
.ordertype-limit-price-label,
.ordertype-quantity-label {
    color: #51555B;
    font-size: 13px;
    padding-bottom: 5px;
}
.market-price-lebel {
    display: inline-block;
    width: auto;
}
.market-price-lebel.price-value {
    color: #00BFF3;
    font-weight: bold;
}
.limit-price .market-price-lebel:nth-of-type(1) {
    padding-right: 10px;
}
.ordertype-limit-price,
.ordertype-quantity {
    height: 65px;
}
.ordertype-limit-price {
    margin-bottom: 10px;
}
.limitprice-input,
.quantity-input,
.add,
.subtract {
    display: inline-block;
}
.limitprice-input,
.quantity-input {
    border: 2px solid #474D77;
    background: transparent;
    border-radius: 5px;
    height: 33px;
    font-size: 15px;
    min-width: 195px;
}
.ordertype-limit-price .popover-content,
.ordertype-quantity .popover-content {
    color: #BC253A;
}
.buy-btn,
.cancel-btn {
    color: white;
    border-radius: 15px;
    margin: 15px 0px;
}
.buy-btn {
    background-color: #00BFF3;
    font-size: 15px;
    font-weight: 600;
    height: 35px;
}
.cancel-btn {
    border: none;
    font-size: 13px;
    font-weight: 400;
    background-color: #181E2B;
    margin-top: 15px;
    color: #BBBBBB;
    height: 35px;
}
.cancel-btn:hover {
    background-color: #181E2B;
    color: #FFF;
}
.max-profit-label,
.max-profit,
.max-loss-label,
.max-loss {
    color: #BBB;
    font-size: 15px;
    padding: 0;
}
.row.max-profit-wrapper {
    margin-left: 0;
}
.max-loss,
.max-profit {
    font-weight: bold;
}
.asset-name {
    font-size: 25px;
    letter-spacing: 0.08em;
    font-weight: 500;
}
.close-button-row {
    height: 10px;
}
.close-button {
    float: right;
    color: white;
}
button.close {
    background: url(/wp-content/themes/tol-child/images/close.png) no-repeat center;
    width: 27px;
    height: 27px;
    top: 20px;
    right: 20px;
    display: block;
    position: absolute;
}
.asset-data-row {
    border-bottom: 2px solid #303653;
    margin-bottom: 10px;
}
.asset-strike {
    font-size: 17px;
    margin: 4px 0 10px;
}
.asset-expiry {
    background: url(/wp-content/themes/tol-child/images/clock.png) no-repeat left;
    text-indent: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 15px;
}
.market {
    margin-bottom: 10px;
}
.btn.market-btn {
    background: transparent;
    border-radius: 15px;
    border: 3px solid #474D77;
    padding: 6px 12px;
    color: #FFFFFF;
    min-width: 137px;
    height: 35px;
}
.market-btn.selected,
.btn.limit-btn.selected {
    background: #474D77;
    border-color: #474D77;
    padding: 6px 12px;
}
.btn.limit-btn {
    background: transparent;
    border-radius: 15px;
    z-index: 3;
    position: relative;
    min-width: 137px;
    border: 3px solid #494D76;
    height: 35px;
}
.limit-price {
    margin: 10px -5px 0px;
    padding: 5px;
    height: 40px;
    font-size: 15px;
}
.market-price-lebel {
    display: inline-block;
    width: auto;
}
.widget-assetsSearch {
    width: 90%;
    background: transparent;
    border: 1px solid #5C7288;
    color: #FFF;
    padding: 10px 15px;
    margin: 0 5%;
    height: 30px;
}
.binaryExchange-assets-box {
    height: 143px;
}
.bx-asset-backbtn {
    cursor: pointer;
    height: 43px;
    background-color: #2A3949;
    color: #697594;
    border-bottom: 1px solid #000;
}
.row-back-icon {
    font-size: 30px;
    padding-right: 10px;
    padding-top: 7px;
    background-image: url(/wp-content/themes/tol-child/images/back.png);
    width: 26px;
    height: 26px;
    position: relative;
    top: 9px;
    left: 7px;
}
.back-text {
    font-size: 18px;
    padding-top: 11px;
}
.row-name-rate,
.row-expiry {
    height: 40px;
    line-height: 40px;
    background-color: #2A3949;
}
.row-expiry {
    height: 60px;
    padding: 10px 0;
}
.option-expiry {
    color: #f0f0f1;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
}
.expiryddl-container {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 15px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #21284E;
    padding: 0 25px 0 8px;
    background: #181e2b url(/wp-content/themes/tol-child/images/dropdown.png) no-repeat 90% center;
    width: 70px;
    overflow-y: visible
}
.market-price-lebel.price-value {
    color: #00BFF3;
    font-weight: bold;
}
button.close span {
    display: none;
}
.col-xs-2.close-button {
    float: right;
}
.btn-primary.add,
.btn-primary.subtract {
    font-size: 32px;
    line-height: 26px;
    padding: 0;
    text-align: center;
    width: 40px;
    height: 30px;
    background: transparent;
    border: 2px solid #474D77;
    color: #474D77;
}
.btn-primary.add {
    margin: 0 10px 0 19px;
}
.max-profit-wrapper {
    margin: 10px 0 30px 0;
    font-weight: normal;
}
.option-expiryddl,
.marketrate {
    color: #f0f0f1;
    text-align: right;
    font-size: 14px;
}
.rate-second-part {
    font-size: 18px;
}
.page-traderoom {
    overflow: hidden;
    .footer-nav.nav-tabs {
        position: fixed;
        bottom: 0;
        border: 0;
        background: #121B27;
        height: 45px;
        width: 100%;
        border-top: 1px solid #000000;
    }
    .footer-nav.nav-tabs li {
        width: 20%;
        height: 100%;
    }
    .footer-nav.nav-tabs li a {
        background: transparent;
        border: 0;
        box-shadow: none;
        color: #647E99;
        padding: 0;
        padding-top: 25px;
        text-align: center;
    }
    .footer-nav.nav-tabs li.active a {
        color: #ffffff;
    }
    .footer-nav.nav-tabs > li.active > a,
    .footer-nav.nav-tabs > li.active > a:hover,
    .footer-nav.nav-tabs > li.active > a:focus {
        background: transparent;
        border: 0;
    }
    .footer-nav.nav-tabs li.footer-icon-quotes {
        background: url('/wp-content/themes/tol-parent/images/forex/quotes.png') no-repeat center 9px;
    }
    .footer-nav.nav-tabs li.footer-icon-quotes.active {
        background: url('/wp-content/themes/tol-parent/images/forex/quotes_h.png') no-repeat center 9px;
    }
    .footer-nav.nav-tabs li.footer-icon-chart {
        background: url('/wp-content/themes/tol-parent/images/forex/chart.png') no-repeat center 8px;
    }
    .footer-nav.nav-tabs li.footer-icon-chart.active {
        background: url('/wp-content/themes/tol-parent/images/forex/chart_h.png') no-repeat center 8px;
    }
    .footer-nav.nav-tabs li.footer-icon-positions {
        background: url('/wp-content/themes/tol-parent/images/forex/positions.png') no-repeat center 9px;
    }
    .footer-nav.nav-tabs li.footer-icon-positions.active {
        background: url('/wp-content/themes/tol-parent/images/forex/positions_h.png') no-repeat center 9px;
    }
    .footer-nav.nav-tabs li.footer-icon-orders {
        background: url('/wp-content/themes/tol-parent/images/forex/orders.png') no-repeat center 7px;
    }
    .footer-nav.nav-tabs li.footer-icon-orders.active {
        background: url('/wp-content/themes/tol-parent/images/forex/orders_h.png') no-repeat center 7px;
    }
    .footer-nav.nav-tabs li.footer-icon-more {
        background: url('/wp-content/themes/tol-parent/images/forex/more.png') no-repeat center 14px;
    }
    .footer-nav.nav-tabs li.footer-icon-more.active {
        background: url('/wp-content/themes/tol-parent/images/forex/more_h.png') no-repeat center 14px;
    }
    #content {
        background: #000;
        height: 100%;
        padding-bottom: 45px;
        position: fixed;
        top: 0;
        padding-top: 47px;
        width: 100%;
    }
    #tol-header-layout-25 {
        z-index: 99;
        position: fixed;
		width: 100%;
        background: #182434;
    }
    #layout {
        height: 100%;
    }
    #layout .tab-content {
        padding: 0;
        height: 100%;
    }
    #layout .sidepanel-tabs .tab-content {
        height: 90%;
    }
}
.page-traderoom #content {
    padding-top: 53px;
}
.sidepanel-tabs {
    width: 100%;
}
.tradepanel-control-bar {
    display: block;
}
.assets-boxes,
.assets-list,
.tradepanel-control-bar .tradepanel-title {
    text-align: center;
}
.tradebox-compact-view .buy-sell-price-container {
    height: 40px;
    line-height: 39px;
}
.forex-asset-boxesrow {
    width: 384px;
    float: left;
    padding: 0 32px;
}
.asset-box {
    height: 140px;
    .forex-asset-boxesrow {
        padding: 0;
    }
    .forex-cubses-buyrates,
    .forex-cubses-sellrates {
        max-width: 108px;
    }
    .forex-cubses-buyrates {
        float: right;
    }
    .forex-cubses-rates .spread-holder {
        width: 530px;
    }
}
.asset-box .forex-asset-boxesrow {
    width: 100%;
}
.tradepanel-control-bar.assetslist-tools {
    height: 50px;
}
.sidepanel-tabs .tab-pane,
.tol-social-sidebar {
    height: 100%;
}
.dataTable table.table-mostprofitable thead th:last-of-type .content {
    float: right;
    position: relative;
    left: -27px;
}
.account .dataTable table th,
.account .dataTable table tr td {
    width: 19%;
}
.account .dataTable table tr td {
    position: relative;
    padding: 4px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'lato-regular';
    font-size: 15px;
    text-align: left;
    height: 27px;
    line-height: 19px;
}
.account .dataTable table.fakeTableHead thead tr {
    display: block;
    width: 100%;
}
.equity-item {
    width: 17%;
    height: 70px;
    .label {
        font-size: 14px;
        padding: 5px 0;
    }
    .value {
        font-size: 14px;
        line-height: 33px;
    }
}
.equity-item.margin-item {
    width: 32%;
    height: 70px;
}
.equity-item.margin-item .value {
    top: 0;
}
.margin-indicator {
    top: -30px;
}
.assetsview-boxes {
    height: 123%;
}
.col-xs-2.bx-strike,
.col-xs-2.bx-sell-qty,
.col-xs-3.bx-sell,
.col-xs-3.bx-buy,
.col-xs-2.bx-buy-qty {

    text-align: center;
}

.option-name {
    min-width: 90px;
}
.bx-action-box {
    margin: 3px auto;
    width: 53px;
}
.widget-exchangeTradebox {
    width: 340px;
}
.notifyjs-positive-base .title,
.notifyjs-neutral-base .title,
.notifyjs-negative-base .title {
    text-align: center;
}
@media (width: 1024px) {
.notifyjs-positive-base .title,
.notifyjs-neutral-base .title,
.notifyjs-negative-base .title {
    margin-bottom: 5px;
}
    .sidepanel-tabs {
        width: 100%;
    }
    .sidepanel-tabs .tab-pane,
    .tol-social-sidebar {
        height: 100%;
    }
    .page-traderoom #layout .sidepanel-tabs .tab-content {
        height: 617px;
    }
    .dataTable table.table-mostprofitable thead th:last-of-type {
        text-align: right;
        padding-right: 23px;
    }
    .input-tradersearch {
        width: 66%;
    }
    #tol-explore-popup .modal-dialog {
        top: 50px;
    }
    #tol-explore-popup .modal-dialog.modal-sm {
        width: 503px;
        top: 50px;
    }
    .page-traderoom #layout {
        height: 100%;
    }
    #tradePanel {
        width: 320px;
        height: 100%;
        float: left;
        position: relative;
        background: #121B27;
        z-index: 10;
    }
    .panel.chartpanel {
        position: relative;
        margin: 0;
        left: 4px;
        top: 0;
        z-index: 98;
        height: 100%;
        width: 700px;
    }
    .page-traderoom .footer-nav.nav-tabs {
        position: fixed;
        bottom: 0;
        border: 0;
        left: 0;
        background: #121B27;
        height: 45px;
        width: 100%;
        border-top: 1px solid #000000;
    }
    .page-traderoom .footer-nav.nav-tabs li {
        width: 25%;
        height: 100%;
    }
}
.positions-scrollable-body {
    overflow-y: scroll;
    display: block;
}
.marketrate {
    color: #f0f0f1;
    text-align: right;
    float: right;
}
.account .dataTable tbody {
    width: 100%;
    display: block;
}
.account .dataTable table tbody tr {
    border-top: 1px solid #2D3E50;
    border-bottom: 1px solid #000;
    background: #182434;
    display: inline-block;
	width: 100%;
}
.account .dataTable tbody tr div, 
.account .dataTable table th,
.account .dataTable table tr td {
    display: inline-block;
    width: 16%;
    text-align: left;
    border: 0;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 15px;
	float: left;
	vertical-align: text-bottom;
	padding: 4px 8px;
}

.account .dataTable table tr td {
    padding: 4px 8px;
}
.account .dataTable table th,
.account .dataTable table tr td {
	width: 16%;
}
.account .dataTable table th,
.account .dataTable table tr td {
    font-weight: 100;
}
.account .dataTable table tr td:nth-of-type(2) {
    white-space: pre-wrap;
}
.account .dataTable table tr td:last-of-type {
    height: 22px;
    margin-top: 0px;
    float: right;
    text-align: right;
}
.account .dataTable table tr td:last-of-type input[data-type="closelbtn"],
.account .dataTable table tr td:last-of-type input[data-type="cancelbtn"] {
    color: transparent;
}

		#menu1 table.exchangeOrders tbody tr div:last-of-type {
			float: right;
			margin-top: -15px;
			
			.exchangeCancelbtn {
				width: 100%;
				background-position-x: 120px;
				margin-top: -5px;
			}
		}
		#menu2 table.exchangeOrders tbody tr div:last-of-type {
			float: right;
			margin-top: -3%;
			height: 10%;
			
			.exchangeCancelbtn {
				width: 100%;
				background-position-x: 120px;
				margin-top: 2px;
				height: 50%;
			}
			.exchangeEditlbtn {
				width: 100%;
				margin-left: 0;
				background-position-x: 120px;
				margin-top: 4px;
				height: 50%;
			}
		}
		.account .dataTable table tbody tr {
			padding: 5px 0;
		}
		#menu1 .account .dataTable table tbody tr {
			padding: 10px 0;
		
		}
.option-name {
	    color: white;
		font-weight: 600;
		font-size: 14.5px;
		width: auto;
		max-width: 170px;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding-left: 5px;
	}	
	.marketrate {
		max-width: 106px;
		padding-right: 5px;
	}
	.option-direction.up, .option-direction.down {
		width: 5px;
		top: 6px;
	}		
.value.blue {
	color: #0368D8;
}
.ui-widget-overlay {
	display: none;
	background: #000;
	opacity: .6;
	z-index: 99;
}