﻿/* Mixin */
.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
	background-color: @start;
	background-image: -webkit-linear-gradient(@origin, @start, @stop);
	background-image: -moz-linear-gradient(@origin, @start, @stop);
	background-image: -o-linear-gradient(@origin, @start, @stop);
	background-image: -ms-linear-gradient(@origin, @start, @stop);
	background-image: linear-gradient(@origin, @start, @stop);
    background-repeat: repeat-x;
}

@div-asst-filter-color: #2b7db8;
@div-asst-filter-bgcolor: #ffffff;
@no-options-bg: rgba(255, 255, 255, 0.8);

#tol-traderoom-layout-4 #gamemenu {
    padding:0;
}

#tol-traderoom-layout-4 .btn-silver {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    cursor:pointer
}

#tol-traderoom-layout-4 .btn-silver:hover,
#tol-traderoom-layout-4 .btn-silver:focus,
#tol-traderoom-layout-4 .btn-silver.focus,
#tol-traderoom-layout-4 .btn-silver:active,
#tol-traderoom-layout-4 .btn-silver.active {
    border-style: solid;
    border-width: 1px;
}

#tol-traderoom-layout-4 .btn-silver:active,
#tol-traderoom-layout-4 .btn-silver.active,
#tol-traderoom-layout-4  .open > .dropdown-toggle.btn-silver {
    background-image: none;
}


#tol-traderoom-layout-4 .tol-well {
    padding: 7px;
    min-height:42px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#tol-traderoom-layout-4 .tol-well-connected {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 15px;
}

#tol-traderoom-layout-4  .tol-well .nav-pills>li>a{
    position: relative;
    display: block;
    padding: 3px 12px;
}

#tol-homepage-layout-2 .tol-home #gamemenu {
    margin-bottom:10px;
}

#tol-traderoom-layout-4 .tol-assets-table{
    height: 300px;
    overflow: hidden;
}

#tol-traderoom-layout-4 .tol-tradebox-right .rate-up,
#tol-traderoom-layout-4 .tol-tradebox-right .rate-down,
#tol-traderoom-layout-4 .tol-tradebox-right .widgetInvestAmount {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    cursor:pointer;
    font-size:12px;
}

#tol-traderoom-layout-4 .tol-tradebox-right .rate-up:hover,
#tol-traderoom-layout-4 .tol-tradebox-right .widgetInvestAmount:hover {
    border-style: solid;
    border-width: 1px;
}

#tol-traderoom-layout-4 .tab-content{
    margin-top: 0;
}

#tol-traderoom-layout-4 .navigationContainer{
    background: url('/wp-content/themes/tol-parent/images/graph-blue.png');
}

#tol-traderoom-layout-4 .navigationContainer:hover{
    background-position: 0 -25px;
}

/* Asset filter */
#tol-traderoom-layout-4 #tol-assset-filter .select-wrapper{
    border: none;
    text-shadow: none;
    border-radius: 3px;
    cursor:pointer;
    height: 30px;
    line-height: 1.5;
    padding: 3px 5px;
}

#tol-assset-filter .select-wrapper-icon {
    color: #000;
    top: 13px;
}

.tol-custom-assets {
    margin: 2px 0 1px 0;
}

#tol-traderoom-layout-4 #tol-assset-filter .select-wrapper ul{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
/* End of the Asset filter */

/* Asset filter custom popup */
#tol-traderoom-layout-4 .assetFilterCustomPopup:after{
    left:34% !important;
}
/* End Asset filter custom popup */

#tol-traderoom-layout-4 .chartV2Wrapper {
    height: 280px;
    max-height: 280px;
}

#tol-traderoom-layout-4 #oldChartContainer,
#tol-traderoom-layout-4 #chartContainer,
#tol-traderoom-layout-4 .oldChartContainer .highcharts-container {
    height: 258px;
    max-height: 258px;
}
.rtl .volumePercentRight, .rtl .volumePercentLeft {
    position: relative;
    left: -28px;
}
#tol-traderoom-layout-4 #chartTicksTrade,
#tol-traderoom-layout-4 #chartTicksTrade .highcharts-container {
    height: 278px;
    max-height: 278px;
}
.tol-traderoom .btn-default, .tol-traderoom .btn-default optgroup, .tol-traderoom .btn-default option {
    .gradient(top, #6ea4da, #3183bf);
    color: #ffffff;
    border: none;
    border-bottom: 1px solid #2e7bb2;
    text-shadow: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 #3a76b5;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 #3a76b5;
    border-radius: 3px;
    cursor: pointer;
}
    .tol-traderoom .btn-default:hover, .tol-traderoom .btn-default:focus, .tol-traderoom .btn-default:active, .tol-traderoom .btn-default.active, .tol-traderoom .btn-default option:hover {
        background-image: -webkit-linear-gradient(top, #74aadd 0%, #398ec7 100%);
        background-image: -o-linear-gradient(top, #74aadd 0%, #398ec7 100%);
        background-image: linear-gradient(to bottom, #74aadd 0%, #398ec7 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff74aadd', endColorstr='#ff398ec7', GradientType=0);
        border: none;
        border-bottom: 1px solid #3a76b5;
        color: #ffffff;
    }

.form-control-sm {
    min-height: 30px;
    padding: 3px 5px;
    line-height: 1.428571429;
}
.navigationContainer {
    height: 22px;
    /*#left: 15px;*/
    top: 0px;
    left:0;
    float: left;
    z-index: 4;
    position: relative;
    width: 34px;
}
.forex .navigationContainer {
    left: 0;
}
.btn-up, .btn-down {
    text-transform: uppercase;
}
.navigationContainerPeriod {
    width: 100%;
}
.forex .navigationContainerPeriod {
    width: 94%;
}
.chartNavigationPeriod {
    /*
    background: none;
    margin: 0;
    border: 0;
    color: white;
    font-size: 11px;
    padding: 2px 6px;
    width: 11.7%;
    */
    position: relative;
    background: none;
    margin: 0;
    border: 0;
    color: white;
    font-size: 9px;
    padding: 2px 0px 2px 0px;
    float: left;
    width: 11.5%;
}

    .chartNavigationPeriod:disabled {
                /*
        background: white;
        border-radius: 3px;
        color: #5ea0d9;
        line-height: 14px;
        height: 16px;
        */
        background: white;
        border-radius: 3px;
        color: #5ea0d9;
        line-height: 14px;
        height: 16px;
        float: left;
        margin: 3px;
    }

.navigationContainer li {
    display: none;
    background: #5199d6;
    height: 25px;
    width: 120px;
    z-index: 48;
    left: -40px;
    border-right: 1px solid #2b76b6;
    border-left: 1px solid #2b76b6;
}
.navigationContainer li:first-child {
    border-top: 1px solid #2b76b6;
    border-top-right-radius: 3px;
    position: relative;
}
    .navigationContainer:hover li {
        top: 22px;
    }

.chartNavigation {
    height: 26px;
    border: 0;
    border-top: 1px solid #84b7e2;
}
.chartNavigation:disabled {
    background-image: url('/wp-content/themes/tol-parent/images/check-white.png');
    background-repeat: no-repeat;
    background-position: 95px center;
}
.advanced .buy-button-container {
    position: relative;
    top: -10px;
}
.text-primary {
    font-weight: bold;
}
.disabled-input, .disabled-input[disabled] {
    background: #5a9ed8;
    border-style: none;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#tol-assset-filter{
    width: 100%;
    padding-top: 0;
}
#tol-assset-filter .select-wrapper.open ul {
    .gradient(top, #6ea4da, #3183bf);
    border: 1px solid #2e7bb2;
    top: 28px;
    left: 0;
}
.select-wrapper ul > li.selected {
    background: #1E90FF;
}
#tol-assset-filter .select-wrapper {
    position: relative;
    z-index: 1;
    font-size: .9em;
    cursor: pointer;
    padding: 3px 0;
    line-height: 1.5em;
}
.divAsstFilterMain div {
    position: relative;
    display: block;
    padding: 3px 12px;
    float: left;
    cursor: pointer;
}
.divAsstFilterMain div.selected {
    color: @div-asst-filter-color;
    background-color: @div-asst-filter-bgcolor;
    border-radius: 4px;
}
.well {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px none #000;
    border-bottom: 2px solid #d4d8d9;
}
.well-sm {
    padding: 9px;
    border-radius: 3px;
}
#tol-traderoom-layout-4 .flat-top-borders {
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height:300px;
}
.tol-assets-table {
    margin-bottom: 0px;
    border-bottom: 2px solid #d4d8d9;
}
.tol-invest-time, .turboBinary .widgetPayout {
    background: #5a9ed8;
    border-style: none;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
}
.tol-well label {
    line-height: 2em;
    margin-bottom: 0;
}

div.left-col div.tol-well label[data-translate="traderoomAssets"]{
    margin-left: 3px;
}
.btn-up {
    color: #fff;
    border-style: solid;
    border-width: 0px;
    border-color: #41b464;
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, #41b464 0%, #50c373 100%);
    background-image: -webkit-linear-gradient( 90deg, #41b464 0%, #50c373 100%);
    background-image: -ms-linear-gradient( 90deg, #41b464 0%, #50c373 100%);
    box-shadow: 0px 2px 0px 0px #34a155;
    margin: 0px!important;
    margin-top: 5px!important;
    box-shadow: inset 0 -3px #319950, 4px 4px #d7d7d7, -4px -4px #d7d7d7, 4px -4px #d7d7d7, -4px 4px #d7d7d7;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.714285714285714em;
}

.btn-down {
    color: #fff;
    border-style: solid;
    border-width: 0px;
    border-color: #41b464;
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, #db2f2f 0%, #f14c40 100%);
    background-image: -webkit-linear-gradient( 90deg, #db2f2f 0%, #f14c40 100%);
    background-image: -ms-linear-gradient( 90deg, #db2f2f 0%, #f14c40 100%);
    box-shadow: 0px 2px 0px 0px #c12121;
    margin: 0px!important;
    box-shadow: inset 0 -3px #c11e1a, 4px 4px #d7d7d7, -4px -4px #d7d7d7, 4px -4px #d7d7d7, -4px 4px #d7d7d7;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 17px!important;
    font-size: 1.714285714285714em;
}

.tol-rate-label {
    margin: 37px 0 24px 0;
}
    .oneTouch .tol-rate-label {
        margin: 5px 0 1px 0;
    }

//Trader insight
.volumePercentLeft {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background: #4cbf6f;
    font-weight: 400;
    border-radius: 10px;
}

.volumePercentRight {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background: #dd2d2c;
    font-weight: 400;
    border-radius: 10px;
}

.traderInsightWrapper {
    width: 7px;
    height: 233px;
    position: relative;
    top: 7px;
    left: -14px;
    text-align: center;
    font-weight: bold;
    background-color: #e43b36;
    border-radius: 5px;
    box-shadow: inset 0px 0px #319950, 2px 2px #d7d7d7, -2px -2px #d7d7d7, 2px -2px #d7d7d7, -2px 2px #d7d7d7;
    margin: auto;
    margin-bottom: 13px;
}

.traderInsightWrapper .above {
    position: relative;
    float: left;
    background-color: #4cbf6f;
    height: 50%;
    width: 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tol-tradebox-right .btn-primary {
    color: #000;
    background-image: -webkit-linear-gradient(top, #ffc543 0%, #ffb510 100%);
    background-image: -o-linear-gradient(top, #ffc543 0%, #ffb510 100%);
    background-image: linear-gradient(to bottom, #ffc543 0%, #ffb510 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc543', endColorstr='#ffffb510', GradientType=0);
    border: none;
    border-bottom: 1px solid #ffb000;
    text-shadow: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
    border-radius: 3px;
    text-shadow: 0 1px 0 #fff;
}
    .advanced .tol-tradebox-right .btn-primary {
        margin: 20px 0 0;
    }
    .ticks .tol-tradebox-right .btn-primary {
        margin: 67px 0 0;
    }
.tol-tradebox-right .btn-primary:hover, .tol-tradebox-right .btn-primary:active {
    background-color: #cb8500;
    border-color: #c17f00;
    background-image: -webkit-linear-gradient(top, #ffbd29 0%, #f5a900 100%);
    background-image: -o-linear-gradient(top, #ffbd29 0%, #f5a900 100%);
    background-image: linear-gradient(to bottom, #ffbd29 0%, #f5a900 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffbd29', endColorstr='#fff5a900', GradientType=0);
    border: none;
    border-bottom: 1px solid #dc9800;
    color: #333;
}

.returnHighAmount, .returnLowAmount {
    display: block;
}

.returnHighAmount .percentage, .returnLowAmount .percentage {
    display: block;
    float: right;
}

.tol-rate-label .form-control {
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: not-allowed;
}

.rate-wrapper span {
    padding: 3px 5px;
    line-height: 1.5em;
    color: #333333;
    border-color: #dcdcdc;
    background-image: -moz-linear-gradient(90deg, #e3e3e3 0%, #fdfdfd 100%);
    background-image: -webkit-linear-gradient(90deg, #e3e3e3 0%, #fdfdfd 100%);
    background-image: -ms-linear-gradient(90deg, #e3e3e3 0%, #fdfdfd 100%);
    box-shadow: 0px 2px 0px 0px rgba(221, 221, 221, 0.004);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    display: block;
}

.selectionStateLabel {
    color: #4195d4;
    font-weight: 500;
    text-transform: uppercase;
}
    .oneTouch .selectionStateLabel {
        font-size: 13px;
    }
//Trader Insight START
.traderInsight .assetRow {
    height: 10px;
    text-align: left;
    position: relative;
    background-color: #4cbf6f;
    border-radius: 5px;
    margin-bottom: 28px;
}

.traderInsight .assetName {
    color: #333;
    font-size: 1em;
    padding-bottom: 5px;
    position: relative;
    top: -45px;
    text-align: center;
}

.traderInsight .assetRow .above {
    font-size: 1em;
    color: #333;
    border-radius: 5px;
}

.traderInsight .assetRow .below {
    display: inline-block;
    position: absolute;
    right: 0;
    text-align: right;
    font-size: 1em;
    color: #333;
    background: #e43b36;
    height: 16px;
    overflow: visible !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 0px;
}

.traderInsight .assetRow .below .percent {
    position: relative;
    top: -18px;
}
.traderInsight .assetRow .above .percent{
    position: relative;
    top: -25px;
}
.traderInsight {
    position: relative;
    top: 30px;
}

.tol-trader-insight-head {
    padding: 7px 7px 6px 7px;
    background: #D7D5D5;
    margin-bottom: -14px;
    font-weight: 500;
}

#tol-traderoom-layout-4 .tol-well.tol-trader-insight-header {
    padding-top: 14px;
    font-weight: 500;
    height: 46px;
}

.tol-trader-insight .well {
    padding: 33px 3px 19px;
}
//Trader Insight END

#tol-traderoom-layout-4 .tol-opentrades #closeTradesOptionsWrap {
    background: #3788c5;
    padding: 6px;
    color: #fff;
}

#tol-traderoom-layout-4 #closeTradesOptionsWrap label, #tol-traderoom-layout-4 .myTradesInfoLabel {
    margin: 0 5px 0 15px;
}

#tol-traderoom-layout-4 #closeTradesDDLWrap {
    display: inline-block;
    width: 18%;
}
.browser-msie #tol-traderoom-layout-4 #closeTradesDDLWrap {
    position: relative;
    top: 10px;
}
#tol-traderoom-layout-4 .hasDatepicker {
    width: 17.5%;
    display: inline-block;
}

#tol-traderoom-layout-4 .myTradesInfo {
    margin: 10px 0;
}

#tol-traderoom-layout-4 #closeTradesOptionsWrap label:first-child, #tol-traderoom-layout-4 .myTradesInfoLabel:first-child {
    margin-left: 0;
}

.expireTurboRuleInterval {
    box-shadow: inset 0 1px #8bb7e2, 1px 1px #3a76b5, -1px -1px #3a76b5, 1px -1px #3a76b5, -1px 1px #3a76b5;
    background: #6ea4da;
    background: -moz-linear-gradient(top, #6ea4da 5%, #5c98d5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#6ea4da), color-stop(100%,#5c98d5));
    background: -webkit-linear-gradient(top, #6ea4da 5%,#5c98d5 100%);
    background: -o-linear-gradient(top, #6ea4da 5%,#5c98d5 100%);
    background: -ms-linear-gradient(top, #6ea4da 5%,#5c98d5 100%);
    background: linear-gradient(to bottom, #6ea4da 5%,#5c98d5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ea4da', endColorstr='#5c98d5',GradientType=0 );
    width: 25px;
    height: 29px;
    border: none;
    color: #fff;
    padding: 0px;
    margin: 3px 3px 0 0;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}

.expireTurboRuleInterval.activeRule {
    background: #fff;
    color: #297ab5;
    box-shadow: none;
    border: none;
    cursor: default;
}
.turboSliderButton.inactive {
    background-color: #d5d5d5;
}
.turboSliderButton.leftButton {
    background: url('/wp-content/themes/tol-parent/images/left_arrow_openTrades.png') #d5d5d5 no-repeat 4px 26px;
}

.turboBoxSection.isTurboSlider {
    margin-top: 6px;
}

.turboSliderButton.rightButton {
    right: 0px;
    background: url('/wp-content/themes/tol-parent/images/right_arrow_openTrades.png') #d5d5d5 no-repeat 4px 26px;
}

.turboTime {
    background: url('/wp-content/themes/tol-parent/images/clock-white.png') no-repeat 5px;
}

.isNA {
    background: #6E6E6E;
    border-bottom-color:#4B4B4B;
}
.isWin {
    background-image: -moz-linear-gradient(90deg, #41b464 0%, #50c373 100%);
    background-image: -webkit-linear-gradient(90deg, #41b464 0%, #50c373 100%);
    background-image: -ms-linear-gradient(90deg, #41b464 0%, #50c373 100%);
    border-bottom-color:#319950;
}
.isLose {
    background-image: -moz-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
    background-image: -webkit-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
    background-image: -ms-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
    border-bottom-color:#c11e1a;
}
.ui-dialog .ui-dialog-titlebar {
    background: #353535;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.slider-payout{
    width:50%;
    float:left;
    margin-top:4px;
    margin-left:4px;
}

.slider-payout .ui-slider-handle{
   z-index:1;
}
.ui-dialog.ui-widget-content {
    padding: 0;
}
.popUpTitle {
    font-weight: bold;
}
#closePopUp, #closeAllPopUp {
    background: #FFF;
    border: 1px solid #000;
    border-radius: 3px;
}
#nextPopUp, .tradingToolsExecute {
    background: #1070B4;
    color: #FFF;
    border-top: 1px solid #75BAED;
    border-bottom: 1px solid #173C59;
    border-radius: 3px;
    cursor: pointer;
}
.tradingToolsExecute {
    width: 86px;
}
.tradingToolsExecute:hover {
    font-size: 1em;
    color: #000;
}
.ui-dialog.ui-widget-content.tol-tradingtools-dialog {
    width: 410px  !important;
    height: 230px  !important;
    border: 1px solid #B2B2B2;
}
.ui-dialog.tol-tradingtools-dialog .ui-dialog-title {
    display: none;
}
.ui-dialog.tol-tradingtools-dialog .ui-dialog-titlebar {
    height: 41px;
}
.tradeTools .headerMenu {
    margin-top: -41px;
    color: #FFF;
}
.browser-firefox .tradeTools .headerMenu {
    margin-top: 0;
}
.browser-msie .tradeTools .headerMenu{
    margin-top: 0;
    height: 40px;
}
.toolsHeader .activeTab {
    background: #1070B4;
}
.tradingToolsCancel {
    top: 5px;
    right: 5px;
}
.headerExtend, .headerClose, .headerDouble, .headerInsurance {
    font-weight: normal;
}
.tradeTools .chartContainer .chart {
    height: 168px !important;
    width: 292px !important;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
}
.tradeTools .chartContainer .chart .oldChart {
    width: 300px !important;
}
.extendCost {
    width: 86px;
}
.extendContainer, .closeContainer, .doubleContainer, .insuranceContainer {
    font-weight: normal;
    width: 86px;
}
.extendToSelectWrapper {
    background: url('/wp-content/themes/tol-parent/images/arrowDark.png') 63px no-repeat;
    border: 1px solid #000;
    width: 86px;
}
.extendToSelect {
    background: transparent;
}
.turboChart .turboStrike, .turboChart .turboAmount, .turboChart .turboReturn {
    color: #000;
}
.turboChart {
    background: #FFF;
    color: #000;
    padding: 0;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
}
.tol-opentrades-table .actionButton {
    background: #FFF;
    text-shadow: none;
    border: 1px solid #000;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 2px 6px;
}
.tol-opentrades-table .actionButton:hover {
    background: #000;
    color: #FFF;
}
.closed-trades-btn {
    width: 12%;
    margin-left: 20px;
    float:right;
    height: 32px;
}
.investAmountDropDown {
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(227, 227, 227) 0%, rgb(253, 253, 253) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(227, 227, 227) 0%, rgb(253, 253, 253) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(227, 227, 227) 0%, rgb(253, 253, 253) 100%);
    color: #333333;
}
.investAmountOption:hover {
    color: #777;
    background-image: -moz-linear-gradient( 90deg, rgb(237, 237, 237) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(237, 237, 237) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(237, 237, 237) 0%, rgb(255, 255, 255) 100%);
}
.headerExtend.disabled, .headerClose.disabled, .headerDouble.disabled, .headerInsurance.disabled {
    color: #404040;
    background: rgba(153, 153, 153, 0.4);
}
.touch-button-wrapper {
    position: relative;
}
.touchrateAlpha {
    position: absolute;
    color: #FFF;
    left: 0px;
    top: 47px;
}
.touchrateBeta {
    position: absolute;
    color: #FFF;
    left: 0px;
    top: 257px;
}
.widgetPayout {
    background: #5a9ed8;
    border-style: none;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    cursor: not-allowed;
    opacity: 1;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.durationButtons {
    display: inline-block;
    font-size: 0.8em;
    padding: 1px 4.5px;
}
.widgetAdvancedDurationButton [selected="selected"] {
    color: #FFFFFF;
    background-color: #636363;
}
#payout-return-holder .payoutDesc {
    margin-left: -9px;
}
.widgetPayout.current-date-time {
    margin: 2px 0;
}
#tol-traderoom-layout-4 .hasDatepicker.advancedDurationDatePicker {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    color: #333333;
    background-image: -moz-linear-gradient(90deg, #e3e3e3 0%, #fdfdfd 100%);
    background-image: -webkit-linear-gradient(90deg, #e3e3e3 0%, #fdfdfd 100%);
    background-image: -ms-linear-gradient(90deg, #e3e3e3 0%, #fdfdfd 100%);
    box-shadow: 0px 2px 0px 0px rgba(221, 221, 221, 0.004);
    min-height: 30px;
    padding: 3px 5px;
    line-height: 1.428571429;
    margin-top: 21px;
    width: 100%;
}
.forexTradeDiv #loadingElement {
    width: 133px;
    height: 132px;
    background: url('/wp-content/themes/tol-parent/images/forex_anim.gif') no-repeat center top;
    text-align: center;
    margin: 0 auto;
}
/* FOREX GAME START */
.durationButtons {
    display: inline-block;
}
.fl,
.sliderExpire div,
.forexVolumeAmount div,
.forexButtonsAndRate div,
.ourRateDiv div,
.profitContainer {
    float: left;
}
.returnOnLossContainer {
    float: right;
}
.profitContainer div,
.returnOnLossContainer div {
    display: inline-block;
}
.forexButtonsAndRate div a {
    display: block;
    height: 50px;
    width: 100px;
    margin: 0;
    padding: 2px;
    text-align: center;
}
.clear {
    clear: both;
}
.tradeAreaWrapper div {
    padding: 2px;
}
.ourRateDiv {
    padding: 3px;
}
.forexVolumeAmount .amountDLL select {
    width: 150px;
}
.expireDDLWrapper div {
    /*margin: 0px;
    padding: 0px;*/
}
.textColor,
.textColor span input {
    color: #ffca29;
}
.widgetforexDurationButton input {
    color: #ffca29;
    background-color: #444;
    border: #ffca29 solid 1px;
    padding: 5px;
}
.widgetforexDurationButton [selected="selected"] {
    color: #444;
    background-color: #ffca29;
    border: #444 solid 1px;
}
.forex .durationSlider {
    width: 140px;
}
.advanced .durationSlider {
    margin-top: 14px;
}
.forexDurationDatePicker,
.forexDurationDatePicker input {
    width: 50%;
}
.SelectedLongTermExpiryTime,
.SelectedLongTermExpiryTime span {
    float: right;
    margin-top: -24px;
    z-index: 2;
    position: relative;
    margin-right: 5px;
}
.spanExpiry,
.spanExpiry span,
.spanExpiry div {
    float: left !important;
    margin-left: 7px !important;
    margin-top: 5px;

}
.payoutProfit,
.payoutProfit div {
    float: left !important;
    padding-right:3px;
}
.returnOnLossProfit,
.returnOnLossProfit div {
    margin-left: 5px;
}
.chartv2Widget {
    width: 500px;
    display: inline-block;
    padding-top: 50px;
    padding-left: 10px;
}
.p20 {
    padding: 10px;
}
#forexTraidMain .sellTab.activeTab {
    border-top: 2px solid #4F5358;
    border-left: 2px solid #4F5358;
}
#forexTraidMain .buyTab.activeTab {
    border-top: 2px solid #4F5358;
}
#forexTraidMain .rowWrapper .row {
    border-left: 2px solid #4F5358;
    background: #303438;
    font-family: 'robotoregular';
    text-align: center;
    height: 115px;
}
#forexTraidMain .rowWrapper .row:nth-child(2){
    padding-top: 35px;
}
.buySell {
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    display: inline-block;
    border-right: 2px solid #26292B;
    padding-right: 10px;
}
.buySellStrike {
    display: inline-block;
    padding-left: 5px;
}
.buySellStrike span.uppercase:nth-child(1) {
    font-size: 10px !important;
}
.left, .center, .right {
    float: left;
    width: 31.65%;
    padding: 5px;
    height: 50px;
}
.first, .second, .third, .fourth {
    float: left;
    width: 24%;
    padding: 5px;
    height: 60px;
    background: #4E5156;
    color: #FFF;
}
.first {
    margin-left: 2%;
}
.values {
    font-size: 30px;
    position: relative;
    top: -9px;
}
.labelsText {
    font-size: 13px;
    color: white;
    width: 100%;
    padding: 0 0 7px 0;
}
.ui-dialog[aria-describedby=forexTradePopup] {
    z-index: 101;
    color: #FFF;
}
.ui-dialog[aria-describedby=forexTradePopup] .inner {
    color: #FFF;
}
.ui-dialog[aria-describedby=forexTradePopup] .ui-dialog-title {
    display: none;
}
.ui-dialog[aria-describedby=forexTradePopup] .ui-widget-header {
    height: 40px;
    border: 0;
}
#txtinvestInUsd, #txttakeProfitInUsd {
    background: #292828;
    border: 0;
    color: #FFF;
    font-size: 22px;
    font-family: 'robotoregular';
}
#forexTraidMain .rowWrapper {
    background: #3E4146;
}
#forexTraidMain .rowWrapper div[align=center] {
    border-top: 1px solid #2E3136;
    margin-top: 15px;
}
#forexTraidMain .row {
    margin: 0;
}
#forexTraidMain .buySell {
    font-family: 'robotoregular';
    font-weight: normal;
}
#forexTraidMain .customSelect {
    color: #fff;
    font-size: 22px;
}
#forexTraidMain select.hasCustomSelect {
    left: 33px;
}

#forexTraidMain select.hasCustomSelect option {
    background: #3E4146;
    color: #FFF;
}
#forexTradePopup {
    border: 0;
}
#forexTraidMain .buttonTradeDiv {
    display: inline-block;
    width: 25%;
    border-top: 1px solid #fce390;
    border-bottom: 1px solid #31280b;
    background: #faca30;
    background: -moz-linear-gradient(top, #faca30 0%, #f9b12c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faca30), color-stop(100%,#f9b12c));
    background: -webkit-linear-gradient(top, #faca30 0%,#f9b12c 100%);
    background: -o-linear-gradient(top, #faca30 0%,#f9b12c 100%);
    background: -ms-linear-gradient(top, #faca30 0%,#f9b12c 100%);
    background: linear-gradient(to bottom, #faca30 0%,#f9b12c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faca30', endColorstr='#f9b12c',GradientType=0 );
    text-decoration: none;
    color: #000;
    text-shadow: 0px 1px #FFF;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    border-radius: 2px;
    margin: 10px;
    height: 50px;
}
.advancedVolumeAmount .amountDLL select {
    width: 150px;
}
.forexTradeDiv {
    width: 650px;
    height: 398px !important;
    max-height: 400px !important;
    background: #2a2a2a !important;
    display: none;
    padding: 5px;
}
.assetNameDiv {
    background: black;
    color: gray;
    font-size: 20px;
    height: 35px;
    padding: 5px;
}
.buyTab {
    float: left;
    width: 48.4%;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    margin-top: 10px;
    background-color: #6E6E6E;
}
.sellTab {
    float: left;
    width: 47.3%;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #6E6E6E;
}
.rowWrapper {
    background: #848484;
    padding: 10px;
}
.pageLoader {
    position: absolute;
    top: 0;
    bottom: 0%;
    left: 0;
    right: 0%;
    background-color: #28292B;
    z-index: 99;
    opacity: 0.6;
}
.loadingElements {
    margin-top: 130px !important;
}
.loadingElementTexts {
    padding-top: 50px !important;
}
.inner {
    margin: 0 auto;
    position: relative;
    text-align: center;
    background-color: #3E4146;
}
.inner .row {
    width: 66%;
    margin: 0 auto;
}
.buttonClose {
    width: 90px;
    height: 35px;
    background: -moz-linear-gradient(top, #494D52 0%, #303337 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494D52), color-stop(100%,#303337));
    background: -webkit-linear-gradient(top, #494D52 0%,#303337 100%);
    background: -o-linear-gradient(top, #494D52 0%,#303337 100%);
    background: -ms-linear-gradient(top, #494D52 0%,#303337 100%);
    background: linear-gradient(to bottom, #494D52 0%,#303337 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494D52', endColorstr='#303337',GradientType=0 );
    color: white;
    font-size: 16px;
    border: 1px solid #303438;
    margin-top: 10px;
    margin-bottom: 15px;
}
.successMsg {
    display: inline-block;
    width: 48%;
    padding: 5px;
    height: auto;
    vertical-align: top;
}
.successMsg span {
    display: block;
}
.inner .row .successMsg:nth-child(1) {
    text-align: left;
}
.inner .row .successMsg:nth-child(2) {
    text-align: right;
}
.txtMsg {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #262626;
    border-bottom: 1px solid #000;
}
.uppercase {
    text-transform: uppercase;
}
.widgetButtonForexTrade {
    font-size: 14px;
    text-decoration: none;
    color: white;
    width: 90%;
    height: 35px;
    padding: 0;
    border: 0;
    border-radius: 0 !important;
    line-height: 35px;
    background: -moz-linear-gradient(top,  #494d52 0%, #3e4246 49%, #313438 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494d52), color-stop(49%,#3e4246), color-stop(100%,#313438)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #494d52 0%,#3e4246 49%,#313438 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #494d52 0%,#3e4246 49%,#313438 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #494d52 0%,#3e4246 49%,#313438 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #494d52 0%,#3e4246 49%,#313438 100%); /* W3C */
}
.widgetButtonForexTrade:hover {
    background-position: 0;
    background: -moz-linear-gradient(top,  #ffb129 0%, #ffbc29 49%, #ffc929 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb129), color-stop(49%,#ffbc29), color-stop(100%,#ffc929)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffb129 0%,#ffbc29 49%,#ffc929 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffb129 0%,#ffbc29 49%,#ffc929 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffb129 0%,#ffbc29 49%,#ffc929 100%); /* IE10+ */
    background:  linear-gradient(to bottom,  #ffb129 0%,#ffbc29 49%,#ffc929 100%); /* W3C */
}
.forexCloseButton {
    color: #eaeaea;
    background: url('/wp-content/themes/tol-parent/images/turbo-button.png');
    width: 45px;
    height: 25px;
    border: 0;
    cursor: pointer;
    line-height: 15px;
    border-radius: 0 !important;
}
.tradesTable.forex .myTradesOptionsAssetsDDL .customSelectInner {
    width:178px !important;
}

//SIGNALS
.signalsWidget .tableRowDiv:nth-child(odd) {
    border-right: 0;
    background: #FFFFFF;
}
.signalsWidget .tableRowDiv:nth-child(even) {
    background: #E0E0E1;
}
.signalsWidget .tableHeaderDiv > div {
    color: #333;
    background: #d5d5d5 url('/wp-content/themes/tol-parent/images/separator-light.png') no-repeat right top;
    vertical-align: bottom;
    border-top: 0;
    border-bottom: 2px solid #BBBBBB;
    padding: 8px;
    line-height: 1.428571429;
    font-size: 0.9em;
    font-weight: 500;
    text-align: left;
    display: table-cell;
    width: 17%;
}
.columnAsset, .columnValidity, .columnExpiryTime, .columnPayout, .columnSignal, .columnStrength, .columnAmount, .columnTrade {
    display: table-cell;
    padding: 8px;
    line-height: 1.428571429;
    text-align: left;
    width: 17%;
}
.signalsWidget .tableHeaderDiv > div.validityHeader, .columnValidity,
.signalsWidget .tableHeaderDiv > div.payoutHeader, .columnPayout {
    width: 8%;
}
.signalsWidget .tableHeaderDiv > div.signalHeader, .columnSignal {
    width: 10%;
}
.signalsWidget .tableHeaderDiv > div.strengthHeader, .columnStrength {
    width: 20%;
}
.signalStrength.percWrap {
    background-image: url('/wp-content/themes/tol-parent/images/signal_strength_full.png');
    background-repeat: no-repeat;
    width: 126px;
    height: 20px;
    position: absolute;
    margin-top: 3px;
}
.signalStrength.percInner {
    display: block;
    height: 20px;
    background-image: url('/wp-content/themes/tol-parent/images/signal_strength.png');
    background-repeat: no-repeat;
}
.signalsWidget .tableBodyDiv div.columnAsset .asset {
    overflow:hidden;
}
.signalsNoOptions {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(42,42,42,0.5);
    z-index: 98;
}
.signalsNoOptions span {
    display: block;
    padding-top: 12%;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}
.signalAmount {
    width: 90%;
    padding-left: 4px;
}
.signalsWidget .trade input[type=button] {
    display:inline-block;
    width: 38px;
    height:26px;
    border:0;
    border-bottom:1px solid #ffb000;
    background: #ffc543;
    background: -moz-linear-gradient(top, #ffc543 0%, #ffb510 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffc543), color-stop(100%, #ffb510));
    background: -webkit-linear-gradient(top, #ffc543 0%, #ffb510 100%);
    background: -o-linear-gradient(top, #ffc543 0%, #ffb510 100%);
    background: -ms-linear-gradient(top, #ffc543 0%, #ffb510 100%);
    background: linear-gradient(to bottom, #ffc543 0%, #ffb510 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc543', endColorstr='#ffb510', GradientType=0 );
    text-decoration:none;
    text-transform: uppercase;
    color:#000;
    border-radius: 3px;
}
.signalsWidget .trade input[type=button]:disabled {
    background: #1C1C1C;
    color: #3D4146;
    border-top: 1px solid #1C1C1C;
    border-bottom: 1px solid #1C1C1C;
}
.signalsWidget .signalHeader {
    width: 50px;
}
.signalsWidget .strengthHeader {
    width: 130px;
}
.signalsWidget .ditectionDiv {
    position: relative;
    width: 50px;
    padding: 0 3px;
    text-indent: 14px;
}
.signalsWidget .signalDown {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ff2f2f;
    left: 3px;
    top: 42%;
}
.signalsWidget .signalUp {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #0bce30;
    left: 3px;
    top: 42%;
}
.signalsUserClasses {
    width:619px;
    height:309px;
    background:url('/wp-content/themes/tol-parent/images/signalsUserClasses.jpg')
}
.signalsUserClasses span {
    margin: 20px auto;
    font-size: 14px;
    text-align: center;
    position: absolute;
    width: 100%;
}
.signalsUserClasses .buttons-wrapper
{
    top:auto;
    bottom:0;
    right:20px;
}
/* =================== End of the Trading Signals =====================*/

//One Touch game
.assetName .arrowDown {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #333;
    width: 1px;
    height: 1px;
    position: absolute;
    top: 12px;
    left: 3px;
}
.assetName .arrowUp
{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #333;
    width: 1px;
    height: 1px;
    position: absolute;
    top:12px;
    left:3px;
}
.scrollContent tr td {
    position: relative;
}
.name.assetName {
    text-indent: 7px;
}
.oneTouchName.img.down, .targetLblContent.img.down {
    background: url('/wp-content/themes/tol-parent/images/closed_put_onetouch.png') no-repeat;
}
.oneTouchName.img.up, .targetLblContent.img.up
{
    background: url('/wp-content/themes/tol-parent/images/closed_call_onetouch.png') no-repeat;
}
.oneTouchNameWrap
{
    width:100%;
    direction:ltr;
}
.oneTouchName.img
{
    display:inline-block;
    width:16px;
    height:8px;
}
.targetLblContent.img
{
    width:16px;
    height:8px;
}
.targetLblContent.img.up
{
    position: absolute;
    bottom: 12px;
    left: 25px;
    z-index: 1;
}
.targetLblContent.img.down
{
    position: absolute;
    bottom: 12px;
    left: 25px;
    z-index: 1;
}
.oneTouchName.lbl
{
    display:inline-block;
}
.targetLblContent
{
    display:inline-block;
}
.oneTouch .targetLblContent.lbl
{
    display:block;
    font-weight: 300;
}
.oneTouch .widgetRateAlpha .targetLblContent.price {
    color: #333;
    position: relative;
    text-align: right;
    font-size: 15px;
    padding: 1px 5px 1px 0;
    border-radius: 5px;
    width: 100%;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: not-allowed;
}
.oneTouch .widgetRateAlpha {
    margin-top: 5px;
}
.range .widgetRateAlpha {
    position: absolute;
    margin-top: 70px;
}
.range .widgetRateBeta {
    position: absolute;
    margin-top: 190px;
}
.targetLblContent.price
{
    color:#ffca29;
    font-size:18px;
}
//END

.payout-return-wrapper {
    margin-top: 15px;
}
.noOptions
{
    width: 100%;
    position: absolute;
    background: @no-options-bg;
    z-index: 50;
    text-align: center;
    line-height: 320px;
    padding-bottom: 30px;
}
.tol-game1 .container {
    position:relative;
} 
.forex .table > tbody > tr > td.assetName {
    line-height: 2.8em;
}
#loadingElementForex {
    width: 133px;
    height: 132px;
    background: url('/wp-content/themes/tol-parent/images/forex_anim.gif') no-repeat center top;
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .chart-container-wrapper {
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
    .navigationContainer {
        left: 0;
    }
    .tol-tradebox-close-button {
        position: absolute;
        left: unset;
        right: 0px;
        top: 4px;
    }
    .advanced .tol-tradebox-close-button {
        right: 13px;
    }
    .widgetPayout {
        display: block;
    }
    .range .tol-rate-label .form-control {
        padding: 10px 5px;
    }
    .touchrateBeta, .touchrateAlpha {
        top: 325px;
    }
    .touchrateBeta {
        right: 0;
        left: unset;
    }
    .ui-dialog.ui-widget-content {
        width: 100% !important;
    }
    .buyTab {
        width: 46.4%;
    }
    #forexTraidMain .values {
        font-size: 17px;
    }
    #forexTraidMain .labelsText {
        font-size: 9px;
    }
    #forexTraidMain .left, #forexTraidMain .center, #forexTraidMain .right {
        width: 32.65%;
    }
    #forexTraidMain .left select, #forexTraidMain .center input, #forexTraidMain .right input {
        width: 100% !important;
        font-size: 17px;
    }
    .touch .tol-tradebox-left a.widgetButtonBeta, .touch .tol-tradebox-left a.widgetButtonAlpha {
        font-size: 16px;
        padding-top: 25px;
    }
    .ticks .tol-tradebox-right .btn-primary {
        margin: 15px 0 0;
    }
    .ticks .returnLowAmount {
        margin-right: 13px;
    }
    .right-col {
        padding-left: 0;
    }
    .left-col {
        padding-right: 0;
    }
    .chartNavigationPeriod {
        width: 11.3%;
    }
    #btn240Min {
        width: 12.6%;
    }
    .widgetButtonAlpha {
        margin-top: 17px !important;
    }
    .tol-rate-label {
        margin: 11px 0 0px 0;
    }
    .tol-tradebox-right {
        height: 10px;
    }
    .divAsstFilterMain div {
        padding: 3px 10px;
    }
    .navigationContainerPeriod {
        width: 88%;
    }
    #tol-traderoom-layout-4 .form-group {
        margin-bottom: 0px;
    }
    #tol-traderoom-layout-4 .form-group.current-date-time {
        text-align: center;
        font-size: 16px;
    }
    .tol-invest-time {
        width: 100%;
    }
    .returnHighAmount .percentage, .returnLowAmount .percentage,
    .returnHighAmount .value, .returnLowAmount .value {
        width: 33.33333333333333%;
        color: #4195d4;
        font-weight: 500;
    }
    #tol-traderoom-layout-4 .chartV2Wrapper {
        margin-bottom: 27px;
    }
    .widgetAdvancedDurationButton {
        height: 31px;
        padding: 5px 0;
        width: 100%;
    }
    .widgetAdvancedDurationButton .durationButtons {
        padding: 1px 13px;
    }
}
@media (min-width: 768px) {
    #mobileGameMenu {
        display: none;
    }
}
@media (max-width: 520px) {
    .btn-down{
        font-size: 17px !important;
        padding: 19px 0 !important;
    }
}
