//Main variables    
@blackColor: #000;
@lightBlack: #404040;
@signalsDisabledBlack: #1C1C1C;

@whiteColor: #fff;
@darkWhite: #e8e8e9;

@blueColor: #1070b4;
@lightBlue: #78bdf1;
@darkBlue: #173c59;

@yellowColor: #ffca29;

@greenColor: #339331;
@darkGreen: #144b17;
@lightGreen: #73e379;

@redColor: #E50000;
@pinkColor: #f2776e;
@darkRed: #5d2824;

@colorGrey: #ccc;
@simpleGrey: #6E6E6E;
@darkGrey: #333;
@lightGrey: #d5d5d5;
@mildGrey: #4F5358;
@anotherGrey: #B2B2B2;

@mainBackground: #eaeaea;
@mainBgMenu: #353535;
@asset-line-brdr: #93a5c3;
//


#tol-traderoom-layout-3 {
    margin-top:5px;
}

#tol-traderoom-layout-3 .tol-asset-filter-custom {
    z-index: 2;
    position: relative;
}

#tol-traderoom-layout-3 .tol-no-options.tol-chart-overflow {
    max-height: 350px;
}

#tol-traderoom-layout-3 .tol-no-options.tol-chart-overflow span {
    top: 6em;
    color: @blackColor;
    position: relative;
    font-size: 2em;
}

#tol-traderoom-layout-3 .tol-no-options {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
}

#tol-traderoom-layout-3 .tol-assets-table table{
    cursor: pointer;
}

#tol-traderoom-layout-3 .scrollContent tr td {
    vertical-align: middle;
}

#tol-traderoom-layout-3 .chartNavigation{
    background-color: @whiteColor;
    border: 0;
    color: @blackColor;
}
#tol-traderoom-layout-3 .chartNavigation:hover {
    background-color: @darkWhite;
}
#tol-traderoom-layout-3 .navigationContainer li{
    border-right: 1px solid @blackColor;
    border-left: 1px solid @blackColor;
    background: @whiteColor;
}
#tol-traderoom-layout-3 .navigationContainer li:first-child{
    border-top: 1px solid @blackColor;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#tol-traderoom-layout-3 .navigationContainer li:last-child{
    border-bottom: 1px solid @blackColor;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#tol-traderoom-layout-3 .tol-well {
    min-height: 42px;
    margin-bottom: 0;
    background: @mainBgMenu;
    color: @whiteColor;
    position: relative;
    z-index: 3;
}

.table th {
    background:url(/wp-content/themes/tol-parent/images/separator.png) no-repeat right top;
    background-color: @lightGrey;
}
.table .scrollContent tr:nth-child(even),
.tol-opentrades .tab-content tbody tr:nth-child(even) {
    background: @darkWhite;
}

.table .scrollContent tr .rate .isMore,
#tol-traderoom-layout-3 .tol-tradebox .our-rate-value .rate-up{
    color: @greenColor;
}

.table .scrollContent tr .rate .isLess,
#tol-traderoom-layout-3 .tol-tradebox .our-rate-value .rate-down{
    color:  @redColor;
}

#tol-traderoom-layout-3 .tol-assets-table {
    max-height: 604px;
    min-height: 604px;
    overflow: auto;
    position: relative;
    font-weight:300;
}

#tol-traderoom-layout-3 .tol-chart-header,
#tol-traderoom-layout-3 .tol-chart-container,
#tol-traderoom-layout-3 .range .tol-tradebox-left, 
#tol-traderoom-layout-3 .touch .tol-tradebox-left,
#tol-traderoom-layout-3 .chartV2Wrapper {
    position: relative;
}

#tol-traderoom-layout-3 .tol-chart-container {
    background: @whiteColor;
    border: 1px solid @colorGrey;
    border-right: 0;
}

#tol-traderoom-layout-3 .tol-chart-header .tol-assest {
    padding: 7px 0;
}

#tol-traderoom-layout-3 .tol-custom-popup {
    padding: 8px 5px;
    text-align: right;
}

#tol-traderoom-layout-3 .closedTrades table {
    margin-bottom: 10px;
}

/* Asset filter */
#tol-traderoom-layout-3 #tol-assset-filter .select-wrapper {
    position: relative;
    z-index: 1;
    font-size: .9em;
    cursor: pointer;
    padding: 3px 0;
    line-height: 1.5em;
}
#tol-assset-filter .select-wrapper-icon {
    top: 13px;
}
#tol-traderoom-layout-3 .assetFilterCustomPopup {
    color: @blackColor;
    background: @whiteColor;
    border: 1px solid @anotherGrey;
}

#tol-traderoom-layout-3 .assetFilterCustomPopup:after {
    left:37% !important;
}

#tol-traderoom-layout-3 .tol-tradebox-close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}

#tol-traderoom-layout-3 #closeTradesDDLWrap,
#tol-traderoom-layout-3 .oneTouch .tol-targer-wrapper{
    display: inline-block;
}

#tol-traderoom-layout-3 .myTradesInfo {
    margin: 10px 0;
}

#tol-traderoom-layout-3 #closeTradesOptionsWrap label,
#tol-traderoom-layout-3 .myTradesInfoLabel {
    margin: 0 5px 0 15px;
}

#tol-traderoom-layout-3 #closeTradesOptionsWrap label:first-child,
#tol-traderoom-layout-3 .myTradesInfoLabel:first-child {
    margin-left: 0;
}

#tol-traderoom-layout-3 .chartWidget {
    height: 280px;
}

#tol-traderoom-layout-3 .touch .tol-widgetRateAlpha {
    position: absolute;
    top: 75px;
    width: 100%;
}
#tol-traderoom-layout-3 .range .tol-widgetRateAlpha {
    position: absolute;
    top: 50px;
    width: 100%;
}
#tol-traderoom-layout-3 .touch .tol-widgetRateBeta {
    position:absolute;
    bottom:75px;
    width:100%;
}
#tol-traderoom-layout-3 .range .tol-widgetRateBeta {
    position: absolute;
    top: 83px;
    width: 100%;
}
#tol-traderoom-layout-3 .touch .tol-widgetRateAlpha,
#tol-traderoom-layout-3 .touch .tol-widgetRateBeta {
    left:0;
}

#tol-traderoom-layout-3 .oneTouch .tol-widgetRateBeta {
    display:none !important;
}

#tol-traderoom-layout-3 .oneTouch .tol-tradebox-right .targetLblContent.lbl, 
#tol-traderoom-layout-3 .tol-targer-wrapper {
    display:none;
}

#tol-traderoom-layout-3 .tol-widgetContracts {
    margin-top:5px;
}

#tol-traderoom-layout-3 .oneTouch .targetLblContent.lbl {
    margin:5px 0;
    float: left;
}

#tol-traderoom-layout-3 .oneTouch .tol-widgetRateAlpha.col-sm-12.col-xs-4 .targetLblContent.price{
    padding: 6px;
    display: block;
    width: 100%;
}
#tol-traderoom-layout-3 .oneTouch .widgetButtonAlpha {
    margin-bottom:0;
}

#tol-traderoom-layout-3 .oneTouch .widgetButtonBeta {
    margin-top:0;
}
.oneTouch .our-rate-text.text-right {
    font-size: 13px;
    padding-right: 0 !important;
    text-align: left;
}
#tol-traderoom-layout-3 .oneTouch .input-lg {
    height: 35px;
    padding: 6px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 3px;
    display: block;
    width: 100%;
    color: @whiteColor;
    background-color: @darkGrey;
    background-image: none;
    border: 1px solid @darkGrey;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#tol-traderoom-layout-3 .oneTouch .tol-rate-label {
    margin: 5px 0 10px;
}

#tol-traderoom-layout-3 .ticks .tol-rate-label {
    margin: 46px 0 55px 0;
}

#tol-traderoom-layout-3  .oneTouch .tol-tradebox-right .targetLblContent.img {
    display: none;
}
#tol-traderoom-layout-3 .tol-traderoom-wrapper {
    border-right: 1px solid @colorGrey;
}
#tol-traderoom-layout-3 .tol-traderoom-wrapper .tol-tradebox > div {
    padding: 10px 0 0 0;
}
.tol-game1 {
    background: @mainBackground;
}
#tol-traderoom-layout-3 .digital .tol-tradebox-right .btn-primary {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 0;
}

#tol-traderoom-layout-3 .tol-invest-time, #tol-traderoom-layout-3 .widgetPayout, #tol-traderoom-layout-3 .tol-return label, #tol-traderoom-layout-3 .tol-invest-time-label {
    display: inline-block;
    max-width: 100%;
    padding: 6px 0 5px;
    margin: 0;
    font-weight: 400;
}
#tol-traderoom-layout-3 .tol-invest-time-label {
    font-size: 14px;
    font-weight: normal;
    margin-right: 0.4em;
}
#tol-traderoom-layout-3 .tol-invest-time {
    color: @redColor;
    padding: 0 5px 0 30px;
    background: @whiteColor url(/wp-content/themes/tol-parent/images/clock.png) 5px 7px no-repeat;
    border-radius: 4px;
    line-height: 30px;
}

#tol-traderoom-layout-3 .tol-expire-turbo {
    padding: 6px 0 5px;
}

#tol-traderoom-layout-3 .tol-help-btn {
    padding:8px 10px;
}

#tol-traderoom-layout-3 #expireTurbo-tradologic input {
    color: @anotherGrey;
    width: 36px;
    height: 31px;
    background:transparent;
    border: 1px solid @blackColor;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 4px;
    line-height: 28px;
}

#tol-traderoom-layout-3 #expireTurbo-tradologic input:hover {
    color:@whiteColor;
}

#tol-traderoom-layout-3 #expireTurbo-tradologic input.activeRule{
    color:@whiteColor;
    background: @lightBlack;
    border-bottom: 2px solid @yellowColor;
}

#tol-traderoom-layout-3 .hasDatepicker {
    width:140px;
    display:inline-block;
}

#tol-traderoom-layout-3 #tol-assset-filter{
    border: 1px solid @whiteColor;
    width: 100%;
    border-radius: 3px;
    padding-top: 0;
    background: @mainBgMenu;
    color: @whiteColor;
}
#tol-traderoom-layout-3 .tol-asset-filter-custom .tol-custom-popup .caret{
    position: absolute;
    top: 5px;
}
#tol-traderoom-layout-3 #tol-assset-filter .select-wrapper.open ul{
    background: @mainBgMenu;
    border: 1px solid @whiteColor;
    top: 28px;
}
#tol-traderoom-layout-3 .select-wrapper ul > li.selected{
    background: @anotherGrey;
}
#tol-traderoom-layout-3 .tol-asset-filter-custom .tol-custom-assets{
    padding: 8px;
}
#tol-traderoom-layout-3 .tol-assest span,
#tol-traderoom-layout-3 .tol-return{
    font-size: 23px;
}
#tol-traderoom-layout-3 .chartNavigationPeriod,
#tol-traderoom-layout-3 .assetFilterCustomPopup section.buttons #assetFilterCustom_Cancel {
    color: @blackColor;
    background: @whiteColor;
    border: 1px solid @blackColor;
    border-radius: 2px;
}
#tol-traderoom-layout-3 .assetFilterCustomPopup section.buttons #assetFilterCustom_Cancel:hover {
    color: @whiteColor;
    background: @blackColor;
}
#tol-traderoom-layout-3 .chartNavigationPeriod:disabled{
    background: @blueColor;
    color: @whiteColor;
    border: 1px solid @blueColor;
    border-radius: 2px;
}
#tol-traderoom-layout-3 .assetFilterCustomPopup section.buttons #assetFilterCustom_Confirm,
#tol-traderoom-layout-3 .tol-opentrades-table .tradingToolsExecute {
    background: @blueColor;
    color: @whiteColor;
    padding: 7px 28px;
    border-radius: 2px;
}
#tol-traderoom-layout-3 .assetFilterCustomPopup section.buttons #assetFilterCustom_Confirm:hover {
    color: @blackColor;
}

#tol-traderoom-layout-3 .tol-return{
    background: @blueColor;
    line-height: 35px;
}
#tol-traderoom-layout-3 .ticks .tol-return,
#tol-traderoom-layout-3 .advanced .tol-return,
#tol-traderoom-layout-3 .forex .tol-return {
    padding-left: 10px;
}
#tol-traderoom-layout-3 .btn-primary.widgetButtonAlpha,
#tol-traderoom-layout-3 .btn-primary.widgetButtonBeta,
#tol-traderoom-layout-3 .tol-tradebox .btn-primary,
#tol-traderoom-layout-3 .tol-investAmount-nav{
    color:@whiteColor;
    text-transform: uppercase;
}
#tol-traderoom-layout-3 .btn-primary.widgetButtonAlpha {
    border-top: 1px solid @lightGreen;
    border-bottom: 1px solid @darkGreen;
    box-shadow: 0 0 0 0;
}
#tol-traderoom-layout-3 .btn-primary.widgetButtonAlpha:hover,
#tol-traderoom-layout-3 .btn-primary.widgetButtonAlpha.isClicked{
    background: @darkGreen;
    border-top: 1px solid @darkGreen;
    border-bottom: 1px solid @lightGreen;
}
#tol-traderoom-layout-3 .btn-primary.widgetButtonBeta {
    border-top: 1px solid @pinkColor;
    border-bottom: 1px solid @darkRed;
    box-shadow: 0 0 0 0;
}
#tol-traderoom-layout-3  .btn-primary.widgetButtonBeta:hover,
#tol-traderoom-layout-3 .btn-primary.widgetButtonBeta.isClicked{
    background: @darkRed;
    border-top: 1px solid @darkRed;
    border-bottom: 1px solid @pinkColor;
}
#tol-traderoom-layout-3 .btn-primary[value="Buy"]{
    background-color:  @blueColor;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid @lightBlue;
    border-bottom: 1px solid @darkBlue;
}

#tol-traderoom-layout-3 .btn-primary[value="Buy"]:hover {
    background: @colorGrey;
    border: 1px solid @colorGrey;
}
#tol-traderoom-layout-3 .tol-custom-popup .dropdown-toggle[aria-expanded="false"] .glyphicon{
    color: @whiteColor;
}
#tol-traderoom-layout-3 .tol-custom-popup .dropdown-toggle[aria-expanded="true"] .glyphicon{
    color: @mainBgMenu;
}
#tol-traderoom-layout-3 .tol-custom-popup .dropdown-toggle{
    background: @mainBgMenu;
    border: 1px solid @whiteColor;
    width: 46px;
    padding: 8px 0px;
    text-indent: -5px;
}
#tol-traderoom-layout-3 .tol-custom-popup .dropdown-toggle[aria-expanded="true"]{
    background:@whiteColor;
    border: 1px solid @mainBgMenu;
}

#tol-traderoom-layout-3 .tol-opentrades #closeTradesOptionsWrap{
    background:  @blueColor;
    padding: 6px;
    color: @whiteColor;
}
#tol-traderoom-layout-3 .tol-opentrades #closeTradesOptionsWrap .tol-search-btn{
    background-color: transparent;
    background-image: none;
    border: 1px solid @whiteColor;
    color: @whiteColor;
    border-radius: 3px;
    padding:4px 12px;
}
#tol-traderoom-layout-3 .navbar-inverse .navbar-nav > .active > a,
#tol-traderoom-layout-3 .tol-opentrades-table .toolsHeader .activeTab{
    background-color:  @blueColor;
}

#tol-traderoom-layout-3 .tol-opentrades-table .table-responsive .tradeTools{
    background: @whiteColor !important;
    border: 1px solid @anotherGrey;
}
#tol-traderoom-layout-3 .tol-opentrades-table .table-responsive .tradeTools td{
    padding: 0
}
#tol-traderoom-layout-3 .tol-opentrades-table .tradeTools .headerMenu{
    background: @mainBgMenu;
    color: @whiteColor;
}
#tol-traderoom-layout-3 .tol-opentrades-table .tradingToolsCancel{
    top: 9px;
}
#tol-traderoom-layout-3 .tol-opentrades-table .highcharts-background{
    fill: @whiteColor;
}
#tol-traderoom-layout-3 .tol-opentrades-table .tradeTools .chartContainer .chart{
    border: 1px solid @colorGrey;
}
#tol-traderoom-layout-3 .tol-opentrades-table .extendToSelectWrapper,
#tol-traderoom-layout-3 .tol-opentrades-table .extendCostAmount{
    border: 1px solid @colorGrey;
    background-image: none;
}

#tol-traderoom-layout-3 .tol-opentrades-table .extendToSelectWrapper:after {
    content: '';
    display: block;
    position: absolute;
    right: 8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid @blackColor;
}
#tol-traderoom-layout-3 .tol-opentrades-table .extendCostAmount,
#tol-traderoom-layout-3 .tol-opentrades-table .closeContainer .closeValue,
#tol-traderoom-layout-3 .tol-opentrades-table .doubleValue,
#tol-traderoom-layout-3 .tol-opentrades-table .insuranceValue{
    margin-top: 0;
}
.tol-tradebox.text-center {
    padding: 0 10px;
}
.tol-invest-time-shell {
    padding: 8px 0;
}
.tol-subject-selector:hover, .tol-subject-selector.tol-subject-selected {
    color: @blueColor;
}

.game-btn-box.active {
    border: 0;
    background: @blueColor;
    border-radius: 3px;
}

.games-header-box {
    border-bottom: 2px solid @blueColor;
    background: @blackColor;
    padding: 6px;
}
.game-btn-box {
    padding: 5px 15px;
}
.game-btn-box span {
    color: @whiteColor;
}
.assets-column-header {
    color: @blackColor;
    box-shadow: none;
    background-color: @lightGrey;
    border-bottom: 2px solid @anotherGrey;
    font-size: 1em;
}

#tol-assetsContainer dd {
    color: @blackColor;
}
#assetDetailsPopUp {
    background-color: @whiteColor;
    width: 312px;
}
.asset-details-popup-content button {
    background: @blueColor;
    border-top: @lightBlue;
    padding: 7px 24px 6px 25px;
    border-bottom: 1px solid @darkBlue;
}
.asset-details-popup-content button:hover {
    background: @darkBlue;
}
.asset-details-popup-content {
    padding: 10px;
}
.asset-details-popup-header {
    background: @whiteColor;
    border-bottom: 0;
    padding: 10px;
}
button.close {
    color: @mildGrey;
    background: transparent;
    border: 0;
    box-shadow: none;
    top: 10px;
    right: 10px;
}
.asset-details-popup-content table thead tr td {
    background: @mainBgMenu;
    color: @whiteColor;
    font-weight: normal;
}
.asset-details-popup-header p {
    margin: 0 15px 0 0;
}
.asset-details-popup-content table tbody tr td {
    color: @blackColor;
    padding: 5px;
    border-top: 0;
}
.asset-details-popup-content table tbody tr:nth-child(odd) {
    background: @darkWhite;
}
.pageLink.activePage {
    background: @blueColor;
    border: 1px solid @blueColor;
    color: @whiteColor;
}
.pageLink, .nextPage, .prevPage, .nextPages, .prevPages {
    border-radius: 3px;
    border: 1px solid @blackColor;
    background: @whiteColor;
    color: @blackColor;
    margin-left: 10px;
}

.pageLink:hover,
.nextPage:hover,
.prevPage:hover {
    background: @blackColor;
    color: @whiteColor;
}

.tol-traderoom-time-to-invest-wrapper {
    height: 46px;
    line-height: 36px;
}

.tol-traderoom-wrapper .btn {
    padding: 9px 12px;
    font-size: 17px;
}

.tol-opentrades-table .actionButton {
    background: @whiteColor;
    text-shadow: none;
    border: 1px solid @blackColor;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 2px 6px;
}
.tol-opentrades-table .actionButton:hover {
    background: @blackColor;
    color: @whiteColor;
}
.investAmountDropDown {
    width: 100%;
}
.investAmountOption {
    padding: 2px 10px;
    text-align: left;
}
.investAmountOption:hover {
    background-color: @darkGrey
}
#tol-traderoom-layout-3 .navigationContainer {
    background: url('/wp-content/themes/tol-parent/images/graph-black.png') no-repeat;
    padding-left: 38px;
}
.chartNavigation:disabled {
    background: url('/wp-content/themes/tol-parent/images/check-black.png') 95px no-repeat;
}
.turboBinary .navigationContainer {
    top: 10px;
}

#tol-traderoom-layout-3 .turboBinary .chartV2Wrapper {
    padding-top: 20px;
}

.turboChart {
    background: @whiteColor;
    color: @blackColor;
    padding: 0;
    border: 1px solid @anotherGrey;
    border-radius: 3px;
}

.turboSliderButton.inactive {
    background-color: @lightGrey;
}
.turboSliderButton.leftButton {
    background: url('/wp-content/themes/tol-parent/images/left_arrow_openTrades.png') @lightGrey no-repeat 4px 26px;
}

.turboBoxSection.isTurboSlider {
    margin-top: 6px;
}

.turboSliderButton.rightButton {
    right: 0px;
    background: url('/wp-content/themes/tol-parent/images/right_arrow_openTrades.png') @lightGrey no-repeat 4px 26px;
}

.turboTime {
    background: url('/wp-content/themes/tol-parent/images/clock-white.png') no-repeat 5px;
}

.isNA {
    background: @simpleGrey;
    border-bottom-color:@mildGrey;
}
.isWin {
    background-image: -moz-linear-gradient(90deg, #41b464 0%, #50c373 100%);
    background-image: -webkit-linear-gradient(90deg, #41b464 0%, #50c373 100%);
    background-image: -ms-linear-gradient(90deg, #41b464 0%, #50c373 100%);
    border-bottom-color:@greenColor;
}
.isLose {
    background-image: -moz-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
    background-image: -webkit-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
    background-image: -ms-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
    border-bottom-color: @redColor;
}
.ui-dialog .ui-dialog-titlebar {
    background: @mainBgMenu;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.ui-dialog.ui-widget-content {
    padding: 0;
}
.popUpTitle {
    font-weight: bold;
}
#closePopUp, #closeAllPopUp {
    background: @whiteColor;
    border: 1px solid @blackColor;
    border-radius: 3px;
}
#nextPopUp, .tradingToolsExecute {
    background: @blueColor;
    color: @whiteColor;
    border-top: 1px solid @lightBlue;
    border-bottom: 1px solid @darkBlue;
    border-radius: 3px;
    cursor: pointer;
}
.tradingToolsExecute {
    width: 86px;
}
.tradingToolsExecute:hover {
    font-size: 1em;
    color: @blackColor;
}
.buttonAlphaWrapper.clearfix:before {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    right: 25%;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 7px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    color: @whiteColor;
    z-index: 1;
}
.touch .buttonAlphaWrapper.clearfix:before {
    top: 38%;
    right: 20%;
}
.turboBinary .buttonAlphaWrapper.clearfix:before {
    top: 50%;
    right: 20%;
}
.ticks .buttonAlphaWrapper.clearfix:before {
    top: 44%;
    right: 20%;
}
.buttonBetaWrapper.clearfix:before {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 30%;
    right: 25%;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 7px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    color: @whiteColor;
    z-index: 1;
}
.touch .buttonBetaWrapper.clearfix:before {
    bottom: 51%;
    right: 15%;
}
.oneTouch .buttonBetaWrapper.clearfix:before {
    bottom: 35%;
    right: 20%;
}
.turboBinary .buttonBetaWrapper.clearfix:before {
    top: 50%;
    right: 20%;
}
.ticks .buttonBetaWrapper.clearfix:before {
    bottom: 41%;
}
.ui-dialog.ui-widget-content.tol-tradingtools-dialog {
    width: 410px  !important;
    height: 230px  !important;
    border: 1px solid @anotherGrey;
}
.ui-dialog.tol-tradingtools-dialog .ui-dialog-title {
    display: none;
}
.ui-dialog.tol-tradingtools-dialog .ui-dialog-titlebar {
    height: 41px;
}
.tradeTools .headerMenu {
    margin-top: -41px;
    color: @whiteColor;
}
.browser-firefox .tradeTools .headerMenu {
    margin-top: 0;
}
.browser-msie .tradeTools .headerMenu{
    margin-top: 0;
    height: 40px;
}
.toolsHeader .activeTab {
    background: @blueColor;
}
.tradingToolsCancel {
    top: 5px;
    right: 5px;
}
.headerExtend, .headerClose, .headerDouble, .headerInsurance {
    font-weight: normal;
}
.tradeTools .chartContainer .chart {
    height: 168px !important;
    width: 292px !important;
    border: 1px solid @lightGrey;
    border-radius: 3px;
}
.tradeTools .chartContainer .chart .oldChart {
    width: 300px !important;
}
.extendCost {
    width: 86px;
}
.extendContainer, .closeContainer, .doubleContainer, .insuranceContainer {
    font-weight: normal;
    width: 86px;
}
.extendToSelectWrapper {
    background: url('/wp-content/themes/tol-parent/images/arrowDark.png') 63px no-repeat;
    border: 1px solid @blackColor;
    width: 86px;
}
.extendToSelect {
    background: transparent;
}
.turboChart .turboStrike, .turboChart .turboAmount, .turboChart .turboReturn {
    color: @blackColor;
}
#expireTurbo-tradologic {
    padding: 7px 0;
}
.headerExtend.disabled, .headerClose.disabled, .headerDouble.disabled, .headerInsurance.disabled {
    color: @lightBlack;
    background: rgba(153, 153, 153, 0.4);
}
@media (max-width: 768px) {
    .tol-traderoom-time-to-invest-wrapper {
        margin-left: 0;
        text-align: right;
    }
    #tol-traderoom-layout-3 .tol-return {
        font-size: 14px;
    }
    #tol-traderoom-layout-3 .tol-invest-time-label {
        font-size: 12px;
    }
    #tol-traderoom-layout-3 .tol-assets-table {
        max-height: 300px;
        min-height: 300px;
    }
    .tol-asset-table-wrapper {
        padding: 0 !important;
    }
    .chartNavigationPeriod {
        width: 36px;
        font-size: 10px;
    }
    #tol-traderoom-layout-3 .btn-primary.widgetButtonAlpha,
    #tol-traderoom-layout-3 .btn-primary.widgetButtonBeta,
    .tol-investAmount-nav {
        width: 100% !important;
    }
    .our-rate-text, .our-rate-value {
        text-align: center !important;
    }
}
@media (max-width: 1200px) {
    .buttonBetaWrapper.clearfix:before {
        right: 22%;
    }
    .buttonAlphaWrapper.clearfix:before {
        right: 20%;
    }
    .turboBinary .buttonBetaWrapper.clearfix:before {
        right: 12%;
    }
    .turboBinary .buttonAlphaWrapper.clearfix:before {
        right: 12%;
    }
}
@media (max-width: 1000px) {
    .buttonBetaWrapper.clearfix:before {
        display: none;
    }
    .buttonAlphaWrapper.clearfix:before {
        display: none;
    }
}

//SIGNALS
.signalsWidget .tableRowDiv:nth-child(odd) {
    border-right: 0;
    background: @whiteColor;
}
.signalsWidget .tableRowDiv:nth-child(even) {
    background: @darkWhite;
}
.signalsWidget .tableHeaderDiv > div {
    color: @darkGrey;
    background: @lightGrey url('/wp-content/themes/tol-parent/images/separator-light.png') no-repeat right top;
    vertical-align: bottom;
    border-top: 0;
    border-bottom: 2px solid @anotherGrey;
    padding: 8px;
    line-height: 1.428571429;
    font-size: 0.9em;
    font-weight: 500;
    text-align: left;
    display: table-cell;
    width: 17%;
}
.columnAsset, .columnValidity, .columnExpiryTime, .columnPayout, .columnSignal, .columnStrength, .columnAmount, .columnTrade {
    display: table-cell;
    padding: 8px;
    line-height: 1.428571429;
    text-align: left;
    width: 17%;
}
.signalsWidget .tableHeaderDiv > div.validityHeader, .columnValidity,
.signalsWidget .tableHeaderDiv > div.payoutHeader, .columnPayout {
    width: 8%;
}
.signalsWidget .tableHeaderDiv > div.signalHeader, .columnSignal {
    width: 10%;
}
.signalsWidget .tableHeaderDiv > div.strengthHeader, .columnStrength {
    width: 20%;
}
.signalStrength.percWrap {
    background-image: url('/wp-content/themes/tol-parent/images/signal_strength_full.png');
    background-repeat: no-repeat;
    width: 126px;
    height: 20px;
    position: absolute;
    margin-top: 3px;
}
.signalStrength.percInner {
    display: block;
    height: 20px;
    background-image: url('/wp-content/themes/tol-parent/images/signal_strength.png');
    background-repeat: no-repeat;
}

.signalsWidget .tableBodyDiv div.columnAsset .asset {
    overflow:hidden;
}
.signalsNoOptions {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(42,42,42,0.5);
    z-index: 98;
}
.signalsNoOptions span {
    display: block;
    padding-top: 12%;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}
.signalAmount {
    width: 90%;
    padding-left: 4px;
}
.signalsWidget .trade input[type=button] {
    display:inline-block;
    width: 37px;
    height:26px;
    border:0;
    text-decoration:none;
    text-transform: uppercase;
    color: @whiteColor;
    border-radius: 3px;
    background-color:  @blueColor;
    border-top: 1px solid @lightBlue;
    border-bottom: 1px solid @darkBlue;
}
.signalsWidget .trade input[type=button]:disabled {
    background: @signalsDisabledBlack;
    color: @mildGrey;
    border-top: 1px solid @signalsDisabledBlack;
    border-bottom: 1px solid @signalsDisabledBlack;
}
.signalsWidget .signalHeader {
    width: 50px;
}
.signalsWidget .strengthHeader {
    width: 130px;
}
.signalsWidget .ditectionDiv {
    position: relative;
    width: 50px;
    padding: 0 3px;
    text-indent: 14px;
}
.signalsWidget .signalDown {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid @redColor;
    left: 3px;
    top: 42%;
}
.signalsWidget .signalUp {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid @greenColor;
    left: 3px;
    top: 42%;
}
.signalsUserClasses {
    width:619px;
    height:309px;
    background:url('/wp-content/themes/tol-parent/images/signalsUserClasses.jpg')
}
.signalsUserClasses span {
    margin: 20px auto;
    font-size: 14px;
    text-align: center;
    position: absolute;
    width: 100%;
}

.signalsUserClasses .buttons-wrapper
{
    top:auto;
    bottom:0;
    right:20px;
}
/* =================== End of the Trading Signals =====================*/

.p20 {
    padding: 10px;
}
.clear {
    clear: both;
}
#tol-traderoom-layout-3 #chartTicksTrade,
#tol-traderoom-layout-3 #chartTicksTrade .highcharts-container,
#tol-traderoom-layout-3 #chartTicksTrade .highcharts-container > svg {
    height: 300px;
    max-height: 300px;
}
.ticks .tol-tradebox-right .btn-primary {
    margin: 67px 0 0;
}
.payout-return-wrapper {
    margin-top: 15px;
}
#ticksTradeExpiryResultWin {
    width: 100%;
}

/* FOREX GAME START */
.durationButtons {
    display: inline-block;
}
.fl,
.sliderExpire div,
.forexVolumeAmount div,
.forexButtonsAndRate div,
.ourRateDiv div,
.profitContainer {
    float: left;
}
.returnOnLossContainer {
    float: right;
}
.profitContainer div,
.returnOnLossContainer div {
    display: inline-block;
}
.forexButtonsAndRate div a {
    display: block;
    height: 50px;
    width: 100px;
    margin: 0;
    padding: 2px;
    text-align: center;
}
.clear {
    clear: both;
}
.tradeAreaWrapper div {
    padding: 2px;
}
.ourRateDiv {
    padding: 3px;
}
.forexVolumeAmount .amountDLL select {
    width: 150px;
}
.expireDDLWrapper div {
    /*margin: 0px;
    padding: 0px;*/
}
.textColor,
.textColor span input {
    color: @yellowColor;
}
.widgetforexDurationButton input {
    color: @yellowColor;
    background-color: @mildGrey;
    border: @yellowColor solid 1px;
    padding: 5px;
}
.widgetforexDurationButton [selected="selected"] {
    color: @mildGrey;
    background-color: @yellowColor;
    border: @mildGrey solid 1px;
}
.forex .durationSlider {
    width: 140px;
}
.forexDurationDatePicker,
.forexDurationDatePicker input {
    width: 50%;
}
.SelectedLongTermExpiryTime,
.SelectedLongTermExpiryTime span {
    margin: 5px !important;
}
.spanExpiry,
.spanExpiry span,
.spanExpiry div {
    float: left !important;
    margin-left: 7px !important;
    margin-top: 5px;

}
.payoutProfit,
.payoutProfit div {
    float: left !important;
    margin: 5px !important;
    padding-right:3px;
}
.returnOnLossProfit,
.returnOnLossProfit div {
    margin-left: 5px;
}
.chartv2Widget {
    width: 500px;
    display: inline-block;
    padding-top: 50px;
    padding-left: 10px;
}
.p20 {
    padding: 10px;
}
#forexTraidMain .sellTab.activeTab {
    border-top: 2px solid @mildGrey;
    border-left: 2px solid @mildGrey;
}
#forexTraidMain .buyTab.activeTab {
    border-top: 2px solid @mildGrey;
}
#forexTraidMain .rowWrapper .row {
    border-left: 2px solid @mildGrey;
    background: @darkGrey;
    font-family: 'robotoregular';
    text-align: center;
    height: 115px;
}
#forexTraidMain .rowWrapper .row:nth-child(2){
    padding-top: 35px;
}
.buySell {
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    display: inline-block;
    border-right: 2px solid @signalsDisabledBlack;
    padding-right: 10px;
}
.buySellStrike {
    display: inline-block;
    padding-left: 5px;
}
.buySellStrike span.uppercase:nth-child(1) {
    font-size: 10px !important;
}
.left, .center, .right {
    float: left;
    width: 31.65%;
    padding: 5px;
    height: 50px;
}
.first, .second, .third, .fourth {
    float: left;
    width: 24%;
    padding: 5px;
    height: 60px;
    background: @mildGrey;
    color: @whiteColor;
}
.first {
    margin-left: 2%;
}
.values {
    font-size: 30px;
    position: relative;
    top: -9px;
}
.labelsText {
    font-size: 13px;
    color: white;
    width: 100%;
    padding: 0 0 7px 0;
}
.ui-dialog[aria-describedby=forexTradePopup] {
    z-index: 101;
    color: @whiteColor;
}
.ui-dialog[aria-describedby=forexTradePopup] .inner {
    color: @whiteColor;
}
.ui-dialog[aria-describedby=forexTradePopup] .ui-dialog-title {
    display: none;
}
.ui-dialog[aria-describedby=forexTradePopup] .ui-widget-header {
    height: 40px;
    border: 0;
}
#txtinvestInUsd, #txttakeProfitInUsd {
    background: @signalsDisabledBlack;
    border: 0;
    color: @whiteColor;
    font-size: 22px;
    font-family: 'robotoregular';
}
#forexTraidMain .rowWrapper {
    background: @mildGrey;
}
#forexTraidMain .rowWrapper div[align=center] {
    border-top: 1px solid @mildGrey;
    margin-top: 15px;
}
#forexTraidMain .row {
    margin: 0;
}
#forexTraidMain .buySell {
    font-family: 'robotoregular';
    font-weight: normal;
}
#forexTraidMain .customSelect {
    color: @whiteColor;
    font-size: 22px;
}
#forexTraidMain select.hasCustomSelect {
    left: 33px;
}

#forexTraidMain select.hasCustomSelect option {
    background: @mildGrey;
    color: @whiteColor;
}
#forexTradePopup {
    border: 0;
}
#forexTraidMain .buttonTradeDiv {
    display: inline-block;
    width: 25%;
    background-color:  @blueColor;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid @lightBlue;
    border-bottom: 1px solid @darkBlue;
    text-decoration: none;
    color: @whiteColor;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    border-radius: 2px;
    margin: 10px;
    height: 50px;
}
.advancedVolumeAmount .amountDLL select {
    width: 150px;
}
.forexTradeDiv {
    width: 650px;
    height: 398px !important;
    max-height: 400px !important;
    background: @simpleGrey !important;
    display: none;
    padding: 5px;
}
.assetNameDiv {
    background: @blackColor;
    color: @anotherGrey;
    font-size: 20px;
    height: 35px;
    padding: 5px;
}
.buyTab {
    float: left;
    width: 48.4%;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    margin-top: 10px;
    background-color: @simpleGrey;
}
.sellTab {
    float: left;
    width: 47.3%;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: @simpleGrey;
}
.rowWrapper {
    background: @simpleGrey;
    padding: 10px;
}
.pageLoader {
    position: absolute;
    top: 0;
    bottom: 0%;
    left: 0;
    right: 0%;
    background-color: @signalsDisabledBlack;
    z-index: 99;
    opacity: 0.6;
}
.loadingElements {
    margin-top: 130px !important;
}
.loadingElementTexts {
    padding-top: 50px !important;
}
.inner {
    margin: 0 auto;
    position: relative;
    text-align: center;
    background-color: #3E4146;
}
.inner .row {
    width: 66%;
    margin: 0 auto;
}
.buttonClose {
    width: 90px;
    height: 35px;
    color: @whiteColor;
    background: @simpleGrey;
    font-size: 16px;
    border: 1px solid @darkGrey;
    margin-top: 10px;
    margin-bottom: 15px;
}
.successMsg {
    display: inline-block;
    width: 48%;
    padding: 5px;
    height: auto;
    vertical-align: top;
}
.successMsg span {
    display: block;
}
.inner .row .successMsg:nth-child(1) {
    text-align: left;
}
.inner .row .successMsg:nth-child(2) {
    text-align: right;
}
.txtMsg {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #262626;
    border-bottom: 1px solid @blackColor;
}
.uppercase {
    text-transform: uppercase;
}
.widgetButtonForexTrade {
    font-size: 14px;
    text-decoration: none;
    color: @whiteColor;
    width: 90%;
    height: 35px;
    padding: 0;
    border: 0;
    border-radius: 0 !important;
    line-height: 35px;
    background: @darkGrey;
}
.widgetButtonForexTrade:hover {
    background-position: 0;
    background: @simpleGrey;
}
.forexCloseButton {
    color: @mainBackground;
    background: url('/wp-content/themes/tol-parent/images/turbo-button.png');
    width: 45px;
    height: 25px;
    border: 0;
    cursor: pointer;
    line-height: 15px;
    border-radius: 0 !important;
}
.tradesTable.forex .myTradesOptionsAssetsDDL .customSelectInner {
    width:178px !important;
}
.tol-game1 .container {
    position:relative;
}
.forex .table > tbody > tr > td.assetName {
    line-height: 2.8em;
}
#loadingElementForex {
    width: 133px;
    height: 132px;
    background: url('/wp-content/themes/tol-parent/images/forex_anim.gif') no-repeat center top;
    text-align: center;
    margin: 0 auto;
}
#loadingElementCashier {
    height: 70% ;
}
.tol-closedtrades-table {
    overflow-y: hidden;
}
.advanced .durationButtons {
    display: inline-block;
    font-size: 0.8em;
    padding: 4px 8.2px;
}
.slider-payout {
    width: 50%;
    float: left;
    margin-top: 4px;
    margin-left: 4px;
}
.widgetAdvancedDurationButton [selected="selected"] {
    color: @whiteColor;
    background-color: @mildGrey;
}
#tol-traderoom-layout-3 .durationSlider {
    margin-left: 7px;
    margin-top: 20.5px;
}
#payout-return-holder .payoutDesc {
    margin-left: -17px;
}
#tol-traderoom-layout-3 .hasDatepicker.advancedDurationDatePicker {
    border: 1px solid @lightGrey;
    border-radius: 3px;
    color: @darkGrey;
    background-image: -moz-linear-gradient(90deg, #e3e3e3 0%, #fdfdfd 100%);
    background-image: -webkit-linear-gradient(90deg, #e3e3e3 0%, #fdfdfd 100%);
    background-image: -ms-linear-gradient(90deg, #e3e3e3 0%, #fdfdfd 100%);
    box-shadow: 0px 2px 0px 0px rgba(221, 221, 221, 0.004);
    min-height: 30px;
    padding: 3px 5px;
    line-height: 1.428571429;
    margin-top: 27px;
    width: 100%;
}
#tol-traderoom-layout-3 .advanced .tol-rate-label {
    margin: 50px 0 52px 0;
}
#tol-traderoom-layout-3 .tol-game-nav .navbar-inverse {
    background: @blackColor !important;
}
#tol-traderoom-layout-3 .tol-opentrades .nav > li > a {
    color: @whiteColor;
}
#tol-traderoom-layout-3 .navigationContainerPeriod {
    background: transparent;
    z-index: 1;
}

#tol-traderoom-layout-3 .tol-asset-table-wrapper .tol-assets-table .mCSB_container{
    margin-right: 0;
}

#tol-traderoom-layout-3 .tol-assets-table .select-expire-wrapper select.expire-select{
    width: 100px;
}
//CySec 3seconds to cancel trade
.countdown-wrapper {
    margin: 10px 0 0 0;
}
.countdown-timer {
    width:50px;
    height:50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    color: #21B24B;
    display: block;
    margin: 0 auto;
    background: url('/wp-content/themes/tol-parent/images/385.gif') no-repeat center;
}
#tol-traderoom-layout-3 .form-group.current-date-time span {
    line-height: 1.9;
}
.help-info-icon {
    display: none;
}
.cysecregulated {
    .digital .tol-rate-label .input-lg,
    .range .tol-rate-label .input-lg,
    .touch .tol-rate-label .input-lg,
    .turboBinary .tol-rate-label .input-lg,
    .oneTouch .tol-rate-label .input-lg,
    .advanced .tol-rate-label .input-lg,
    .ticks .tol-rate-label .input-lg {
        padding: 10px 0;
        height: 60px;
    }
    .our-rate-text {
        margin-bottom: 10px;
    }
    .tol-tradebox-left .tol-rate-label,
    .tol-tradebox-left .widgetRateAlpha {
        padding: 0;
    }
    .ask-bid-wrapper, .rate-last-part {
        font-size: 12px;
        text-transform: uppercase;
        width: 100%;
        position: absolute;
        margin-top: 6px;
        left: -32%;
    }
    .rate-last-part {
        margin-top: 3px;
    }
    .rate-bid-title {
        color: #EA433B;
    }
    .rate-ask-title {
        color: #21B34E;
    }
    .touchrateAlpha {
        margin-top: -5px;
    }
    .help-info-icon {
        display: inline-block;
        background: url('/wp-content/themes/tol-parent/images/info-icon.png') no-repeat center;
        width: 18px;
        height: 18px;
        margin-left: 10px;
        position: relative;
        top: 3px;
    }
    .help-info-icon:hover {
        cursor: pointer;
    }
    .rate-info-wrapper {
        display: none;
    }
    .help-info-icon:hover .rate-info-wrapper {
        display: block;
        border: 1px solid #B4C5B5;
        min-width: 200px;
        position: absolute;
        left: -123px;
        top: -80px;
        height: 70px;
        padding: 0 10px;
        border-radius: 5px;
        text-align: left;
        z-index: 9;
        background: #FFF;
        color: #000;
        font-size: 12px;
    }
    .rate-info-wrapper:before {
        display: block;
        width: 18px;
        height: 9px;
        top: 68px;
        position: relative;
        right: -112px;
    }
}