/* Mixin */
.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
    background-repeat: repeat-x;
}

@nav-tabs-border-bottom: #3788c5;
@nav-tabs-border-bgcolor: #ffffff;
@open-trades-tab-bgcolor: #333333;
@buttons-color: #ffffff;
@buttons-shadow: #3a76b5;
@no-options-bg: rgba(255, 255, 255, 0.8);
@header-disabled-clr:#404040;
@header-disabled-bg:rgba(153, 153, 153, 0.4);

#tol-traderoom-layout-7 .btn-primary {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #ffc543 0%, #ffb510 100%);
    background-image: -o-linear-gradient(top, #ffc543 0%, #ffb510 100%);
    background-image: linear-gradient(to bottom, #ffc543 0%, #ffb510 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTsform.Microsoft.gradient(startColorstr='#ffffc543', endColorstr='#ffffb510', GradientType=0);
    border: none;
    border-bottom: 1px solid #ffb000;
    text-shadow: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
    border-radius: 3px;
}

#tol-traderoom-layout-7 .advanced .btn-primary {
    margin: 50px 0 0;
}
#tol-traderoom-layout-7 .btn-primary:hover,
#tol-traderoom-layout-7 .btn-primary:focus,
#tol-traderoom-layout-7 .btn-primary:active,
#tol-traderoom-layout-7 .btn-primary.active {
    background-image: -webkit-linear-gradient(top, #ffbd29 0%, #f5a900 100%);
    background-image: -o-linear-gradient(top, #ffbd29 0%, #f5a900 100%);
    background-image: linear-gradient(to bottom, #ffbd29 0%, #f5a900 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffbd29', endColorstr='#fff5a900', GradientType=0);
    border: none;
    border-bottom: 1px solid #dc9800;
    color: #333;
}
#tol-traderoom-layout-7 .btn-primary.disabled,
#tol-traderoom-layout-7 .btn-primary[disabled],
#tol-traderoom-layout-7 fieldset[disabled] .btn-primary,
#tol-traderoom-layout-7 .btn-primary.disabled:hover,
#tol-traderoom-layout-7 .btn-primary[disabled]:hover,
#tol-traderoom-layout-7 fieldset[disabled] .btn-primary:hover,
#tol-traderoom-layout-7 .btn-primary.disabled:focus,
#tol-traderoom-layout-7 .btn-primary[disabled]:focus,
#tol-traderoom-layout-7 fieldset[disabled] .btn-primary:focus,
#tol-traderoom-layout-7 .btn-primary.disabled:active,
#tol-traderoom-layout-7 .btn-primary[disabled]:active,
#tol-traderoom-layout-7 fieldset[disabled] .btn-primary:active,
#tol-traderoom-layout-7 .btn-primary.disabled.active,
#tol-traderoom-layout-7 .btn-primary[disabled].active,
#tol-traderoom-layout-7 fieldset[disabled] .btn-primary.active {
    background-color: #ffbd29;
    border-color: #ffb510;
}
.well {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px none #000;
    border-bottom: 2px solid #d4d8d9;
}
#tol-traderoom-layout-7 #gamemenu{
    padding:0;
}
.nav-tabs {
    background: @nav-tabs-border-bgcolor;
}
.nav-tabs > li > a {
    .gradient(top, #dfdfdf, #c8c8c8);
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px none transparent;
    border-radius: 3px 3px 0 0;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
    font-weight: 500;
}
.nav-tabs > li {
    border: 0;
}
.tol-opentrades .nav > li > a {
    color: @open-trades-tab-bgcolor;
}
.tol-opentrades .nav > li.active > a {
    color: #fff;
    padding-top: 13px;
    margin-top: 0;
    border: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    .gradient(top, #5298d6, #378ac7);
    color: #fff;
    border: 1px none #777777;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    border-bottom-color: transparent;
    cursor: default;
}
.tol-well {
    background-image: -moz-linear-gradient( 90deg, #2c75aa 0%, #3c90cd 100%);
    background-image: -webkit-linear-gradient( 90deg, #2c75aa 0%, #3c90cd 100%);
    background-image: -ms-linear-gradient( 90deg, #2c75aa 0%, #3c90cd 100%);
    padding: 6px;
    min-height: 42px;
    /*margin-bottom:10px;*/

    color: #fff;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.tol-well:before,
.tol-well:after {
    clear: both;
    display: table;
    content: " ";
}
.tol-well label {
    padding: 3px 0
}
.tol-well-connected {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, #3a7ab4 0%, #3788c4 100%);
    background-image: -webkit-linear-gradient( 90deg, #3a7ab4 0%, #3788c4 100%);
    background-image: -ms-linear-gradient( 90deg, #3a7ab4 0%, #3788c4 100%);
    margin-bottom: 15px;
}
.tol-well .nav-pills>li>a {
    position: relative;
    display: block;
    padding: 3px 12px;
    color: #fff
}
.tol-well .nav-pills > li.active > a,
.tol-well .nav-pills > li.active > a:hover,
.tol-well .nav-pills > li.active > a:focus {
    color: #2b7db8;
    background-color: #fff;
}
.divAsstFilterMain div {
    position: relative;
    display: block;
    padding: 3px 12px;
    float: left;
    cursor: pointer;
}
.divAsstFilterMain div.selected {
    color: #2b7db8;
    background-color: #ffffff;
    border-radius: 4px;
}
//Trader Insight START
.traderInsight .assetRow {
    height: 10px;
    text-align: left;
    position: relative;
    background-color: #4cbf6f;
    border-radius: 5px;
    margin-bottom: 28px;
}
.traderInsight .assetName {
    color: #333;
    font-size: 1em;
    padding-bottom: 5px;
    position: relative;
    top: -45px;
    text-align: center;
}
.traderInsight .assetRow .above {
    font-size: 1em;
    color: #333;
    border-radius: 5px;
}
.traderInsight .assetRow .below {
    display: inline-block;
    position: absolute;
    right: 0;
    text-align: right;
    font-size: 1em;
    color: #333;
    background: #e43b36;
    height: 16px;
    overflow: visible !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 0px;
}
 .traderInsight .assetRow .below .percent {
    position: relative;
    top: -18px;
}
.traderInsight .assetRow .above .percent {
    position: relative;
    top: -25px;
}
.traderInsight {
    position: relative;
    top: 30px;
}
.tol-trader-insight-head {
    padding: 7px 7px 6px 7px;
    background: #D7D5D5;
    margin-bottom: -14px;
    font-weight: 500;
}
#tol-traderoom-layout-7 .tol-well.tol-trader-insight-header {
    padding-top: 14px;
    font-weight: 500;
    height: 46px;
}


//edge browser
/*    position: absolute;
    top: 0px;*/




.tol-trader-insight .well {
    padding: 33px 3px 19px;
}
//Trader Insight END
//Open and Closed Trades
#tol-traderoom-layout-7 .tol-opentrades #closeTradesOptionsWrap {
    background: #3788c5;
    padding: 6px;
    color: #fff;
}
#tol-traderoom-layout-7 #closeTradesOptionsWrap label, #tol-traderoom-layout-7 .myTradesInfoLabel {
    margin: 0 5px 0 15px;
}
#tol-traderoom-layout-7 #closeTradesDDLWrap {
    display: inline-block;
    width: 18%;
    
}
.browser-msie #tol-traderoom-layout-7 #closeTradesDDLWrap {
    position: relative;
    top: 10px;
}
#tol-traderoom-layout-7 .hasDatepicker {
    width: 17.5%;
    display: inline-block;
}
#tol-traderoom-layout-7 .advanced .hasDatepicker{
        width: 100%;
}
.SelectedLongTermExpiryTime,
.SelectedLongTermExpiryTime span {
    float: right;
    margin-top: -24px;
    z-index: 2;
    position: relative;
    margin-right: 5px;
}
#tol-traderoom-layout-7 .myTradesInfo {
    margin: 10px 0;
}
#tol-traderoom-layout-7 #closeTradesOptionsWrap label:first-child, #tol-traderoom-layout-7 .myTradesInfoLabel:first-child {
    margin-left: 0;
}
//End Open and Closed Trades
.tol-traderoom .btn-default {
    .gradient(top, #6ea4da, #3183bf);
    color: @buttons-color;
    border: none;
    border-bottom: 1px solid #2e7bb2;
    text-shadow: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 @buttons-shadow;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 @buttons-shadow;
    border-radius: 3px;
    cursor: pointer;
}
.tol-traderoom .btn-silver {
    color: #333333;
    border-style: solid;
    border-width: 1px;
    border-color: #dcdcdc;
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(227, 227, 227) 0%, rgb(253, 253, 253) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(227, 227, 227) 0%, rgb(253, 253, 253) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(227, 227, 227) 0%, rgb(253, 253, 253) 100%);
    box-shadow: 0px 2px 0px 0px rgba(221, 221, 221, 0.004);
    cursor: pointer;
}
.turboSliderButton.inactive {
    background-color: #d5d5d5;
}
.turboSliderButton.leftButton {
    background: url('/wp-content/themes/tol-parent/images/left_arrow_openTrades.png') #d5d5d5 no-repeat 4px 26px;
}

.turboBoxSection.isTurboSlider {
    margin-top: 6px;
}

.turboSliderButton.rightButton {
    right: 0px;
    background: url('/wp-content/themes/tol-parent/images/right_arrow_openTrades.png') #d5d5d5 no-repeat 4px 26px;
}

.turboTime {
    background: url('/wp-content/themes/tol-parent/images/clock-white.png') no-repeat 5px;
}

.isNA {
    background: #6E6E6E;
    border-bottom-color:#4B4B4B;
}
.isWin {
    background-image: -moz-linear-gradient(90deg, #41b464 0%, #50c373 100%);
    background-image: -webkit-linear-gradient(90deg, #41b464 0%, #50c373 100%);
    background-image: -ms-linear-gradient(90deg, #41b464 0%, #50c373 100%);
    border-bottom-color:#319950;
}
.isLose {
    background-image: -moz-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
    background-image: -webkit-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
    background-image: -ms-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
    border-bottom-color:#c11e1a;
}
.ui-dialog .ui-dialog-titlebar {
    background: #353535;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.ui-dialog.ui-widget-content {
    padding: 0;
}
.popUpTitle {
    font-weight: bold;
}
#closePopUp, #closeAllPopUp {
    background: #FFF;
    border: 1px solid #000;
    border-radius: 3px;
}
#nextPopUp {
    background: #1070B4;
    color: #FFF;
    border-top: 1px solid #75BAED;
    border-bottom: 1px solid #173C59;
    border-radius: 3px;
    cursor: pointer;
}
.tradingToolsExecute {
    background: #1070B4;
    color: #FFF;
    border-top: 1px solid #75BAED;
    border-bottom: 1px solid #173C59;
    border-radius: 3px;
    cursor: pointer;
}
.tradingToolsExecute {
    width: 86px;
}
.tradingToolsExecute:hover {
    font-size: 1em;
    color: #000;
}
.ui-dialog.ui-widget-content.tol-tradingtools-dialog {
    width: 410px  !important;
    height: 230px  !important;
    border: 1px solid #B2B2B2;
}
.ui-dialog.tol-tradingtools-dialog .ui-dialog-title {
    display: none;
}
.ui-dialog.tol-tradingtools-dialog .ui-dialog-titlebar {
    height: 41px;
}
.tradeTools .headerMenu {
    margin-top: -41px;
    color: #FFF;
}

.browser-firefox .tradeTools .headerMenu {
    margin-top: 0;
}
.browser-msie .tradeTools .headerMenu{
    margin-top: 0;
    height: 40px;
}
.toolsHeader .activeTab {
    background: #1070B4;
}
.tradingToolsCancel {
    top: 5px;
    right: 5px;
}
.headerExtend, .headerClose, .headerDouble, .headerInsurance {
    font-weight: normal;
}
.tradeTools .chartContainer .chart {
    height: 168px !important;
    width: 292px !important;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
}
.tradeTools .chartContainer .chart .oldChart {
    width: 300px !important;
}
.extendCost {
    width: 86px;
}
.extendContainer, .closeContainer, .doubleContainer, .insuranceContainer {
    font-weight: normal;
    width: 86px;
}
.extendToSelectWrapper {
    background: url('/wp-content/themes/tol-parent/images/arrowDark.png') 63px no-repeat;
    border: 1px solid #000;
    width: 86px;
}
.extendToSelect {
    background: transparent;
}
.turboChart .turboStrike, .turboChart .turboAmount, .turboChart .turboReturn {
    color: #000;
}
.turboChart {
    background: #FFF;
    color: #000;
    padding: 0;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
}
.tol-opentrades-table .actionButton {
    background: #FFF;
    text-shadow: none;
    border: 1px solid #000;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 2px 6px;
}
.tol-opentrades-table .actionButton:hover {
    background: #000;
    color: #FFF;
}
.closed-trades-btn {
    float: right;
    height: 29px;
    margin-left: 20px;
    width: 12%;
    text-align: center;
    font-weight: 500;
}
.tol-invest-time, .turboBinary .widgetPayout {
    background: #5a9ed8;
    border-style: none;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 4px 5px;
    border-radius: 3px;
    display: inline-block;
}
.chartWrap {
    border: 2px solid #D3D3D3;
    background: #FFF;
}
.expireTurboRuleInterval {
    box-shadow: inset 0 1px #8bb7e2, 1px 1px #3a76b5, -1px -1px #3a76b5, 1px -1px #3a76b5, -1px 1px #3a76b5;
    background: #6ea4da;
    background: -moz-linear-gradient(top, #6ea4da 5%, #5c98d5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#6ea4da), color-stop(100%,#5c98d5));
    background: -webkit-linear-gradient(top, #6ea4da 5%,#5c98d5 100%);
    background: -o-linear-gradient(top, #6ea4da 5%,#5c98d5 100%);
    background: -ms-linear-gradient(top, #6ea4da 5%,#5c98d5 100%);
    background: linear-gradient(to bottom, #6ea4da 5%,#5c98d5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ea4da', endColorstr='#5c98d5',GradientType=0 );
    width: 25px;
    height: 28px;
    border: none;
    color: #fff;
    padding: 0px;
    margin: 0px;
    line-height: 30px;
    font-size: 12px;
    margin-right: 3px;
    font-weight: bold;
    border-radius: 3px;
}
.expireTurboRuleInterval.activeRule {
    background: #fff;
    color: #297ab5;
    box-shadow: none;
    border: none;
    cursor: default;
}
.advanced_chart{
    float: left;
    width: 62px;
    margin-left: 48px !important;
    text-align: center;
    font-size: 12px;
    line-height: 13px;
}
.navigationContainerPeriod {
    display: inline-block;
    line-height: 22px;
    background: #5ea0d9;
    margin-left: 2px;
    border-radius: 2px;
    padding: 0 3px;
    position: relative;
    z-index: 1;
    left: 45px;
    width: 83%;
}
.chartV2Wrapper{
    height: 355px;
}
.chartNavigationPeriod {
    background: none;
    margin: 0;
    border: 0;
    color: white;
    font-size: 11px;
    padding: 2px 6px;
    width: 11%;
}
.chartNavigationPeriod:disabled {
    background: white;
    border-radius: 3px;
    color: #5ea0d9;
    line-height: 14px;
    height: 16px;
    width: 16%;
}
.navigationContainer li {
    display: none;
    background: #5199d6;
    height: 25px;
    width: 120px;
    z-index: 48;
    left: -40px;
    border-right: 1px solid #2b76b6;
    border-left: 1px solid #2b76b6;
}
.navigationContainer li:first-child {
    border-top: 1px solid #2b76b6;
    border-top-right-radius: 3px;
    position: relative;
}
.navigationContainer:hover li {
    top: 22px;
}
.chartNavigation {
    height: 26px;
    border: 0;
    border-top: 1px solid #84b7e2;
}
.chartNavigation:disabled {
    background-image: url('/wp-content/themes/tol-parent/images/check-white.png');
    background-repeat: no-repeat;
    background-position: 95px center;
}
#tol-traderoom-layout-7 .navigationContainer{
    background: url('/wp-content/themes/tol-parent/images/graph-blue.png');
    left: 17px;
    top: 2px;
    width: 40px;
    height: 22px;
}
#tol-traderoom-layout-7 .navigationContainer:hover{
    background-position: 0 -25px;
}
#tol-traderoom-layout-7 .btn-up {
    color: #fff;
    border-style: solid;
    border-width: 0px;
    border-color: #41b464;
    text-transform: uppercase;
    line-height: 77px;
    border-radius: 3px;
    min-height: 100px;
    background-image: -moz-linear-gradient( 90deg, #41b464 0%, #50c373 100%);
    background-image: -webkit-linear-gradient( 90deg, #41b464 0%, #50c373 100%);
    background-image: -ms-linear-gradient( 90deg, #41b464 0%, #50c373 100%);
    box-shadow: 0px 2px 0px 0px #34a155;
    margin: 0px!important;
    box-shadow: inset 0 -3px #319950, 4px 4px #d7d7d7, -4px -4px #d7d7d7, 4px -4px #d7d7d7, -4px 4px #d7d7d7;
}
#tol-traderoom-layout-7 .btn-up:hover,
#tol-traderoom-layout-7 .btn-up:focus,
#tol-traderoom-layout-7 .btn-up.focus,
#tol-traderoom-layout-7 .btn-up:active,
#tol-traderoom-layout-7 .btn-up.active,
#tol-traderoom-layout-7 .open > .dropdown-toggle.btn-up {
    border-width: 0px;
    color: #fff;
    background-image: -moz-linear-gradient( 90deg, #47b669 0%, #6ad58a 100%);
    background-image: -webkit-linear-gradient( 90deg, #47b669 0%, #6ad58a 100%);
    background-image: -ms-linear-gradient( 90deg, #47b669 0%, #6ad58a 100%);
}
#tol-traderoom-layout-7 .btn-up:active,
#tol-traderoom-layout-7 .btn-up.active,
#tol-traderoom-layout-7 .open > .dropdown-toggle.btn-up {
    background-image: none;
}
#tol-traderoom-layout-7 .btn-up:active:hover,
#tol-traderoom-layout-7 .btn-up.active:hover,
#tol-traderoom-layout-7 .open > .dropdown-toggle.btn-up:hover,
#tol-traderoom-layout-7 .btn-up:active:focus,
#tol-traderoom-layout-7 .btn-up.active:focus,
#tol-traderoom-layout-7 .open > .dropdown-toggle.btn-up:focus,
#tol-traderoom-layout-7 .btn-up:active.focus,
#tol-traderoom-layout-7 .btn-up.active.focus,
#tol-traderoom-layout-7 .open > .dropdown-toggle.btn-up.focus {
    color: #fff;
    background-color: #47b669;
    border-color: #47b669;
}
#tol-traderoom-layout-7 .btn-up.disabled,
#tol-traderoom-layout-7 .btn-up[disabled],
#tol-traderoom-layout-7 fieldset[disabled] .btn-up,
#tol-traderoom-layout-7 .btn-up.disabled:hover,
#tol-traderoom-layout-7 .btn-up[disabled]:hover,
#tol-traderoom-layout-7 fieldset[disabled] .btn-up:hover,
#tol-traderoom-layout-7 .btn-up.disabled:focus,
#tol-traderoom-layout-7 .btn-up[disabled]:focus,
#tol-traderoom-layout-7 fieldset[disabled] .btn-up:focus,
#tol-traderoom-layout-7 .btn-up.disabled.focus,
#tol-traderoom-layout-7 .btn-up[disabled].focus,
#tol-traderoom-layout-7 fieldset[disabled] .btn-up.focus,
#tol-traderoom-layout-7 .btn-up.disabled:active,
#tol-traderoom-layout-7 .btn-up[disabled]:active,
#tol-traderoom-layout-7 fieldset[disabled] .btn-up:active,
#tol-traderoom-layout-7 .btn-up.disabled.active,
#tol-traderoom-layout-7 .btn-up[disabled].active,
#tol-traderoom-layout-7 fieldset[disabled] .btn-up.active {
    background-color: #4ba3dd;
    border-color: #4ba3dd;
}
#tol-traderoom-layout-7 .btn-down {
    color: #fff;
    border-style: solid;
    border-width: 0px;
    border-color: #41b464;
    text-transform: uppercase;
    line-height: 77px;
    border-radius: 3px;
    min-height: 100px;
    background-image: -moz-linear-gradient( 90deg, #db2f2f 0%, #f14c40 100%);
    background-image: -webkit-linear-gradient( 90deg, #db2f2f 0%, #f14c40 100%);
    background-image: -ms-linear-gradient( 90deg, #db2f2f 0%, #f14c40 100%);
    box-shadow: 0px 2px 0px 0px #c12121;
    margin: 0px!important;
    box-shadow: inset 0 -3px #c11e1a, 4px 4px #d7d7d7, -4px -4px #d7d7d7, 4px -4px #d7d7d7, -4px 4px #d7d7d7;
}
#tol-traderoom-layout-7 .btn-down:hover,
#tol-traderoom-layout-7 .btn-down:focus,
#tol-traderoom-layout-7 .btn-down.focus,
#tol-traderoom-layout-7 .btn-down:active,
#tol-traderoom-layout-7 .btn-down.active,
#tol-traderoom-layout-7 .open > .dropdown-toggle.btn-down {
    border-width: 0px;
    color: #fff;
    background-image: -moz-linear-gradient( 90deg, #dc3737 0%, #f25e53 100%);
    background-image: -webkit-linear-gradient( 90deg, #dc3737 0%, #f25e53 100%);
    background-image: -ms-linear-gradient( 90deg, #dc3737 0%, #f25e53 100%);
}
#tol-traderoom-layout-7 .btn-down:active,
#tol-traderoom-layout-7 .btn-down.active,
#tol-traderoom-layout-7 .open > .dropdown-toggle.btn-down {
    background-image: none;
}
#tol-traderoom-layout-7 .btn-down:active:hover,
#tol-traderoom-layout-7 .btn-down.active:hover,
#tol-traderoom-layout-7 .open > .dropdown-toggle.btn-down:hover,
#tol-traderoom-layout-7 .btn-down:active:focus,
#tol-traderoom-layout-7 .btn-down.active:focus,
#tol-traderoom-layout-7 .open > .dropdown-toggle.btn-down:focus,
#tol-traderoom-layout-7 .btn-down:active.focus,
#tol-traderoom-layout-7 .btn-down.active.focus,
#tol-traderoom-layout-7 .open > .dropdown-toggle.btn-down.focus {
    color: #fff;
    background-color: #dc3737;
    border-color: #dc3737;
}
#tol-traderoom-layout-7 .btn-down.disabled,
#tol-traderoom-layout-7 .btn-down[disabled],
#tol-traderoom-layout-7 fieldset[disabled] .btn-down,
#tol-traderoom-layout-7 .btn-down.disabled:hover,
#tol-traderoom-layout-7 .btn-down[disabled]:hover,
#tol-traderoom-layout-7 fieldset[disabled] .btn-down:hover,
#tol-traderoom-layout-7 .btn-down.disabled:focus,
#tol-traderoom-layout-7 .btn-down[disabled]:focus,
#tol-traderoom-layout-7 fieldset[disabled] .btn-down:focus,
#tol-traderoom-layout-7 .btn-down.disabled.focus,
#tol-traderoom-layout-7 .btn-down[disabled].focus,
#tol-traderoom-layout-7 fieldset[disabled] .btn-down.focus,
#tol-traderoom-layout-7 .btn-down.disabled:active,
#tol-traderoom-layout-7 .btn-down[disabled]:active,
#tol-traderoom-layout-7 fieldset[disabled] .btn-down:active,
#tol-traderoom-layout-7 .btn-down.disabled.active,
#tol-traderoom-layout-7 .btn-down[disabled].active,
#tol-traderoom-layout-7 fieldset[disabled] .btn-down.active {
    background-color: #4ba3dd;
    border-color: #4ba3dd;
}
#tol-traderoom-layout-7 .touch .btn-down span {
    font-size: 0.6em;
    line-height: 0px;
}
#tol-traderoom-layout-7 .touch .btn-up span {
    font-size: 0.7em;
}
#tol-traderoom-layout-7 .oneTouch .btn-down {
    font-size: 20px;
}
#tol-traderoom-layout-7 .btn-up span.touchrateAlpha,
#tol-traderoom-layout-7 .btn-down span.touchrateBeta {
    font-size: 0.6em;
    line-height: 60px;
}
.touchrateAlpha, .touchrateBeta {
    position: absolute;
    left: 0px;
    top: 60px;
    height: 2.2em;
}
.rangerateAlpha{
    position: absolute;
    margin-top: 2px;
    left: 0;
}
.rangerateBeta {
    position: absolute;
    margin-top: -21px;
    left: 0;
}
.browser-firefox .rangerateAlpha{
    top: 110px;
}
.browser-firefox .rangerateBeta {
    top: 235px;
}
#tol-traderoom-layout-7 #oldChartContainer,
#tol-traderoom-layout-7 #chartContainer,
#tol-traderoom-layout-7 #oldChartContainer .highcharts-container {
    height: 328px;
    max-height: 328px;
}
#tol-traderoom-layout-7 .turboBinary #oldChartContainer,
#tol-traderoom-layout-7 .turboBinary #chartContainer,
#tol-traderoom-layout-7 .turboBinary #oldChartContainer .highcharts-container {
    height: 350px;
    max-height: 350px;
}
.tol-tradebox-left {
    margin-top: 4px;
}

#tol-traderoom-layout-7 .rate-wrapper {
    height:25px;
    display: inline-block;
}
.tol-rate-label {
    margin: 30px 0 30px 0;
}
.ticks .tol-rate-label {
    margin: 23px 0 38px 0;
}
.touch .tol-rate-label {
    margin: 23px 0 31px 0;
}
.traderInsightWrapper {
    width: 7px;
    height: 299px;
    position: relative;
    top: 7px;
    left: -6px;
    text-align: center;
    font-weight: bold;
    background-color: #e43b36;
    border-radius: 5px;
    box-shadow: inset 0px 0px #319950, 2px 2px #d7d7d7, -2px -2px #d7d7d7, 2px -2px #d7d7d7, -2px 2px #d7d7d7;
    margin: auto;
    margin-bottom: 13px;
}
.rate-widget {
    line-height: 1.43;
}
.close-button {
    width: 23px;
    height: 21px;
    background: url('/wp-content/themes/tol-parent/images/close-btn.png') no-repeat;
}
.selectionStateLabel {
    font-weight: bold;
    padding: 3px 0;
    margin-bottom: 5px;
    display: block;
    text-transform: uppercase;
}
.selectionStateLabel.call {
    color: #50c373;
}
.selectionStateLabel.put {
    color: #f14c40;
}
.returnHighAmount, .returnLowAmount, .ratePopup, .ratePopup:hover, .ratePopup.rate-down, .ratePopup.rate-down:hover, .ratePopup.rate-up, .ratePopup.rate-up:hover {
    cursor: not-allowed;
    background-color: #eeeeee;
    opacity: 1;
    height: 30px;
    padding: 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: block;
    width: 100%;
    color: #555555;
    background-image: none;
    border: 1px solid #dddddd;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.investAmountDropDown {
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(227, 227, 227) 0%, rgb(253, 253, 253) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(227, 227, 227) 0%, rgb(253, 253, 253) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(227, 227, 227) 0%, rgb(253, 253, 253) 100%);
    color: #333333;
}
.investAmountOption:hover {
    color: #777;
    background-image: -moz-linear-gradient( 90deg, rgb(237, 237, 237) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(237, 237, 237) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(237, 237, 237) 0%, rgb(255, 255, 255) 100%);
}
.tol-tradebox-right .btn-primary.tradeButton {
    margin: 25px 0;
}
.btn-default option, .btn-default optgroup {
    background: #6ea4da;
    color: #FFF;
}
#expireTurbo-tradologic {
    display: inline-block;
}

.volumePercentLeft {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background: #4cbf6f;
    font-weight: 400;
    border-radius: 10px;
}
.volumePercentRight {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background: #dd2d2c;
    font-weight: 400;
    border-radius: 10px;
}
.traderInsightWrapper .above {
    position: relative;
    float: left;
    background-color: #4cbf6f;
    height: 50%;
    width: 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.widgetPayout {
    background: #5a9ed8;
    border-style: none;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    cursor: not-allowed;
    opacity: 1;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.durationButtons {
    display: inline-block;
    font-size: 9px;
    padding: 1px 0px;
}
.widgetAdvancedDurationButton [selected="selected"] {
    color: #FFFFFF;
    background-color: #636363;
    padding: 2px;
}
.durationSlider {
    margin-top: 15px;
    z-index: 0;
}
.widgetPayout.current-date-time {
    margin: 2px 0;
}
.advancedDurationDatePicker {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    color: #333333;
    background-image: -moz-linear-gradient(90deg, #e3e3e3 0%, #fdfdfd 100%);
    background-image: -webkit-linear-gradient(90deg, #e3e3e3 0%, #fdfdfd 100%);
    background-image: -ms-linear-gradient(90deg, #e3e3e3 0%, #fdfdfd 100%);
    box-shadow: 0px 2px 0px 0px rgba(221, 221, 221, 0.004);
    min-height: 30px;
    padding: 3px 5px;
    line-height: 1.428571429;
    margin-top: 17px;
}
.advanced .tol-tradebox-close-button.glyphicon {
    right: 7px;
}

@media (max-width: 767px) {
    .chartNavigationPeriod:disabled {
        width: 12%;
    }
    .navigationContainerPeriod {
        width: 88%;
    }
    .navigationContainerPeriod input{
        float: left;
        min-width: 42px;
        margin-top: 4px;
        line-height: 14px;
    }
    .tol-invest-time, .turboBinary .widgetPayout {
        padding: 4px 5px 1px;
    }
    .tol-invest-time{
        font-size: 12px;
        height: 27px;
        line-height: 22px;
    }
    .col-sm-10.chart-wrapper {
        padding: 0 !important;
    }
    .tol-tradebox-left {
        margin-top: 10px;
    }
    #tol-traderoom-layout-7 .navigationContainer {
        left: 2px;
    }
    #tol-traderoom-layout-7 .rate-wrapper{
        float: left;
    }
    #tol-traderoom-layout-7 .btn-up,
    #tol-traderoom-layout-7 .btn-down{
        margin-top: 25px !important;
    }
}

//SIGNALS
.signalsWidget .tableRowDiv:nth-child(odd) {
    border-right: 0;
    background: #FFFFFF;
}
.signalsWidget .tableRowDiv:nth-child(even) {
    background: #E0E0E1;
}
.signalsWidget .tableHeaderDiv > div {
    color: #333;
    background: #d5d5d5 url('/wp-content/themes/tol-parent/images/separator-light.png') no-repeat right top;
    vertical-align: bottom;
    border-top: 0;
    border-bottom: 2px solid #BBBBBB;
    padding: 8px;
    line-height: 1.428571429;
    font-size: 0.9em;
    font-weight: 500;
    text-align: left;
    display: table-cell;
    width: 17%;
}
.columnAsset, .columnValidity, .columnExpiryTime, .columnPayout, .columnSignal, .columnStrength, .columnAmount, .columnTrade {
    display: table-cell;
    padding: 8px;
    line-height: 1.428571429;
    text-align: left;
    width: 17%;
}
.signalsWidget .tableHeaderDiv > div.validityHeader, .columnValidity,
.signalsWidget .tableHeaderDiv > div.payoutHeader, .columnPayout {
    width: 8%;
}
.signalsWidget .tableHeaderDiv > div.signalHeader, .columnSignal {
    width: 10%;
}
.signalsWidget .tableHeaderDiv > div.strengthHeader, .columnStrength {
    width: 20%;
}
.signalStrength.percWrap {
    background-image: url('/wp-content/themes/tol-parent/images/signal_strength_full.png');
    background-repeat: no-repeat;
    width: 126px;
    height: 20px;
    position: absolute;
    margin-top: 3px;
}
.signalStrength.percInner {
    display: block;
    height: 20px;
    background-image: url('/wp-content/themes/tol-parent/images/signal_strength.png');
    background-repeat: no-repeat;
}

.signalsWidget .tableBodyDiv div.columnAsset .asset {
    overflow:hidden;
}
.signalsNoOptions {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(42,42,42,0.5);
    z-index: 98;
}
.signalsNoOptions span {
    display: block;
    padding-top: 12%;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}
.signalAmount {
    width: 90%;
    padding-left: 4px;
}
.signalsWidget .trade input[type=button] {
    display:inline-block;
    width: 38px;
    height:26px;
    border:0;
    border-bottom:1px solid #ffb000;
    background: #ffc543;
    background: -moz-linear-gradient(top, #ffc543 0%, #ffb510 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffc543), color-stop(100%, #ffb510));
    background: -webkit-linear-gradient(top, #ffc543 0%, #ffb510 100%);
    background: -o-linear-gradient(top, #ffc543 0%, #ffb510 100%);
    background: -ms-linear-gradient(top, #ffc543 0%, #ffb510 100%);
    background: linear-gradient(to bottom, #ffc543 0%, #ffb510 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc543', endColorstr='#ffb510', GradientType=0 );
    text-decoration:none;
    text-transform: uppercase;
    color:#000;
    border-radius: 3px;
}
.lang-de, .lang-fr{
    .signalsWidget .trade input[type=button] {
        width: 100px;
    }
    .assetHeader{
        width: 15%;
    }
    .expiryTimeHeader{
        width:12%;
    }
}
.signalsWidget .trade input[type=button]:disabled {
    background: #1C1C1C;
    color: #FFFFFF;
    border-top: 1px solid #1C1C1C;
    border-bottom: 1px solid #1C1C1C;
}
.signalsWidget .signalHeader {
    width: 50px;
}
.signalsWidget .strengthHeader {
    width: 130px;
}
.signalsWidget .ditectionDiv {
    position: relative;
    width: 50px;
    padding: 0 3px;
    text-indent: 14px;
}
.signalsWidget .signalDown {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ff2f2f;
    left: 3px;
    top: 42%;
}
.signalsWidget .signalUp {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #0bce30;
    left: 3px;
    top: 42%;
}
.signalsUserClasses {
    width:619px;
    height:309px;
    background:url('/wp-content/themes/tol-parent/images/signalsUserClasses.jpg')
}
.signalsUserClasses span {
    margin: 20px auto;
    font-size: 14px;
    text-align: center;
    position: absolute;
    width: 100%;
}

.signalsUserClasses .buttons-wrapper
{
    top:auto;
    bottom:0;
    right:20px;
}

/* =================== End of the Trading Signals =====================*/

//One Touch game
.assetName .arrowDown {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #333;
    width: 1px;
    height: 1px;
    position: absolute;
    top: 12px;
    left: 3px;
}
.assetName .arrowUp
{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #333;
    width: 1px;
    height: 1px;
    position: absolute;
    top:12px;
    left:3px;
}
.scrollContent tr td {
    position: relative;
}
.name.assetName {
    text-indent: 7px;
}
.oneTouchName.img.down, .targetLblContent.img.down {
    background: url('/wp-content/themes/tol-parent/images/closed_put_onetouch.png') no-repeat;
}
.oneTouchName.img.up, .targetLblContent.img.up
{
    background: url('/wp-content/themes/tol-parent/images/closed_call_onetouch.png') no-repeat;
}
.oneTouchNameWrap
{
    width:100%;
    direction:ltr;
}

.oneTouchName.img
{
    display:inline-block;
    width:16px;
    height:8px;
}

.targetLblContent.img
{
    width:16px;
    height:8px;
}

.targetLblContent.img.up
{
    position: absolute;
    bottom: 12px;
    left: 25px;
    z-index: 1;
}

.targetLblContent.img.down
{
    position: absolute;
    bottom: 12px;
    left: 25px;
    z-index: 1;
}
.oneTouchName.lbl
{
    display:inline-block;
}
.targetLblContent
{
    display:inline-block;
}
.oneTouch .targetLblContent.lbl
{
    display:block;
    font-weight: 300;
}
.oneTouch .widgetRateAlpha .targetLblContent.price {
    color: #333;
    position: relative;
    text-align: right;
    font-size: 15px;
    padding: 1px 5px 1px 0;
    border-radius: 5px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    cursor: not-allowed;
}
.oneTouch .widgetRateAlpha {
    margin-top: 5px;
}
.targetLblContent.price
{
    color:#ffca29;
    font-size:18px;
}
.oneTouch .tol-rate-label {
    margin: 24px 0 9px 0;
}
#tol-traderoom-layout-7 #chartTicksTrade,
#tol-traderoom-layout-7 #chartTicksTrade .highcharts-container {
    height: 350px;
    max-height: 350px;
}
.ticks .tol-tradebox-right .btn-primary {
    margin: 67px 0 0;
}
.payout-return-wrapper {
    margin-top: 15px;
}
#ticksTradeExpiryResultWin {
    width: 96.5%;
}
.p20 {
    padding: 10px;
}
.clear {
    clear: both;
}

.noOptions
{
    width: 100%;
    height: 100%;
    position: absolute;
    background: @no-options-bg;
    z-index: 50;
    text-align: center;
    margin-left: -15px;
    line-height: 320px;
    font-size: 18px;
}

.headerExtend.disabled,
.headerClose.disabled,
.headerDouble.disabled,
.headerInsurance.disabled {
  color: @header-disabled-clr;
  background: @header-disabled-bg;
} 
@media (min-width: 1025px){
    #mobileGameMenu {
        display: none;
    }
}
@media (max-width: 768px){
    
    #tol-traderoom-layout-7 .advanced_chart{
        display: none;
    }
}
@media (max-width: 1025px){
    #tol-traderoom-layout-7 .navbar-header{
        width:100%;
    }
    #tol-traderoom-layout-7 .ratePopup{
        font-size: 9px;
        line-height: 20px;
    }
    #tol-traderoom-layout-7 .oneTouch .widgetButtonBeta,
    #tol-traderoom-layout-7 .oneTouch .widgetButtonAlpha{
        font-size:14px;
    }
    #tol-traderoom-layout-7 .oneTouch .targetLblContent.img.up,
    #tol-traderoom-layout-7 .oneTouch .targetLblContent.img.down{
        left: 10px;
        bottom: 7px;
    }
    #tol-traderoom-layout-7 .oneTouch .widgetTraderInsightBar{
        left: -10px;
        position: absolute;
    }
    
    .navigationContainerPeriod{
        width: 79%;
    }
    .chartNavigationPeriod:disabled,.chartNavigationPeriod{
        width: 11%;
    }
}
.tournamentsWrapper{
    height: 277px;
}
.browser-firefox .percWrap{
    margin-top: -15px;
}
.help-info-icon {
    display: inline-block;
    background: url('/wp-content/themes/tol-parent/images/info-icon-blue.png') no-repeat center;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    position: relative;
    top: 3px;
  }
  .help-info-icon:hover {
    cursor: pointer;
  }
  .rate-info-wrapper {
    display: none;
  }
  .help-info-icon:hover .rate-info-wrapper {
    display: block;
    border: 1px solid #B4C5B5;
    min-width: 200px;
    position: absolute;
    left: -123px;
    top: -80px;
    height: 70px;
    padding: 0 10px;
    border-radius: 5px;
    text-align: left;
    z-index: 9;
    background: #FFF;
    color: #000;
    font-size: 12px;
  }
  .rate-info-wrapper:before {
    display: block;
    width: 18px;
    height: 9px;
    top: 68px;
    position: relative;
    right: -112px;
  }
@media (max-width: 767px){
    label[data-translate="timeToInvest"]{
        font-size: 11px;
        line-height: 20px;
    }
    .tol-invest-time{
        font-size: 10px;
    }
    #tol-traderoom-layout-7 .btn-up i:after, #tol-traderoom-layout-7 .btn-up b:after,
    #tol-traderoom-layout-7 .btn-down i:after, #tol-traderoom-layout-7 .btn-down b:after{
        left: -5px;
    }
    .tol-tradebox-right{
        float: left;
        margin-top: 50px;
    }
    .close-button{
        position: absolute;
        top: -20px;
        right: -280%;
    }
}

.view-menu {
    height: 38px;
    margin-right: 7px;
    position: inherit;
    float: right;
    margin-top: -8px;
} 
.help {     width: 30px;     height: 23px;     background: transparent;     cursor: pointer;     display: inline-block;     float: right;     top: 10px;     position: relative;     margin-left: 10px;     border: 1px solid #fff;     border-radius: 3px; } 
.help.active {     background: #fff; } 
.help .helpBG {     background: url(/wp-content/themes/tol-parent/images/icons-zone.png);     display: inline-block;     width: 16px;     height: 16px;     background-position: -72px -19px;     position: relative;     top: 0px;     left: 0px;     background-repeat: no-repeat; } 
.help.active .helpBG {     background-position: -72px 0px; } 
.helpContainer {     opacity: 0.6;     background: #000;     width: 100%;     height: 420px;     position: absolute;     z-index: 11111;     border-radius: 3px;     left: 0; } 
.helpContainerLabels1, .helpContainerLabels2 {     background: none;     width: 100%;     height: 93%;     z-index: 11112;     color: #000;     position: absolute;     margin-top: 40px; } 
.helpContainerLabels1 div, .helpContainerLabels2 div {     font-size: 20px;     display: inline-block;     font-family: 'HandSean', Arial, sans-serif;     position: absolute;     color: #FFF; } 
.helpChooseAssetBG {     width: 30px;     height: 32px;     display: inline-block;     position: absolute;     background: url(/wp-content/themes/tol-parent/images/help-sprite-white.png);     top: -10px;     left: 120px; } 
.helpChooseAsset {     top: 25px;     left: 90px; } 
.helpChooseExpiryBG {     width: 30px;     height: 32px;     display: inline-block;     position: absolute;     background: url(/wp-content/themes/tol-parent/images/help-sprite-white.png);     top: -10px;     left: 370px; } 
.helpChooseExpiry {     top: 25px;     left: 350px; } 
.helpPayout {     top: 26px;     right: 80px; } 
.helpPayoutBG {     width: 30px;     height: 53px;     display: inline-block;     position: absolute;     background: url(/wp-content/themes/tol-parent/images/help-sprite-white.png);     background-position: -32px 0px;     -webkit-transform: scaleX(-1);     -moz-transform: scaleX(-1);     -ms-transform: scaleX(-1);     -o-transform: scaleX(-1);     transform: scaleX(-1);     right: 100px;     top: -10px; } 
.range .helpPayoutBG, .touch .helpPayoutBG, .turboBinary .helpPayoutBG, .oneTouch .helpPayoutBG {     right: 67px; } 
.helpChooseDirBG {     width: 40px;     height: 171px;     display: inline-block;     position: absolute;     background: url(/wp-content/themes/tol-parent/images/help-sprite-white.png);     background-position: -86px 0px;     -webkit-transform: scaleX(-1);     -moz-transform: scaleX(-1);     -ms-transform: scaleX(-1);     -o-transform: scaleX(-1);     transform: scaleX(-1);     right: 175px;     top: 100px; } 
.helpChooseDir {     right: 230px;     top: 165px; } 
.helpInvestAmountBG {     width: 42px;     height: 20px;     display: inline-block;     position: absolute;     background: url(/wp-content/themes/tol-parent/images/help-sprite-white.png);     background-position: 0px -155px;     -webkit-transform: scaleX(-1);     -moz-transform: scaleX(-1);     -ms-transform: scaleX(-1);     -o-transform: scaleX(-1);     transform: scaleX(-1);     right: 225px;     top: 120px; } 
.helpAutoTradeBG {     width: 42px;     height: 20px;     display: inline-block;     position: absolute;     background: url(/wp-content/themes/tol-parent/images/help-sprite-white.png);     background-position: 0px -155px;     right: 225px;     top: 85px;     -webkit-transform: scaleX(-1);     -moz-transform: scaleX(-1);     -ms-transform: scaleX(-1);     -o-transform: scaleX(-1);     transform: scaleX(-1); } 
.helpInvestAmount {     top: 114px;     right: 271px; } 
.helpAutoTrade {     top: 78px;     right: 270px; } 
.helpExecuteTradeBG {     width: 42px;     height: 20px;     display: inline-block;     position: absolute;     background: url(/wp-content/themes/tol-parent/images/help-sprite-white.png);     background-position: 0px -155px;     right: 227px;     top: 200px;     -webkit-transform: scaleX(-1);     -moz-transform: scaleX(-1);     -ms-transform: scaleX(-1);     -o-transform: scaleX(-1);     transform: scaleX(-1); } 
.helpExecuteTrade {     top: 193px;     right: 275px; } 
.helpReturnBG {     width: 46px;     height: 44px;     display: inline-block;     position: absolute;     background: url(/wp-content/themes/tol-parent/images/help-sprite-white.png);     background-position: 0px -286px;     right: 225px;     top: 290px;     -webkit-transform: scaleX(-1);     -moz-transform: scaleX(-1);     -ms-transform: scaleX(-1);     -o-transform: scaleX(-1);     transform: scaleX(-1); } 
.turboBinary .helpTimeToInvest,.turboBinary .helpTimeToInvestBG {     display: none; } 
.helpReturn {     top: 288px;     right: 275px; } 
.helpNavActive {     width: 10px;     height: 10px;     background: #FFF;     border-radius: 50%;     display: inline-block;     margin-right: 5px;     margin-bottom: 3px; } 
.helpNav {     width: 8px;     height: 8px;     border: 1px solid #FFF;     border-radius: 50%;     display: inline-block;     margin-right: 5px;     margin-bottom: 3px; } 
.navNext, .navClose {     text-transform: uppercase;     font-size: 12px;     padding: 3px 5px;     border-radius: 3px;     position: absolute;     right: 4px;     cursor: pointer;     top: -15px; } 
.navLeft {     width: 15px;     height: 33px;     background: url('/wp-content/themes/tol-parent/images/hand-buttons-white.png');     display: inline-block;     background-position: 0px -35px;     line-height: 33px; } 
.navMid {     width: auto;     height: 33px;     background: url('/wp-content/themes/tol-parent/images/hand-buttons-white.png');     display: inline-block;     background-position: 0px -69px;     line-height: 33px; } 
.navRight {     width: 15px;     height: 33px;     background: url('/wp-content/themes/tol-parent/images/hand-buttons-white.png');     display: inline-block;     background-position: 0px -1px;     line-height: 33px; } 
.navWrapper {     margin-left: 45%;     bottom: 25px;     width: 52%; }
 .helpTimeToInvestBG {     width: 30px;     height: 53px;     display: inline-block;     position: absolute;     background: url(/wp-content/themes/tol-parent/images/help-sprite-white.png);     background-position: -32px 0px;     -webkit-transform: scaleX(-1);     -moz-transform: scaleX(-1);     -ms-transform: scaleX(-1);     -o-transform: scaleX(-1);     transform: scaleX(-1);     right: 475px;     top: -10px; } 
 .helpTimeToInvest {     top: 26px;     right: 410px; }
 
@supports (-ms-accelerator:true) {
     .tradeTools .headerMenu  {
        position: absolute;
        top: 0px;
        margin-top: 0px;
    }
}