@traderoom-bordradius: 0px;

#tol-traderoom-layout-8 {
  margin-top:5px;
}

#tol-traderoom-layout-8 .tol-asset-filter-custom {
  z-index: 2;
  position: relative;
}

#tol-traderoom-layout-8 .tol-no-options.tol-chart-overflow {
  max-height: 350px;
}
#tol-traderoom-layout-8 .tol-no-options.tol-chart-overflow span {
  top: 6em;
  color: #000;
  position: relative;
  font-size: 2em;
}
#tol-traderoom-layout-8 .tol-well label {
  margin: 0;
  padding: 3px;
}
#tol-traderoom-layout-8 .form-group {
  padding-top: 2px;
}
#tol-traderoom-layout-8 .tol-no-options {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 3;
}

#tol-traderoom-layout-8 .tol-assets-table table{
  cursor: pointer;
}

#tol-traderoom-layout-8 .scrollContent tr td {
  vertical-align: middle;
  border-bottom: 1px solid #a7a7a7;
}

#tol-traderoom-layout-8 .chartNavigation{
  background-color: #DCDCDC;
  border: 0;
  color: #000;
  font-weight: normal;
}
#tol-traderoom-layout-8 .chartNavigation:hover {
  background-color: #E5E5E5;
}
#tol-traderoom-layout-8 .navigationContainer li {
  border: 1px solid #23B14B;
}
#tol-traderoom-layout-8 .navigationContainer li:first-child {
  border-top: 1px solid #23B14B;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#tol-traderoom-layout-8 .navigationContainer li:last-child {
  border-bottom: 1px solid #23B14B;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#tol-traderoom-layout-8 .tol-well {
  min-height: 34px;
  margin-bottom: 5px;
  color: #fff;
  position: relative;
  z-index: 4;
  border: 1px solid #21B24B;
  border-radius: @traderoom-bordradius;
  color: #1E1D22;
}

.table th {
  background:url('/wp-content/themes/tol-parent/images/separator.png') no-repeat right top;
  background-color: #F0F0F0;
}
.table .scrollContent tr:nth-child(even),
.tol-opentrades .tab-content tbody tr:nth-child(even) {
  background: #e8e8e9;
}

.table .scrollContent tr .rate .isMore {
  color: #339331;
}

.table .scrollContent tr .rate .isLess {
  color: #E50000;
}

#tol-traderoom-layout-8 .tol-assets-table {
  max-height: 613px;
  min-height: 613px;
  overflow: auto;
  position: relative;
  font-weight:300;
  border-radius: @traderoom-bordradius;
  border: 1px solid #21B24B;
  background: #F0F0F0;
}

#tol-traderoom-layout-8 .tol-chart-header,
#tol-traderoom-layout-8 .tol-chart-container {
  position: relative;
}
#tol-traderoom-layout-8 .tol-chart-header {
  padding: 0 5px;
}
#tol-traderoom-layout-8 .tol-chart-container {
  background: #fff;
  border: 1px solid #21B24B;
  border-radius: @traderoom-bordradius;
}
.tol-opentrades-table, #tol-traderoom-layout-8 .digital .tol-signals-table {
  border: 1px solid #21B24B;
  border-radius: @traderoom-bordradius;
  background: #e8e8e9;
}
.tol-opentrades-table,#tol-traderoom-layout-8 .digital .tol-signals-table{
  overflow-y: scroll;
}
#tol-traderoom-layout-8 .chartV2Wrapper {
  position: relative;
}
#tol-traderoom-layout-8 .tol-custom-popup {
  padding: 2px 5px;
  text-align: right;
}
#tol-traderoom-layout-8 .closedTrades table {
  margin-bottom: 10px;
}
/* Asset filter */
#tol-traderoom-layout-8 #tol-assset-filter .select-wrapper {
  position: relative;
  z-index: 1;
  font-size: .9em;
  cursor: pointer;
  padding: 3px 0;
  line-height: 1.5em;
}
#tol-assset-filter .select-wrapper-icon {
  top: 13px;
}
#tol-traderoom-layout-8 .assetFilterCustomPopup {
  color: #000;
  background: #fff;
  border: 1px solid #B2B2B2;
}
#tol-traderoom-layout-8 .assetFilterCustomPopup:after {
  left:37% !important;
}
#tol-traderoom-layout-8 .tol-tradebox-close-button {
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 1;
  background:url('/wp-content/themes/tol-parent/images/rightbox_close_sprite.png') top;
  width: 21px;
  height: 21px;
}
#tol-traderoom-layout-8 .ticks .tol-tradebox-close-button {
  right: 30px;
}
  #tol-traderoom-layout-8 .tol-tradebox-close-button:hover {
    background-position: 0 20px;
  }
#tol-traderoom-layout-8 #closeTradesDDLWrap {
  display: inline-block;
}
#tol-traderoom-layout-8 .myTradesInfo {
  margin: 10px 0;
}
#tol-traderoom-layout-8 #closeTradesOptionsWrap label,
#tol-traderoom-layout-8 .myTradesInfoLabel {
  margin: 0 5px 0 15px;
}
#tol-traderoom-layout-8 #closeTradesOptionsWrap label:first-child,
#tol-traderoom-layout-8 .myTradesInfoLabel:first-child {
  margin-left: 0;
}
#tol-traderoom-layout-8 .chartWidget {
  height: 280px;
}
#tol-traderoom-layout-8 .range .tol-tradebox-left, #tol-traderoom-layout-8 .touch .tol-tradebox-left {
  position:relative;
}
#tol-traderoom-layout-8 .touch .tol-widgetRateAlpha {
  position: absolute;
  top: 75px;
  width: 100%;
}
#tol-traderoom-layout-8 .range .tol-widgetRateAlpha {
  position: absolute;
  top: 50px;
  width: 100%;
}
#tol-traderoom-layout-8 .touch .tol-widgetRateBeta {
  position:absolute;
  bottom:75px;
  width:100%;
}
#tol-traderoom-layout-8 .range .tol-widgetRateBeta {
  position: absolute;
  top: 83px;
  width: 100%;
}
#tol-traderoom-layout-8 .touch .tol-widgetRateAlpha,
#tol-traderoom-layout-8 .touch .tol-widgetRateBeta {
  left:0;
}
#tol-traderoom-layout-8 .oneTouch .tol-widgetRateBeta {
  display:none !important;
}
#tol-traderoom-layout-8 .oneTouch .tol-tradebox-right .targetLblContent.lbl {
  display:none;
}
#tol-traderoom-layout-8 .tol-targer-wrapper {
  display:none;
}
#tol-traderoom-layout-8 .oneTouch .tol-targer-wrapper {
  display:inline-block;
}
#tol-traderoom-layout-8 .oneTouch .targetLblContent.lbl {
  margin: 3px 0 2px 0;
}
#tol-traderoom-layout-8 .oneTouch .tol-widgetRateAlpha.col-sm-12.col-xs-4 .targetLblContent.price{
  padding: 6px;
  display: block;
  width: 100%;
}
#tol-traderoom-layout-8 .oneTouch .widgetButtonAlpha {
  margin-bottom:0;
}

#tol-traderoom-layout-8 .oneTouch .widgetButtonBeta {
  margin-top:0;
}
.oneTouch .our-rate-text.text-right {
  font-size: 13px;
  padding-right: 0 !important;
  text-align: left;
}
#tol-traderoom-layout-8 .oneTouch .input-lg {
  border-radius: @traderoom-bordradius;
  background-image: none;
}
#tol-traderoom-layout-8 .oneTouch .tol-rate-label {
  margin: 5px 0 10px;
}

#tol-traderoom-layout-8  .oneTouch .tol-tradebox-right .targetLblContent.img {
  display: none;
}
#tol-traderoom-layout-8 .tol-traderoom-wrapper {
  border-right: 1px solid #21B24B;
  height: 302px;
}
#tol-traderoom-layout-8 .tol-traderoom-wrapper .tol-tradebox > div {
  padding: 10px 0 0 0;
}
#tol-traderoom-layout-8 .digital .tol-tradebox-right .btn-primary {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px 0 5px;
}
#tol-traderoom-layout-8 .tol-expire-turbo {
  padding: 6px 0 5px;
}

#tol-traderoom-layout-8 .tol-help-btn {
  padding:8px 10px;
}

#tol-traderoom-layout-8 #expireTurbo-tradologic input {
  color: #1E1D22;
  width: 36px;
  height: 28px;
  background: transparent;
  border: 1px solid #21B24B;
  border-radius: @traderoom-bordradius;
  cursor: pointer;
  margin-right: 4px;
  margin-bottom: 4px;
  line-height: 23px;
  text-align: center;
}
.investAmountDropDown {
  background-color: #FFF;
  color: #1E1D22;
  width: 90%;
}
#tol-traderoom-layout-8 #expireTurbo-tradologic input:hover {
    background: #21b24b;
    color:#ffffff;
}

#tol-traderoom-layout-8 #expireTurbo-tradologic input.activeRule{
  color:#ffffff;
  background:#21B24B;
}

#tol-traderoom-layout-8 .hasDatepicker {
  width:140px;
  display:inline-block;
}
#tol-traderoom-layout-8 .tol-search-btn {
  color: #000000;
  background-image: -webkit-linear-gradient(top, #ffc543 0%, #ffb510 100%);
  background-image: -o-linear-gradient(top, #ffc543 0%, #ffb510 100%);
  background-image: linear-gradient(to bottom, #ffc543 0%, #ffb510 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc543', endColorstr='#ffffb510', GradientType=0);
  border: none;
  border-bottom: 1px solid #ffb000;
  text-shadow: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  border-radius: @traderoom-bordradius;
  padding:4px 12px;
}
#tol-traderoom-layout-8 #tol-assset-filter{
  border: 1px solid #21B24B;
  width: 60%;
  border-radius: @traderoom-bordradius;
  padding-top: 0;
  background: #FFFFFF;
  color: #1E1D22;
  box-shadow: 0 0 0;
}
#tol-traderoom-layout-8 .tol-asset-filter-custom .tol-custom-popup .caret{
  position: absolute;
  top: 5px;
}
#tol-traderoom-layout-8 #tol-assset-filter .select-wrapper.open ul{
  background: #fff;
  border: 1px solid #fff;
  top: 28px;
}
#tol-assset-filter .select-wrapper ul > li:hover {
  background: grey;
}
#tol-traderoom-layout-8 .select-wrapper ul > li.selected {
  background: #ccc;
}
#tol-traderoom-layout-8 .tol-asset-filter-custom .tol-custom-assets{
  padding: 2px 5px;
}
#tol-traderoom-layout-8 .tol-assest span,
#tol-traderoom-layout-8 .tol-return{
  font-size: 23px;
}
#tol-traderoom-layout-8 .chartNavigationPeriod,
#tol-traderoom-layout-8 .assetFilterCustomPopup section.buttons #assetFilterCustom_Cancel {
  color: #000;
  background: #fff;
  border: 1px solid #21B24B;
  border-radius: 2px;
}
#tol-traderoom-layout-8 .assetFilterCustomPopup section.buttons #assetFilterCustom_Cancel:hover {
  color: #FFF;
  background: #000;
}
#tol-traderoom-layout-8 .chartNavigationPeriod:disabled{
  background: #21B24B;
  color: #fff;
  border: 1px solid #21B24B;
  border-radius: 2px;
}
#tol-traderoom-layout-8 .assetFilterCustomPopup section.buttons #assetFilterCustom_Confirm,
#tol-traderoom-layout-8 .tol-opentrades-table .tradingToolsExecute {
  background: #21B24B;
  color: #fff;
  padding: 7px 28px;
  border-radius: 2px;
}
#tol-traderoom-layout-8 .assetFilterCustomPopup section.buttons #assetFilterCustom_Confirm:hover {
  color: #000;
}

#tol-traderoom-layout-8 .tol-return{
  background: #21B24B;
  line-height: 35px;
}
#tol-traderoom-layout-8 .ticks .tol-return,
#tol-traderoom-layout-8 .advanced .tol-return,
#tol-traderoom-layout-8 .forex .tol-return {
  padding-left: 10px;
}
#tol-traderoom-layout-8 .btn-primary.widgetButtonAlpha,
#tol-traderoom-layout-8 .btn-primary.widgetButtonBeta,
#tol-traderoom-layout-8 .tol-tradebox .btn-primary,
#tol-traderoom-layout-8 .tol-investAmount-nav{
  color: #fff;
  text-transform: uppercase;
}
#tol-traderoom-layout-8 .btn-primary.widgetButtonAlpha {
  border-top: 1px solid #73e379;
  border-bottom: 1px solid #144b17;
  background-image: -moz-linear-gradient(90deg, #41b464 0%, #50c373 100%);
  background-image: -webkit-linear-gradient(90deg, #41b464 0%, #50c373 100%);
  background-image: -ms-linear-gradient(90deg, #41b464 0%, #50c373 100%);
  box-shadow: 0 0 0 0;
  margin: 20px 0;
  border-radius: 0;
}
#tol-traderoom-layout-8 .btn-primary.widgetButtonAlpha:hover,
#tol-traderoom-layout-8 .btn-primary.widgetButtonAlpha.isClicked{
  background: #144b17;
  border-top: 1px solid #144b17;
  border-bottom: 1px solid #73e379;
}
#tol-traderoom-layout-8 .btn-primary.widgetButtonBeta {
  border-top: 1px solid #f2776e !important;
  border-bottom: 1px solid #5d2824!important;
  background-image: -moz-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%)!important;
  background-image: -webkit-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%)!important;
  background-image: -ms-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%)!important;
  box-shadow: 0 0 0 0;
  margin: 20px 0;
  border-radius: 0;
}
#tol-traderoom-layout-8  .btn-primary.widgetButtonBeta:hover,
#tol-traderoom-layout-8 .btn-primary.widgetButtonBeta.isClicked{
  background: #5d2824;
  border-top: 1px solid #5d2824;
  border-bottom: 1px solid #f2776e;
}
#tol-traderoom-layout-8 .btn-primary[value="Buy"]{
  background:  #0D713B;
  border: 1px solid #23B14B;
  border-radius: 0;
  margin: 20px 0;
}
#tol-traderoom-layout-8 .btn-primary[value="Cancel"] {
    border-top: 1px solid #f2776e;
    border-bottom: 1px solid #5d2824;
    background-image: -moz-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
    background-image: -webkit-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
    background-image: -ms-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
    box-shadow: 0 0 0 0;
    border-radius: 0;
    margin: 10px 0 0 15px !important;
    width: 88%;
}

#tol-traderoom-layout-8 .btn-primary[value="Buy"]:hover,
#tol-traderoom-layout-8 .btn-primary[value="Cancel"]:hover {
  color: #000000;
}
#tol-traderoom-layout-8 .tol-custom-popup .dropdown-toggle[aria-expanded="false"] .glyphicon{
  color: #21B34E;
}
#tol-traderoom-layout-8 .tol-custom-popup .dropdown-toggle[aria-expanded="true"] .glyphicon{
  color: #353535;
}
#tol-traderoom-layout-8 .tol-custom-popup .dropdown-toggle{
  background: #FFFFFF;
  border: 1px solid #21B34E;
  width: 46px;
  padding: 7px 0px;
  text-indent: -5px;
  box-shadow: none;
}
#tol-traderoom-layout-8 .tol-custom-popup .dropdown-toggle[aria-expanded="true"]{
  background: #fff;
  border: 1px solid #353535;
}

#tol-traderoom-layout-8 .tol-opentrades #closeTradesOptionsWrap{
  background:  #21B24B;
  padding: 6px;
  color: #fff;
}
#tol-traderoom-layout-8 .tol-opentrades #closeTradesOptionsWrap .tol-search-btn{
  background-color: transparent;
  background-image: none;
  border: 1px solid #fff;
  color: #fff;
}
#tol-traderoom-layout-8 .navbar-inverse .navbar-nav > .active > a,
#tol-traderoom-layout-8 .tol-opentrades-table .toolsHeader .activeTab{
  background-color:  #21B24B;
}

#tol-traderoom-layout-8 .tol-tradebox .our-rate-value .rate-down{
  color: #da1507;
}
#tol-traderoom-layout-8 .tol-tradebox .our-rate-value .rate-up{
  color: #0ca013;
}

#tol-traderoom-layout-8 .tol-opentrades-table .table-responsive .tradeTools{
  background: #fff !important;
  border: 1px solid #b2b2b2;
}
#tol-traderoom-layout-8 .tol-opentrades-table .table-responsive .tradeTools td{
  padding: 0
}
#tol-traderoom-layout-8 .tol-opentrades-table .tradeTools .headerMenu{
  background: #353535;
  color: #fff;
}
#tol-traderoom-layout-8 .tol-opentrades-table .tradingToolsCancel{
  top: 9px;
}
#tol-traderoom-layout-8 .tol-opentrades-table .highcharts-background{
  fill: #fff;
}
#tol-traderoom-layout-8 .tol-opentrades-table .tradeTools .chartContainer .chart{
  border: 1px solid #ccc;
}
#tol-traderoom-layout-8 .tol-opentrades-table .extendToSelectWrapper,
#tol-traderoom-layout-8 .tol-opentrades-table .extendCostAmount{
  border: 1px solid #cccccc;
  background-image: none;
}

#tol-traderoom-layout-8 .tol-opentrades-table .extendToSelectWrapper:after {
  content: '';
  display: block;
  position: absolute;
  right: 8px;
  top: 12px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #000;
}
#tol-traderoom-layout-8 .tol-opentrades-table .extendCostAmount,
#tol-traderoom-layout-8 .tol-opentrades-table .closeContainer .closeValue,
#tol-traderoom-layout-8 .tol-opentrades-table .doubleValue,
#tol-traderoom-layout-8 .tol-opentrades-table .insuranceValue{
  margin-top: 0;
}
.tol-tradebox.text-center {
  padding: 0 10px;
}
.tol-invest-time-shell {
  padding: 8px 0;
}
.tol-subject-selector:hover, .tol-subject-selector.tol-subject-selected {
  color: #21B24B;
}

.game-btn-box.active {
  border: 0;
  background: #21B24B;
  border-radius: 0;
  border-bottom: 2px solid #21B24B;
}
.games-header-box {
    border: 1px solid #21B24B;
    border-bottom: 2px solid #21B24B;
    padding: 0;
    margin: 0;
    float: left;
    height: 43px;
}
.game-btn-box {
    padding: 10px 15px;
    margin: 0px;
    border-left: 1px solid #21B24B;
    background: #FFF;
    list-style: none;
    cursor: pointer;
    float: left;
}
.game-btn-box span {
  color: #000;
}
.game-btn-box.active span {
  color: #FFF;
}
.assets-column{
    float: left;
}
.assets-column-header {
  color: #000;
  box-shadow: none;
  background-color: #d5d5d5;
  border-bottom: 2px solid #BBBBBB;
  font-size: 1em;
  line-height: 26px;
}
#tol-assetsContainer {
    background-position-y: 6px;
    float: left;
    width: 100%;
}
#tol-assetsContainer .asset-item {
  height: 32px !important;
  padding: 5px 8px !important;
  line-height: auto;
}
#tol-assetsContainer dd {
  color: #000;
}
#assetDetailsPopUp {
  background-color: #FFF;
  width: 312px;
}
.asset-details-popup-content button {
  background: #21B24B;
  border-top: #75BAED;
  padding: 7px 24px 6px 25px;
  border-bottom: 1px solid #173C59;
}
.asset-details-popup-content button:hover {
  background: #1A883A;
}
.asset-details-popup-content {
  padding: 10px;
}
.asset-details-popup-header {
  background: #FFF;
  border-bottom: 0;
  padding: 10px !important;
  width: 100% !important;
  height: auto !important;
}
button.close {
  color: #5E5E5E;
  background: transparent;
  border: 0;
  box-shadow: none;
  top: 10px;
  right: 10px;
}
.asset-details-popup-content table thead tr td {
  background: #353535;
  color: #FFF;
  font-weight: normal;
}
.asset-details-popup-header p {
  margin: 0 15px 0 0;
}
.asset-details-popup-content table tbody tr td {
  color: #000;
  padding: 5px;
  border-top: 0;
}
.asset-details-popup-content table tbody tr:nth-child(odd) {
  background: #E8E8E9;
}
.pageLink.activePage {
  background: #21B24B;
  border: 1px solid #21B24B;
  color: #FFF;
}
.pageLink, .nextPage, .prevPage, .nextPages, .prevPages {
  border-radius: @traderoom-bordradius;
  border: 1px solid #000;
  background: #FFF;
  color: #000;
  margin: 0 0 10px 10px;
}

.pageLink:hover,
.nextPage:hover,
.prevPage:hover {
  background: #000;
  color: #FFF;
}
.tol-traderoom-wrapper .btn {
  padding: 9px 12px;
  font-size: 17px;
}

.tol-opentrades-table .actionButton {
  background: #21B24B;
  text-shadow: none;
  border: 1px solid #144b17;
  color: #FFF;
  border-radius: 0;
  text-transform: uppercase;
  padding: 2px 6px;
}
.tol-opentrades-table .actionButton:hover {
  color: #000;
}
.investAmountDropDown {
  width: 100%;
}
.investAmountOption {
  padding: 2px 10px;
  text-align: left;
}
.investAmountOption:hover {
  background-color: #ccc;
}
#tol-traderoom-layout-8 .navigationContainer {
  background: url('/wp-content/themes/tol-parent/images/graph-green.png') no-repeat;
  padding-left: 38px;
  top: 1px;
  left: 1px;
}
#tol-traderoom-layout-8 .chartNavigation:disabled {
  background: #fff url('/wp-content/themes/tol-parent/images/tick_green.png') 95px no-repeat;
}
.turboBinary .navigationContainer {
  top: 10px;
}

#tol-traderoom-layout-8 .turboBinary .chartV2Wrapper {
  padding-top: 20px;
}

.turboChart {
  background: #FFF;
  color: #000;
  padding: 0;
  border: 1px solid #B2B2B2;
  border-radius: @traderoom-bordradius;
}

.turboSliderButton.inactive {
  background-color: #d5d5d5;
}
.turboSliderButton.leftButton {
  background: url('/wp-content/themes/tol-parent/images/left_arrow_openTrades.png') #d5d5d5 no-repeat 4px 26px;
}

.turboBoxSection.isTurboSlider {
  margin-top: 6px;
}

.turboSliderButton.rightButton {
  right: 0px;
  background: url('/wp-content/themes/tol-parent/images/right_arrow_openTrades.png') #d5d5d5 no-repeat 4px 26px;
}

.turboTime {
  background: url('/wp-content/themes/tol-parent/images/clock-white.png') no-repeat 5px;
}

.isNA {
  background: #6E6E6E;
  border-bottom-color:#4B4B4B;
}
.isWin {
  background-image: -moz-linear-gradient(90deg, #41b464 0%, #50c373 100%);
  background-image: -webkit-linear-gradient(90deg, #41b464 0%, #50c373 100%);
  background-image: -ms-linear-gradient(90deg, #41b464 0%, #50c373 100%);
  border-bottom-color:#319950;
}
.isLose {
  background-image: -moz-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
  background-image: -webkit-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
  background-image: -ms-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
  border-bottom-color:#c11e1a;
}
.ui-dialog .ui-dialog-titlebar {
  background: #353535;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  min-height: 20px;
}
.ui-dialog.ui-widget-content {
  padding: 0;
  background: #FFF;
}
#popUpmesage {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popUpTitle {
  font-weight: bold;
}
#closePopUp, #closeAllPopUp {
  background: #FFF;
  border: 1px solid #000;
  border-radius: @traderoom-bordradius;
}
#nextPopUp, .tradingToolsExecute {
  background: #21B24B;
  color: #FFF;
  border-top: 1px solid #75BAED;
  border-bottom: 1px solid #173C59;
  border-radius: @traderoom-bordradius;
  cursor: pointer;
}
.tradingToolsExecute {
  width: 110px;
}
.tradingToolsExecute:hover {
  font-size: 1em;
  color: #000;
}
.buttonAlphaWrapper.clearfix:before {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  right: 25%;
  margin-left: 2px;
  vertical-align: middle;
  border-bottom: 7px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  color: #FFF;
  z-index: 1;
}
.touch .buttonAlphaWrapper.clearfix:before {
  top: 38%;
  right: 20%;
}
.turboBinary .buttonAlphaWrapper.clearfix:before {
  top: 50%;
  right: 20%;
}
.ticks .buttonAlphaWrapper.clearfix:before {
  top: 44%;
  right: 20%;
}
.buttonBetaWrapper.clearfix:before {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 30%;
  right: 25%;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 7px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  color: #FFF;
  z-index: 1;
}
.touch .buttonBetaWrapper.clearfix:before {
  bottom: 51%;
  right: 15%;
}
.oneTouch .buttonBetaWrapper.clearfix:before {
  bottom: 35%;
  right: 20%;
}
.turboBinary .buttonBetaWrapper.clearfix:before {
  top: 50%;
  right: 20%;
}
.ticks .buttonBetaWrapper.clearfix:before {
  bottom: 41%;
}
.ui-dialog.ui-widget-content.tol-tradingtools-dialog {
  width: 450px  !important;
  height: 230px  !important;
  border: 1px solid #B2B2B2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ui-dialog.tol-tradingtools-dialog .ui-dialog-title {
  display: none;
}
.ui-dialog.tol-tradingtools-dialog .ui-dialog-titlebar {
  height: 41px;
}
.tradeTools .headerMenu {
  margin-top: -41px;
  color: #FFF;
}
.browser-firefox .tradeTools .headerMenu {
  margin-top: 0;
}
.browser-msie .tradeTools .headerMenu{
  margin-top: 0;
  height: 40px;
}
.toolsHeader .activeTab {
  background: #21B24B;
}
.tradingToolsCancel {
  top: 5px;
  right: 5px;
}
.headerExtend, .headerClose, .headerDouble, .headerInsurance {
  font-weight: normal;
}
.tradeTools .chartContainer .chart {
  height: 168px !important;
  width: 292px !important;
  border: 1px solid #CDCDCD;
  border-radius: @traderoom-bordradius;
  overflow: hidden;
}
.tradeTools .chartContainer .chart .oldChart {
  width: 300px !important;
}
.extendCost {
  width: 110px;
}
.extendContainer, .closeContainer, .doubleContainer, .insuranceContainer {
  font-weight: normal;
  width: 110px;
}
.extendToSelectWrapper {
  background: url('/wp-content/themes/tol-parent/images/arrowDark.png') 90px no-repeat;
  border: 1px solid #000;
  width: 110px;
}
.extendToSelect {
  background: transparent;
}
.turboChart .turboStrike, .turboChart .turboAmount, .turboChart .turboReturn {
  color: #000;
}
.headerExtend.disabled, .headerClose.disabled, .headerDouble.disabled, .headerInsurance.disabled {
  color: #404040;
  background: rgba(153, 153, 153, 0.4);
}
//SIGNALS
.signalsWidget .tableRowDiv:nth-child(odd) {
  border-right: 0;
  background: #FFFFFF;
}
.signalsWidget .tableRowDiv:nth-child(even) {
  background: #E0E0E1;
}
.signalsWidget .tableHeaderDiv > div {
  color: #333;
  background: #d5d5d5 url('/wp-content/themes/tol-parent/images/separator-light.png') no-repeat right top;
  vertical-align: bottom;
  border-top: 0;
  border-bottom: 2px solid #BBBBBB;
  padding: 8px;
  line-height: 1.428571429;
  font-size: 0.9em;
  font-weight: 500;
  text-align: left;
  display: table-cell;
  width: 17%;
}
.columnAsset, .columnValidity, .columnExpiryTime, .columnPayout, .columnSignal, .columnStrength, .columnAmount, .columnTrade {
  display: table-cell;
  padding: 8px;
  line-height: 1.428571429;
  text-align: left;
  width: 17%;
}
.signalsWidget .tableHeaderDiv > div.validityHeader, .columnValidity,
.signalsWidget .tableHeaderDiv > div.payoutHeader, .columnPayout {
  width: 8%;
}
.signalsWidget .tableHeaderDiv > div.signalHeader, .columnSignal {
  width: 10%;
}
.signalsWidget .tableHeaderDiv > div.strengthHeader, .columnStrength {
  width: 20%;
}
.signalStrength.percWrap {
  background-image: url('/wp-content/themes/tol-parent/images/signal_strength_full.png');
  background-repeat: no-repeat;
  width: 126px;
  height: 20px;
  position: absolute;
  margin-top: 3px;
}
.browser-firefox .signalStrength.percWrap{
    margin-top: -15px;
}
.signalStrength.percInner {
  display: block;
  height: 20px;
  background-image: url('/wp-content/themes/tol-parent/images/signal_strength.png');
  background-repeat: no-repeat;
}

.signalsWidget .tableBodyDiv div.columnAsset .asset {
  overflow:hidden;
}
.signalsNoOptions {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(42,42,42,0.5);
  z-index: 98;
}
.signalsNoOptions span {
  display: block;
  padding-top: 12%;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
.signalAmount {
  width: 90%;
  padding-left: 4px;
}
.signalsWidget .trade input[type=button] {
  display:inline-block;
  width: 37px;
  height:26px;
  border:0;
  border-bottom:1px solid #13692C;
  background: #21B24B;
  text-decoration:none;
  text-transform: uppercase;
  color:#000;
  border-radius: @traderoom-bordradius;
}
.lang-fr .signalsWidget .trade input[type=button]{
    width: 73px;
}
.signalsWidget .trade input[type=button]:disabled {
  background: #1C1C1C;
  color: #3D4146;
  border-top: 1px solid #1C1C1C;
  border-bottom: 1px solid #1C1C1C;
}
.signalsWidget .signalHeader {
  width: 50px;
}
.signalsWidget .strengthHeader {
  width: 130px;
}
.signalsWidget .ditectionDiv {
  position: relative;
  width: 50px;
  padding: 0 3px;
  text-indent: 14px;
}
.signalsWidget .signalDown {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ff2f2f;
  left: 3px;
  top: 42%;
}
.signalsWidget .signalUp {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #0bce30;
  left: 3px;
  top: 42%;
}
.signalsUserClasses {
  width:619px;
  height:309px;
  background:url('/wp-content/themes/tol-parent/images/signalsUserClasses.jpg')
}
.signalsUserClasses span {
  margin: 20px auto;
  font-size: 14px;
  text-align: center;
  position: absolute;
  width: 100%;
}

.signalsUserClasses .buttons-wrapper
{
  top:auto;
  bottom:0;
  right:20px;
}
/* =================== End of the Trading Signals =====================*/

.p20 {
  padding: 10px;
}
.clear {
  clear: both;
}
#tol-traderoom-layout-8 #chartTicksTrade,
#tol-traderoom-layout-8 #chartTicksTrade .highcharts-container,
#tol-traderoom-layout-8 #chartTicksTrade .highcharts-container > svg {
  height: 300px;
  max-height: 300px;
}
.ticks .tol-tradebox-right .btn-primary {
  margin: 67px 0 0;
}
.payout-return-wrapper {
  margin-top: 15px;
}
#ticksTradeExpiryResultWin {
  width: 100%;
}

/* FOREX GAME START */
.durationButtons {
  display: inline-block;
}
.fl,
.sliderExpire div,
.forexVolumeAmount div,
.forexButtonsAndRate div,
.ourRateDiv div,
.profitContainer {
  float: left;
}
.returnOnLossContainer {
  float: right;
}
.profitContainer div,
.returnOnLossContainer div {
  display: inline-block;
}
.forexButtonsAndRate div a {
  display: block;
  height: 50px;
  width: 100px;
  margin: 0;
  padding: 2px;
  text-align: center;
}
.clear {
  clear: both;
}
.tradeAreaWrapper div {
  padding: 2px;
}
.ourRateDiv {
  padding: 3px;
}
.forexVolumeAmount .amountDLL select {
  width: 150px;
}
.expireDDLWrapper div {
  /*margin: 0px;
  padding: 0px;*/
}
.textColor,
.textColor span input {
  color: #ffca29;
}
.widgetforexDurationButton input {
  color: #ffca29;
  background-color: #444;
  border: #ffca29 solid 1px;
  padding: 5px;
}
.widgetforexDurationButton [selected="selected"] {
  color: #444;
  background-color: #ffca29;
  border: #444 solid 1px;
}
.forex .durationSlider {
  width: 140px;
}
.forexDurationDatePicker,
.forexDurationDatePicker input {
  width: 50%;
}
.SelectedLongTermExpiryTime,
.SelectedLongTermExpiryTime span {
  margin: 5px !important;
}
.spanExpiry,
.spanExpiry span,
.spanExpiry div {
  float: left !important;
  margin-left: 7px !important;
  margin-top: 5px;

}
.payoutProfit,
.payoutProfit div {
  float: left !important;
  margin: 5px !important;
  padding-right:3px;
}
.returnOnLossProfit,
.returnOnLossProfit div {
  margin-left: 5px;
}
.chartv2Widget {
  width: 500px;
  display: inline-block;
  padding-top: 50px;
  padding-left: 10px;
}
.p20 {
  padding: 10px;
}
#forexTraidMain .sellTab.activeTab {
  border-top: 2px solid #4F5358;
  border-left: 2px solid #4F5358;
}
#forexTraidMain .buyTab.activeTab {
  border-top: 2px solid #4F5358;
}
#forexTraidMain .rowWrapper .row {
  border-left: 2px solid #4F5358;
  background: #303438;
  font-family: 'robotoregular';
  text-align: center;
  height: 115px;
}
#forexTraidMain .rowWrapper .row:nth-child(2){
  padding-top: 35px;
}
.buySell {
  font-size: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  display: inline-block;
  border-right: 2px solid #26292B;
  padding-right: 10px;
}
.buySellStrike {
  display: inline-block;
  padding-left: 5px;
}
.buySellStrike span.uppercase:nth-child(1) {
  font-size: 10px !important;
}
.left, .center, .right {
  float: left;
  width: 31.65%;
  padding: 5px;
  height: 50px;
}
.first, .second, .third, .fourth {
  float: left;
  width: 24%;
  padding: 5px;
  height: 60px;
  background: #4E5156;
  color: #FFF;
}
.first {
  margin-left: 2%;
}
.values {
  font-size: 30px;
  position: relative;
  top: -9px;
}
.labelsText {
  font-size: 13px;
  color: white;
  width: 100%;
  padding: 0 0 7px 0;
}
.ui-dialog[aria-describedby=forexTradePopup] {
  z-index: 101;
  color: #FFF;
  height: 550px !important;
  width: 500px !important;
  border-radius: 0 !important;
  border: 1px solid #24BB52 !important;
  left: 0 !important;
  right: 0 !important;
  margin: 100px auto 0;
}
@media (max-width: 450px) {
  .ui-dialog[aria-describedby=forexTradePopup] {
    width: 310px !important;
    height: 600px !important;
  }
}
@media (max-width: 1024px) {
    .logged #tol-main-nav .tol-language-switcher {
        margin-left: 18% !important;
    }
}
.ui-dialog[aria-describedby=forexTradePopup] .inner {
  color: black;
}
.ui-dialog[aria-describedby=forexTradePopup] .ui-dialog-title {
  display: none;
}
.ui-dialog[aria-describedby=forexTradePopup] .ui-dialog-titlebar {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ui-dialog[aria-describedby=forexTradePopup] .ui-widget-header {
  height: 34px;
  border: 0;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;

  .ui-dialog-titlebar-close {
    background: url(/wp-content/themes/tol-child/images/closePopup.png) no-repeat center;
    width: 34px;
    height: 34px;
    border: 0;
    top: 23px;
  }
}
.ui-dialog[aria-describedby=forexTradePopup] .ui-dialog-content {
  padding: 0;
  overflow: initial;
}

.ui-widget-content .ui-state-default.ui-dialog-titlebar-close {
  background: url('/wp-content/themes/tol-child/images/closePopup.png') !important;
  height: 34px;
  width: 34px;
  margin-right: -6px;
  border-radius: 0px;
  z-index: 10;
}

#txtinvestInUsd, #txttakeProfitInUsd {
  background: #292828;
  border: 0;
  color: #FFF;
  font-size: 22px;
  font-family: 'robotoregular';
}
#forexTraidMain .rowWrapper {
  background: #3E4146;
}
#forexTraidMain .rowWrapper div[align=center] {
  border-top: 1px solid #2E3136;
  margin-top: 15px;
}
#forexTraidMain .row {
  margin: 0;
}
#forexTraidMain .buySell {
  font-family: 'robotoregular';
  font-weight: normal;
}
#forexTraidMain .customSelect {
  color: #fff;
  font-size: 22px;
}
#forexTraidMain select.hasCustomSelect {
  left: 33px;
}

#forexTraidMain select.hasCustomSelect option {
  background: #3E4146;
  color: #FFF;
}
#forexTradePopup {
  border: 0;
}
#forexTraidMain .buttonTradeDiv {
  display: inline-block;
  width: 92%;
  border-top: 1px solid #fce390;
  border-bottom: 1px solid #31280b;
  background: #faca30;
  background: -moz-linear-gradient(top, #faca30 0%, #f9b12c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faca30), color-stop(100%,#f9b12c));
  background: -webkit-linear-gradient(top, #faca30 0%,#f9b12c 100%);
  background: -o-linear-gradient(top, #faca30 0%,#f9b12c 100%);
  background: -ms-linear-gradient(top, #faca30 0%,#f9b12c 100%);
  background: linear-gradient(to bottom, #faca30 0%,#f9b12c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faca30', endColorstr='#f9b12c',GradientType=0 );
  text-decoration: none;
  color: #000;
  text-shadow: 0px 1px #FFF;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  border-radius: 2px;
  margin: 10px;
  height: 50px;
}
.advancedVolumeAmount .amountDLL select {
  width: 150px;
}
.forexTradeDiv {
  width: 650px;
  height: 398px !important;
  max-height: 400px !important;
  background: white !important;
  display: none;
  padding: 5px;
}
.assetNameDiv {
  background: #24BB52;
  color: white;
  font-size: 20px;
  height: 65px;
  padding: 5px;
}

.assetNameDiv span {
  font-size: 30px;
  font-family: Roboto;
  font-weight: 300;
  line-height: 55px;
  padding: 0 25px !important;
}

ul#forexPopupTabLinks li a {
  background: white;
  color: black;
  text-align: center;
  padding: 25px;
  font-size: 1.2em;
}

@media (max-width: 450px) {
  ul#forexPopupTabLinks li a {
    padding-left: 0;
    padding-right: 0;
  }
}

.nav-tabs#forexPopupTabLinks {
  border-bottom: none;
}

.nav-tabs#forexPopupTabLinks li {
  width: 50%;
  border-bottom: 2px solid #24BB52;
}

.nav-tabs#forexPopupTabLinks li.disabled a {
  background: rgb(218, 218, 218);
}

.nav-tabs#forexPopupTabLinks li.disabled a:focus {
  outline: none;
}

.nav-tabs#forexPopupTabLinks li.disabled {
  background: rgb(218, 218, 218);
}

.nav-tabs#forexPopupTabLinks li a {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
}

.nav-tabs#forexPopupTabLinks li#marketOrderLink {
  border-right: 1px solid #24BB52;
}

.nav-tabs#forexPopupTabLinks li#pendingOrderLink {
  border-left: 1px solid #24BB52;
}

.nav-tabs#forexPopupTabLinks li.active{
  border-bottom: 2px solid white;
}

.nav-tabs#forexPopupTabLinks li.active a {
  /*text-shadow: none;*/
}

.nav-tabs#forexPopupTabLinks li.active a:focus {
  outline: none;
}

#forexPopupTabContent {
  text-align: center;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 450px) {
  #forexPopupTabContent {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 450px) {
  #pendingOrder {
    margin-top: -20px;
  }
}

@media (max-width: 450px) {
  #marketOrder {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  #marketOrder .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

#pendingOrderLeft {
  width: 49%;
  float: left;
  padding-top: 10px;
}
@media (max-width: 450px) {
  #pendingOrderLeft {
    width: 60%;
    text-align: left;
    padding: 10px;
    margin-left: 70px;
  }
}

#pendingOrderLeft .row{
  margin-top: 10px;
}

#pendingOrderRight {
  width: 49%;
  float: right;
}
@media (max-width: 450px) {
  #pendingOrderRight {
    width: 100%;
    text-align: left;
    padding: 10px;
  }
}

#atPrice {
  font-family: Roboto;
  font-size: 12px;
  float: left;
}

.pendingOrderLeftLabel {
  width: 40%;
  float: left;
}

#containerForexPopupBuy.active {
  color: #24BB52;
  font-weight: bold;
}

#containerForexPopupSell.active {
  color: #FF0000;
  font-weight: bold;
}

.pendingOrderLeftValue {
  width: 59%;
  float: right;
  border-left: 1px solid rgba(128, 128, 128, 0.53);
}
@media (max-width: 450px) {
  .pendingOrderLeftValue {
    padding-left: 20px;
  }
}

#btnForexSell {
  background: grey;
  height: 61px;
  width: 215px;
  border-radius: 0;
  float: left;
}
@media (max-width: 450px) {
  #btnForexSell {
    width: 135px !important;
  }
}

#btnForexSell.activeTab {
  background: url('/wp-content/themes/tol-child/images/btnForexSell.png') no-repeat 55% 55%;
  height: 61px;
  width: 215px;
  border-radius: 0;
  float: left;
}

#btnForexBuy {
  background: grey;
  height: 61px;
  width: 215px;
  border-radius: 0;
  float: right;
}
@media (max-width: 450px) {
  #btnForexBuy {
    width: 135px !important;
  }
}

#btnForexBuy.activeTab{
  background: url('/wp-content/themes/tol-child/images/btnForexBuy.png') no-repeat 55% 55%;
  height: 61px;
  width: 215px;
  border-radius: 0;
  float: right;
}

#btnForexSellTitle {
  float: left;
  width: 35%;
  font-family: Roboto;
  font-size: 25px;
  color: white;
  margin-top: 13px;
  border-right: 1px solid rgba(199, 199, 199, 0.43);
}
@media (max-width: 450px) {
  #btnForexSellTitle {
    margin-top: 0;
    border-right: none;
    font-size: 14px;
    width: 33%;
  }
}

#btnForexSellPrice {
  float: right;
  width: 65%;
  padding: 5px;
}
@media (max-width: 450px) {
  #btnForexSellPrice {
    float: left;
    width: 100%;
    padding: 0px;
  }
}

#btnForexBuyTitle {
  float: right;
  width: 40%;
  font-family: Roboto;
  font-size: 25px;
  color: white;
  margin-top: 13px;
  line-height: 39px;
  border-left: 1px solid rgba(199, 199, 199, 0.43);
}
@media (max-width: 450px) {
  #btnForexBuyTitle {
    margin-top: 0;
    border-left: none;
    font-size: 14px;
    width: 33%;
    float: left;
  }
}

#btnForexBuyPrice {
  float: left;
  width: 60%;
  padding: 5px;
}
@media (max-width: 450px) {
  #btnForexBuyPrice {
    float: left;
    width: 100%;
    padding: 0px;

  }
}

.btnForexPriceTitle {
  color: white;
  font-family: Roboto;
  font-weight: 300;
  font-size: 11px;
  text-align: left;
  width: 100%;
}
@media (max-width: 450px) {
  .btnForexPriceTitle {
    display: none;
  }
}

.btnForexPriceStrikeBig {
  font-size: 31px !important;
}

.btnForexPriceStrikeMedium {
  font-size: 20px !important;
}

.btnForexPriceStrikeSmall {
  font-size: 20px !important;
  bottom: 15px !important;
}

.btnForexPriceStrike span {
  color: white;
  font-family: Roboto;
  position: relative;
  bottom: 5px;
}

.forexPopupContent {
  /*margin-left: 25px;*/
  /*margin-right: 25px;*/
  margin-top: 35px;
  padding-top: 25px;
  border-top: 1px solid rgba(210, 210, 210, 0.72);
}

@media (max-width: 450px) {
  .forexPopupContent {
    margin-top: 10px;
    padding-top: 10px;
  }
}

.forexPopupInvestment {
  float: left;
  width: 48%;
  padding-top: 10px;
}

.forexPopupInvestment input {
  border: 1px solid #ccc;
  height: 50px;
  border-radius: 0;
  padding-right: 20px;
}

.forexPopupInputLabel {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  float: left;
}

.forexPopupTakeProfit {
  float: right;
  width: 48%;
  padding-top: 10px;
}

.forexPopupTakeProfit input {
  border: 1px solid #ccc;
  height: 50px;
  border-radius: 0;
  padding-right: 20px;
}

.spinner, .spinner2, spinner3, s {
  width: 100%;
}
.spinner input, .spinner2 input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

#investmentUp, #pending-investmentUp, #takeProfitUp {
  background: url('/wp-content/themes/tol-child/images/arrow-up.png') no-repeat 55% 55%;
  margin-left: -20px;
  z-index: 10;
}

#investmentDown, #pending-investmentDown, #takeProfitDown {
  background: url('/wp-content/themes/tol-child/images/arrow-down.png') no-repeat 55% 55%;
  margin-left: -20px;
  z-index: 10;
}

.currencySymbol {
  position: absolute;
  z-index: 11;
  margin-left: -90px;
  margin-top: 13px;
}

@-moz-document url-prefix() {
  .currencySymbol {
    margin-left: -190px;
  }
}

@media (max-width: 450px) {
  .currencySymbol {
    margin-left: -55px;
  }
}

#txtForexPopupInvestment {
  text-align: left;
  padding-left: 20px;
}

#txtForexPopupTakeProfit {
  text-align: left;
  padding-left: 20px;
}

#txtForexPopupPendingPrice {
  border: 1px solid #ccc;
  height: 50px;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  background: #E8EAED;
  text-align: center;
  color: black;
}

@media (max-width: 450px) {
  #atPriceGroup {
    width: 100%;
  }
}

#atPriceMinus {
  margin-right: -50px;
  z-index: 10;
  background: url('/wp-content/themes/tol-child/images/pendingMinus.png');
  height: 40px;
  width: 40px;
}

@media (max-width: 450px) {
  #atPriceMinus {
    margin-right: -45px !important;
    left: 7px;
  }
}

#atPricePlus {
  margin-left: -50px;
  background: url('/wp-content/themes/tol-child/images/pendingPlus.png');
  height: 40px;
  width: 40px;
}
@media (max-width: 450px) {
  #atPricePlus {
    margin-left: -45px !important;
  }
}


.forexPopupStats {
  //width: 33%;
  //float: left;
  padding-top: 20px;
  text-align: center;
}
@media (max-width: 450px) {
  .forexPopupStats {
    //width: 30%;
  }
}

.forexPopupStatsLabel {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
}

.forexPopupStatsValue {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
}

#btnForexPopupTrade, #btnForexPopupSubmit {
  margin: 20px;
  border-radius: 0;
}

#btnForexPopupTrade, #btnForexPopupSubmit {
  @media (max-width: 450px) {
    position: absolute;
    bottom: 110px;
    left: 100px;
  }
}


.buyTab {
  float: left;
  width: 46%;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  margin-top: 10px;
  background-color: #6E6E6E;
}
.sellTab {
  float: left;
  width: 47.3%;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #6E6E6E;
}
.rowWrapper {
  background: #848484;
  padding: 10px;
}
.pageLoader {
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: white;
  z-index: 99;
  opacity: 0.6;
}
#forexTradePopup .pageLoader {
  height: 550px;
  top: -20px;
}
.loadingElements {
  margin-top: 130px !important;
}
.loadingElementTexts {
  padding-top: 50px !important;
}
.inner {
  margin: 0 auto;
  position: relative;
  text-align: center;
  background-color: #ffffff;
}
.inner .row {
  width: 66%;
  margin: 0 auto;
}
.buttonClose {
  width: 90px;
  height: 35px;
  background: -moz-linear-gradient(top, #494D52 0%, #303337 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494D52), color-stop(100%,#303337));
  background: -webkit-linear-gradient(top, #494D52 0%,#303337 100%);
  background: -o-linear-gradient(top, #494D52 0%,#303337 100%);
  background: -ms-linear-gradient(top, #494D52 0%,#303337 100%);
  background: linear-gradient(to bottom, #494D52 0%,#303337 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494D52', endColorstr='#303337',GradientType=0 );
  color: white;
  font-size: 16px;
  border: 1px solid #303438;
  margin-top: 10px;
  margin-bottom: 15px;
}
.successMsg {
  display: inline-block;
  width: 48%;
  padding: 5px;
  height: auto;
  vertical-align: top;
}

.successMsg span {
  display: block;
}
.inner .row .successMsg:nth-child(1) {
  text-align: left;
}
.inner .row .successMsg:nth-child(2) {
  text-align: right;
}

.successMsgTable {
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  margin-top: 20px;
}

.successMsgTableDesc {
  text-align: right;
  padding-right: 20px;
  padding-bottom: 20px;
}

.successMsgTableVal {
  text-align: left;
  padding-bottom: 20px;
  font-weight: bold;
  padding-right: 30px;
}

.successMsgTable tr {
  margin-top: 10px;
}

.txtMsg {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #000;
  color: black;
  background: white;
}

#resultMessage {
  background-color: #24BB52;
  border-bottom: none;
  color: white;
  height: 55px;
  padding-top: 15px;
}

.uppercase {
  text-transform: uppercase;
}
.widgetButtonForexTrade {
  font-size: 14px;
  text-decoration: none;
  color: white;
  width: 90%;
  height: 35px;
  padding: 0;
  border: 0;
  border-radius: 0 !important;
  line-height: 35px;
  background: -moz-linear-gradient(top, #494d52 0%, #3e4246 49%, #313438 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #494d52), color-stop(49%, #3e4246), color-stop(100%, #313438));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #494d52 0%, #3e4246 49%, #313438 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #494d52 0%, #3e4246 49%, #313438 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #494d52 0%, #3e4246 49%, #313438 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #494d52 0%, #3e4246 49%, #313438 100%);
  /* W3C */
}
.widgetButtonForexTrade:hover {
  background-position: 0;
  background: -moz-linear-gradient(top, #ffb129 0%, #ffbc29 49%, #ffc929 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb129), color-stop(49%, #ffbc29), color-stop(100%, #ffc929));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffb129 0%, #ffbc29 49%, #ffc929 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffb129 0%, #ffbc29 49%, #ffc929 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffb129 0%, #ffbc29 49%, #ffc929 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffb129 0%, #ffbc29 49%, #ffc929 100%);
  /* W3C */
}
.forexCloseButton {
  color: #eaeaea;
  background: url('/wp-content/themes/tol-parent/images/turbo-button.png');
  width: 45px;
  height: 25px;
  border: 0;
  cursor: pointer;
  line-height: 15px;
  border-radius: 0 !important;
}
.tradesTable.forex .myTradesOptionsAssetsDDL .customSelectInner {
  width:178px !important;
}
.tol-game1 .container {
  position:relative;
}
.forex .table > tbody > tr > td.assetName {
  line-height: 2.8em;
}
#loadingElementForex {
  width: 133px;
  height: 132px;
  background: url('/wp-content/themes/tol-parent/images/forex_anim.gif') no-repeat center top;
  text-align: center;
  margin: 240px auto 0 !important;
}
#loadingElementCashier {
  height: 70%;
}
.tol-closedtrades-table {
  overflow-y: hidden;
}
.advanced .durationButtons {
  display: inline-block;
  font-size: 8px;
  padding: 4px;
  margin-right: 1px;
  background-color: #FFF;
  border: 1px solid #23B14B;
  color: #1E1D22;
}
.slider-payout {
  width: 50%;
  float: left;
  margin-top: 4px;
  margin-left: 4px;
}
.widgetAdvancedDurationButton [selected="selected"] {
  color: #FFFFFF;
  background-color: #23B14B;
}
.durationSlider {
  margin-left: 7px;
  margin-top: 13px;
}
#payout-return-holder .payoutDesc {
  margin-left: -17px;
}
#tol-traderoom-layout-8 .hasDatepicker.advancedDurationDatePicker {
  border: 1px solid #dcdcdc;
  border-radius: @traderoom-bordradius;
  color: #333333;
  background-image: -moz-linear-gradient(90deg, #e3e3e3 0%, #fdfdfd 100%);
  background-image: -webkit-linear-gradient(90deg, #e3e3e3 0%, #fdfdfd 100%);
  background-image: -ms-linear-gradient(90deg, #e3e3e3 0%, #fdfdfd 100%);
  box-shadow: 0px 2px 0px 0px rgba(221, 221, 221, 0.004);
  min-height: 30px;
  padding: 3px 5px;
  line-height: 1.428571429;
  margin-top: 27px;
  width: 100%;
}
.tol-opentrades .nav > li > a {
  color: #4CBE69;
}
.tol-opentrades .nav > li:last-of-type  > a{
  border-right: 1px solid #21B24B;
}
.highcharts-background {
  fill: transparent;
}
.highcharts-container {
  background: url('/wp-content/themes/tol-parent/images/chart_back.png') 21px 0 repeat;
}
.lastPriceIndicator > path:first-child {
  stroke: #2D8F2A;
}
.lastPriceIndicator > path + path {
  fill: #2D8F2A;
  stroke: #2D8F2A;
  stroke-width: 1px;
}
.chartv2.line .highcharts-series path:nth-child(2), .chartv2.area .highcharts-series path:nth-child(2) {
  stroke: #989999;
  stroke-width: 2px;
}
.page-template-traderoom-page .asset-line {
  margin-bottom: 37px;
}
.tol-closedtrades-table {
  background: #f8f8f9;
  border: 1px solid #23B14B;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  color: #000;
}
.highcharts-navigator rect {
  fill: rgba(74, 74, 74, 0.4);
}
.highcharts-navigator-handle-left rect, .highcharts-navigator-handle-right rect {
  fill: #188C3B;
  stroke: none;
}
.highcharts-navigator-handle-left path, .highcharts-navigator-handle-right path {
  stroke: #2B68AB;
}
.tol-rate-label {
  margin: 32px 0 31px 0;
}
.tol-traderoom .btn-default.tol-widgetContracts {
  width: 100%;
  border-radius: 0;
}
.tol-tradebox-right label.selectionStateLabel {
  color: #22B34C;
}
.glyphicon-remove:before {
  content: '';
}
.range .widgetRateAlpha {
  position: absolute;
  margin-top: 70px;
  margin-left: -15px;
}
.touchrateAlpha {
    position: absolute;
    left: 0;
    margin-top: 67px;
}
.highcharts-navigator path {
  fill: #efc210 !important;
  stroke: #000000 !important;
}
.range .widgetRateBeta {
  position: absolute;
  margin-top: 215px;
  margin-left: -15px;
}
.touchrateBeta {
  position: relative;
  margin-top: -85px;
}
.range .tol-tradebox-right .rate-wrapper span {
  font-size: 11px;
  line-height: 2em;
}
.tol-tradebox-right {
    padding-top: 10px;
    float: left;
    margin-top: 15px;
}
.cysecregulated .tol-tradebox-right {
    padding-top: 0px;
}
//One Touch game

.oneTouchName.img.down, .targetLblContent.img.down {
  background: url('/wp-content/themes/tol-parent/images/closed_put_onetouch.png') no-repeat;
}
.oneTouchName.img.up, .targetLblContent.img.up
{
  background: url('/wp-content/themes/tol-parent/images/closed_call_onetouch.png') no-repeat;
}
.oneTouchNameWrap
{
  width:100%;
  direction:ltr;
}

.oneTouchName.img
{
  display:inline-block;
  width:16px;
  height:8px;
}

.targetLblContent.img
{
  width:16px;
  height:8px;
}

.targetLblContent.img.up
{
  position: absolute;
  bottom: 9px;
  left: 25px;
  z-index: 1;
}

.targetLblContent.img.down
{
  position: absolute;
  bottom: 9px;
  left: 25px;
  z-index: 1;
}
.oneTouchName.lbl
{
  display:inline-block;
}
.oneTouch .targetLblContent.lbl
{
  display:block;
  font-weight: 300;
}
.oneTouch .widgetRateAlpha .targetLblContent.price {
  color: #555555;
  position: relative;
  text-align: right;
  font-size: 15px;
  padding: 1px 5px 1px 0;
  border-radius: 0;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #21B34E;
  cursor: not-allowed;
}
.targetLblContent.price
{
  color:#ffca29;
  font-size:18px;
}
.tol-registration div[data-type="error"] p {
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}
.countdown-wrapper {
  margin: 10px 0 0 0;
}
.advanced .countdown-wrapper{
    width: 20%;
}
.advanced .cancelButton-wrapper{
    width: 80%;
}
.countdown-timer {
  width:50px;
  height:50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  color: #21B24B;
  display: block;
  margin: 0 auto;
  background: url('/wp-content/themes/tol-parent/images/385.gif') no-repeat center;
}
#tol-traderoom-layout-8 .form-group.current-date-time span {
  line-height: 1.9;
}
.help-info-icon {
  display: none;
}
.cysecregulated {
  .digital .tol-rate-label .input-lg,
  .range .tol-rate-label .input-lg,
  .touch .tol-rate-label .input-lg,
  .turboBinary .tol-rate-label .input-lg,
  .oneTouch .tol-rate-label .input-lg,
  .advanced .tol-rate-label .input-lg,
  .ticks .tol-rate-label .input-lg {
    padding: 10px 0;
    height: 60px;
  }
  #tol-traderoom-layout-8 {
    .digital .btn-primary.widgetButtonAlpha,
    .range .btn-primary.widgetButtonAlpha,
    .turboBinary .btn-primary.widgetButtonAlpha,
    .oneTouch .btn-primary.widgetButtonAlpha,
    .advanced .btn-primary.widgetButtonAlpha,
    .ticks .btn-primary.widgetButtonAlpha {
      margin: 20px 0 10px 0;
    }
    .touch .btn-primary.widgetButtonAlpha {
      margin: 12px 0 10px 0;
    }
    .digital .btn-primary.widgetButtonBeta,
    .range .btn-primary.widgetButtonBeta,
    .touch .btn-primary.widgetButtonBeta,
    .turboBinary .btn-primary.widgetButtonBeta,
    .oneTouch .btn-primary.widgetButtonBeta,
    .advanced .btn-primary.widgetButtonBeta,
    .ticks .btn-primary.widgetButtonBeta {
      margin: 16px 0 20px 0;
    }
  }
  .tol-tradebox-left .tol-rate-label,
  .tol-tradebox-left .widgetRateAlpha {
    padding: 0;
  }
  .ask-bid-wrapper, .rate-last-part {
    font-size: 12px;
    text-transform: uppercase;
  }
  .rate-last-part {
    margin-top: 3px;
  }
  .rate-bid-title {
    color: #EA433B;
  }
  .rate-ask-title {
    color: #21B34E;
  }
  .touchrateAlpha {
    margin-top: -5px;
  }
  .help-info-icon {
    display: inline-block;
    background: url('/wp-content/themes/tol-parent/images/info-icon.png') no-repeat center;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    position: relative;
    top: 3px;
  }
  .help-info-icon:hover {
    cursor: pointer;
  }
  .rate-info-wrapper {
    display: none;
  }
  .help-info-icon:hover .rate-info-wrapper {
    display: block;
    border: 1px solid #B4C5B5;
    min-width: 200px;
    position: absolute;
    left: -123px;
    top: -80px;
    height: 70px;
    padding: 0 10px;
    border-radius: 5px;
    text-align: left;
    z-index: 9;
    background: #FFF;
    color: #000;
    font-size: 12px;
  }
  .rate-info-wrapper:before {
    display: block;
    width: 18px;
    height: 9px;
    top: 68px;
    position: relative;
    right: -112px;
  }
}
.advanced_chart.tradologic {
  position: absolute;
  left: 40px;
  top: 1px;
  background: #FFF url('/wp-content/themes/tol-parent/images/adv-chart-green.png') no-repeat 2px top;
  border: 1px solid #21B24B;
  height: 20px;
  padding-left: 22px;
  padding-right: 5px;
  z-index: 2;
}
.advanced_chart.tradologic a {
  color: #21B24B;
}
  .advanced_chart.tradologic:hover {
    background: #21B24B url('/wp-content/themes/tol-parent/images/adv-chart-white.png') no-repeat 2px top;
  }
  .advanced_chart.tradologic:hover a {
    color: #FFF;
  }
.tol-assets-table .tol-no-options {
  background: #ED463D !important;
  color: #FFF;
  position: relative;
  top: 40px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
}
@media (max-width: 1450px) {
  .cysecregulated {
    .ask-bid-wrapper, .rate-last-part {
      font-size: 11px;
    }
  }
  .range .rate-wrapper span{
      min-height: 50px;
  }
}
@media (max-width: 450px) {
  .range .rate-wrapper span{
      min-height: 25px;
  }
  .range .widgetRateAlpha{
      margin-top: 0px;
  }
  .range .widgetRateBeta{
      margin-top: 0px;
      margin-left: 60%;
  }
    #tol-traderoom-layout-8 .turboBinary{
        .chartNavigationPeriod{
            width: 32px;
            font-size: 9px;
            font-weight: normal;
            margin: 1px 1px 0 0;
            float: left;
            height: 18px;
        }
        .navigationContainerPeriod{
            width: auto;
        }
  }
}
@media (max-width: 1350px) {
  .cysecregulated {
    .digital .tol-rate-label .input-lg,
    .range .tol-rate-label .input-lg,
    .touch .tol-rate-label .input-lg,
    .turboBinary .tol-rate-label .input-lg,
    .oneTouch .tol-rate-label .input-lg,
    .advanced .tol-rate-label .input-lg,
    .ticks .tol-rate-label .input-lg {
      height: 80px;
      padding: 0;
    }
    #tol-traderoom-layout-8 {
      .digital .btn-primary.widgetButtonAlpha,
      .range .btn-primary.widgetButtonAlpha,
      .turboBinary .btn-primary.widgetButtonAlpha,
      .oneTouch .btn-primary.widgetButtonAlpha,
      .advanced .btn-primary.widgetButtonAlpha,
      .ticks .btn-primary.widgetButtonAlpha {
        margin: 10px 0 10px 0;
      }
    }
  }

    #tol-traderoom-layout-8 .oneTouch .btn-primary[value="Buy"]{
        margin: 10px 0 !important;
    }
    #tol-traderoom-layout-8 .oneTouch .tol-rate-label{
        margin: 5px 0 5px;
    }
     #tol-traderoom-layout-8 .advanced .slider-payout {
        width: 40%;
    }
    .tol-custom-assets label{
        float: left;
    }
    .tol-custom-assets .custom-select{
        width: 90% !important;
    }
    .assetFilterCustomPopup{
        left: -577px;
    }
    .assetFilterCustomPopup input{
        float: left;
        margin-top: 6px;
        margin-right: 6px;
    }
    #tol-traderoom-layout-8 .tol-custom-popup .dropdown-toggle{
        width: 36px !important;
    }
    .tol-opentrades-table table,.tol-closedtrades-table table{
        font-size: 12px;
    }
    .tol-signals-table input[type="button"]{
        font-size: 12px;
    }
    #tol-traderoom-layout-8 .hasDatepicker{
        width: 130px;
    }
    #tol-traderoom-layout-8 #expireTurbo-tradologic input{
        padding-left: 6px;
    }
    .left, .center, .right{
        height: 60px;
    }
}
@media (max-width: 991px) {
  .cysecregulated {
    .digital .tol-rate-label .input-lg,
    .range .tol-rate-label .input-lg,
    .touch .tol-rate-label .input-lg,
    .turboBinary .tol-rate-label .input-lg,
    .oneTouch .tol-rate-label .input-lg,
    .advanced .tol-rate-label .input-lg,
    .ticks .tol-rate-label .input-lg {
      height: 100px;
    }
    .tol-rate-label {
      margin: 12px 0 31px 0;
    }
    .cysecregulated .help-info-icon {
      top: -2px;
      margin-left: 0px;
    }
  }
}
@media (max-width: 768px) {
    .cysecregulated {
        .digital .tol-rate-label .input-lg,
        .range .tol-rate-label .input-lg,
        .touch .tol-rate-label .input-lg,
        .turboBinary .tol-rate-label .input-lg,
        .oneTouch .tol-rate-label .input-lg,
        .advanced .tol-rate-label .input-lg,
        .ticks .tol-rate-label .input-lg {
            height: 60px;
        }
        .tol-rate-label {
            margin: 5px 0 10px 0;
        }
        .tol-tradebox-left .tol-rate-label {
            padding: 0 9px;
        }
        .cancelButton-wrapper{
            margin-bottom: 10px;
        }
    }
    .tol-traderoom-time-to-invest-wrapper {
        margin-left: 0;
        text-align: right;
    }
    #tol-traderoom-layout-8 #tol-assset-filter {
        width: 100%;
    }
    #tol-traderoom-layout-8 .tol-tradebox-close-button {
        top: 2px;
    }
    .navigationContainerPeriod {
        width: 87.3%;
    }
    #tol-traderoom-layout-8 .tol-well label {
        display: block;
    }
    #tol-traderoom-layout-8 .tol-chart-header {
        padding: 0 5px 5px;
        margin-top: 5px;
    }
    .navigationContainer {
        top: 1px;
    }
    #tol-traderoom-layout-8 .tol-return {
        font-size: 14px;
    }
    #tol-traderoom-layout-8 .tol-invest-time-label {
        font-size: 12px;
    }
    #tol-traderoom-layout-8 .tol-assets-table {
        max-height: 300px;
        min-height: 300px;
    }
    .tol-asset-table-wrapper {
        padding: 0 !important;
    }
    .chartNavigationPeriod {
        width: 36px;
        font-size: 10px;
    }
    .tol-investAmount-nav {
        width: 100% !important;
    }
    .tol-rate-label {
        margin: 0 0 15px 0;
    }
    .our-rate-text, .our-rate-value {
        text-align: center !important;
    }
    .tol-rate-label .input-lg {
        height: 39px;
        font-size: 14px;
    }
    #tol-traderoom-layout-8 .tol-help-btn{
        display: none;
    }
    #tol-traderoom-layout-8 .advanced_chart{
        display: none;
    }
    #tol-traderoom-layout-8 .chartNavigationPeriod{
        width: 37px;
    }
    #tol-traderoom-layout-8 .oneTouch .targetLblContentWrap .img.up{
        left: 18px;
        bottom:9px;
    }
    #tol-traderoom-layout-8 .oneTouch .targetLblContentWrap .img.down{
        left: 18px;
    }
    #tol-traderoom-layout-8 .oneTouch .targetLblContentWrap .lbl,
    #tol-traderoom-layout-8 .tol-rate-label label{
        font-size: 11px;
        line-height: 10px;
        font-weight: bold;
        height: 30px;
        padding-top: 15px;
    }
    #tol-traderoom-layout-8 .oneTouch .targetLblContentWrap .price{
        text-align: center;
        width: 70px;
        padding-left: 20px;      
        font-size: 10px;
        height: 21px;
        line-height: 18px;
    }
    #tol-traderoom-layout-8 .tol-rate-label span.rate-down,
    #tol-traderoom-layout-8 .tol-rate-label span.rate-up,
    #tol-traderoom-layout-8 .tol-rate-label span{
        padding: 0;
        height: 21px;
        line-height: 20px;
        width: 100%;
        font-size: 10px;
    }
    #tol-traderoom-layout-8 .btn-primary.widgetButtonAlpha,
    #tol-traderoom-layout-8 .btn-primary.widgetButtonBeta{
        font-size: 11px;
    }
    #tol-traderoom-layout-8 .touch-button-wrapper .rate-down,
    #tol-traderoom-layout-8 .touch-button-wrapper .rate-up{
        display: none; 
    }
    .tol-traderoom .btn-default{
        width: 100%;
    }
    #tol-traderoom-layout-8 .tol-tradebox-left{
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    #tol-traderoom-layout-8 .turboBinary .tol-tradebox-left{
        margin-top: 0;
    }
    #tol-traderoom-layout-8 .tol-tradebox-left .tol-rate-label label{
        height: 30px;
    }
    .cysecregulated
    {
        #tol-traderoom-layout-8 {
            .help-info-icon{
                float: right;
                width: 20px;
            }
            .rate-info-wrapper{
                height: auto !important;
                padding: 0 10px !important;
                min-width: 260px !important;
            }
            .tol-rate-label span{
                height: auto !important;
            }
            .btn-primary.widgetButtonBeta{
                margin: 16px 0 10px 0 !important;
            }
            .tol-tradebox-right {
                padding-top: 25px;
                float: left;
            }
            .tol-rate-label label{
                padding-top: 5px;
            }
            .targetLblContentWrap .img{
                left: 5 !important;
            }
            .targetLblContentWrap .price{
                padding-left: 10px;
                margin-left: 5px;
            }
        }
    }
    .appriseInner button{
        box-shadow: none;
        background: none;
        border: none;
        width: 100%;
    }
    #forexTraidMain .rowWrapper .row{
        height: auto;
    }
    #forexTraidMain .rowWrapper{
        .left, .center, .right{
            width: 100%;
        }
        .first, .second, .third, .fourth{
            width: 100%;
        }
        .first {
            margin-left: 0;
        }
    }
    .forexTradeDiv{
        height: 690px !important;
        max-height: 690px !important;
    }
    
    .range .tol-tradebox-right .rate-wrapper span{
        height: 50px;
    }
    #forexTraidMain .labelsText{
        padding: 0;
    }
    #tol-traderoom-layout-8 .pull-right.tol-traderoom-wrapper.col-sm-10.col-xs-12.nopadding{
        float: left;
        z-index: 100;
    }
    #tol-traderoom-layout-8 .chartNavigation:disabled {
        -webkit-opacity:1;
    }
}

@media screen and (max-width: 769px) and (min-width: 767px) {
    #tol-traderoom-layout-8 .navbar-inverse .navbar-nav > li > a{
        padding: 10px;
    }
    #tol-traderoom-layout-8 .tol-asset-table-wrapper{
        width: 100%;
    }
    #tol-traderoom-layout-8 .col-sm-7.col-md-9.nopadding{
        width: 100%;
    }
    #tol-traderoom-layout-8 .pull-right.tol-traderoom-wrapper.col-sm-10.col-xs-12.nopadding{
        width: 75%;
    }
    #tol-traderoom-layout-8 .col-sm-2.tol-traderoom-wrapper{
        width: 25%;
    }
    #tol-traderoom-layout-8 .oneTouch .targetLblContentWrap .price{
        width: 100%;
    }
}

@media (max-width: 440px) {
    .navigationContainerPeriod {
        width: 85.3%;
    }
    #tol-traderoom-layout-8 .touch .tol-tradebox-right,
    #tol-traderoom-layout-8 .digital .tol-tradebox-right{
        padding-top: 25px;
        float: left;
    }
    #tol-traderoom-layout-8 .ticks .tol-tradebox-right {
        padding-top: 25px;
        float: left;
    }
    #tol-traderoom-layout-8 .form-group.turboBinary{
        position: relative;
        right: 0;
    }
    
    #tol-traderoom-layout-8 .turboBinary .tol-chart-header .col-xs-3.col-lg-2{
        width: 48% !important;
    }
    #expireTurbo-tradologic{
        /*height: 50px;*/
        padding: 18px 0 0 20px;
    }
    #tol-traderoom-layout-8 .tol-no-options.tol-chart-overflow{
        max-height: unset !important;
    }
    #tol-traderoom-layout-8 .ticks .tol-tradebox-close-button{
        left: 270%;
    }
    #tol-traderoom-layout-8 .ticks .tradeAreaExecutedTrade {
        padding-top: 25px;
        float: left;
    }
}
@media (max-width: 1200px) {
  .buttonBetaWrapper.clearfix:before {
    right: 22%;
  }
  .buttonAlphaWrapper.clearfix:before {
    right: 20%;
  }
  .turboBinary .buttonBetaWrapper.clearfix:before {
    right: 12%;
  }
  .turboBinary .buttonAlphaWrapper.clearfix:before {
    right: 12%;
  }
  
}
@media (max-width: 1000px) {
  .buttonBetaWrapper.clearfix:before {
    display: none;
  }
  .buttonAlphaWrapper.clearfix:before {
    display: none;
  }
}
#tol-traderoom-layout-8 .hasDatepicker.advancedDurationDatePicker {
    margin-top:10px;
}
.tol-help-btn {
    padding: 8px 10px;
    margin-left: 10px;
    position: relative;
    top: -1px;
}
.form-group.turboBinary {
    position: absolute;
    right: -418px;
    float: right;
}
.turboBinary .tol-help-btn {
    top: 1px;
}
.helpContainer {
    opacity: .75;
    background: #BCBCBD;
    width: 100%;
    /*height:100%;*/
    position: absolute;
    z-index: 11111;
    border-radius: 3px;
}

.helpContainerLabels1, .helpContainerLabels2 {
    width: 100%;
    height: 100%;
    z-index: 11112;
    color: #000000;
    position: absolute;
    background: #bcbcbd;
    opacity: 0.75;
}

    .helpContainerLabels1 div, .helpContainerLabels2 div {
        font-size: 20px;
        display: inline-block;
        font-family: 'HandSean',Arial,sans-serif;
        position: absolute;
        min-width: 150px;
    }

.helpChooseAssetBG {
    width: 30px;
    height: 32px;
    display: inline-block;
    position: absolute;
    background: url(/wp-content/themes/tol-parent/images/help-sprite-dark.png);
    top: 170px;
    left: 211px;
}

.helpChooseAsset {
    top: 195px;
    left: 250px;
    width: 150px;
}

.helpChooseExpiryBG {
    width: 30px;
    height: 32px;
    display: inline-block;
    position: absolute;
    background: url(/wp-content/themes/tol-parent/images/help-sprite-dark.png);
    top: 31px;
    left: 600px;
}

.helpChooseExpiry {
    top: 55px;
    left: 632px;
}

.helpPayout {
    top: 71px;
    right: 95px;
}

.helpPayoutBG {
    width: 26px;
    height: 40px;
    display: inline-block;
    position: absolute;
    background: url(/wp-content/themes/tol-parent/images/help-sprite-dark.png);
    background-position: -46px -107px;
    right: 122px;
    top: 35px;
}

.helpChooseDirBG {
    width: 40px;
    height: 171px;
    display: inline-block;
    position: absolute;
    background: url(/wp-content/themes/tol-parent/images/help-sprite-dark.png);
    background-position: -74px 0;
    left: 709px;
    top: 110px;
}

.helpChooseDir {
    left: 760px;
    top: 170px;
}

.helpInvestAmountBG {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    background: url(/wp-content/themes/tol-parent/images/help-sprite-dark.png);
    background-position: -46px -113px;
    left: 575px;
    top: 145px;
}

.helpExecuteTradeBG {
    width: 42px;
    height: 20px;
    display: inline-block;
    position: absolute;
    background: url(/wp-content/themes/tol-parent/images/help-sprite-dark.png);
    background-position: 0 -155px;
    left: 670px;
    top: 200px;
}
    .oneTouch .helpExecuteTradeBG,
    .turboBinary .helpExecuteTradeBG,
    .touch .helpExecuteTradeBG,
    .range .helpExecuteTradeBG {
            top: 195px;
    }
    
    .knockin .helpExecuteTradeBG{
        top: 230px;
    }
    
    .knockin .helpExecuteTrade{
        top: 225px;
    }

.helpAutoTradeBG {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    background: url(/wp-content/themes/tol-parent/images/help-sprite-dark.png);
    background-position: -46px -113px;
    left: 170px;
    top: 190px;
}

.helpInvestAmount {
    top: 175px;
    left: 488px;
}

.helpExecuteTrade {
    top: 195px;
    left: 715px;
}
    .oneTouch .helpExecuteTrade,
    .turboBinary .helpExecuteTrade,
    .touch .helpExecuteTrade,
    .range .helpExecuteTrade {
        top: 190px;
        left: 715px;
    }

.helpReturnBG {
    width: 46px;
    height: 42px;
    display: inline-block;
    position: absolute;
    background: url(/wp-content/themes/tol-parent/images/help-sprite-dark.png);
    background-position: 0 -288px;
    left: 557px;
    bottom: 40px;
    -ms-transform: rotate(99deg);
    -webkit-transform: rotate(99deg);
    transform: rotate(99deg);
}
    .oneTouch .helpReturnBG,
    .turboBinary .helpReturnBG,
    .touch .helpReturnBG,
    .range .helpReturnBG {
        bottom: 33px;
    }

.helpReturn {
    bottom: 11px;
    left: 520px;
}

.helpNavActive {
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 3px;
}

.helpNav {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 3px;
}

.navNext, .navClose {
    text-transform: uppercase;
    font-size: 12px;
    padding: 3px 5px;
    position: absolute;
    right: 4px;
    cursor: pointer;
    top: -15px;
}

.navLeft {
    width: 15px;
    height: 33px;
    background: url(/wp-content/themes/tol-parent/images/hand-buttons-dark.png);
    display: inline-block;
    background-position: 0 -35px;
    line-height: 33px;
}

.navMid {
    width: auto;
    height: 33px;
    background: url(/wp-content/themes/tol-parent/images/hand-buttons-dark.png);
    display: inline-block;
    background-position: 0 -69px;
    line-height: 33px;
}

.navRight {
    width: 15px;
    height: 33px;
    background: url(/wp-content/themes/tol-parent/images/hand-buttons-dark.png);
    display: inline-block;
    background-position: 0 -1px;
    line-height: 33px;
}

.navWrapper {
    margin-left: 49%;
    bottom: 10px;
    width: 51%;
}
.helpWrapper {
    position: absolute;
    top: 251px;
    height: 409px;
    width: 100%;
}
.browser-edge .toolsHeader {
  position: relative;
  top: -15px;
}
.browser-edge .signalStrength.percWrap {
  margin-top: -15px;
}
@media screen and (max-width: 1600px) and (min-width: 700px) {

    div#expireTurbo-tradologic {
    width: 100%;
    min-width: 300px;
    }

}
@media screen and (max-width: 1300px) and (min-width: 800px) {
    .tol-asset-table-wrapper{
        width: 30%;
    }
    .col-sm-7.col-md-9.nopadding{
        width: 70%;
    }
    .tol-rate-label span.form-control{
        padding: 10px 6px;
    }
    .turboBinary .tol-help-btn{
        top: -1px !important;
    }
    .rate span{
        float: left;
        width: 71px !important;
        font-size: 11px;
        line-height: 10px;
    }
    .browser-firefox .rate span{
        width: 62px !important;
    }
    #tol-traderoom-layout-8 .tol-tradebox-close-button{
        right: 5px;
    }
    .tol-traderoom-wrapper.col-sm-10{
        width: 75%;
    }
    .tol-traderoom-wrapper.col-sm-2{
        width: 25%;
    }
    .tol-opentrades-table .table > thead > tr > th,
    .tol-opentrades-table .table > tbody > tr > td{
        padding: 5px 2px;
    }
    .tol-assets-table .table > thead > tr > th,
    .tol-assets-table .table > tbody > tr > td{
        padding: 8px 3px;
    }
    .navigationContainerPeriod{
        left: 16px;
    }
    .chartNavigationPeriod{
        font-size: 10px;
        font-weight: normal;
        width: 39px;
    }
    #tol-traderoom-layout-8 #closeTradesDDLWrap,
    #tol-traderoom-layout-8 #closeTradesDDLWrap select{
        max-width: 188px;
    }
    #tol-traderoom-layout-8 .tol-no-options,
    #tol-traderoom-layout-8 .tol-no-options span{
        float:left;
        min-height: 70px;
    }
    .oneTouch .widgetRateAlpha .targetLblContent.price {
        text-align: center;
    }
    .tol-bonuses{
        height: 360px !important;
        width: 330px;
    }
    #tol-header-layout-1 .dropdown-bonus{
        min-width: 330px !important;
    }
    .helpChooseDirBG{
        left: 470px;
    }
    .helpChooseDir{
        left: 520px;
    }
    .helpChooseExpiryBG{
        left: 420px;
    }
    .helpChooseExpiry{
        left: 454px;
    }
    .helpInvestAmountBG{
        left: 297px;
        top: 155px;
    }
    .helpInvestAmount{
        left: 252px;
        top: 185px;
    }
    .helpExecuteTradeBG{
        left: 480px;
    }
    .helpExecuteTrade{
        left: 530px;
    }
    .helpReturnBG{
        left: 355px;
    }
    .helpReturn{
        left: 325px;
    }
}
.widgetInvestAmount {
    font-size:13px;

}
@media (max-width: 1366px) {
    .returnHighAmount,
    .returnLowAmount  {
      font-size: 11px;
    }
	#tol-traderoom-layout-8 .digital .tol-tradebox-right .btn-primary {
		padding-top: 5px;
		padding-bottom: 5px;
		margin: 7px 0;
	}
}
.knockin-padding {
    top: 10px;
}
.lang-fr label[for="assetFilterCustom_type_4"]{
    font-size: 10px;
    line-height: 23px;
    padding: 0 !important;
}

/* Walkthrough responsive */
@media screen and (max-width: 1500px) and (min-width: 1310px) {
    .helpChooseExpiryBG{
        left: 31%;
    }
    .helpChooseExpiry{
        left: 30%;
    }
    .helpChooseDirBG{
        left: 37%;
    }
    .helpChooseDir{
        left: 41%;
    }
    .helpInvestAmountBG{
        left: 30%;
    }
    .helpInvestAmount{
        left: 27%;
    }
    .helpExecuteTradeBG{
        left: 37%;
    }
    .helpExecuteTrade{
        left: 40%;
    }
    .helpReturnBG{
        left: 29%;
    }
    .helpReturn{
        left: 27%;
    }
    .navigationContainerPeriod{
        width: 94.3%;
    }
}

#forexTradePopup #forexTraidMain .left select{
    background: #292828;
    border:none;
    color: #ffffff;
    padding: 5px 10px;
    outline: 0;
    width: 140px;
}
.turboBinary .navigationContainerPeriod {
    display: inline-block;
    line-height: 22px;
    margin-left: 2px;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    width: 96.3%;
    top: 0;
}
.returnHighAmount, .returnLowAmount{
    font-size: 12px;
}
div[data-widget="compliance"] div.row.btn-primary:hover{
    background: #21B24B !important;
}
div[data-widget="compliance"] div.row.btn-primary ul li:hover{
    background: #1A883A;
}
.OpenTradeAction{
    text-transform: capitalize;
}

#tab4 .tournamentsWrapper .tournamentsBack{
    margin: 10px 0 0 20px;
    position: absolute;
    z-index: 10;
    width: 240px;
}
#tab4 .tournamentsWrapper .tournamentsBackImage {
  position: absolute;
  width: 100%;
  height: 275px;
  background: #041237 url('/wp-content/themes/tol-parent/images/tournaments-open-trades.jpg') no-repeat top right;
  z-index: 1;
}
#tol-traderoom-layout-8 .tournamentDetailsTraderoomWrapper{
    display: none;
}

@media (max-width: 1366px) and (orientation:landscape) {
  .widgetButtonForexTrade.isMore, .widgetButtonForexTrade.isLess {
    padding: 5px;
    background-position: 10% 15%;
  }
}

@media (orientation:portrait) {
  .widgetButtonForexTrade.isMore, .widgetButtonForexTrade.isLess {
    text-align: center !important;
  }
}