﻿.orders-trades-table table tr td {
  text-align: center;
}
.exchangeCancelbtn {
  background: transparent;
  border-radius: 5px;
  border: 1px solid #282D4F;
  padding: 0px 10px 1px;
  height: 28px;
  color: #6B6E77;
}
.exchangeCancelbtn:hover {
  border: 1px solid #6dd672;
  color: #6dd672;
}
.exchangeEditlbtn {
  width: 30px;
  height: 28px;
  margin-left: 5%;
  border-radius: 5px;
  background: url('/wp-content/themes/tol-child/images/edit_icon.png') no-repeat center;
  padding: 0px 10px 7px;
  border: 1px solid #282D4F;
  color: #6B6E77;
  cursor: pointer;
}
.exchangeEditlbtn:hover {
  border: 1px solid #6dd672;
  color: #6dd672;
  background: url('/wp-content/themes/tol-child/images/edit_icon_green.png') no-repeat center;;
}

.assetssearch-wrapper {
  margin: 20px 0;

}
.widget-assetsSearch {
  width: 90%;
  background: #1F2539;
  border: 1px solid #282B48;
  color: #FFF;
  padding: 10px 15px ;
  margin: 0 5%;
}
.assetsSearch-dropdown{
  position: absolute;
  min-height: 30px;
  width: 90%;
  overflow-y: scroll;
  border: solid 1px #242743;
  padding: 0;
  background: #1c1f35;
  z-index: 9;
}
.assetsSearch-option{
  cursor: pointer;
  color: white;
  padding: 5px 10px;
}
.assetsSearch-option:hover {
  background: #353a62;
}
.assetsSearch-option.selected{
  background: #353a62;
}

hr {
  height: 5px;
  margin:20px;
}
.widget-exchangeAssetsList {
  color: white;
  max-height: 83%;
}
.widget-exchangeStrikeList, .widget-exchangePopularAssetsList {
  background-color: #1C2030;
  color: white;
  max-height: 82%;
  overflow: auto;
}
.widget-exchangeStrikeList {
  max-height: 66%;
}
.binaryExchange-assets-row {
  height: 43px;
  line-height: 34px;
  padding: 5px;
  border: 1px solid #282B48;
  border-right: 0;
  background-color: #1F2539;
}
.binaryExchange-assets-row:hover{
  background-color: #353a62;
  cursor: pointer;
}
.binaryExchange-assets-row.down {
  border-left: 3px solid #BC253A;
}
.binaryExchange-assets-row.up {
  border-left: 3px solid #43A14A;
}
.binaryExchange-assets-box {
  height:143px;
}
.binaryExchange-assets-box.up {
  .row-name-rate, .row-expiry {
    border-left: 3px solid #43A14A;
  }
}
.binaryExchange-assets-box.down {
  .row-name-rate, .row-expiry {
    border-left: 3px solid #BC253A;
  }
}
.option-name {
  color: white;
  font-weight:600;
  font-size: 15px;
  width:auto;
}
.option-name, .marketrate, .option-expiry, .option-expiryddl {
  display:inline-block;
}
.marketrate{
  width:90px;
  float: right;
}
.option-expiry{
  color: #f0f0f1;
  font-weight:400;
  font-size: 13px;
  text-transform: uppercase;
}
.option-expiryddl, .marketrate {
  color: #f0f0f1;
  text-align: right;
}
.option-direction{
  width: 10px;
  left: 10px;
}
.option-expiryddl{

}
.expiryddl-container {
  cursor: pointer;
  position:absolute;
  top: 5px;
  right: 15px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #21284E;
  padding: 0 25px 0 8px;
  background: #181E2B url('/wp-content/themes/tol-child/images/dropdown.png') no-repeat 90% center;
  width: 70px;
}
.be-expiry-ddl-option{
  cursor: pointer;
}
.expiryddl-container .be-expiry-ddl-option {
  width: 70px;
  background: #353A62;
  text-align: center;
  position: relative;
  left: -9px;
  z-index: 9;
  border: 1px solid #21284E;
  border-bottom: 0;
}
.expiryddl-container .be-expiry-ddl-option:hover {
  background: #353A62;
}
.expiryddl-container .be-expiry-ddl-option:nth-of-type(1) {
  margin-top: -2px;
}
.expiryddl-container .be-expiry-ddl-option:nth-last-of-type {
  border-bottom: 1px solid #21284E;
}
.bx-asset-backbtn{
  cursor: pointer;
  height: 43px;
  background-color: #282D4F;
  color: #717D9E;
  border-bottom: 1px solid #1C2030;
}
.row-name-rate, .row-expiry {
  height: 40px;
  line-height: 40px;
  background-color: #353A62;
}
.row-expiry {
  height: 60px;
  padding: 10px 0;
}
.option-direction.up, .option-direction.down {
  width: 10px;
  height: 13px;
  top: 10px;
}
.row-name-rate {
  .option-direction.up, .option-direction.down {
    top: 13px;
  }
}
.option-direction.up {
  color: green;
  background-image: url('/wp-content/themes/tol-parent/images/forex/up.png');
  background-repeat: no-repeat;
}
.option-direction.down {
  color: red;
  background-image: url('/wp-content/themes/tol-parent/images/forex/down.png');
  background-repeat: no-repeat;
}
.bx-strike-row {
  background-color:#1C2030;
  font-size: 12px;
  height: 60px;
  border-top: 1px solid #272B49;
  line-height: 60px;
}
.bx-strike-row:hover {
  background-color:#111521;
}
.bx-action-box {
  border: 1px solid #272B49;
  background: #262A48;
  cursor: pointer;
  height: 53px;
  line-height: 53px;
  margin: 3px 0;
  text-align: center;
  font-size: 15px;
}
.bx-action-box:hover, .bx-action-box.isClicked {
  background: #00B9ED;
  border: 1px solid #272B49;
}
.bx-action-box.up{
  color: #01FF36;
}
.bx-action-box.down{
  color: #FF0101;
}
.row-back-icon {
  font-size: 30px;
  padding-right: 10px;
  padding-top: 7px;
  background-image: url('/wp-content/themes/tol-child/images/back.png');
  width: 26px;
  height: 26px;
  position: relative;
  top: 9px;
  left: 7px;
}
.back-text{
  font-size: 18px;
  padding-top: 11px;
}
.bet-slip-wrapper{

}
.bx-strikes-header {
  text-align: center;
  padding: 7px 0;
  height: 34px;
  color: #80838C;
}
.bx-noPrices {
  padding: 10px;
  padding-top: 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.widget-exchangeTradebox{
  color: white;
  height: 100%;
  z-index: 1;
  background: #1c2031;
  width: 355px;
  float: right;
}
.bx-sell-qty {
  padding-right: 0;
  text-align: center;
}
.bx-tradebox{
  margin-left: 0;
}
.limit-price {
  margin: 10px -5px 0px;
  padding: 5px;
  height: 40px;
  font-size: 15px;
}
.ordertype-limit-price-label, .ordertype-quantity-label {
  color: #7B7D82;
  font-size: 15px;
}
.market-price-lebel {
  display: inline-block;
  width: auto;
}
.market-price-lebel.price-value {
  color: #00BFF3;
  font-weight: bold;
}
.limit-price .market-price-lebel:nth-of-type(1) {
  padding-right: 10px;
}
.ordertype-limit-price, .ordertype-quantity {
  height: 65px;
}
.ordertype-limit-price {
  margin-bottom: 10px;
}
.limitprice-input, .quantity-input, .add, .subtract {
  display: inline-block;
}
.limitprice-input, .quantity-input {
  border: 2px solid #474D77;
  background: transparent;
  border-radius: 5px;
  height: 46px;
  font-size: 21px;
}
.ordertype-limit-price .popover-content, .ordertype-quantity .popover-content{
  color: #BC253A;
}
.buy-btn, .cancel-btn {
  color: white;
  border-radius: 15px;
  margin: 5px;
}
.buy-btn {
  background-color: #00BFF3;
  font-size: 3ex;
  font-weight: 600;
}
.cancel-btn{
  border: none;
  font-size: 2ex;
  font-weight: 400;
  background-color: #181E2B;
  margin-top: 11px;
  color: #BBBBBB;
}
.cancel-btn:hover{
  background-color: #181E2B;
  color: #FFF;
}
.btn-primary.add, .btn-primary.subtract {
  font-size: 40px;
  line-height: 30px;
  padding: 0;
  text-align: center;
  width: 47px;
  height: 46px;
  background: transparent;
  border: 2px solid #474D77;
  color: #474D77;
}
.max-profit-label, .max-profit, .max-loss-label, .max-loss {
  color: #BBB;
  font-size: 15px;
}
.max-loss, .max-profit {
  font-weight: bold;
}
.max-profit-wrapper {
  margin: 10px 0 30px 0;
  font-weight: normal;
}
.btn-primary.add {
  margin: 0 5px 0 32px;
}
.close-button{
  float: right;
  color: white;
}
.limit-btn-container {
  cursor: pointer;
  position:absolute;
  top: 5px;
  right: 15px;
}
.market{
  margin-bottom: 10px;
}
.limit-options-container {
  position: absolute;
  width: 137px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  background-color: #337ab7;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 2;
  top: 23px;
}
.be-limitprice-option {
  height: 54px;
  vertical-align: bottom;
  padding: 5px;
  line-height: 57px;
  z-index: 9;
  position: relative;
  background: #41456A;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.exchangeOrders{
  color:#D2D2D2;
  width: 100%;

}
.be-order, .be-trades {
  background: #181E2B;
  height: 90%;
  color: #FFF;
}
.exchangeOrders tbody tr {
  height: 46px;
}
table.exchangeTrades tbody, table.exchangeOrders tbody {
  display: block;
  height: 250px;
  overflow-y: scroll;
  color: #FFF;
}
table.exchangeTrades thead, table.exchangeTrades tbody tr, table.exchangeOrders thead, table.exchangeOrders tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.be-orders-menu, .be-trades-menu{
  padding: 18px 5px;
  display: inline-block;
  color: white;
  cursor: pointer;
  min-width: 125px;
  height: 10%;
  text-align: center;
}
.be-orders-menu {
  background: url('/wp-content/themes/tol-child/images/orders.png') no-repeat 12px 18px;
  margin-left: 15px;
}
.be-trades-menu {
  background: url('/wp-content/themes/tol-parent/images/forex/traders.png') no-repeat 20px 22px;
}

.be-orders-menu.active, .be-trades-menu.active {
  background-color: #181E2B;
  border: 1px solid #282D4F;
  border-radius: 3px;
  margin-top: 7px;
  margin-bottom: 7px;
  height: 30px;
  padding: 5px;
}
.be-orders-menu.active {
  background: #181e2b url('/wp-content/themes/tol-child/images/orders.png') no-repeat 11px 5px;
}
.be-trades-menu.active {
  background: #181e2b url('/wp-content/themes/tol-parent/images/forex/traders.png') no-repeat 19px 9px;
}
.account .counter {
  display: inline-block;
  position: relative;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #777777;
  border-radius: 10px;
  left: -28px;
  top: 0px;
  height: auto ;

}
.counter.active {
  background-color: #4AB650;
}

.asset-table-list {
  background: #1C2030;
  height: 100%;
  z-index: 1;
  border: 1px solid #282D4F;
  border-left: 0;
  padding: 0;
  width: 320px;
}
.white-theme .asset-table-list {
  background: #EAEAEA;
  border: 0;
  position: absolute;
}
.middle-part-wrapper {
  padding-left: 325px;
  width: 100%;
  position: absolute;
}
.highcharts-background {
  fill: transparent;
}
.highcharts-container {
  background: url('/wp-content/themes/tol-child/images/chart_back.png') 21px 0 repeat;
}
.lastPriceIndicator > path:first-child {
  stroke: #2D8F2A;
}
.lastPriceIndicator > path + path {
  fill: #2D8F2A;
  stroke: #2D8F2A;
  stroke-width: 1px;
}
.chartWidget.chartv2, .orders-trades-table {
  background: #1F2539;
}
.orders-trades-table {
  /*margin-top: 5px;*/
  padding: 0px;
  /*height: 100%;*/
  overflow-x: scroll;
  overflow-y: hidden;
  border: 1px solid #181F3E;
  border-bottom: 0;
}
g.highcharts-grid path {
  stroke: transparent;
}
.close-button-row {
  height: 70px;
}
button.close {
  background: url('/wp-content/themes/tol-child/images/close.png') no-repeat center;
  width: 27px;
  height: 27px;
  top: 20px;
  right: 20px;
}
button.close span {
  display: none;
}
button.close:hover{
  border: 0;
  top: 20px;
  right: 20px;
}
.asset-name {
  font-size: 34px;
  letter-spacing: 0.08em;
  font-weight: 500;
}
.asset-strike {
  font-size: 20px;
  margin: 4px 0 10px;
}
.asset-strike, .asset-expiry {
  color: #fff;
}
.asset-data-row {
  border-bottom: 2px solid #303653;
  margin-bottom: 20px;
}
.btn.market-btn {
  background: transparent;
  border-radius: 15px;
  border: 3px solid #474D77;
  padding: 6px 12px;
  color: #FFFFFF;
  min-width: 137px;
}
.market-btn.selected,  .btn.limit-btn.selected {
  background: #474D77;
  border-color: #474D77;
  padding: 6px 12px;
}
.btn.market-btn:active, .btn.market-btn:focus, .btn.market-btn:focus:active {
  border-color: #494D76;
}
.btn.market-btn:focus {
  outline: none;
}
.btn.limit-btn {
  background: transparent;
  border: 3px solid #494D76;
  border-radius: 15px;
  z-index: 3;
  position: relative;
  min-width: 137px;
}
.btn.market-btn:active, .btn.market-btn:focus, .btn.market-btn:focus:active {
  border-color: #494D76;
}
.btn.limit-btn {
  background: transparent;
  border-radius: 15px;
  z-index: 3;
  position: relative;
  min-width: 137px;
}
.btn.limit-btn:hover, .btn.limit-btn:active, .btn.limit-btn:focus {
  border-color: #494D76;
}
.btn.limit-btn:focus {
  outline: none;
}
.noppading {
  padding-right: 0;
  padding-left: 0;
}
.asset-expiry {
  background: url('/wp-content/themes/tol-child/images/clock.png') no-repeat left;
  text-indent: 20px;
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 15px;
}
.rate-second-part {
  font-size: 18px;
}
.panel {
  border-radius: 0;
}
div ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
div ::-webkit-scrollbar-track {
  background: rgba(54, 60, 78, 0.1);
}
div ::-webkit-scrollbar-thumb {
  background: rgba(54, 60, 78, 0.5);
}
.ordertype-quantity input[type=number]::-webkit-inner-spin-button,
.ordertype-limit-price input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.ordertype-quantity input[type="number"],
.ordertype-limit-price input[type="number"]{
  -moz-appearance: textfield;
}
.bx-strike-row .bx-buy, .bx-strike-row .bx-sell {
  padding-left: 7px;
  padding-right: 7px;
}
.notifyjs-corner {
  z-index: 99999999 !important;
  top: 57px !important;
  margin: 0 !important;
}
.notifyjs-corner .notifyjs-wrapper,
.notifyjs-corner .notifyjs-container {
  margin-right: 0 !important;
}
.notifyjs-positive-base {
  width: 340px;
  height: 100px;
  background: #f9a134 url(/wp-content/themes/tol-parent/images/forex/order_executed.png) no-repeat 15px center;
  border: 1px solid #000000;
}
.notifyjs-neutral-base {
  width: 340px;
  height: 85px;
  background: rebeccapurple;
}
.notifyjs-negative-base {
  width: 340px;
  height: 100px;
  background: red url(/wp-content/themes/tol-parent/images/forex/order_failed.png) no-repeat 15px center;
  border: 1px solid #000000;
}
#notification-content {
  padding: 5px;
  padding-top: 25px;
  cursor: pointer;
}
.notification-close {
  width: 20px;
  height: 20px;
  text-align: center;
  float: right;
  background: rgba(0,0,0,0.2);
  color: white;
  cursor: pointer;
}
.popover {
  border: 1px solid #f9a134;
  padding: 0;
}
.popover.left {
  margin-left: -10px;
}
.popover.right {
  color: white;
}
.popover.left>.arrow {
  top: 50% !important;
}
.popover.left>.arrow:after {
  border-left-color: #f9a134;
}
.popover.bottom>.arrow:after {
  border-bottom-color: #f9a134;
}
.popover-content {
  background: #f9a134;
  border: 1px solid #f9a134;
  border-radius: 3px;
}
.notifyjs-positive-base .title,
.notifyjs-neutral-base .title,
.notifyjs-negative-base .title {
  font-family: Roboto;
  color: white;
  font-size: 23px;
  line-height: 14px;
}
.notifyjs-positive-base .content,
.notifyjs-neutral-base .content,
.notifyjs-negative-base .content {
  font-family: Roboto;
  color: white;
  font-size: 13px;
  margin-top: 0;
  opacity: 0.8;
  padding-left: 70px;
}
.notification-header {
  font-family: 'lato-regular';
  font-size: 17px;
  text-transform: uppercase;
}
.notification-body {
  font-size: 15px;
  font-family: lato-light;
}

@media screen and (max-width: 1600px) and (min-width: 1024px) {
  #tol-traderoom-layout-20 .option-name {
    font-size: 13px;
    width: 120px;
  }
  #tol-traderoom-layout-20 .marketrate {
    font-size: 12px;
  }
  #tol-traderoom-layout-20 .btn-primary.add {
    margin: 0 3px;
  }
  .btn.market-btn, .btn.limit-btn {
    min-width: 100%;
  }
  .logged #tol-header-layout-21 .container-fluid .row > div:nth-child(3).userbarContainer {
    width: 95% !important;
  }
  #tol-traderoom-layout-20 .exchangeOrders thead tr th {
    font-size: 13px;
  }
  #tol-header-layout-21 .navbar-default .navbar-nav > li > a {
    font-size: 17px !important;
  }
  .logged .userbarContainer {
    margin-left: 0 !important;
  }
}
@media (width: 1024px) {
  #tol-traderoom-layout-20 table.exchangeTrades thead, #tol-traderoom-layout-20 table.exchangeTrades tbody tr, #tol-traderoom-layout-20 table.exchangeOrders thead, #tol-traderoom-layout-20 table.exchangeOrders tbody tr {
    font-size: 13px;
  }
  #tol-traderoom-layout-20 .widget-exchangeTradebox {
    z-index: 99999991;
    background: #181E2B;
    position: absolute;
    right: 0;
    width: 335px;
  }
  .lang-ja #tol-traderoom-layout-20 .exchangeOrders thead tr th {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .asset-name {
    font-size: 25px;
  }
  .asset-strike {
    font-size: 17px;
  }
  .asset-data-row {
    margin-bottom: 10px;
  }
  #tol-traderoom-layout-20 .limit-price {
    margin-top: 0;
  }
  #tol-traderoom-layout-20 .limitprice-input, #tol-traderoom-layout-20 .quantity-input {
    border: 1px solid #474D77;
    height: 30px;
    font-size: 15px;
  }
  #tol-traderoom-layout-20 .btn-primary.add, #tol-traderoom-layout-20 .btn-primary.subtract {
    font-size: 32px;
    line-height: 26px;
    height: 30px;
    border: 1px solid #474D77;
  }
  #tol-traderoom-layout-20 .ordertype-limit-price {
    margin-bottom: 0;
    height: 30px;
  }
  .widget-exchangeTradebox {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 9999999 !important;
    background: #181E2B;
  }
}
@media (width: 768px) {
  .widget-exchangeTradebox {
    width: 400px;
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999 !important;
    background: #181E2B;
  }
}
@media (max-width: 320px) {
  #tol-traderoom-layout-20 .btn-primary.add {
    margin: 0 5px 0 20px;
  }
}
@media (max-width: 768px) {
  #tol-traderoom-layout-20 .be-orders-menu, #tol-traderoom-layout-20 .be-trades-menu {
    height: 45px;
  }
  .navbar-header.col-sm-2 {
    width: 100%;
  }
  .orders-trades-table {
    min-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  #tol-traderoom-layout-20 .exchangeOrders thead tr th {
    font-size: 12px;
  }

  .be-trades th:nth-child(4),
  .be-trades tbody tr td:nth-child(4){
    display: table-cell !important;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  #tol-login-popup .modal-dialog {
    position: absolute;
    left: 22%;
    top: 15%;
    width: 20% !important;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
  .close-button-row {
    height: 10px;
  }

  .max-profit-wrapper {
    margin: 0 0 10px 0 !important;
  }
}

#tol-traderoom-layout-20 table.exchangeOrders tbody tr:nth-child(even){
  background: #21273d;
}
table.exchangeTrades tbody, table.exchangeOrders tbody{
  background: transparent !important;
}

// Exchange Assets Menu styles //
.assets-menu-wrapper {
  color: #59627C;
  height: 50px;
  margin: 0;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}
.assets-popular, .assets-list, .assets-search {
  display: inline-block;
  border: 1px solid #282B48;
  height: 50px;
  padding-top: 30px;
  cursor: pointer;
}
.white-theme .assets-popular,
.white-theme .assets-list,
.white-theme .assets-search {
  border-color: #e1e1e1;
}
//popular assets list //
.assets-popular {
  background: url('/wp-content/themes/tol-child/images/popular-assets-icon.png') no-repeat center 10px;
}
  .white-theme .assets-popular {
    background: url('/wp-content/themes/tol-parent/images/forex/white/popular-assets-icon.png') no-repeat center 10px;
    color: #81848D;
  }
.assets-popular.active, .assets-popular:hover {
  color: white;
  background: url('/wp-content/themes/tol-child/images/popular-assets-icon-active.png') no-repeat center 10px;
  border-bottom: 0;
  border-left: 0;
}
  .white-theme .assets-popular.active,
  .white-theme .assets-popular:hover {
    background: #fff url(/wp-content/themes/tol-parent/images/forex/white/popular-assets-icon-active.png) no-repeat center 10px;
    color: #000;
    border-top: 0;
  }
.assets-list {
  background: url('/wp-content/themes/tol-child/images/assets-list-icon.png') no-repeat center 10px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
  .white-theme .assets-list {
    background: url('/wp-content/themes/tol-parent/images/forex/white/assets-list-icon.png') no-repeat center 10px;
    border-left: 0;
  }
.assets-list.active, .assets-list:hover {
  color: white;
  background: url('/wp-content/themes/tol-child/images/assets-list-icon-active.png') no-repeat center 10px;
  border-bottom: 0;
  border-top: 0;
}
  .white-theme .assets-list.active,
  .white-theme .assets-list:hover {
    background: #fff url('/wp-content/themes/tol-parent/images/forex/white/assets-list-icon-active.png') no-repeat center 10px;
    color: #000;
  }
.assets-search {
  background: url('/wp-content/themes/tol-child/images/search-icon.png') no-repeat center 10px;
}
.assets-search.active, .assets-search:hover {
  color: white;
  background: url('/wp-content/themes/tol-child/images/search-icon-active.png') no-repeat center 10px;
  border-bottom: 0;
}
.bx-buy-expiry-header {
  padding-left: 0;
  padding-right: 0;
}
.bx-popularassets-row {
  background-color:#1C2030;
  font-size: 12px;
  border-top: 1px solid #272B49;
}
.bx-popularassets-row:hover {
  background-color:#111521;
}
#tol-traderoom-layout-20 .binaryExchange-assets-row:hover {
  background-color: #353a62;
  cursor: pointer;
}
#tol-traderoom-layout-20 .bx-popularassets-row {
  background-color: #1C2030;
  font-size: 12px;
  height: 60px;
  border-top: 1px solid #272B49;
  line-height: 60px;
}
.bx-name {
  overflow: hidden;
  white-space: nowrap;
  padding-left: 5px;
  font-size: 12px;
  border-top: 1px solid #272B49;
}
.bx-popular-strike {
  text-align: center;
  font-size: 12px;
  padding: 0;
}
.bx-popular-assets-header {
  text-align: center;
  padding: 7px 0;
  height: 34px;
  color: #80838C;
}
.bx-strike-row.popular-assets .bx-sell, .bx-strike-row.popular-assets .bx-buy{
  padding-left: 0;
  padding-right: 0;
}
.bx-name {
  font-size: 12px;
  height: 60px;
  border-top: 1px solid #272B49;
  line-height: 60px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.widget-exchangeSearch{
  padding-top: 10px;
}
.lang-ja .bx-sell-strike-header {
  padding: 0;
}
.white-theme {
  #tol-traderoom-layout-20 .bx-asset-backbtn {
    background-color: #f8f8f8;
    border-bottom: 1px solid #E1E1E1;
  }
  #tol-traderoom-layout-20 .row-name-rate,
  #tol-traderoom-layout-20 .row-expiry {
    background-color: #f8f8f8;
  }
  #tol-traderoom-layout-20 .option-name,
  #tol-traderoom-layout-20 .option-expiryddl,
  #tol-traderoom-layout-20 .marketrate {
    color: #000;
  }
  #tol-traderoom-layout-20 .binaryExchange-assets-row {
    background-color: #fff;
    color: #000;
    border: 1px solid #E1E1E1;
  }
  #tol-traderoom-layout-20 .binaryExchange-assets-row.down {
    border-left: 3px solid #BC253A;
  }
  #tol-traderoom-layout-20 .binaryExchange-assets-row.up {
    border-left: 3px solid #43A14A;
  }
  .bx-name {
    border-top: 0;
  }
  #tol-traderoom-layout-20 .bx-action-box {
    background-color: #f8f8f8;
    color: #000;
    border: 1px solid #E1E1E1;
  }
  .footer-settings-icon.column-settings {
    display: none;
  }
  #tol-traderoom-layout-20 .bx-action-box:hover {
    background-color: #f9a134;
    color: #fff;
  }
  #tol-traderoom-layout-20 .bx-strike-row {
    background-color: #fff;
    color: #000;
    border-top: 1px solid #E1E1E1;
  }
  #tol-traderoom-layout-20 .assetssearch-wrapper {
    background: #fff;
    padding: 15px 0;
    margin: 0;
  }
  #tol-traderoom-layout-20 .widget-assetsSearch {
    background: #fff;
    border: 1px solid #E1E1E1;
    color: #000;
    height: 30px;
  }
  #tol-traderoom-layout-20 .widget-exchangeStrikeList,
  #tol-traderoom-layout-20 .widget-exchangePopularAssetsList {
    background: #fff;
  }
  .bx-popular-assets-header {
    color: #AAACB2;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  #tol-traderoom-layout-20 {
    .widget-exchangeStrikeList,
    .widget-exchangePopularAssetsList {
      max-height: 92%;
    }
    .be-order,
    .be-trades {
      height: 86%;
    }
    table.exchangeTrades tbody, table.exchangeOrders tbody {
      height: 230px;
    }
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  #tol-traderoom-layout-20 {
    .be-order,
    .be-trades {
      height: 83%;
    }
    table.exchangeTrades tbody, table.exchangeOrders tbody {
      height: 180px;
    }
  }
}

.white-theme {
	.bx-action-box.down{
		color: #FF0101 !important;
	}
    .bx-action-box.up{
		color: #01FF36 !important;
	}
	.chartWidget.chartv2, .orders-trades-table {
		background: white;
	}
	#tol-traderoom-layout-20 .be-orders-menu.active {
		background: white url(/wp-content/themes/tol-child/images/orders_dark.png) no-repeat 18px 9px;
		color: gray;
		padding-top: 9px;
		padding-bottom: 22px;
		margin-left: 0px;
		border-top: 1px solid lightgray;
		border-left: 1px solid lightgray;
		border-right: 1px solid lightgray;
		border-bottom: none;
		background-size: 15px 15px;
	}
	#tol-traderoom-layout-20 .be-order, #tol-traderoom-layout-20 .be-trades {
		background: white;
	}
	th {
		text-align: left;
		color: gray;
		font-weight: 500;
		padding-left: 10px;
		padding-top: 3px;
		padding-bottom: 3px;
		border-bottom: 1px solid lightgray;
		
	}
	#tol-traderoom-layout-20 .be-trades-menu {
		background: white url(/wp-content/themes/tol-parent/images/forex/traders_dark.png) no-repeat 15px 12px;
		color: gray;
		padding-bottom: 22px;
		padding-top: 9px;
		border-top: 1px solid lightgray;
		border-left: 1px solid lightgray;
		border-right: 1px solid lightgray;
	}
	#tol-traderoom-layout-20 .assetsSearch-option {
		cursor: pointer;
		color: gray;
		padding: 5px 10px;
		background: #F2F2F2;
		border: none;
	}
	#tol-traderoom-layout-20 .assetsSearch-dropdown {
		border: solid 1px lightgray;
		background: #F2F2F2;
		margin-left: 16px;
	}
	#tol-traderoom-layout-20 .assetsSearch-option:hover {
		background: #FF9223;
		color: white;
	}
	#tol-traderoom-layout-20 .expiryddl-container {
		background: #F2F2F2 url(/wp-content/themes/tol-child/images/dropdown.png) no-repeat 90% center;
		color: gray;
		border: 1px solid lightgray;
	}
	#tol-traderoom-layout-20 .expiryddl-container .be-expiry-ddl-option {
    background: #F2F2F2;
    border: 1px solid lightgray;
	color: gray;
	}
	#tol-traderoom-layout-20 .expiryddl-container .be-expiry-ddl-option:hover {
		background: #FF9223;
		color: white;
	}	
	.fleft [data-translate="PracticeAccount"] {
		display: none;
	}
	.statusbar .statusbar-item .value {
		font-weight: 500;
		}
	.currentTimeUtcWidget[data-type="timeUTC"][data-widget="currentDateTime"], .utctime.label {
		font-size: 10px;
		font-weight: 100;
	}
    .equity-item {
        line-height: 30px;
        margin: 0;
        width: 100%;
        display: block;
        float: left;
        text-align: left;
        padding: 2px 0px;
    }
	.statusbar .current-time {
		margin-top: -29px;
		margin-left: 160px;
		width: 155px;
		text-align: right;
	}
	.equity-item .label {
		margin-left: 90px;
	}
	.equity-item .label {
		color: #637E99;
		font-family: 'lato-regular';
		font-size: 14px;
		font-weight: normal;
		padding: .2em .2em .2em;
	}
	
	}
	.ui-widget-overlay {
		display: none;
		background: #000;
		opacity: .6;
		z-index: 99;
	}
	