@font-face{
  font-family: "font-icons";
  src: url("/wp-content/themes/tol-parent/fonts/font-icons.eot");
  src: url("/wp-content/themes/tol-parent/fonts/font-icons.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/tol-parent/fonts/font-icons.woff") format("woff"), url("/wp-content/themes/tol-parent/fonts/font-icons.ttf") format("truetype"), url("/wp-content/themes/tol-parent/fonts/font-icons.svg#font-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'robotomedium';
  src: url('/wp-content/themes/tol-parent/fonts/roboto_medium/Roboto-Medium-webfont.eot');
  src: url('/wp-content/themes/tol-parent/fonts/roboto_medium/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/wp-content/themes/tol-parent/fonts/roboto_medium/Roboto-Medium-webfont.woff') format('woff'),
  url('/wp-content/themes/tol-parent/fonts/roboto_medium/Roboto-Medium-webfont.ttf') format('truetype'),
  url('/wp-content/themes/tol-parent/fonts/roboto_medium/Roboto-Medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('/wp-content/themes/tol-parent/fonts/roboto_regular/Roboto-Regular-webfont.eot');
  src: url('/wp-content/themes/tol-parent/fonts/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/wp-content/themes/tol-parent/fonts/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
  url('/wp-content/themes/tol-parent/fonts/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
  url('/wp-content/themes/tol-parent/fonts/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotolight';
  src: url('/wp-content/themes/tol-parent/fonts/roboto_light/Roboto-Light-webfont.eot');
  src: url('/wp-content/themes/tol-parent/fonts/roboto_light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/wp-content/themes/tol-parent/fonts/roboto_light/Roboto-Light-webfont.woff') format('woff'),
  url('/wp-content/themes/tol-parent/fonts/roboto_light/Roboto-Light-webfont.ttf') format('truetype'),
  url('/wp-content/themes/tol-parent/fonts/roboto_light/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Lato-Black';
  src: url('/wp-content/themes/tol-parent/fonts/Lato-fonts/Lato-Black.ttf');
}
@font-face{
  font-family: 'Lato-Bold';
  src: url('/wp-content/themes/tol-parent/fonts/Lato-fonts/Lato-Bold.ttf');
}
@font-face{
  font-family: 'Lato-Medium';
  src: url('/wp-content/themes/tol-parent/fonts/Lato-fonts/Lato-Medium.ttf');
}
@font-face{
  font-family: 'lato-regular';
  src: url('/wp-content/themes/tol-parent/fonts/Lato-fonts/Lato-Regular.ttf');
}
@font-face{
  font-family: 'lato-light';
  src: url('/wp-content/themes/tol-parent/fonts/Lato-fonts/Lato-Light.ttf');
}
@font-face{
  font-family: 'MinionPro-Light';
  src: url('/wp-content/themes/tol-parent/fonts/minionPro-fonts/MinionPro-Regular.otf');
}
@font-face{
  font-family: 'Helvetica-World-Bold';
  src: url('/wp-content/themes/tol-parent/fonts/HelveticaWorld-Bold.ttf');
}
@font-face{
  font-family: 'robotobold';
  src: url('/wp-content/themes/tol-parent/fonts/ROBOTO-BOLD.TTF');
}
@font-face {
  font-family: 'open_sansregular';
  src: url('/wp-content/themes/tol-parent/fonts/open_sansregular/OpenSans-Regular-webfont.eot');
  src: url('/wp-content/themes/tol-parent/fonts/open_sansregular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/tol-parent/fonts/open_sansregular/OpenSans-Regular-webfont.woff') format('woff'), url('/wp-content/themes/tol-parent/fonts/open_sansregular/OpenSans-Regular-webfont.ttf') format('truetype'), url('/wp-content/themes/tol-parent/fonts/open_sansregular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url('/wp-content/themes/tol-parent/fonts/open_sanssemibold/OpenSans-Semibold-webfont.eot');
  src: url('/wp-content/themes/tol-parent/fonts/open_sanssemibold/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/tol-parent/fonts/open_sanssemibold/OpenSans-Semibold-webfont.woff') format('woff'), url('/wp-content/themes/tol-parent/fonts/open_sanssemibold/OpenSans-Semibold-webfont.ttf') format('truetype'), url('/wp-content/themes/tol-parent/fonts/open_sanssemibold/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url('/wp-content/themes/tol-parent/fonts/open_sansbold/OpenSans-Bold-webfont.eot');
  src: url('/wp-content/themes/tol-parent/fonts/open_sansbold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/tol-parent/fonts/open_sansbold/OpenSans-Bold-webfont.woff') format('woff'), url('/wp-content/themes/tol-parent/fonts/open_sansbold/OpenSans-Bold-webfont.ttf') format('truetype'), url('/wp-content/themes/tol-parent/fonts/open_sansbold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.eot');
  src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.woff2') format('woff2'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.ttf') format('truetype'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Bold/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Semibold';
  src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot');
  src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff2') format('woff2'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff') format('woff'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.ttf') format('truetype'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Semibold/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
  src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.woff2') format('woff2'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Cond';
  src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.eot');
  src: url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.woff2') format('woff2'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.woff') format('woff'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.ttf') format('truetype'),
  url('/wp-content/themes/tol-parent/fonts/MyriadPro-Cond/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('/wp-content/themes/tol-parent/fonts/fontawesome-webfont/fontawesome-webfont.eot');
  src: url('/wp-content/themes/tol-parent/fonts/fontawesome-webfont/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('/wp-content/themes/tol-parent/fonts/fontawesome-webfont/fontawesome-webfont.woff2') format('woff2'),
  url('/wp-content/themes/tol-parent/fonts/fontawesome-webfont/fontawesome-webfont.woff') format('woff'),
  url('/wp-content/themes/tol-parent/fonts/fontawesome-webfont/fontawesome-webfontttf') format('truetype'),
  url('/wp-content/themes/tol-parent/fonts/fontawesome-webfont/fontawesome-webfont.svg#fontawesome-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MoonLight';
  src: url('/wp-content/themes/tol-parent/fonts/MoonLight.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('/wp-content/themes/tol-parent/fonts/ROBOTO-REGULAR.ttf');
  font-weight: normal;
  font-style: normal;
}
.layout {
  background: #000;
}
.pageLink, .nextPage, .prevPage, .nextPages, .prevPages {
  border: 1px solid #2D3E50;
  background: transparent;
  color: #647F9A;
  margin-left: 6px;
  width: 24px;
  height: 23px;
  text-align: center;
  line-height: 21px;
  display: inline-block;
  float: none;
  padding: 2px 0;
  font-size: 12px;
  text-decoration: none;
}
.account.easy-forex-table-wrapper {
  margin-bottom: 0;
  border-radius: 0;
  background: #131B28;
  padding: 15px;
  left: 0;
  cursor: default;
}
.sidepanel-tabs {
  padding: 5px 0;
  width: 320px;
}
#easy-forex-tab-content {
  padding: 0;
  height: 240px;
}
.boxfilter {
  background: #121B27;
  height: 60px;
  margin-bottom: 5px;
  float:left;
  position: absolute;
}
.tradearea {
  float:left;
  background: #121B27;
  padding: 15px 0 15px 15px;
  margin-top: 65px;
}
.flip-container {
  height: 200px;
  width: 305px;
  margin-right: 10px;
  margin-bottom: 9px;
  padding: 20px;
  float: left;
  border-radius: 0;
  border: 1px solid #2D3E50;
  background: #182434;
  cursor: pointer;
}
.flip-container:hover {
  background: #21539C;
  border-color: #2965C3;
}
.tradearea-box-title {
  font-size: 20px;
  font-family: 'robotoregular';
  position: relative;
  height: 56px;
  overflow: hidden;
  color: #fff;
}
.tradearea-box-title.single {
  text-align: center;
}
.left-part {
  display: inline-block;
  width: 113px;
  padding: 35px 20px 25px 0;
  border-right: 1px solid #2F3E50;
  height: 158px;
  float: left;
}
#tol-trade-popup .left-part {
  width: 112px;
}
.right-part {
  display: inline-block;
  height: 160px;
  padding: 15px 0 25px 20px;
  width: 150px;
}
.flag-container {
  margin-bottom: 18px;
  height: 42px;
}
.left-flag, .right-flag {
  float: left;
  width: 42px;
  height: 42px;
  border: 1px solid #47505D;
}
.back .left-flag, .back .right-flag, .back .left-part {
  border-color: #2965C3;
}
.right-flag {
  margin-left: 3px;
}
.left-flag.nzd, .right-flag.nzd {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/currencies/nzd.png') no-repeat center;
}
.left-flag.usd, .right-flag.usd {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/currencies/usd.png') no-repeat center;
}
.left-flag.aud, .right-flag.aud {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/currencies/aud.png') no-repeat center;
}
.left-flag.cad, .right-flag.cad {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/currencies/cad.png') no-repeat center;
}
.left-flag.chf, .right-flag.chf {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/currencies/chf.png') no-repeat center;
}
.left-flag.gbp, .right-flag.gbp {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/currencies/gbp.png') no-repeat center;
}
.left-flag.eur, .right-flag.eur {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/currencies/eur.png') no-repeat center;
}
.left-flag.jpy, .right-flag.jpy {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/currencies/jpy.png') no-repeat center;
}
.left-flag.litecoin, .right-flag.litecoin {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/currencies/litecoin.png') no-repeat center;
}
.left-flag.bitcoin, .right-flag.bitcoin {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/currencies/bitcoin.png') no-repeat center;
}
.one-flag {
  width: 42px;
  height: 42px;
  border: 1px solid #47505D;
  margin-left: 22.5px;
  background: url('/wp-content/themes/tol-parent/images/default.png') no-repeat center;
}
.one-flag.oil,
.one-flag.crude {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/commodities/oil.png') no-repeat center;
}
.one-flag.silver {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/commodities/silver.png') no-repeat center;
}
.one-flag.platinum {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/commodities/platinum.png') no-repeat center;
}
.one-flag.gold {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/commodities/gold.png') no-repeat center;
}
.one-flag.nasdaq {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/indices/nasdaq_100.png') no-repeat center;
}
.one-flag.dax.future {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/indices/dax_future.png') no-repeat center;
}
.one-flag.cac.future {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/indices/cac_future.png') no-repeat center;
}
.one-flag.dow.jones {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/indices/dow_jones_future.png') no-repeat center;
}
.one-flag.ftse.future {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/indices/ftse_future.png') no-repeat center;
}
.one-flag.nikkei {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/indices/nikkei_225.png') no-repeat center;
}
.one-flag.s&p.future {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/indices/s&p_future.png') no-repeat center;
}
.one-flag.adidas {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/adidas.png') no-repeat center;
}
.one-flag.alibaba {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/alibaba.png') no-repeat center;
}
.one-flag.allianz {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/allianz.png') no-repeat center;
}
.one-flag.amazon {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/amazon.png') no-repeat center;
}
.one-flag.apple {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/apple.png') no-repeat center;
}
.one-flag.at&t {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/at&t.png') no-repeat center;
}
.one-flag.bank.america {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/bank_of_america.png') no-repeat center;
}
.one-flag.bmw {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/bmw.png') no-repeat center;
}
.one-flag.british.airways {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/british_airways.png') no-repeat center;
}
.one-flag.coca.cola {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/coca_cola.png') no-repeat center;
}
.one-flag.commerzbank {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/coomerzbank.png') no-repeat center;
}
.one-flag.deutsche {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/deutsche_telekom.png') no-repeat center;
}
.one-flag.disney {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/disney.png') no-repeat center;
}
.one-flag.ebay {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/ebay.png') no-repeat center;
}
.one-flag.facebook {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/facebook.png') no-repeat center;
}
.one-flag.gazprom {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/gazporm.png') no-repeat center;
}
.one-flag.gm {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/gm.png') no-repeat center;
}
.one-flag.google {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/google.png') no-repeat center;
}
.one-flag.jpmorgan {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/jpmorgan.png') no-repeat center;
}
.one-flag.linkedin {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/linkedin.png') no-repeat center;
}
.one-flag.lukoil {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/lukoil.png') no-repeat center;
}
.one-flag.mcdonalds {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/mcdonalds.png') no-repeat center;
}
.one-flag.netflix {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/netflix.png') no-repeat center;
}
.one-flag.paypal {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/paypal.png') no-repeat center;
}
.one-flag.pepsico {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/pepsi.png') no-repeat center;
}
.one-flag.rosneft {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/rosneft.png') no-repeat center;
}
.one-flag.samsung {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/samsung.png') no-repeat center;
}
.one-flag.sberbank {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/sberbank.png') no-repeat center;
}
.one-flag.siemens {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/siemens.png') no-repeat center;
}
.one-flag.snapchat {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/snapchat.png') no-repeat center;
}
.one-flag.starbucks {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/starbucks.png') no-repeat center;
}
.one-flag.tesla {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/tesla.png') no-repeat center;
}
.one-flag.toyota {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/toyota.png') no-repeat center;
}
.one-flag.trip {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/tripadvisor.png') no-repeat center;
}
.one-flag.turkcell {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/turkcell.png') no-repeat center;
}
.one-flag.turkish {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/turkish_airlines.png') no-repeat center;
}
.one-flag.twitter {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/twitter.png') no-repeat center;
}
.one-flag.under.armour {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/under_armour.png') no-repeat center;
}
.one-flag.visa {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/visa.png') no-repeat center;
}
.one-flag.vodafone {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/vodafone.png') no-repeat center;
}
.one-flag.volkswagen {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/vw.png') no-repeat center;
}
.one-flag.yahoo {
  background: url('/wp-content/themes/tol-parent/images/forex/flags/stocks/yahoo.png') no-repeat center;
}
.tradearea-box-price {
  padding: 18px 0 0 0;
}
.tradearea-box-change {
  padding: 12px 0 0 0;
}
.tradearea-box-price-title,
.tradearea-box-change-title {
  display: block;
  font-size: 12px;
  color: #D2D3D4;
  line-height: 12px;
  font-family: 'robotolight';
}
.tradearea-box-price-value,
.tradearea-box-change-value {
  font-size: 28px;
  font-family: 'robotomedium';
  line-height: 30px;
  color: #fff;
}
.tradearea-box-price-value.down,
.tradearea-box-change-value.down {
  color: #F00009;
}
.tradearea-box-change-value.down {
  background: url('/wp-content/themes/tol-parent/images/forex/easy-forex-sprite-down.png') no-repeat left 15px;
  padding-left: 15px;
}
.tradearea-box-price-value.up,
.tradearea-box-change-value.up {
  color: #39B549;
}
.tradearea-box-change-value.up {
  background: url('/wp-content/themes/tol-parent/images/forex/easy-forex-sprite-up.png') no-repeat left center;
  padding-left: 15px;
}
.flip-container .star {
  width: 16px;
  height: 16px;
  position: absolute;
  right: -10px;
  top: -10px;
  background: url('/wp-content/themes/tol-parent/images/forex/easy-forex-sprite-1.png') no-repeat -1px -1px;
  z-index: 2;
}
.flip-container .star.fav {
  background: url('/wp-content/themes/tol-parent/images/forex/easy-forex-sprite-1.png') no-repeat -1px -21px;
}
.flip-container:hover .star {
  background: url('/wp-content/themes/tol-parent/images/forex/easy-forex-sprite-1.png') no-repeat -1px -41px;
  cursor: pointer;
}
.flip-container:hover .star.fav {
  background: url('/wp-content/themes/tol-parent/images/forex/easy-forex-sprite-1.png') no-repeat -1px -61px;
  cursor: pointer;
}
.flip-container:hover .front {
  visibility: hidden;
}
.front, .back {
  height: 158px;
  width: 263px;
  cursor: default;
}
.tradearea-box {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.back {
  position:absolute;
  bottom:0;
  max-height:0;
  overflow:hidden;
  background: #21539C;
}
.flip-container:hover .back {
  max-height:100%;
}
.back button {
  width: 101px;
  height: 35px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background: #3176FC;
  border: 0;
  border-radius: 3px;
  margin: 48px 15px;
  cursor: pointer;
  font-size: 16px;
  font-family: robotomedium;
  letter-spacing: 1px;
  cursor: pointer;
}
.filter-el {
  display: inline-block;
  padding: 24px;
  min-width: 135px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  font-family: 'robotomedium';
  height: 60px;
  cursor: pointer;
  font-size: 13px;
}
.filter-el:hover {
  color: #0567D5;
}
.filter-el:hover span {
  color: #ffffff;
}
.filter-el.active {
  color: #0567D5;
  border-bottom: 5px solid #0567D5;
}
.filter-el .fav-counter {
  width: 17px;
  height: 17px;
  background: #FF9223;
  text-align: center;
  line-height: 16px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 3px;
}
.filter-el.active .fav-counter {
  color: #fff;
}
.flip-container[data-taid="248"],
.flip-container[data-taid="120"],
.flip-container[data-taid="87"] {
  padding: 20px 10px;
}
.flip-container[data-taid="248"] .flip-container .star,
.flip-container[data-taid="120"] .flip-container .star,
.flip-container[data-taid="87"] .flip-container .star {
  right: 0;
}
.flip-container[data-taid="248"] .front, .flip-container[data-taid="248"] .back,
.flip-container[data-taid="120"] .front, .flip-container[data-taid="120"] .back,
.flip-container[data-taid="87"] .front, .flip-container[data-taid="87"] .back {
  width: 283px;
}
.flip-container[data-taid="248"] .left-part,
.flip-container[data-taid="120"] .left-part,
.flip-container[data-taid="87"] .left-part {
  width: 122px;
}
.flip-container[data-taid="248"] .flag-container,
.flip-container[data-taid="120"] .flag-container,
.flip-container[data-taid="87"] .flag-container {
  margin-left: 12px;
}
.flip-container[data-taid="248"] .tradearea-box-title,
.flip-container[data-taid="120"] .tradearea-box-title,
.flip-container[data-taid="87"] .tradearea-box-title {
  font-size: 16px;
  width: 111px;
  overflow: visible;
}
.tradewrapper {
  position:relative;
  float: left;
}
.tradewrapper .pagination {
  padding-left: 0;
  margin: 5px 0;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: block;
}
.tradewrapper .pagination .pageLink {
  width: 5px;
  height: 5px;
  border: 0;
  background: #2D3E50;
  text-indent: -9999px;
  position: relative;
  top: 2px;
  margin-left: 2px;
}
.tradewrapper .pagination .pageLink.activePage {
  background: #FF9223;
  width: 9px;
  height: 9px;
  top: 0;
}
.sidepanel-tabs .tab-content {
  padding: 0;
  border: 1px solid #2D3E50;
  height: 95%;
}
h1.messages-title,
h1.news-title,
h1.social-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 17px;
  margin-top: 0;
  color: #667E98;
  padding-bottom: 20px;
  border-bottom: 1px solid #2D3E50;
  padding-top: 5px;
}
h1.social-title {
  padding-left: 15px;
  padding-top: 20px;
  margin-bottom: 0;
}
.traderoom-loader {
  width: 100%;
  height: 100%;
  background: #131B28;
  z-index: 9;
  position: absolute;
}
.homepage-newsfeed {
  h3.widget-title {
    display: none;
  }
  .rss_image {
    height: 55px !important;
    width: 75px !important;
  }
  .title {
    font-size: 14px;
    font-family: 'lato-regular';

    a {
      font-size: 14px;
      font-family: 'lato-regular';
      font-weight: normal;
      color: #637E99;
    }
    a:hover {
      color: #FFFFFF;
    }
  }
}
.feedzy-rss .rss_item .rss_content small {
  display: none !important;
}
.feedzy-rss .rss_item .rss_content p {
  display: none;
}
.feedzy-rss .rss_item {
  border-bottom: 1px solid #2D3E50 !important;
}
.feedzy-rss > ul li.rss_item:last-of-type {
  border-bottom: 0 !important;
}
.nav.right-sidebar-nav {
  position: relative;
  height: 36px;
}
.nav.right-sidebar-nav li {
  width: 36px;
  height: 36px;
  display: inline-block;
}
.nav.content-part-social li {
  width: 50%;
  float: left;
  height: 49px;
  border-bottom: 1px solid #2E3E4E;
}
.nav.content-part-social li.active {
  border-bottom: 0;
  background: #182434;
}
.nav.content-part-social li.most-profit-tab.active {
  border-right: 1px solid #2E3E4E;
}
.nav.content-part-social li.most-copied-tab.active {
  border-left: 1px solid #2E3E4E;
}
.nav.content-part-social li a {
  height: 100%;
  color: #667E98;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}
.nav.content-part-social li.active a {
  color: #FFFFFF;
}
.sidepanel-tabs .content-part-social .tab-content {
  border: 0;
  background: #182434;
}
.nav.right-sidebar-nav li a {
  height: 100%;
}
.nav.right-sidebar-nav li a:hover,
.nav.right-sidebar-nav li a:focus,
.nav.content-part-social li a:hover,
.nav.content-part-social li a:focus {
  background: transparent;
}
.messages-tab {
  background: transparent url('/wp-content/themes/tol-parent/images/forex/mail.png') no-repeat center;
}
.messages-tab.active {
  background: transparent url('/wp-content/themes/tol-parent/images/forex/mail_h.png') no-repeat center;
}
.news-tab {
  background: transparent url('/wp-content/themes/tol-parent/images/forex/news.png') no-repeat center;
}
.news-tab.active {
  background: transparent url('/wp-content/themes/tol-parent/images/forex/news_h.png') no-repeat center;
}
.social-tab {
  background: transparent url('/wp-content/themes/tol-parent/images/forex/social.png') no-repeat center;
}
.social-tab.active {
  background: transparent url('/wp-content/themes/tol-parent/images/forex/social_h.png') no-repeat center;
}
.videos-tab {
  background: transparent url('/wp-content/themes/tol-parent/images/forex/videos.png') no-repeat center;
}
.videos-tab.active {
  background: transparent url('/wp-content/themes/tol-parent/images/forex/videos_h.png') no-repeat center;
}
.summary-tab {
  background: transparent url('/wp-content/themes/tol-parent/images/forex/summary.png') no-repeat center;
}
.summary-tab.active {
  background: transparent url('/wp-content/themes/tol-parent/images/forex/summary_h.png') no-repeat center;
}
.calendar-tab {
  background: transparent url('/wp-content/themes/tol-parent/images/forex/calendar.png') no-repeat center;
}
.calendar-tab.active {
  background: transparent url('/wp-content/themes/tol-parent/images/forex/calendar_h.png') no-repeat center;
}
.signals-tab {
  background: transparent url('/wp-content/themes/tol-parent/images/forex/signals.png') no-repeat center;
}
.signals-tab.active {
  background: transparent url('/wp-content/themes/tol-parent/images/forex/signals_h.png') no-repeat center;
}
.nav.right-sidebar-nav li a.active {
  border: 1px solid #2D3E50;
  border-bottom: 1px solid #131B28;
  position: relative;
  top: 1px;
  z-index: 2;
}
.search-part-social {
  padding: 9px;
  border-bottom: 1px solid #2D3E50;
}
.sidepanel-tabs:focus {
  outline: none;
}
.tol-messages-sidebar, .tol-news-sidebar {
  padding: 15px;
}
table#tol-messageInbox th,
table#tol-messageInbox tr.inboxRow {
  background: transparent;
  font-size: 13px;
}
table#tol-messageInbox > tbody > tr > td {
  border-bottom: 1px solid #2D3E50;
  border-top: 1px solid #2D3E50;
  padding: 0 8px;
  height: 38px;
  line-height: 38px;
  font-weight: 700;
  font-family: 'robotolight';
  font-size: 13px;
}
#tol-messageInbox {
  margin-bottom: 0;
  color: #667E98;
}
table#tol-messageInbox > thead > tr > th:nth-child(1),
table#tol-messageInbox > tbody > tr > td:nth-child(1) {
  text-align: left;
}
table#tol-messageInbox > thead > tr > th:nth-child(2),
table#tol-messageInbox > tbody > tr > td:nth-child(2) {
  text-align: right;
}
table#tol-messageInbox tr:hover {
  cursor: pointer;

  td {
    background-color: transparent !important;
    color: #FFF;
  }
}
.side-separator {
  right: 320px;
  height: 100%;
}
.vertical-separator.side-separator .separator-collapse .separator-arrow {
  border-left: 3px solid #637E99;
  border-right: transparent;
  top: 12px;
}
.vertical-separator.side-separator.closed .separator-collapse .separator-arrow {
  border-right: 3px solid #637E99;
  border-left: transparent;
  left: 1px;
}
.trade-separator {
  top: 0;
}
.ui-widget-overlay {
  display: none;
  background: #000;
  opacity: .6;
  z-index: 99;
}
.dataTable table td .cellWrapper, .dataTable table th .cellWrapper {
  font-size: 13px;
}
.dataTable table th .cellWrapper span:hover {
  color: #ffffff;
}
.dataTable table.traderoom-social th, .dataTable table.traderoom-social td {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.dataTable table th.tarder-avatar {
  padding-left: 0;
  padding-right: 0;
  width: 40px;
}
.dataTable table th.tarder-name {
  width: 110px;
}
.dataTable table.traderoom-social td {
  overflow: visible;
  padding-top: 10px;
  padding-bottom: 9px;
}
.dataTable table.traderoom-social td.trader-name {
  color: #667E98;
  padding-left: 0;
  cursor: pointer;
  overflow: hidden;
  text-align: left;
  width: 110px;
}
.dataTable table.traderoom-social td.td-pandl  {
  color: #667E98;
}
.dataTable table.traderoom-social td.td-pandl.positive {
  color: #27AE62;
}
.dataTable table.traderoom-social td.td-pandl.negative {
  color: #AD1F2F;
}
.dataTable table.traderoom-social td.trader-avatar,
.dataTable table.traderoom-social th.trader-avatar {
  padding-left: 0;
  padding-right: 0;
  width: 40px;
}
.dataTable table.traderoom-social td.trader-avatar img {
  border: 1px solid #2C3D4F;
  width: 30px;
  height: 30px;
}
.socialCopyBtn {
  width: 48px;
  height: 31px;
  line-height: 30px;
  text-align: center;
  color: #FFF;
  font-family: 'lato-regular';
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  background-color: #f9a134;
  border-top: 1px solid #FF9223;
  border-bottom: 1px solid #171E26;
  -webkit-transition: background .2s ease;
  -o-transition: background .2s ease;
  -moz-transition: background .2s ease;
  transition: background .2s ease;
  border-radius: 3px;
  cursor: pointer;
}
.socialCopyBtn:hover {
  background-color: #db851a;
}
.socialReinvestBtn {
  width: 60px;
  height: 31px;
  line-height: 30px;
  text-align: center;
  color: #FFF;
  font-family: 'lato-regular';
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  background-color: #2F3E50;
  border-bottom: 1px solid #171E26;
  -webkit-transition: background .2s ease;
  -o-transition: background .2s ease;
  -moz-transition: background .2s ease;
  transition: background .2s ease;
  border-radius: 3px;
  cursor: pointer;
}
.socialReinvestBtn:hover {
  background-color: white;
  color: black;
}
.title-title, .title-sell, .title-buy, .title-margin, .margin-sell, .margin-buy, .title-swap, .swap-sell, .swap-buy, .title-pip, .pip-sell, .pip-buy {
  display: inline-block;
  color: #647E99;
  width: 80px;
  text-align: center;
}
.title-margin, .title-swap, .title-pip, .title-title {
  width: 100px;
  text-align: left;
}
.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}
.input-spinner-element{
  color: white;
  background-color: #647E99;
  padding: 0;
  border: 0;
}
.input-spinners {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.input-spinnersui-spinner .ui-widget ui-widget-content ui-corner-all{
  padding: 0;
  margin: 0;
  border: 0;
}
.input-spinners:focus{
  background: transparent;
}
.spinner:focus input, .spinner:hover input, .spinner input:focus{
  background: #182434;
}
///bootstrap spinner

.notifyjs-corner {
  z-index: 99999999 !important;
  top: 57px !important;
  margin: 0 !important;
}
.notifyjs-corner .notifyjs-wrapper, .notifyjs-corner .notifyjs-container {
  margin-right: 0 !important;
}
.notifyjs-positive-base {
  width: 340px;
  height: 100px;
  background: #f9a134 url(/wp-content/themes/tol-parent/images/forex/order_executed.png) no-repeat 15px center;
  border: 1px solid #000000;
}
.notifyjs-neutral-base {
  width: 340px;
  height: 85px;
  background: rebeccapurple;
}
.notifyjs-negative-base {
  width: 340px;
  height: 100px;
  background: red url(/wp-content/themes/tol-parent/images/forex/order_failed.png) no-repeat 15px center;
  border: 1px solid #000000;
}

@media (max-device-width: 350px) {
  .notifyjs-positive-base, .notifyjs-neutral-base, .notifyjs-negative-base {
    width: 100% !important;
  }

  .notifyjs-positive-base .title,  .notifyjs-neutral-base .title, .notifyjs-negative-base .title {
    font-size: 20px !important;
  }
}
.loadingTransperant {
  margin-left: 5px;
  height: 11px;
  width: 44px;
  overflow: hidden;
  border: 0;
}
#notification-content {
  padding: 40px 5px 5px 75px;
  cursor: pointer;
}
.notification-close {
  width: 20px;
  height: 20px;
  text-align: center;
  float: right;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
}
.popover {
  border: 1px solid #f9a134;
  padding: 0;
}
.popover.left {
  margin-left: -10px;
  top: -27px !important;
}
.popover.right {
  color: white;
}
.popover.left>.arrow {
  top: 50% !important;
}
.popover.left>.arrow:after {
  border-left-color: #f9a134;
}
.popover.bottom>.arrow:after {
  border-bottom-color: #f9a134;
}
.popover-content {
  background: #f9a134;
  border: 1px solid #f9a134;
  border-radius: 3px;
}
.notifyjs-positive-base .title,  .notifyjs-neutral-base .title, .notifyjs-negative-base .title{
  font-family: robotobold;
  color: white;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  /*white-space: nowrap;*/
}
.notification-header {
  font-family: 'lato-regular';
  font-size: 17px;
  text-transform: uppercase;
}
.notification-body {
  font-size: 15px;
  font-family: lato-light;
}
.column-settings .multiple-selection {
  display: none;
}
.column-settings.show .multiple-selection {
  display: block;
  right: 0;
  bottom: 33px;
}
.column-settings .btn-wrapper.navigation {
  background: #273747;
  padding: 10px 7px 5px;
  height: 49px;
}
.column-settings .btn-wrapper.navigation .nav-button {
  width: 100%;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  font-size: 12px;
  cursor: pointer;
  background: #4E6074;
  border-top: 1px solid #6F8195;
  border-bottom: 1px solid #151C24;
  box-shadow: 0 2px 2px 0 rgba(37, 50, 66, 0.2), 0 1px 16px 0 rgba(37, 50, 66, 0.19);
}
.column-settings .btn-wrapper.navigation .nav-button:hover {
  background: #5a5866;
  border-top-color: #000;
}
.statusbar .statusbar-item .currentTimeWidget.value, .utctime.label {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
.account .column-settings {
  display: none;
}
.account.orders-active .column-settings.tab-easy-closed-positions {
  display: block;
}
.account.positions-active .column-settings.tabeasypositions {
  display: block;
}
.dataTable table td.order-date {
  white-space: pre-wrap;
  line-height: 16px;
}
@media (max-width: 1600px) {
  .equity-container {
    padding-right: 10px;
  }
}
@media (width:1024px) {
  .sidepanel-tabs, .side-separator {
    display: none;
  }
  .easy-forex-table-wrapper {
    top: 349px;
    height: 310px;
    padding: 5px;

    .scrollable-area {
      height: 235px;
    }
  }
  .contextmenu .item {
    padding: 5px 15px 5px 60px;
  }
  .equity-container {
    padding: 17px 0 17px 280px;
  }
  .equity-item {
    width: auto;
    padding: 0;

    .value {
      font-size: 12px;
    }
    .label {
      font-size: 13px;
      padding: 0 .1em;
    }
    .margin-indicator {
      width: 50px;
    }
  }
  .dataTable table td .cellWrapper, .dataTable table th .cellWrapper, .dataTable table td, .dataTable table th {
    font-size: 12px;
    padding: 4px;
  }
  #layout {
    height: 649px !important;
  }
}
@media (width:768px) {
  .sidepanel-tabs, .side-separator {
    display: none;
  }
  .easy-forex-table-wrapper {
    top: 555px;
    height: 330px;
    padding: 5px;
    left: 0;
    z-index: 4;

    .scrollable-area {
      height: 280px;
    }
  }
  .panel.chartpanel {
    width: 488px;
    height: 551px;
  }
  .contextmenu .item {
    padding: 5px 15px 5px 60px;
  }
  .trade-separator {
    height: 551px !important;
  }
  .equity-container {
    padding: 17px 0 0 150px;
  }
  .equity-item {
    width: 30%;

    .label {
      font-size: 13px;
    }
  }
  .equity-item.margin-item {
    width: 45%;
  }
  .equity-item.avbalance-item {
    width: 51%;
  }
  .dataTable table td .cellWrapper, .dataTable table th .cellWrapper, .dataTable table td, .dataTable table th {
    font-size: 12px;
    padding: 4px;
  }
  .tradebox-compact-view {
    padding: 0 5px;
    height: 40px;
  }
  .tradebox-compact-view .tradebox-compact-instrument-name, .tradebox-compact-view .buy-sell-price-container {
    font-size: 12px;
  }
  .buy-sell-spread {
    font-size: 10px;
  }
  .tradepanel-control-bar {
    height: 30px;
  }
  .assets-boxes, .assets-list, .tradepanel-control-bar .tradepanel-title {
    line-height: 30px;
  }
  .tradepanel-header-bar {
    line-height: 30px;
    height: 30px;
  }
  .asset-table-left {
    height: 462px;
    border-bottom: 0;
  }
  .chart-separator {
    display: none;
  }
  #layout {
    height: 905px !important;
  }
  #tradePanel {
    height: 551px;
  }
  .statusbar {
    height: 82px;
  }
  .statusbar .fleft {
    height: 82px;
    width: 150px;
  }
  .statusbar .statusbar-item.account-type,
  .statusbar .current-time {
    text-align: center;
    width: 100%;
  }
  .equity-content {
    white-space: normal;
  }
}
.option-direction.up {
  background-image: url(/wp-content/themes/tol-parent/images/forex/arrow_green.png);
  background-repeat: no-repeat;
  background-position: top;
  height: 15px;
  width: 36px;
  margin: 0 0 5px 0;
  display: inline-block;
}
.option-direction.down {
  background-image: url(/wp-content/themes/tol-parent/images/forex/arrow_red.png);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 15px;
  width: 36px;
  margin: 3px 0 2px 0;
  display: inline-block;
}
.buy-sell-spread {
  width: 100%;
  display: inline-block;
  padding-left: 0;
  font-size: 11px;
}
.spread-holder {
  width: 40px;
  text-align: center;
  float: left;
  display: inline-block;
  padding: 0 2px;
}
.spread-holder.list {
  width: 50px;
}
.forex-cubses-rates .option-direction.down, .forex-cubses-rates .option-direction.up {
  height: 20px;
}
.forex-cubses-rates .spread-holder {
  margin-top: 10px;
}
.boxes-amount {
  cursor: not-allowed;
  background: #2D3E50 url(/wp-content/themes/tol-parent/images/forex/locked_ddl.png) no-repeat 10px 7px;
}
.browser-firefox .locked .boxes-amount {
  background: #2D3E50 url(/wp-content/themes/tol-parent/images/forex/ddl_arrow.png) no-repeat 225px 10px;
}
.browser-firefox .locked .boxes-amount:hover {
  background: #2D3E50 url(/wp-content/themes/tol-parent/images/forex/ddl_arrow_active.png) no-repeat 225px 10px;
}

.locked .boxes-amount {
  cursor: pointer;
  background: #2D3E50 url(/wp-content/themes/tol-parent/images/forex/ddl_arrow.png) no-repeat 240px 10px;
}
.boxes-amount:hover {
  background: #2D3E50 url(/wp-content/themes/tol-parent/images/forex/locked_ddl_h.png) no-repeat 10px 7px;
}
.locked .boxes-amount:hover {
  cursor: pointer;
  background: #2D3E50 url(/wp-content/themes/tol-parent/images/forex/ddl_arrow_active.png) no-repeat 240px 10px;
}
.asset-search-bar {
  height: 75px;
  padding: 23px 15px;
  background: #2D3E50;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
//loading animation - close position & cancel order
.dataTable {
  i {
    position: relative;
    display: inline-block;
    margin: 0 2px;
    width: 5px;
    height: 11px;
    border-radius: 2px;
    border: solid #3394FD;
    border-width: 0 1px 1px 0;
    background: #f9a134;
    animation: tilt infinite 5s cubic-bezier(0.955, -0.010, 1.000, 1.000);
    transform-origin: 100% 100%;
  }

  i::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    display: block;
    width: 5px;
    height: 5px;
    background: transparent;
    box-shadow: 0 2px rgba(0, 0, 0, .3);
    animation: stretch infinite 5s cubic-bezier(0.955, -0.010, 1.000, 1.000);
    opacity: 0;
    transform-origin: 0% 0%;
  }

  i:nth-child(2),
  i:nth-child(2)::before {
    animation-delay: .3s;
  }

  i:nth-child(3),
  i:nth-child(3)::before {
    animation-delay: .6s;
  }

  i:nth-child(4),
  i:nth-child(4)::before {
    animation-delay: .9s;
  }

  i:nth-child(5),
  i:nth-child(5)::before {
    animation-delay: 1.2s;
  }

  i:last-of-type {
    animation-name: tilt-last;
  }

  i:last-of-type::before {
    animation-name: stretch-last;
  }
}
@keyframes tilt {
  10% { transform: rotate(70deg) }
  60% { transform: rotate(70deg) }
  70% { transform: rotate( 0deg) }
}

@keyframes tilt-last {
  10% { transform: rotate(90deg) }
  60% { transform: rotate(90deg) }
  70% { transform: rotate( 0deg) }
}

@keyframes stretch {
  10% { transform: rotate(-70deg); width: 10px; opacity: 1; left: 0px; bottom: -1px; }
  60% { transform: rotate(-70deg); width: 10px; opacity: 1; }
  70% { width: 5px; transform: rotate(0deg); opacity: 0; }
}

@keyframes stretch-last {
  10% { transform: rotate(-90deg); width: 10px; height: 2px; opacity: .5; left: 3px; bottom: -1px; }
  60% { transform: rotate(-90deg); width: 10px; height: 2px; opacity: .5; }
  70% { transform: rotate(0deg); width: 5px; height: 5px;opacity: 0;}
}
.popover {
  background: #f9a134;
  min-width: 170px;
  border-radius: 0;
}

.popover-content {
  background: #f9a134;
  color: white;
  padding: 20px;
}

@media (max-width: 767px) {
  .popover.bottom {
    width: 155px;
    left: -29px !important;
  }

  .popover-content {
    width: 153px;
    padding: 10px;
  }
}

.popover.right .arrow:after {
  border-right-color: #f9a134;
}

.popover.left .arrow:after {
  border-left-color: #f9a134;
}

.popover.right {
  margin-left: 30px;
}
.ddl-container .popover.right {
  margin-left: 10px;
}
.loader {
  padding: 0;
  width: 44px;
  height: 11px;
  float: right;
  margin-right: 6px;
}

@media (max-width: 767px) {
  .input-assetssearch {
    width: 75%;
  }
  .assetssearch-button {
    width: 25%;
  }
  .separator, .sidepanel-tabs, .closeAll {
    display: none !important;
  }
  #tradePanel {
    width: 100%;
    height: 300px;

    .scrollable-area-body {
      height: 210px;
    }
  }
  .panel.chartpanel {
    position: relative;
    margin: 0;
    left: 0;
    margin-top: 27px;
    top: 5px;
    z-index: 9999;
    height: 400px;
    width: 100%;
  }
  .spread-holder {
    width: 16.66666667%
  }
  .option-direction.down, .option-direction.up {
    width: 100%;
    margin: 3px auto 2px;
  }
  .tradepanel-control-bar {
    height: 30px;
  }
  .tradepanel-control-bar.asset-search-bar {
    height: 75px;
  }
  .assets-boxes, .assets-list, .tradepanel-control-bar .tradepanel-title {
    line-height: 30px;
  }
  .tradepanel-header-bar {
    line-height: 30px;
    height: 30px;
  }
  .asset-table-settings-icon {
    right: 10px;
    top: 1px;
  }
  .tradepanel-title.assetstype > span {
    background: transparent url(/wp-content/themes/tol-parent/images/forex/ddl_arrow.png) no-repeat right center;
  }
  .asset-table-settings-icon.show .asset-table-settings-outer {
    left: unset;
    right: -10px;
  }
  .ui-dialog.forex-neworder-dialog {
    top: 25px !important;
    z-index: 9999;
    position: absolute;
  }
  .ui-dialog.forex-neworder-dialog .ui-dialog-title{
    color: white;
  }
  .orders-trades-table-wrapper {
    left: 0;
    position: relative;
    height: 350px;

    .scrollable-area {
      height: 285px;
    }
  }
  .account .tab-item {
    min-width: 155px;
  }
  .equity-container {
    padding: 0 15px;
    float: left;
    height: 175px;
  }
  .page-traderoom .statusbar {
    z-index: 9;
    position: relative;
    height: 240px;
  }
  .statusbar .fleft {
    width: 100%;
  }
  .statusbar .statusbar-item.account-type {
    width: 50%;
    text-align: left;
    padding-left: 15px;
  }
  .statusbar-item.current-time {
    width: 50%;
    text-align: right;
    padding-right: 15px;
  }
  .equity-item {
    line-height: 30px;
    margin: 0;
    width: 100%;
    display: block;
    float: left;
    text-align: left;
    padding: 2px 0px;
  }
  body.page-traderoom {
    overflow-y: scroll;
  }
}
.dataTable table .hide-thead {
  display: none !important;
  visibility: hidden;
}
#forexProOpenTradesTable tbody::-webkit-scrollbar,
#forexProPendingOrdersTable tbody::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}
#forexProOpenTradesTable,
#forexProPendingOrdersTable {
  border: 0;
}
.account.panel {
  .dataTable table tr:nth-child(1) td {
    border-top: 0;
  }
}
.account.panel .scrollable-area {
  border-right: 1px solid #2D3E50;
  border-left: 1px solid #2d3e50;
}
#searchBarControls .form-group.serach-bar-el {
  padding-top: 10px;
  max-width: 335px !important;
}

#searchBarInfo .form-group.serach-bar-el {
  padding-top: 10px;
  width: auto;
  max-width: none !important;
}

#searchBarControls .form-group.serach-bar-el input,
#searchBarControls .form-group.serach-bar-el select {
  width: 85%;
  display: inline;
}

#searchBarControls .btn-primary {
  width: 180px !important;
}

@media only screen and (max-width: 1024px) {
  #searchBarControls .form-group.serach-bar-el input,
  #searchBarControls .form-group.serach-bar-el select {
    width: 100%;
  }

  #searchBarControls .form-group.serach-bar-el {
    padding-right: 0;
    max-width: 245px !important;
  }

  #searchBarControls .btn-primary {
    margin-right: 0;
    margin-top: 15px;
    margin-left: 30px;
    float: left;
    width: 130px !important;
  }
}

@media only screen and (max-width: 768px) {
  #searchBarControls .form-group.serach-bar-el {
    max-width: 185px !important;
  }
}

#searchBarInfo span {
  border: none !important;
  width: 85%;
  display: inline;
}

#searchBarControls, #searchBarInfo {
  border-bottom: 1px solid #2d3e50;
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
}

.searchBarAssets:hover {
  background: rgb(24, 36, 52);
  color: white;
}

.searchBarAssets option{
  background: rgb(24, 36, 52);
  color: white;
}

.btnForexPriceStrikeBig {
  font-size: 20px !important;
  font-weight: bolder;
}

.btnForexPriceStrikeMedium {
  font-size: 15px !important;
}

.btnForexPriceStrikeSmall {
  font-size: 12px !important;
  bottom: 5px !important;
  position: relative;
}

.termstext {
  margin: 0;
}

.btn-register {
  margin-top: 20px;
}

.tradebox-compact-view .buy-sell-price-container {
  width: 75px;
}

.currencySymbol {
  display: flex;
  position: absolute;
  z-index: 11;
  margin-left: 5px;
  margin-top: 6px;
}

.inp-amount {
  padding-left: 15px !important;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close{
  background: #182434 url(/wp-content/themes/tol-parent/images/forex/close_btn.png) no-repeat top;
  width: 7px;
  height: 7px;
  border: 0;
  right: 10px;
  top: 20px;
}
.ui-dialog.ui-dialog-titlebar{
  background-color:#141B28;
}

#marginPopUpmessage {
  background-color: #121C28;
  border: 1px solid #2E3D50;
  padding: 0;
}

.ui-dialog .ui-dialog-content {
  position: relative;
  padding: 0;
}

#marginPopUpmessage .messagePopup{
  background-color: #182434;
  font-size: 16px;
  padding: 25px 10px 50px 10px;
  margin: 0;
}
.popUp-highlight{
  position: absolute;
  background-color: #f9a134;
  color: white;
  width: 103px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  top: -26px;
  left: -1px;
  font-size: 13px;
  font-family: 'lato-regular';
}
#depositBtnPopUp {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 15px;
  background-color: #f9a134;
  color: #fff;
  height: 40px;
  border-radius: 3px;
  width: 80%;
  margin: 20px 10% 0;
}
.browser-firefox .tabHolder .column-settings .settings{
  left: -8px;
}
.dataTable table td.copied-nickname,
.my-trades-form table td.copied-nickname {
  text-overflow: clip;
}
.dataTable table td.copied-nickname span {
  color: #667E98;
  cursor: pointer;
  text-decoration: underline;
}
.my-trades-form table td.copied-nickname span {
  cursor: pointer;
}
.csl-reason {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url('/wp-content/themes/tol-parent/images/forex/csl.png') no-repeat center;
}
td.copied-nickname .csl-reason {
  position: relative;
  top: 8px;
  margin-left: 6px;
}
.my-trades-footer-info {
  float: left;
}
.my-trades-footer-info span:nth-child(2) {
  display: inline-block;
  margin-left: 5px;
  font-size: 13px;
  font-family: 'lato-regular';
  position: relative;
  top: -5px;
}
#tol-trades-popup {
  .column-settings.show .multiple-selection{
    top: 33px;
    bottom: auto;
  }
  .tabHolder .column-settings{
    top: -2px;
  }
}
.pagingarea{
  height: 30px;
  color: white;
  float: left;
  background: #121B27;
  padding: 15px 0 15px 15px;
  margin-top: 65px;
}.forexCancelBtn {
   width: 11px;
   height: 11px;
   display: inline-block;
   margin-left: 15px;
   cursor: pointer;
   background: transparent url(/wp-content/themes/tol-parent/images/forex/positions_close.png) no-repeat left top;
 }
.forexCancelBtn:hover {
  background: transparent url(/wp-content/themes/tol-parent/images/forex/positions_close.png) no-repeat left bottom;
}
.dataTable table.traderoom-social {
  border: 0;
}
.real-search-thead thead, .traders-head thead {
  display: none;
}
#tol-trade-popup {
  .modal-content {
    border-color: #2D3E50;
    border-radius: 0;
    box-shadow: none;
    width: 320px;
    margin: 0 auto;
    background: #182434;
    z-index: 2;
  }
  .modal-header {
    border-bottom: 0;
    height: 29px;
    background: #182434;

    button.close {
      top: 0;
      height: 6px;
      color: #fff;
      text-shadow: none;
    }
  }
  .modal-footer {
    background: #182434;
    border-top: 0;
  }
  .modal-body {
    padding: 0 34px;

    .front {
      width: auto;
      border-bottom: 1px solid #2D3E50;
      height: 127px;

      .tradearea-box-title {
        color: #ffffff;
      }

      .tradearea-box-price-value, .tradearea-box-change-value, .tradearea-box-title {
        font-size: 20px;
        font-family: 'robotolight';
      }

      .tradearea-box-change-value.down {
        background-position-y: 10px;
      }
      .tradearea-box-change-value.up {
        background-position-y: 7px;
      }

      .right-part {
        width: 138px;
        padding-top: 10px;
        height: 100px;
      }
      .left-part {
        padding-top: 10px;
        height: 100px;
      }
      .tradearea-box-price {
        padding: 0;
      }
    }
    .header-text {
      margin: 24px auto 18px;
      color: #fff;
      font-size: 15px;
      line-height: 19px;
      font-family: 'robotoregular';
      height: 39px;

      span {
        color: #FF9223;
      }
    }
    .btn-wrapper {
      margin-bottom: 20px;
    }
    .upbtn, .downbtn {
      width: 120px;
      height: 44px;
      line-height: 42px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 0;
      display: inline-block;
      font-size: 20.11px;
      font-family: 'robotobold';


      &:hover {
        cursor: pointer;
      }
    }
    .upbtn {
      border: 1px solid #39B549;
      color:#39B549;
      margin-right: 6px;

      &:hover, &.active {
        background: #39B549;
        color: #FFFFFF;
      }
    }
    .downbtn {
      border: 1px solid #F00009;
      color:#F00009;

      &:hover, &.active {
        background: #F00009;
        color: #FFFFFF;
      }
    }
    .blue-asset-name {
      color: #f9a134;
    }
    .controllers-wrapper {

      .info-icon {
        background: url('/wp-content/themes/tol-parent/images/forex/info-popup.png') no-repeat center;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 15px;
        right: 15px;
        display: block;
        z-index: 99999;
        cursor: pointer;
      }
      .info-icon:hover {
        background: url('/wp-content/themes/tol-parent/images/forex/info-popup-h.png') no-repeat center;
      }

      label {
        display: block;
        height: 41px;
        line-height: 40px;
        font-size: 15px;
        position: relative;
        margin: 0;
        color: #ffffff;
        font-family: 'robotoregular';
        font-weight: normal;
      }

      .ddl-container {
        position: relative;
      }

      .dropdown-menu {
        background-color: #2C3D4F;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 0;
        left: -1px;
        text-align: center;
        color: #ffffff;
        font-size: 13px;
        cursor: pointer;
        width: 100%;
        margin-top: -6px;
        z-index: 999999;
        text-align: center;
        color: #fff;
      }

      .dropdown-menu li:hover {
        background: #f9a134;
        cursor: pointer;
      }

      .ddl-ctrl {
        text-transform: none;
        margin-right: 0;
        width: 100%;
        font-size: 15px;
        line-height: 28px;
        height: 30px;
        display: inline-block;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background-color: transparent;
        color: #fff;
        box-shadow: none;
        position: relative;
        -webkit-transition: background-color 0.1s linear;
        -o-transition: background-color 0.1s linear;
        -moz-transition: background-color 0.1s linear;
        transition: background-color 0.1s linear;
        cursor: pointer;
        border: 1px solid #2D3E50;
        text-align: center;
        margin-bottom: 5px;
        font-family: robotoregular;
      }
      .nav-button.ddl-ctrl .dropdown-arrow {
        background: url(/wp-content/themes/tol-parent/images/forex/ddl_arrow_copypopup.png);
        width: 15px;
        height: 30px;
        border: 0;
        top: -1px;
        right: -1px;
      }
      .info-icon {
        position: relative;
        top: 1px;
        right: unset;
        display: inline-block;
        margin-left: 5px;
      }
      .risk-sens-btns {
        margin-bottom: 5px;
      }
      .lowbtn, .medbtn, .highbtn {
        border: 1px solid #2D3E50;
        border-radius: 0;
        color: #647E99;
        height: 30px;
        line-height: 27px;
        font-size: 16px;
        display: inline-block;
        text-align: center;

        &.active, &:hover {
          background: #FF9223;
          border-color: #FF9223;
          color: #ffffff;
          cursor: pointer;
        }
      }
      .lowbtn, .highbtn {
        width: 78px;
      }
      .lowbtn, .medbtn {
        margin-right: 5px;
      }
      .medbtn {
        width: 77px;
      }
      .footer-info {
        margin: 15px 0;
      }
      .info-block {
        font-size: 12px;
        color: #fff;
        line-height: 25px;
        font-family: 'robotolight';

        .info-icon {
          margin: 0 12px;
        }
      }
      .invest-btn {
        background: #FF9223;
        height: 44px;
        line-height: 43px;
        width: 100%;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
      }
      .tooltip.top {
        z-index: 9999999;
        opacity: 1;
      }
      .tooltip.top .tooltip-arrow {
        border-top-color: #FF9223;
      }
      .tooltip.top {
        height: auto;
      }
      .tooltip-inner {
        background: #FF9223;
        font-family: 'robotolight';
        font-size: 13px;
        line-height: 16px;
        border-radius: 0;
        white-space:pre-wrap;
        text-align: left;
      }
      .tooltip.top .tooltip-inner {
        margin-top: 4px;
      }
    }
    .cover-controllers {
      display: none;
    }
    .controllers-wrapper.inactive {
      label, .ddl-ctrl, .info-block {
        color: #647E99;
      }
      .cover-controllers {
        display: block;
        position: absolute;
        width: 250px;
        height: 428px;
        z-index: 99999999;
      }
      .invest-btn {
        background: #2D3E50;
        color: #647E99;
      }
    }
  }
}
.tradewrapper .nextPages {
  display: none;
}
.info-icon {
  text-align: left;
}
.tooltip-inner {
  white-space:pre-wrap;
  text-align: left;
}
.tradewrapper .prevPage {
  width: 74px;
  height: 16px;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  line-height: 13px;
  position: absolute;
  left: 10px;
  border: 0;
  background: #2D3E50;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -ms-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}
.tradewrapper .nextPage {
  width: 51px;
  height: 16px;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  line-height: 13px;
  position: absolute;
  border: 0;
  right: 10px;
  background: #2D3E50;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -ms-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}
.tradewrapper .prevPage:hover,
.tradewrapper .nextPage:hover {
  background: #FF9223;
  border: 0;
  cursor: pointer;
}
.tradewrapper .prevPage.disabled:hover,
.tradewrapper .nextPage.disabled:hover {
  background: #2D3E50;
  border: 0;
}
.toggleChart {
  background: #FF9223;
  text-transform: uppercase;
  width: 162px;
  height: 18px;
  text-align: center;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  position: absolute;
  top: 71px;
  right: -91px;
  cursor: pointer;
  color: #fff;
}
.toggleChart i {
  width: 5px;
  height: 7px;
  display: inline-block;
  margin: 0 5px;
  background: url('/wp-content/themes/tol-parent/images/forex/chart_arrow.png') no-repeat;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.toggleChart.opened i {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
#tv_chart_container{
  visibility:hidden;height:100%;
}
#tv_chart_container iframe {
  height:100% !important;
}
.chartwrapper{
  background: #182434;
}
.chartwrapper.loaded{
  border: 1px solid #2D3E50;
  border-left: 0;
  position: absolute;
  top: 0;
  height: 761px;
  width: 320px;
  left: 0;
  z-index: 0;}
.chartwrapper.loaded #tv_chart_container{
  visibility:visible
}
.side-separator,
.horizontal-separator {
  cursor: default;
}
.ui-dialog.forex-close-dialog.market-close {
  background-color: #182434;
  border: 1px solid #2E3D50 !important;
  padding: 0;
  overflow: visible;
  border-radius: 0;
  cursor: default;
  top: 150px !important;
}

.ui-dialog.forex-close-dialog .ui-state-default.ui-dialog-titlebar-close {
  background: #182434 url(/wp-content/themes/tol-child/images/close_btn.png) no-repeat top;
  width: 7px;
  height: 7px;
  border: 0;
  right: 10px;
  top: 30px;
}

.ui-dialog.forex-close-dialog.market-close .forex-confirm-btn {
  width: 310px;
}

.ui-dialog.forex-close-dialog .ui-state-default.ui-dialog-titlebar-close:hover {
  background: #182434 url(/wp-content/themes/tol-child/images/close_btn.png) no-repeat bottom;
  width: 7px;
  height: 7px;
  border: 0;
}
.ui-dialog.forex-close-dialog .ui-dialog-content,
.ui-dialog.forex-closeall-dialog .ui-dialog-content {
  overflow: visible;
  padding: 0;
  background: #182434;
}
.ui-dialog.forex-close-dialog .ui-dialog-titlebar {
  height: 50px;
  border: 0;
  border-radius: 0;
  background: #121C28;
  border-bottom: 1px solid #2E3D50;
  cursor: default;
}
.ui-dialog.forex-close-dialog .ui-dialog-title {
  background-color: #FF9223;
  width: 130px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  position: absolute;
  top: -27px;
  left: -1px;
  font-size: 13px;
  font-family: 'lato-regular';
  float: left;
  margin: .1em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}
.ui-dialog.forex-close-dialog .forex-close {
  z-index: 1000;
}
.ui-dialog.forex-close-dialog .close-all-title {
  position: absolute;
  top: -34px;
  left: 17px;
  color: #647E99;
  line-height: 1.1;
  font-size: 16px;
}
.ui-dialog.forex-close-dialog .close-all-message-wrapper {
  color: #fff;
  padding: 17px;
  font-size: 14px;
  min-height: 160px;
}
.ui-dialog.forex-close-dialog .forex-confirm-buttons-wrapper{
  background-color: #131B28;
  box-sizing: border-box;
  height: 67px;
}
.ui-dialog.forex-close-dialog .forex-confirm-btn,
.ui-dialog.forex-close-dialog .forex-cancel-btn {
  width: 310px;
  height: 41px;
  line-height: 39px;
  text-transform: uppercase;
  font-size: 17px;
  font-family: 'lato-regular';
  margin: 13px 6px 10px 14px;
  background-color: #f9a134;
  border-top: 1px solid #FF9223;
  border-right: 1px solid #101721;
  border-left: 1px solid #101721;
  border-bottom: 1px solid #0E1116;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}
.ui-dialog.forex-close-dialog .forex-confirm-btn {
  margin: 10px 14px 10px 4px;
}
.ui-dialog.forex-close-dialog .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close,
.ui-dialog.forex-close-dialog .ui-state-default.ui-dialog-titlebar-close {
  background: #182434 url(/wp-content/themes/tol-child/images/close_btn.png) no-repeat top;
  width: 11px;
  height: 7px;
  border: 0;
  right: 10px;
  top: 29px;
}
.ui-dialog.forex-close-dialog .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close:hover,
.ui-dialog.forex-close-dialog .ui-state-default.ui-dialog-titlebar-close:hover {
  background: #182434 url(/wp-content/themes/tol-child/images/close_btn.png) no-repeat bottom;
  width: 11px;
  height: 7px;
  border: 0;
  top: 29px;
}
.demo-user, .real-user, .page-traderoom .pagination-wrapper{
  display: none;
}

// ------------- PORTFOLIO
.portfolio-investment-header {
  height: 120px;
  background: #182434;
}

.portfolio-investment-content {
  margin-top: 10px;
  color: white;
  font-family: Roboto;
}

.init-right {
  float: right;
  width: 50px;
}

.portfolio-investment-content .navigation {
  border-bottom: none;
}

.portfolio-investment-content .navigation>li {
  margin-bottom: -2px;
  width: 250px;
  height: 50px;
  text-align: center;
}

.portfolio-investment-content .navigation>li>a  {
  border-radius: 0;
  color: white;
  font-family: Roboto;
  border: none;
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  background-color: #151F2D;
}

.portfolio-investment-content .navigation>li>a:focus  {
  border-left: none;
  border-right: none;
}

@portfolio-invest-dark-bg: #0f1721;
@portfolio-invest-blue: #FF9223;

.portfolio-investment-content .navigation>li.active>a  {
  border-top: 2px solid #FF9223;
  color: @portfolio-invest-blue;
  font-weight: bold;
  background-color: @portfolio-invest-dark-bg;
}

.portfolio-investment-content .navigation>li.active>a:hover {
  background-color: @portfolio-invest-dark-bg;
  border-top: 2px solid @portfolio-invest-blue;
}

.portfolio-investment-tabcontent {
  background-color: @portfolio-invest-dark-bg;
  height: 500px;
}

.portfolio-investment-tabcontent-left {
  margin-top: 35px;
  padding-left: 45px;
  border-right: 1px solid #2D3D4F;
  padding-right: 20px;
}

.portfolio-investment-tabcontent-left-init .init-right {
  float:right;
  color: @portfolio-invest-blue;
}

.portfolio-investment-tabcontent-left-controls {
  margin-top: 40px;
}
.risk-tabs {
  border-bottom: none;
}
.risk-tabs li {
  width: 68px;
  margin: 3px;
  text-align: center;
}
.risk-tabs li a {
  font-size: 15px;
  padding: 5px;
}
.risk-tabs li a, .risk-tabs li a:hover, .risk-tabs li a:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grey;
  color: white;
  background: transparent;
}
.risk-tabs li.active a, .risk-tabs li.active a:hover, .risk-tabs li.active a:focus {
  background: transparent;
  border: none;
  border-bottom: 2px solid @portfolio-invest-blue;
  color: @portfolio-invest-blue;
}

.portfolio-investment-investbtn {
  background-color: @portfolio-invest-blue;
  width: 100%;
}

.portfolio-investment-investbtn:hover {
  background-color: #db851a;
}

.portfolio-investment-overview {
  //padding: 10px;
}

.portfolio-investment-overview-item {
  margin-bottom: 20px;
}

.portfolio-investment-overview-item-bar {
  background-color: #2D3D4F;
  margin-top: 10px;
}

.portfolio-investment-overview-item-bar div{
  height: 5px;
}

.portfolio-investment-pastp-chart {
  border-right: 1px solid #2D3D4F;
  padding-top: 20px;
}

.portfolio-investment-pastp-right {
  height: 200px;
  text-align: center;
}

.portfolio-investment-pastp-right.rec {
  color: @portfolio-invest-blue;
  padding-top: 125px;
  margin-bottom: 10px;
  border-bottom: 1px solid #2D3D4F;
}

.portfolio-investment-pastp-right.glob {
  color: #C500EF;
}

.portfolio-investment-pastp-right>span {
  display: block;
}

.portfolio-investment-pastp-right > span.value {
  font-size: 28px;
  font-weight: bold;
}

.portfolio-investment-pastp-right > span.title {
  font-size: 18px;
}

.portfolio-investment-predictedp-stats .row  {
  height: 100px;
  border-bottom: 1px solid #2D3D4F;
  margin-bottom: 25px;
}

.portfolio-investment-predictedp-stats span {
  display: block;
}

.portfolio-investment-predictedp-stats span.title{
  font-size: 14px;
}

.portfolio-investment-predictedp-stats span.value{
  font-size: 38px;
}

.portfolio-investment-predictedp-stats span.value.blue {
  color: @portfolio-invest-blue;
}

// CHARTS - BEGIN

.portfolio-investment-donut {
  border-left: 1px solid #2D3D4F;
  margin-top: -50px;
}

.highcharts-container {
  padding-top: 0px !important;
}

.highcharts-credits, .highcharts-legend {
  display: none;
}

// CHARTS - END

// SLIDER

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #2d3d4e;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid @portfolio-invest-blue;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  background: @portfolio-invest-blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #364a5e;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #2d3d4e;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid @portfolio-invest-blue;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  background: @portfolio-invest-blue;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #24303e;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #2d3d4e;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid @portfolio-invest-blue;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  background: @portfolio-invest-blue;
  cursor: pointer;
  height: 1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2d3d4e;
}
input[type=range]:focus::-ms-fill-upper {
  background: #364a5e;
}


// SLIDER