/* Mixin */
.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
  background-color: @start;
  background-image: -webkit-linear-gradient(@origin, @start, @stop);
  background-image: -moz-linear-gradient(@origin, @start, @stop);
  background-image: -o-linear-gradient(@origin, @start, @stop);
  background-image: -ms-linear-gradient(@origin, @start, @stop);
  background-image: linear-gradient(@origin, @start, @stop);
  background-repeat: repeat-x;
}

@nav-tabs-border-bottom: #184979;
@nav-tabs-border-bgcolor: #ffffff;
@open-trades-tab-bgcolor: #333333;

.well {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px none #000;
  border-bottom: 2px solid #d4d8d9;
}
#tol-traderoom-layout-6 #gamemenu{
  padding:0;
  margin-bottom: 10px;
}
.nav-tabs {
  
  background: @nav-tabs-border-bgcolor;
}
.nav-tabs > li > a {
  .gradient(top, #dfdfdf, #c8c8c8);
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px none transparent;
  border-radius: 3px 3px 0 0;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
  font-weight: 500;
}
.nav-tabs > li {
  border: 0;
}
.tol-opentrades .nav > li > a {
  color: @open-trades-tab-bgcolor;
}
.tol-opentrades .nav > li.active > a {
  color: #fff;
  padding-top: 13px;
  margin-top: 0;
  border: 0;
}
.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  .gradient(top, #225784, #184979);
  color: #fff;
  border: 1px none #225784;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs > li.active > a{
    color: #fff;
    border: 1px none #225784;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    border-bottom-color: transparent;
    cursor: default;
    background-color: #337ab7;
}
#tol-traderoom-layout-6 .tol-well {
  background-image: -moz-linear-gradient(#406E96 0%, #225784 100%);
  background-image: -webkit-linear-gradient(#406E96 0%, #225784 100%);
  background-image: -ms-linear-gradient(#406E96 0%, #225784 100%);
  padding: 6px;
  min-height: 42px;
  /*margin-bottom:10px;*/

  color: #fff;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#tol-traderoom-layout-6 .tol-well:before,
#tol-traderoom-layout-6 .tol-well:after {
  clear: both;
  display: table;
  content: " ";
}
#tol-traderoom-layout-6 .tol-well-connected {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-image: -moz-linear-gradient(#184979 0%, #0C386C 100%);
  background-image: -webkit-linear-gradient(#184979 0%, #0C386C 100%);
  background-image: -ms-linear-gradient(#184979 0%, #0C386C 100%);
  margin-bottom: 15px;
}
#tol-traderoom-layout-6 .tol-well .nav-pills>li>a {
  position: relative;
  display: block;
  padding: 3px 12px;
  color: #fff
}
#tol-traderoom-layout-6 .tol-well .nav-pills > li.active > a,
#tol-traderoom-layout-6 .tol-well .nav-pills > li.active > a:hover,
#tol-traderoom-layout-6 .tol-well .nav-pills > li.active > a:focus {
  color: #2b7db8;
  background-color: #fff;
}
.divAsstFilterMain div {
  position: relative;
  display: block;
  padding: 3px 12px;
  float: left;
  cursor: pointer;
}
.divAsstFilterMain div.selected {
  color: #2b7db8;
  background-color: #ffffff;
  border-radius: 4px;
}
//Trader Insight START
.traderInsight .assetRow {
  height: 10px;
  text-align: left;
  position: relative;
  background-color: #4cbf6f;
  border-radius: 5px;
  margin-bottom: 28px;
  padding: 0;
}
.traderInsight .assetName {
  color: #333;
  font-size: 1em;
  padding-bottom: 5px;
  position: relative;
  top: -39px;
  text-align: center;
}
.traderInsight .assetRow .above {
  font-size: 1em;
  color: #333;
  border-radius: 5px;
}
.traderInsight .assetRow .below {
  display: inline-block;
  position: absolute;
  right: 0;
  text-align: right;
  font-size: 1em;
  color: #333;
  background: #e43b36;
  height: 9px;
  overflow: visible !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 0px;
}
.traderInsight .assetRow .above .percent, .traderInsight .assetRow .below .percent {
  position: relative;
  top: -18px;
}
.traderInsight {
  position: relative;
  top: 0px;
}
.row.right-col .traderInsight {
  position: relative;
  top: 30px;
}
.tol-trader-insight-head {
  padding: 7px 7px 6px 7px;
  background: #D7D5D5;
  margin-bottom: -14px;
  font-weight: 500;
}
#tol-traderoom-layout-6 .tol-well.tol-trader-insight-header {
  padding-top: 14px;
  font-weight: 500;
  height: 50px;
}
.tol-trader-insight .well {
  padding: 33px 3px 19px;
}
//Trader Insight END
//Open and Closed Trades
#tol-traderoom-layout-6 .tol-opentrades #closeTradesOptionsWrap {
  background: #3788c5;
  padding: 6px;
  color: #fff;
}
#tol-traderoom-layout-6 #closeTradesOptionsWrap label, #tol-traderoom-layout-6 .myTradesInfoLabel {
  margin: 0 5px 0 15px;
}
#tol-traderoom-layout-6 #closeTradesDDLWrap {
  display: inline-block;
}
.browser-msie #tol-traderoom-layout-6 #closeTradesDDLWrap {
  position: relative;
  top: 10px;
}
#tol-traderoom-layout-6 .hasDatepicker {
  width: 140px;
  display: inline-block;
}
#tol-traderoom-layout-6 .myTradesInfo {
  margin: 10px 0;
}
#tol-traderoom-layout-6 #closeTradesOptionsWrap label:first-child, #tol-traderoom-layout-6 .myTradesInfoLabel:first-child {
  margin-left: 0;
}
//End Open and Closed Trades
.btn-up {
  position: relative;
  border-radius: 5px;
  .gradient(top, #2FD06C, #149F36);
  color: #ffffff;
  text-shadow: 0px 0px 0px #000000;
  border-bottom: 1px solid #006900;
  box-shadow: none;
  text-align: center;
  min-height: 90px;
  max-width: 90%;
  font-weight: 500;
  font-size: 1.8em;
  line-height: 77px;
  text-transform: uppercase;
}
#tol-traderoom-layout-6 .btn-down {
  position: relative;
  border-radius: 5px;
  .gradient(top, #DF2121, #A80202);
  color: #ffffff;
  text-shadow: 0px 0px 0px #000000;
  border-bottom: 1px solid #720000;
  box-shadow: none;
  text-align: center;
  min-height: 90px;
  max-width: 90%;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 77px;
  text-transform: uppercase;
}
.btn-down:hover {
  border-bottom: 1px solid #720000;
}
#tol-traderoom-layout-6 .flat-top-borders {
  border-bottom-right-radius: 0px;
}
  #tol-traderoom-layout-6 .tol-blue-right {
    height:385px;
    background: #e4edf0;
    border-right: 1px solid #d4d8d9;
    border-left: 1px solid #d4d8d9;
    border-bottom: 2px solid #d4d8d9;
    border-radius: 0 0 4px 0;
    }
#tol-traderoom-layout-6 .chartV2Wrapper {
  height: 305px;
  max-height: 305px;
  border: 1px solid #C9C9C8;
  background: #E2E1DF;
  margin-bottom: 8px;
}
#tol-traderoom-layout-6 #oldChartContainer,
#tol-traderoom-layout-6 #chartContainer,
#tol-traderoom-layout-6 .oldChartContainer .highcharts-container {
  height: 282px;
  max-height: 282px;
}
.highcharts-background {
  fill: #E2E1DF;
}
.tol-opentrades-table .actionButton {
  background: #FFF;
  text-shadow: none;
  border: 1px solid #000;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 2px 6px;
}
.tol-opentrades-table .actionButton:hover {
  background: #000;
  color: #FFF;
}
.turboSliderButton.inactive {
  background-color: #d5d5d5;
}
.turboSliderButton.leftButton {
  background: url('/wp-content/themes/tol-parent/images/left_arrow_openTrades.png') #d5d5d5 no-repeat 4px 26px;
}

.turboBoxSection.isTurboSlider {
  margin-top: 6px;
}

.turboSliderButton.rightButton {
  right: 0px;
  background: url('/wp-content/themes/tol-parent/images/right_arrow_openTrades.png') #d5d5d5 no-repeat 4px 26px;
}

.turboTime {
  background: url('/wp-content/themes/tol-parent/images/clock-white.png') no-repeat 5px;
}

.isNA {
  background: #6E6E6E;
  border-bottom-color:#4B4B4B;
}
.isWin {
  background-image: -moz-linear-gradient(90deg, #41b464 0%, #50c373 100%);
  background-image: -webkit-linear-gradient(90deg, #41b464 0%, #50c373 100%);
  background-image: -ms-linear-gradient(90deg, #41b464 0%, #50c373 100%);
  border-bottom-color:#319950;
}
.isLose {
  background-image: -moz-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
  background-image: -webkit-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
  background-image: -ms-linear-gradient(90deg, #db2f2f 0%, #f14c40 100%);
  border-bottom-color:#c11e1a;
}

.ui-dialog .ui-dialog-titlebar {
  background: #353535;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ui-dialog.ui-widget-content {
  padding: 0;
}
.popUpTitle {
  font-weight: bold;
}
#closePopUp, #closeAllPopUp {
  background: #FFF;
  border: 1px solid #000;
  border-radius: 3px;
}
#nextPopUp, .tradingToolsExecute {
  background: #1070B4;
  color: #FFF;
  border-top: 1px solid #75BAED;
  border-bottom: 1px solid #173C59;
  border-radius: 3px;
  cursor: pointer;
}
.tradingToolsExecute {
  width: 86px;
}
.tradingToolsExecute:hover {
  font-size: 1em;
  color: #000;
}
.ui-dialog.ui-widget-content.tol-tradingtools-dialog {
  width: 410px  !important;
  height: 230px  !important;
  border: 1px solid #B2B2B2;
  z-index: 99999999;
}
.ui-dialog.tol-tradingtools-dialog .ui-dialog-title {
  display: none;
}
.ui-dialog.tol-tradingtools-dialog .ui-dialog-titlebar {
  height: 41px;
  background: #dfdfdf;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #dfdfdf 0%, #c8c8c8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#c8c8c8));
    background: -webkit-linear-gradient(top, #dfdfdf 0%,#c8c8c8 100%);
    background: -o-linear-gradient(top, #dfdfdf 0%,#c8c8c8 100%);
    background: -ms-linear-gradient(top, #dfdfdf 0%,#c8c8c8 100%);
    background: linear-gradient(to bottom, #dfdfdf 0%,#c8c8c8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#c8c8c8',GradientType=0 );
}
.tradeTools .headerMenu {
  margin-top: -41px;
  color: #FFF;
}
.browser-firefox .tradeTools .headerMenu {
  margin-top: 0;
}
.browser-msie .tradeTools .headerMenu{
  margin-top: 0;
  height: 40px;
}
.toolsHeader .activeTab {
  background: #1070B4;
  color: #fff;
}
.chartContainer.openTradesTools .highcharts-tooltip text {
    fill: #fff !important;
}
.help-info-icon {
  display: none;
}
.tol-rate-label label {
    margin-left: -30px;
}

.cysecregulated {
    .help-info-icon {
        display: inline-block;
        background: url('/wp-content/themes/tol-parent/images/info-icon-blue.png') no-repeat center;
        width: 18px;
        height: 18px;
        margin-left: 10px;
        position: relative;
        top: 3px;
     }
     .oneTouch .help-info-icon {
        top: -22px;
        margin-left: -65px;
     }
    .help-info-icon:hover {
        cursor: pointer;
    }
    .rate-info-wrapper {
        display: none;
    }
    .help-info-icon:hover .rate-info-wrapper {
        display: block;
        border: 1px solid #B4C5B5;
        min-width: 200px;
        position: absolute;
        left: -123px;
        top: -80px;
        height: 70px;
        padding: 8px 10px;
        border-radius: 5px;
        text-align: left;
        z-index: 9;
        background: #FFF;
        color: #000;
        font-size: 12px;
    }
    .tol-rate-label {
        padding: 0px;
        margin: 21px 0 24px 0;
    }
}
 
.tradingToolsCancel {
  top: 5px;
  right: 5px;
}
.cancelButton-wrapper .cancelButton.bxzone {
    margin-top: 5px;
}
.btn.btn-primary.cancelButton.bxzone {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.headerExtend, .headerClose, .headerDouble, .headerInsurance {
  font-weight: normal;
  text-transform: uppercase;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    width: 85px;;
    height: 40px;
    text-align: center;
    display: inline-block;
    position: relative;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #dfdfdf;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #dfdfdf 0%, #c8c8c8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#c8c8c8));
    background: -webkit-linear-gradient(top, #dfdfdf 0%,#c8c8c8 100%);
    background: -o-linear-gradient(top, #dfdfdf 0%,#c8c8c8 100%);
    background: -ms-linear-gradient(top, #dfdfdf 0%,#c8c8c8 100%);
    background: linear-gradient(to bottom, #dfdfdf 0%,#c8c8c8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#c8c8c8',GradientType=0 );
    line-height: 43px;
    cursor: pointer;
    margin-right: 4px;
}
.tradeTools .chartContainer .chart {
  height: 168px !important;
  width: 292px !important;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
}
.tradeTools .chartContainer .chart .oldChart {
  width: 300px !important;
}
.extendCost {
  width: 86px;
}
.extendContainer, .closeContainer, .doubleContainer, .insuranceContainer {
  font-weight: normal;
  width: 86px;
}
.extendToSelectWrapper {
  background: url('/wp-content/themes/tol-parent/images/arrowDark.png') 63px no-repeat;
  border: 1px solid #000;
  width: 86px;
}
.extendToSelect {
  background: transparent;
}
.turboChart .turboStrike, .turboChart .turboAmount, .turboChart .turboReturn {
  color: #000;
}
#expireTurbo-tradologic {
  display: inline;
}
.turboChart {
  background: #FFF;
  color: #000;
  padding: 0;
  border: 1px solid #B2B2B2;
  border-radius: 3px;
}
.closed-trades-btn {
  width: 12%;
  margin-left: 30px;
}
.delimiter {
  margin: -5px 0px;
  height: 44px;
  background: url('/wp-content/themes/tol-parent/images/delimiter.png') no-repeat;
}
.potential-payout, .payoutDDLWrapper, .timeToInvestDDLWrapper {
  padding: 40px 0;
  text-align: center;
  line-height: 1.1em;
  border-bottom: 2px dashed #d0cab8;
}
.payoutDDLWrapper {
  line-height: 2em;
}
.timeToInvestDDLWrapper {
  padding: 40px 0 38px 0;
  border-bottom: 2px none #d0cab8;
}
.zone-price {
  font-size: 1.214em;
}
.zone-payout {
  font-size: 3.571em;
  font-weight: bold;
}
.zone-time {
  color: #c91515;
  font-size: 1.500em;
}
.timeToInvestDDLWrapper:after {
  content: '';
  width: 18px;
  height: 90px;
  position: absolute;
  top: 145px;
  left: -18px;
  background: url('/wp-content/themes/tol-parent/images/arrow-right-part.png') no-repeat;
}
.potential-payout:after {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  right: 22%;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 15px solid #225784;
}
.badge-green {
  background: #4cbf6f;
  font-weight: 400;
}
.chartNavigationPeriod:disabled {
  background: #FFF;
  color: #0E4074;
}
.chartNavigationPeriod {
  background: none;
  margin: 0;
  border: 0;
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  width: 11.9%;
  border-radius: 3px;
}


.navigationContainerPeriod {
  display: inline-block;
  line-height: 22px;
  background: #0E4074;
  margin-left: 2px;
  border-radius: 2px;
  padding: 0 3px;
  position: relative;
  z-index: 1;
  left: 40px;
  width: 93.6%;
}


#tol-traderoom-layout-6 .navigationContainer {
  background: url('/wp-content/themes/tol-parent/images/graph-zone.png');
  left: 16px;
  top: 1px;
  width: 40px;
  height: 22px;
}
.rate-widget {
  width: 90%;
  display: block;
  background: #fff;
  min-height: 70px;
  line-height: 53px;
}
.tol-rate-label {
  padding: 20px 0 20px 0;
  margin: 21px 0 24px 0;
}
.oneTouch .tol-rate-label {
  padding: 30px 0 20px 0;
}

.widgetInvestAmount {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}
.headerExtend.disabled, .headerClose.disabled, .headerDouble.disabled, .headerInsurance.disabled {
  color: #404040;
  //background: rgba(153, 153, 153, 0.4);
  
}
.noOptions
{
  width:100%;
  height: 100%;
  position:absolute;
  background:rgba(255,255,255,0.8);
  text-align: center;
  top:0;
  z-index: 99999;
}

div.noop {
    position: relative;
}


.noOptions span
{
  font-size: 20px;
  color: #000;
  vertical-align: middle;
  width: 100%;
  display: inline-block;
  position:relative;
  top: 9em;
}

// Help steps
.helpContainer {
  opacity: 0.6;
  background: #000;
  width: 100%;
  height: 420px;
  position: absolute;
  z-index: 11111;
  border-radius:3px;
}

.helpContainerLabels1, .helpContainerLabels2 {
  background:none;
  width: 100%;
  height: 420px;
  z-index: 11112;
  color:white;
  position: absolute;
}
.helpContainerLabels1 div, .helpContainerLabels2 div {
  font-size:20px;
  display:inline-block;
  font-family: 'HandSean', Arial, sans-serif;
  position:absolute;
}
.helpChooseAssetBG {
  width: 37px;
  height: 32px;
  display: inline-block;
  position: absolute;
  background:url('/wp-content/themes/tol-parent/images/help-sprite-zone.png') -1px 7px;
  top: 5%;
  left: 17%;
  -webkit-transform:scale(-1);
  -moz-transform:scale(-1);
  -ms-transform:scale(-1);
  -o-transform:scale(-1);
  transform:scale(-1);
}
.helpChooseAsset {
  top: 10%;
  left: 15%;
}
.helpChooseExpiryBG {
  width: 26px;
  height: 36px;
  display: inline-block;
  position: absolute;
  background:url('/wp-content/themes/tol-parent/images/help-sprite-zone.png');
  background-position: -1px -54px;
  top: 35px;
  left: 465px;
}
.helpChooseExpiry {
  top: 64px;
  left: 385px;
}
.helpInvestment {
  top:68px;
  right:10px;
}
.helpInvestmentBG {
  width:32px;
  height:31px;
  display: inline-block;
  position: absolute;
  background:url('/wp-content/themes/tol-parent/images/help-sprite-zone.png');
  background-position: -1px -24px;
  right: 125px;
  top: 40px;
}
.helpChooseDirBG {
  width:40px;
  height:171px;
  display: inline-block;
  position: absolute;
  background:url('/wp-content/themes/tol-parent/images/help-sprite-zone.png');
  background-position: -38px 0px;
  right: 373px;
  left:auto;
  top: 145px;
}
.helpChooseDir {
  left: 400px;
  top: 215px;
}
.helpPayoutBG {
  width: 26px;
  height: 36px;
  display: inline-block;
  position: absolute;
  background:url('/wp-content/themes/tol-parent/images/help-sprite-zone.png');
  background-position: -1px -54px;
  top: 270px;
  right: 125px;
}
.helpPayout {
  right: 100px;
  top: 300px;
}
.helpInvestAmountBG {
  width:150px;
  height:47px;
  display: inline-block;
  position: absolute;
  background:url('/wp-content/themes/tol-parent/images/help-sprite-zone.png');
  background-position: 0px -191px;
  left: 435px;
  top: 220px;
}
.helpInvestAmount {
  top: 82px;
  right: 395px;
  left:auto;
}
.helpExecuteTradeBG {
  width:42px;
  height:36px;
  display: inline-block;
  position: absolute;
  background:url('/wp-content/themes/tol-parent/images/help-sprite-zone.png');
  background-position: 0px 12px;
  right: 395px;
  top: 100px;
}
.helpExecuteTrade {
  left:auto;
  right: 470px;
  top: 277px;
}
.helpReturnBG {
  width:46px;
  height:36px;
  display: inline-block;
  position: absolute;
  background:url('/wp-content/themes/tol-parent/images/help-sprite-zone.png');
  background-position: 0px 12px;
  left: 490px;
  bottom: 110px;
}
.helpReturn {
  bottom: 178px;
  left: 320px;
}
.helpNavActive {
  width:10px;
  height:10px;
  background:#fff;
  border-radius:50%;
  display:inline-block;
  margin-right:5px;
  margin-bottom:3px;
}
.helpNav {
  width:8px;
  height:8px;
  border:1px solid #fff;
  border-radius:50%;
  display:inline-block;
  margin-right:5px;
  margin-bottom:3px;
}
.navNext, .navClose {
  text-transform:uppercase;
  font-size:12px;
  padding:3px 5px;
  border-radius:3px;
  position: absolute;
  right: 4px;
  cursor: pointer;
  top: -15px;
}
.navLeft {
  width: 15px;
  height: 33px;
  background: url('/wp-content/themes/tol-parent/images/hand-buttons-zone.png');
  display: inline-block;
  background-position: 0px -35px;
  line-height: 33px;
}
.navMid
{
  width: auto;
  height: 33px;
  background: url('/wp-content/themes/tol-parent/images/hand-buttons-zone.png');
  display: inline-block;
  background-position: 0px -69px;
  line-height: 33px;
}
.navRight
{
  width: 15px;
  height: 33px;
  background: url('/wp-content/themes/tol-parent/images/hand-buttons-zone.png');
  display: inline-block;
  background-position: 0px -1px;
  line-height: 33px;
}
.navWrapper {
  margin-left: 45%;
  bottom: 10px;
  width:55%;
}
.help {
  width:30px;
  height:23px;
  background: transparent;
  cursor:pointer;
  display:inline-block;
  float:right;
  top: 10px;
  position: relative;
  margin-left:10px;
  border:1px solid #fff;
  border-radius:3px;
}
.help.active {
  background: #fff;
}
.help .helpBG {
  background: url('/wp-content/themes/tol-parent/images/icons-zone.png');
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: -72px -19px;
  position: relative;
  top: 3px;
  left: 7px;
  background-repeat: no-repeat;
}
.help.active .helpBG {
  background-position: -72px 0px;

}
//End help steps
.navigationContainer li {
  display: none;
  background: #0E4075;
  height: 25px;
  width: 121px;
  z-index: 50;
  left: -40px;
  border-right: 1px solid #0E4075;
  border-left: 1px solid #0E4075;
}
.chartNavigation {
  color: #fff;
  width: 120px;
  background: none;
  border: none;
  padding: 0;
  line-height: 25px;
  text-align: left;
  padding-left: 5px;
  border-top: 1px solid #2C5987;
  margin: 0px;
}
.chartNavigation:disabled {
  background: url('/wp-content/themes/tol-parent/images/check-white.png');
  background-repeat: no-repeat;
  background-position: 95px center;
}
#tol-bxzone-trade button.close {
  background: transparent;
  border: 0;
  font-size: 2em;
  margin-right: 0.2em;
  margin-top: 0.1em;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#tol-bxzone-trade .modal-header.tol-well.tol-well-connected {
  margin: 1px;
}
#tol-bxzone-trade .modal-title {
  line-height: 1.628571429;
}
.form-horizontal label {
  text-align: left !important;
  display: block;
  float: left;
  font-size: 1em;
  font-weight: 500;
}
.selectionWrapper {
  height: 28px;
  line-height: 28px;
  padding-top: 5px;
  margin-bottom: 7px;
}
.ratePopup, .selectionStateLabel {
  line-height: 30px;
  height: 30px;
  color: #333;
  font-size: 15px;
  background: #D9D9D9;
  border-radius: 3px;
  font-weight: bold;
  width: 155px;
  padding-left: 4px;
  border: 1px solid #dcdcdc;
  text-align: left;
  float: right;
}
.selectionStateLabel.popUpTitle {
  color: #f14c40;
  text-transform: uppercase;
}
.selectionStateLabel.call {
  color: #50c373;
  text-transform: uppercase;
}
.selectionStateLabel.put {
  color: #f14c40;
  text-transform: uppercase;
}
#tol-bxzone-trade .modal-body {
  background: #FDFDFD;
  background: -moz-linear-gradient(top,  #FDFDFD 5%, #E3E4E4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#FDFDFD), color-stop(100%,#E3E4E4));
  background: -webkit-linear-gradient(top,  #FDFDFD 5%,#E3E4E4 100%);
  background: -o-linear-gradient(top,  #FDFDFD 5%,#E3E4E4 100%);
  background: -ms-linear-gradient(top,  #FDFDFD 5%,#E3E4E4 100%);
  background: linear-gradient(to bottom,  #FDFDFD 5%,#E3E4E4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FDFDFD', endColorstr='#E3E4E4',GradientType=0 );
  color:#333;
  font-weight:bold;
  padding: 15px;
}
#tol-bxzone-trade .btn-default{
  text-shadow: none;
  border-radius: 3px;
  cursor: pointer;
  background: #D9D9D9;
  color: #000;
  border: 1px solid #dcdcdc;
  box-shadow: none;
  width: 155px;
  height: 30px;
}
.expireTurboRuleInterval {
  background: none transparent;
  width: 33px!important;
  height: 28px!important;
  border: none!important;
  color: #fff !important;
  padding: 0px!important;
  margin: 0px!important;
  line-height: 30px!important;
  font-size: 12px!important;
  margin-right: 3px!important;
  font-weight: bold;
  border-right: 1px solid #FFF !important;
  border-radius: 0;
}
.expireTurboRuleInterval.activeRule {
  background: #fff;
  color: #333 !important;
  font-weight: normal;
  font-family: robotomedium;
  box-shadow: inset 0px 0px 5px #000000;
  cursor: default;
  border: none !important;
}
#tol-bxzone-trade {
  z-index: 999998;
}

.ui-front{
    z-index: 100000 !important;
}

.touchrateAlpha, .touchrateBeta {
  position: absolute;
  left: 0px;
  top: 40px;
  font-size: 0.5em;
  height: 2.2em;
}
.chartNavigationPeriod {
        width: 10%;
    }
.navigationContainerPeriod {
    margin-left: 104px; 
    width: 78%;
    margin-top: -20px;
}
.advanced_chart.tradologic a{
    width: 15%;
    margin-left: 43px;
}
.cysecregulated .rate-widget {
    line-height: 1.33;
    height: 94px;
}
#tol-pastExpiries-layout-1 .tol-form-inline label {
    text-align: left !important;
}
.cysecregulated #tol-pastExpiries-layout-1 .help-info-icon:hover .rate-info-wrapper {
    left: -17px;   
}
.ask-bid-wrapper {
    font-size: 15px;
    padding-top: 10px;   
}
.rate-bid-title {
    color: #DC1F1F;
}
.rate-ask-title {
    color: #36C036;
}
.pastExpiriesChart .chart {
    width: 430px;
}
@media (min-width: 1200px) {
  .btn-up i:after {
    left: -30px;
    top: 2px;
  }
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
  .col-sm-15-3 {
    width: 60%;
    float: left;
  }
  .col-sm-15-4 {
    width: 80%;
    float: left;
  }
  .navbar-collapse {
    padding-left: 0px;
  }
  .navbar-btn {
    margin-top: -42px;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-nav > li > .dropdown-menu {
    border-radius: 3px;
  }
  .form-horizontal .text-left {
    text-align: left
  }
}
@media (max-width: 1440px){
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.tol-tradingtools-dialog.ui-draggable {
        top: 788px !important;
    }
}

@media (max-width: 768px) {
    #tol-traderoom-layout-6 .advanced_chart {
        display: none;
    }
    .navigationContainerPeriod {
        margin-left: 0px;
        width: 85%;
        margin-top: 0px;
        padding: 0px;
    }
    .chartNavigationPeriod {
        width: 18%;
    }
    .cysecregulated .rate-widget {
        line-height: 1;
        height: 94px;
    }
    .cysecregulated .tol-rate-label {
        margin: -32px 0 21 0;
    }
    .rate-info-wrapper{
        height: auto !important;
        padding: 0 10px !important;
        min-width: 260px !important;
    }
    .widgetButtonBeta {
        margin-left: -10px;
    }
    .tol-tradebox-right {
        padding-top: 25px;
        float: left;
    }
    .tol-rate-label label{
        padding-top: 5px;
    }
    .targetLblContentWrap .img{
        left: 5 !important;
    }
    .targetLblContentWrap .price{
        padding-left: 10px;
        margin-left: 5px;
    }
    .input-lg {
        font-size: 12px;
        line-height: 14px;
        height: 85px;
    }
    .tol-rate-label {
        padding: 0px;
        margin: 0;
        margin-top: -24px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .tol-rate-label label {
        margin-left: 0;
    }
    .help-info-icon:hover .rate-info-wrapper {
        left: -155px;
        top: -42px;
    }
    .well.well-sm.col-sm-15-4.clearfix.flat-top-borders .col-sm-3 {  
        margin-top: 40px;
    }
    #tol-traderoom-layout-6 .btn-up i:after, #tol-traderoom-layout-6 .btn-up b:after {
        left: -5px;
    }
    #tol-traderoom-layout-6 .btn-down i:after, #tol-traderoom-layout-6 .btn-down b:after {
        left: -5px;
    }
}
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #tol-traderoom-layout-6 .chartV2Wrapper {
        height: 325px;
        max-height: 325px;
    }
    #tol-traderoom-layout-6 .tol-blue-right {
        height: 405px;
    }
    #tol-traderoom-layout-6 .btn-up i:after, #tol-traderoom-layout-6 .btn-up b:after {
        left: -4px;
    }
  
    .touch .btn-up, .touch .btn-down {
        font-size: 14px;
    }
    .touch .widgetButtonBeta span:nth-of-type(1) {
        font-size: 14px;
    }
    .touchrateAlpha, .touchrateBeta {
        font-size: 13px;
    }
    .oneTouch .btn-up, .oneTouch .btn-down,
    .oneTouch .widgetButtonBeta span:nth-of-type(1) {
        font-size: 16px;
    }
    .ticks .btn-down i:after,.ticks .btn-down b:after,
    .oneTouch .btn-down i:after, .oneTouch .btn-down b:after {
        left: -3px !important;
    }
    .tol-well.form-inline .col-xs-4.col-sm-3 {
        width: 32%;
        margin-left: -7%;
        padding-left: 19px; 
    }
    .navigationContainerPeriod {
        width: 90%;
    }
    .nav.nav-tabs > li > a {
        padding: 10px 14px;
    }
    .chartNavigationPeriod {
        width: 11%;
        padding: 0;
    }
    .navigationContainerPeriod {
        width: 65%;
    }
    .well.well-sm.col-sm-15-4.clearfix.flat-top-borders .col-sm-3 {
        margin-top: 0px;
    }
    .cysecregulated {
        .tol-rate-label {
            padding: 20px 0 20px 0;
            margin: 0;
        }
        .input-lg {
            font-size: 17px;
            line-height: 18px;
        }
        .our_rate_onetouch {
            padding-right: 30px;
        }
        .oneTouch .help-info-icon {
            top: -11px;
            margin-left: -57px;
        }
        .help-info-icon:hover .rate-info-wrapper {
            top: -37px;
        }
       
    }
    .widgetButtonBeta {
        margin-left: 0;
    }
    .oneTouch .input-lg {
        margin-top: 10px;
    }

}
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .cysecregulated{
        .input-lg {
            font-size: 12px;
            line-height: 19px;
        }
        
    }
}
//SIGNALS
.signalsWidget .tableRowDiv:nth-child(odd) {
  border-right: 0;
  background: #FFFFFF;
}
.signalsWidget .tableRowDiv:nth-child(even) {
  background: #E0E0E1;
}
.signalsWidget .tableHeaderDiv > div {
  color: #333;
  background: #d5d5d5 url('/wp-content/themes/tol-parent/images/separator-light.png') no-repeat right top;
  vertical-align: bottom;
  border-top: 0;
  border-bottom: 2px solid #BBBBBB;
  padding: 8px;
  line-height: 1.428571429;
  font-size: 0.9em;
  font-weight: 500;
  text-align: left;
  display: table-cell;
  width: 17%;
}
.columnAsset, .columnValidity, .columnExpiryTime, .columnPayout, .columnSignal, .columnStrength, .columnAmount, .columnTrade {
  display: table-cell;
  padding: 8px;
  line-height: 1.428571429;
  text-align: left;
  width: 17%;
}
.lang-fr .columnExpiryTime,
.lang-de .columnExpiryTime {
    width: 10%;
}
.lang-fr .columnTrade,
.lang-de .columnTrade {
    width: 24%;
}
.signalsWidget .tableHeaderDiv > div.validityHeader, .columnValidity,
.signalsWidget .tableHeaderDiv > div.payoutHeader, .columnPayout {
  width: 8%;
}
.signalsWidget .tableHeaderDiv > div.signalHeader, .columnSignal {
  width: 10%;
}
.signalsWidget .tableHeaderDiv > div.strengthHeader, .columnStrength {
  width: 20%;
}
.lang-fr  .signalsWidget .tableHeaderDiv > div.expiryTimeHeader ,
.lang-de  .signalsWidget .tableHeaderDiv > div.expiryTimeHeader {
       width: 10%;
}
.lang-fr  .signalsWidget .tableHeaderDiv > div.tradeHeader ,
.lang-de  .signalsWidget .tableHeaderDiv > div.tradeHeader {
     width: 24%;
}
.signalStrength.percWrap {
  background-image: url('/wp-content/themes/tol-parent/images/signal_strength_full.png');
  background-repeat: no-repeat;
  width: 126px;
  height: 20px;
  position: relative;
  margin-top: 3px;
}
.signalStrength.percInner {
  display: block;
  height: 20px;
  background-image: url('/wp-content/themes/tol-parent/images/signal_strength.png');
  background-repeat: no-repeat;
}

.signalsWidget .tableBodyDiv div.columnAsset .asset {
  overflow:hidden;
}
.signalsNoOptions {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(42,42,42,0.5);
  z-index: 98;
}
.signalsNoOptions span {
  display: block;
  padding-top: 12%;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
.signalAmount {
  width: 90%;
  padding-left: 4px;
}
.signalsWidget .trade input[type=button] {
  display:inline-block;
  width: 38px;
  height:26px;
  border:0;
  border-bottom:1px solid #ffb000;
  background: #ffc543;
  background: -moz-linear-gradient(top, #ffc543 0%, #ffb510 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffc543), color-stop(100%, #ffb510));
  background: -webkit-linear-gradient(top, #ffc543 0%, #ffb510 100%);
  background: -o-linear-gradient(top, #ffc543 0%, #ffb510 100%);
  background: -ms-linear-gradient(top, #ffc543 0%, #ffb510 100%);
  background: linear-gradient(to bottom, #ffc543 0%, #ffb510 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc543', endColorstr='#ffb510', GradientType=0 );
  text-decoration:none;
  text-transform: uppercase;
  color:#000;
  border-radius: 3px;
}
.lang-de .signalsWidget .trade input[type=button], .lang-fr .signalsWidget .trade input[type=button] {
    width: auto; 
}
.signalsWidget .trade input[type=button]:disabled {
  background: #1C1C1C;
  color: #3D4146;
  border-top: 1px solid #1C1C1C;
  border-bottom: 1px solid #1C1C1C;
}
.signalsWidget .signalHeader {
  width: 50px;
}
.signalsWidget .strengthHeader {
  width: 130px;
}
.signalsWidget .ditectionDiv {
  position: relative;
  width: 50px;
  padding: 0 3px;
  text-indent: 14px;
}
.signalsWidget .signalDown {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ff2f2f;
  left: 3px;
  top: 42%;
}
.signalsWidget .signalUp {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #0bce30;
  left: 3px;
  top: 42%;
}
.signalsUserClasses {
  width:619px;
  height:309px;
  background:url('/wp-content/themes/tol-parent/images/signalsUserClasses.jpg')
}
.signalsUserClasses span {
  margin: 20px auto;
  font-size: 14px;
  text-align: center;
  position: absolute;
  width: 100%;
}

.signalsUserClasses .buttons-wrapper
{
  top:auto;
  bottom:0;
  right:20px;
}
.tournamentsWrapper {
    height: 244px;
}
.tournamentsWrapper .tableBodyDiv .tableRowDiv div:last-child {
    padding: 0 0 0 10px;
}
.tournamentsWrapper .userRankDiv .countryDiv {
    width: 24%;
}
.tournamentsWrapper .userRankDiv .rankDiv {
    width: 16%;
}
.tournamentsBody {
    background: #E0E0E1;  
}
.tournamentsWrapper .userRankDiv .prizesDiv, .tournamentsWrapper .tableBodyDiv .columnPrize,
.tournamentsWrapper .userRankDiv .resultsDiv, .tournamentsWrapper .tableBodyDiv .columnResults,
.tournamentsWrapper .userRankDiv .countryDiv, .tournamentsWrapper .tableBodyDiv .columnCountry,
.tournamentsWrapper .userRankDiv .nameDiv, .tournamentsWrapper .tableBodyDiv .columnName,
.tournamentsWrapper .userRankDiv .rankDiv, .tournamentsWrapper .tableBodyDiv .columnRank {
    padding: 0 0 0 10px;
}
.tournamentsWrapper .tableHeaderDiv  {
    width: 100%;
}
.tournamentsWrapper .tableHeaderDiv div {
    color: #000;
}
.tournamentsWrapper .tableBodyDiv {
    padding-top: 0;
}
.tournamentsWrapper .tableBodyDiv .tableRowDiv {
    border-bottom: none;
}
.tournamentsWrapper .tableBodyDiv .tableRowDiv:nth-child(odd) {
    background: #fff;
}
.tournamentsWrapper .tableHeaderDiv,
.userRankDiv {
    background: #D5D5D5;
}
.tournamentsWrapper .tableBodyDiv .tableRowDiv:nth-child(even) {
    background: #E0E0E1;
}
@media (max-device-width : 1024px) {
    .tournamentsWrapper .userRankDiv .rankDiv, .tournamentsWrapper .tableBodyDiv .columnRank,
    .tournamentsWrapper .tableHeaderDiv .rankHeader {
        width: 10%;
    }
    .tournamentsWrapper .userRankDiv .resultsDiv, .tournamentsWrapper .tableBodyDiv .columnResults,
    .tournamentsWrapper .tableHeaderDiv .resultsHeader {
        width: 20%;
    }
    .tournamentsWrapper .tableHeaderDiv .nameHeader {
        width: 24%;
    }
    .tournamentsWrapper .tableHeaderDiv .prizeHeader {
        width: 21%;
    }
    .tournamentsWrapper .userRankDiv .nameDiv {
        padding: 0 0 0 16px;
    }
    .tournamentsWrapper .userRankDiv .rankDiv {
        width: 11%;
    }
    .tournamentsWrapper .userRankDiv .nameDiv {
        width: 24%;
    }
}
.tournamentsBody .mCustomScrollBox.mCS-light {
    height: auto !important;
}
.countdown-timer {
  width:50px;
  height:50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  color: #0A70B7;
  display: block;
  margin: 0 auto;
  background: url('/wp-content/themes/tol-parent/images/blue.gif') no-repeat center;
  margin-top: -5px;
}

/* =================== End of the Trading Signals =====================*/

//One Touch game
.assetName .arrowDown {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #333;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 12px;
  left: 3px;
}
.assetName .arrowUp
{
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #333;
  width: 1px;
  height: 1px;
  position: absolute;
  top:12px;
  left:3px;
}
.scrollContent tr td {
  position: relative;
}
.name.assetName {
  text-indent: 7px;
}
.oneTouchName.img.down, .targetLblContent.img.down {
  background: url('/wp-content/themes/tol-parent/images/closed_put_onetouch.png') no-repeat;
}
.oneTouchName.img.up, .targetLblContent.img.up
{
  background: url('/wp-content/themes/tol-parent/images/closed_call_onetouch.png') no-repeat;
}
.oneTouchNameWrap
{
  width:100%;
  direction:ltr;
}

.oneTouchName.img
{
  display:inline-block;
  width:16px;
  height:8px;
}

.targetLblContent.img
{
  width:16px;
  height:8px;
}

.targetLblContent.img.up
{
  position: absolute;
  bottom: 12px;
  left: 25px;
  z-index: 1;
}

.targetLblContent.img.down
{
  position: absolute;
  bottom: 12px;
  left: 25px;
  z-index: 1;
}
.oneTouchName.lbl
{
  display:inline-block;
}
.targetLblContent
{
  display:inline-block;
}
.oneTouch .targetLblContent.lbl
{
  display:block;
  font-weight: 300;
}
.oneTouch .widgetRateAlpha .targetLblContent.price {
  color: #333;
  position: relative;
  text-align: right;
  font-size: 15px;
  padding: 1px 5px 1px 0;
  border-radius: 5px;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #dddddd;
  cursor: not-allowed;
}
.oneTouch .widgetRateAlpha {
  margin-top: 5px;
  padding: 0;
  width: 90%;
}
.targetLblContent.price
{
  color:#ffca29;
  font-size:18px;
}
.oneTouch .tol-rate-label {
  margin: -30px 0 1px 0;
}
.our_rate_onetouch {
  margin: 0;
  padding-top: 5px;
}
.modal-backdrop {
    height:200%;
}
.widgetButtonBeta span:nth-of-type(1) {
  font-size: 23px;
}
.tol-traderoom .btn-default {
  background-color: #ffffff;
  background-image: none;
  color: #555555;
  border: 1px solid #dddddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.pull-left, .pull-right{
    margin: 0 0 2px;
}
.trader-insight-title {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 17px;
    position: relative;
    top: 10px;
    text-indent: 16px;
}
.traderInsightWrapper {
    width: 100%;
    height: 11px;
    position: relative;
    float: left;
    left: 0;
    text-align: center;
    color: #fff;
    border: 2px solid #f8f7f7;
    font-weight: bold;
    background: #CE3838;
    background: -moz-linear-gradient(top, #ce3838 0%, #ba1212 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ce3838), color-stop(100%, #ba1212));
    background: -webkit-linear-gradient(top, #ce3838 0%, #ba1212 100%);
    background: -o-linear-gradient(top, #ce3838 0%, #ba1212 100%);
    background: -ms-linear-gradient(top, #ce3838 0%, #ba1212 100%);
    background: linear-gradient(to bottom, #ce3838 0%, #ba1212 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CE3838', endColorstr='#BA1212', GradientType=0);
    border-radius: 5px;
    box-shadow: #E6E6E6 1px 1px 5px;
}
.volumePercentLeft, .volumePercentRight {
    width: 27px;
    height: 17px;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -5px;
}
.volumePercentLeft {
    float: right;
    border-radius: 5px;
    box-shadow: inset 0 1px #34a155;
    background: #2BC762;
    background: -moz-linear-gradient(top, #2bc762 5%, #00871f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #2bc762), color-stop(100%, #00871f));
    background: -webkit-linear-gradient(top, #2bc762 5%, #00871f 100%);
    background: -o-linear-gradient(top, #2bc762 5%, #00871f 100%);
    background: -ms-linear-gradient(top, #2bc762 5%, #00871f 100%);
    background: linear-gradient(to bottom, #2bc762 5%, #00871f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2BC762',endColorstr='#00871F',GradientType=0);
}
.volumePercentLeft .percent {
    color: #FFF;
}
.traderInsightBar .above {
    position: relative;
    float: right;
    background: #42BD66;
    background: -moz-linear-gradient(top, #42bd66 0%, #1da745 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #42bd66), color-stop(100%, #1da745));
    background: -webkit-linear-gradient(top, #42bd66 0%, #1da745 100%);
    background: -o-linear-gradient(top, #42bd66 0%, #1da745 100%);
    background: -ms-linear-gradient(top, #42bd66 0%, #1da745 100%);
    background: linear-gradient(to bottom, #42bd66 0%, #1da745 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#42BD66',endColorstr='#1DA745',GradientType=0);
    width: 50%;
    height: 7px;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.volumePercentRight {
    left: 0;
    border-radius: 5px;
    box-shadow: inset 0 1px #CF1919;
    background: #CF1919;
    background: -moz-linear-gradient(top, #cf1919 5%, #831010 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #cf1919), color-stop(100%, #831010));
    background: -webkit-linear-gradient(top, #cf1919 5%, #831010 100%);
    background: -o-linear-gradient(top, #cf1919 5%, #831010 100%);
    background: -ms-linear-gradient(top, #cf1919 5%, #831010 100%);
    background: linear-gradient(to bottom, #cf1919 5%, #831010 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CF1919',endColorstr='#831010',GradientType=0);
}
.volumePercentRight .percent {
    color: #FFF;
}
.traderInsightLabelUp, .traderInsightLabelDown {
    height: 9px;
    /* width: 14px; */
    z-index: 2;
    white-space: nowrap;
    font-size: 15px;
    position: absolute;
    top: 16px;
}
.traderInsightLabelDown {
    left: 35px;
}
.traderInsightLabelUp {
    right: 50px;
}