.site {
	padding-bottom: 35px;
}

.theme-dev-container {
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 9999;
	width: 100%;
	padding: 3px 0px 10px;
	border-top: 2px solid #e0e0e0;
	text-align: center;
	background: #e9e9e9;
	color: #626262;
}
.theme-dev-container label {
	display: inline-block;
	margin: 0px 10px;
}
.theme-dev-container span[title] {
	display: inline-block;
	border-bottom: 1px dashed green;
	color: green;
}

.theme-dev-results {
	margin: 0px 0px 40px 0px;
	padding: 20px;
	border: 2px dotted #808080;
	background: #CACACA;
}
.theme-dev-container .themedevloader {
	display: inline-block;
	width: 50px;
	height: 20px;
	font-size: 9px;
	background: url('../images/loading-bar.gif') bottom center no-repeat;
	border-bottom: none;
}
.theme-dev-container .themedevloader.loaded {
	background: url('../images/bar-loaded.png') bottom center no-repeat;
}
#theme-dev-container a {
    color:#000000 !important;
    font-weight: bold;
    text-decoration: underline;
}