.entry-content, .entry-content p, .text_block p, .li_pt span, .text_block strong {
    color: #535353 !important;
    background-color: white !important;
}

.text_block strong {
    color: #272727 !important;
}
.scrollContent a:not(.get_plan) {
    color: black !important;
}
.m_blogs_title {
    background-color: #5b76a1 !important;
    color: #FFFFFF !important;
}

.new_template li, .m_blogs_content {
    color: black !important;
    background: #FFFFFF !important;
}
.entry-content li {
    color: #444 !important;
}
.page_navistyle li a {
    background: #eee !important;
}
.m_tplan_title {
    color: #FFFFFF !important;
    background-color: #5b76a1 !important;
}
.m_tplan_content {
    background-color: #FFFFFF !important;
}
.entry-content b, .entry-content strong {
    color: #222 !important;
}
.site-content h2 {
    color: #222 !important;
}
.m_navi_pan_text {
    color: #000 !important;
}