.scrollContent a:not(.get_plan) {
    color: #637E99 !important;
}
.entry-content, .entry-content p, .text_block p, .li_pt span, .text_block strong, .m_blogs_title, .new_template li, .m_blogs_content, .page_navistyle li a,
.m_tplan_title, .m_tplan_content {
    color: #637E99 !important;
    background-color: #131B28 !important;
}
.entry-content li {
    color: #637E99 !important;
}
#strategy_table td a {
    color: #637E99 !important;
}
.entry-content b, .entry-content strong {
    color: #637E99 !important;
}

.m_tplan_content table{
    color: #637E99;
}
.site-content h2 {
    color: #637E99 !important;
}
.m_navi_pan_text {
    color: #637E99 !important;
}


