.navbar-brand {
  background: url('../images/logo.png') no-repeat;
  height: 106px;
  margin-bottom: 0;
  margin-top: 0;
}
.verification-user-message {
  display: block;
  width: 120px;
  min-width: 150px;
  font-size: 12px;
  color: #fff;
}
.verification-user-message .verified {
  color: green;
}
.verification-user-message .unverified {
  color: red;
}
#verified-user-popup,
#unverified-user-popup {
  position: absolute;
  min-width: 165px;
  width: auto;
  min-height: 28px;
  background: #262626;
  border: 1px solid #977619;
  color: #fff;
  right: 160px;
  border-radius: 3px;
  padding: 5px;
  box-shadow: 1px 1px 15px;
  z-index: 12;
  padding: 5px 10px;
}
#verified-user-popup::after,
#unverified-user-popup::after {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #977619;
  top: -7px;
  position: absolute;
  left: 74px;
  content: "";
}
div#ninja_forms_form_5_cont input,
textarea#ninja_forms_field_10 {
  color: #1A1A1A;
}
.main-nav .sub-menu .menu-item a {
  text-transform: uppercase;
}
.forexCloseButton:hover {
  color: #eaeaea;
  background: url('/wp-content/themes/tol-parent/images/AttachFileHandler.jpg');
  width: 45px;
  height: 25px;
}
.loadingTransperant {
  margin-left: 5px;
}
.ui-dialog.ui-widget-content[aria-describedby="bonusAcceptDialog"] {
  border: 0;
  border-radius: 0;
}
.ui-dialog.ui-widget-content[aria-describedby="bonusAcceptDialog"] .ui-dialog-content {
  padding: 4em;
  text-align: center;
  padding-top: 40px;
}
.ui-dialog.ui-widget-content[aria-describedby="bonusAcceptDialog"] .ui-button {
  display: block;
  line-height: normal;
  background-color: #21B24B;
  border: 0;
  border-radius: 0;
  color: white;
  font-weight: 600;
  position: absolute;
  bottom: 10%;
  right: 40%;
  padding: 10px;
}
.ui-dialog.ui-widget-content[aria-describedby="bonusAcceptDialog"] .ui-dialog-titlebar {
  background: #fff ;
}
.ui-dialog.ui-widget-content[aria-describedby="bonusAcceptDialog"] .ui-state-default.ui-dialog-titlebar-close {
  height: 30px;
  width: 30px;
  background-position: 50% 50%;
  border-radius: 0;
  top: 0;
  right: 0;
  margin: 0;
}
.ui-dialog.ui-widget-content[aria-describedby="bonusAcceptDialog"] .ui-dialog-buttonset {
  width: 100%;
  text-align: center;
}
.popUpTerms {
  font-weight: 600;
  color: #21B24B;
}
.popUpTerms:hover {
  text-decoration: underline;
}
.bonusAcceptDialog-checkdiv,
.bonusAcceptDialog-terms {
  display: inline-block;
  padding: 5px;
}
.bonusAcceptDialog-question,
.bonusAcceptDialog-terms {
  font-weight: 600;
  padding: 10px;
  font-size: 17px;
}
.inactiveuser-popup {
  margin: 10px 0 30px 0;
}
.appriseInner.inactiveUserApprise button {
  font-size: 18px;
  border: 0;
  font-weight: 700;
  font-size: 15px;
  text-shadow: 0 1px 0 #fff;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0;
  background: #21B24B;
  padding: 5px 15px 5px 15px;
}
@media (max-width: 773px) {
  #tol-homepage-layout-4 .howtotrade-wrapper .navigation .how-to-trade-nav {
    margin-top: 10%;
  }
  #tol-traderoom-layout-4 div#noOptions {
    position: absolute;
    /*top: 58%;*/
    top: 0%;
    height: 100%;
  }
  .appriseInner .aButtons {
    margin: auto;
    text-align: center;
    background-color: #21B24B;
    color: white;
  }
  #tol-traderoom-layout-8 .oneTouch .tol-rate-label {
    margin: 0;
  }
  div#tol-traderoom-layout-7 .tol-game1.oneTouch .tol-rate-label,
  div#tol-traderoom-layout-4 .oneTouch .tol-rate-label {
    margin: 0;
  }
}
/*showQuestionarreNotificaion*/
.ui-dialog .ui-dialog-titlebar {
  background-color: white;
}
.questionarreNotificaion-message {
  font-weight: 500;
}
.questionarreNotificaion .btn-primary {
  float: right;
  border: 0;
  margin: 30px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
}
#tol-traderoom-layout-8 .tol-custom-popup .dropdown-toggle {
  width: 100%;
}
@media (max-width: 1919px) {
  .tol-tradebox-left.text-center.col-sm-12 .touch-button-wrapper a.btn-down.btn.btn-primary.col-sm-12.col-xs-4.Beta.widgetButton,
  .tol-tradebox-left.text-center.col-sm-12 .touch-button-wrapper a.btn-up.btn.btn-primary.col-sm-12.col-xs-4.Alpha.widgetButton.widgetButtonAlpha {
    font-size: 12px;
  }
  .widgetButtonForexTrade.isMore,
  .widgetButtonForexTrade.isLess {
    text-align: right;
  }
  .input-lg {
    font-size: 12px;
    line-height: 2.33;
  }
  .tol-tradebox-right .rate-wrapper span,
  .tol-tradebox-right .widgetInvestAmount {
    font-size: 12px;
  }
  .tol-tradebox-right .rate-wrapper span {
    line-height: 2.428571;
  }
  .oneTouch .widgetRateAlpha .targetLblContent.price {
    font-size: 12px;
  }
  #tol-traderoom-layout-8 .tol-game1.oneTouch .btn-primary.widgetButtonBeta {
    margin: 0;
  }
}
@media (max-width: 1365px) {
  #tol-traderoom-layout-8 .tol-game1.oneTouch .btn-primary.widgetButtonBeta {
    margin: 20px 0;
  }
}
