/* Body Variables */
/* Body Variables */
/* Navbar Variables */
/* Navbar Variables */
/* Chart Panel Variables */
/* Chart Panel Variables */
/* Leader Bord Variables */
/* Leader Bord Variables */
/* Pop Ups Variables */
/* Pop Ups Variables */
/* Paging Variables */
/* Paging Variables */
/* Inbox Variables */
/* Inbox Variables */
/*  Variables */
/*  Variables */
/* Buttons Variables */
/* Buttons Variables */
/* MIXINS */
/* MIXINS */
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #eeeeee;
  background-color: #1a1a1a;
}
.btn-default {
  border-radius: 3px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #3c4044 0%, #242629 100%);
  background-image: -o-linear-gradient(top, #3c4044 0%, #242629 100%);
  background-image: linear-gradient(to bottom, #3c4044 0%, #242629 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c4044', endColorstr='#ff242629', GradientType=0);
  border-color: #181a1b;
  border-bottom-color: #000000;
  text-shadow: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  cursor: pointer;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  background-image: -webkit-linear-gradient(top, #303336 0%, #181a1b 100%);
  background-image: -o-linear-gradient(top, #303336 0%, #181a1b 100%);
  background-image: linear-gradient(to bottom, #303336 0%, #181a1b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff303336', endColorstr='#ff181a1b', GradientType=0);
  border-color: #000000;
  color: #ffffff;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #303336;
  border-color: #242629;
}
.btn-primary {
  color: whitesmoke;
  background-image: -webkit-linear-gradient(top, #fbd500 0%, #c8a900 100%);
  background-image: -o-linear-gradient(top, #fbd500 0%, #c8a900 100%);
  background-image: linear-gradient(to bottom, #fbd500 0%, #c8a900 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbd500', endColorstr='#ffc8a900', GradientType=0);
  border-color: #ae9400;
  border-bottom-color: #7b6800;
  text-shadow: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  cursor: pointer;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-image: -webkit-linear-gradient(top, #e1bf00 0%, #ae9400 100%);
  background-image: -o-linear-gradient(top, #e1bf00 0%, #ae9400 100%);
  background-image: linear-gradient(to bottom, #e1bf00 0%, #ae9400 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe1bf00', endColorstr='#ffae9400', GradientType=0);
  border-color: #7b6800;
  color: whitesmoke;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #e1bf00;
  border-color: #c8a900;
}
.btn-success {
  border-radius: 3px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449c44 100%);
  background-image: -o-linear-gradient(top, #5cb85c 0%, #449c44 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449c44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449c44', GradientType=0);
  border-color: #3c8b3c;
  border-bottom-color: #2d672d;
  text-shadow: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  cursor: pointer;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  background-image: -webkit-linear-gradient(top, #4cae4c 0%, #3c8b3c 100%);
  background-image: -o-linear-gradient(top, #4cae4c 0%, #3c8b3c 100%);
  background-image: linear-gradient(to bottom, #4cae4c 0%, #3c8b3c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4cae4c', endColorstr='#ff3c8b3c', GradientType=0);
  border-color: #2d672d;
  color: #ffffff;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #4cae4c;
  border-color: #449c44;
}
.btn-info {
  border-radius: 3px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d6 100%);
  background-image: -o-linear-gradient(top, #5bc0de 0%, #31b0d6 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d6', GradientType=0);
  border-color: #28a1c5;
  border-bottom-color: #1f7f9b;
  text-shadow: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  cursor: pointer;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
  background-image: -webkit-linear-gradient(top, #46b8da 0%, #28a1c5 100%);
  background-image: -o-linear-gradient(top, #46b8da 0%, #28a1c5 100%);
  background-image: linear-gradient(to bottom, #46b8da 0%, #28a1c5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff46b8da', endColorstr='#ff28a1c5', GradientType=0);
  border-color: #1f7f9b;
  color: #ffffff;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #46b8da;
  border-color: #31b0d6;
}
.btn-warning {
  border-radius: 3px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #eea237 0%, #df8a13 100%);
  background-image: -o-linear-gradient(top, #eea237 0%, #df8a13 100%);
  background-image: linear-gradient(to bottom, #eea237 0%, #df8a13 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeea237', endColorstr='#ffdf8a13', GradientType=0);
  border-color: #c77c11;
  border-bottom-color: #985e0d;
  text-shadow: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  cursor: pointer;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
  background-image: -webkit-linear-gradient(top, #ec971f 0%, #c77c11 100%);
  background-image: -o-linear-gradient(top, #ec971f 0%, #c77c11 100%);
  background-image: linear-gradient(to bottom, #ec971f 0%, #c77c11 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec971f', endColorstr='#ffc77c11', GradientType=0);
  border-color: #985e0d;
  color: #ffffff;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #ec971f;
  border-color: #df8a13;
}
.btn-danger {
  border-radius: 3px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9312c 100%);
  background-image: -o-linear-gradient(top, #d9534f 0%, #c9312c 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9312c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9312c', GradientType=0);
  border-color: #b42c27;
  border-bottom-color: #8a221e;
  text-shadow: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  cursor: pointer;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  background-image: -webkit-linear-gradient(top, #d43f3a 0%, #b42c27 100%);
  background-image: -o-linear-gradient(top, #d43f3a 0%, #b42c27 100%);
  background-image: linear-gradient(to bottom, #d43f3a 0%, #b42c27 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd43f3a', endColorstr='#ffb42c27', GradientType=0);
  border-color: #8a221e;
  color: #ffffff;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d43f3a;
  border-color: #c9312c;
}
.btn-inverse {
  border-radius: 3px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #474949 0%, #2d2f2f 100%);
  background-image: -o-linear-gradient(top, #474949 0%, #2d2f2f 100%);
  background-image: linear-gradient(to bottom, #474949 0%, #2d2f2f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff474949', endColorstr='#ff2d2f2f', GradientType=0);
  border-color: #212222;
  border-bottom-color: #080808;
  text-shadow: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
  cursor: pointer;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active {
  background-image: -webkit-linear-gradient(top, #3a3c3c 0%, #212222 100%);
  background-image: -o-linear-gradient(top, #3a3c3c 0%, #212222 100%);
  background-image: linear-gradient(to bottom, #3a3c3c 0%, #212222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3a3c3c', endColorstr='#ff212222', GradientType=0);
  border-color: #080808;
  color: #ffffff;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #3a3c3c;
  border-color: #2d2f2f;
}
/* Color specific */
#tol-header {
  background-color: #000000;
}
.tol-nav {
  -webkit-box-shadow: inset 0px 1px 0px #333333;
  box-shadow: inset 0px 1px 0px #333333;
}
.main-nav li {
  border-right: 1px solid #161616;
  border-left: 1px solid #333333;
}
.nav > li.active > a {
  color: #ffca29;
  border-bottom: 2px solid #ffca29;
}
.main-nav .sub-menu {
  background-color: #262626;
}
.main-nav .sub-menu .menu-item {
  border-top: 1px solid #161616;
  border-bottom: 1px solid #333333;
}
.main-nav .sub-menu .menu-item a {
  color: #9d9d9d;
}
.main-nav .sub-menu .menu-item a:hover {
  color: #ffffff;
}
.main-nav li.current_page_item a {
  background-color: #404040;
  color: #ffffff;
  border-bottom: 2px solid #ffca29;
}
.icon-bar {
  background-color: #ffffff;
}
.slider-text {
  color: #ffffff;
  text-shadow: 1px 1px 10px #000000;
}
.login-icon-fill {
  fill: #ffffff;
}
.tol-steps {
  background: #000000;
}
.step-fill {
  fill: #959696;
}
#tol-footer {
  color: #999999;
  background-color: #000000;
}
.footer-icons-fill {
  fill: #404344;
}
a:hover .footer-icons-fill {
  fill: #959696;
}
#tol-footer .nav-pills a {
  color: #404344;
}
#tol-footer .nav-pills a:hover {
  color: #585b5c;
}
.user-nav li a {
  color: #959696;
}
a:hover .icon {
  color: #ffca29;
}
.user-nav li .badge {
  color: #ffffff;
}
.mobile-banner h4 {
  color: #ffffff;
  background-color: #000000;
}
.social-nav .icon {
  color: #404344;
}
#tol-footer small {
  color: #404344;
}
.disclosure {
  color: #404344;
}
.navbar-nav a.icon-link:hover {
  color: #959696 !important;
}
@media (max-width: 767px) {
  .user-nav .dropdown-toggle {
    color: #9d9d9d;
  }
  .navigationContainerPeriod {
    line-height: 15px;
  }
}
/* /Color specific */
/* Colors from style-dark.css */
.badge-red {
  background: #dd2d2c;
}
.icon {
  color: #959696;
}
.glyphicon-user {
  color: #959696;
  border: 1px solid #959696;
}
.navbar-default.game-nav {
  border-color: transparent;
}
.breadcrumb {
  background-color: transparent;
}
.table th {
  color: #bbbbbc;
  border-bottom: 1px solid #0d0d0e;
}
.tol-assets-table td {
  border-bottom: 1px solid #37393b;
}
.isLess {
  color: #e50000;
}
.isMore {
  color: #339331;
}
.chartV2Wrapper li input,
.tol-closedtrades-table select,
.tol-opentrades-table .actionChart input,
.tol-assets-table select,
.tol-opentrades-table .actionButton {
  background: #35383d;
}
.chartNavigation {
  color: #ffffff;
  background: #303338;
  font-weight: lighter;
}
.chartNavigation:hover {
  background: #4a4a4a;
}
.chartNavigation:disabled {
  background-color: #4a4a4a;
}
.navigationContainer li {
  background: #303338;
}
.chartNavigationPeriod {
  color: #eaeaea;
}
.chartNavigationPeriod:disabled {
  color: #ffca29;
}
.chartNavigationPeriod[disabled="disabled"]:before {
  background: #ffca29;
}
.select-wrapper ul {
  background: #333333;
  border: 1px solid gray;
}
.select-wrapper ul > li.selected,
.select-wrapper ul > li:hover {
  background: gray;
  color: #ffca29;
}
.assetFilterCustomPopup {
  background: #333333;
}
.columnsContainer {
  border-top: 1px solid #3c3d3f;
  background: #303236;
}
.columnsContainer .columns {
  color: #ffffff;
}
.assetFilterCustomPopup:after {
  border-color: rgba(48, 50, 54, 0);
  border-bottom-color: #303236;
}
.assetFilterCustomPopup label:before {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #f3f3f3;
}
.assetFilterCustomPopup input[type=checkbox]:checked + label:before {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #f3f3f3;
}
.assetFilterCustomPopup .columnsContainer legend {
  background: #252628;
  border-bottom: 1px solid #000000;
}
.assetFilterCustomPopup .columnsContainer legend.checked-item {
  background: red;
}
.assetFilterCustomPopup .columnsContainer legend.selected-all {
  background: green;
}
.assetFilterCustomPopup section.buttons {
  border-top: 1px solid #000000;
  background: #303236;
}
.assetFilterCustomPopup button {
  border-top: 1px solid #ffe251;
  border-bottom: 3px solid #443307;
  color: #000000;
  background-image: -webkit-linear-gradient(top, #ffd043 0%, #ffc410 100%);
  background-image: -o-linear-gradient(top, #ffd043 0%, #ffc410 100%);
  background-image: linear-gradient(to bottom, #ffd043 0%, #ffc410 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffd043', endColorstr='#ffffc410', GradientType=0);
  border-color: #f5b800;
  border-bottom-color: #c29200;
  text-shadow: #cccccc;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
.assetFilterCustomPopup button:hover,
.assetFilterCustomPopup button:focus,
.assetFilterCustomPopup button:active,
.assetFilterCustomPopup button.active {
  background-image: -webkit-linear-gradient(top, #ffca29 0%, #f5b800 100%);
  background-image: -o-linear-gradient(top, #ffca29 0%, #f5b800 100%);
  background-image: linear-gradient(to bottom, #ffca29 0%, #f5b800 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffca29', endColorstr='#fff5b800', GradientType=0);
  border-color: #c29200;
  color: #000000;
}
.assetFilterCustomPopup button.disabled,
.assetFilterCustomPopup button[disabled],
fieldset[disabled] .assetFilterCustomPopup button,
.assetFilterCustomPopup button.disabled:hover,
.assetFilterCustomPopup button[disabled]:hover,
fieldset[disabled] .assetFilterCustomPopup button:hover,
.assetFilterCustomPopup button.disabled:focus,
.assetFilterCustomPopup button[disabled]:focus,
fieldset[disabled] .assetFilterCustomPopup button:focus,
.assetFilterCustomPopup button.disabled:active,
.assetFilterCustomPopup button[disabled]:active,
fieldset[disabled] .assetFilterCustomPopup button:active,
.assetFilterCustomPopup button.disabled.active,
.assetFilterCustomPopup button[disabled].active,
fieldset[disabled] .assetFilterCustomPopup button.active {
  background-color: #ffca29;
  border-color: #ffc410;
}
.secondary-menu .select-wrapper p {
  color: #ffca29;
  background: #333333;
}
.assetFilterCustomPopup .row {
  color: #d2d2d2;
}
tr.widgetTableActiveRow td {
  border-bottom: 1px solid #ffca29;
}
.tradeTools {
  background: #3e4146 !important;
}
.headerExtend,
.headerClose,
.headerDouble,
.headerInsurance {
  color: #eaeaea;
  border-right: 1px solid #161616;
  -webkit-box-shadow: 1px 0 #333333;
  box-shadow: 1px 0 #333333;
}
.headerExtend.disabled,
.headerClose.disabled,
.headerDouble.disabled {
  color: #999999;
  background: #3e4146;
}
.headerMenu {
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #161616;
  border-right: 1px solid #161616;
  background: #262626;
}
.toolsHeader .activeTab:before {
  background: #ffca29;
}
.toolsHeader .activeTab:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ffca29;
}
.tradingToolsCancel {
  color: #eaeaea;
}
.tradingToolsExecute {
  border-top: 1px solid #fce390;
  border-bottom: 1px solid #31280b;
  color: #000000;
  background-image: -webkit-linear-gradient(top, #faba45 0%, #f8a813 100%);
  background-image: -o-linear-gradient(top, #faba45 0%, #f8a813 100%);
  background-image: linear-gradient(to bottom, #faba45 0%, #f8a813 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffaba45', endColorstr='#fff8a813', GradientType=0);
  border-color: #eb9b07;
  border-bottom-color: #ba7a05;
  text-shadow: #ffffff;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
.tradingToolsExecute:hover,
.tradingToolsExecute:focus,
.tradingToolsExecute:active,
.tradingToolsExecute.active {
  background-image: -webkit-linear-gradient(top, #f9b12c 0%, #eb9b07 100%);
  background-image: -o-linear-gradient(top, #f9b12c 0%, #eb9b07 100%);
  background-image: linear-gradient(to bottom, #f9b12c 0%, #eb9b07 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9b12c', endColorstr='#ffeb9b07', GradientType=0);
  border-color: #ba7a05;
  color: #000000;
}
.tradingToolsExecute.disabled,
.tradingToolsExecute[disabled],
fieldset[disabled] .tradingToolsExecute,
.tradingToolsExecute.disabled:hover,
.tradingToolsExecute[disabled]:hover,
fieldset[disabled] .tradingToolsExecute:hover,
.tradingToolsExecute.disabled:focus,
.tradingToolsExecute[disabled]:focus,
fieldset[disabled] .tradingToolsExecute:focus,
.tradingToolsExecute.disabled:active,
.tradingToolsExecute[disabled]:active,
fieldset[disabled] .tradingToolsExecute:active,
.tradingToolsExecute.disabled.active,
.tradingToolsExecute[disabled].active,
fieldset[disabled] .tradingToolsExecute.active {
  background-color: #f9b12c;
  border-color: #f8a813;
}
.tradingToolsExecute:hover {
  border-bottom: 1px solid #503707;
  border-top: 1px solid #fce87b;
}
.highcharts-tooltip span {
  background-color: #ffffff;
}
.extendContainer,
.closeContainer,
.doubleContainer,
.insuranceContainer {
  color: #eaeaea;
}
.extendToSelectWrapper {
  background: #333333;
}
.extendToSelect {
  color: #ffca29;
  background: none repeat scroll 0 0 #000000;
}
.extendToSelect option {
  background: #333333;
}
.extendCostAmount,
.closeContainer .closeValue,
.doubleValue,
.insuranceValue {
  background: #333333;
  color: #ffca29;
}
.tradingToolsCustomSelect {
  color: #000000;
  background-color: #ffffff;
}
.extendContainer .customSelectInner {
  color: #000000;
}
/* /Colors from style-dark.css */
/* Inbox */
#tol-messageInbox .inboxRow {
  color: #dca500;
}
#tol-messageInbox .inboxRow.read {
  color: #9d9d9d;
}
.msgContent .headerWrap {
  color: #000000;
  background-color: #9d9d9d;
}
.headerBackBtn {
  border-bottom-color: #ffb000;
  color: #000000;
  background-image: -webkit-linear-gradient(top, #f6aa00 0%, #c38600 100%);
  background-image: -o-linear-gradient(top, #f6aa00 0%, #c38600 100%);
  background-image: linear-gradient(to bottom, #f6aa00 0%, #c38600 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6aa00', endColorstr='#ffc38600', GradientType=0);
  border-color: #a97500;
  border-bottom-color: #765200;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
.headerBackBtn:hover,
.headerBackBtn:focus,
.headerBackBtn:active,
.headerBackBtn.active {
  background-image: -webkit-linear-gradient(top, #dc9800 0%, #a97500 100%);
  background-image: -o-linear-gradient(top, #dc9800 0%, #a97500 100%);
  background-image: linear-gradient(to bottom, #dc9800 0%, #a97500 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc9800', endColorstr='#ffa97500', GradientType=0);
  border-color: #765200;
  color: #000000;
}
.headerBackBtn.disabled,
.headerBackBtn[disabled],
fieldset[disabled] .headerBackBtn,
.headerBackBtn.disabled:hover,
.headerBackBtn[disabled]:hover,
fieldset[disabled] .headerBackBtn:hover,
.headerBackBtn.disabled:focus,
.headerBackBtn[disabled]:focus,
fieldset[disabled] .headerBackBtn:focus,
.headerBackBtn.disabled:active,
.headerBackBtn[disabled]:active,
fieldset[disabled] .headerBackBtn:active,
.headerBackBtn.disabled.active,
.headerBackBtn[disabled].active,
fieldset[disabled] .headerBackBtn.active {
  background-color: #dc9800;
  border-color: #c38600;
}
.headerBackBtn:hover {
  color: #000000;
  background-image: -webkit-linear-gradient(top, #ffb510 0%, #dc9700 100%);
  background-image: -o-linear-gradient(top, #ffb510 0%, #dc9700 100%);
  background-image: linear-gradient(to bottom, #ffb510 0%, #dc9700 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffb510', endColorstr='#ffdc9700', GradientType=0);
  border-color: #c28600;
  border-bottom-color: #8f6300;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  border-bottom-color: #dc9800;
}
.headerBackBtn:hover:hover,
.headerBackBtn:hover:focus,
.headerBackBtn:hover:active,
.headerBackBtn:hover.active {
  background-image: -webkit-linear-gradient(top, #f5a900 0%, #c28600 100%);
  background-image: -o-linear-gradient(top, #f5a900 0%, #c28600 100%);
  background-image: linear-gradient(to bottom, #f5a900 0%, #c28600 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5a900', endColorstr='#ffc28600', GradientType=0);
  border-color: #8f6300;
  color: #000000;
}
.headerBackBtn:hover.disabled,
.headerBackBtn:hover[disabled],
fieldset[disabled] .headerBackBtn:hover,
.headerBackBtn:hover.disabled:hover,
.headerBackBtn:hover[disabled]:hover,
fieldset[disabled] .headerBackBtn:hover:hover,
.headerBackBtn:hover.disabled:focus,
.headerBackBtn:hover[disabled]:focus,
fieldset[disabled] .headerBackBtn:hover:focus,
.headerBackBtn:hover.disabled:active,
.headerBackBtn:hover[disabled]:active,
fieldset[disabled] .headerBackBtn:hover:active,
.headerBackBtn:hover.disabled.active,
.headerBackBtn:hover[disabled].active,
fieldset[disabled] .headerBackBtn:hover.active {
  background-color: #f5a900;
  border-color: #dc9700;
}
.msgContentBody {
  color: #000000;
  background-color: #9d9d9d;
}
/* /Inbox */
/* Paging */
.pageLink,
.nextPage,
.prevPage {
  color: #ffca29;
  border-color: #2f3235;
  background-color: #3b3f43;
}
.pageLink:hover,
.nextPage:hover,
.prevPage:hover,
.pageLink:hover,
.nextPage:hover,
.prevPage:hover,
.pageLink:hover,
.nextPage:hover,
.prevPage:hover {
  color: #dca500;
  background-color: #474c51;
  border-color: #474c51;
}
.pageLink.activePage {
  color: #000000;
  background-color: #ffca29;
  border-color: #ffca29;
}
/* /Paging */
/* Turbo Pop Up */
.turboChart {
  background: #3e4146;
}
.turboChart .turboStrike,
.turboChart .turboAmount,
.turboChart .turboReturn {
  border-bottom-color: #222426;
}
/* /Turbo Pop Up */
/* Pop Ups */
.ui-dialog.ui-widget-content {
  background: #3e4146;
}
.ui-dialog .ui-dialog-titlebar {
  border-bottom-color: #57595c;
}
.ui-dialog-buttonset .ui-button {
  color: #000000;
  background-image: -webkit-linear-gradient(top, #ffcd5d 0%, #ffbd29 100%);
  background-image: -o-linear-gradient(top, #ffcd5d 0%, #ffbd29 100%);
  background-image: linear-gradient(to bottom, #ffcd5d 0%, #ffbd29 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffcd5d', endColorstr='#ffffbd29', GradientType=0);
  border-color: #ffb510;
  border-bottom-color: #dc9800;
  text-shadow: #ffffff;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
.ui-dialog-buttonset .ui-button:hover,
.ui-dialog-buttonset .ui-button:focus,
.ui-dialog-buttonset .ui-button:active,
.ui-dialog-buttonset .ui-button.active {
  background-image: -webkit-linear-gradient(top, #ffc543 0%, #ffb510 100%);
  background-image: -o-linear-gradient(top, #ffc543 0%, #ffb510 100%);
  background-image: linear-gradient(to bottom, #ffc543 0%, #ffb510 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc543', endColorstr='#ffffb510', GradientType=0);
  border-color: #dc9800;
  color: #000000;
}
.ui-dialog-buttonset .ui-button.disabled,
.ui-dialog-buttonset .ui-button[disabled],
fieldset[disabled] .ui-dialog-buttonset .ui-button,
.ui-dialog-buttonset .ui-button.disabled:hover,
.ui-dialog-buttonset .ui-button[disabled]:hover,
fieldset[disabled] .ui-dialog-buttonset .ui-button:hover,
.ui-dialog-buttonset .ui-button.disabled:focus,
.ui-dialog-buttonset .ui-button[disabled]:focus,
fieldset[disabled] .ui-dialog-buttonset .ui-button:focus,
.ui-dialog-buttonset .ui-button.disabled:active,
.ui-dialog-buttonset .ui-button[disabled]:active,
fieldset[disabled] .ui-dialog-buttonset .ui-button:active,
.ui-dialog-buttonset .ui-button.disabled.active,
.ui-dialog-buttonset .ui-button[disabled].active,
fieldset[disabled] .ui-dialog-buttonset .ui-button.active {
  background-color: #ffc543;
  border-color: #ffbd29;
}
#nextPopUp {
  border-bottom: 2px solid #32280a;
  border-top: 1px solid #ffe38e;
  background-image: -webkit-linear-gradient(top, #ffca29 0%, #ffb129 100%);
  background-image: -o-linear-gradient(top, #ffca29 0%, #ffb129 100%);
  background-image: linear-gradient(to bottom, #ffca29 0%, #ffb129 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffca29', endColorstr='#ffffb129', GradientType=0);
}
#closePopUp,
#closeAllPopUp {
  background-image: -webkit-linear-gradient(top, #494d52 0%, #303337 100%);
  background-image: -o-linear-gradient(top, #494d52 0%, #303337 100%);
  background-image: linear-gradient(to bottom, #494d52 0%, #303337 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff494d52', endColorstr='#ff303337', GradientType=0);
}
/* /Pop Ups */
.modal-default {
  border-color: #323438;
  background-color: #3e4146;
}
.modal-content {
  background-color: transparent;
}
.modal-header {
  border-bottom-color: #222222;
}
.modal-header .close {
  color: #ffffff;
}
/* Leader Board */
#tol-social-leaderboard-table .tableHeaderDiv {
  background-color: #18191a;
  -webkit-box-shadow: inset 0 1px 0 #252627;
  box-shadow: inset 0 1px 0 #252627;
}
#tol-social-leaderboard-table .tableRowDiv:nth-child(2n+1) {
  border-top: 1px solid #1e1f21;
  background-color: #111213;
}
#tol-social-leaderboard-table .tableRowDiv:nth-child(2n) {
  border-top: 1px solid #1e1f21;
  background-color: #1e1f21;
}
/* /Leader Board */
.col-md-12 .slider-container .asset .assetPrice.down {
  color: red;
}
.col-md-12 .slider-container .asset .assetPrice.up {
  color: green;
}
.col-md-12 .slider-container {
  background: #000000;
  color: whitesmoke;
  padding: 2px;
}
.col-md-12 .slider-container .asset .assetPrice.up,
.col-md-12 .slider-container .asset .assetPrice.down {
  padding-right: 5px;
  border-right: 1px solid whitesmoke;
}
.col-md-12 .slider-container .asset .assetName {
  padding: 0 5px;
}
.col-md-12 .asset-line {
  color: #999999;
  background-color: #000000;
  padding: 4px 0 4px 0;
  margin: 5px 0 5px 0;
}
.tol-well {
  background: #262626;
  padding: 6px;
  min-height: 42px;
  margin-bottom: 10px;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #141414;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #404040;
}
.well {
  background: transparent;
}
.navigationContainer {
  background-image: url('/wp-content/themes/tol-parent/images/graphActive.png');
  background-repeat: no-repeat;
  cursor: pointer;
  top: 1px;
  left: 1px;
}
.navigationContainer:hover {
  background: url('/wp-content/themes/tol-parent/images/graph.png');
  background-repeat: no-repeat;
}
input.chartNavigation.chartType {
  border: none;
}
.chartNavigationPeriod {
  line-height: 22px;
}
.navigationContainer li {
  left: -40px;
}
.chartNavigation {
  color: white;
  font-weight: 300;
}
.highcharts-navigator-handle-right rect,
.highcharts-navigator-handle-right path,
.highcharts-navigator-handle-left rect,
.highcharts-navigator-handle-left path {
  fill: #feba25;
  stroke: #35383d;
}
.chartNavigationPeriod {
  background: url('/wp-content/themes/tol-parent/images/minutesButton.png');
}
.chartNavigationPeriod:disabled {
  background: url('/wp-content/themes/tol-parent/images/minutesButtonActive.png');
}
.highcharts-navigator rect {
  fill: rgba(74, 74, 74, 0.4);
}
.highcharts-axis-labels text {
  color: #eaeaea !important;
  fill: #eaeaea !important;
}
g.highcharts-grid > path[stroke="#C0C0C0"] {
  stroke-dasharray: 1.5px, 1.5px;
  stroke: #333436;
}
g.highcharts-grid > path[stroke="#EEE"] {
  stroke: #404042;
}
.chartv2.line .highcharts-series path:nth-child(2),
.chartv2.area .highcharts-series path:nth-child(2) {
  stroke: #989999;
  stroke-width: 2px;
}
.lastPriceIndicator > path:first-child {
  stroke: #ffc543;
}
.lastPriceIndicator > path + path {
  fill: #ffc543;
  stroke: #ffc543;
  stroke-width: 1px;
}
.lastPriceIndicator > text {
  fill: #000000 !important;
  direction: ltr;
}
