.page-traderoom .navbar-brand {
    background: url(/wp-content/themes/xptheme/images/home/logo_white.png) no-repeat !important;
}

.navigation {
    background: black !important;
    border-bottom-color: #FFF !important;
}

.navigation .nav-button.main-menu .main-menu-icon span {
    background: #FFF !important;
    /*border-bottom: 1px solid #41546A;*/
}

#lang_sel ul a.lang_sel_sel, #lang_sel ul ul a {
    background: #000 right no-repeat !important;
    color: #FFF !important;
}

.header_icon_info {
    background: url('/wp-content/themes/tol-parent/images/home/info_icon_no_alpha.png') left center no-repeat !important;
}

.header_toplink.header_icon_info {
    color: #FFF !important;
}

.header_personal {
    color: white !important;
}

a.header_button.header_logout.logout-action.tol-userbar-logout-user {
    color: #A69B97 !important;
    border: 1px solid #A69B97 !important;
}

a.header_button.header_logout.logout-action.tol-userbar-logout-user:hover {
    color: #A69B97 !important;
}

span.header_time {
    color: white !important
}



