/* Body Variables */
@body-clr: #eeeeee;
@body-bg: #000000;
/* Body Variables */

/* Navbar Variables */
@navbar-a-clr: #ffffff;
@navbar-a-bg: #404040;
@navbat-brd: #141414;
/* Navbar Variables */

/* Chart Panel Variables */
@chart-nav-clr: white;
@chart-wrap-bg: #1d1e20;
@chart-wrap-brdt: #3b3b3c;
@chart-wdgt-bdrb: #090909;
@chart-scroll-fill: #FEBA25;
@chart-scrill-stroke: #35383D;
@highcharts-tool-bg: #4a4a4a;
/* Chart Panel Variables */

/* Leader Bord Variables */
@lboard-table-bg: #1e1f21;
@lboard-table-bg-odd: #111213;
@lboard-table-brd-top: #1e1f21;
@lboard-table-head-bg: #18191a;
@lboard-head-sdw1: #252627;
@lboard-head-sdw2: @msg-head-clr;
/* Leader Bord Variables */

/* Pop Ups Variables */
@modal-header-close-btn: #fff;
@modal-header-brd-btm: #222;
@modal-header-bg: transparent;
@modal-def-bg: #3e4146;
@modal-def-border: #323438;
@close-pop-up1: #494d52;
@close-pop-up2: #303337;
@nxt-pop-up-bg1: #ffca29;
@nxt-pop-up-bg2: #ffb129;
@nxt-pop-up-brdt: #ffe38e;
@nxt-pop-up-brdb: #32280a;
@ui-dialog-btn-bg: #ffc543;
@ui-dialog-btn-clr: #000000;
@ui-dialog-btn-txtsdw: #fff;
@ui-dialog-bx-sdw: inset 0 1px 0 rgba(255, 255, 255, 0.15);
@ui-dialog-brdb: #57595c;
@ui-dialog-bg: #3e4146;
@turboChart-brdb: #222426;
@turboChart-bg: #3E4146;
/* Pop Ups Variables */


/* Paging Variables */
@asset-filter-pop-row: #d2d2d2;
@asset-filter-pop-btn-sdw: #ccc;
@pageLink-clr: #000000;
@pageLink-bg: #ffca29;
@pageLink-brd: #ffca29;
@nxt-prv-clr: #ffca29;
@nxt-prv-brd: #2f3235;
@nxt-prv-bg: #3b3f43;
@hnxt-prv-brd: #474c51;
@hnxt-prv-bg: #474c51;
@hnxt-prv-clr: #dca500;
/* Paging Variables */

/* Inbox Variables */
@msg-body-clr: #000;
@msg-body-bg: #9d9d9d;
@headerBackBtn-clr: #000000;
@headerBackBtn-bg: #dc9800;
@headerBackBtn-txt-sdw: 0 1px 0 #fff;
@headerBackBtn-brdb: #ffb000;
@headerBackBtn-bx-sdw: inset 0 1px 0 rgba(255, 255, 255, 0.15);
@hheaderBackBtn-bg: #f5a900;
@msg-head-bg: #9d9d9d;
@msg-head-clr: #000;
/* Inbox Variables */

/*  Variables */
@asset-prc-dwn-clr:red;
@asset-prc-up-clr:green;
@asset-container-bg:#000;
@asset-container-clr:whitesmoke;
@extend-bg: #333;
@extend-container-clr: #eaeaea;
@tradingTools-exc-bg: #f9b12c;
@tradingTools-brdt: #fce390;
@tradingTools-brdb: #31280b;
@htradingTools-brdb: #503707;
@htradingTools-brdt: #fce87b;
@headermenu-brd: #161616;
@headermenu-bg: #262626;
@header-disabled-clr: #999;
@header-disabled-bg: #3E4146;
@asset-filter-pop-brdb: #443307;
@asset-filter-pop-brdt: #FFE251;
@asset-filter-pop-bg: #303236;
@asset-filter-pop-legend1: green;
@asset-filter-pop-legend2: red;
@asset-filter-pop-legend-bg: #252628;
@asset-fileter-input-clr: #f3f3f3;
@asset-filter-pop-up-sdw: rgba(0, 0, 0, .2);
@asset-filter-pop-up-aft-sdw: rgba(48, 50, 54, 0);
@columns-cont-brdt: #3c3d3f;
@nav-selected-bg: gray;
@nav-container-bg: #303338;
@chart-nav-bg: #4a4a4a;
@cart-select-input: #35383d;
@isMore: #339331;
@isLess: #e50000;
@assets-table-brdb: #37393b;
@table-th-brdb: #0d0d0e;
@table-th-clr: #bbbbbc;
@navbar-game-nav-clr: #959696;
@badge-red-bg: #dd2d2c;
@icons-and-chart-fill: #404344;
@footer-navpills: #ffffff;
@hfooter-pills: #585b5c;
@tol-footer-clr: #999;
@main-nav-a-bg: #404040;
@main-nav-sub-menu-brdb: #000000;
@main-nav-sub-menu-brdt: #161616;
@btn-inverse-clr: #ffffff;
@btn-inverse-bg: #3a3c3c;
@btn-inverse-sdw: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
@btn-danger-clr: #ffffff;
@btn-danger-bg: #d43f3a;
@btn-danger-sdw: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
/*  Variables */

/* Buttons Variables */
@btn-inverse-clr: #ffffff;
@btn-inverse-bg: #3a3c3c;
@btn-inverse-sdw: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
@btn-danger-clr: #ffffff;
@btn-danger-bg: #d43f3a;
@btn-danger-sdw: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
@btn-warning-clr: #ffffff;
@btn-warning-bg: #ec971f;
@btn-warning-sdw: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
@btn-info-clr: #ffffff;
@btn-info-bg: #46b8da;
@btn-info-sdw: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
@btn-success-clr: #ffffff;
@btn-success-bg: #4cae4c;
@brn-success-sdw: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
@btn-primary-color: whitesmoke;
@btn-primary-bg: #e1bf00;
@btn-primary-sdw: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
@btn-default-clr: #ffffff;
@btn-default-bg: #303336;
@btn-default-sdw: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.075);
/* Buttons Variables */


/* MIXINS */
#gradient {
    // Horizontal gradient, from left to right
    //
    // Creates two color stops, start and end, by specifying a color and position for each color stop.
    // Color stops are not available in IE9 and below.
    .horizontal(@start-color: #555; @end-color: @extend-bg; @start-percent: 0%; @end-percent: 100%) {
        background-image: -webkit-linear-gradient(left, @start-color @start-percent, @end-color @end-percent); // Safari 5.1-6, Chrome 10+
        background-image: -o-linear-gradient(left, @start-color @start-percent, @end-color @end-percent); // Opera 12
        background-image: linear-gradient(to right, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
        background-repeat: repeat-x;
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); // IE9 and down
    }
    // Vertical gradient, from top to bottom
    //
    // Creates two color stops, start and end, by specifying a color and position for each color stop.
    // Color stops are not available in IE9 and below.
    .vertical(@start-color: #555; @end-color: @extend-bg; @start-percent: 0%; @end-percent: 100%) {
        background-image: -webkit-linear-gradient(top, @start-color @start-percent, @end-color @end-percent); // Safari 5.1-6, Chrome 10+
        background-image: -o-linear-gradient(top, @start-color @start-percent, @end-color @end-percent); // Opera 12
        background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
        background-repeat: repeat-x;
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color))); // IE9 and down
    }

    .directional(@start-color: #555; @end-color: @extend-bg; @deg: 45deg) {
        background-repeat: repeat-x;
        background-image: -webkit-linear-gradient(@deg, @start-color, @end-color); // Safari 5.1-6, Chrome 10+
        background-image: -o-linear-gradient(@deg, @start-color, @end-color); // Opera 12
        background-image: linear-gradient(@deg, @start-color, @end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    }

    .horizontal-three-colors(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
        background-image: -webkit-linear-gradient(left, @start-color, @mid-color @color-stop, @end-color);
        background-image: -o-linear-gradient(left, @start-color, @mid-color @color-stop, @end-color);
        background-image: linear-gradient(to right, @start-color, @mid-color @color-stop, @end-color);
        background-repeat: no-repeat;
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
    }

    .vertical-three-colors(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
        background-image: -webkit-linear-gradient(@start-color, @mid-color @color-stop, @end-color);
        background-image: -o-linear-gradient(@start-color, @mid-color @color-stop, @end-color);
        background-image: linear-gradient(@start-color, @mid-color @color-stop, @end-color);
        background-repeat: no-repeat;
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
    }

    .radial(@inner-color: #555; @outer-color: #333) {
        background-image: -webkit-radial-gradient(circle, @inner-color, @outer-color);
        background-image: radial-gradient(circle, @inner-color, @outer-color);
        background-repeat: no-repeat;
    }

    .striped(@color: rgba(255,255,255,.15); @angle: 45deg) {
        background-image: -webkit-linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
        background-image: linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
    }
}



.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
    box-shadow: @shadow;
}

.pretty-buttons(@color, @background, @text-shadow: none) {
    color: @color;
    #gradient > .vertical(lighten(@background, 5%), darken(@background, 5%), 0%, 100%);
    border-color: darken(@background, 10%);
    border-bottom-color: darken(@background, 20%);
    text-shadow: @text-shadow;
    .box-shadow(inset 0 1px 0 rgba(255, 255, 255, .1));

    &:hover,
    &:focus,
    &:active,
    &.active {
        #gradient > .vertical(darken(@background, 0), darken(@background, 10%), 0%, 100%);
        border-color: darken(@background, 20%);
        color: @color;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: @background;
            border-color: darken(@background, 5%);
        }
    }
}

/* MIXINS */

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: @body-clr;
    background-color: @body-bg;
}


.btn-default {
    border-radius: 3px;
    .pretty-buttons(@btn-default-clr,@btn-default-bg);
    .box-shadow(@btn-default-sdw);
    cursor: pointer;
}

.btn-primary {
    .pretty-buttons(@btn-primary-color, @btn-primary-bg);
    border-radius: 3px;
    cursor: pointer;
}

.btn-success {
    border-radius: 3px;
    .pretty-buttons(@btn-success-clr,@btn-success-bg);
    .box-shadow(@brn-success-sdw);
    cursor: pointer;
}

.btn-info {
    border-radius: 3px;
    .pretty-buttons(@btn-info-clr,@btn-info-bg);
    .box-shadow(@btn-info-sdw);
    cursor: pointer;
}

.btn-warning {
    border-radius: 3px;
    .pretty-buttons(@btn-warning-clr,@btn-warning-bg);
    .box-shadow(@btn-warning-sdw);
    cursor: pointer;
}

.btn-danger {
    border-radius: 3px;
    .pretty-buttons(@btn-danger-clr,@btn-danger-bg);
    .box-shadow(@btn-danger-sdw);
    cursor: pointer;
}

.btn-inverse {
    border-radius: 3px;
    .pretty-buttons(@btn-inverse-clr,@btn-inverse-bg);
    .box-shadow(@btn-inverse-sdw);
    cursor: pointer;
}


/* Color specific */
#tol-header {
    background-color: @msg-head-clr;
}

.tol-nav {
    .box-shadow(inset 0px 1px 0px @main-nav-sub-menu-brdb);
}

.main-nav li {
    border-right: 1px solid @main-nav-sub-menu-brdt;
    border-left: 1px solid @main-nav-sub-menu-brdb;
}

.nav > li.active > a {
    color: @nxt-prv-clr;
    border-bottom: 2px solid @nxt-prv-clr;
}

.main-nav .sub-menu {
    background-color: @headermenu-bg;
}

.main-nav .sub-menu .menu-item {
    border-top: 1px solid @main-nav-sub-menu-brdt;
    border-bottom: 1px solid @main-nav-sub-menu-brdb;
}

.main-nav .sub-menu .menu-item a {
    color: @msg-body-bg;
}

.main-nav .sub-menu .menu-item a:hover {
    color: @modal-header-close-btn;
}

.main-nav li.current_page_item a {
    background-color: @main-nav-a-bg;
    color: @modal-header-close-btn;
    border-bottom: 2px solid @nxt-prv-clr;
}

.icon-bar {
    background-color: @modal-header-close-btn;
}



.slider-text {
    color: @modal-header-close-btn;
    text-shadow: 1px 1px 10px @msg-head-clr;
}

.login-icon-fill {
    fill: @modal-header-close-btn;
}

.tol-steps {
    background: @msg-head-clr;
}

.step-fill {
    fill: @navbar-game-nav-clr;
}

#tol-footer {
    color: @tol-footer-clr;
    background-color: @msg-head-clr;
}

.footer-icons-fill {
    fill: @icons-and-chart-fill;
}

a:hover .footer-icons-fill {
    fill: @navbar-game-nav-clr;
}

#tol-footer .nav-pills a {
    color: @footer-navpills;
}

#tol-footer .nav-pills a:hover {
    color: @hfooter-pills;
}

.user-nav li a {
    color: @navbar-game-nav-clr;
}

a:hover .icon {
    color: @nxt-prv-clr;
}

.user-nav li .badge {
    color: @modal-header-close-btn;
}

.mobile-banner h4 {
    color: @modal-header-close-btn;
    background-color: @msg-head-clr;
}

.social-nav .icon {
    color: @icons-and-chart-fill;
}

#tol-footer small {
    color: @icons-and-chart-fill;
}

.disclosure {
    color: @icons-and-chart-fill;
}

.navbar-nav a.icon-link:hover {
    color: @navbar-game-nav-clr !important;
}

@media (max-width: 767px) {
    .user-nav .dropdown-toggle {
        color: @msg-head-bg;
    }
    .navigationContainerPeriod {
        line-height: 15px;
    }
}

/* /Color specific */

/* Colors from style-dark.css */
.badge-red {
    background: @badge-red-bg;
}

.icon {
    color: @navbar-game-nav-clr;
}

.glyphicon-user {
    color: @navbar-game-nav-clr;
    border: 1px solid @navbar-game-nav-clr;
}

.navbar-default.game-nav {
    border-color: transparent;
}

.breadcrumb {
    background-color: transparent;
}

.table th {
    color: @table-th-clr;
    border-bottom: 1px solid @table-th-brdb;
}

.tol-assets-table td {
    border-bottom: 1px solid @assets-table-brdb;
}

.isLess {
    color: @isLess;
}

.isMore {
    color: @isMore;
}

.chartV2Wrapper li input,
.tol-closedtrades-table select,
.tol-opentrades-table .actionChart input,
.tol-assets-table select,
.tol-opentrades-table .actionButton {
    background: @cart-select-input;
}

.chartNavigation {
    color: @btn-inverse-clr;
    background: @nav-container-bg;
    font-weight:lighter;
}

.chartNavigation:hover {
    background: @chart-nav-bg;
}


.chartNavigation:disabled {
    background-color: @chart-nav-bg;
}

.navigationContainer li {
    background: @nav-container-bg;
}

.chartNavigationPeriod {
    color: @extend-container-clr;
}

.chartNavigationPeriod:disabled {
    color: @nxt-prv-clr;
}

.chartNavigationPeriod[disabled="disabled"]:before {
    background: @nxt-prv-clr;
}

.select-wrapper ul {
    background: @extend-bg;
    border: 1px solid @nav-selected-bg;
}

.select-wrapper ul > li.selected,
.select-wrapper ul > li:hover {
    background: @nav-selected-bg;
    color: @nxt-prv-clr;
}

.assetFilterCustomPopup {
    background: @extend-bg;
}

.columnsContainer {
    border-top: 1px solid @columns-cont-brdt;
    background: @asset-filter-pop-bg;
}

.columnsContainer .columns {
    color: @modal-header-close-btn;
}

.assetFilterCustomPopup:after {
    border-color: @asset-filter-pop-up-aft-sdw;
    border-bottom-color: @asset-filter-pop-bg;
}

.assetFilterCustomPopup label:before {
    text-shadow: 1px 1px 1px @asset-filter-pop-up-sdw;
    color: @asset-fileter-input-clr;
}

.assetFilterCustomPopup input[type=checkbox]:checked + label:before {
    text-shadow: 1px 1px 1px @asset-filter-pop-up-sdw;
    color: @asset-fileter-input-clr;
}

.assetFilterCustomPopup .columnsContainer legend {
    background: @asset-filter-pop-legend-bg;
    border-bottom: 1px solid @msg-head-clr;
}

.assetFilterCustomPopup .columnsContainer legend.checked-item {
    background: @asset-filter-pop-legend2;
}

.assetFilterCustomPopup .columnsContainer legend.selected-all {
    background: @asset-filter-pop-legend1;
}

.assetFilterCustomPopup section.buttons {
    border-top: 1px solid @msg-body-clr;
    background: @asset-filter-pop-bg;
}

.assetFilterCustomPopup button {
    border-top: 1px solid @asset-filter-pop-brdt;
    border-bottom: 3px solid @asset-filter-pop-brdb;
    .pretty-buttons(@msg-body-clr,@nxt-pop-up-bg1,@asset-filter-pop-btn-sdw);
}

.secondary-menu .select-wrapper p {
    color: @nxt-prv-clr;
    background: @extend-bg;
}

.assetFilterCustomPopup .row {
    color: @asset-filter-pop-row;
}

tr.widgetTableActiveRow td {
    border-bottom: 1px solid @nxt-prv-clr;
}

.tradeTools {
    background: @header-disabled-bg !important;
}

.headerExtend, .headerClose, .headerDouble, .headerInsurance {
    color: @extend-container-clr;
    border-right: 1px solid @headermenu-brd;
    .box-shadow(1px 0 @extend-bg);
}

.headerExtend.disabled, .headerClose.disabled, .headerDouble.disabled {
    color: @header-disabled-clr;
    background: @header-disabled-bg;
}

.headerMenu {
    border-left: 1px solid @extend-bg;
    border-top: 1px solid @extend-bg;
    border-bottom: 1px solid @headermenu-brd;
    border-right: 1px solid @headermenu-brd;
    background: @headermenu-bg;
}

.toolsHeader .activeTab:before {
    background: @nxt-prv-clr;
}

.toolsHeader .activeTab:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid @nxt-prv-clr;
}

.tradingToolsCancel {
    color: @extend-container-clr;
}

.tradingToolsExecute {
    border-top: 1px solid @tradingTools-brdt;
    border-bottom: 1px solid @tradingTools-brdb;
    .pretty-buttons(@msg-body-clr,@tradingTools-exc-bg,@ui-dialog-btn-txtsdw);

    &:hover {
        border-bottom: 1px solid @htradingTools-brdb;
        border-top: 1px solid @htradingTools-brdt;
    }
}


.highcharts-tooltip span {
    background-color: @ui-dialog-btn-txtsdw;
}

.extendContainer, .closeContainer, .doubleContainer, .insuranceContainer {
    color: @extend-container-clr;
}

.extendToSelectWrapper {
    background: @extend-bg;
}

.extendToSelect {
    color: @nxt-prv-clr;
    background: none repeat scroll 0 0 @pageLink-clr;
}

.extendToSelect option {
    background: @extend-bg;
}

.extendCostAmount, .closeContainer .closeValue, .doubleValue, .insuranceValue {
    background: @extend-bg;
    color: @nxt-pop-up-bg1;
}

.tradingToolsCustomSelect {
    color: @msg-body-clr;
    background-color: @ui-dialog-btn-txtsdw;
}

.extendContainer .customSelectInner {
    color: @msg-body-clr;
}

/* /Colors from style-dark.css */

/* Inbox */
#tol-messageInbox .inboxRow {
    color: @hnxt-prv-clr;
}

#tol-messageInbox .inboxRow.read {
    color: @msg-head-bg;
}

.msgContent .headerWrap {
    color: @msg-head-clr;
    background-color: @msg-head-bg;
}

.headerBackBtn {
    border-bottom-color: @headerBackBtn-brdb;
    .pretty-buttons(@headerBackBtn-clr,@headerBackBtn-bg,@headerBackBtn-txt-sdw);
    .box-shadow(@headerBackBtn-bx-sdw);

    &:hover {
        .pretty-buttons(@headerBackBtn-clr,@hheaderBackBtn-bg,@headerBackBtn-txt-sdw);
        border-bottom-color: @headerBackBtn-bg;
    }
}

.msgContentBody {
    color: @msg-body-clr;
    background-color: @msg-body-bg;
}

/* /Inbox */

/* Paging */
.pageLink,
.nextPage,
.prevPage {
    color: @nxt-prv-clr;
    border-color: @nxt-prv-brd;
    background-color: @nxt-prv-bg;

    &:hover,
    &:hover,
    &:hover {
        color: @hnxt-prv-clr;
        background-color: @hnxt-prv-bg;
        border-color: @hnxt-prv-brd;
    }
}



.pageLink.activePage {
    color: @pageLink-clr;
    background-color: @pageLink-bg;
    border-color: @pageLink-brd;
}
/* /Paging */

/* Turbo Pop Up */
.turboChart {
    background: @turboChart-bg;
}

.turboChart .turboStrike,
.turboChart .turboAmount,
.turboChart .turboReturn {
    border-bottom-color: @turboChart-brdb;
}

/* /Turbo Pop Up */

/* Pop Ups */
.ui-dialog.ui-widget-content {
    background: @ui-dialog-bg;
}

.ui-dialog .ui-dialog-titlebar {
    border-bottom-color: @ui-dialog-brdb;
}

.ui-dialog-buttonset .ui-button {
    .pretty-buttons(@ui-dialog-btn-clr,@ui-dialog-btn-bg,@ui-dialog-btn-txtsdw);
    .box-shadow(@ui-dialog-bx-sdw);
}

#nextPopUp {
    border-bottom: 2px solid @nxt-pop-up-brdb;
    border-top: 1px solid @nxt-pop-up-brdt;
    #gradient > .vertical (@nxt-pop-up-bg1,@nxt-pop-up-bg2);
}

#closePopUp,
#closeAllPopUp {
    #gradient > .vertical (@close-pop-up1, @close-pop-up2);
}
/* /Pop Ups */

.modal-default {
    border-color: @modal-def-border;
    background-color: @modal-def-bg;
}

.modal-content {
    background-color: @modal-header-bg;
}

.modal-header {
    border-bottom-color: @modal-header-brd-btm;
}

.modal-header .close {
    color: @modal-header-close-btn;
}

/* Leader Board */
#tol-social-leaderboard-table .tableHeaderDiv {
    background-color: @lboard-table-head-bg;
    .box-shadow (inset 0 1px 0 @lboard-head-sdw1);
}

#tol-social-leaderboard-table .tableRowDiv:nth-child(2n+1) {
    border-top: 1px solid @lboard-table-brd-top;
    background-color: @lboard-table-bg-odd;
}

#tol-social-leaderboard-table .tableRowDiv:nth-child(2n) {
    border-top: 1px solid @lboard-table-bg;
    background-color: @lboard-table-bg;
}
/* /Leader Board */

// Quote ticker

.col-md-12 .slider-container .asset .assetPrice.down{
    color:@asset-prc-dwn-clr;
}

.col-md-12 .slider-container .asset .assetPrice.up{
    color:@asset-prc-up-clr;
}

.col-md-12 .slider-container{
    background: @asset-container-bg;
    color: @asset-container-clr;
    padding: 2px;
}

.col-md-12 .slider-container .asset {
    border-left: 1px solid #859abb;
    border-right: 1px solid #93a5c3;
    font-weight: bold;
    padding: 0 10px;
}

.col-md-12 .slider-container .asset .assetName{
    padding: 0 5px;
}

.col-md-12 .asset-line {
    color: @tol-footer-clr;
    background-color: @msg-head-clr;
    padding: 4px 0 4px 0;
    margin:5px 0 5px 0;
}

// Quote ticker
.tol-well {
    background: @headermenu-bg;
    padding: 6px;
    min-height: 42px;
    margin-bottom: 10px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: @navbat-brd;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: @navbar-a-clr;
    background-color: @navbar-a-bg;
}
.well {
    background: transparent;
}
.navigationContainer {
    background-image: url('/wp-content/themes/tol-parent/images/graphActive.png');
    background-repeat: no-repeat;
    cursor: pointer;
    top: 1px;
    left: 1px;

    &:hover {
        background: url('/wp-content/themes/tol-parent/images/graph.png');
        background-repeat: no-repeat;
    }
}
input.chartNavigation.chartType {
    border: none;
}
.chartNavigationPeriod {
    line-height: 22px;
}
.navigationContainer li {
    left: -40px;
}
.chartNavigation {
    color: @chart-nav-clr;
    font-weight: 300;
}
.highcharts-navigator-handle-right rect, .highcharts-navigator-handle-right path, .highcharts-navigator-handle-left rect, .highcharts-navigator-handle-left path {
    fill: @chart-scroll-fill;
    stroke: @chart-scrill-stroke;
}
.chartNavigationPeriod {
    background: url('/wp-content/themes/tol-parent/images/minutesButton.png');
}
.chartNavigationPeriod:disabled {
    background: url('/wp-content/themes/tol-parent/images/minutesButtonActive.png');
}
.highcharts-navigator rect {
    fill: rgba(74, 74, 74, 0.4);
}
.highcharts-axis-labels text {
    color: #eaeaea !important;
    fill: #eaeaea !important;
}
g.highcharts-grid > path[stroke="#C0C0C0"] {
    stroke-dasharray: 1.5px, 1.5px;
    stroke: #333436;
}
g.highcharts-grid > path[stroke="#EEE"] {
    stroke: #404042;
}
.chartv2.line .highcharts-series path:nth-child(2),
.chartv2.area .highcharts-series path:nth-child(2){
    stroke: #989999;
    stroke-width: 2px;
}
.lastPriceIndicator>path:first-child {
    stroke: #ffc543;
}
.lastPriceIndicator>path+path {
    fill: #ffc543;
    stroke: #ffc543;
    stroke-width: 1px;
}
.lastPriceIndicator>text {
    fill: #000000 !important;
    direction: ltr;
}
