@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,500,100,300,400italic|Roboto+Condensed:400,700,300');

$base-font:			'Roboto', sans-serif !default;
$heading-font:		'Roboto Condensed', sans-serif !default;

$font-size-base:		12px !default;
$font-size-button:		11px !default;
$font-size-toolbar:		14px !default;

$soft-corners: 1px !default; // Set to zero to eliminate soft corners

$nav-height: 72px !default;
$footer-height: 45px !default;


/* Default (Light) Theme */

$DEFAULT-main:				#fff !default;
$DEFAULT-accent: 			#fff !default;
$DEFAULT-bg:				#f8f8f8 !default;
$DEFAULT-menu-bg:			#1a2434 !default;
$DEFAULT-submenu-bg:		#1a2434 !default;
$DEFAULT-hu-bg:				#ffffff !default;
$DEFAULT-text:				#000 !default;
$DEFAULT-text-subtle:		#999 !default;
$DEFAULT-text-medium:		#666 !default;
$DEFAULT-text-strong:		#fff !default;
$DEFAULT-border-subtle:		#fff !default;
$DEFAULT-border-medium:		#ccc !default;
$DEFAULT-border-strong:		#999 !default;

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin user-select($select) {
	-webkit-user-select: $select;
	   -moz-user-select: $select;
	    -ms-user-select: $select;
	        user-select: $select;
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
   -webkit-box-shadow:$top $left $blur $color #{$inset};
      -moz-box-shadow:$top $left $blur $color #{$inset};
           box-shadow:$top $left $blur $color #{$inset};
}


@mixin box-sizing($box) {
	-webkit-box-sizing: $box;
       -moz-box-sizing: $box;
            box-sizing: $box;
}

@mixin rotate($degrees) {
	-webkit-transform: rotate($degrees);  /* Saf3.1+, Chrome */
	-moz-transform: rotate($degrees);  /* FF3.5+ */
	-ms-transform: rotate($degrees);  /* IE9 */
	-o-transform: rotate($degrees);  /* Opera 10.5 */
	transform: rotate($degrees);
	zoom: 1;
}

@import "ciq-components"; /* include main components */
@import "ciq-night"; /* Night theme. Use this as a base if you wish to design your own themes. */
@import "ciq-extras"; /* Plugins and other pieces */
// Add an import for your overrides here and then recompile the SASS
