cq-context {
    position: absolute;
    height: 100%;
    width: 100%;
}
.stx-textarea,
.ciq-select {
    padding: 0 5px 0 10px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ciq-select {
    line-height: 25px;
    height: 27px;
}
.ciq-select {
    position: relative;
    padding-right: 20px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.ciq-select > span:after {
    content: "";
    position: absolute;
    display: inline-block;
    margin-top: 8px;
    margin-left: 6px;
    width: 5px;
    height: 5px;
    border-right: solid thin #959595;
    border-bottom: solid thin #959595;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    zoom: 1;
}
.ciq-select > span.ciq-line:after {
    margin-top: -6px;
    margin-left: 36px;
}
.ciq-select > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.break-sm .ciq-select {
    position: static;
}
.ciq-checkbox,
.ciq-radio,
.ciq-edit {
    display: inline-block;
    width: 27px;
    height: 27px;
    text-align: center;
    cursor: pointer;
}
.ciq-checkbox span,
.ciq-radio span,
.ciq-edit span {
    margin-top: 7px;
    display: inline-block;
    border: solid 1px #ccc;
    position: relative;
    width: 12px;
    height: 12px;
}
.ciq-checkbox:hover span,
.ciq-radio:hover span,
.ciq-edit:hover span {
    border: solid 1px #999;
}
.ciq-active .ciq-checkbox span:after,
.ciq-checkbox.ciq-active span:after,
.ciq-active .ciq-radio span:after,
.ciq-radio.ciq-active span:after,
.ciq-active .ciq-edit span:after,
.ciq-edit.ciq-active span:after {
    position: absolute;
    display: block;
    content: "";
}
.ciq-active .ciq-checkbox.ciq-active span:after {
    left: 1px;
    bottom: 1px;
    width: 12px;
    height: 12px;
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/stx-sprite-ui.svg);
    background-position: -580px -31px;
}
.ciq-radio span {
    border-radius: 50%;
}
.ciq-active .ciq-radio span:after,
.ciq-radio.ciq-active span:after {
    left: 2px;
    bottom: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}
.ciq-edit {
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/stx-sprite-panels.svg);
    background-position: -300px -25px;
    opacity: .5;
    transition: opacity 0.2s;
}
.ciq-edit:hover {
    opacity: 1;
}
.ciq-display .ciq-edit {
    position: absolute;
    right: 40px;
}
cq-loader {
    display: none;
    position: absolute;
    height: 50px;
    width: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/loading-spin.svg);
    background-size: cover;
    z-index: 1;
}
cq-loader.stx-show {
    display: block;
}
.ciq-btn,
#annotationCancel,
#annotationSave {
    background: #1a2434;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    position: relative;
    line-height: 27px;
    height: 27px;
    padding: 0 10px;
    cursor: pointer;
    border: 1px solid #008aff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .2s 0s, opacity .2s 0s;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 15px;
}
.ciq-btn:hover,
#annotationCancel:hover,
#annotationSave:hover {
    color: #ffffff;
    background-color: rgba(0,138,255,0.1);
}
.ciq-btn:active,
.ciq-btn:active,
#annotationCancel:active,
#annotationCancel:active,
#annotationSave:active,
#annotationSave:active {
    border: none;
    color: #ebebeb;
    transition: all 0s 0s;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.ciq-btn.ciq-primary,
.ciq-btn.ciq-primary,
#annotationCancel.ciq-primary,
#annotationCancel.ciq-primary,
#annotationSave.ciq-primary,
#annotationSave.ciq-primary {
    background: #fff;
    color: #fff;
}
.ciq-btn.ciq-primary:hover,
.ciq-btn.ciq-primary:active,
.ciq-btn.ciq-primary:hover,
.ciq-btn.ciq-primary:active,
#annotationCancel.ciq-primary:hover,
#annotationCancel.ciq-primary:active,
#annotationCancel.ciq-primary:hover,
#annotationCancel.ciq-primary:active,
#annotationSave.ciq-primary:hover,
#annotationSave.ciq-primary:active,
#annotationSave.ciq-primary:hover,
#annotationSave.ciq-primary:active {
    color: #fff;
    background: #f2f2f2;
}
.ciq-btn.ciq-simple,
#annotationCancel.ciq-simple,
#annotationSave.ciq-simple {
    border: none;
    background: transparent;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
}
.ciq-btn.ciq-simple:hover,
.ciq-btn.ciq-simple:active,
#annotationCancel.ciq-simple:hover,
#annotationCancel.ciq-simple:active,
#annotationSave.ciq-simple:hover,
#annotationSave.ciq-simple:active {
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
}
#annotationCancel,
#annotationSave {
    position: absolute;
}
.ciq-btn.fancy {
    display: inline-block;
    overflow: hidden;
    position: relative;
    transform: translateZ(0px);
    vertical-align: middle;
    transition: all .20s ease-in 0s;
}
.ciq-btn.fancy:before {
    background: rgba(255,255,255,0.2);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    z-index: -1;
    -webkit-transform: rotate(100%);
    -moz-transform: rotate(100%);
    -ms-transform: rotate(100%);
    -o-transform: rotate(100%);
    transform: rotate(100%);
    zoom: 1;
    transition: all .20s ease-in 0s;
}
.ciq-btn.fancy:focus:before,
.ciq-btn.fancy:active:before {
    transform: scale(2);
}
.ciq-icon {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
.ciq-icon:after {
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 25px;
    content: "";
    opacity: .5;
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/stx-sprite-panels.svg);
    -webkit-transition: -webkit-transform .2s;
    transition: opacity .2s;
}
.ciq-icon:hover:after,
.ciq-icon:active:after {
    opacity: 1;
}
.ciq-icon:active:after {
    -webkit-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}
.ciq-icon.ciq-close:after {
    background-position: -250px -25px;
}
.ciq-icon.ciq-edit:after {
    background-position: -300px -25px;
}
.ciq-icon.ciq-delete:after {
    background-position: -400px -25px;
}
cq-clickable {
    display: inline-block;
}
cq-selected,
cq-toolbar,
cq-menu,
cq-menu-dropdown {
    display: block;
}
cq-scroll {
    display: block;
    position: relative;
    overflow-x: hidden;
}
cq-scroll .ps-scrollbar-y-rail,
cq-menu-dropdown .ps-scrollbar-y-rail {
    z-index: 1000000;
}
cq-close {
    position: absolute;
    top: 0px;
    right: 3px;
    margin: 0px;
}
cq-dialog cq-close {
    top: 3px;
}
cq-close.ciq-tight {
    top: 0px;
    right: 0px;
}
cq-close {
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
cq-close.ciq-tight {
    width: 20px;
    height: 20px;
}
cq-close:after {
    background-position: -253px -25px;
}
cq-close.ciq-tight:after {
    background-position: -252px -27px;
}
cq-close:after {
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 25px;
    content: "";
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/stx-sprite-panels.svg);
    -webkit-transition: -webkit-transform .2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
cq-swatch,
.ciq-color,
.stx-border-color {
    position: relative;
    height: 19px;
    width: 19px;
    background-clip: content-box;
    cursor: pointer;
    background-color: #000;
}
cq-swatch {
    display: block;
    box-sizing: border-box;
}
cq-color-picker {
    position: absolute;
    background: #FFF;
    padding: 0 2px 2px 5px;
    border: 1px solid #ccc;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 99;
    display: none;
}
cq-color-picker[cq-active] {
    display: block;
}
cq-color-picker cq-overrides {
    display: flex;
    justify-content: center;
    margin: 4px;
}
cq-color-picker ul {
    margin: 5px 0 0 0;
    padding: 0;
    list-style-type: none;
    zoom: 1;
}
cq-color-picker ul:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
cq-color-picker ul li {
    float: left;
    margin: 0 3px 3px 0;
}
cq-color-picker ul li span {
    display: block;
    width: 13px;
    height: 13px;
    text-decoration: none;
    outline: 0;
    border: 1px solid transparent;
    transition: border .20s 0s;
}
cq-color-picker ul li span:hover,
cq-color-picker ul li span:active {
    border-color: #000;
}
.ciq-nav,
cq-toolbar,
.ciq-chart-area,
.ciq-chart,
.stx-panel-side,
.ciq-footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ciq-nav {
    height: 72px;
    border-bottom: 1px solid #fff;
}
cq-toolbar {
    height: 0px;
    padding: 0px 10px;
    border-bottom: none;
    visibility: hidden;
    transition: height .20s 0s, padding .20s 0s;
}
.toolbar-on cq-toolbar {
    height: 40px;
    padding: 5px 10px 0;
    border-bottom: 1px solid #fff;
    z-index: 2;
    visibility: visible;
}
cq-magnetize cq-toggle span:after {
    background-position: -482px -25px;
}
.ciq-chart-area {
    position: absolute;
    left: 0;
    bottom: 0;
    height: calc(100% - 72px);
    width: 100%;
}
.break-sm .ciq-chart-area {
    padding: 0;
}
cq-instant-chart .ciq-chart-area {
    bottom: 0;
}
.ciq-chart {
    height: 100%;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.chartContainer {
    background: #fff;
    color: #000;
}
cq-side-panel {
    position: absolute;
    width: 0px;
    right: 0;
    top: 72px;
    bottom: 45px;
    transition: width .20s 0s;
    overflow: hidden;
    z-index: 1;
}
cq-side-panel[cq-active] {
    overflow: visible;
}
.ciq-footer {
    position: absolute;
    height: 45px;
    bottom: 0px;
    width: 100%;
    padding: 0 15px;
    overflow: hidden;
    text-align: center;
    border-top: 1px solid #fff;
}
cq-menu-dropdown {
    position: absolute;
    left: 0;
    background: #1a2434;
    color: #666;
    height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: opacity .20s 0s;
    z-index: 6;
    width: 200px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
}
.break-sm cq-menu-dropdown {
    top: 72px;
    width: auto;
    left: 0;
    right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}
.stxMenuActive > cq-menu-dropdown,
.stxMenuActive > * > cq-menu-dropdown {
    opacity: 1;
    height: auto;
    margin-top: 0;
    padding-bottom: 6px;
    padding-top: 10px;
}
cq-menu-dropdown[cq-lift] {
    width: auto;
}
cq-separator {
    border-top: 1px solid #ccc;
    margin: 10px 0 10px 0;
    display: block;
}
cq-separator[cq-partial] {
    margin-left: 10%;
    width: 80%;
    border-top-style: dashed;
}
cq-col {
    display: inline-block;
    vertical-align: top;
}
cq-item {
    position: relative;
    cursor: pointer;
    text-overflow: clip;
    white-space: nowrap;
}
cq-item,
cq-heading,
cq-placeholder {
    padding: 0 0 0 20px;
    line-height: 30px;
    height: 30px;
    display: block;
    font-size: 14px;
    color: white;
}
cq-item {
    padding: 0 0 0 5px;
}
cq-item:hover,
cq-item[cq-focused] {
    background: #2f3744;
    color: #fff;
}
cq-lookup-filters,
cq-menu-wrap {
    display: block;
}
cq-heading {
    background: transparent;
    cursor: default;
    white-space: normal;
    color: #666;
    display: block;
}
cq-heading {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 18px;
    color: #398dff;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}
cq-item .ciq-radio,
cq-item .ciq-checkbox {
    position: absolute;
    right: 10px;
}
cq-item:hover .ciq-radio span,
cq-item:active .ciq-radio span,
cq-item:hover .ciq-checkbox span,
cq-item:active .ciq-checkbox span {
    border: solid 1px #999;
}
cq-section-dynamic {
    display: block;
}
cq-section-dynamic cq-item {
    width: 100%;
}
cq-section-dynamic cq-heading,
cq-section-dynamic > div {
    border-top: none;
    padding-top: 10px;
}
cq-section-dynamic .ciq-icon {
    margin: 0 -3px 0 0;
}
cq-lookup {
    display: block;
    width: 120px;
    transition: width .50s 0s;
    z-index: 2;
}
.stxMenuActive cq-lookup {
    width: 481px;
}
.break-sm .stxMenuActive cq-lookup,
.break-md .stxMenuActive cq-lookup {
    width: 300px;
}
.break-sm cq-lookup {
    width: 50px;
}
.break-md cq-lookup {
    width: 85px;
}
.ciq-search {
    width: 130px;
    height: 72px;
    padding: 9px 10px 0 10px;
    float: left;
    position: relative;
    z-index: 4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ciq-search input {
    height: 27px;
    border: none;
}
.break-sm .ciq-search {
    width: 50px;
}
.break-md .ciq-search {
    width: 85px;
}
cq-lookup-input {
    position: relative;
    width: 100%;
}
cq-lookup-input:hover input {
    background: #fafafa;
}
.stxMenuActive cq-lookup-input input {
    background: #fcfcfc;
}
cq-lookup-input input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    transition: background .60s 0s;
}
cq-lookup-icon {
    position: absolute;
    height: 27px;
    width: 27px;
    right: 15px;
    top: -5px;
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/stx-sprite-ui.svg);
    background-position: -45px -25px;
    opacity: .6;
    transition: opacity .20s 0s;
}
.stxMenuActive cq-lookup-icon {
    opacity: 1;
}
.ciq-dropdowns,
.ciq-menu {
    display: inline-block;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ciq-menu-section {
    float: right;
    position: relative;
    z-index: 999;
}
.break-sm .ciq-menu-section {
    position: absolute;
    right: 0;
}
.ciq-dropdowns,
.ciq-toggles {
    float: left;
}
.ciq-menu,
cq-toggle {
    float: left;
}
.ciq-menu,
cq-toggle {
    cursor: pointer;
}
.ciq-menu,
cq-toggle {
    position: relative;
}
.break-sm .ciq-menu,
cq-toggle {
    position: inherit;
}
.ciq-dropdowns {
    margin-right: 5px;
    margin-top: 3px;
}
.ciq-menu {
    color: #575757;
    padding: 0 35px;
    transition: color .20s 0s;
}
.ciq-menu:hover {
    color: #000;
}
.ciq-menu:active {
    color: #000;
}
.ciq-menu.stxMenuActive {
    color: #000;
}
.break-sm .ciq-menu.stxMenuActive {
    border-bottom: solid 3px #fff;
}
.break-sm .ciq-menu,
.break-md .ciq-menu {
    padding: 0;
}
.ciq-menu > span {
    padding: 0 12px 0 0;
    position: relative;
    font-weight: 400;
    font-size: 14px;
}
.ciq-menu:after {
    content: "";
    position: absolute;
    right: 25px;
    top: 15px;
    display: block;
    width: 8px;
    height: 8px;
    border-right: solid thin #959595;
    border-bottom: solid thin #959595;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    zoom: 1;
}
.break-sm .ciq-menu:after,
.break-md .ciq-menu:after {
    display: none;
}
body:not(.break-sm) .sidenav-toggle {
    display: none;
}
.sidenav-toggle.ciq-toggles {
    padding: 0 0 0 0;
}
.ciq-toggles {
    position: relative;
    padding: 0 10px 0 0;
}
.ciq-toggles:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 0;
    width: 1px;
    background: #fff !important;
}
.break-sm cq-toggle.ciq-sidenav {
    display: block;
}
cq-toggle {
    position: relative;
}
body:not(.break-sm) cq-toggle.ciq-draw,
body:not(.break-sm) cq-toggle.ciq-HU {
    display: block;
}
cq-toggle.ciq-CH {
    display: block;
}
.break-sm cq-toggle.ciq-sidenav span {
    display: block;
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/stx-sprite-panels.svg);
}
.break-lg cq-toggle {
    display: block;
}
cq-toggle > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 27px;
    height: 27px;
    border: solid 1px transparent;
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/stx-sprite-ui.svg);
    opacity: .85;
    transition: opacity .20s 0s;
}
cq-toggle:hover > *,
cq-toggle:active > * {
    border: solid 1px #e4e4e4;
    opacity: 1;
}
cq-toggle.active {
    border-bottom: solid 3px #fff;
    color: #000;
}
cq-toggle cq-tooltip {
    bottom: -8px;
    position: absolute;
    display: block;
    background: #fff;
    transition: opacity .10s .0s, margin .50s .0s;
    opacity: 0;
    z-index: 4;
    width: 44px;
    height: 16px;
    left: -8px;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    color: #50596d;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
}
cq-toggle:hover cq-tooltip {
    opacity: 1;
    transition: opacity .10s 1s, bottom .50s 1s;
    bottom: -24px;
}
cq-toggle:hover:after {
    margin-top: 5px;
}
.break-sm .ciq-menu.collapse,
.break-md .ciq-menu.collapse {
    width: 40px;
    margin-left: 2px;
    margin-top: 6px;
}
.ciq-nav cq-toggle {
    width: 40px;
    margin-top: 9px;
    margin-left: 35px;
}
.ciq-nav cq-toggle > * {
    margin-left: 7px;
}
.ciq-nav cq-toggle:before {
    top: 35px;
}
.ciq-nav cq-toggle:after {
    top: 37px;
}
.break-sm .ciq-menu.collapse > span,
.break-md .ciq-menu.collapse > span {
    display: block;
    width: 27px;
    height: 27px;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 1px transparent;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
.break-sm .ciq-menu.collapse:hover > span,
.break-sm .ciq-menu.collapse:active > span,
.break-md .ciq-menu.collapse:hover > span,
.break-md .ciq-menu.collapse:active > span {
    border: solid 1px #e4e4e4;
}
.break-sm .ciq-menu.collapse > span:after,
.break-md .ciq-menu.collapse > span:after {
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    position: static;
    border-right: none;
    border-bottom: none;
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/stx-sprite-ui.svg);
    opacity: .85;
    transition: opacity .20s 0s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    zoom: 1;
}
.break-sm .ciq-menu.collapse:hover > span:after,
.break-sm .ciq-menu.collapse.stxMenuActive > span:after,
.break-sm .ciq-menu.collapse:active > span:after {
    opacity: 1;
}
.stx-watch span {
    background-position: -150px -25px;
}
.stx-trade span {
    background-position: -200px -25px;
}
.ciq-draw span {
    background-position: -250px -25px;
}
.ciq-HU span {
    background-position: -400px -25px;
}
.ciq-CH span {
    background-position: -443px -25px;
}
.ciq-sidenav span {
    background-position: -300px -25px;
}
.break-sm .ciq-menu.collapse {
    position: static;
    padding: 0;
}
.break-sm .ciq-menu.collapse > span {
    padding: 0;
}
.break-sm .ciq-menu.ciq-views > span:after,
.break-md .ciq-menu.ciq-views > span:after {
    background-position: -481px -25px;
}
.break-sm .ciq-menu.ciq-studies > span:after,
.break-md .ciq-menu.ciq-studies > span:after {
    background-position: -300px -25px;
}
.break-sm .ciq-menu.ciq-display > span:after,
.break-md .ciq-menu.ciq-display > span:after {
    background-position: -350px -25px;
}
.break-sm .ciq-menu.stx-markers > span:after,
.break-md .ciq-menu.stx-markers > span:after {
    background-position: -100px -25px;
}
.ciq-HU {
    float: left;
}
.ciq-HU.active {
    border-bottom: none;
}
.ciq-HU.active span,
.ciq-HU.active:hover span,
.ciq-HU.active:active span {
    border: solid 1px #fff;
}
.ciq-search cq-menu-dropdown > ul {
    padding: 0;
}
cq-lookup-results {
    display: block;
    text-align: left;
    background-color: #1a2434;
    margin-top: 5px;
    color: #666;
    opacity: 0;
    transition: opacity .20s .50s;
    overflow: hidden;
    height: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.stxMenuActive cq-lookup-results {
    opacity: 1;
    height: auto;
}
cq-lookup-filters {
    text-align: center;
    height: 45px;
    padding: 0;
    border-bottom: solid thin #fff;
}
cq-lookup-filters cq-filter {
    margin: 0 10px;
    padding: 0 5px;
    display: inline-block;
    line-height: 45px;
    height: 42px;
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    transition: color .20s .0s;
}
cq-lookup-filters cq-filter.true,
cq-lookup-filters cq-filter.true:hover,
cq-lookup-filters cq-filter.true:active {
    border-bottom: 3px solid #fff;
    color: #fff;
}
cq-lookup-filters cq-filter:hover,
cq-lookup-filters cq-filter:active {
    color: #666;
}
.break-sm cq-lookup-filters,
.break-md cq-lookup-filters {
    height: 90px;
}
cq-lookup cq-menu-dropdown {
    position: relative;
    padding: 0px;
    transition: opacity .20s .50s;
}
.break-md cq-lookup cq-menu-dropdown,
.break-lg cq-lookup cq-menu-dropdown {
    width: auto;
}
.break-md cq-lookup cq-menu-dropdown {
    left: 0px;
    top: 72px;
    right: 0px;
    bottom: auto;
}
.break-sm cq-lookup cq-menu-dropdown {
    left: 0px;
    top: 10px;
    right: 0px;
    bottom: auto;
}
cq-lookup cq-scroll {
    padding: 0;
}
.break-sm cq-lookup cq-scroll,
.break-md cq-lookup cq-scroll {
    padding-bottom: 5px;
}
cq-lookup-results .cq-iscroller {
    display: table;
    width: 100%;
}
cq-lookup-results cq-scroll:first-child {
    display: table;
    width: 100%;
}
cq-lookup-results cq-item {
    height: 27px;
    display: table-row;
    cursor: pointer;
    white-space: normal;
}
cq-lookup-results cq-item:first-child span {
    padding-top: 10px;
}
cq-lookup-results cq-item:last-child span {
    padding-bottom: 10px;
}
cq-lookup-results cq-item span {
    line-height: 27px;
    display: table-cell;
    margin: 0px;
}
cq-lookup-results cq-item span:nth-of-type(1) {
    color: #333333;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    line-height: 17px;
}
cq-lookup-results cq-item span:nth-of-type(2) {
    line-height: normal;
    padding: 3px;
    width: 100%;
}
cq-lookup-results cq-item span:nth-of-type(3) {
    color: #333333;
    font-size: 10px;
    min-width: 40px;
    text-align: right;
    line-height: normal;
    padding: 3px;
    white-space: nowrap;
    padding-right: 20px;
}
body:not(.break-sm) .ciq-period cq-menu-dropdown {
    width: 100px;
}
cq-views {
    display: block;
    overflow: hidden;
    padding: 0;
    width: 200px;
}
cq-views cq-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
cq-views cq-label {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
    vertical-align: text-bottom;
}
cq-views cq-label i {
    margin-left: 85px;
    margin-top: -2px;
    font-size: 13px;
}
cq-themes cq-label {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
    vertical-align: text-bottom;
}
.ciq-studies cq-menu-dropdown {
    padding: 0;
}
cq-study-legend {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 0;
    width: 100%;
}
cq-study-legend cq-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
cq-study-legend cq-label {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 105px;
    float: left;
}
cq-study-legend cq-label.click-to-edit {
    width: 90%;
}
cq-study-legend cq-section-dynamic {
    border-top: 1px solid #ccc;
    background: #1a2434;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
cq-study-legend cq-section-dynamic cq-heading {
    color: #fff;
}
cq-study-legend cq-section-dynamic .ciq-btn {
    margin-top: 10px;
}
cq-study-legend[cq-marker] > cq-item:hover {
    background-color: #fafafa;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
cq-study-legend[cq-marker] > cq-item {
    padding-left: 15px;
    font-weight: bolder;
}
cq-study-legend[cq-marker] > cq-item > cq-label {
    width: 130px;
}
cq-study-legend[cq-marker] {
    height: 15px;
    color: black;
    margin: 5px 0 0 10px;
    z-index: 999;
}
.break-sm cq-study-legend[cq-marker] {
    display: none;
}
cq-marker-label:after {
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    float: left;
    margin-left: 10px;
    margin-right: 4px;
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/stx-sprite-ui.svg);
    background-position: -731px -31px;
}
@keyframes hovershow-toggle-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(450deg);
    }
}
@keyframes reverse-hovershow-toggle-animation {
    0% {
        transform: rotate(450deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
cq-study-legend[cq-marker] > cq-marker-label:after {
    animation: reverse-hovershow-toggle-animation ease-in-out .5s;
}
cq-study-legend[cq-marker]:hover > cq-marker-label:after {
    animation: hovershow-toggle-animation ease-in-out .5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}
cq-study-legend[cq-marker]:hover {
    height: auto;
}
cq-study-legend[cq-marker] cq-item {
    opacity: 0;
    transition: opacity .20s .50s, background-color 0.25s ease-in-out;
}
cq-study-legend[cq-marker]:hover cq-item {
    opacity: 1;
}
cq-marker-label {
    cursor: pointer;
}
cq-annotation,
cq-axis-label,
cq-line-style,
cq-line-color,
cq-fill-color,
cq-clickable[cq-fib-settings],
cq-magnetize {
    display: none;
}
cq-annotation.ciq-active,
cq-axis-label.ciq-active,
cq-line-style.ciq-active,
cq-line-color.ciq-active,
cq-fill-color.ciq-active,
cq-clickable[cq-fib-settings].ciq-active,
cq-magnetize.ciq-active {
    display: block;
}
cq-magnetize {
    padding-top: .25em;
    cursor: pointer;
}
cq-toolbar-settings *[cq-section] {
    float: left;
}
cq-annotation .ciq-btn,
cq-toolbar .ciq-select {
    float: left;
    margin-left: 6px;
}
cq-toolbar .ciq-color {
    margin-top: 4px;
}
cq-toolbar .ciq-heading {
    float: left;
    line-height: 27px;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    color: #999999;
}
cq-toolbar .ciq-select:hover,
cq-toolbar .ciq-select:active,
cq-toolbar .ciq-select.stxMenuActive {
    color: #000;
}
cq-toolbar .ciq-select:not(:hover):not(:active):not(.stxMenuActive) {
    border-color: transparent;
}
cq-toolbar cq-menu-dropdown {
    width: 155px;
}
cq-undo-section {
    float: right;
}
cq-undo,
cq-redo {
    opacity: .45;
}
cq-undo[cq-active],
cq-redo[cq-active] {
    opacity: 1;
}
cq-annotation .ciq-btn {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
    color: #4d4d4d;
    border: solid 1px transparent;
}
cq-annotation .ciq-btn:hover {
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
    color: #000;
    border: solid 1px #fff;
}
cq-annotation .ciq-btn:ciq-active {
    color: #000;
    border: solid 1px #fff;
}
cq-annotation .ciq-btn.ciq-active,
cq-annotation .ciq-btn.ciq-active:active {
    color: #000;
    border: solid 1px #fff;
}
cq-toolbar .ciq-checkbox {
    margin: 0 0 0 5px;
}
cq-toolbar-settings > * {
    float: left;
    margin: 0 0 0 10px;
    padding: 0 7px 0 7px;
}
cq-menu-dropdown.ciq-line-style-menu li {
    padding-top: 13px;
    padding-bottom: 13px;
}
cq-menu-dropdown.ciq-line-style-menu li.ciq-none {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}
span.ciq-line {
    display: block;
    width: auto;
    height: 0;
    padding: 0;
    border-top-color: #666;
    border-radius: 0;
}
.ciq-line-style-option {
    top: 50%;
    position: relative;
}
cq-toolbar-settings .ciq-solid-1 {
    border-top-style: solid;
    border-top-width: 1px;
}
cq-toolbar-settings .ciq-dotted-1 {
    border-top-style: dotted;
    border-top-width: 1px;
}
cq-toolbar-settings .ciq-dashed-1 {
    border-top-style: dashed;
    border-top-width: 1px;
}
cq-toolbar-settings .ciq-solid-3 {
    border-top-style: solid;
    border-top-width: 2px;
}
cq-toolbar-settings .ciq-dotted-3 {
    border-top-style: dotted;
    border-top-width: 2px;
}
cq-toolbar-settings .ciq-dashed-3 {
    border-top-style: dashed;
    border-top-width: 2px;
}
cq-toolbar-settings .ciq-solid-5 {
    border-top-style: solid;
    border-top-width: 3px;
}
cq-toolbar-settings .ciq-dotted-5 {
    border-top-style: dotted;
    border-top-width: 3px;
}
cq-toolbar-settings .ciq-dashed-5 {
    border-top-style: dashed;
    border-top-width: 3px;
}
span.ciq-line.ciq-selected {
    margin: 13px 0 0 0;
    width: 30px;
}
cq-annotation .ciq-btn {
    padding: 0;
    width: 27px;
}
cq-annotation .ciq-btn:first-child {
    margin-left: 0;
}
cq-menu-dropdown.ciq-font-size {
    width: 65px;
    text-align: center;
}
.break-sm cq-menu-dropdown.ciq-font-size {
    width: auto;
}
cq-menu-dropdown.ciq-font-family {
    width: 144px;
}
.break-sm cq-menu-dropdown.ciq-font-family {
    width: auto;
}
cq-measure {
    text-align: right;
    float: left;
    margin-right: 10px;
    display: inline-block;
    height: 27px;
    line-height: 27px;
}
cq-hu-dynamic {
    position: absolute;
    display: none;
    width: 215px;
    height: 140px;
    color: #4ea1fe;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
    left: 200px;
    top: 0px;
    z-index: 31;
    transition: left .10s 0s, top .10s 0s, right .10s 0s, bottom .10s 0s;
}
cq-hu-dynamic.stx-show {
    display: block;
    margin-right: -103px !important
}
cq-hu-dynamic svg {
    position: absolute;
    display: block;
}
cq-hu-dynamic.stx-right svg {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
}
cq-hu-dynamic .ciq-hu-bg {
    fill: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
cq-hu-dynamic .ciq-hu-stroke {
    opacity: 0;
}
cq-hu-dynamic > div {
    position: absolute;
    height: 80px;
    width: 220px;
    right: 0;
    top: 0;
}
cq-hu-dynamic.above > div {
    top: 0;
}
cq-hu-dynamic.below > div {
    bottom: 0;
}
cq-hu-dynamic cq-hu-col1 {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 90px;
}
cq-hu-dynamic cq-hu-date {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #666;
    font-weight: 300;
}
cq-hu-dynamic cq-hu-price {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    line-height: 24px;
}
cq-hu-dynamic cq-volume-grouping > div:nth-of-type(1) {
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 9px;
    padding-top: 6px;
    color: #666;
    border-top: 1px solid #666;
}
cq-hu-dynamic cq-volume-grouping > div:nth-of-type(2) {
    background: #e7e7e7;
    height: 10px;
    margin: 2px 0;
}
cq-hu-dynamic cq-volume-visual {
    display: inline-block;
    background: #ccc;
    height: inherit;
    float: left;
    width: 0%;
}
cq-hu-dynamic cq-volume-grouping > div:nth-of-type(3) {
    font-size: 16px;
    color: #333;
    font-weight: 700;
}
cq-hu-dynamic cq-volume-rollup {
    font-size: 10px;
    font-weight: 500;
    margin-left: 2px;
}
cq-hu-dynamic cq-hu-col2 {
    position: absolute;
    right: 15px;
    bottom: 10px;
    width: 90px;
    list-style: none;
}
cq-hu-dynamic cq-hu-col2 > * {
    text-align: right;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    display: block;
}
cq-hu-dynamic cq-hu-col2 > div {
    text-transform: uppercase;
    color: #999;
    font-weight: 500;
    font-size: 11px;
    padding-top: 2px;
    float: left;
}
cq-hu-dynamic cq-hu-col2 > div:after {
    content: ":";
}
cq-hu-dynamic.stx-below.stx-left svg {
    transform: scaleY(-1);
}
cq-hu-dynamic.stx-below.stx-right svg {
    transform: scale(-1,-1);
}
cq-hu-static {
    position: fixed;
    top: 80px;
    left: 550px;
    display: block;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
    background: #1c2a35;
    padding-left: 15px;
    z-index: 999;
}
.break-sm cq-hu-static {
    display: none;
}
cq-hu-static > div {
    display: table-row;
    width: 265px;
}
cq-hu-static > div > * {
    display: table-cell;
    width: 53px;
    font-size: 13px;
    color: #000;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 3px;
}
cq-hu-static > div > div {
    text-transform: uppercase;
    color: #666;
    font-size: 12px;
    width: 32px;
    padding-top: 1px;
}
cq-hu-static > div > div:after {
    content: ":";
}
.break-sm cq-hu-static div {
    width: 55px;
}
.break-sm cq-hu-static {
    top: initial;
    bottom: 20px;
    left: 20px;
    display: block;
    padding-left: 0px;
}
.break-sm cq-hu-static div > * {
    display: block;
}
.break-sm cq-hu-static div > div {
    display: none;
}
.break-sm cq-hu-static div > *:before {
    display: inline-block;
    float: left;
    color: #666;
    font-size: 10px;
    width: 20px;
    padding-top: 0px;
}
.break-sm cq-hu-static cq-hu-open:before {
    content: "O:";
}
.break-sm cq-hu-static cq-hu-high:before {
    content: "H:";
}
.break-sm cq-hu-static cq-hu-low:before {
    content: "L:";
}
.break-sm cq-hu-static cq-hu-close:before {
    content: "C:";
}
.break-sm cq-hu-static cq-hu-price:before {
    content: "P:";
}
.break-sm cq-hu-static cq-volume-section:before {
    content: "V:";
}
#mSticky {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    font-weight: bold;
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #000;
    background-color: #fff;
    border: solid #398DFF 2px;
    padding: 5px;
}
#mStickyInterior {
    padding: 0;
}
#mouseDeleteInstructions {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 5px 0 0 0;
}
.ciq-footer {
    color: #575757;
}
.ciq-footer > .ciq-btn {
    float: right;
    margin: 8px 0;
}
cq-show-range {
    height: 45px;
    line-height: 45px;
    display: inline-block;
    margin-left: 0;
    float: right;
}
.ciq-phone cq-show-range {
    float: none;
}
.break-lg cq-show-range {
    margin: 0 15px 0 0;
}
cq-show-range > div {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    float: left;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
cq-show-range > div:hover {
    color: #000;
}
cq-show-range > div:active {
    color: #000;
    border-top: solid 3px #fff;
}
.break-sm .hide-sm {
    display: none;
}
cq-dialog-overlay {
    position: relative;
    display: block;
    z-index: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .20s 0s;
}
cq-dialog-overlay[cq-active] {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
}
cq-dialog {
    position: fixed;
    display: none;
    text-align: left;
    min-width: 260px;
    background: #1a2434;
    color: #666;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 99;
    border-radius: 15px 15px 0 0;
}
cq-dialog[cq-active] {
    display: inline-block;
}
cq-dialog h4 {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 5px 0;
    height: 50px;
    color: #fff;
    text-align: left;
    padding: 15px;
    background-color: #313a49;
    border-radius: 15px 15px 0px 0px;
}
cq-dialog hr {
    border: none;
    height: 2px;
    color: #ccc;
    background: #ccc;
    margin: 4px 0px 8px 0px;
    padding: 0px;
}
cq-dialog .ciq-close {
    position: absolute;
    top: 3px;
    right: 3px;
    margin: 0px;
}
.ciq-dialog-cntrls {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
}
.ciq-dialog-cntrls .ciq-btn {
    width: 110px;
}
.ciq-dialog-cntrls .ciq-btn {
    margin-left: 10px;
}
.ciq-dialog-cntrls .ciq-btn:first-child {
    margin-left: 0;
}
cq-study-output,
cq-study-input,
cq-study-parameter,
cq-fibonacci-setting {
    display: block;
}
cq-fib-settings-dialog div.ciq-heading,
cq-fib-settings-dialog div.stx-data {
    display: inline-block;
    line-height: 24px;
    margin-bottom: 10px;
}
cq-fib-settings-dialog div.stx-data {
    position: absolute;
    right: 16px;
    max-width: 150px;
    text-overflow: clip;
    white-space: nowrap;
}
cq-fib-settings-dialog div.stx-data input:invalid {
    border-color: #ee5c5c;
}
cq-study-dialog div.ciq-heading,
cq-study-dialog div.stx-data {
    display: inline-block;
    line-height: 24px;
    margin-bottom: 10px;
}
cq-study-dialog div.stx-data {
    position: absolute;
    right: 12px;
    max-width: 150px;
    text-overflow: clip;
    white-space: nowrap;
}
cq-study-dialog div.stx-data input:invalid {
    border-color: #ee5c5c;
}
cq-study-dialog cq-swatch {
    float: right;
    border-radius: 50%;
    border: 1px solid #1a2434;
    margin-right: 10px;
    margin-top: 3px;
}
cq-study-dialog *[cq-study-inputs] {
    padding: 8px 0 0 0;
}
cq-study-dialog *[cq-study-outputs] {
    padding: 0 0 8px 0;
}
cq-study-dialog cq-study-input,
cq-study-dialog cq-study-output,
cq-study-dialog cq-study-parameter {
    clear: both;
    margin: 10px;
    background-color: #262f3e;
    padding: 0px 0px 0px 10px;
    border-radius: 3px;
}
cq-study-dialog cq-study-outputs .cq-study-output-item {
    background: none;
    clear: none;
    margin: 0px;
    border-bottom: solid 1px #303b4b;
    padding-right: 10px;
    padding-left: 10px;
}
cq-study-dialog cq-study-outputs .ciq-heading {
    color: #959bb0;
}
.cq-study-input-parent-checkbox {
    background: none;
    border-bottom: solid 1px #303b4b;
}
.cq-study-input-parent-checkbox .stx-data {
    display: none;
}
cq-study-dialog cq-study-input .ciq-heading {
    width: 68px;
    color: #959bb0;
}
#check-box-btn {
    height: 18px;
    width: 18px;
    border: 1px solid grey;
    border-radius: 15px;
    float: right;
    position: relative;
    right: 145px;
    top: 4px;
    z-index: 9999;
}
#check-box-btn span {
    background-color: #008aff;
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 15px;
    margin: 5px auto;
}
cq-study-dialog .ciq-select {
    min-width: 85px;
    margin-right: 15px;
}
cq-study-dialog div.stx-data input[type="number"],
cq-study-dialog div.stx-data input[type="text"] {
    width: 75px;
    height: 33px;
}
div.stx-data input[type=number]::-webkit-inner-spin-button {
    background-image: url("https://png.icons8.com/dotty/80/ffffff/sort.png");
    background-position: 10px 10px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}
cq-study-dialog div.stx-data input:invalid {
    box-shadow: none;
}
cq-study-dialog div.stx-data input[type="checkbox"] {
    margin: 3px 6px 0 0;
}
cq-study-dialog cq-study-parameters div.stx-data input[type="number"] {
    width: 45px;
    margin-right: 5px;
    float: left;
}
cq-study-dialog #parameters .outputTemplate div.ciq-heading {
    width: 120px;
}
cq-study-dialog #parameters div.stx-data {
    width: 70px;
}
cq-study-dialog #parameters input {
    float: none;
}
cq-study-dialog #parameters cq-swatch {
    float: right;
}
cq-dialog[cq-study-context] {
    padding: 0px 0px;
    min-width: auto;
}
cq-study-context {
    min-width: 130px;
    padding: 0px;
    display: block;
}
cq-study-context div {
    padding: 0px 20px;
    cursor: pointer;
    clear: both;
    line-height: 27px;
    color: #666;
}
cq-study-context div:hover {
    background: #efefef;
    color: #fff;
}
cq-study-context .ciq-btn {
    width: 65px;
}
cq-study-context .ciq-btn:first-child {
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
cq-study-context .ciq-btn:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
cq-share-button {
    float: left;
    box-sizing: border-box;
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
    color: #575757;
    position: relative;
    padding: 0 10px;
    transition: color .20s 0s;
}
cq-share-button:hover {
    color: #000;
}
cq-share-button:active {
    color: #000;
}
cq-share-button.stxMenuActive {
    color: #000;
}
.break-sm cq-share-button.stxMenuActive {
    border-bottom: solid 3px #fff;
}
cq-share-dialog {
    width: 320px;
    text-align: center;
}
.share-link-div {
    background: #f3f3f3;
    border: 1px;
    border-color: #ddd;
    border-style: solid;
    border-radius: 1px;
    box-shadow: inset 0 0 3px #cfcfcf;
    font-size: inherit;
    margin: 16px;
    padding: 10px;
    text-align: center;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.stx-marker-templates {
    position: absolute;
    bottom: 20px;
    width: 100%;
    z-index: 4;
}
.stx-marker {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: #fff;
}
.stx-marker p,
.stx-marker h4 {
    display: inline-block;
    margin: 0;
}
.stx-marker p {
    font-size: 11px;
}
.stx-marker .stx-marker-expand {
    width: 0;
    max-height: 0;
    overflow: hidden;
    z-index: 1;
}
.stx-stem {
    display: inline-block;
    height: 60px;
    left: 50%;
    border-left: 1px dotted rgba(0,0,0,0.3);
}
.stx-marker.square .stx-visual,
.stx-marker.circle .stx-visual {
    width: 25px;
    height: 25px;
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/stx-sprite-markers.svg);
}
.stx-marker.square .stx-visual:after,
.stx-marker.circle .stx-visual:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    height: 25px;
    width: 25px;
    opacity: 0;
    transition: opacity .20s 0s, border .20s 0s, width .20s 0s, height .20s 0s, top .20s 0s, left .20s 0s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.stx-marker.square .stx-visual:hover:after,
.stx-marker.circle .stx-visual:hover:after {
    height: 35px;
    width: 35px;
    top: -5px;
    left: -5px;
    opacity: .2;
    border: 1px solid #000;
}
.stx-marker.square.highlight .stx-visual:after,
.stx-marker.circle.highlight .stx-visual:after {
    height: 35px;
    width: 35px;
    top: -5px;
    left: -5px;
    opacity: .1;
    border: 5px solid #000;
}
.stx-marker.circle .stx-visual,
.stx-marker.circle .stx-visual:after {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.stx-marker.news .stx-visual {
    background-color: #C600D8;
    background-position: -50px -50px;
}
.stx-marker.earningsUp .stx-visual {
    background-color: #85c730;
    background-position: -100px -50px;
}
.stx-marker.earningsDown .stx-visual {
    background-color: #ff002a;
    background-position: -100px -50px;
}
.stx-marker.dividend .stx-visual {
    background-color: #000;
    background-position: -150px -50px;
}
.stx-marker.filing .stx-visual {
    background-color: #999;
    background-position: -200px -50px;
}
.stx-marker.split .stx-visual {
    background-color: #16b0c2;
    background-position: -250px -50px;
}
.stx-marker.square .stx-marker-expand,
.stx-marker.circle .stx-marker-expand {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    background: rgba(255,255,255,0.85);
    opacity: 0;
    transition: opacity .50s 0s;
}
.stx-marker.highlight.square .stx-marker-expand,
.stx-marker.highlight.circle .stx-marker-expand {
    width: 200px;
    max-height: 200px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.15);
    opacity: 1;
}
.stx-marker.square p,
.stx-marker.circle p {
    margin-top: 6px;
}
.stx-marker.callout .stx-visual {
    width: 200px;
}
.stx-marker.callout .stx-marker-content {
    position: relative;
    display: inline-block;
    background: rgba(255,255,255,0.65);
}
.stx-marker.highlight.callout .stx-marker-content,
.stx-marker.callout .stx-marker-content:hover {
    background: rgba(255,255,255,0.8);
}
.stx-marker.callout .stx-marker-content h4 {
    padding: 4px 10px;
}
.stx-marker.callout.highlight .stx-marker-content h4 {
    padding: 8px 10px 4px;
}
.stx-marker.callout .stx-marker-expand {
    max-height: 0;
    transition: max-height 0s 0s;
}
.stx-marker.callout.highlight .stx-marker-expand {
    width: 200px;
    max-height: 200px;
    padding: 0 10px 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: max-height .50s 0s;
}
.stx-marker.callout .stx-marker-content:after {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    content: "";
    display: block;
    opacity: .15;
    transition: opacity .20s 0s, top .20s 0s, bottom .20s 0s, left .20s 0s, right .20s 0s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
}
.stx-marker.callout.highlight .stx-marker-content:after {
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    border: 5px solid #000;
}
.stx-panel-control {
    top: 0px;
}
.cq-stable {
    transition: all 1s ease-out 0s;
}
.cq-down {
    color: #ff002a;
}
.cq-up {
    color: #85c730;
}
.stx-chart-panel.stx-show {
    display: none;
}
cq-chart-title {
    display: none;
    position: relative;
    background: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    float: none;
    margin: 10px 10px;
    color: #333;
    padding: 0 10px 0 10px;
    line-height: 22px;
    font-size: 12px;
    text-align: left;
}
cq-chart-title.stx-show {
    display: inline-block;
}
cq-chart-title cq-symbol {
    font-size: 25px;
}
cq-chart-title cq-chart-price {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    line-height: 13px;
    font-size: 11px;
    margin-left: 5px;
    font-weight: 500;
    color: #666;
    vertical-align: text-bottom;
}
cq-chart-title cq-chart-price > * {
    position: relative;
}
cq-chart-title cq-chart-price cq-change:after {
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    float: left;
}
cq-chart-title cq-chart-price.stx-up cq-change:after {
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/stx-sprite-ui.svg);
    background-position: -633px -31px;
}
cq-chart-title cq-chart-price.stx-down cq-change:after {
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/stx-sprite-ui.svg);
    background-position: -683px -31px;
}
cq-comparison {
    position: relative;
    margin: 5px 0 0 10px;
    display: none;
    z-index: 3;
    width: 200px;
}
cq-comparison[cq-show] {
    display: block;
}
.break-sm cq-comparison[cq-show] {
    display: none;
}
cq-menu.cq-comparison-new {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    transition: color .20s 0s, opacity .20s .0s;
    z-index: 1;
    height: 1px;
    margin-bottom: 13px;
}
cq-comparison-add-label {
    padding-left: 10px;
    display: inline-block;
}
cq-menu.cq-comparison-new:hover cq-comparison-add-label {
    color: #333333;
}
cq-comparison-add-label > * {
    display: inline-block;
    vertical-align: top;
}
.stxMenuActive cq-comparison-add-label {
    height: 0px;
    display: none;
}
cq-comparison-plus {
    width: 12px;
    height: 12px;
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/stx-sprite-ui.svg);
    background-position: -532px -32px;
    margin-right: 4px;
}
cq-comparison-add {
    display: block;
    position: absolute;
    top: -15px;
    white-space: nowrap;
    min-width: 210px;
    height: 36px;
    opacity: 0;
    background: #fafafa;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    transition: opacity .5s;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
cq-comparison-add .stx-btn {
    padding: 0 10px;
}
.stxMenuActive cq-comparison-add {
    opacity: 1;
}
.stxMenuActive cq-comparison-add > * {
    display: inline-block;
}
cq-comparison-add > * {
    display: none;
    vertical-align: top;
}
cq-comparison-add cq-swatch {
    margin: 8px;
}
cq-comparison-add input {
    border: none;
    height: 36px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
cq-comparison-add .stx-btn {
    transition: color .20s .2s !important;
    height: 36px !important;
    line-height: 36px !important;
    border: none !important;
    color: #666666;
}
cq-comparison-add .stx-btn:hover {
    color: #000 !important;
}
cq-comparison-add .stx-btn:active {
    color: #fff !important;
}
cq-comparison-key {
    min-width: 110px;
    display: block;
    position: relative;
}
cq-comparison-item {
    position: relative;
    display: block;
    padding-left: 10px;
    padding-right: 30px;
    font-size: 12px;
    font-weight: 700;
    height: 28px;
    line-height: 28px;
    opacity: 1;
    transition: background .20s 0s, padding .20s 0s, opacity .20s .20s, height .20s .40s, font-size .0s .40s, margin .2s .40s;
}
cq-comparison-item:hover {
    background: transparent;
    background: #fafafa;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
cq-comparison-item > * {
    margin-left: 5px;
}
cq-comparison-item[cq-error] {
    opacity: .5;
}
cq-comparison-swatch {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 12px;
    height: 12px;
    background: #DD0000;
}
cq-comparison-price {
    float: right;
    color: #8d949a;
    font-weight: 500;
}
cq-comparison-item .ciq-close {
    position: absolute;
    right: 0;
    top: 1px;
    background-position: -250px -25px;
    transition: opacity .20s .0s;
    height: 25px;
    width: 25px;
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/stx-sprite-panels.svg);
    cursor: pointer;
}
cq-comparison-item .ciq-close {
    opacity: 0;
}
cq-comparison-item:hover .ciq-close {
    opacity: .6;
}
cq-comparison-item .ciq-close:hover,
cq-comparison-item .ciq-close:active {
    opacity: 1;
}
cq-comparison-loader {
    display: none;
    position: relative;
    height: 16px;
    width: 16px;
    top: 4px;
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/loading-spin.svg);
    background-size: cover;
    z-index: 1;
}
cq-comparison-loader.stx-show {
    display: inline-block;
}
cq-attrib-container {
    position: absolute;
    background: rgba(250,250,250,0.9);
    color: rgba(0,0,0,0.4);
    left: 30px;
    bottom: 5px;
    margin: 0;
    font-size: 10px;
    padding: 0 5px;
}
cq-attrib-container cq-attrib-source,
cq-attrib-container cq-attrib-quote-type {
    padding: 2px 0;
}
cq-attrib-container cq-attrib-source a {
    color: #000;
}
cq-plus {
    width: 27px;
    height: 27px;
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/stx-sprite-panels.svg);
    background-position: -100px -25px;
    opacity: .5;
}
cq-item cq-plus {
    display: inline-block;
    float: left;
    margin-left: -8px;
}
cq-theme-dialog {
    width: 440px;
}
cq-theme-dialog cq-section {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}
cq-theme-dialog cq-section:first-of-type {
    border-right: dashed 1px rgba(0,0,0,0.5);
    padding-right: 5px;
}
cq-theme-dialog cq-section:last-of-type {
    padding-left: 5px;
    padding-right: 10px;
}
cq-theme-dialog cq-action {
    display: flex;
    justify-content: center;
    height: 30px;
    margin-top: 10px;
}
cq-theme-dialog cq-action input {
    width: 200px;
    padding-left: 10px;
}
cq-theme-dialog cq-action div.ciq-btn {
    position: absolute;
    right: 40px;
}
cq-theme-dialog cq-placeholder {
    width: 150px;
}
cq-theme-piece {
    display: block;
    float: right;
}
cq-theme-piece cq-swatch {
    margin-left: 5px;
    margin-top: 3px;
}
cq-languages > div {
    margin-left: 70px;
}
cq-language-name {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
cq-dialog cq-language-name {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    cursor: pointer;
}
cq-dialog cq-language-name:hover {
    background-color: #F0F0F0;
}
cq-flag {
    display: inline-block;
    position: relative;
    height: 14px;
    width: 22px;
    background-image: url(http://demotemplate.local/wp-content/themes/tol-parent/styles/layouts/img/languages.svg);
    background-repeat: no-repeat;
    margin-right: 6px;
    margin-top: 6px;
    margin-left: 4px;
    border: solid #ddd 1px;
}
cq-flag[cq-lang="en"] {
    background-position: -55px -30px;
}
cq-flag[cq-lang="ar"] {
    background-position: -103px -30px;
}
cq-flag[cq-lang="fr"] {
    background-position: -151px -30px;
}
cq-flag[cq-lang="de"] {
    background-position: -199px -30px;
}
cq-flag[cq-lang="hu"] {
    background-position: -247px -30px;
}
cq-flag[cq-lang="pt"] {
    background-position: -294px -30px;
}
cq-flag[cq-lang="it"] {
    background-position: -342px -30px;
}
cq-flag[cq-lang="ru"] {
    background-position: -390px -30px;
}
cq-flag[cq-lang="es"] {
    background-position: -438px -30px;
}
cq-flag[cq-lang="zh"] {
    background-position: -486px -30px;
}
cq-flag[cq-lang="ja"] {
    background-position: -534px -30px;
}
.stx_mountain_chart {
    color: rgba(0,156,255,0.01);
    background-color: rgba(0,102,255,0.5);
    border: #009cff;
    width: 2px;
}
.stx-float-price,
.stx-float-date {
    border-radius: 0;
    -webkit-border-radius: 0;
}
#crossY,
.stx_crosshair_y {
    margin-top: 0px;
}
.stx_annotation {
    background: transparent;
    border: solid #fff 1px;
}
.stx-btn-panel {
    opacity: 0;
    transition: opacity .5s;
    background-color: #fff;
}
.break-sm .stx-btn-panel {
    display: none;
}
.stx-holder:hover .stx-btn-panel {
    opacity: 1;
    transition: opacity .5s, height .3s;
}
.stx-ico-handle {
    background-color: #fff;
    opacity: 0;
}
.stx-ico-handle:hover {
    opacity: .3;
}
.stx-ico-handle.stx-grab {
    background-color: #fff;
    opacity: .3;
    height: 2px;
}
.stx_panel_drag {
    color: transparent;
}
.stx_xaxis,
.stx_yaxis,
.stx_watermark {
    font-family: 'Roboto', sans-serif;
}
.stx_line_chart,
.stx_line_up,
.stx_line_down {
    width: 2px;
}
.stx_market_session.divider {
    background-color: rgba(0,0,0,0);
    width: 1px;
}
.stx_market_session.pre {
    background-color: rgba(71,218,223,0.3);
}
.stx_market_session.post {
    background-color: rgba(21,118,135,0.3);
}
.sidenav.active {
    display: flex;
}
.sidenav {
    height: 250px;
    width: 40px;
    position: fixed;
    z-index: 2;
    right: 0;
    border-left: 1px solid #fff;
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 0;
}
.ciq-menu > span.icons-on {
    margin-top: -3px;
}
.sidenav cq-toggle.active {
    border-bottom: solid 3px #398dff;
}
.sidenav cq-tooltip {
    left: auto;
    right: 10px;
}
.break-sm .sidenav {
    top: 45px;
}
.break-sm cq-toggle.ciq-sidenav {
    display: block;
}
.break-sm ciq-sidenav {
    display: block;
}
.stx_range_slider.shading {
    background-color: rgba(128,128,128,0.3);
    border: solid 2px #0090b7;
    width: 5px;
}
.navbar-bg {
    position: fixed;
    width: 100%;
    height: 72px;
    z-index: 2;
    background: #141b28;
    background: -moz-linear-gradient(left,#141b28 37%,#1a2434 65%,#1a2434 100%);
    background: -webkit-linear-gradient(left,#141b28 37%,#1a2434 65%,#1a2434 100%);
    background: linear-gradient(to right,#141b28 37%,#1a2434 65%,#1a2434 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#141b28',endColorstr='#1a2434',GradientType=1);
}
.left-fog {
    background: -moz-linear-gradient(left,rgba(20,27,40,0.92) 21%,rgba(20,27,40,0.39) 65%,rgba(20,27,40,0.26) 76%,rgba(20,27,40,0) 98%);
    background: -webkit-linear-gradient(left,rgba(20,27,40,0.92) 21%,rgba(20,27,40,0.39) 65%,rgba(20,27,40,0.26) 76%,rgba(20,27,40,0) 98%);
    background: linear-gradient(to right,rgba(20,27,40,0.92) 21%,rgba(20,27,40,0.39) 65%,rgba(20,27,40,0.26) 76%,rgba(20,27,40,0) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb141b28',endColorstr='#00141b28',GradientType=1);
    position: absolute;
    left: 0;
    height: 100%;
    width: 250px;
    z-index: 2;
}
#infoPopUp {
    display: block;
    position: relative;
    background: #141b28;
    padding: 10px;
    border-radius: 2.0em;
    border: 1px solid #2f3e50;
    box-shadow: 1px 1px 7px 3px rgba(0,131,251,0.05);
}
#infoPopUp .info-title>span {
    color: #fff;
}
#infoPopUp .separater-line {
    background-color: #2f3e50;
    height: 1px;
    width: 170px;
    margin: 35px 0 5px 30px;
}
#infoPopUp .time-label {
    float: right;
    margin-right: 28px;
    color: grey;
    font-size: 13px;
    font-weight: 700;
}
#infoPopUp .date-label {
    margin-left: 30px;
    color: grey;
    font-size: 13px;
    font-weight: 700;
}
#infoPopUp:after {
    content: '';
    position: absolute;
    bottom: -13px;
    left: 45%;
    width: 25px;
    height: 25px;
    background-color: #141b28;
    box-shadow: 1px 1px 7px 0 rgba(0,131,251,0.06);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: solid 1px #2f3e50;
    border-right: solid 1px #2f3e50;
}
cq-dialog {
    max-height: 450px !important;
}
cq-dialog cq-scroll {
    max-height: 350px !important;
}
#study-header-legend {
    width: 250px;
}
#study-header-legend cq-item {
    margin-top: 3px;
}
.strike-line-element {
    color: #fff;
    width: auto;
    display: inline-block;
}
.strike-rate-line-Call-action,
.strike-rate-line-Call-type,
.strike-rate-line-Call-taid {
    padding: 0 5px;
    position: relative;
    bottom: 9px;
    background-color: #22b14c;
}
.strike-rate-line-Call-type,
.strike-rate-line-Call-taid {
    display: none;
    margin-left: 6px;
}
.strike-rate-line-Put-type,
.strike-rate-line-Put-taid {
    display: none;
    margin-left: 6px;
}
.strike-rate-line-Put-action,
.strike-rate-line-Put-type,
.strike-rate-line-Put-taid {
    padding: 5px;
    position: relative;
    bottom: 11px;
    background-color: #ff0011;
}
.strike-rate-line-Call-rate {
    float: right;
    position: relative;
    bottom: 10px;
    background-color: #22b14c;
    padding: 0 5px;
    right: -2px;
}
.strike-rate-line-Put-rate {
    float: right;
    position: relative;
    bottom: 10px;
    background-color: #ff0011;
    padding: 0 5px;
    right: -2px;
}
.strike-rate-line-Call-action,
.strike-rate-line-Put-action {
    margin-left: -2px;
}
.strike-rate-line-Call-type:first-letter,
.strike-rate-line-Put-type:first-letter {
    text-transform: capitalize;
}
.strike-rate-line-Call {
    position: absolute;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    height: 1px;
    width: 100%;
    border-top: solid 1px #22b14c;
}
.strike-rate-line-Put {
    position: absolute;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    height: 1px;
    width: 100%;
    border-top: solid 1px #ff0011;
}
